[2019-04-15 07:32] dharshanduck commented on #4472
@chrisr3d i think you'd be able to assist me in this?  I believe that this is related to #4378 where after stix2-1.1.2 was uninstalled, misp still thought that 1.1.2 is still installed. It could be the same case here, but the other way around

[2019-04-15 07:43] dharshanduck commented on #4407
Issue resolved with recent updates by @mokaddem

[2019-04-15 07:43] #4407 closed, assigned to nobody

[2019-04-15 07:44] rommelfs opened #4473 "Firefox, Safari: broken overlays"
Overlays broken, e.g. in 'advanced sightings' or any usage of the magnifying glass results.

[2019-04-15 08:27] chrisr3d commented on #4472
Hey, can you check if you have the directory `/var/www/MISP/venv` ?

If yes, then run the same command as you did, but using pip from the venv directory:

`sudo -H -u www-data /var/www/MISP/venv/bin/pip3 install -U .`

If no, I am really confused because at this point it is the only reason why the update could not work that I see

[2019-04-15 08:48] #4050 closed, assigned to nobody

[2019-04-15 08:48] iglocska commented on #4050
Sorry for the delay, should be fixed now!

[2019-04-15 08:50] dharshanduck commented on #4472
Well yes i have the directory, i ran the command, but to no avail.

![image](https://user-images.githubusercontent.com/9196526/56119357-91f90b80-5f9e-11e9-8d14-2f85e92b330b.png)

[2019-04-15 08:57] joemc12 opened #4474 "Best configuration with feeds and jobs"
Hi users,

I was reading the official documentation and possible issues about jobs, feeds and correlation MISP and I have the following questions:

1. Which is the best configuration to manage the feeds ? I have enabled all feeds by default, but I have read many problems with the correlation table because it grows high and fast (I have this problem now), so I thought to change feeds options as  "F

[2019-04-15 08:59] mokaddem commented on #4473
Should be fix with a94f1deea61964308c2dbeedc13dd3425b06aa2f.
Please re-open if it's not the case.

[2019-04-15 08:59] #4473 closed, assigned to mokaddem

[2019-04-15 09:07] chrisr3d commented on #4472
Ah sorry I did not explain it properly, you should launch it from `/var/www/MISP/cti-python-stix2`

I did not mention it because you were already there in your first screenshot.

So, exact same command, but from `/var/www/MISP/cti-python-stix2`, and it should be fine

[2019-04-15 09:09] MichaelHuys opened #4475 "Rest API MISP Internal Server Error"
Hello,

currently I'm testing the rest API functionallity of our MISP instance (2.4.102). When I do some tests using the builtin REST Client I'm constantly getting an Internal Server Error. When I check the logs this is reflected as below:

_2019-04-15 11:02:48 **Error: [SocketException] stream_socket_client(): SSL operation failed with code 1. OpenSSL Error messages:
error:14090086:SSL routines:s

[2019-04-15 09:14] dharshanduck commented on #4472
Awesome it works now. Thanks @chrisr3d
So to summarize for anybody experiencing this issue;
1. `cd /var/www/MISP/cti-python-stix2`
1. `sudo -H -u www-data /var/www/MISP/venv/bin/pip3 install -U .`
1. Do this if you ever get an error regarding CYBOX & STIX libraries from diagnostics

[2019-04-15 09:14] #4472 closed, assigned to nobody

[2019-04-15 10:45] ESL482 opened #4476 "Error: Plugin CakeResque could not be found."
Hi ,
I installed cake resque plugin by following https://misp.github.io/MISP/INSTALL.ubuntu1804/, i am using ubuntu 18.04 LTS
but when i am running this command  it giving me below error.
:/var/www/MISP/app$  **sudo -u www-data cp -fa ${PATH_TO_MISP}/INSTALL/setup/config.php ${PATH_TO_MISP}/app/Plugin/CakeResque/Config/config.php**
cp: cannot create regular file '/var/www/MISP/app/Plugin/CakeResqu

[2019-04-15 13:37] github-germ opened #4477 "Help with mysterious log errors"
2.4.102

We see lots of permission and other mysterious errors in log files. We followed the RH7 install instructions on https://misp.github.io/MISP/INSTALL.rhel7/ setting file `uid:gid:mode` as per:

[code]
We've checked that our running MISP instance indeed has all the settings as above.

Please let us know if any of these error signatures are related to file permissions; and in any case, what w

[2019-04-15 15:38] RichieB2B commented on #4477
If the chmod/chown you quoted do not help, try step 7.02:
[code]

[2019-04-15 16:04] github-germ commented on #4477
Really appreciate your trying to help!!

SELinux is disabled. What else might you suggest?
[code]

[2019-04-15 23:37] SteveClement commented on #4477
I am re-working the CentOS and RHEL7 install documents.

Something resets the connection between you and the redis server.
What? Good question.

So far I cannot really help. Perhaps drop into the [Support Gitter](https://gitter.im/MISP/Support).

[2019-04-15 23:43] SteveClement commented on #4476
You probably forgot to:

[code]

[2019-04-16 00:10] SteveClement commented on #4475
I suppose this is in the Web UI?

If it is, make sure your servers' CA bundle knows about your self-signed certificate.

@iglocska is there a bypass to verify the Certificate?

If it is in PyMISP, you can workaround as follows:

[code]

[2019-04-16 00:14] SteveClement commented on #4379
@ESL482 hmmm, that is very odd.

I suppose there is an issue in contacting that site.

Try a simple curl from where you want to install: **curl https://packagist.org/packages.json**

This is my output:

[code]

[2019-04-16 00:21] SteveClement commented on #4320
I cannot reproduce this.

Please check the log files:

https://www.circl.lu/doc/misp/administration/#misp-logs

Also make sure you are up to date, current MISP version: 2.4.105

[2019-04-16 01:01] jezkerwin commented on #4447
I'm going to close out this issue.
I just performed the steps in UPDATE.txt and pulled down whatever updates were available for my system (I thought I had already done this)
Restarted `httpd rh-php72-php-fpm misp-workers` and my system is now working.

Not sure what happened there.

[2019-04-16 01:01] #4447 closed, assigned to SteveClement

[2019-04-16 02:53] SteveClement commented on #4477
Just stumbled over this comment in the install docs:

[code]

[2019-04-16 06:50] ESL482 commented on #4476
Hi steve,
Thanks for the information. I did the above steps that you mentioned already after that only it showed that error.when i executed above commands it doesn't showed any error.

[2019-04-16 06:56] MichaelHuys commented on #4475
Hello Steve,

first of all thanks for the feedback!
By default our internal ROOT and Intermediate CA's are in our Servers truststore -> /etc/pki/ca-trust/extracted/java/cacerts. Or do I also need to insert the child certificate over there?

Or is MISP using a different CA bundle?

Kind regards,

Michael

[2019-04-16 07:16] iglocska commented on #4475
MISP is definitely not using the java trust stores, but rather its own. You can tell MISP to ignore the SSL validation altogether for REST queries, simply check the skip SSL validation checkbox.

![image](https://user-images.githubusercontent.com/3668672/56189458-4ee37a80-6028-11e9-9c38-147e92e1ed54.png)

[2019-04-16 08:48] liedekef commented on #4477
@SteveClement : I already did a pull request (which was accepted) to change the doc for redhat7:
https://github.com/MISP/MISP/blob/2.4/docs/INSTALL.rhel7.md

However: there's older doc present in the INSTALL dir and on https://misp.github.io/MISP/INSTALL.rhel7/ , I think those should be consolidated

[2019-04-16 09:29] ancailliau commented on #3938
No update?

[2019-04-16 09:32] ancailliau opened #4479 "RestSearch do not included extended events"
When using the search, no parameter allow to include the extended events.

For example, assume an event A that is extended with an event B. B got tagged with "veryimportantstuff". Searching for IoC tagged with "veryimportantstuff" only returns the IoC explicitely mentionned in event B, excluding all IoC from A.

[2019-04-16 12:46] iglocska opened #4481 "Add a simple button next to uuid to extend the event"
*If you would like to report a bug, please fill the template bellow*

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug, Question, Feature Request, support...
| OS version (server)       | Debian, ubuntu, CentOS, RedHat, ...
| OS version (client)       | XP, Seven, 10, Ubuntu, ...
| PHP version

[2019-04-16 13:09] github-germ commented on #4477
Really appreciate the attention this is getting!

@SteveClement: I don't see `php-redis` mentioned in https://misp.github.io/MISP/INSTALL.rhel7/

1. Which doc are you referring to?
1. Is the suggestion that we `yum install php-redis` and then what else?
1. Here's what we have related to `redis` and `php`:
[code]

[2019-04-16 14:22] liedekef commented on #4477
It is in the doc (at least in https://github.com/MISP/MISP/blob/2.4/docs/INSTALL.rhel7.md , which I advise to follow): yum install rh-redis32

[2019-04-16 14:47] github-germ commented on #4477
@liedekef: as you can see from https://github.com/MISP/MISP/issues/4477#issuecomment-483652173 above, we already have `rh-redis32-2.3-1.el7.x86_64` installed.

[2019-04-16 14:49] liedekef commented on #4477
Sorry, indeed. I talked about redhat redis, not php redis extension. See section 4.02 in the same doc for that.

[2019-04-16 15:16] timhux123 opened #4482 "STIX2 export creates empty file. Invalid value for Malware 'id': not a valid STIX identifier."
| Type of issue             | Bug
| OS version (server)       | Ubuntu 18.04
| PHP version               | 7.2.15-0ubuntu0.18.04.2
| MISP version / git hash   | v2.4.105 (a94f1deea61964308c2dbeedc13dd3425b06aa2f)

Expected behavior - Complete export of all events in STIX2 format.
Actual behavior - Empty/no STIX2 file created.
The STIX2 export works successfully if I limit the search to the last 1

[2019-04-16 15:57] gitnorty commented on #4477
I believe we have covered all the steps when we did the install originally, unless something was added later to the instructions.  We performed the original install about a year ago or more:

[root@md2nj08ta ~]# scl enable rh-php71 'pecl list'
Installed packages, channel pecl.php.net:
=========================================
Package Version State
redis   4.0.2   stable

[root@md2nj08ta ~]# grep e

[2019-04-16 16:08] liedekef commented on #4477
I just reacted to the updated doc (and to the redis remark). If you (@gitnorty ) are the same person as @github-germ and you're not using selinux: check the permissions of all files and directories. Also: the doc has changed quite a bit since the original doc was not functional at all on redhat (and php 7.1 will not be supported for long anymore according to the misp site).
Next to that: the origi

[2019-04-16 16:42] gitnorty commented on #4477
Hi liedekef; we are not the same person; but are working together.

For checking the permissions; is following section 5 of the installation doc sufficient to verify the permissions?

I'll revisit the differences between the original installation notes I have and what is present in the doc now to see what is different.

I did see that PHP 7.1 won't be supported at the end of the year; the transiti

[2019-04-16 17:59] gitnorty commented on #4477
I went through the notes we had on the installation; the only differences I see is:

1. We didn't install 'rh-php72-php-gd'
2. We didn't install 'rh-git218'
3. As my coworker mentioned; we aren't using SELinux
4. We aren't using systemctl to manage the 'workers'; I tried to enable this, but it wasn't working properly.  I was seeing issues where it wasn't stopping the workers.  Multiple iterations

[2019-04-16 18:44] eCrimeLabs opened #4483 "Pushing events between servers within the same Organisation fail"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Debian 9
| OS version (client)       | 10
| PHP version               | 7.0.33-0+deb9u3
| MISP version / git hash   | v2.4.105 (1374ddc35e18d3f2666cc5fb6c6007fd8bed47f2)
| Browser                   | Chrome

### Setup
I'm in t

[2019-04-16 20:29] jochman commented on #4402
ping. something new?

[2019-04-16 22:39] ghost opened #4485 "Create Role only to Access Management"
What should be the recommendation to a role which permissions are only to create users (Inside it's org and Org Admin for other Orgs).
This should be a case where we have a Access Management team that don't publish events.

PS: I already saw this issue here [Issue3400](https://github.com/MISP/MISP/issues/3400)

[2019-04-17 01:52] arcsector commented on #3146
This seems to be an issue inherent with the STIX validator... An issue needs to be made on their repo.

[2019-04-17 05:36] iglocska opened #4489 "Investigate: Adding objects defaults to the incorrect distribution level"
If the instance wide default distribution level is set, all API endpoints creating events/attributes/objects should adhere to it.

[2019-04-17 06:37] rommelfs opened #4490 "Attribute search result page doesn't show name of events"
Name of event should be shown as part of contextual information in the search result page.
A hover-over pop-up would be sufficient.

[2019-04-17 08:53] iglocska opened #4491 "filters / buttons not working on server edit"
# This template is meant for bug reports, if you have a feature request, please be as descriptive as possible and delete the template

*If you would like to report a bug, please fill the template bellow*

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug, Question, Feature Request, support...
| OS version

[2019-04-17 10:03] mokaddem commented on #4491
isn't it fixed on 44d2ead?

[2019-04-17 11:41] #4490 closed, assigned to mokaddem

[2019-04-17 12:36] mokaddem commented on #4490
Extended event shows the wrong ``event.info``.
Corrected in f501f92da7b9a5a0e22bb9fc400c543aa4bc8c2c

[2019-04-17 13:01] iglocska opened #4494 "Pressing tab should not unfocus currently active text field (rest body for example)"

[2019-04-17 13:09] mokaddem commented on #4449
So replacing the ``advanced sightings`` static SVG graph by a graph from a charting library?

[2019-04-17 13:16] mokaddem commented on #4494
Could be subject to discussion.
For the HTTP body, I use it to perform the query without using the mouse sometime...

[2019-04-17 13:56] rommelfs opened #4495 "module system doesn't expose attachment data (only file name)"
While accessing `q` which should contain attachment data, the enrichment module throws:
[code]

[2019-04-17 14:02] rommelfs commented on #4495
This applies to the left menu side 'Enrich Event' only.
'Query enrichment action' is not affected by this.

[2019-04-17 15:00] dharshanduck opened #4497 "ZMQ wont start due to port being used"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Ubuntu 18.04
| OS version (client)       | 10
| PHP version               | 7.2
| MISP version / git hash   | ![image](https://user-images.githubusercontent.com/9196526/56297758-87d43a00-6163-11e9-899f-1b8cd51263d0.png)
|

[2019-04-18 05:21] dharshanduck commented on #4497
I have found the issue to this problem. It could be helpful to others who might experience this if using [dynatrace monitoring](https://www.dynatrace.com/) software.

Additionally, I overlooked the /var/www/MISP/app/tmp/logs/mispzmq.error.log which has error;
[code]

The dynatrace agent uses port range 50000-50100 which is why the above error is received, your options can be either change the port

[2019-04-18 05:21] #4497 closed, assigned to nobody

[2019-04-18 08:30] SteveClement opened #4504 "Installer errors (viper)"
pyMISP tests fail
[code]

[2019-04-18 08:40] Rafiot commented on #4504
`pymisp.exceptions.PyMISPError: Unable to connect to MISP (https://localhost:8443).` <= shouldn't it be `8080`? And/Or verifycert should be False? Can you point me to the place int he install script that happen?

[2019-04-18 09:18] Rafiot opened #4505 "Add an option in the add attachment on the web interface to create an object for non-malicious files"
It is currently not possible to create objects out of attachments that aren't malware-samples (it always creates a simple attribute).

The template is updated: https://github.com/MISP/misp-objects/commit/371ffe77fb74f40d8d52e86de90c1034e0083618

Related to: https://github.com/MISP/misp-objects/issues/175 & https://github.com/MISP/misp-objects/pull/176

[2019-04-18 09:22] ancailliau opened #4506 "Server/rest returns an exception"
Using /server/rest returns an exception

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| OS version (client)       | Win 10
| PHP version               | 7.2.15-0ubuntu0.18.04.2
| MISP version / git hash   | 2.4.103 (e6e927b0da34753a4c139b8e96f806e896ee1562)
| Brow

[2019-04-18 11:25] mokaddem commented on #4354
Feel free to re-open if it's not the case.

[2019-04-18 11:25] #4354 closed, assigned to mokaddem

[2019-04-18 14:43] sim0nx commented on #1174
In case someone else lands here who uses php-fpm instead of the apache module and can't get this to work... The remote user variable is called "REDIRECT_REMOTE_USER" in that case.

var_dump finally helped to find this.

[2019-04-18 18:12] ghost opened #4507 "Can't download full list of events from CIRCL MISP events"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Red Hat 7.6
| OS version (client)       | WIndows 10
| PHP version               | 7.2.10
| MISP version / git hash   | 2.4.105
| Browser                   | Chrome

### Expected behavior

Download of CIRCL OSINT Feed

###

[2019-04-18 19:25] saeeda12 opened #4508 "MISP + TheHive Integration"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Question
| OS version (server)       | Ubuntu 18.04
| PHP version               | 7.2.15-0ubuntu0.18.04.2 (Up to date)
| MISP version / git hash   | v2.4.105 (5ead9570c63305436121f1d650aa7648db1dee61)
| Browser                   | Chrome

In trying to integrat

[2019-04-18 20:48] pettai commented on #3786
I think it's safe to close this issue now...

[2019-04-19 02:16] dharshanduck commented on #4508
Yes to both

[2019-04-19 06:37] ancailliau opened #4510 "/events/restSearch do not return tags for extended event"
When an event extends another, restSearch do not include the tags in the response.

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| OS version (client)       | Ubuntu
| PHP version               | 7.2.15-0ubuntu0.18.04.2
| MISP version / git hash   | v2.4.105 (8ff2

[2019-04-19 10:05] SteveClement commented on #4504
Yeah, didn't spot it.

Basically my logic was:

If on a VM BaseURL is https://localhost:8443 because of port forwarding.
This is obviously wrong...

So I guess I just forward that port on OS level if on a VM.

[2019-04-19 10:27] SteveClement commented on #4504
This https://github.com/MISP/MISP/pull/4511 should fix it.

[2019-04-19 10:27] #4504 closed, assigned to SteveClement

[2019-04-20 11:39] iosonogio opened #4518 "Attributes count wrong after delegation is accepted"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | ubuntu 18.04.2 (testing VM)
| OS version (client)       | Windows 7
| PHP version               |  7.2.15-0ubuntu0.18.04.2
| MISP version / git hash   | 2.4.105
| Browser                   | Chrome

### Expected behavior
Attri

[2019-04-20 11:48] iosonogio commented on #4508
You have to create a sync user in MISP and configure TheHive with MISP address and the auth key of the sync user you created in MISP.
But you do not have to create a sync server in MISP; it is TheHive that connects to MISP.

(will let more authoritative persons reply to your last questions)

[2019-04-21 10:45] eCrimeLabs opened #4519 "Galaxies/Clusters are not included in syncs"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Debian
| OS version (client)       | 10
| PHP version               | 7.3
| MISP version / git hash   | v2.4.105 (4b1733c40f66e853f821ed4f67effc37fef20f28)
| Browser                   | If applicable

### Expected behavior
Whe

[2019-04-21 14:59] adulau commented on #4519
By default, only the tag referencing the cluster value is included. Organisations having the local galaxy cluster will have all the information. So it's a feature. I'm not sure if you are reporting this behaviour or another one. Cheers

[2019-04-21 15:28] eCrimeLabs commented on #4519
What I'm experiencing is that it is not referencing it in the tag either, also the galaxy I've added was a default included one that is on "both" sides meaning on each instance.

So tags er synced, but galaxies disappears.

Attached is a sample where I've on the original one added a galaxy "attack4fraud" -> "Phishing", however when importing it this reference is gone, also I don't see it in the ex

[2019-04-22 05:10] ashim-mahara commented on #4463
Has this been fixed yet? I am facing the same problem.

[2019-04-22 11:06] sysend opened #4520 "Errors after server and MISP upgrade/update"
| Questions                 | Answers
|---------------------------|--------------------
| Type of issue                   | Bug, Question, Feature Request, support...
| OS version (server)          | Ubuntu 18.04.2 LTS
| Server version                 |  Apache/2.4.29 (Ubuntu)
| PHP version                    | PHP 7.2.15
| MISP version / git hash   | v2.4.105 (ad66dc55d23915a07265fe6b2964a624e3fe

[2019-04-22 13:32] adulau commented on #4520
Can you do a `git status` in your MISP directory?

[2019-04-22 14:33] saeeda12 commented on #4508
Thank you @iosonogio !

Yes, if anyone can provide more insight into the mapping of attributes/ observables that would be helpful!

[2019-04-22 16:09] github-germ opened #4521 "Questions re' signature whitelist"
I'm looking for insight about the behavior with signature whitelists. I understand how to add via the WebUI. A few newbie questions. Thanks!!

1. Will all methods of retrieving IOCs (e.g. WebUI search, API URLs, PyMISP) not include NIDs that match whitelisted signatures? https://github.com/MISP/MISP/issues/3772 seems to report issues with this.
2. Is this list visible through PyMISP so a custom in

[2019-04-22 18:49] neildotwilliams commented on #4067
I had to do this to get php composer.phar talking over the network:
sudo sh -c "echo 'precedence ::ffff:0:0/96 100' >> /etc/gai.conf"

[2019-04-22 22:26] ghost opened #4522 "LDAP configuration"
Hello, is there any default LDAP configuration someone can use to integrate MISP with LDAP. I’ve gone through all of the issues here related to LDAP and tried every single configuration, but none have worked. Should the changes for LDAP be made in the ssl.conf file or config.php or both?

If you have LDAP working could you please share your configuration files or a template that we can follow to h

[2019-04-23 04:38] sysend commented on #4520
Hi,
From git status i received the following:

On branch 2.4
Your branch is up-to-date with 'origin/2.4'.

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git checkout -- <file>..." to discard changes in working directory)
  (commit or discard the untracked or modified content in submodules)

        modified:   Plugin/DebugKit (modified content)

[2019-04-23 06:59] mokaddem opened #4523 "new: [satistics] Stats based on galaxy meta"
Could pivot on:
- suspected-victims
- suspected-state-sponsor
- sector

[2019-04-23 07:15] 1earch commented on #2368
Would PR #4389 help you?

[code]

[2019-04-23 08:12] adulau opened #4524 ""Sighting" on galaxy (not derived from event) - open discussion"
"Sighting" on galaxy (not derived from event) - open discussion

- Preventive measures can be "sighted" like "I know this measure is working and functional" even if I haven't used to tag any event.  Not sure if this is sighting or something else but it would be something interesting to gather the value of a specific cluster value in a galaxy.

- Attribution on threat actor like "I agree" or "I dis

[2019-04-23 09:04] rommelfs commented on #4495
The same applies if 'hover' is being used. No attachment data present.

[2019-04-23 09:25] elhoim opened #4525 "URL Attribute type validation"
I recently received a MISP event with two URL values that are considered valid as per the [URL syntax](https://en.wikipedia.org/wiki/URL) :

http://18/

Those names could be valid as local hostnames, but they would not be valid as domain names.

A suggestion that I would have is to add a validation for  the authority part of the url (the bit between :// and /) to make sure it is a valid domain nam

[2019-04-23 09:31] rommelfs opened #4526 "combined expansion module (hover + expansion) enhancement"
When creating a misp module that is a hover and expansion module at the same time, formatting of the hover output isn't possible.

It would be nice if two return values could be specified, one for hover (with formatting) and one for expansion purposes.

[2019-04-23 09:36] liedekef commented on #4477
Check that php-fpm is running with a user that can write into /var/www/MISP/app/tmp/cache/persistent/
The way your permissions are now, only user apache can write in /var/www/MISP/app/tmp/cache/persistent/ , so either run php-fpm as that user or correct the permissions.

[2019-04-23 09:50] sysend commented on #4520
following the above comment i did git commit -a and submodules version status now has been set to "OK".

But why did that happened? Can i have it configured as automated? :)

[2019-04-23 11:11] nxdamian commented on #4066
HTTPS issue is now fixed by SWIFT.
I have the script up and running with some data. I just need to feed it into MISP now.

[2019-04-23 11:56] bmagistro commented on #2368
@1earch I believe that PR came from someone else in our office and believe it does address the issue we were observing.

[2019-04-23 12:54] gitnorty commented on #4477
Hi liedekef, thank you for your response!  Can you suggest a method to verify php-fpm can write as a user to the cache directory since the users are only configured in the MISP system not on the OS?  How would I know which user's other than apache need to be able to write to the cache directory?  Also, can you please clarify what permissions need to be set?  Based on the install documentation, the

[2019-04-23 14:40] mokaddem commented on #4524
Just my opinion without further thinking...
I'm not sure MISP is the right platform to do this. A threat intelligence editor platform would better fit.

This platform could be used for example to edit/create/add the threat intelligence JSON used in MISP.
Users could also propose changes, upload new files, ask for revision or add these "sightings" and point of view about these threat intelligence b

[2019-04-23 14:57] liedekef commented on #4477
Based on your info, php-fpm is running as the apache user, so that's ok. Make sure that all parent directories of /var/www/MISP/app/tmp/cache/persistent/ are accessible too for the apache user.

[2019-04-23 15:14] seldem commented on #4437
I am at v2.4.105 and getting the same warning in error.log
trying to fetch data from Phishtank.
2019-04-23 17:11:07 Warning: Invalid argument supplied for foreach() in [/var/www/MISP/app/Model/Feed.php, line 883]

[2019-04-23 15:53] gitnorty commented on #4477
Thanks again for the feedback.

It looks like from the app directory up to the MISP directory, that they are not writeable, but are readable;

[root@md2nj08ta ~]# ls -ld /var/www/MISP/app/tmp/cache/persistent/
drwxr-x--- 2 apache apache 188 Apr 23 15:21 /var/www/MISP/app/tmp/cache/persistent/
[root@md2nj08ta ~]# ls -ld /var/www/MISP/app/tmp/cache/
drwxr-x--- 7 apache apache 4096 Apr 19 09:50 /var/

[2019-04-23 16:52] SteveClement commented on #4477
This is only needed to properly resize some screenshots as per @mokaddem changes to some screenshot-foo.

AFAIS this is only needed for LIEF.

This makes things "easier"(TM) but still, we are not using RHEL in prod, and I am only now re-testing all the RHEL/CentOS stuff, so I need more time to make it all work.

systemd units are independent of starting and stopping things in the GUI.

Gimme more

[2019-04-23 16:59] SteveClement commented on #4477
I also re-generated: https://misp.github.io/MISP/INSTALL.rhel7/
Search for: redis32
For a working redis.

[2019-04-23 18:04] gitnorty commented on #4477
Thanks for the information Steve!  I'll review the latest version of the install instructions and see if we are missing anything.

[2019-04-23 19:41] iosonogio opened #4528 "Forcing a local organization upon push to a remote instance"
Would it be possible to be able to (force) set a local organization on an event upon pushing the event to a remote instance?

The local organization to be forced (as both org and orgc) would be set in the sync server configuration.

This would allow to push local events masquerading as a "front-end" organization thus hiding any other local organizations intended for internal use only.

The effect

[2019-04-24 07:12] angarod commented on #4522
Take a look at https://github.com/MISP/MISP/issues/1620

[2019-04-24 08:12] liviuvalsan commented on #2579
On a related note, while expiration sightings can be added per organisation and attribute, I believe that the expiration date is not currently being taken currently into account for the IDS export. It would probably make sense to remove expired attributes from the export to IDS.

[2019-04-24 09:32] mokaddem commented on #2579
@liviuvalsan This feature is currently being implemented see [this comment](https://github.com/MISP/MISP/issues/4429#issuecomment-480172346).

[2019-04-24 09:32] #4418 closed, assigned to mokaddem

[2019-04-24 09:34] patriziotufarolo commented on #4528
+1, I'd like to have this feature too

[2019-04-24 14:53] joemc12 commented on #4446
I have the same problem...

Did you fix it?

[2019-04-25 03:14] dharshanduck commented on #4437
Yes this i can confirm, i have the same issue spread across a couple of feeds.

![image](https://user-images.githubusercontent.com/9196526/56707403-3e7b8000-674b-11e9-812e-889398cff0dc.png)

[code]
This happens only during a scheduled feed fetch
![image](https://user-images.githubusercontent.com/9196526/56707221-8d74e580-674a-11e9-8b1a-49a87f694d6a.png)

However, for my instance at least when its

[2019-04-25 07:35] MichaelHuys commented on #4475
Hello,

the issue is indeed only occuring using the REST client within MISP. This is because this REST client is using it's own truststore in which our Internal CA ROOT is NOT included. Checking the "Skip SSL validation" checkbox of course bypasses this issue.
When we try the REST call's through Curl or Soap Ui this is working perfectly.

Michael

[2019-04-25 07:35] #4475 closed, assigned to nobody

[2019-04-25 09:31] mokaddem commented on #4491
Push/Pull rules ``modify`` button in ``servers/edit`` work for me on 00b97458c453bc7221a60ca45cdcc92da6717f49.

[2019-04-25 09:31] #4491 closed, assigned to nobody

[2019-04-25 10:39] joemc12 commented on #4474
Someone could help me?

Thanks in advance!

[2019-04-25 14:37] dmolina213 opened #4532 "Active Directory Integration"
We are trying to integrate MISP to allow users to use their government issued PIV cards  for Active Directory integration. Right now I am being prompted to enter my PIV pin. This then leads me to the MISP authentication page instead of going directly into MISP. WHen i enter the local account in MISP(admin@admin.test) with the password  I have been used an hour ago. It denied me access. Does anybod

[2019-04-26 12:12] mahesh557 opened #4533 "Unable to pull events from remote server"
Hi,

I have configured another misp server along with the corresponding pem file.

connection test to server says
[code]
--

However when attempted to pull events, it gave below error.
can you throw some light why it failed to pull.

`Pull completed. 0 events pulled, 20 events could not be pulled, 0 proposals pulled. `

[2019-04-26 13:53] 1earch opened #4535 "Use baseurl setting in all links"
Hello,

I want to access internally to MISP and some other web services on the same domain name, for example: `mydomain.tld/misp`. To do this, I'm using a nginx reverse-proxy, set up like this:
[code]
However, this doesn't work because of:
* static links in HTML or JS content and in PHP templates
* static redirections (issue #3871)

Indeed, a lot of links don't use the `MISP.baseurl` parameter. Th

[2019-04-27 08:45] adulau commented on #4533
Before doing further test, I would strongly recommend to update your MISP instance to the latest version (it's super easy). Thanks a lot.

[2019-04-27 08:47] adulau opened #4536 "Ensuring constant color in the event graph view"
Ensuring constant color in the event graph view. When reloading the event graph, the colours of the icons are changing. It's quite confusing. Could we have some sticky colours?

[2019-04-27 17:02] Dryannykh opened #4537 "Add_attributes"
I want to add attribute of event using command: "curl --header "Authorization: key" --header "Accept: application/json" --header "Content-Type: application/json" -d "{"event_id":"1,"value":"1.2.3.4","category":"Network activity","type":"ip-dst"}" http://192.168.13.162/attributes/add/1"
In the end i get this error: ""name":"Invalid JSON input. Make sure that the JSON input is a correctly formated J

[2019-04-29 04:35] giedriusramas opened #4538 "Failed to get status of submodules"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| OS version (client)       | Windows 10
| PHP version               | 7.0.25-0ubuntu0.16.04.1
| MISP version / git hash   | 2.4.105
| Browser                   | Google chrome Version 73.0.3683.103 (Official Build) (64

[2019-04-29 04:41] debernal commented on #3831
Hi guys, is this feature being developed? I would really, really like to have it :). Thanks.

[2019-04-29 04:59] shanto12 commented on #4437
it worked for sometime after we downgraded our PHP. But when i changed the event ID of a feed to another event, it stopped working again with the same error.

Its already in that version.

[2019-04-29 08:50] mokaddem commented on #4538
Hello @giedriusramas,
Thanks for the report!
You issue should be solved. If it doesn't please re-open this issue.
Cheers

[2019-04-29 08:50] #4538 closed, assigned to nobody

[2019-04-29 09:47] ndhambi opened #4539 "Customize events notification email"
Is it possible to customize the email notification which is sent when an event is published?   I want to remove certain fields from being part of the email notification like the Tags, Related To and Distribution field.

[2019-04-29 12:49] erik6924 opened #4540 "Preserve kill chain tags when importing STIX 1 from xml"
### Environment

MISP version / git hash  = 2.4.105 / 0e4f66ee5722590d341ed2825101a11dd80e02d9

[code]

### Current behavior

1. Have a STIX 1 xml file containing a [kill chain phase reference](https://stixproject.github.io/documentation/idioms/kill-chain/)
2. Import the STIX file: Events > Import from... > STIX 1.1.1 format (lossy)
3. In the created MISP event, attributes for indicators which hav

[2019-04-29 13:24] dmolina213 opened #4542 "Interoperability with 3rd party ticketing systems"
This is not an issue but a question. Has anyone done any interoperability of MISP with 3rd party ticketing systems.

Not sure if this is the correct forum. If not, can someone provide me a link to the forum I can post questions like this.

thanks,

Doug

[2019-04-29 13:25] rommelfs commented on #4532
This might help you to pass the correct headers: https://github.com/MISP/MISP/issues/1620

[2019-04-29 13:39] tpujals commented on #2361
I was thinking about this issue too. My Urlhaus / abuse (dot) ch feed is over 300k events, and while searchable - i can't never open the event.   Is it possible to have a setting for feeds to limit them to a certain number of events? Like say 90k - 100k - 150k. That way we can enable the feeds and have the most current indicators. Another option would be to archive the feeds off into events once t

[2019-04-29 13:44] dmolina213 commented on #4532
We got it to present us with PIV authentication, but it landed us into the MISP login page and had to login using a local admin account. Is there a way to bypass MISP's  login and get us directly into MISP after successfully authentication with AD? Otherwise we would have to have users use a secondary login using a local account.

[2019-04-29 13:52] iglocska commented on #2361
Yeah indeed splitting it across several events could be interesting. I am refactoring the feed system atm, will see if there's something sane that I could do.

[2019-04-29 14:15] rommelfs commented on #4532
Have you looked into the explanation in #1620? Your PIV authentication should be able to generate a header like REMOTE_USER containing the authenticated user name. This header has to be set up in MISP.

[2019-04-29 21:46] github-germ opened #4544 "how to isolate root cause black-holed request"
2.4.102

general question to help diagnose root cause of black-holed client requests...

we see requests that are deemed black-holed in `error.log`. however, we could use some help diagnosing the root cause as the stack trace is not clear to us.

is there some documentation we can read on this, or some further debugging we can do to ind the cause and fix

thanks!!

[2019-04-30 06:28] kalyparker opened #4546 "Required flag on taxonomies"
Hello,

I added some taxonomies and force the usage of it.
When I create a new event, a message appeared when I'll try to **Publish (no email)**, which is good:
"Could not publish event - no tag for required taxonomies missing: <list taxo>"
But when I'll do the same using **Publish Event**, this alert message does not appeared and the event is published anyway.

Is it a bug or is it normal?

If it

[2019-04-30 06:31] rommelfs commented on #4542
MISP has a great API which can be used for almost all purposes. Integration with your ticketing system depends on your expectation of an integration. If your ticket system is extensible, integration shouldn't be too hard.

What we use for interaction/integration: ticket tools used for various interactions between MISP, RT and URLabuse: https://github.com/rommelfs/ticket-tools/

Takedown script (in

[2019-04-30 06:35] rommelfs commented on #4539
That's not implemented but marked as a feature request.
If you want to implement it, pull requests are welcome ;)

[2019-04-30 06:38] rommelfs commented on #4537
If you carefully analyse your string, you find out that it contains an error:
echo '{"event_id":"1,"value":"1.2.3.4","category":"Network activity","type":"ip-dst"}' | jq .
parse error: Invalid numeric literal at line 1, column 22

Close the opening quotation mark after the first '1' and you should be good.

[2019-04-30 06:38] #4537 closed, assigned to nobody

[2019-04-30 06:40] #3897 closed, assigned to mokaddem

[2019-04-30 06:51] rommelfs commented on #4522
#1620 is the best we have for now. If you would like to document, let us know.

[2019-04-30 06:51] #4522 closed, assigned to nobody

[2019-04-30 06:55] rommelfs commented on #4508
You might want to look here: https://blog.thehive-project.org/2017/06/19/thehive-cortex-and-misp-how-they-all-fit-together/

[2019-04-30 06:55] #4508 closed, assigned to nobody

[2019-04-30 07:00] rommelfs commented on #4506
Check 4. `{ "returnFormat": json, "page": 1, "limit": 1 }`.

returnFormat expects a string like "json".

[2019-04-30 07:25] rommelfs opened #4548 "'Domain restrictions' shouldn't be case sensitive"
This could be triggered when editing a user (like disabling them)

[2019-04-30 07:36] ndhambi commented on #4539
Thanks @rommelfs  for the update, Ill keep on the look out and I hope it will be implemented very soon

[2019-04-30 07:46] Dryannykh commented on #4537
Hello. Thank you for you answer!
Can you tell me can i integrate MISP with GOSINT?
--
С уважением, Юлия Дрянных вторник, 30 апреля 2019г., 13:38 +07:00 от Sascha Rommelfangen  notifications@github.com :

[2019-04-30 07:54] iglocska commented on #4546
That is definitely a bug, thanks for the heads-up!

[2019-04-30 07:57] #4546 closed, assigned to nobody

[2019-04-30 08:01] rommelfs opened #4549 "tags in event view don't show description hover"

[2019-04-30 08:39] ancailliau commented on #4506
It is just a silly mistake in the reporting. I confirm the issue on my instance, with the quotes.

Please reopen, it is NOT fixed (nor it is malformed input)

[2019-04-30 08:45] iglocska commented on #4506
I cannot reproduce this. Could you update to the latest version?

[2019-04-30 08:48] ancailliau commented on #4506
I updated to the last version. Bug is still present. It looks like the rest client on my instance is not working. I always get an error, but the returned exception is not very helpful in identifying the cause.

[2019-04-30 08:53] iglocska commented on #4506
That is weird. Is it on a VM with a forwarded port by any chance?

[2019-04-30 10:42] ancailliau commented on #4506
MISP is in a VM indeed, but the hypervisor is not NAT'ing to forward to a specific port on the VM.

[2019-04-30 12:13] xme opened #4550 "Jobs in stuck state at "33%"?"
No idea if it's a bug, an issue with the DB but for a few days all our sync jobs remain in a stuck-state... (around 33%). All workers are ok, MISP is running the latest version (106), redis is up, MySQL is up, no errors in the logs...
Any idea how to debug this?

[2019-04-30 12:25] iglocska commented on #4506
Generally what can go wrong: Your MISP cannot connect to itself via the baseurl.

First of all: Could you switch to using the full path instead of relative paths? There's a checkbox under the URL field. Please prepend the url with the baseurl that you use (so instead of /events/restSearch use http://myvm/events/restSearch). Does it work that way?

[2019-04-30 12:27] iglocska commented on #4550
Anything in your logs? Especially in worker-[current-date].log and worker-error.log

[2019-04-30 12:36] xme commented on #4550
Multiple times to kind of entries:

[code]

[2019-04-30 12:52] iglocska commented on #4550
Interesting, will look into it

[2019-04-30 13:22] rommelfs commented on #4506
Can you try with the following checkbox enabled: 'Use full path - disclose my apikey' in the REST client interface?

[2019-04-30 13:52] EdAtt opened #4569 "MISP Rest UI causing "black-holed" errors with feed/edit/<ID number> request"
When using the MISP Rest Query Builder UI, I try to simply update the enabled entry for a feed.  But when I run it, I get a "black-holed" message.  The only data in the body section is:

{
"enabled": 0
}

What is causing this and how do I address it?

[2019-04-30 14:23] SteveClement commented on #4463
I will take care of this tomorrow, sorry for the delay.

[2019-04-30 14:40] EdAtt commented on #4569
UPDATE:  I get the same error when using PyMisp:

#!/usr/bin/env python3

import urllib3
urllib3.disable_warnings(urllib3.exceptions.InsecureRequestWarning)
from pymisp import PyMISP

#USERID has role=admin
misp_key = 'AuthKey'
misp_url = 'MISP URL'

misp_verifycert = False
relative_path = 'feeds/edit/2'
body = '{"enabled": 1}'

try:
        misp = PyMISP(misp_url, misp_key, misp_verifycert)
    r

[2019-04-30 14:56] github-germ commented on #4544
this issue is a roadblock to us rolling out a new release to our production MISP host. any help on isolating root cause on black-holed requests would be greatly appreciated. thx...

[2019-04-30 14:58] EdAtt opened #4551 "MISP Rest UI causing "black-holed" errors with feed/edit/<ID number> request"
When using the MISP Rest Query Builder UI, I try to simply update the enabled entry for a feed. But when I run it, I get a "black-holed" message page. The only data in the body section is:

[code]

What is causing this and how do I address it?

Also, the same thing occurs when I run the PyMISP code below:

[code]

Output:
`ERROR: {'name': 'The request has been black-holed', 'message': 'The request

[2019-04-30 15:04] EdAtt commented on #4551
UPDATE:  BTW, here is the error log for this activity:

`==> error.log <==

2019-04-29 19:17:29 Error: [BadRequestException] The request has been black-holed Request URL: /feeds/edit/2

Stack Trace:
#0 /var/www/MISP/app/Lib/cakephp/lib/Cake/Controller/Component/SecurityComponent.php(831): AppController->blackhole('auth')

#1 /var/www/MISP/app/Lib/cakephp/lib/Cake/Controller/Component/SecurityCompo

[2019-04-30 15:12] iglocska commented on #4544
What functionality is generating the black holes?

[2019-04-30 15:20] github-germ commented on #4544
@iglocska -- thanks for getting in touch!! `/feeds/edit` ... ah, i see a colleague has posted more details on https://github.com/MISP/MISP/issues/4551

[2019-04-30 15:23] github-germ commented on #4544
the same code (python or curl) works on my MISP instance, but does not on another test instance (staging for production deployment). both are running 2.4.102, but clearly something in the config must differ. trying to isolate and fix. thx.

[2019-04-30 16:22] github-germ commented on #4544
btw, other REST requests work (i.e. no black-holed). seems to be isolated to `feeds`, e.g.
`attributes/restSearch` works fine.

[2019-04-30 16:36] github-germ commented on #4544
two additional thoughts:
1. `feeds/previewIndex/1` (with the _corrected_ `body` as below) works. so why is `feeds/edit` black-holed?
2. could this be related in any way to https://github.com/MISP/MISP/issues/4400 ? That went unchanged, but I do know with 2.4.102 we must enclose `feed` `body` requests within a `Feeds` key, e.g.

* WORKS:
[code]
* DOES NOT WORK (which is what the default template lo

[2019-04-30 17:20] github-germ commented on #4544
@iglocska ~~~ digging, dig, dug...

ok, we are on 2.4.102. this was a bug i reported and you fixed after 2.4.102 as per https://github.com/MISP/MISP/issues/4142#issuecomment-462520325

and i _forgot_ that i had patched my MISP instance with that on top of 2.4.102 (**mea culpa**), and the staging test server did not have that patch.

case closed.

**### SORRY!!!!**

[2019-04-30 17:20] #4544 closed, assigned to nobody

[2019-04-30 17:21] github-germ commented on #4551
there was fix after 2.4.102 for this. case closed. see https://github.com/MISP/MISP/issues/4544#issuecomment-488039335

[2019-04-30 18:52] #4551 closed, assigned to nobody

[2019-05-01 14:00] SteveClement commented on #4463
Found the bug.

In theory this fixes it: https://github.com/MISP/MISP/pull/4558
Now testing before closing.

[2019-05-01 14:34] SteveClement commented on #4463
The installer is working again.

Thanks for the patience.

[2019-05-01 14:34] #4463 closed, assigned to SteveClement

[2019-05-01 19:44] github-germ opened #4559 "Undefined index: Tag in [/var/www/MISP/app/Model/Event.php"
2.4.102

can you help us isolate the cause of these messages we see in `debug.log` please. thanks!

* `debug.log`
[code]
* `Event.php` around line 3481
[code]

[2019-05-02 05:20] iglocska commented on #4559
Could you update to the latest version and see if the issue persists? Debugging older versions is kind of pointless as the issue might have been resolved a while ago already.

[2019-05-02 08:47] Tomasuh opened #4560 "Unknown column 'Taxonomy.required'"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug, support
| OS version (server)       | CentOS,
| OS version (client)       | 7.6
| PHP version               | 7.1
| MISP version / git hash   | v2.4.106
| Browser                   | If applicable

After upgrading the MISP to the latest version I get this

[2019-05-02 08:58] Tomasuh commented on #4560
![table](https://user-images.githubusercontent.com/3432107/57065450-c3c1e000-6cc9-11e9-8c66-8b2c7e58e3d6.PNG)

Maybe completely unrelated :)

[2019-05-02 09:34] mokaddem commented on #4560
Hello @Tomasuh,
It seems that after the PULL, your database didn't get updated.
Could you check in your logs if anything went wrong?
You can find them in the web interface at:
``/admin/logs/index/filter:update``
or in your file system
``MISP/app/tmp/logs``

[2019-05-02 11:12] Tomasuh commented on #4560
Hello @mokaddem, thank you for looking into this!

Actually I was doing the manual update @ instructions at https://misp.github.io/MISP/UPDATE/ as I had some issues with the update through the admin panel (I discovered after that it was due to a typo in /etc/opt/rh/rh-php71/php-fpm.d/www.conf regarding the PATH variable, making git executable not to be found by MISP).

After your pointer that the

[2019-05-02 11:12] #4560 closed, assigned to nobody

[2019-05-02 11:59] rommelfs opened #4561 "Collapse related events in event view"
as example, https://misppriv.circl.lu/servers/previewEvent/22/36372 doesn't look very sane.

Many related events steal the focus on essential information. They should be collapsed when reaching a certain threshold.

[2019-05-02 12:00] dmolina213 opened #4562 "MISP Updating"
Can anyone assist me with this error: I am trying to update misp using the diagnostic page and i get this
[code]

[2019-05-02 12:06] SteveClement commented on #4562
You need to be more precise.

What Operating System are we talking about.

But I can already tell you, your machine has no access to the internetz.

[2019-05-02 12:29] dmolina213 commented on #4562
I am using RHEL7. Let me check if our boxes have access to the internet. When we  were setting it up we know we did. Otherwise we would not be able to pull down the install for MISP. But operations might have put us in a vlan  post setup that does not have access. Let me check on that.
thank you for you swift response. We are trying to deploy misp at our agency and we are learning as we go.

Doug

[2019-05-02 13:23] ghost commented on #4507
We're checking if maybe a Traffic Throttling behaviour is causing this. But I'm open to tshoot options.

[2019-05-02 13:29] adulau opened #4563 "Revise object bug"
[code]

[2019-05-02 13:44] github-germ commented on #4559
when we upgrade, we'll report back. thx.

[2019-05-02 14:13] dmolina213 commented on #4562
We have internet access (http/https) from the server. Do we need specific ports opened for updating?

[2019-05-02 14:48] adulau commented on #4563
Fixed in 9b1b5a689650b9a00683ae7ba744c724eedbe6a2

[2019-05-02 14:48] #4563 closed, assigned to mokaddem

[2019-05-02 14:55] dmolina213 opened #4564 "Configuration help"
This is not a report of an issue but rather a question. Can we get post install assistance. Is there documentation out there that describes how to configure misp post install. Specifically settings found in server settings & maintenance.

[2019-05-02 18:53] github-germ opened #4565 "potential memory issue with PyMISP tag functions"
@github-germ posted to gitter:

hi there... looking for some wisdom on how to find root cause of reported memory issues when simply a pymisp client is simply requesting `GET /tags/view/1388`

[code]
php.ini has memory_limit set to 24G, not the 16G reported in the error above (17179869184).

and, webui diagnostics seems to think memory_limit is only 16M

[code]

@iglocska replied

yeah sounds like

[2019-05-03 06:12] adulau opened #4566 "New feeds to add"
https://raw-data.gitlab.io/post/feeds/

[2019-05-03 07:32] liedekef commented on #4314
No reaction, so closing.

[2019-05-03 07:32] #4314 closed, assigned to nobody

[2019-05-03 07:32] liedekef commented on #4315
No reaction, so closing.

[2019-05-03 07:32] #4315 closed, assigned to nobody

[2019-05-03 09:01] rommelfs commented on #4562
Since this discussion is spread throughout different media (Gitter and Github issue), I add the most recent information from you here too.

Your internet access works, you have successfully installed git on the machine.
MISP still can't call `git` from the web interface.

We asked the question (on Gitter) if SELinux is enabled and blocking access to `git`.
The answer to this question is pending.

[2019-05-03 09:54] Manoubi88 opened #4567 "Add Template: Objects"
Is there a way to create templates with objects as elements? not only with: Attribute, File & Text.

[2019-05-03 11:34] cbboggs opened #4568 "Misleading Advanced Sharing Network viewer graph"
MISP Version: v2.4.106 (b613f6122c29435e28dfde79c75f6f1d18b1ef56)

The recently added Advance Sharing Network viewer graph (accessible by clicking on the sharing icon next to the distribution level in the Events view table) is a bit misleading, as when viewing an event with the distribution of "This Community Only", the graph includes "known remote orgs" that are not a part of your community but m

[2019-05-03 13:35] #4561 closed, assigned to nobody

[2019-05-03 13:35] #4568 closed, assigned to nobody

[2019-05-03 17:39] EdAtt commented on #4569
I see thazt this issue is addressed after 2.4.102.

[2019-05-03 17:39] #4569 closed, assigned to nobody

[2019-05-06 07:05] ESL482 opened #4572 "Warning: MISP is currently disabled for all users. Enable it in Server Settings (Administration -> Server Settings -> MISP tab -> live)"
Hi ,

I installed MISP on ubuntu 18.04 , all things working fine but i am getting one warning  the title one , when i tried to do that i am getting internal error.i checked many solutions but nothing works fine for me.please suggest something to solve this issue.

error logs :

2019-05-06 12:25:06 Error: [Error] Class 'ResqueStatus\ResqueStatus' not found
Request URL: /servers/serverSettings
Stack

[2019-05-06 07:37] iglocska commented on #4572
Which installation guide did you use to install MISP?

[2019-05-06 07:54] SteveClement commented on #4564
Yes, there is this documentation effort: https://www.circl.lu/doc/misp/

[2019-05-06 08:42] seldem commented on #2569
I agree on this and  I am in trouble for proxy to work inside modules. I could not find how to do it.

[2019-05-06 10:59] ESL482 commented on #4572
https://misp.github.io/MISP/INSTALL.ubuntu1804/ ... this one only

[2019-05-06 11:01] iglocska commented on #4572
Interesting. Perhaps a skipped step?

[2019-05-06 11:19] joeinfo35 commented on #4437
Hi,
I am using v2.4.105 and I have a same problem.
2019-05-06 05:59:03 Warning: array_merge(): Argument #2 is not an array in [/var                                       /www/MISP/app/Lib/cakephp/lib/Cake/Network/Http/HttpSocket.php, line 457]
2019-05-06 05:59:04 Warning: Invalid argument supplied for foreach() in [/var/ww                                       w/MISP/app/Model/Feed.php, line 883]

[2019-05-06 11:33] ESL482 commented on #4572
no..i did all the steps mentioned there some where i got error & some how i resolved & finished it . can you please help me to know what went wrong .

[2019-05-06 11:45] iglocska commented on #4572
"got error & somehow i resolved & finished it" is a bit difficult to debug without invoking some demonic powers and engaging in human sacrifices.

However, could you rerun this part?

[code]

[2019-05-06 11:50] 1earch commented on #4535
@iglocska, @SteveClement
Am I right when thinking that we can use `baseurl` for all internal links in order to make MISP available on `mydomain.tld/misp/`? Will a PR on this be accepted?

[2019-05-06 12:16] iglocska commented on #4535
"However, I find this too heavy and even stupid in a way: wouldn't it be more reliable to propose a patch to fix all links and force them to use the MISP.basurl parameter?"

That would indeed be great, not having it in the baseurl is an oversight. The easiest way would be to simply pass the baseurl to JS via the default template (/app/View/Layouts/default.ctp) , something like

[code]
should do th

[2019-05-06 12:26] SteveClement commented on #4562
Argh, ok, gimme' me some time to make a custom **test.php** to debug this *secure* RHEL/CentOS issue.

[2019-05-06 12:28] SteveClement commented on #4562
Also, please get way more acquainted with the operating of choice and their security policies and the ways how they work, we, MISP-core, are not your go-to sysadmins failing to properly install stuff...

We do NOT have a RHEL subscription, nor do we have the time to investigate random CentOS issues.

And finally, I (personally) will be angry if you did not follow the documentation properly!

[2019-05-06 13:21] #4536 closed, assigned to mokaddem

[2019-05-06 13:28] adulau opened #4573 "[API] Publish ZMQ via a list of events"
[API] Publish via ZMQ a list of events

[2019-05-06 13:39] #4481 closed, assigned to nobody

[2019-05-06 13:48] mokaddem commented on #4460
Hello @kahunakhan!
have you tried to SHIFT-reload the page? Is the problem persistent.
To answer your question, it's not possible to select the icon for a specific object. The mapping is hard-coded in the [EventGraph's Javascript](https://github.com/MISP/MISP/blob/2.4/app/webroot/js/event-graph.js#L38)  as the object template do not accept an icon field.
If you have a particular mapping you want t

[2019-05-06 16:43] keram79 opened #4574 "MISP no longer working after upgrade to 2.4.106 - Error: [PDOException] SQLSTATE[HY000]: General error: 1366 Incorrect integer value"
After upgrading to the current release, MISP no longer works. Might also be related to an upgrade to ubuntu 18.0.4, can't say due to multiple people administering the MISP box :/

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | ubuntu 18.04
| OS version (client)       | Win

[2019-05-06 18:59] github-germ opened #4575 "CISCP STIX Import failing intermittently"
Question re' STIX CISCP import. Some xml files work; others fail.

Not sure if root cause is file content, library version in MISP, or something else. All help appreciated!! Thx...

Those that fail, do not pass `best-practices` on `stix-validator` (https://github.com/STIXProject/stix-validator). Same failures on MISP 2.4.102, and 2.4.106. I did see mention in RelNotes for .105 of CISCP support. I

[2019-05-06 19:00] github-germ commented on #4575
From 2.4.102
[code]

[2019-05-06 19:01] github-germ commented on #4575
[code]

[2019-05-06 19:06] github-germ commented on #4575
From 2.4.106:
[code]

[2019-05-06 19:45] github-germ commented on #4575
FYI, I did the following as per https://github.com/MISP/MISP/issues/4378#issuecomment-480193409 and the same CISCP file fails STIX import.
[code]

[2019-05-06 23:33] SteveClement commented on #4317
This is a potential bug. Investigating on my side.

[2019-05-07 01:47] dharshanduck commented on #4317
Got it.

[2019-05-07 02:33] SteveClement commented on #4574
Thanks, will look at it straight away.

[2019-05-07 04:52] rommelfs commented on #4574
From which version did you upgrade?

[2019-05-07 04:58] SteveClement commented on #4317
Git pull and try again, this might have fixed it: https://github.com/MISP/MISP/commit/fc1f15c4c01c6a22fa589158709d09002e842542

[2019-05-07 05:06] keram79 commented on #4574
2.4.102, if I‘m not mistaken.

[2019-05-07 05:07] SteveClement commented on #4574
@keram79 can you check if the date and time of your server is correct and synced?

[2019-05-07 05:59] keram79 commented on #4574
I can confirm it is correct (UTC), NTP is configured.
We're running all components on a single box, thus different systems with different time settings should not be an issue.

[2019-05-07 06:16] keram79 commented on #4574
Hmmm..... isn't this supposed to work?
[code]

[2019-05-07 06:39] keram79 commented on #4574
Ah, the "baseurl" was missing from config.php for whatever reason, after adding it back in the ```cake admin``` doesn't throw any error any more. The above stacktrace still occurs when trying to access MISP, however.

[2019-05-07 06:59] keram79 commented on #4574
Not sure if relevant:
[code]

[2019-05-07 07:32] iglocska commented on #4574
Hmph. That is weird as hell. Could you try the following?

[code]

[2019-05-07 10:05] iglocska commented on #4574
Could you git pull and try again? Think I found it but it was a bit of a blind fix as I couldn't reproduce it ;)

[2019-05-07 11:40] keram79 commented on #4574
Pray to the god of cakephp!
Whatever you did, it fixed our issue. Git pull, and nothing else required.

[2019-05-07 12:07] iglocska commented on #4574
Awesome, cheers for the feedback B-)

[2019-05-07 12:07] #4574 closed, assigned to nobody

[2019-05-07 12:28] iglocska commented on #4437
Currently reworking the feed system completely, stay tuned!

[2019-05-07 18:12] dmolina213 opened #4582 "I am unable to enter new events."
I am unable to enter new events. When i hit submit it say internal error

*If you would like to report a bug, please fill the template bellow*

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug, Question,
| OS version (server)       | Red hat 7
| OS version (client)       |  10,
| PHP version

[2019-05-07 18:15] dmolina213 opened #4583 "Correct Settings for Server and Administration"
This not a bug but more of a question:

Can someone point me in the right direction. I am trying to setup MISP and I am at a point in the install where I am trying to complete the settings under Server and Administration. A guide into configuring the settings would definitely be helpful

thanks

Doug

*If you would like to report a bug, please fill the template bellow*

### Work environment

| Que

[2019-05-07 18:24] dmolina213 commented on #4583
Nevermind., I lost track of my issues and i believe it has already been answered

[2019-05-07 18:24] #4583 closed, assigned to nobody

[2019-05-07 18:27] dmolina213 commented on #4564
The documentation tells me where to find it. But not the recommended settings. I appreciate the help

[2019-05-08 00:15] SteveClement commented on #4574
Fixed it for me too, thanks.

[2019-05-08 01:16] dmolina213 opened #4586 "Server settings"
### Work environment

| Questions                 | Answers
| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Suppport
| OS version (server)       | Red hat 7
| OS version (client)       |  10,
| PHP version               | 5.4, 5.5, 5.6, 7.0, 7.1...
| MISP version / git hash   | 2.4.104 hash of the commit
| Browser

[2019-05-08 01:16] SteveClement commented on #4582
Dear, I think I have a similar issue.

Please do the following:

[code]

Double check if redis is running and accessible.

[2019-05-08 02:40] dharshanduck commented on #4317
i dont think it did
![image](https://user-images.githubusercontent.com/9196526/57345419-5b697780-717d-11e9-9fc5-a33f25693831.png)

ran git pull on misp-modules, ran pip install requirements from venv on that directory, and still getting the above.
![image](https://user-images.githubusercontent.com/9196526/57345494-a2f00380-717d-11e9-8667-eeac04ce92fb.png)

[2019-05-08 03:20] SteveClement commented on #4586
You need to set it to the actual binary:
[code]

[2019-05-08 09:30] #4520 closed, assigned to nobody

[2019-05-08 09:54] chrisr3d commented on #4575
Hello,

I just tried to reproduce your issue, without success, do you have any sample to share so I can reproduce it ?

Btw:
- Don't worry about cybox library versions, 2.1.0.17 is the latest released version where 2.1.0.18.dev0 has some minor updates that should not affect you. There is no big change anymore since the versions are fixed and no new feature is added to the STIX format.
- cti-python

[2019-05-08 09:58] 8ear opened #4591 "Which MISP Event or Attribute Fields are used to start an synchronisation?"
Hi to all MISP core developer,

When is an event / attribute synchronized to another internal or external MISP instance?

The reason for this question is that we noticed recently that a change in the event user mail field does not cause any synchronization.

Kind regards

[2019-05-08 11:11] rommelfs commented on #4591
Qualified for synchronisation are published events. If you change, you have to re-publish.

[2019-05-08 11:15] #4542 closed, assigned to nobody

[2019-05-08 11:42] dmolina213 commented on #4586
I tried doing that. but for some reason the value would not set.

[2019-05-08 11:50] dmolina213 commented on #4582
tail -f /var/www/MISP/app/tmp/logs/error.log
CakeEventManager::dispatch() - APP/Lib/cakephp/lib/Cake/Event/CakeEventManager.1
Model::_doSave() - APP/Lib/cakephp/lib/Cake/Model/Model.php, line 1970
Model::save() - APP/Lib/cakephp/lib/Cake/Model/Model.php, line 1760
UsersController::login() - APP/Controller/UsersController.php, line 1011
ReflectionMethod::invokeArgs() - [internal], line ??
Controlle

[2019-05-08 12:05] #4311 closed, assigned to nobody

[2019-05-08 12:43] pettai opened #4594 "RPZ action policy updates"
RPZ has been around for some time and the draft has been updated a few times.
Current Draft: https://www.ietf.org/archive/id/draft-vixie-dnsop-dns-rpz-00.txt
MISP could be updated a bit to have a better default and to be even more aligned with the  terms in the draft.

1) The default policy "DROP" is not no in line with the main goal of RPZ then enforcing a policy: To make the client stubs fail ha

[2019-05-08 12:47] SteveClement commented on #4564
As mentioned in chat:

Some configuration defaults are already in the INSTALL docs: https://misp.github.io/MISP/INSTALL.ubuntu1804/#initialize-misp-configuration-and-set-some-defaults
But admittedly there is more to tweak then that.
So far, this still needs better documentation.

[2019-05-08 13:40] anaike opened #4596 "Feed fetch job stucked at 50%"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | RedHat Enterprise Linux
| OS version (client)       | 7
| PHP version               | 7.1
| MISP version / git hash   | 2.4.101
| Browser                   | All

I enabled 5 feeds. Three of them are custom feeds (Simple C

[2019-05-08 14:03] github-germ commented on #4575
@chrisr3d -- thx for looking at this! I do not believe I am able to share CISCP content publicly. Do you have access to their files? If so, I could refer you to one of the offending files.

[2019-05-08 14:39] dmolina213 commented on #4562
Do you have that test.php script

[2019-05-08 15:01] SteveClement commented on #4562
@dmolina213 I am working on it.

I am re-doing my RHEL install and implement all the tests as I come along, but it will take me some more time :(
We had a weird bug today that munched up all my debug time.

[2019-05-08 20:15] github-germ commented on #4559
@iglocska -- test instance now on 2.4.106. issue persists (line number changed :_)
[code]

[2019-05-08 20:30] dmolina213 commented on #2488
I am having the same issue. What are the step by step instructions to fix?

I did this:
Questions | Answers
-- | --
Type of issue | Bug, Question,
OS version (server) | Red hat 7
OS version (client) | 10,
PHP version | 5.4, 5.5, 5.6, 7.0, 7.1...
MISP version / git hash | 2.4.104hash of the commit
Browser | Chrome

### Expected behavior
Workers started

### Actual behavior
Workers not started

![im

[2019-05-08 20:38] SparkyNZL commented on #2488
Essentially i found it to be redis, so check to make sure that redis is
operating correctly as your first point of call.

On Wed, 2019-05-08 at 13:30 -0700, Douglas Molina wrote:

[2019-05-08 20:48] dmolina213 commented on #2488
what do i look for in Redis? Whether if the process is running?

[2019-05-08 21:27] SparkyNZL commented on #2488
yes, you need to ensure its running and there are no errors so check
var/log for issues.

Cheer.

On Thu, May 9, 2019 at 8:48 AM Douglas Molina <notifications@github.com>
wrote:

[2019-05-08 21:40] github-germ commented on #4565
@Rafiot -- just retested this with 2.4.106 and the issue persists.

[2019-05-08 22:00] github-germ commented on #4565
possible hint... mysql `show processlist;` when nothing else appears to be active in MISP has the following. curious as to the `Creating sort index`...
[code]

and while the client is still hanging the `SELECT Tag` query completed, but that other one is still going and accruing mysql process `Time`.

[2019-05-08 22:01] saeeda12 opened #4597 "Mapping of TheHive observables to MISP attributes"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Question
| OS version (server)       | Ubuntu 18.04
| PHP version               | 7.2.17-0ubuntu0.18.04.1 (Up to date)
| MISP version / git hash   | v2.4.105 (5ead9570c63305436121f1d650aa7648db1dee61)
| Browser                   | Chrome

How exactly are MISP

[2019-05-09 03:47] SteveClement commented on #4582
Can you please try and update MISP (via the GUI) and see if it is all good now?

[2019-05-09 07:12] SteveClement opened #4599 "Catch 'git' cli not installed on diagnostics page"
If the git-cli command is not available (or for that fact, .git missing), do not show the submodule pane and disable other checks relying on git.
Just note it to the user.

[2019-05-09 07:42] iglocska opened #4601 "ATT&CK matrix - show the number of techniques per kill-chain group"
Something like this:

![image](https://user-images.githubusercontent.com/3668672/57435868-cb8c0200-723e-11e9-810a-8182adfa7a2f.png)

[2019-05-09 08:13] iglocska opened #4604 "ATT&CK pattern - give users hints / enforce tagging on an attribute level"
One of the concerns raised with ATT&CK was that due to the way a lot of users are encoding data, namely the patterns being attached to the events as opposed to the attributes, we lose some information accuracy.

Some ideas:

1. Propose to to users to rather apply the attack techniques on an attribute level as opposed to the event level when creating events

2. Perhaps have an enforcement of attack

[2019-05-09 08:46] Andy-Dove opened #4606 "ATT&CK Impact Tactic missing from matrix"
# This template is meant for bug reports, if you have a feature request, please be as descriptive as possible and delete the template

*If you would like to report a bug, please fill the template bellow*

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| OS version (

[2019-05-09 09:46] adulau commented on #4606
I tested with 4b48349e23b56ea58796f762a9031dd0b71ab7f9 (latest version of the HEAD) and I can add the cluster. Don't you have any plug-ins such as NoScript or alike?

[2019-05-09 09:56] adulau commented on #4606
Correction, I can reproduce it when opening and closing the ATT\&CK visualisation matrix before. Indeed, there is a bug.

[2019-05-09 09:57] lit0x3f commented on #3967
Hi @faustus25, we have the same issue. Have you found a solution for this?

[2019-05-09 10:20] iglocska opened #4608 "ATT&CK galaxy heatmap rework request"
It would be really cool if on the heatmap view the individual techniques would be vertically sorted based on usage. So basically most used should be on top of the column all the way down to unused ones. Perhaps even hide the unused ones.

![image](https://user-images.githubusercontent.com/3668672/57446355-c76adf00-7254-11e9-8098-11a53ea3b126.png)

[2019-05-09 11:16] Andy-Dove commented on #4606
Thanks for looking at this guys. I can confirm that I don't have NoScript or similar running and that the rest of the matrix is performing as expected.

[2019-05-09 11:25] adulau commented on #3967
@rylittlefield You should have a look at https://github.com/TheHive-Project/TheHive/issues/544#issuecomment-381074367

[2019-05-09 11:25] #3967 closed, assigned to nobody

[2019-05-09 12:00] adulau opened #4609 "ATT&CK kill-chain new entries missing from the matrix-view (exfiltration and impact) from new version of ATT&CK"
ATT&CK kill-chain new entries missing (exfiltration and impact) from new version of ATT&CK in the hardcoded JS part. Related to #4606.

[2019-05-09 12:51] dmolina213 commented on #4582
Steve, Are you pushing some updates? I will try that today. but for some reason when I get to the diagnostic page. I get an Internal Error thrown at me. This is the output of the error log:
Request URL: /servers/serverSettings/diagnostics
Stack Trace:
#0 /var/www/MISP/app/Lib/cakephp/lib/Cake/Error/ErrorHandler.php(212): ErrorHan)
#1 /var/www/MISP/app/Lib/cakephp/lib/Cake/Core/App.php(970): ErrorH

[2019-05-09 12:52] dmolina213 commented on #4582
Let me try to resolve the diagnostic page issue

[2019-05-09 13:39] adulau opened #4612 "ATT&CK statistics (time-range and organisation selection for filtering)"
"Hope that it is possible to define/set a timeframe and by organization view in the galaxy statistics" from https://twitter.com/vedd3r/status/1126478017255972865

ATT&CK statistics (time-range and organisation selection for filtering)

[2019-05-09 15:05] dmolina213 opened #4613 "I am unable to start my workers"
Type of issue | Bug, Question,
OS version (server) | Red hat 7
OS version (client) | 10,
PHP version | 5.4, 5.5, 5.6, 7.0, 7.1...
MISP version / git hash | 2.4.104hash of the commit
Browser | Chrome

Expected behavior
Workers started

Actual behavior
Workers not started

![image](https://user-images.githubusercontent.com/42444130/57464075-ad73d100-7241-11e9-8097-e819c62a6c03.png)

As instructed in

[2019-05-09 18:45] julien-merle opened #4614 "YaraExport::getPythonVersion() not defined"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Debian,
| OS version (client)       | Debian
| PHP version               | 5.4, 5.5, 5.6, 7.0, 7.1...
| MISP version / git hash   | 2.4.XX, e9bc2a40f4c2191322cce9917a34f7f2327f1f5a

### Actual behavior

[This commit](https://g

[2019-05-09 20:17] bschoenmaeckers commented on #4400
I have this issue too. The template is wrong.

[2019-05-09 20:51] Rafiot commented on #4565
I trust you, the python method does a POST, nothing else. This is definitely not a bug related to PyMISP.

@iglocska when you have a sec, this one is for you.

[2019-05-09 23:14] SteveClement commented on #4614
Can you please pull and try again?

This https://github.com/MISP/MISP/pull/4615 should have fixed it.

[2019-05-09 23:16] SteveClement commented on #4582
You can always update on the command line:

[code]

[2019-05-09 23:18] SteveClement commented on #4582
And for good measure, to make sure the database is up to date:

[code]

[2019-05-09 23:25] SteveClement commented on #4613
Well, some workers are definitely running. The GUI just does not pick up on them.

2 things, do you run the workers with systemd? Does this file exist: /etc/systemd/system/misp-workers.service

Can you try those commands:

[code]

I still need to fully revise the permissions if SELinux is enabled. This is mostly what is blocking you at the moment.

The following 2 files have more info on the worke

[2019-05-09 23:33] SteveClement commented on #4586
@dmolina213 that is interesting. Let's try doing this on the command line:

[code]

[2019-05-10 07:14] iglocska commented on #4575
No problem, if you cannot share anything there's still something we could do: Could you take a sample that fails from CISCP and replace all values with made up ones so that it still fails the same way but doesn't contain any of the original data? Then we could test it.

Without a way to test we can't really do much to help you ;)

[2019-05-10 10:22] adulau opened #4618 "Add an option to set a threshold for email notification if an event is older than a specific time-frame"
Add an option to set a threshold for email notification if an event is older than a specific time-frame.

The idea is to avoid to send email notifications if an older event get synchronised.

[2019-05-10 12:10] sebix opened #4619 "Incomplete / faulty TOR nodes list used"
Hello,

I have been made aware that MISP uses an in incomplete and wrong TOR (exit) node list.

At https://www.misp-project.org/feeds/#default-feeds-available-in-misp and in https://github.com/MISP/MISP/blob/2.4/app/files/feed-metadata/defaults.json#L189, https://github.com/MISP/MISP/blob/2.4/app/files/feed-metadata/defaults.json#L222 the list by **dan.me.uk** is used. This list is known to be wro

[2019-05-10 12:23] adulau commented on #4619
Indeed, good point. Thank you very much. There are some major changes ongoing in the feed parser to allow more flexibility.

We will add https://check.torproject.org/exit-addresses very soon as the format is not correctly parsing in free-text.

[2019-05-10 12:24] adulau commented on #4566
Already there.

[2019-05-10 12:24] #4566 closed, assigned to adulau

[2019-05-10 13:29] github-germ commented on #4575
Understood. I had tried to anonymize one failed file using QXmlEdit, but that then fails validation. However, I will attach so you can review the XML hierarchy. If you have a better method to anonymize, please let me know. Thanks!!

[Anonymized-IB-19-10045.xml.zip](https://github.com/MISP/MISP/files/3166664/Anonymized-IB-19-10045.xml.zip)

[2019-05-10 14:59] ginobyte commented on #4066
Hi, I followed the MISP-Taxi-Server  guide....but I thing that I don't have all information....
I've the TAXII request form complete from SWIFT with API_USER, API_KEY, Discovery URL, Authentication URL, Polling URL...and Collection Name...but using MISP-TAXII-Server ....pooling by command-line :
root@misp:~/.misptaxii# taxii-poll --host https://taxii.swift.com/taxii/poll --discovery https://taxii.

[2019-05-10 19:41] iglocska commented on #4618
We have that. Check your server settings.

[2019-05-11 01:27] wasserman opened #4620 "Installer on Ubuntu 18.04: sudo prompt breaks the install"
I tried to install using the curl method with options: -c -M -D.
I'm running Ubuntu 18.04 via the EC2 AMI.
When prompted to create the misp account, I agreed.
The installer later hangs at a "sudo" prompt.  I have no password set.  After failing 3 times I get an error that pointed me to this:
    https://github.com/MISP/MISP/blob/2.4/INSTALL/INSTALL.sh#L1424

Although the install continues and many

[2019-05-11 07:38] adulau commented on #4618
I know but it's either buggy or not applied on date but the timestamp ;-)

[2019-05-11 07:52] adulau commented on #1613
- Another interest would be to have a notification when a new correlation appears on an pre-selected event

[2019-05-11 07:53] adulau commented on #4594
Thanks a lot for all the contributions! We will soon name you the official RPZ maintainer for MISP. If you see something else, don't hesitate.

[2019-05-11 13:52] SteveClement commented on #4620
Spot on! I had the same issue on our automated builds.

Let me think how to mitigate this properly.

I basically do exactly what you did: https://github.com/MISP/misp-packer/blob/8c43ac0d30dd6f9af3acf78db11ecfac5af47fd6/scripts/users.sh#L9

But good catch! Thanks.

[2019-05-13 01:12] SteveClement commented on #4620
I implemented a fix. Let me know if it works for you.

[2019-05-13 01:12] #4620 closed, assigned to SteveClement

[2019-05-13 07:50] iglocska commented on #4618
Should be fixed now

[2019-05-13 07:50] #4618 closed, assigned to nobody

[2019-05-13 08:29] mokaddem commented on #4606
Hello!
The bug has been fixed in de186f93ad75d89eeb57fd72867f81c32b728899. Missing entries are delegated to issue #4609.

[2019-05-13 08:29] #4606 closed, assigned to mokaddem

[2019-05-13 08:43] Andy-Dove commented on #4606
I pulled this down this morning and the issue appears to be still there. Do I need to be pulling from somewhere other than the main repository?

[2019-05-13 09:11] mokaddem commented on #4606
From HEAD it should work (also, we just re-tagged MISP 2.4.107). Could you SHIFT-reload and try again?
If it still doesn't work, we might have solved a different bug.

[2019-05-13 09:11] mokaddem commented on #4609
Solved in MISP/galaxies

[2019-05-13 09:11] #4609 closed, assigned to mokaddem

[2019-05-13 09:29] Andy-Dove commented on #4606
Thanks Sami,

I’m pulling down with “git pull origin 2.4”. Still not seeing the impact column in the matrix and still now able to add DGA technique and so on.

Kind regards,

Andy Dove

Intrusion Analyst

Overwatch

CrowdStrike Inc.

www.crowdstrike.com

From: Sami Mokaddem <notifications@github.com>
Reply-To: MISP/MISP <reply@reply.github.com>
Date: Monday, 13 May 2019 at 10:11
To: MISP/MISP <MIS

[2019-05-13 09:39] mokaddem commented on #4606
In order to have the impact column in the matrix, you will also have to update your galaxies.

[2019-05-13 09:43] Andy-Dove commented on #4606
Thanks Sammi,

All working now.  You guys are the best.

Kind regards,

Andy Dove

Intrusion Analyst

Overwatch

CrowdStrike Inc.

www.crowdstrike.com

From: Sami Mokaddem <notifications@github.com>
Reply-To: MISP/MISP <reply@reply.github.com>
Date: Monday, 13 May 2019 at 10:39
To: MISP/MISP <MISP@noreply.github.com>
Cc: Andy Dove <andy.dove@crowdstrike.com>, Author <author@noreply.github.com>
Sub

[2019-05-13 09:45] adulau commented on #4606
Great! Thanks for the feedback and reporting.

[2019-05-13 12:43] chrisr3d commented on #4575
I managed to parse your STIX file and reproduce the issue. It ended up with an interesting case that was actually not supported, so thank you for reporting it, it should be fixed now with the latest version.
Don't hesitate to poke me again if you have anything broken.

[2019-05-13 13:34] SteveClement commented on #4317
@dharshanduck as mentioned on gitter:

try:
[code]

[2019-05-13 13:38] github-germ commented on #4575
EXCELLENT!! I just tested locally with update to the latest in 2.4 branch, and indeed the file failing with 2.4.106 is now succeeding. Thanks a ton.

My org only deploys "official" MISP releases to our Production data center. Any prediction on when 2.4.107 will be released?

[2019-05-13 13:40] SteveClement commented on #4575
@github-germ very soon(tm) ;)
I saw some tagging going on...

[2019-05-13 13:44] dharshanduck commented on #4317
Here's the output
[code]
checking the directory it is indeed missing,
[code]
however pip has it:
[code]
 what am i missing here :(

[2019-05-13 14:06] SteveClement commented on #4317
Do:

[code]

and try again.

[2019-05-13 17:05] geekscrapy commented on #3741
+1 for this request - I currently have a list of path, filename, hash and comments I would like to add as objects.

[2019-05-13 17:34] criptk commented on #2614
I have the same issue, tried doing the same thing but got the following error
Error: The requested address '/events/cleanModelCaches' was not found on this server.
When i can do that how can i be certain about the specific version to be inserted into the sql statement ?

Thanks

[2019-05-13 18:31] adulau commented on #3741
For the time being, there is a generic tool to import a list of objects (CSV) https://github.com/MISP/PyMISP/blob/master/examples/load_csv.py

[2019-05-13 18:45] jochman commented on #4402
hey, is something new?

[2019-05-13 18:53] adulau commented on #4402
Did you update your MISP to the latest version and update your session handler?

[2019-05-13 19:49] cudeso opened #4625 "misp-wipe ; starts at organizations id > 2"
Why are the 'to delete' IDs of users and organizations in tools/misp-wipe/misp-wipe.sql set to > 3 and >2?

`
DELETE FROM `users` WHERE id > 3;
DELETE FROM `organisations` WHERE id > 2;
`

Seems to work perfectly well when both set to > 1

[2019-05-13 20:52] wasserman commented on #4620
No, I get the same error.  The change allows the *misp* user to sudo with a group without a password, but I am running the script as the *ubuntu* user.  I think your staff group line (L144 and L399) could use a double sudo to not require changes to the account running the install, yet leveraging the misp account's ability to do it:
  SUDO_USER="sudo -u ${MISP_USER} sudo -H -u ${MISP_USER} -g staff

[2019-05-14 10:50] geekscrapy commented on #3925
I have this issue also - Is this a known bug, or should we update?

I'm using version 2.4.103

[2019-05-14 11:28] xme opened #4626 "Inconsistent YARA export?"
When YARA rules are exported via this HTTP request:

wget --header 'Authorization: <redacted>' --no-check-certificate -O /rules/misp.yar https://misp.<redacted>/attributes/text/download/yara

The resulting file is inconsistent:

$ yara /rules/misp.yar sample.exe
/rules/misp.yar(1): error: syntax error, unexpected '{'
/rules/misp.yar(1165): error: duplicated identifier "Linux_Httpsd_malware"
/rules

[2019-05-14 12:33] dmolina213 commented on #4564
Steve,
I am new in this board and want to understand the communication that is being sent here. Does this signify a change in MISP that we need to run an update? Are this patches that we should all run?

You can view, comment on, or merge this pull request online at:
  https://github.com/MISP/MISP/pull/4624
Commit Summary
•	chg: [conf] Added http to https redirection
•	chg: [installer] Updated ins

[2019-05-14 12:43] github-germ commented on #4575
@chrisr3d -- I just updated to 2.4.107 locally, and that same file which failed in 2.4.106, and then succeeded in the latest 2.4 branch (see above: https://github.com/MISP/MISP/issues/4575#issuecomment-491825950), is now failing.

Did your fix make it into .107?

[2019-05-14 13:50] SteveClement commented on #4564
@dmolina213 This is independent from the Core.
This just means:

The installer has been updated, so if people run the installer from that point onwards for a new install, they will get the latest installer version.

What you want to care about in terms of updates that might definitely impact your install, anything in the **app** directory.

[2019-05-14 14:19] dmolina213 commented on #4564
So watch for notifications with changes to the app directory. go ahead and update it via the diagnostic page?

[2019-05-14 14:24] SteveClement commented on #4564
I think the best would be, watch the release page: https://github.com/MISP/MISP/releases

The updates will be less frequent, but you will be sure to get a, more or less, well tested release.

But of course, if something seems to be dysfunctional in your setup you can always raise the issue and then once fixed, update to that patch-level at the time of the fix via the WebUI.

[2019-05-14 14:35] chrisr3d commented on #4575
Do you have anything in `/var/www/MISP/app/tmp/logs/exec-errors.log` ?

I pushed my changes to 2.4, so if you updated to the latest version, it should still be there, and working.

[2019-05-14 14:44] github-germ commented on #4575
Thx... Here's `exec-errors.log`

[code]

[code]

[2019-05-14 15:06] github-germ commented on #4575
[code]

I manually copied the latest from https://raw.githubusercontent.com/MISP/MISP/2.4/app/files/scripts/stix2misp.py to `/tmp/` locally and...
[code]

[2019-05-14 15:07] chrisr3d commented on #4575
Yes indeed, the function mentioned in your log file has been updated, this was the object of my fix, so if you still have the same issue with line 283, it means it is not running with the latest version

[2019-05-14 15:13] github-germ commented on #4575
Then I'd appreciate you teaching me how to properly update to the latest. Here's what I did...
[code]

[2019-05-14 15:47] saeeda12 commented on #4181
Hi @SteveClement , so I've updated my MISP instance to `v2.4.107 (2a2e7aebcd4b5150c231775ae36d775bf3489b44) `

And per the `stixtest.py`:
[code]
My libraries are up to date.

But in the Diagnostics page, it says my STIX2 version is still at 1.1.1

Trying to upload the **stix2_indicators_test.json** file in the `app/files/scripts/stixtest` directory as an imported event doesn't work still. Error sa

[2019-05-14 16:20] chrisr3d commented on #4575
Usually:
[code]

If you copied the `stix2misp.py` script directly within `/var/www/MISP/app/files/scripts`, it should fail and warn you that it would overwrite the file.

=> If `git status` does tell you

as before, it is ok

Otherwise, if it tells you there is a change on `/var/www/MISP/app/files/scripts/stix2misp.py`, do a `git stash` and then `git pull origin 2.4`.

[2019-05-14 16:43] geekscrapy commented on #3741
FYI, I started work on this and then noticed @adulau comment, but I thought I may as well finish it :'D

https://github.com/geekscrapy/misp-batchobjects

Fits my model of import well, hopefully it'll help others as well

[2019-05-14 16:45] dmolina213 commented on #4564
I am still having problems with updating on the GUI. I may have raised the issue on GITTER. I know GIT is installed. That was the way we downloaded misp and its components. But when I try to update I get this error.
Let me know if you want me to raise a separate issue for this?
Currently installed version… ()
Unable to fetch current commit id, check apache user read privilege.
Latest available ver

[2019-05-14 17:05] github-germ commented on #4575
I want the "official" .107 so I didn't use `git pull origin 2.4`, but rather followed `Option 2` https://misp.github.io/MISP/UPDATE/

And...
[code]

* What am I missing?
* Is it possible your `push` was not included in the `master` for 2.4.107?

Thx a lot for working with me on this!!

[2019-05-15 08:00] nxdamian commented on #4066
"SWIFT-ISAC"is the name of collection but it seems that you already know that.
Can you try fetching the data from "/taxi/poll" directly without discovery?

I am using Cabby with a following python script:
`content_blocks = client.poll(uri='/taxii/poll',collection_name='SWIFT-ISAC',begin_date=b_date,end_date=e_date)
        for block in content_blocks:
            print(block.content)`
This works f

[2019-05-15 11:35] chrisr3d commented on #4575
I guess it was pushed right after 2.4.107 has been tagged, indeed
So unfortunately, following the commands you have under Option 2 does not give you the fix for this script

[2019-05-15 13:06] tom564 opened #4636 "Attribute dropped due to validation"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug, Question, Feature Request, support...
| OS version (server)        ubuntu,
| OS version (client)       |  Ubuntu, 18.04
| PHP version               | 7.2
| MISP version / git hash   | v2.4.107 (95682cf753ded94aa55e1932a237285994d1cf2f)
| Browser

[2019-05-15 13:27] hattek opened #4637 "Does not match the installer sum"
Something happened to the installer?

Tried to run on a newly installed Ubuntu 18.04 server:

curl -fsSL https://raw.githubusercontent.com/MISP/MISP/2.4/INSTALL/INSTALL.sh | bash -s

Next step: Checking if we are run as the installer template
Next step: Checking if we are uptodate and checksums match
shasum: bash:
sha1: db6d3e754a83f26c5dcfde255506b02b5514c7e3 does not match the installer sum of:

[2019-05-15 16:13] Jtrombley-cr commented on #4637
Same issue here. It's the same hash I see in https://github.com/MISP/MISP/blob/2.4/INSTALL/INSTALL.sh.sha1

[2019-05-15 18:39] iglocska commented on #4636
"ip" is definitely not a valid attribute type, it should be "ip-src" or "ip-dst". Will try to ping inThreat to fix their generators.

[2019-05-15 22:15] stricaud opened #4640 "Internal Error fetching events with large amount of attributes"
I have an event, with ID 1697 which contains 314852 attributes, when I get this event, it returns an internal error.

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 16.04.6 LTS
| OS version (client)       | Debian buster/sid
| PHP version               | 7.0+49
| MI

[2019-05-16 01:18] pbartruff opened #4641 "Bro Exporter produces superfluous header artifacts"
Folks,
The Bro Exporter seems to be producing header artifacts:

It appears this was mentioned/fixed, yet reverted in another fix noted in the following issue:
#4050

*If you would like to report a bug, please fill the template bellow*

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (serve

[2019-05-16 05:27] dharshanduck commented on #4317
So while uninstalling i found this
[code]

notice `/var/www/MISP/venv/lib/python3.6/site-packages/var/www/MISP/venv/lib/libyara.so` i dont think thats supposed to be there, but i uninstalled anyway and then reinstalled from the requirements file using pip from the venv

importing yara into python cli works
[code]
how ever i still get this error from attempting to query an enrichment for hash value

[2019-05-16 06:09] young2112129 commented on #3344
I also have this problem.
How to modify proxy config to fix this problem?

[2019-05-16 07:58] mik5z opened #4643 "Invalid plyara version / plyara not installed."
With the new update, it requested me to install plyara. After doing so, it still keeps notifying that it's not installed.

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 18.04
| OS version (client)       | Windows
| PHP version               | 7.2
| MISP version / g

[2019-05-16 08:27] iglocska commented on #4640
That is indeed massive. I'll keep this in mind, we need to refactor a few things to avoid having stupidly high memory requirements for massive events.

[2019-05-16 08:28] iglocska commented on #4640
As a temporary fix, raise your memory limit in php.ini from 512MB to something higher (we use 1536 IIRC internally)

[2019-05-16 09:12] rohit725 commented on #4084
I followed the instructions as on [installation guide](https://misp.github.io/MISP/INSTALL.rhel7/) but `misp-module.service` is not working.

● misp-modules.service - MISP modules
   Loaded: loaded (/etc/systemd/system/misp-modules.service; enabled; vendor preset: disabled)
   Active: activating (auto-restart) (Result: exit-code) since Thu 2019-05-16 14:20:37 IST; 4s ago
  Process: 6419 ExecStart=

[2019-05-16 12:50] adulau commented on #4643
pip needs to be run in the venv of MISP. Could you install it in the venv?

[2019-05-16 13:18] mik5z commented on #4643
That's what I did. I went to /var/www/MISP/venv/bin and ran the command pip3 install plyara. When doing so, it actually installs it in another directory, and not in the venv folder. It states the following:

Requirement already satisfied: plyara in /usr/local/lib/python3.6/dist-packages (2.0.2)
Requirement already satisfied: ply>=3.11 in /usr/local/lib/python3.6/dist-packages (from plyara) (3.11)

[2019-05-16 14:34] SteveClement commented on #4643
Please run:

[code]

[2019-05-16 14:35] SteveClement commented on #4643
In that case you might be doing it wrong.

This is the correct output:

[code]

[2019-05-16 17:34] stricaud commented on #4640
thanks, I did this to 2048MB, but for some large events it still brings the issue.

[2019-05-17 05:30] #4643 closed, assigned to nobody

[2019-05-17 05:32] SteveClement commented on #4637
The issue is with the pipe.

I changed the documentation and the installer shoudl henceforth be run like this:

[code]

[2019-05-17 05:32] #4637 closed, assigned to SteveClement

[2019-05-17 05:43] SteveClement commented on #4317
This is end-of-the-line for me. I do not know what else to check.

/cc @chrisr3d @adulau @iglocska

[2019-05-17 05:44] SteveClement commented on #4564
I suppose you use RedHat or CentOS?

[2019-05-17 05:44] SteveClement commented on #4564
This in essence means the command git is not found.

[2019-05-17 05:47] SteveClement commented on #4625
Good question, maybe @iglocska knows.

[2019-05-17 05:47] #4582 closed, assigned to nobody

[2019-05-17 05:47] #4586 closed, assigned to nobody

[2019-05-17 05:48] #4613 closed, assigned to nobody

[2019-05-17 05:48] #4614 closed, assigned to SteveClement

[2019-05-17 05:48] #3362 closed, assigned to SteveClement

[2019-05-17 05:49] #3363 closed, assigned to SteveClement

[2019-05-17 05:50] #4477 closed, assigned to SteveClement

[2019-05-17 05:51] #4428 closed, assigned to SteveClement

[2019-05-17 05:52] #2611 closed, assigned to SteveClement

[2019-05-17 05:53] #3454 closed, assigned to SteveClement

[2019-05-17 05:56] SteveClement commented on #4298
This was an issue with how to run the installer, fixed in documentation.

[2019-05-17 05:56] #4298 closed, assigned to SteveClement

[2019-05-17 05:56] #3319 closed, assigned to SteveClement

[2019-05-17 06:01] #3496 closed, assigned to SteveClement

[2019-05-17 06:02] #3198 closed, assigned to SteveClement

[2019-05-17 06:03] #3422 closed, assigned to SteveClement

[2019-05-17 06:10] #2383 closed, assigned to nobody

[2019-05-17 06:11] #2492 closed, assigned to nobody

[2019-05-17 06:11] #2333 closed, assigned to nobody

[2019-05-17 06:12] #1997 closed, assigned to nobody

[2019-05-17 06:12] SteveClement commented on #2334
fixed in latest documentation

[2019-05-17 06:12] #2334 closed, assigned to nobody

[2019-05-17 06:12] #3485 closed, assigned to nobody

[2019-05-17 06:13] #3599 closed, assigned to SteveClement

[2019-05-17 06:17] SteveClement commented on #3226
Please join gitter.im/MISP/Support for more help.

[2019-05-17 06:17] #3226 closed, assigned to nobody

[2019-05-17 06:19] #1810 closed, assigned to SteveClement

[2019-05-17 06:19] #2724 closed, assigned to SteveClement

[2019-05-17 06:20] #4375 closed, assigned to nobody

[2019-05-17 06:21] SteveClement commented on #3532
This is probably because cake was not installed correctly.

[2019-05-17 06:21] #3532 closed, assigned to SteveClement

[2019-05-17 06:21] #3545 closed, assigned to SteveClement

[2019-05-17 06:54] adulau opened #4645 "Potential missing categories and types (via LEA)"
Potential missing types (via LEA)

 - email address as pivot
 - ssh keys pivot
 - bash history pivot

[2019-05-17 07:23] chrisr3d commented on #4317
@dharshanduck just to be sure, did you restart your misp-modules ?

I had some issues with yara as well a couple of weeks ago, so I removed `yara` from the list of libraries installed. What @SteveClement did with `uninstall yara` to keep only `yara-python` is supposed to fix the import issue, and if you have no issue anymore using python or ipython and executing `import yara`, I don't see what els

[2019-05-17 07:32] iglocska commented on #4625
1 will work fine. 0 should work too (it recreates the default org+user on the first login)

[2019-05-17 08:11] adulau opened #4646 "Audit logging for access to data (especially specific personal data)"
Audit logging for access to data (especially specific personal data) on UI and API level

[2019-05-17 08:16] iglocska commented on #4646
How would we decide what would constitute as personal data?

[2019-05-17 09:01] adulau commented on #4646
From the notice list?

[2019-05-17 09:57] adulau commented on #4646
Thanks @iglocska (and thanks for the law enforcement agencies feedback for the idea during the enforce training) e89b4525ad2cfefc4a3a7fd90a9ea8ec1c9b9ee0

[2019-05-17 09:57] #4646 closed, assigned to nobody

[2019-05-17 13:42] SteveClement commented on #4625
@cudeso feel free to send a PR with a default value that makes sense for the larger community.

Thanks for the contribution.

[2019-05-17 13:42] #4625 closed, assigned to nobody

[2019-05-17 15:39] dmolina213 commented on #4564
We are using RHEL7.
Is  there a conf file we need to configure the path to inorder for the web gui to locate the git command?

[2019-05-17 16:03] saeeda12 opened #4650 "New Password Policy?"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support...
| OS version (server)       | Ubuntu
| OS version (client)       | Win8
| PHP version               | 7.2.17-0ubuntu0.18.04.1 (Up to date)
| MISP version / git hash   | v2.4.107 (6f1f428d13927633bc32e18cd1a459c8807a1def)
| Browser

[2019-05-17 16:11] saeeda12 commented on #4650
I had to update my password manually:

[code]

[2019-05-17 16:13] saeeda12 commented on #2842
Is this still an ongoing issue? I'm on v2.4.107 (6f1f428d13927633bc32e18cd1a459c8807a1def) and just got that error as well after deleting an event.

[2019-05-17 16:18] #4650 closed, assigned to nobody

[2019-05-17 16:19] saeeda12 commented on #2732
Is this still an ongoing issue? I'm on v2.4.107 (6f1f428) and just got that error as well after deleting an event.

What file(s) should I be looking for to delete from the `/app/files/` directory?

[2019-05-17 19:24] masoudqashqai opened #4651 "Problem synching MISP and TheHive"
when i'm trying to sync misp with TheHive i get GENERAL SSLENGINE PROBLEM, i followed @To-om comment on issue #544 and relized my server does not have a domain or Common name and im getting below error

[code]

My Question is Do i need a domain name for my server to get rid of this problem ?

[2019-05-18 13:30] dharshanduck commented on #4317
Hey guys so the yara enrichment query works, after upgrading to the latest commit of misp, and redoing everything suggested by @SteveClement Thanks for the help yall :D

Now there seems to be problem with yara export, but im currently outstation, Maybe ill open a new issue, not before getting ideas from the gitter though

[2019-05-18 13:30] #4317 closed, assigned to nobody

[2019-05-19 15:46] adulau opened #4652 "Ability to have negative filter when searching audit logs"
Ability to have negative filter when searching audit logs

[2019-05-20 02:06] young2112129 opened #4653 "MISP Proxy doesn't work"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | ubuntu
| OS version (client)       | Win10
| PHP version               | 7.2.17
| MISP version / git hash   | 2.4.107 (8a51109e2b2ad8bf372c34145d07571393a9bac7)
| Browser                   | Chrome

### Expected behavior
Inter

[2019-05-20 09:24] cudor opened #4654 "Import of new taxonomies"
When new taxonomies are added to https://github.com/MISP/misp-taxonomies, is a MISP instance able to detect them and is there a mechanism to import them into a MISP instance (either all new taxonomies or only selected ones that are wanted/needed)?

[2019-05-20 09:49] SteveClement commented on #4654
No, you have to click on update taxonomies, OR update the submodule in diagnostics.
OR on the CLI:

  $SUDO_WWW $RUN_PHP -- $CAKE Admin updateTaxonomies

You can then script around that.

[2019-05-20 09:49] #4654 closed, assigned to nobody

[2019-05-20 09:51] SteveClement commented on #4653
Please try your proxy settings on the command line first to make sure your proxy works.
Also, please include the proxy settings here, you can obfuscate the details..

[2019-05-20 09:53] SteveClement commented on #4564
No, I cannot help more in this issue. If @rommelfs or @iglocska or some other RHEL familiar folks want to help out, please feel free.

I also know there are some people in Gitter who use RHEL.

Sorry, I cannot be of more help.

[2019-05-20 10:06] sebix opened #4655 "Suricata, snort and text event download: content type is json"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | no idea
| OS version (client)       | irrelevant
| PHP version               | no idea
| MISP version / git hash   | 2.4.107
| Browser                   | Firefox

### Expected behavior
a text-content type or something more sp

[2019-05-20 10:10] mokaddem opened #4656 "Adding sightings in the extended event view redirects to the atomic view"
Adding sightings on extended event view redirect to atomic view

[2019-05-20 12:41] dmolina213 commented on #4564
thank you for all your patience and assistance steve.

[2019-05-20 13:14] mokaddem opened #4657 "Show how the remote feed is included in the local instance"
Show how the remote feed is included in the local instance in the user interface. Should be rather straightforward...

[2019-05-20 13:46] rommelfs commented on #4655
Thanks, confirmed with Firefox.

[2019-05-20 20:06] reynas opened #4658 "MissingTableException/ pdo exception sqlstate unknown column after update"
After updating 2.4.69 (not sure about the version before the update to 2.4.107)
I have the following errors when I go to an event or the "server settings & maintenance"

I tried updating via the webgui, but had several errors and thus tried the manual way.

*If you would like to report a bug, please fill the template bellow*

### Work environment

| Questions                 | Answers
|-----------

[2019-05-20 21:41] dmolina213 opened #4659 "Workers issue"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | RHEL7
| PHP version               | 5.4,
| MISP version / git hash   | v2.4.107, hash of the commit
| Browser                   | If applicable

### Expected behavior
I tried to publish an event. But I guess this would can

[2019-05-21 02:09] young2112129 commented on #4653
@SteveClement Thank you for your reply.
I have add the proxy settings to /etc/profile and use wget to try it. The result is it works.
I also use tcpdump to capture the packets and there's no packets been sent to proxy server that I set.
All the packets were sent to the feeds server directly.
It seems like that the proxy setting didn't works.

Should I modify some other configurations?
Is there any

[2019-05-21 06:41] SteveClement commented on #4653
Ok, thanks that is all we needed to see, I have a very limited setup at the moment and no means to test for proxy issues.
Perhaps @adulau or @iglocska @rommelfs have a better way to test proxy.

If you have not done so already, please also check the gitter chat, there are people who also use proxies in production.

[2019-05-21 06:50] SteveClement commented on #4659
Dear

Are your workers running?

Also, if you really use php 5.4 I cannot do any further support because all the tests I run are on currently supported php versions.
Maybe @iglocska has a setup or perhaps @rommelfs

[2019-05-21 07:09] SteveClement commented on #4658
This is a tricky one. @iglocska do you have a 2.4.6x setup handy to reproduce?

Latest I had was 2.4.70 and it was ok.

[2019-05-21 07:11] SteveClement opened #4660 "[master] MISP Installer"
- [ ] Add a development option to install a tagged version of MISP, or a specific branch/repo.

e.g:
[code]

- [ ] Finish: preliminary checks

- [ ] Make options "upgrade/fix" aware. No matter what, the installer needs to be re-runnable with detailed info on status, eventually this wants to resume/fix installations.

- [ ] Make Installer Proxy aware via configurable

- [ ] Split local configuratio

[2019-05-21 07:12] #2003 closed, assigned to nobody

[2019-05-21 07:45] reynas commented on #4658
I'm not entirely sure about the previous version, can I check this somewhere, somehow?

[2019-05-21 13:03] dmolina213 commented on #1088
I am having the same issue. I am running misp on rhel7 and my version is 2.4.104. when is start the workers i get
ash-4.2$  /var/www/MISP/app/Console/worker/start.sh
Stopping workers
Stopping 2264 ... Done
Stopping 2313 ... Done
Stopping 2289 ... Done
Stopping 2240 ... Done

Creating workers
Starting worker ... Done

Creating workers
Starting worker ... Done

Creating workers
Starting worker ... D

[2019-05-21 19:01] jdeluzio commented on #4641
I'm definitely seeing the same issue.

[2019-05-22 01:53] young2112129 commented on #4653
@SteveClement Is there any further information? or who else should I asked for help?

[2019-05-22 03:59] SteveClement commented on #4653
@young2112129 I mentioned some people in my reply.

you can try the gitter support: https://gitter.im/MISP/Support

I have not further information.

[2019-05-22 05:58] rommelfs commented on #4653
Tested on 2.4.107, proxy is respected.

In your case I see you entered a schema into the host field. That's not correct.
Only the host is supposed to be in the host field.

I'm closing this issue. Feel free to re-open it if this is not the cause of your trouble.

[2019-05-22 05:58] #4653 closed, assigned to nobody

[2019-05-22 06:13] SteveClement commented on #4653
This is a bug then. The input field should check for erroneous entries.

[2019-05-22 06:14] SteveClement opened #4662 "Warn the user when a wrong proxy address has been entered."
Please see: https://github.com/MISP/MISP/issues/4653

If you add a URI, tell the user that this is wrong (or sanitize pro grammatically)

[2019-05-22 07:54] garanews opened #4663 "FR: "update all" button"
What do you think to have a single button to update everything from UI?
Currently people after update with git have to login and navigate UI through different pages in order to update:
object templates
list warninglist
list noticelist
list galaxies
list taxonomies
(and maybe other)

Sometimes something is forgotten, expecially when need to update multiple MISP instances.
Any thought?

[2019-05-22 08:33] rommelfs commented on #4564
This turns into a duplicate of #4562. I'm closing this one here.

[2019-05-22 08:33] #4564 closed, assigned to nobody

[2019-05-22 09:48] dr0t opened #4664 "Make MISP events "notarized""
As a result of an ongoing investigation we have been requested to provide "scanned and furnished documents" that are "notarized" indicating specifically the Threats.

What mechanisms can be integrated in MISP so the event is signed and stamp sealed?

Including a new attribute type "stamp needed" and  setting this value to false by default?
Do you know of any personal that can notarized the events

[2019-05-22 09:56] rommelfs commented on #4664
There is a project in initial state to deal with this, means the feasibility has been demonstrated by a first prototype.
However, this is not a small change, and to allocate resources for the development, we are looking for funding.

If you would like to discuss opportunities with us, please contact us at info@circl.lu

[2019-05-22 11:40] adulau commented on #4655
Fixed in 0fd8cee84751f8e83bd6f24e930f39a116b07804 Thank you for reporting.

[2019-05-22 11:40] #4655 closed, assigned to nobody

[2019-05-22 13:00] Tomasuh commented on #4658
We tried to update today from v2.4.86 to 2.4.107 and observed similar issues, when we open an event we get the following error:
2019-05-22 14:49:10 Error: [PDOException] SQLSTATE[42S22]: Column not found: 1054 Unknown column 'Event.extends_uuid' in 'field list'
Request URL: /events/view/47576
Stack Trace:
#0 /var/www/MISP/app/Lib/cakephp/lib/Cake/Model/Datasource/DboSource.php(502): PDOStatement->

[2019-05-22 13:58] rommelfs opened #4665 "feed generator doesn't include disable_correlation field"
Example:
Event 5ccadba6-6454-41dc-9a92-4fce950d210f contains no correlation on VT detection ratio.
However, in the OSINT export at https://www.circl.lu/doc/misp/feed-osint/5ccadba6-6454-41dc-9a92-4fce950d210f.json the disable_correlation field is not present.

[2019-05-22 16:17] SteveClement commented on #3847
Reading the code hints at what you are mentioning.
As far as I see there is no way to have this more fine-grained.

[2019-05-22 16:19] SteveClement commented on #3838
Is this still an issue?

[2019-05-22 16:24] SteveClement commented on #3833
Not sure but I though some XML parts were deprecated. @iglocska ?

[2019-05-22 16:36] SteveClement commented on #3774
@iglocska is this fixed?

[2019-05-22 16:37] #3738 closed, assigned to nobody

[2019-05-22 16:42] eCrimeLabs commented on #3838
Last I check in it was still an issue for vulnerabilities, however I believe this might be a feature request that allows to set the IDS flag on feeds with attributes of data types that does not have IDS flag set as default.

Let me know if it does not make sense :)

[2019-05-22 16:44] eCrimeLabs commented on #3838
a thought could be that there was a flag "Mark for IDS", that would then flip this on all data from the feed

[2019-05-23 01:44] young2112129 commented on #4653
@rommelfs Thank you very much! Now it works.
I have one more question.
When I fetched feeds, there some "publish_alert_email " jobs like below:
![111](https://user-images.githubusercontent.com/50349709/58219907-30ffe880-7d3f-11e9-8db8-6aaa59b7cc13.png)
What does these jobs means?

[2019-05-23 01:47] young2112129 commented on #4507
@hackunagi have you fix this problem?
I also have the same problem, when I download CIRCL OSINT Feed, only a few(less than 10) events was downloaded.
I only set the proxy in Administration ->Server Settings & Maintenance ->Proxy settings
![222](https://user-images.githubusercontent.com/50349709/58220331-0dd63880-7d41-11e9-8173-d491a664917d.png)

Any suggestion? Thanks.

[2019-05-23 04:40] SteveClement commented on #4535
This will be solved as soon as the PR is reviewed and merged.

[2019-05-23 04:42] SteveClement commented on #3871
This might be solved with the following config parameter:

MISP.external_baseurl
"The base url of the application (in the format https://www.mymispinstance.com) as visible externally/by other MISPs. MISP will encode this URL in sharing groups when including itself. If this value is not set, the baseurl is used as a fallback."

[2019-05-23 05:46] SteveClement commented on #3899
Is this still relevant?

[2019-05-23 05:49] iglocska commented on #4665
Resolved in PyMISP

[2019-05-23 05:49] #4665 closed, assigned to nobody

[2019-05-23 05:49] SteveClement commented on #3911
Well, ignore the warnings, it looks like the install actually worked.

Re-open if more issues arise.

[2019-05-23 05:49] #3911 closed, assigned to nobody

[2019-05-23 05:49] #3916 closed, assigned to nobody

[2019-05-23 05:53] SteveClement commented on #3934
Did you do the PR?

[2019-05-23 05:54] SteveClement commented on #3938
Is this still an issue?

[2019-05-23 05:57] SteveClement commented on #2683
Is this still an issue?

Perhaps this wants some attention as more and more 3rd party auth is used?

/cc @iglocska

[2019-05-23 05:57] SteveClement commented on #3963
Is this still an issue?

Perhaps this wants some attention as more and more 3rd party auth is used?

/cc @iglocska

[2019-05-23 05:59] SteveClement commented on #3993
duplicate

[2019-05-23 05:59] #3993 closed, assigned to nobody

[2019-05-23 06:02] SteveClement commented on #4031
@fregio is this still an issue?

[2019-05-23 06:03] SteveClement commented on #4088
Is this still an issue?

[2019-05-23 06:07] SteveClement commented on #4432
This has been fixed in the latest installer.

[2019-05-23 06:07] #4432 closed, assigned to nobody

[2019-05-23 06:08] SteveClement commented on #4404
I will add a feature to the installer main issue.

[2019-05-23 06:08] #4404 closed, assigned to nobody

[2019-05-23 06:10] SteveClement commented on #4460
Is this still an issue?

I saw @mokaddem commiting some glyphs?

[2019-05-23 06:12] cudeso commented on #3993
PoC solution (via cronjob) via PyMISP for VMRay https://github.com/MISP/PyMISP/pull/389

[2019-05-23 06:12] SteveClement commented on #4575
Either patch it manually, or just update to the exact commit where this has been fixed.

[2019-05-23 06:12] #4575 closed, assigned to chrisr3d

[2019-05-23 06:15] SteveClement commented on #4572
Is this still an issue.

[2019-05-23 06:16] rommelfs commented on #4653
This is a totally unrelated question.
I answer it here anyways.

If a new event is published on your MISP instance and mail notifications are enabled, MISP sends notifications to the users who have email notification enabled.
There is a worker handling this, and you'll see jobs in the job list.

Is that not described in the manual?

[2019-05-23 07:11] rommelfs opened #4667 "make /attributes/search object relation aware"
object relation can not be selected/searched from the search

[2019-05-23 07:29] chrisr3d commented on #4540
Do you have any sample to provide so I can reproduce the case and see where something is missing ?

[2019-05-23 07:48] mokaddem commented on #4460
@SteveClement Oh right, It should be solved by now!

[2019-05-23 07:48] #4460 closed, assigned to mokaddem

[2019-05-23 07:55] mokaddem commented on #4663
It is there already! If you go to ``/servers/serverSettings/diagnostics``, you have a new table named ``Submodules version`` where you can pull all submodules and then do the update.

![image](https://user-images.githubusercontent.com/6977223/58235326-e1bab780-7d40-11e9-841f-1701f590599d.png)

Cheers!

[2019-05-23 08:23] rommelfs commented on #4663
That's only one part of the story.
You still have to go through all pages and update the lists (like Galaxies -> Update Galaxies) to make the update effective. So this should remain a feature request and open.

[2019-05-23 09:13] garanews commented on #4663
Thanks :)

[2019-05-23 09:25] SteveClement commented on #4663
Well, I think this is more of a design question.
With a highly modular software, what update pattern do you want to use?

A "one-button" updates all? (Which in the current condition of said software will 85% of the time break things)

Or a more sequential, multi-step approach.
Where the user-burden is, perhaps, a little higher, but at least you have intermediate steps to debug whatever goes wrong.

[2019-05-23 09:46] adulau commented on #4664
During the meeting at TF-CSIRT, the use-case was mentioned. Looking at it, it seems very similar to some ongoing requests from various users of MISP regarding the advanced digital signature in MISP.

[2019-05-23 09:47] SteveClement commented on #4658
@iglocska this might be an important and "universal" one. Could you please check. I cannot reproduce it on my random setups (with NO data)

[2019-05-23 09:53] SteveClement commented on #4664
Well, not trying to sound like the devil, but a cryptographically signed ledger might do the trick.

But, I guess, having the certainty of a completed Event is of utmost importance.

Pushing every "completed" (analogue to published?) event to a ledger (*cough*
 blockchain) would be what you are looking for.

In the end this is one of the very practical use-cases the Blockchain is for.

[2019-05-23 12:18] ndhambi opened #4668 "MISP email user agent"
Which email agent does MISP use? sendmail, mailx or mail?

[2019-05-23 12:47] Vesiix commented on #4088
Yes, resolved in v2.4.106/107. Thanks!

[2019-05-23 12:47] #4088 closed, assigned to nobody

[2019-05-23 13:09] SteveClement commented on #4668
It will most probably use whatever **sendmail** is configured to.

[2019-05-23 13:15] github-germ commented on #4575
Our operations team only accepts "official" releases. We will wait for 2.4.108. Thanks.

[2019-05-23 13:23] mokaddem commented on #4663
I improve the visibility of the update button (the one "injecting" the JSONs into the DB). By clicking on
``update all submodules`` and ``Load JSON into database`` buttons you should have all your submodules updated.

[2019-05-23 13:23] #4663 closed, assigned to nobody

[2019-05-23 13:49] adulau commented on #4668
If you carefully look at one of the email sent by MISP, the header for the MUA is `X-Mailer: CakePHP Email`.

[2019-05-23 14:19] ghost commented on #4507
No solutions yet.
I'm waiting a few internal changes in my company infrastructure, and then I'll do new tests.

[2019-05-23 15:04] Rafiot opened #4669 "New entries in app/files/feed-metadata/defaults.json"
Travis currently fails because of the two new entries ('cached_elements', 'force_to_ids') -> https://github.com/MISP/MISP/blob/2.4/app/files/feed-metadata/defaults.json#L1596

No idea if it is expected or not.

[2019-05-24 05:14] SteveClement commented on #4651
If it expects a SAN then you need to issue your certificate with the same SAN name as the CN.

Perhaps this helps:

https://medium.com/@sajithekanayaka/solved-java-security-cert-certificateexception-no-subject-alternative-names-present-eec1669faf0d

But this looks more like a Hive support ticket then MISP.

We do not use Java.

[2019-05-24 05:41] SpencerLN commented on #4637
Still having the same issue here, even when ran with the above alternate instructions.

`$ wget -O /tmp/INSTALL.sh https://raw.githubusercontent.com/MISP/MISP/2.4/INSTALL/INSTALL.sh
--2019-05-24 05:35:59--  https://raw.githubusercontent.com/MISP/MISP/2.4/INSTALL/INSTALL.sh
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.48.133
Connecting to raw.githubusercontent.com (raw

[2019-05-24 06:02] rommelfs commented on #4507
Tested this a few hours ago and it worked perfectly fine.
Of course, if your network connection is interrupted (and that could be caused by anything between your server and the feed hosting server, especially with proxy servers in between), the job will fail. They won't resume on their own when manually pulled. In this case they have to be manually pulled again to resume.

The task can also be aut

[2019-05-24 06:02] #4507 closed, assigned to nobody

[2019-05-24 06:04] #4668 closed, assigned to nobody

[2019-05-24 06:52] ancailliau commented on #3938
Yes. I still do not see all tags in extended view.

We are running the last released version,

Antoine

On Thu, May 23, 2019, 07:54 Steve Clement <notifications@github.com> wrote:

[2019-05-24 06:52] iglocska commented on #4664
Definitely not that simple. We've done a fair bit of research on it (you can find some of the outcome in the PyMISP library iirc) and considering legitimate removals of data after a synchronisation (distribution levels / tag removal filters) it's a tough solution. We're currently looking for funding for this project specifically. Blockchain might indeed be part of the solution.

[2019-05-24 06:54] iglocska commented on #4507
A small side note if that doesn't solve it for you: Make sure you raise the memory limit in php.ini to something sane considering some of the event sizes (1024/2048 MB).

[2019-05-24 07:18] SteveClement commented on #4637
This is a regression, this PR https://github.com/MISP/MISP/pull/4639 broke the installer.

[2019-05-24 07:19] SteveClement commented on #4637
Will be fixed soon.

[2019-05-24 08:14] garanews commented on #4663
![immagine](https://user-images.githubusercontent.com/16938405/58312918-a38aca00-7e0c-11e9-812e-3dcc6e1554ea.png)

Big Thanks, now I see it! :)

[2019-05-24 08:47] adulau commented on #4669
Can you just relax the test? It will become a default functionality of the feed to have custom keys. We just need to test if the required fields are there.

[2019-05-24 09:41] Rafiot commented on #4669
Sure.
The main advantage to have strict tests is to avoid typos (that happened more than once in the past). But I can allow random keys. The users need to make sure they don't have typos, and when there is an issue by a 3rd party, we need to make sure they didn't do any mistake either.

If any of the keys are used by MISP core, we *must* have them in the file, because there will be typos and we wi

[2019-05-24 09:48] patriziotufarolo commented on #3963
Yes, this is still an issue, I've just verified.
Commenting out all the redirects to the login page in **AppController.php**
(that is to say all the ` $this->redirect(array('controller' => 'users', 'action' => 'login', 'admin' => false));` lines) seems to circumvent the issue, but actually I'm not sure this is the very appropriate solution, since it obviously breaks the expected behavior when 3rd

[2019-05-24 11:47] #2036 closed, assigned to nobody

[2019-05-24 15:04] iglocska commented on #4669
I think it's best to check for the stuff that we know, anything else that's
there is not interesting.

On Fri, May 24, 2019 at 11:41 AM Raphaël Vinot <notifications@github.com>
wrote:

[2019-05-24 20:56] Rafiot commented on #4669
ok. Which ones do we know? Are the two new ones known, or not?

[2019-05-25 14:07] adulau opened #4673 "Filtering by correlation on feed preview"
Filtering by correlation on feed preview (to see the only correlations from a feed)

[2019-05-27 06:07] rommelfs opened #4675 "enable/disable orgBlacklists"
Enabling/disabling orgBlacklists should be possible in order to keep track of the history (via comments) for the application and reason of a blacklisting.

[2019-05-27 06:39] rommelfs opened #4676 "Sync rules: add 'has tags' or 'has no tags' rule"
To pre-qualify data, it would be good to have sync rules supporting boolean logic like:
- has tag
- has no tags

[2019-05-27 08:20] rommelfs opened #4677 "Show options and statistics on Org page to site admins"
in relation to #4675:

- move blacklisting to Org page
- show quick activity stats: (1d/7d/30d/3m/6m) new events, new contributions, new users, gone users, login statistics
- show blacklist history
- show sync status
- ...

[2019-05-27 10:59] Gudmo opened #4678 "Endless Redirect Loop"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug/Error
| OS version (server)       | Ubuntu
| OS version (client)       | 18.04.2 LTS
| PHP version               | PHP 7.2.17
| MISP version / git hash   | 2.4.107
| Browser                   | Chrome/FF/Any
| Login type            | Local user

### Expect

[2019-05-27 13:07] xme opened #4679 "enforceWarninglist via old API syntax?"
Is there a way to enforce warning lists via the old API?

I'm using a tool that supports only GET requests and the current MISP export is:

https://misp.xxxxx.net/events/nids/suricata/download/false/false/false/false/false/15d

According to the doc, it's possible to add an extra parameter that enable/disable enforcing warning lists:

https://misp.xxxxxx.net/events/nids/suricata/download/false/fals

[2019-05-27 13:28] mokaddem opened #4680 "[eventGraph] Export improvements"
- Increase DPI for JPEG/PNG
- Add SVG export

[2019-05-27 13:50] iglocska commented on #4679
Not sure, need to dig into it, but any reason why you use that over the modern APIs? :)

[2019-05-27 14:07] rommelfs commented on #4678
Could you try enabling the following server setting: MISP.disable_auto_logout if it's not yet set to true?

[2019-05-27 14:20] Gudmo commented on #4678
That seems to do the trick there. Interesting.

[2019-05-27 16:07] evial opened #4681 "Deleted event synchronization"
Dear MISP team,

I have two MISP instances belonging respectively to organizations A and B. All events from organization A must be propagated to organization B. So I have a sync server sync_B configured in instance A. Event creation and modification are working fine, published events from A are pushed properly to B. But what about the event deletion? Is there any way to configure the synchronizati

[2019-05-27 18:49] xme commented on #4679
The existing app can only specify a specific URL to grab data from MISP (GET). No POST possible... :-(
Or is there a way to use the new API through GET requests?

[2019-05-27 21:25] iglocska commented on #4679
There is indeed!

GET:
[code]

[2019-05-27 23:43] debernal opened #4682 "Audit Event Download"
When a user downloads an event, it is not logged on the audit list. Is there a way to enable this? Is there an alternative way to determine what users downloaded what events? Thanks

To reproduce it, just download an event, select "Download As", choose any type and list the logs, there is no event product with this action. Thanks.

[2019-05-28 06:30] rommelfs commented on #4682
The feature is already in HEAD and needs to be enabled in the server settings. Please see screenshot below.

![Screenshot 2019-05-28 at 08 28 20](https://user-images.githubusercontent.com/274748/58455736-b231f380-8122-11e9-8b7b-82546a1867a9.png)

[2019-05-28 06:30] #4682 closed, assigned to nobody

[2019-05-28 06:32] rommelfs commented on #4679
Looks like this can be closed. Please re-open if necessary.

[2019-05-28 06:32] #4679 closed, assigned to nobody

[2019-05-28 06:38] rommelfs commented on #4681
In contrast to attributes (soft-delete), deletion of events is not propagated throughout servers.

To prevent propagation back from an already synchronised instance to yours, there is automatic event blacklisting integrated.

This is by design.

[2019-05-28 06:38] #4681 closed, assigned to nobody

[2019-05-28 06:39] #4651 closed, assigned to nobody

[2019-05-28 06:40] rommelfs commented on #4641
@liviuvalsan Could you have a look if you have some time? Could be your area of expertise ;)

[2019-05-28 06:43] rommelfs commented on #4599
As some SELinux is preventing the access to `git` too, it would be good to check in general the accessibility of the tools needed for the environment

[2019-05-28 06:46] #4533 closed, assigned to nobody

[2019-05-28 06:46] #4532 closed, assigned to nobody

[2019-05-28 06:48] #4506 closed, assigned to nobody

[2019-05-28 08:12] reynas commented on #4658
@SteveClement @iglocska any update on this? I can really use the help here, to fix my setup

[2019-05-28 08:49] xme commented on #4679
Great! I tried this but how to filter on event tags? I'm not sure about the syntax:

/includeEventTags:tlp_amber&&tlp_red/
/includeEventTags:!tlp_red/

Like the old API?

[2019-05-28 10:56] iglocska commented on #4658
A few things to try:

1. remove the caches:
[code]

2. If the above doesn't work, could you check what DB version your misp DB is at (assuming default db name/db-username) and report back with the results?
[code]

[2019-05-28 11:29] pabloes1337 opened #4684 "Error while trying to sync two instances - update"
I have an error while I'm trying to sync two instances, I uplouded client certificate in .cer format and also server ca in .pem format. I have the newest brunch with submodules and also restarted all workers.

2019-05-28 13:10:46 Warning: Warning (2): stream_socket_enable_crypto(): SSL operation failed with code 1. OpenSSL Error messages:
error:14090086:SSL routines:ssl3_get_server_certificate:cer

[2019-05-28 13:27] reynas commented on #4658
MariaDB [misp]> select value from admin_settings where setting = 'db_version';
+-------+
| value |
+-------+
| 34    |
+-------+
1 row in set (0.00 sec)

MariaDB [misp]> describe tag_collections;
ERROR 1146 (42S02): Table 'misp.tag_collections' doesn't exist
MariaDB [misp]>

[2019-05-28 14:09] kalyparker commented on #4437
Hi,
Do you have any news on this behavior?
On misp v2.4.107 (af1c2c86d57438ee0ea3c3946486719fa116d165)
I still have the problem, but fun fact, it works half the time :)

For information the output:
[code]

[2019-05-28 15:37] iglocska commented on #4658
Are you sure your mysql user that misp used to connect to the db has the privileges to create and alter tables?

[2019-05-28 15:46] reynas commented on #4658
it should, not entirely sure though (as I took over this server to maintain from someone else).
Any commands that you suggest me to run to figure this out?

[2019-05-29 00:18] debernal commented on #4682
Thanks for your help rommelfs, I have verified it works as expected, would it be possible to include logging just for event downloads, without having to enable paranoid logging that would log all page requests?, is this a valid feature request? Also, I noticed that there is a setting to disable logging the paranoid events into the database, if such setting is enabled, where are they logged? Thanks

[2019-05-29 04:53] SteveClement commented on #4429
Where is the branch where this is being developed?
This: ? https://github.com/MISP/misp-decaying-models ?

AFAIK, this is already done.
An example on how to use the expiration sighting would be welcome.

not sure what that link is, but it is broken.

[2019-05-29 06:15] rommelfs opened #4685 "Search (Filter) for remote orgs/all orgs is broken"
search by name/UUID in remote/all switches back to local and returns nothing

[2019-05-29 07:01] rommelfs commented on #4684
Please fill out the bug report template as good as possible in order to give people a chance to assess your situation.

The template is attached below for your convenience.
The issue will be closed for the time being. It can easily be re-opened once the information is complete.

# This template is meant for bug reports, if you have a feature request, please be as descriptive as possible and delete

[2019-05-29 07:01] #4684 closed, assigned to nobody

[2019-05-29 07:26] adulau commented on #4429
@SteveClement It's an ongoing work. @mokaddem will do a draft PR when this is ready for review. The JSON files are there to describe the decaying models for this feature.

[2019-05-29 09:28] adulau opened #4693 "[Viper] auto-configuration broken in INSTALL.sh"
- To automatically setup API key in the configuration of viper
- Review the authentication credentials given in the documentation

[2019-05-29 10:11] adulau opened #4686 "Notification when a false-positive sighting reach a certain limit"
Notification when a false-positive sighting reach a certain limit

[2019-05-29 10:13] Applenice opened #4687 "MISP_BASEURL related setting problem"
I encountered a problem, guess may be related to `MISP_BASEURL` settings. The situation is divided into virtual machine internal access and host access.

### virtual machine internal access
I downloaded the virtual machine: https://www.circl.lu/misp-images/latest/ , use Virtualbox 6.0

And installed the desktop environment.

After adding content to New Server, try editing it.
virtual machine inter

[2019-05-29 12:23] iglocska opened #4688 "delete icon missing from event graph history list"

[2019-05-29 13:03] 8ear commented on #4660
Hi,
Is it possible to build-in a switch to decide if the installation should only install all componentes or configure the installation?

I ask, because I would use your Installer for Docker container. But in the Docker container we have a strcit separation between image build and container configuration via an entrypoint script.

kind regards

[2019-05-29 13:06] 8ear commented on #4660
Please remove also the sudo commands in the shell script.
Perhaps it should not be a problem to start the script itself with sudo. But in Docker container no sudo is normally installed or `gosu` is used. Because it is more secure.

Kind regards

[2019-05-29 13:24] Rafiot opened #4689 "Path to logfiles and description"
It would be nice to have a list of the logfiles created by MISP and what they contain.

[2019-05-29 13:50] obert01 opened #4690 "Wrong JSON output when /events/index returns empty result"
### Work environment
| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 18.04
| MISP version / git hash   | v2.4.107 (6a09fca7653c10b90117d27de92c238721063b64)

### Expected behavior
When there is no result, MISP should return a valid JSON string indicating no result, like:
[code]

### Actua

[2019-05-29 14:07] obert01 commented on #4690
This issue is rather critical for us at Cert-IST, since we use the OTX_MISP python script, which does not work anymore due to this problem. Actually  PyMISP generate an exception, stating that the JSON output is not valid.

I have tried to figure out how to fix that in MISP, with no luck.

[2019-05-29 14:21] tom564 opened #4691 "Add ability to add local tag to imported events"
Allow users with the tagger role to add local tags to events imported from a feed or server where they aren't the creator org. currently it appears only site admin is able to do this.

use case#

A custom tag is added to events where it it is intended for them to be exported to IDS systems.  local tuning should also be possible to remove the IDS flag from attributes.

Is there any way to achieve t

[2019-05-29 14:31] TheDr1ver commented on #4690
Seconded. I noticed it today when OTX_MISP stopped working, but also traced it back to a PyMISP error being thrown [here](https://github.com/MISP/PyMISP/blob/efed0033022e43ee0ce0a98643a3bb79b492646f/pymisp/api.py#L250) as best as I can tell.

I've been crawling through the recent changes made to /app/Controller/EventsController.php to see if I can pinpoint what change may have resulted in it retur

[2019-05-29 17:07] TheDr1ver commented on #4690
I still can't seem to figure out where the issue is. Here are some additional logs from a single PyMISP request that might help (though the same issue is already captured in the curl example listed above):

[code]

[2019-05-29 19:11] TheDr1ver commented on #4690
I noticed I get a similar 'Array' response when attempting to search the index for an attribute that doesn't exist:

[code]

As best as I can tell, the only common thread between the two handlers (and the largest change to both of their code) [is this commit](https://github.com/MISP/MISP/commit/e899eb8b9d1ccaa97a6167202dfd7a5adbc011fd#diff-4696dd90b951cc67a2d642575f6011f5). Unfortunately, I'm stil

[2019-05-29 21:17] dmolina213 opened #4692 "Importing ThreatConnect IOC"
I am trying to populate an event  from ThreatConnect Import.

1. After I select the file and select a csv file i get the following error :

Error: The requested address '/attributes/add_threatconnect/31' was not found on this server.

2. Sometimes it is giving the message that I have to make sure the csv file has the labels Type, Value, Source and Description. I checked  my file and it has the cor

[2019-05-30 04:27] SteveClement commented on #4660
@8ear it will be tricky to get rid of sudo as it currently stands.

For automated installs having a way to execute commands without the need of authenticating every time, is essential.

I am not sure what you first question is. But yes, the idea is to have the script to decide if it is an install or a re-config. But we are not there yet.

[2019-05-30 08:07] adulau opened #4695 "Publishing the UUID of the home org"
Publishing the UUID of the home org (to make easier for the ones who connect to the instance and sync)

[2019-05-30 08:42] adulau commented on #4685
Fixed by 67cfea578530dc3c306e6672b472224e069d2990

[2019-05-30 08:42] #4685 closed, assigned to nobody

[2019-05-30 08:50] adulau opened #4696 "Improved server creation by importing a JSON from the remote misp"
Improved server creation by importing a JSON from the remote misp

[2019-05-30 08:50] adulau commented on #4692
Do you have a sample file?

[2019-05-30 09:00] #4690 closed, assigned to nobody

[2019-05-30 09:01] iglocska commented on #4690
Thanks, indeed. Should be fixed now.

[2019-05-30 10:11] TheDr1ver commented on #4690
Looks like that worked, thanks!

(Just to clarify, this fix also seems to be adding a growing stack of `[]` towards to the top of the event page now)

![image](https://user-images.githubusercontent.com/6147794/58626335-9190a780-82a2-11e9-9f03-69f2ea28fc38.png)

[2019-05-30 11:49] dmolina213 commented on #4692
Attached
[CTI-TIR-20190514-MISP Import 01.zip](https://github.com/MISP/MISP/files/3236841/CTI-TIR-20190514-MISP.Import.01.zip)

[2019-05-30 11:50] fhubaer opened #4697 "Attribute push possibly broken some time after tags/v2.4.107"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug, Question
| OS version (server)       | Ubuntu 18.04, CentOS7
| OS version (client)       | macOS
| PHP version               | 7.2
| MISP version / git hash   | 2.4.107, HEAD (6a09fca7653c10b90117d27de92c238721063b64)
| Browser                   | Safari/

[2019-05-30 11:53] iglocska commented on #4690
Should be fixed now, brainfart :)

[2019-05-30 12:44] #4696 closed, assigned to nobody

[2019-05-30 13:28] dmolina213 commented on #4692
I tried the freetext import since it belongs to the same family of activities. It seems to work, but when i look at the logs i see the following: let me see if you are able to see the graphic
![image](https://user-images.githubusercontent.com/42444130/58635979-da515c00-82b4-11e9-8aeb-ef466b3f59cd.png)

[2019-05-30 14:15] adulau opened #4698 "Skip SSL (not working as expected with TLS handshake)"
Skip SSL (not working as expected with TLS handshake)

[2019-05-30 14:18] iglocska opened #4699 "add fetch/post trick on the REST client to avoid black holes"

[2019-05-30 15:08] Applenice commented on #4687
I found that the MISP Virtual Machine has been updated and downloaded `MISP_v2.4.107@b94e9b4.ova`. The port forwarding rules are the same as before, and the host IP is added to each entry:`192.168.56.1`.

But, I found host access: http://192.168.56.1:8443/ and use curl access in the virtual machine: 127.0.0.1, The page returns the result is `Apache2 Ubuntu Default Page`.

[2019-05-30 15:46] mm4work commented on #4559
Same problem on the 2.4.106 instance in my test lab.

[2019-05-30 15:55] dmolina213 commented on #4692
Actually, I noticed that after sometime the attributes from the CSV made it to the event container. What threw me off is that after hitting the upload button, it gave that error page and looking at the logs I still see the no worker active error. I also noticed it did not pick up the file hashes instead it only brought this in
![image](https://user-images.githubusercontent.com/42444130/58645662-6a

[2019-05-30 17:30] dmolina213 opened #4700 "Configuration support"
Questions | Answers
-- | --
Type   of issue | Post   installation Support...
OS   version (server) | RHEL   7
OS   version (client) | windows   7
PHP   version | :   7.2.10
MISP   version / git hash | v2.4.107   ()
Browser | Chrome

![image](https://user-images.githubusercontent.com/42444130/58651363-b999fe00-82d6-11e9-8e32-f8bcab9d3485.png)

[2019-05-30 20:33] dmolina213 opened #4701 "Freetext import"
Questions | Answers
-- | --
Type   of issue | Post   installation Support...
OS   version (server) | RHEL   7
OS   version (client) | windows   7
PHP   version | :   7.2.10
MISP   version / git hash | v2.4.107   ()
Browser | Chrome

### Expected behavior
I tried to import via the freetext import tool a bunch of md5 and sha hashes. The tool was able to parse the information

### Actual behavior
whe

[2019-05-30 20:33] mm4work commented on #4596
Had a very similar problem on 2.4.102. and 2.4.106 that seems to be resolved by fixing the write status of /var/www/MISP/.git/ORIG_HEAD file. Go to Administration -> Server Settings and Maintenance -> Diagnotics and look at the "Writeable Directories and files" sections. If there are any errors listed there, correct them.

[2019-05-30 20:44] ghost opened #4702 "Doubts about how events are handled across instances and orgs"
Hello everyone!
I have a few doubts on how events are handled across misp instances and Orgs. As I still haven't complete domain of the code and my curiosity is killing me, I'm coming here to ask help =]

1) In the situation a site admin edit an event from another org and publish it. What exactly will happen with that information? Supposing it has a distribution level as "All communities".
Will it

[2019-05-31 01:50] SteveClement commented on #3788
This issue prevents the REST Client to work in the Official MISP VM.

I would bump the priority on this.

[2019-05-31 01:51] SteveClement commented on #3788
This should be a security configuration where you can disable the SSL cert validity checks.

[2019-05-31 03:33] Applenice commented on #4687
The `MISP_v2.4.107@304358b.ova` version still has this problem, I am looking forward to solving this problem.
Thanks.

[2019-05-31 05:03] dspruell opened #4703 "Session.cookieTimeout settings clones Session.timeout"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Debian
| OS version (client)       | buster/sid (testing)
| PHP version               | 7.3.3-1
| MISP version / git hash   | 2.4.107
| Browser                   | Chrome 74.0.3729.169 (current)

### Expected behavior

Working

[2019-05-31 07:26] iglocska commented on #4697
Confirmed and fixed, this one was nasty, thanks for the report! We'll do a bugfix release today.

[2019-05-31 07:26] #4697 closed, assigned to nobody

[2019-05-31 08:25] Applenice commented on #4687
I solved this problem. Saw this issue: https://github.com/MISP/MISP/issues/2983, this reminds me.

Trying to set:
[code]
Of course, this is definitely not correct. It should not be set by root.

This operation can be performed successfully, but will result in:
[code]
Therefore, the correct operation is to set it in the WebUI:
[code]
The value of `MISP.baseurl` is set to https://localhost:8443, I t

[2019-05-31 08:25] #4687 closed, assigned to nobody

[2019-05-31 08:50] rommelfs opened #4704 "Org Contact information html encodes special characters"
Example organisations/view/1030

[2019-05-31 08:54] #4704 closed, assigned to nobody

[2019-05-31 08:54] iglocska commented on #4704
Should be fix0red now.

[2019-05-31 09:20] rommelfs commented on #4700
point 2 is already part of other github issues (#4562 and #4564). Opening another one is not necessary.

[2019-05-31 09:21] rommelfs commented on #4700
point 1 is hopefully covered in the manual. Do you have specific questions for missing bits and pieces?

[2019-05-31 09:22] rommelfs commented on #4700
point 3: what does it mean "seem to have problems"?
What is 'do something'?

If no workers are started, please start workers.

[2019-05-31 09:24] rommelfs commented on #4701
You need to start workers. Can you start a few workers and check if it works?

[2019-05-31 10:15] pabloes1337 commented on #4684
Type of issue - I have a problem while I try to connect to remote server, this server is client certificate to authorize.
OS version (server) RHEL 7.6 Maipo
OS version (client) NA
PHP version 7.1.8
MISP version  v2.4.107 (304358b162597e2ca0fe7b0590682592ca49e566)
Browser Firefiox/Chrome

Expected behavior:
Full Synchronize between instances.

Actual behavior:
When I upload client and ca certificat

[2019-05-31 11:18] pabloes1337 opened #4705 "Error while trying to sync two instances - update"
**Type of issue** - I have a problem while I try to connect to remote server, this server is client certificate to authorize.
**OS version (server)** RHEL 7.6 Maipo
**OS version (client)** NA
**PHP version** 7.1.8
**MISP version** v2.4.107 (304358b)
**Browser** Firefiox/Chrome

**Expected behavior:**
Full Synchronize between two instances.

**Actual behavior:**
When I upload client and ca certific

[2019-05-31 11:38] rommelfs commented on #4705
#4684

[2019-05-31 11:40] rommelfs commented on #4705
Could you check if your pem file is correct?
Reference: https://stackoverflow.com/questions/26890378/warning-stream-socket-client-unable-to-set-private-key-file

[2019-05-31 12:10] pabloes1337 commented on #4705
Hi Sascha, thanks for the reply.
So, I've converted from DER encoded to .pem but this DER doesnt contain priv key.
Is this neccessary that .pem client certyficate have to contains private key ?
If yes, I should generate PKCS#12 and then convert to .pem with priv key and certifacate, in one file ofcourse.

Thanks in advance.

[2019-05-31 12:26] dmolina213 commented on #4701
Do you know how to do that in the CLI?  I tried doing this command systemctl restart misp-workers
For some reason I lost that ability in the workers page

[2019-05-31 12:32] dmolina213 commented on #4700
For example when I try to publish an event. It would say in the page that it is being queued. Then when I would check the status in the jobs page. I would see that error. You have to be more specific and tell me how to start the workers. I am unable to start them on the GUI. Is this the correct way to start them in the CLI systemctl restart misp-workers or is there a preferred way. I think most of

[2019-05-31 12:34] dmolina213 commented on #4700
The error I would see on on the job status page is 'no active workers'

[2019-05-31 12:36] iglocska commented on #4701
You can start individual workers via CLI like this:
[code]

So to start a worker monitoring the priority queue:

[code]

Valid queues are:

prio, default, email, cache

Hope this helps.

[2019-05-31 12:38] tpujals commented on #4703
Can also confirm there is a weird linkage/relationship between these values on my ubuntu 18 install.

[2019-05-31 12:46] dmolina213 commented on #4701
thank you very much. I will give it a try

[2019-05-31 13:25] rommelfs commented on #4700
" I am unable to start them on the GUI."  - What does that mean?

[2019-05-31 13:48] dmolina213 commented on #4700
When i click on the button to start a worker or restart all workers nothing seems to happen.
![image](https://user-images.githubusercontent.com/42444130/58709900-bf4c1e00-8380-11e9-814f-f00562c2275d.png)
Still indicating worker is not running. I am logged in as admin

[2019-05-31 14:57] rommelfs commented on #4700
Your installation doesn't seem to be correct. What can you find in the log files?

[2019-05-31 15:16] dmolina213 commented on #4700
That's what I was thinking. This is what we used as a reference https://misp.github.io/MISP/INSTALL.rhel7/
Do you know what logs you want me to look at? And if you can provide the location as well. I am just beginning stages of understanding what is happening under the hood.

[2019-05-31 16:21] dmolina213 commented on #4701
this is the error I get when I run that command:
/var/www/MISP/app/Console/cake Admin startWorker default
PHP Fatal error:  Can't use function return value in write context in /var/www/M
ISP/app/Model/Event.php on line 1313
Fatal Error Error: Can't use function return value in write context in [/var/www
/MISP/app/Model/Event.php, line 1313]

2019-05-31 11:07:22 Error: Can't use function return val

[2019-05-31 21:27] iglocska commented on #4701
That comment is a symptom of an ancient php version. Did you run scl enable before? If not, you might be using php 5.3, the version that ships with rhel and which is absolutely no longer supported.

[2019-06-01 09:19] pchoobdar opened #4708 "Who can see an event"
Hi
Sorry if the question is simple or I'm missing something obvious but I'm fairly new with MISP platform.

The main my question is when we create an event and publish it for all communities exactly which communities can see this , is all communities in the world can see this and how to find out which  have seen that event

My second question is that how MISP uses feeds.

What's the benefit of fee

[2019-06-01 16:03] open-source-rs opened #4709 "MISP Hangs During Install - Ubuntu 18.04"
OS Version 18.04

misp user with sudo access created

install hangs here:

Next step: Generating MISP config files
#########################################################  (56%)

[2019-06-01 19:09] dmolina213 commented on #4701
Our php version is 7.2.10. Atleast that is what is displayed in the diagnostic page

[2019-06-02 17:36] seldem commented on #4709
Same here.  OS: Ubuntu 18.04.2 LTS
Edit: 20 minutes later I saw that setup was running, then finished.

[2019-06-02 23:38] SteveClement commented on #4709
Let me debug this ;)

[2019-06-03 00:02] SteveClement commented on #4596
@anaike the feed backend is being re-worked by @iglocska and should start being more stable in the very near future.
Generally if you see data coming-in, all is good and there should be no reason for it to stop.
If it stops always at the same moment, there might be issues ingesting a particular event from your source feed, going through the logs will then shed some light onto the issue.
If it seem

[2019-06-03 00:21] SteveClement commented on #4701
Try:
[code]

[2019-06-03 00:36] SteveClement commented on #4700
The RHEL/CentOS Install is still a massive WiP: https://github.com/MISP/MISP/issues/4084

As I neither have a RHEL support contract, nor live machines with MISP on CentOS installed, it is a slow and painful progress.

Sorry for that, I do my best.

[2019-06-03 00:41] SteveClement commented on #4708
1. All Communities distribution

This simply means the event will travel through the entire MISP network.
All organisations on your instance, including the connected ones via sync for example, will see the event. If the connected organisations have further sync connections on their end, the event will also be spread that way.

2. Feeds

That depends a little on your use case. If you have a commerc

[2019-06-03 01:19] edhoedt commented on #4626
Your request downloads the raw text representation of attributes having the "yara" type. As you have rightly pointed out, no validation is performed when users create those attributes. This is tricky to really validate because some rules might depend on other rules, external variables or modules.

Even if all YARA rules in MISP were valid, the approach of dumping all yara rules into a single .yar

[2019-06-03 01:26] edhoedt commented on #4626
As a note to myself, as I tried to solve this problem, I noticed that a small number of rules are validated by the export tool but not accepted by Yara.

- yara rules with regexes ending in "/i" get broken
- yara rules with broken strings and regexes (split over multiple lines) do not get automatically fixed
- in the "yara" export format, it would be nice to have a separator for broken rules and m

[2019-06-03 04:35] pchoobdar commented on #4708
thanks for the reply.
Whether MISP have a mechanism to help my organization in analyze new event
without known and sync that instance? when we meet new event how  find out more info about it and  check out which instance may work on similar event?

[2019-06-03 06:34] SteveClement commented on #4437
Not sure, for the initial issue by @shanto12 I found that sometimes when the source feed is in a bad format, it gives me that issue.

But as @iglocska mentioned, there are some changes coming.

[2019-06-03 06:42] SteveClement opened #4710 "Feed URL trailing slash"
When having a custom feed MISP handles trailing URLs badly when fetching (viewing seems to work?):

[code]

[2019-06-03 07:09] SteveClement commented on #3933
@ancailliau is this still the case in v2.4.108

[2019-06-03 07:20] SteveClement commented on #4108
In your Published event, what do you set the "Distribution" Level as?

Further refer to: https://www.circl.lu/doc/misp/sharing/#sharing-and-distribution
And: https://www.circl.lu/doc/misp/using-the-system#creating-an-event

[2019-06-03 07:21] SteveClement commented on #4135
Dear @derekha2010 is this still an issue with v2.4.108?

[2019-06-03 07:22] SteveClement commented on #4278
Thanks for reaching out, feel free to re-open if this is still an issue.

[2019-06-03 07:22] #4278 closed, assigned to nobody

[2019-06-03 07:26] SteveClement commented on #4287
Dear @geekscrapy, setting the OS clock back is NEVER a good idea on a server. A lot will go wrong.

It also seems that you can force the timestamp.

If you need more support feel free to open.

[2019-06-03 07:26] #4287 closed, assigned to nobody

[2019-06-03 07:30] SteveClement commented on #4295
If this is still an issue, please re-open.

[2019-06-03 07:30] #4295 closed, assigned to nobody

[2019-06-03 07:39] mokaddem opened #4711 "diagnostic: show disk usage"
diagnostic: show disk usage taken by MISP (DB and files)

[2019-06-03 08:29] reynas commented on #4658
any input? I would love to get this sorted, I can't get my MISP back up and running
thanks!

[2019-06-03 08:33] iglocska commented on #4658
connect to mysql via the CLI, using the account that MISP uses

[code]

Grab the permissions for the user

[code]

Should give you:

[code]

[2019-06-03 08:39] reynas commented on #4658
MariaDB [(none)]> show grants for current_user;
+-------------------------------------------------------------------------------------------------------------+
| Grants for misp@localhost                                                                                   |
+-------------------------------------------------------------------------------------------------------------+
| GRANT USAGE ON

[2019-06-03 08:43] iglocska commented on #4658
that is indeed correct, weird. Could you do this?

[code]

It should rerun all the updates from 2.4.86 -> 2.4.108

[2019-06-03 08:44] iglocska commented on #4658
Just log into MISP via the web interface afterwards to actually start the update.

[2019-06-03 08:49] reynas commented on #4658
I can now access the server settings again. The issue visiting a event is still present though:
2019-06-03 08:47:32 Error: [PDOException] SQLSTATE[42S22]: Column not found: 1054 Unknown column 'Attribute.object_relation' in 'field list'
Request URL: /events/view/2833
Stack Trace:
#0 /var/www/MISP/app/Lib/cakephp/lib/Cake/Model/Datasource/DboSource.php(502): PDOStatement->execute(Array)
#1 /var/www

[2019-06-03 08:56] iglocska commented on #4658
Wow, that is even weirder. That is from before 2.4.86.

It sounds like your MISP had issues from before even.

[code]

[2019-06-03 08:56] iglocska commented on #4658
Let's see if that fixes it.

[2019-06-03 09:00] reynas commented on #4658
Great! Thank you very much.
Works perfectly again!

[2019-06-03 09:00] #4658 closed, assigned to nobody

[2019-06-03 09:02] iglocska commented on #4658
Excellent, let me know if you still see something that might be fishy. 2.4.80 is the version that fixes your particular issue, but we don't know when your MISP started failing and when the first update was that got skipped. Just holler if you see something.

[2019-06-03 09:53] eCrimeLabs opened #4712 "Feature: Mark multiple Blacklisted Event and delete"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Feature Request
| OS version (server)       | Debian
| OS version (client)       | 10
| PHP version               | 7.1
| MISP version / git hash   | v2.4.108 (702259babc619c24a8abbab7f2e302e2a91af2d8)
| Browser                   | Chrome

### Feature request

[2019-06-03 12:16] pabloes1337 commented on #4705
I resolved my problems, first I converted .pfx cert file with this command:
openssl pkcs12 -in cert.p12 -out apple_push_notification_production.pem -nodes -clcerts
and remove server ca form server synchronization settings.
It works, thanks for help, regards.

[2019-06-03 12:17] mokaddem opened #4713 "Event:view expansion hover does not trigger when the table is filtered"
Event:view expansion hover does not trigger when the table is filtered

[2019-06-03 12:26] mokaddem opened #4714 "Add notification threshold for the number of event created by an org"
Add notification threshold for the number of event created by an org
Similar to #4618 but based on the amount of created event.

[2019-06-03 12:41] mokaddem opened #4715 "Show correlations on galaxy-elements"
For example show a correlation on the ransomnote
May generate a lot of false-positive.

[2019-06-03 12:49] dmolina213 commented on #4700
thank you Steve

[2019-06-03 13:34] #4705 closed, assigned to nobody

[2019-06-03 17:29] Rafiot opened #4717 "Impossible to tag an event (NoScript/Firefox)"
It is currently impossible to tag an event when NoScript is installed (Firefox).

It only works when NoScript is completely disabled (not just the domain authorized).

[2019-06-04 01:28] SteveClement commented on #4084
The misp-modules issue is a 2 parter. I still need to debug it properly.

[2019-06-04 04:15] SteveClement commented on #4306
In the code you have:
 https://github.com/MISP/MISP/blob/97d67506bccc690be8c66d5cdd3feae1a14fd4cc/app/Lib/Export/NidsExport.php#L91

The value of "$this->format" needs to be investigate (echo ;)

[2019-06-04 08:32] Rafiot opened #4719 "Let an admin upload an object template over the web interface."
Instead of sshing on the server, going in the repo, create a directory, add the file.

[2019-06-04 09:31] #4714 closed, assigned to nobody

[2019-06-04 12:24] ndhambi opened #4720 "The request has been black-holed"
My MISP instance used to work fine but i now keep getting this error when i try to login via the web interface
 "The request has been black-holed
Error: The requested address '/users/login' was not found on this server. "

I have attached the error log below and cant seem to find what the cause is.

ERROR LOG
==============================================================

2019-06-04 12:18:11 Warni

[2019-06-04 14:23] dmolina213 commented on #4701
Steve - I tried the command as root on default, prio, email,  it indicated that the worker(s) started
Welcome to CakePHP v2.10.16 Console
---------------------------------------------------------------
App : app
Path: /var/www/MISP/app/
---------------------------------------------------------------
                                                                          email'
Worker started.

a

[2019-06-04 14:24] dmolina213 opened #4721 "Configuration Issue"
Questions | Answers
-- | --
Type of issue | Post installation Support...
OS version (server) | RHEL 7
OS version (client) | windows 7
PHP version | : 7.2.10
MISP version / git hash | v2.4.107 ()
Browser | Chrome

I need assistance trying to determine the correct settings

![image](https://user-images.githubusercontent.com/42444130/58887086-91314b80-86aa-11e9-924a-b78f91d9bc10.png)

[2019-06-04 14:38] spookerlabs commented on #4709
Same here! More then 30 min awaiting

onolog/monolog suggests installing aws/aws-sdk-php (Allow sending log messages to AWS services like DynamoDB)
monolog/monolog suggests installing doctrine/couchdb (Allow sending log messages to a CouchDB server)
monolog/monolog suggests installing ext-amqp (Allow sending log messages to an AMQP server (1.0+ required))
monolog/monolog suggests installing ext-mo

[2019-06-04 15:36] mokaddem opened #4723 "Refresh ratio on score"
Currently, whenever a sighting is added to an Attribute, the formula propose to reset the computed ``score`` to the ``base_score``.
We could add a new parameter that would instead add a portion of the ``base_score``.

[2019-06-04 16:08] dmolina213 commented on #4701
I tried to run the command under root I get this the gui.

![image](https://user-images.githubusercontent.com/42444130/58892134-51bb2d00-86b3-11e9-8966-90e378925b00.png)

when i run it under apache. It indicates the worker started in the CLI. The worker started but i see the following errors in the console: The GUI is the as before showing no worker as started.

PHP Warning:  SplFileInfo::openFile

[2019-06-04 18:35] dewiestr commented on #2666
It has been a while since this was open, but it Seems like ecrime did something already. https://github.com/eCrimeLabs/MISP2CbR/blob/master/MISP2CBR.py

It might be still be more useful to create a module out of it, wouldn't it ?

[2019-06-04 19:10] dmolina213 opened #4724 "Populate From option"
# This template is meant for bug reports, if you have a feature request, please be as descriptive as possible and delete the template

*If you would like to report a bug, please fill the template bellow*

### Work environment

Questions | Answers
-- | --
Type of issue | Post installation Support...
OS version (server) | RHEL 7
OS version (client) | windows 7
PHP version | : 7.2.10
MISP version / g

[2019-06-04 19:13] dmolina213 commented on #4724
When i go thru edit event instead of view event. The populate from box works.

[2019-06-04 19:26] dmolina213 commented on #4724
nevermind, i figured it out

[2019-06-04 19:26] #4724 closed, assigned to nobody

[2019-06-04 19:32] dmolina213 commented on #4692
Any updates on this ? Also the threatConnect import from a csv file does not seem to import hash values.

[2019-06-05 01:03] debernal opened #4725 "C:\Users\username is replaced with %USERPROFILE% when adding a pdb Path."
PDB paths on Windows sometimes provide information about the Windows user account that the malware author used to write their malware, replacing it with %USERPROFILE% destroys this context. is there a way to disable this behavior? Thanks

### Steps to reproduce the behavior
Create an event and add an attribute of type atrifacts dropped, pdb with the following value:
C:\Users\threatactorname\dir\fi

[2019-06-05 07:11] rommelfs commented on #4721
What is the question?

[2019-06-05 07:12] rommelfs commented on #4725
Good point.

[2019-06-05 09:11] mokaddem commented on #4699
What about the issue we currently (2.4.108) have with the tag picker?

[2019-06-05 12:06] #4721 closed, assigned to nobody

[2019-06-05 18:07] open-source-rs commented on #4709
ok - i missed the note that states to install this:

sudo apt install haveged -qy
sudo service haveged start

if i open another putty session to the box and start working in there it clears it up...

i actually have a much more pressing issue...the push/pull no longer sends attributes.

opening another ticket for that.

this one can be closed.

[2019-06-05 18:11] open-source-rs opened #4726 "Events Come Over Empty"
Primary Server Version .108
Pulling Server Version .106

I've never had this happen in the past so often.  Basically this: the communication test after hitting RUN goes fine.  No communication issues there.  However, when I try to pull the events from the Primary Server over to the Pulling Server, which is a fresh install, the events populate with zero attributes.  However, the basic event data (e

[2019-06-05 18:16] open-source-rs commented on #4726
Additionally, after I do a fresh install I'm constantly getting these in my black list...

These are not my events.  I didn't create them, nor import them, nor delete them.  Yet, there they are in the Blacklist.

![image](https://user-images.githubusercontent.com/50664502/58979584-5ad3f900-879c-11e9-9a50-c86714d39552.png)

[2019-06-05 19:49] adulau commented on #4726
Regarding the black list, it's the test events done during the [PyMISP comprehensive test](https://github.com/MISP/PyMISP/blob/583fb6592495ea358aad47a8a1ec92d43c13348a/tests/testlive_comprehensive.py). So it's fine.

Concerning the other point, it's indeed suspicious. @iglocska what do you think?

[2019-06-05 19:55] adulau commented on #4725
I suppose you mean  %USERPROFILE% as this part of the default whitelist regexp.

https://"yourmisp"/admin/regexp/index

So you can disable the regexp for all and set the types where you want the regexp to be applied.

![whitelist](https://user-images.githubusercontent.com/3309/58985886-97bfe000-87dc-11e9-9812-7c416f3bba69.png)

This is indeed a good point and we will update the default whitelist.

[2019-06-05 20:58] debernal commented on #4725
Yes you are right, I meant %USERPROFILE% I have updated the issue name, thanks for providing the procedure, I will apply it.

[2019-06-05 21:08] debernal commented on #4725
The provided procedure works perfectly, thank you :).

[2019-06-05 21:08] #4725 closed, assigned to nobody

[2019-06-05 21:09] iglocska commented on #4726
Just tested it and tried to reproduce the issue, but no luck.

What I've tried:

2 instances A, B, create event on B with 3 attributes, pull from A, see if all 3 attributes are transferred.

Tests performed:

A (108-HEAD), B (106-release): OK
A (108-release), B (106-release): OK
A (108-release), B (108-HEAD): OK

Could you describe the exact steps how to reproduce it?

[2019-06-05 21:17] open-source-rs commented on #4726
Sure - I've got a server that has around 2000+ events in it.
I'm trying to pull from that server to a completely new, fresh installed server.

About as simple as that.

So far what I can deduce is that it definitely has something to do with the versioning.

Why I say that:

So those 2000+ events came from an older server.  I figured with all the reconfiguring it would simply be easier to build a n

[2019-06-06 03:12] SteveClement opened #4727 "Think about better container-friendly design pattern"
Quite a few people use containerised infrastructure and struggle with the current architecture of MISP.

There is not enough separation between data and code. Under certain circumstances, under docker for example, you have the concept of volumes and updates involve doing links between volumes and underlying paths (for static images for example, globally think: packaging, deployment, resiliency, an

[2019-06-06 03:31] SteveClement commented on #4386
@adulau transfer to misp-warninglist?

[2019-06-06 03:35] SteveClement commented on #4409
fixed.

[2019-06-06 03:35] #4409 closed, assigned to nobody

[2019-06-06 03:41] SteveClement commented on #4401
Ok, I am not fully sure to understand what you want to achieve.

But as a matter of principle, do not use port 443 for anything else then HTTPS on production machines.

In terms of running misp-modules on an alternate port, use a port >1024 this is a safer high port.

Or to be precise:

[code]

Also, perhaps, read /etc/services it will further give you ideas which ports are interesting to use.

[2019-06-06 03:45] SteveClement commented on #4412
The feed system is being re-factored.

Not sure how far @iglocska has come along.

[2019-06-06 04:02] SteveClement commented on #4424
It still mostly seems to be an edge-case and the ongoing performance refactoring will eventually also take care of those issues.

[2019-06-06 04:11] dharshanduck commented on #4424
edge-case?? i dont understand
performance refactoring on the PHP <-> mariadb?

[2019-06-06 04:14] adulau commented on #4386
We will still need an engine in MISP core to do it. So I would keep this issue in MISP core.

[2019-06-06 04:19] SteveClement commented on #4439
@iglocska I tried to make sense of it, but couldn't really understand what url it wants to point to.

Looking at this:

https://github.com/MISP/MISP/commit/12ffbf991b48829a27f8f215a692b788a737ca00#diff-b6915c3c38f9035e5769741d98fc775d

Further confuses me as the Title is Download Report...

[2019-06-06 04:30] SteveClement commented on #4398
@marcof992 have you tested this issue lately? Can we close it?

[2019-06-06 04:36] SteveClement commented on #4417
It has nothing to do with you Auth mechanism.

This is a bug.

[2019-06-06 04:39] SteveClement commented on #4720
Well seems fairly obvious, by this:

[code]

Fix the /var/lib/php/sessions permissions first so php can actually start a session.

[2019-06-06 04:39] SteveClement commented on #4720
I am nearly sure you Run: RHEL/CentOS, have recently updated something.

[2019-06-06 04:42] SteveClement commented on #4402
@jochman any update on this?

[2019-06-06 04:45] SteveClement commented on #4550
@xme @iglocska is this still ongoing, I feel I save this issue more then once?

[2019-06-06 04:58] SteveClement commented on #4424
Having events with 100k attributes is not common, yet, thus IMHO still an issue a minority might face.
If you have a recurring use-case and you think this would be something that everyone might eventually face, please do share.

It's not only PHP/DB related. There is a lot going on in the background when you add an attribute.

Fundamentally it might seem like a simple task but a lot of gears are g

[2019-06-06 05:00] SteveClement commented on #4521
For case 2. use warninglists, there are examples in the PyMISP repo.

1. I am not sure about the scope, @iglocska  knows that best.

[2019-06-06 05:26] SteveClement commented on #4485
Perhaps we merge those two issues then.

[2019-06-06 08:44] marcof992 commented on #4398
Unfortunately the issue its still there but at this point I believe its more of a design choice than else. I still believe that being able to query the platform and understand which attributes are marked as duplicates would be a really useful feature though..

[2019-06-06 09:55] rohit725 commented on #4437
I have same issue for the feeds with format other than misp i.e only two of them are working(CIRCL OSINT, The Botvrij.eu).
### Log
**resque-worker-error.log**
[code]

[2019-06-06 12:03] xme commented on #4550
When I checked later to try to understand what happened, all sync jobs were processed... No idea why but this issue can be closed. Tx!

[2019-06-06 13:22] github-germ commented on #4424
We also have events with > 100k attributes. This is not an edge-case for us.

[2019-06-06 15:47] mpurzynski commented on #4720
This bug made MISP completely unusable for me (as our fetching logic depends on tags).

Adding a tag results with a "request has been blackholed" message

2019-06-06 15:42:23 Error: [BadRequestException] The request has been black-holed

Request URL: /attributes/addTag/4155516

Stack Trace:
#0 /var/www/MISP/app/Lib/cakephp/lib/Cake/Controller/Component/SecurityComponent.php(831): AppController->bl

[2019-06-06 18:02] rommelfs commented on #4424
Is this issue about viewing an event in the GUI?

[2019-06-06 18:08] rommelfs commented on #4726
Ok, would you agree we reproduced your test or is there something different?

[2019-06-06 18:09] dharshanduck commented on #4424
Ahh, @SteveClement I understand now. Well, the thing is there is one default feed which has 100,000+ attributes `(All current domains belonging to known malicious DGAs feed)`. I strongly agree that not everyone would have this issue. But let us wait and see if the performance and refactoring show improvement.

@rommelfs it's about load times of an event with a large number of attributes.

[2019-06-06 18:13] rommelfs commented on #4424
What does that mean?
- Loading an event with 100k+ attributes into MISP?
- Loading an event with 100k+ attributes in MISP via web interface?
- Loading an event with 100k+ attributes from MISP via pyMISP?

[2019-06-06 18:16] open-source-rs commented on #4726
Yea we can reproduce...
I'm trying to think how.

One of the servers, which would be the primary server would need to be
depricated and the other on the latest version.
I could probably fire LabyrINTh back up and run a pull from a fresh .108
server.

Jimbo

On Thu, Jun 6, 2019 at 2:09 PM Sascha Rommelfangen <notifications@github.com>
wrote:

[2019-06-06 18:16] open-source-rs commented on #4726
the test might not happen till this weekend though...

On Thu, Jun 6, 2019 at 2:09 PM Sascha Rommelfangen <notifications@github.com>
wrote:

[2019-06-06 18:31] open-source-rs commented on #4726
Err no wait...
the depricated server would pull from a .108 server so i can't use
LabyrINTh...
I'll have to figure out how to run the bash script to download an earlier
version, but on to an 18.04 ubuntu box.

jimbo

On Thu, Jun 6, 2019 at 2:09 PM Sascha Rommelfangen <notifications@github.com>
wrote:

[2019-06-06 22:08] mpurzynski opened #4728 "MISP does not keep a session anymore"
Hey.

After logging in, when I click literally anywhere, MISP redirects me back to the login page. I just configured the Redis session backend - and it works for literally everything else but MISP (I checked with this small piece of PHP code)

https://pastebin.com/bvvaBAXf

[2019-06-06 22:16] github-germ commented on #4424
* Events with large number of attributes do not paginate well in WebUI. See https://github.com/MISP/MISP/issues/3632
* We have many events with well over 100k attributes. For us, this is mainstream, and not an edge-case.

[2019-06-06 22:35] mpurzynski commented on #4728
I think I know why I see this kind of behavior. This is the sequence of events.

1. I'm loading mymisppage and the server sends me a Set-Cookie in the header, while presenting the login screen
2. I can see the PHPREDIS_SESSION key with the cookie1 value in redis when doing "keys *"
3. When logging in (=typing a username + password and clicking the login button), server sends me another cookie repl

[2019-06-06 22:45] mpurzynski commented on #4728
Interesting - it seems like MISP deletes the session cookie shortly after setting it (I was looking at the network traffic betwen redis and misp)

[2019-06-07 06:22] xg5-simon commented on #4728
I'm seeing the exact same behavior in the latest update.

[2019-06-07 06:57] iglocska commented on #4728
Should be fixed now, my bad! Just fetch the latest commit, it's meant to do it for API queries only, but the connectivity check executed every 5 seconds counted as one destroying the sessions. Added a check to only drop the session for queries executed with the API key set in the request.

[2019-06-07 06:57] #4728 closed, assigned to nobody

[2019-06-07 07:00] iglocska commented on #4727
Interesting, what did you have in mind should be compartmentalised better?

[2019-06-07 07:33] chrisr3d commented on #4482
Do you have by any chance a sample of data failing for you at this point ?
I tried to reproduce your issue without success

[2019-06-07 08:43] rommelfs commented on #4424
Sorry, I'm probably the wrong person to talk to, I don't seem to understand the answer to my question, if that was supposed to be an answer.

[2019-06-07 09:09] dharshanduck commented on #4424
@rommelfs point 2
- Loading an event with 100k+ attributes in MISP via web interface?
it takes about 3-5 minutes to load, then display

[2019-06-07 09:19] RichieB2B commented on #4720
Your last remark sounds like #4406 which I can also still reproduce. Please discuss it further there.

[2019-06-07 09:20] RichieB2B commented on #4406
I now see this happening on our test system running the latest commit 25d8d6cf94e4c25ea28bd166285a7c7389678b7b
Care to log in and take a look?

[2019-06-07 09:43] mpurzynski commented on #4406
I'm getting errors when trying to add a tag.

2019-06-07 09:39:49 Error: [BadRequestException] The request has been black-holed
Request URL: /attributes/addTag/4155714
Stack Trace:
#0 /var/www/MISP/app/Lib/cakephp/lib/Cake/Controller/Component/SecurityComponent.php(831): AppController->blackhole('auth')
#1 /var/www/MISP/app/Lib/cakephp/lib/Cake/Controller/Component/SecurityComponent.php(351): Secu

[2019-06-07 10:38] RichieB2B commented on #4406
Which browser are you using? My problem went away after I switched from Firefox to Chrome.

[2019-06-07 10:53] mpurzynski commented on #4406
Firefox Nightly, I tested in Chrome stable and it works. How do we debug it further?

[2019-06-07 10:55] mpurzynski commented on #4406
Does not work from FF stable

[2019-06-07 11:32] iglocska commented on #4424
This is indeed an issue via the webUI, but one that is considered an edge case for most so it is low on the priority list. Most data shared definitely isn't in the 100k attribute/event region. As I've mentioned it countless times to @github-germ - we're aware, we'll fix it when we get around to it, but we consider other issues more urgent.

If you would like to fast-track the development of a rewo

[2019-06-07 11:36] RichieB2B commented on #4406
@iglocska is looking into a solution that works with Firefox as well

[2019-06-07 11:37] iglocska commented on #4406
Currently I need a way to reproduce it. Running Firefox (67.0) it all works as expected.

[2019-06-07 13:39] iglocska commented on #4406
It should be fixed now. Rejoice!

[2019-06-07 13:58] open-source-rs commented on #4726
going to reproduce this today - figured out what systems i can use.
will document and take screen shots

jimbo

On Thu, Jun 6, 2019 at 2:09 PM Sascha Rommelfangen <notifications@github.com>
wrote:

[2019-06-07 14:12] timhux123 commented on #4482
Thanks for reaching out.
I'm closing this one for now. I've moved in a different direction to only exporting stix2 for the last 1 day using this rest search:

{
"returnFormat": "stix2",
"last": "1d"
}

[2019-06-07 14:12] #4482 closed, assigned to chrisr3d

[2019-06-07 15:12] iglocska commented on #4726
Thanks a lot for all the effort man!

On Fri, Jun 7, 2019 at 3:58 PM open-source-rs <notifications@github.com>
wrote:

[2019-06-07 15:39] open-source-rs commented on #4726
No - thank you for making this tool!

Jimbo

On Fri, Jun 7, 2019 at 11:12 AM Andras Iklody <notifications@github.com>
wrote:

[2019-06-07 16:06] RichieB2B commented on #4406
\o/ thanks!

[2019-06-08 17:09] iglocska commented on #4406
Thanks for the help <3

[2019-06-10 04:17] SteveClement commented on #4727
I cannot go into any more detail as the initial requestor had a docker setup and needed to constantly add "[volumes](https://docs.docker.com/storage/volumes/)"
His latest issue was when some images location changed to a sub-folder, he had to recreate a specific volume only for that change.

Again, I have no clue about docker or his specific setup.

But I suppose persistence was his issue.

[2019-06-10 07:56] mahmoodn opened #4729 "Getting information about a malware"
Recently, we have hit a ransomware and I want to know how can I get information about it via MISP community. For example, if someone has analyzed that or it is in progress by someone else. I ask that to see if we can reduce the analysis time.

[2019-06-10 08:43] dharshanduck commented on #4729
have you tried searching the hashes of the initial ransomware file?

can you elaborate on this: "we have hit a ransomware"

[2019-06-10 13:50] dmolina213 opened #4730 "Workers tab in Server Settings and Administration"
Questions | Answers
-- | --
Type of issue | support
OS version (server) | RedHat
OS version (client) | windows 7
PHP version | : 7.2.10
MISP version / git hash | v2.4.107 ()
Browser | If applicable

Reintalled MISP. However when i go to Server Settings and Adminstration I dont see the Workers tab
![image](https://user-images.githubusercontent.com/42444130/59199589-e9a99280-8b5b-11e9-8d7a-6fd5948cd

[2019-06-10 15:30] open-source-rs commented on #4726
Running the recreation of activity now.  Will post a PDF with notes once the job completed.

Jimbo

[2019-06-10 16:02] open-source-rs commented on #4726
[recreating the bug.pdf](https://github.com/MISP/MISP/files/3272829/recreating.the.bug.pdf)

[2019-06-10 18:32] mahmoodn commented on #4729
I mean we got a suspicious file and found that it is a ransom.
It is [here](https://www.virustotal.com/gui/file/bb966a50449436af561df9fb818217ff2c72ef3eea5b2f52646e3befe7d20b54/detection).
I would like to know how MISP can help with this regard?

[2019-06-10 20:07] dmolina213 opened #4731 "RHEL7/CENTOS setup"
Questions | Answers
-- | --
Type of issue | support
OS version (server) | RedHat
OS version (client) | windows 7
PHP version | 7.2.10
MISP version / git hash | v2.4.107 ()
Browser

this part failed
# TODO:"Investigate why the next one fails"
  #$SUDO_WWW $RUN_PHP -- $CAKE Admin setSetting "Plugin.Enrichment_asn_history_enabled" true

This is the error message
Invalid setting "Plugin.Enrichment_asn

[2019-06-10 20:12] adulau commented on #4050
@weslambert Can you confirm everything is now fine for you? Just found https://buildmedia.readthedocs.org/media/pdf/securityonion/latest/securityonion.pdf and the issue is still mentioned in the securityonion documentation. Thank you very much.

[2019-06-11 04:07] ASPHALTDRIFT opened #4732 "Cannot publish event to Kafka"
# Event cannot be published to Kafka instance
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Question
| OS version (server)       | Ubuntu
| PHP version               | 7.2
| MISP version / git hash   | 2.4.XX, hash of the commit

I'm having trouble configuring Kafka to work with MISP. I have the following

[2019-06-11 07:59] #4732 closed, assigned to nobody

[2019-06-11 08:40] iglocska commented on #4726
OK, went through some steps trying to debug this but couldn't reproduce it. However:

1. When you create the event on the 2.4.106 instance and publish it, are you sure that push to your 2.4.108 is disabled? If not then pulling from the 2.4.108 instance will already be too late as you already have the empty event.
2. Could you grab the git commit ID of the 2.4.106 instance? I am currently testing w

[2019-06-11 12:58] dharshanduck commented on #4729
well you could search up the hash within MISP, provided you have enabled the feed system and the various feeds.
you could create an event with the hash as a starting attribute and use the module system to enrich the event with data related to the hash

[2019-06-11 14:40] rommelfs commented on #4729
Are you connected to misppriv.circl.lu? Have a look at event UUID 5cffb200-f430-44b2-83a2-c922950d210f - it demonstrates what can be done with as few information as you initially had.

<img width="1410" alt="Screenshot 2019-06-11 at 16 39 19" src="https://user-images.githubusercontent.com/274748/59281441-93297a80-8c67-11e9-9bdd-e0e7a51241b9.png">

This is a good start, and from this point we could

[2019-06-11 16:10] timhux123 opened #4733 "Add Galaxy to event fails"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 16.04 LTS
| OS version (client)       | Windows 10
| PHP version               | 7.0.32-0ubuntu0.16.04.1
| MISP version / git hash   | v2.4.108 (36b43f1306873cff87b7aa30cdc1a30b38c9c16a)
| Browser                   | Ch

[2019-06-11 18:02] rommelfs commented on #4731
I cleaned up your github issue.

Can I assume you have read the following part carefully and checked accordingly?

[2019-06-11 19:34] mahmoodn commented on #4729
In our galaxy there are 34 records and I don't see any `*circl*`
I even updated the list (but didn't force).

As the name suggest, sharing platform, I expect to get updated news about newly detected malwares and analyses from the communities (galaxies or feeds) or in case of an indecent, informs others about that. Is my understanding correct?

[2019-06-11 19:39] mahmoodn commented on #4729
@rommelfs
I opened ransomware galaxy and saw 11 pages but it seems there is no search link as I look to the columns and buttons. How did you opened the blue box in your picture?

[2019-06-11 19:52] pchoobdar commented on #4729
@dharshanduck
I create an evetn with  hash atrribute but there is no possibility to search hasha also
 when enable feeds ,we can not see that events in my event list

[2019-06-11 21:38] dmolina213 commented on #4731
I finished going thru the procedure https://misp.github.io/MISP/INSTALL.rhel7/

My overarching question is has anyone followed the instruction on installing on RHEL and if there are things that you had to do differently?

We did receive some errors. I just wanted to see if these errors are critical:
1. In the section :
![image](https://user-images.githubusercontent.com/42444130/59308307-55782200-8

[2019-06-12 03:49] rommelfs commented on #4729
Since you didn't reply to my initial question (if you are connected to misppriv.circl.lu) I assume you are not. There are some obvious reasons that enable sharing only with selected partners. You as a maintainer of one instance of MISP select your partners with whom you want to share. If you don't share and you don't ingest data from others, you are in an island mode. There is no magic way events

[2019-06-12 08:20] kalyparker opened #4735 "Logs rotate or purge"
Hello,

I discovered that interesting information are logs in the db.
But I did not found the parameter for cleaning the db logs.

Did I miss it?

[2019-06-12 09:12] amuehlem opened #4736 "restSearch for proposals"
Before uploading an attribute to an MISP event, I'd like to be able to check if the same attribute is already proposed. Currently there is not option to search for proposals in an event. The includeProposals flag will just include proposals to a returned attribute, but not proposals which are simply attached to an event.

aka shadowAttributes/restSearch endpoint ;-)

[2019-06-12 09:20] dharshanduck commented on #4729
@pady12 Could you please elaborate further?

[2019-06-12 11:12] #4733 closed, assigned to nobody

[2019-06-12 11:12] mokaddem commented on #4733
Thanks for the report!

[2019-06-12 12:19] rommelfs commented on #4729
https://www.circl.lu/doc/misp/feed-osint/5cffb200-f430-44b2-83a2-c922950d210f.json

[2019-06-12 12:23] #4601 closed, assigned to mokaddem

[2019-06-12 12:23] #4608 closed, assigned to mokaddem

[2019-06-12 12:23] #4612 closed, assigned to mokaddem

[2019-06-12 13:54] #4712 closed, assigned to nobody

[2019-06-12 14:08] jochman commented on #4402
Tried it, still not working.
[code]

[2019-06-12 14:27] jochman commented on #4402
Related to [this](https://github.com/MISP/PyMISP/issues/345) issue.

[2019-06-12 14:53] StefanKelm commented on #2887
Closed via https://github.com/MISP/MISP/commit/12ff1953399b411a6641ddad6f880d3ad86b5dff

[2019-06-12 14:53] #2887 closed, assigned to nobody

[2019-06-12 15:12] StefanKelm opened #4738 "Allowing for two different proxies within "Proxy settings"?"
Okay guys, this may sound like a Really Weird (TM) feature request but we'd love MISP to be using two different proxies, one for HTTP and a different one for HTTPS.

Anyone else finds this useful?

[2019-06-12 18:00] mahmoodn commented on #4729
And that is the point.... we would like to communicate and contribute (if we can).

Just want to be sure that adding that json should be done based on this [guide](https://www.circl.lu/doc/misp/galaxy/#adding-a-custom-galaxy-repository-in-misp-wip---notfunctional). Do you confirm that?
I have read about the vocabulary used for galaxies, but still there are some questions. I want to know who can (o

[2019-06-12 22:54] cmtdly opened #4739 "INSTALL.sh fails checksum"
Running INSTALL.sh fails checksum and exits
`Next step: Checking if we are run as the installer template
Next step: Checking if we are uptodate and checksums match
sha1: de23b5d224757a8ab2941d8e15d73f10872d5106 does not match the installer sum of: b8e5ea05c4fdb919a16a204dd1e16a4ac4ddad4c
Delete installer, re-download and please run again.`

### Work environment

| Questions                 | Answe

[2019-06-12 23:45] SteveClement commented on #4739
Indeed, there was a merge that changed the installer, it should work again now.

[2019-06-12 23:48] #4739 closed, assigned to nobody

[2019-06-12 23:52] SteveClement commented on #4730
@dmolina213 in theory no, but that is quite fascinating :)

Can you try to access the workers tab manually by appending:

[code]

To your MISP URL.

[2019-06-13 01:47] dmolina213 commented on #4730
After setting the options in Administration ..> Server Settings the tab magically appeared. However, I am still having problems starting workers from the tab itself. We have been relegated to starting them directly on the CLI

[2019-06-13 01:47] #4730 closed, assigned to nobody

[2019-06-13 04:00] maynardflies commented on #4040
Folks, any word on this?  I have tried with the newest versions of both MISP and PyMISP (108 and 106 respectively) and the problem still exists.  We are forced to stay back on .95 right now and we'd like to upgrade  Has anyone looked at this yet?

[2019-06-13 05:32] pchoobdar commented on #4729
@dharshanduck
Hello,
I hope this is not a too stupid question, in the first step
1 install fresh MISP 2.4 then
2 add a event with 2 attribute (hash and name)
2 add sync server for publish my event  to another instance
but my attribute list have a many attribute that I did not create it ?????
Furthermore i would like to be able to search for a malware hash but i can not find any result for this
@ro

[2019-06-13 05:51] rommelfs commented on #4729
The json is the MISP event I created based on your input. It is now part of our OSINT feed. If you import our OSINT feed, you have it already. You can also import just this event from the link I gave you.

This has absolutely nothing to do with galaxies.
Documentation about Galaxies is here: https://www.circl.lu/doc/misp/galaxy/#galaxies
You obviously have to have the correct permissions on the fi

[2019-06-13 05:54] rommelfs commented on #4729
I don't think these questions belong into this Github issue. Please open another one or visit the Gitter chats:
https://gitter.im/MISP/Sharing  (General information sharing questions)
https://gitter.im/MISP/Support (MISP Support, not development related)
https://gitter.im/MISP/MISP      (MISP Developer channel)

[2019-06-13 12:50] duckasylum commented on #4084
`ZeroMQ settings…ZeroMQ script not running.` - was in my case a SELinux issue. I made a  module with

<code>allow httpd_sys_script_t unconfined_t:dir ( getaddr search );</code>
<code>allow httpd_sys_script_t unconfined_t:file (open read);  </code>

Seems to work. I don't know SELinux enough to make a more elegant fix/workaround.

[2019-06-13 14:02] rommelfs opened #4742 "Notification when delegation has been accepted"
A notification from MISP about accepted delegation would be nice

[2019-06-13 20:37] dmolina213 opened #4744 "Workers unavailable"
Questions | Answers
-- | --
Type of issue | support
OS version (server) | RedHat
OS version (client) | windows 7
PHP version | 7.2.10
MISP version / git hash | v2.4.107 ()
Browser

I tried a simple process of fetching all events in one of the feeds.

Before performing the action. I checked the status of the workers.
systemctl status misp-workers.service
ΓùÅ misp-workers.service - MISP's background

[2019-06-14 07:32] kalyparker opened #4745 "fetchFeed does not properly handle url with parameter"
### Work environment
Issue => BUG
Ubuntu 18.04
Misp 2.4.107 af1c2c86d57438ee0ea3c3946486719fa116d165

###  behavior
If in a feed you have an url with a parameter, the refresh does not send the parameter.

You can test with the feed you propose by default:
https://www.dan.me.uk/torlist/?exit
This one return this error via GUI and cli:
Invalid response code returned: 403

I test it with one of my ow

[2019-06-14 07:43] rommelfs commented on #4744
Your setup is not complete. PHP needs more than the 128 MB memory you allocated to it. The documentation says 512MB, we suggest 1.5GB.
Could you check if that is mentioned in the installation documentation?

[2019-06-14 11:16] joseluratm opened #4746 "[BUG] Can't add attributes to object"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | ubuntu,
| PHP version               | 7.2.6-1
| MISP version / git hash   | v2.4.109 (57766f03e1a11a8d6eda52b2a23d39de3d1583f1)

### Description
On MISP v2.4.109 (57766f03e1a11a8d6eda52b2a23d39de3d1583f1)  when I try to add a

[2019-06-14 13:09] dmolina213 commented on #4744
From the untrained eye this is what I see see in  section 0. Should we change those variables? However, it appears this document seems to be changing quite frequently
# php.ini configuration
  upload_max_filesize=50M
  post_max_size=50M
  max_execution_time=300
  memory_limit=512M

[2019-06-14 15:03] dmolina213 commented on #4744
forgive my ignorance but there are a multiple php.ini files on the server. Is there a specific one I need to change ? And I assume restarting apache would be the next action I need to do after changing the variables in php.ini

[2019-06-14 16:08] cbboggs commented on #4720
I ran into this blackhole on login issue - but it was due to a full disk.   We were running scheduled export generation, and I believe it was filling up /var/www/MISP/app/files/scripts/tmp with files and we either had waaay to many events, or it was not cleaning up after itself.

[2019-06-14 19:35] dmolina213 commented on #4744
I think I got it fixed. Some of the feeds are being fetched and are populated in the events. Feed 1 doesn't seem to work. It maybe some other thing. But I don't notice the error anymore in the error logs when I try to fetch feeds. I edited all the php.ini files in the server and I did # systemctl restart httpd  and # systemctl restart rh-php72-php-fpm.service. Can we leave this issue open for othe

[2019-06-15 09:48] mahmoodn commented on #4729
I tried some steps, but I am not sure if the result is correct or not.
1- "sync action"->"list feeds"->"import feeds from json". Then I pasted the json [file](https://github.com/MISP/MISP/issues/4729#issuecomment-501248106) you gave and clicked on "add".
2- "sync action"->"list feeds"->"list feeds"->"custom feeds". What I see is this picture
![Untitled](https://user-images.githubusercontent.com/11

[2019-06-15 09:54] mahmoodn commented on #4729
Another thing that I tried was to manually add the event regarding the ransomware and get a graph similar to [yours](https://github.com/MISP/MISP/issues/4729#issuecomment-500872694).
1- "event"->"add event" and filled it with somm contents as below
![Untitled](https://user-images.githubusercontent.com/11626212/59549845-cd9d5b00-8f78-11e9-889b-c4f054d60844.png)

2- Then I clicked "view" as below
![

[2019-06-15 11:07] igorjob opened #4752 "Docker instalation with remote mysql server can't work with jobs"
I trying to use MISP docker instalation with remote mysql server.
Base repository: https://github.com/MISP/misp-docker
Current config looks like:

    class DATABASE_CONFIG {
	public $default = array(
		'datasource' => 'Database/Mysql',
		'persistent' => false,
		'host' => 'XXX',
		'login' => 'misp',
		'port' => 3306,
		'password' => 'XXX',
		'database' => 'misp',
		'prefix' => '',
		'ssl_ca' => '

[2019-06-15 18:12] rommelfs commented on #4729
No, absolutely not. This json contains an event, not a feed.

Most of these concepts are well covered in the documentation.

[2019-06-15 18:19] rommelfs commented on #4729
Do I understand well that you did the following steps:

1. You created a new event
2. You added an attribute
3. You expected this specific event to magically display the event I created?

You can get this event by either of the following ways:
1. Import the json referenced earlier here via Import from... -> MISP standard
2. Import the CIRCL OSINT feed
3. Connect to CIRCL MISP via sync

All these o

[2019-06-15 18:22] rommelfs commented on #4744
Great that you found it. We can close this issue because this setting has been discussed a few times.
Apart from that, closed issues can also be searched by others and re-opened if necessary.

[2019-06-15 18:22] #4744 closed, assigned to nobody

[2019-06-15 18:27] #4752 closed, assigned to nobody

[2019-06-16 05:56] pchoobdar commented on #4729
@rommelfs The main question is how we can enable feed to see the correlation my event and another  organization event, for example virus total or CIRIL? We enable feeds from sync action"->"list feeds,
but we did not see any changes and graph  for that  event? What should we do For connects to CIRCL MISP via sync that you mentioned in step 3?

[2019-06-16 09:42] adulau commented on #4746
Can you check if you have your object templates? Check https://yourmispurl/objectTemplates/index ? if not, can you update those?

[2019-06-16 13:51] adulau opened #4753 "Notifying user before their PGP key expire"
Notifying user before their PGP key expire (from the financial sector)

[2019-06-16 13:56] adulau opened #4754 "[UI] Make org pivotable from user view"
[UI] Make org pivotable from user view

[2019-06-16 14:21] adulau opened #4755 "File permission on upload (when directory is not writable) - the error is not clear (on app/files when directory is not exiting)"
File permission on upload (when directory is not writeable) - the error is not clear.

[2019-06-16 15:49] mahmoodn commented on #4729
OK. I think I should at least setup a connection and sync with misppriv for the rest of the things. I will comeback then. Thank you.

[2019-06-17 09:01] joseluratm commented on #4746
HI,

I checked my object templates and I have all enabled. I have 126 and if I clck on "Update Object" a get a "All object templates are up to date already."

I update to v2.4.109 (fc528d9315221350180a548bdf09e3325b0c244f) and the bug continues.

Thanks for answers
Regards,

[2019-06-17 10:30] adulau opened #4756 "A list of DON'T DO (to avoid frequent mistakes)"
A list of DON'T DO (to avoid frequent mistakes)

[2019-06-17 10:46] leixyou opened #4757 "MISP training used https default，how to change it into http."