[2021-12-10 12:26] mikkster commented on #7546
This resolved the issue thank you

[2021-12-10 12:26] #7546 closed, assigned to nobody

[2021-12-13 13:53] C4MG opened #8024 "Support: Freetext ingestion queued for background processing. Attributes will be added to the event as they are being processed."
### Support Questions

I try to use the Populate tab using the freetext import tool to add indicators of engagement, but I get Freetext ingestion queued for background processing. The attributes will be added to the event as they are processed.
and IOCS are never loaded ¿?...

### MISP version

2.4.151

### Operating System

CentOS

### Operating System version

8

### PHP version

7.0.7

### Brow

[2021-12-14 09:57] mboman opened #8026 "Bug: install.sh requires git, does not check if git is installed"
### Expected behavior

install.sh should check if git is installed before trying to run git

### Actual behavior

sudo: git: command not found

### Steps to reproduce

bash install.sh -A

### Version

current

### Operating System

RedHat

### Operating System version

7.9

### PHP version

-

### Browser

_No response_

### Browser version

_No response_

### Relevant log output

_No response_

#

[2021-12-14 10:08] Felix83000 commented on #7328
Hello, I confirmed, it would be great to automatically add a tag on EVENTS from a specific MISP server.

[2021-12-14 10:53] RoyClark992 commented on #2223
This is still an issue with MISP version 2.4.151, any update when this will be fixed or a workaround ?

[2021-12-15 02:46] JerryUrena commented on #4870
DId anybody figure this out? I have searched the entire internet already

[2021-12-15 12:48] klimer2012 opened #8029 "Bug: Feed target event ID lost"
### Expected behavior

Changing the target event ID of any kind of feed (default or custom) changes the fixed event of the feed.

### Actual behavior

The feed refuses to change its target event.
If a new feed (custom or default) is defined a new event will be generated (after first fetching) even if an existing event is defined as target.

### Steps to reproduce

1. Add a new feed (custom or load

[2021-12-15 13:12] 0x90v1 opened #8030 "Bug: Feed Import Attribute missmatch"
### Expected behavior

I would like to import the following data which is stored in a csv:

type,value
"domain","test.uy"
"domain","log.test.ru"

I expect, that both of the domains are recognised as domains.

### Actual behavior

If I import the above csv content I get the following import:

![image](https://user-images.githubusercontent.com/38848945/146192133-1945c1b7-214f-43da-8420-deee2be4ce61.

[2021-12-15 13:26] iglocska opened #8031 "Feature Request: sync missing attachments via the missing attachment diagnostic tool"
### Is your feature request related to a problem? Please describe.

Currently we have a built in tool to flag attachments where the actual file payload is missing (due to an incorrect migration for example). It would be great if that same tool could request neighbour instances for the individual missing files by hash.

### Describe the solution you'd like

2 things:

1. a new endpoint in MISP: ret

[2021-12-16 13:25] ibyf0r3ns1cs opened #8034 "Support: POST /attributes/delete/ cronjob"
### Support Questions

Hi ,

I am trying to make a schedule cron that deletes all attributes in a specific event every X time.
Is that possible ?
The only example I found that might be related to it :
curl -X POST --header "Authorization: YOUR API KEY" --header "Accept: application/json" --header "Content-Type: application/json" https://<misp url>/attributes/delete/12345

But seems like the oprati

[2021-12-16 17:29] edg-ale commented on #4217
@CLD87 Were you able to solve this? I'm not even able to send emails without GPG key.

[2021-12-16 17:51] SantiagoSerrao commented on #6437
Hi i have the same issue , i cant login to my misp instance

[2021-12-17 21:16] Rafiot opened #8036 "Feature Request: Safer CLI tools"
### Is your feature request related to a problem? Please describe.

Calling `cake baseurl` without a parameter will return a weird message, but still do the work (turns the setting to `NULL`).

Then, the other funky thing is if you run the command with an other user (for example `misp` on the VM), for some reason the file is not readable by anyone on the system (perms `660`), and the server is run

[2021-12-19 08:59] Turecky opened #8038 "icon missing in Galaxies"
### Expected behavior

All icons visible in Galaxy list view

### Actual behavior

Icons missing for:
1. Malpedia
2. Preventive Measure
3. CONCORDIA Mobile Modelling Framework - Attack Pattern

### Steps to reproduce

Exist in latest version. Looks like incorrect icon naming.
Suggestions:
[code]

For `CONCORDIA Mobile Modelling Framework - Attack Pattern` have no suggestion because icon name ar mi

[2021-12-19 09:28] adulau commented on #8038
Thanks for the feedback.

I just fixed the Concordia one - https://github.com/MISP/misp-galaxy/commit/b2cc6277cf6cd878d16925719378c949d68dd171

I'll update the others.

[2021-12-19 13:07] JakubOnderka commented on #8036
Hello, I just marked that command as deprecated in #8039. Next time please use `cake admin setSetting MISP.baseurl [baseurl]` that will do all checks.

[2021-12-19 14:23] Rafiot commented on #8036
ohhh, cool, thank you!

I didn't check, but is it just writing an error message, or failing? If it is just writing an error message, can you force the user calling the script to confirm? Because right now, it will still break the config if used incorrectly.

[2021-12-20 14:11] 01dr1ch commented on #8000
Hello, this still is not resolved. Behaving still the same.

[2021-12-20 14:12] 01dr1ch commented on #8002
Hello, this still is not resolved. Behaving still the same.

[2021-12-20 14:15] 01dr1ch commented on #8007
Hello, this still is not resolved. Behaving still the same.

[2021-12-20 18:54] jloehel commented on #7013
In my opinion the query should work also if mysql is running in strict mode but you can fix it if you turn off the strict mode: https://github.com/docker-library/mysql/issues/149#issuecomment-353646309

[2021-12-20 20:37] SantiagoSerrao opened #8040 "Bug: Issue intallation"
### Support Questions

I can't install MISP on either ubuntu 20.04 or centos 7. I'm using the auto install script and it always gives a php error. The error is as follows:
PHP Fatal error: require_once (): Failed opening required '/var/www/MISP/app/Vendor/autoload.php' (include_path = '/ var / www / MISP / app / Lib / cakephp / lib:.: / Usr / share / pear: / usr / share / php ') in /var/www/MISP/a

[2021-12-21 05:44] adulau opened #8041 "FeeFeature Request: review additional feed"
### Is your feature request related to a problem? Please describe.

additional feeds

### Describe the solution you'd like

Review https://github.com/hectorm/hmirror/blob/master/sources.json

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2021-12-21 16:14] #7961 closed, assigned to JakubOnderka

[2021-12-21 16:14] #5758 closed, assigned to cvandeplas

[2021-12-21 17:14] amirsadon opened #8043 "Support: date modification of an attribute"
### Support Questions

Hi,
I wanted to know if it is possible to edit an attribute without affecting its date (creation date).
Is there an option to modify an attribute date manually or through an API?

### MISP version

2.4.150

### Operating System

Ubuntu

### Operating System version

20.04

### PHP version

7.0

### Browser

_No response_

### Browser version

_No response_

### Relevant log

[2021-12-21 18:04] github-germ commented on #7867
@JakubOnderka ... Happy holidays to you...

Aha, we just noticed 1000s of dup rows in the `sharing_groups_org` table (which was causing HUGE results (>10GB) for some `pymisp.search()` results!

Glad to see this was fixed in 2.4.151. **THANKS**.

A few questions so we can clean this in our instances:

1. Does the schema change adding the `name` column as an index in the `sharing_groups` table get p

[2021-12-21 21:38] github-germ commented on #7867
i.e. I believe this would remove all the dups...
[code]

[2021-12-22 10:05] djha983 opened #8044 "Bug: Navigating to MISP Server settings and jobs page throws internal server error"
### Expected behavior

It shoud display the server seeting or jobs page

### Actual behavior

An Internal Error Has Occurred.

Error: An Internal Error Has Occurred. Please try your action again. If the problem persists, please contact administrator.

### Steps to reproduce

login to MISP web console and navigate to Administration-> Server settings and maintenance or jobs.

### Version

2.4.151

#

[2021-12-22 10:22] righel commented on #8044
Hello @deepak-eventtracker
Seems you enabled the new backend for Background Jobs, you are missing some required php packages, you should follow this guide before enabling them:
https://gist.github.com/righel/8ebc6c84341f2aea7d0bfa124e535ef8

If you enabled it by mistake, set `SimpleBackgroundJobs.enabled` to `false` in `/var/www/MISP/app/Config/config.php`

Let me know if that helps.

[2021-12-22 11:17] djha983 commented on #8044
Thank You, setting SimpleBackgroundJobs.enabled to false in /var/www/MISP/app/Config/config.php resolved the issue.

Best Regards,
Deepak Jha | Technical Product Manager
T: 443.241.9568 M: +91 9844792276
Netsurion | Secure and Resilient Networks
EventTracker | Actionable Security Intelligence

From: Luciano Righetti ***@***.***>
Sent: Wednesday, December 22, 2021 3:53 PM
To: MISP/MISP ***@***.***>

[2021-12-22 11:21] #8044 closed, assigned to nobody

[2021-12-22 15:42] pietrogu commented on #7940
Maybe someone managed to do this with docker?

[2021-12-23 04:50] paligram opened #8048 "Support: Help with using restsearch"
### Support Questions

Im getting 500 error everytime I try to list attributes.

samething when I use pymisp to search for attributes it gives 500 erro
I have increased python memory to 16 g

still the same issue

### MISP version

2.4.152

### Operating System

ubuntu

### Operating System version

20.04

### PHP version

7.2

### Browser

chrome

### Browser version

95.0

### Relevant log outpu

[2021-12-23 07:56] digihash opened #8049 "Bug: No proposed action for duplicate values DB issues"
### Expected behavior

On the diagnostics page, when a DB issue is discovered, clicking the Action wrench normally shows an explanation of the issue and also a proposed action. This action is mostly an SQL query that can be executed to hopefully solve the problem.

### Actual behavior

I had these Database issues which are now solved, but not of them shows any proposed action. They do all have the

[2021-12-23 08:12] righel commented on #8048
Hello @paligram
Could you please share your last bits of the error log? It's located in `/var/www/MISP/app/tmp/logs/error.log`

[2021-12-23 09:45] iglocska commented on #8049
Yeah - that's expected. We have a patch in the pipe for this.

[2021-12-23 12:20] RichieB2B opened #8050 "Bug: SimpleBackgroundJobs configuration needs to be explicitly set"
### Expected behavior

As mentioned in #8015 all the SimpleBackgroundJobs configuration needs to be explicitly set.

Since the settings in https://misp.local/servers/serverSettings/SimpleBackgroundJobs are all green the expected behavior is that they only need to be changed when a non-default value is set.

### Actual behavior

All settings in https://misp.local/servers/serverSettings/SimpleBackgr

[2021-12-23 12:48] RichieB2B opened #8051 "Bug: cake Server pullAll no longer working"
### Expected behavior

All servers should be pulled

### Actual behavior

PHP stack trace

### Steps to reproduce

This is because of #8050
Even when Resque is still used `cake Server pullAll` is broken:
[code]
After setting all the `SimpleBackgroundJobs` config item explicitly in `config.php` the command works again, but with PHP errors:
[code]
### Version

2.4.152

### Operating System

CentOS

[2021-12-23 13:03] jalmarikalmari commented on #8051
Just started to type about similar issue but after upgrade to 2.4.151.

After upgrade MISP A and MISP B both from 2.4.150 to 2.4.151 the "cake server pull" stopped working.
No errors found (thought didn't try debug). The Pull request starts and stops OK, but no events transfered from MISP A to MISP B.
Once reverted MISP A back to 2.4.150 the pull worked.

We tried following cases:
1) Both MISPs up

[2021-12-23 13:18] SantiagoSerrao commented on #6437
Hi my problem was with the internet connection. The page https://repo.packagist.org/packages.json could not be reached. That is why the problem is generated! Check your connections or else check if with a curl you can reach the url that is from which the package json file is downloaded and it is in Canada.

[2021-12-23 13:19] SantiagoSerrao commented on #8040
Hi my problem was with the internet connection. The page https://repo.packagist.org/packages.json could not be reached. That is why the problem is generated! Check your connections or else check if with a curl you can reach the url that is from which the package json file is downloaded and it is in Canada.

[2021-12-23 13:19] #8040 closed, assigned to nobody

[2021-12-23 14:00] righel commented on #8051
Hello @RichieB2B ,
Just merged https://github.com/MISP/MISP/pull/8053 to `develop` regarding the docs to make the settings required and link the guide, as the root cause of the issue seems to be a configuration problem.
`Notice Error: Undefined property: ServerShell::$BackgroundJobsTool in [/var/www//app/Lib/cakephp/lib/Cake/Console/Shell.php, line 514]`
This error is actually a notice and should

[2021-12-23 14:00] righel commented on #8050
Hello @RichieB2B
Just merged https://github.com/MISP/MISP/pull/8053 to `develop` to make this more clear, thanks for the report.
Will look like this:
![image](https://user-images.githubusercontent.com/1659902/147250355-5a041be2-1735-499a-ab3c-40f7c5674690.png)

Let me know if that helps.

[2021-12-23 14:49] digihash commented on #8049
Great, then I'll see it appear in one of the next versions. Thanks and keep up the good work!

[2021-12-23 15:21] RichieB2B opened #8054 "BackgroundJobsTool->processUser() does not work on RHEL 7"
The code uses either `/proc/$pid/status` or `ps`. Both are not allowed by SELinux. With Resque the userid was stored in Redis so there was no issue.
https://github.com/MISP/MISP/blob/d5fde923b49efe07e9e16eaa9baeb7c3b2af86b7/app/Lib/Tools/BackgroundJobsTool.php#L692-L701

[2021-12-23 17:20] RichieB2B commented on #8050
Looks good, thanks!

[2021-12-23 17:20] #8050 closed, assigned to righel

[2021-12-23 17:21] RichieB2B commented on #8051
Looks good, thanks!

[2021-12-23 17:21] #8051 closed, assigned to righel

[2021-12-25 02:35] SteveClement opened #8057 "Bug: An Internal Error Has Occurred. - Diagnostics page"
### Expected behavior

Display diagnostics page.

### Actual behavior

Internal Error

### Steps to reproduce

Open Diagnostics

### Version

2.4.151

### Operating System

Rocky Linux

### Operating System version

8.5

### PHP version

7.4

### Browser

FF

### Browser version

latest

### Relevant log output

[code]

### Extra attachments

_No response_

### Code of Conduct

- [x] I agree to fo

[2021-12-27 06:32] patricksaladino commented on #8057
I'm having the same issue. RHEL 8.5, PHP 7.4.19, **MISP version 2.4.152**

Excerpt from /var/www/MISP/app/tmp/logs/error.log :

[code]

[2021-12-27 10:03] rbnor opened #8060 "Feature Request:"
### Is your feature request related to a problem? Please describe.

The challenge with misp today is that misp is event centric, thats great for dealing with events, but dealing with the indicators fron an IOC centric view its a bit harder. Using misp as an IOC database works, kind of,  but it could be improved greatly.

### Describe the solution you'd like

MISP could benefit from an IOC centric

[2021-12-27 10:08] rbnor commented on #7749
Never figured out what went wrong.

[2021-12-27 10:08] #7749 closed, assigned to nobody

[2021-12-27 15:19] baonq-me commented on #6907
By using `Debezium` as a source connector, `Kafka connect`, and `kafka-connect-elasticsearch` as a sink, you can stream the table `misp.attributes` from MariaBD into `ElasticSearch`.

Ref:
https://github.com/confluentinc/kafka-connect-elasticsearch
https://debezium.io/documentation/reference/stable/tutorial.html
https://sematext.com/blog/kafka-connect-elasticsearch-how-to/

[2021-12-28 11:12] righel commented on #8057
Hello @patricksaladino, a fix for this issue in https://github.com/MISP/MISP/commit/76a0f0617a89675a6f8330a9b598bc689fe2869f

It may have been pushed after you installed/updated your MISP instance. Could you please update your MISP instance?
Since the UI is not working you could do it via the terminal by running:
`/var/www/MISP/app/Console/cake Admin updateMISP`

Let me know if that helps.

[2021-12-28 11:24] patricksaladino commented on #8057
Dear @righel,

Thank you for the quick fix. Unfortunately the following commands :

[code]
had no effect as the fix doesn't seem to be integrated (yet) in the main 2.4 branch (`Already up to date.`).

Any recommendations ?

Kind regards,
Patrick

[2021-12-28 11:48] righel commented on #8057
Have you checked the error is still there when you go to the diagnostics page?
With `sudo -u apache git pull origin 2.4` your MISP code should have been updated to the latest tag and this fix should be included.

[2021-12-28 11:51] patricksaladino commented on #8057
Error is still there and the code hasn't been updated to the latest revision :-(

![image](https://user-images.githubusercontent.com/17050508/147563475-392fbf97-493d-4c2d-aa2e-4f27f02b7adf.png)
![image](https://user-images.githubusercontent.com/17050508/147563504-063edb41-a3a7-4477-9f7a-e67b5a3de141.png)

[2021-12-28 12:06] patricksaladino commented on #8057
Interestingly, I'm stuck at rev. ee1ee01c62b88d54ac9b1b5b7613699c785b1164 (3 days ago), while the most recent commit seems to be 76a0f0617a89675a6f8330a9b598bc689fe2869f.

[2021-12-28 12:53] righel commented on #8057
Could you please share the output of these commands?
[code]
Last one should show ee1ee01c62b88d54ac9b1b5b7613699c785b1164 as the last rev.

If that's correct the fix should already be there, are you getting the same error on the logs? Maybe it's something else now.

Additionally, could you check your local `/var/www/MISP/app/Lib/Tools/SecurityAudit.php::getKernelBuild()` file looks like this?
http

[2021-12-28 13:32] patricksaladino commented on #8057
Dear @righel. As asked :

[code]

I'm still getting the same error (generated about two hours ago) :

[code]

`/var/www/MISP/app/Lib/Tools/SecurityAudit.php` do integrates the fix deployed with comit https://github.com/MISP/MISP/commit/76a0f0617a89675a6f8330a9b598bc689fe2869f :

![image](https://user-images.githubusercontent.com/17050508/147571354-3fb19df3-9768-4dfa-a705-1b09c4f5d72e.png)

Thank y

[2021-12-28 14:17] righel commented on #8057
This is strange.
https://github.com/MISP/MISP/blob/76a0f0617a89675a6f8330a9b598bc689fe2869f/app/Lib/Tools/SecurityAudit.php#L468
`strtotime()` either returns an `int` or `false`, therefore it should not be possible to `$buildTime` to be of type `string` which seems to be the pre-fix behavior and the error in the logs.

Sanity check: any chance we are looking at code not deployed/deployed to other

[2021-12-28 14:38] patricksaladino commented on #8057
It doesn't make ANY sense...and the PHP snippet below (from /var/www/MISP/app/Lib/Tools/SecurityAudit.php::getKernelBuild()) works as expected :

[code]
[code]
Regarding the sanity check, we only have one production host running MISP. I'd provide you with any needed proof/evidence you'd deem necessary.

[2021-12-28 14:46] patricksaladino commented on #8057
Quick remark : The DateTime object constructor expects a string (see https://www.php.net/manual/fr/datetime.construct.php) :

`public DateTime::__construct(string $datetime = "now", ?DateTimeZone $timezone = null)`

and we're providing it with an integer (see previous post). Would it be automagically casted/converted to a string ?

[2021-12-28 14:58] patricksaladino commented on #8057
I finally found the culprit. The UNIX epoch timestamp has to be prefixed with an "@" when used by DateTime::__construct

Working "fix" :

[code]

[2021-12-28 15:18] righel commented on #8057
~Saw that in the docs, but on my env `new DateTime($buildTime)` works well when $buildTime is of type `int`
Could you share the output of `php_uname('v')` ?~

[2021-12-28 15:20] patricksaladino commented on #8057
Please see my comment from 41 min ago. Copy/pasted here for your comfort and enjoyment :

[code]

[code]

[2021-12-28 15:29] patricksaladino commented on #8057
It's confirmed and reproductible. My PHP env. (PHP 7.4.19 (cli) (built: May  4 2021 11:06:37) ( NTS )) definitely needs the ampersand prefix when using an UNIX epoch timestamp with DateTime::__construct. The following code highlights it :

[code]
[code]

[2021-12-28 15:47] righel commented on #8057
Thanks for the extensive troubleshooting session @patricksaladino
Pushed this fix: 40f83a0329e5dde04f45ec8f00c281fd1b2c9c6c

[2021-12-28 16:13] patricksaladino commented on #8057
Well thank YOU !

Edit : fix is working as expected (commit 40f83a0329e5dde04f45ec8f00c281fd1b2c9c6c)

[2021-12-28 17:48] #8057 closed, assigned to nobody

[2021-12-29 02:52] ctixsystems opened #8062 "Bug: python STIX and Cybox dependencies not correctly reported in server diagnostics"
### Expected behavior

https://misp.server/servers/serverSettings/diagnostics should display the correctly installed dependencies

### Actual behavior

Command line investigation reveals that the dependencies are installed:
[code]

Web UI incorrectly displays the installed dependencies as not installed (per following screenshot from same system)
![image](https://user-images.githubusercontent.com/4

[2021-12-29 04:45] #6437 closed, assigned to nobody

[2021-12-29 11:08] righel commented on #8054
Originally it was built like this but for the sake of simplicity and having a single source of truth with `supervisord` API, it was removed.
Keeping the status in two separate places introduces more challenges and in my opinion it is better to delegate it to `supervisord`, unfortunately the API does not return the user running the process, so to keep current functionality we rely on additional sys

[2021-12-29 11:57] alexhaydock commented on #4047
This seems to work for me too. I was able to sort the issue with:
[code]

After this, the "Workers" page shows one worker of each type and all are reported healthy.

As an aside, it seems like the "Restart dead workers" button does also solve the problem, without doing the above, but I've avoided doing this since using that feature launches the workers under the `apache2.service` cgroup rather tha

[2021-12-29 12:11] RichieB2B commented on #8054
Yes, that makes sense. It will be very hard/strange to run the workers as the wrong user using `supervisord`. In the old setup the sudo could be easily forgotten.

[2021-12-29 13:05] imidoriya commented on #4047
I believe this might be resolved with the new Simple Background Jobs backend.  I haven't had any issues since I converted over.  Here are the instructions:  https://gist.github.com/righel/8ebc6c84341f2aea7d0bfa124e535ef8

[2021-12-29 14:49] righel commented on #8062
Hello @ctixsystems ,
Could you please check your `MISP.python_bin` setting? if not set, try to set it to `/var/www/MISP/venv/bin/python` and check the diagnostics page again.

Let me know if that helps.

[2021-12-29 17:38] zHoopS commented on #8013
(coworker of OP)

While doing a comparison with a working instance and this newly updated instance I found a few dependencies that had different versions. I switched to use php7.2 on this instance instead of the 7.4 which was not fruitful, but when switching back to 7.4 I'm not receiving the following error, with error.log shown below:

![image](https://user-images.githubusercontent.com/96838876/1

[2021-12-29 17:40] K0nfucius opened #8064 "Bug: unable to start worker of type 'supervisord_status'"
### Expected behavior

I'm using MISP (v2.4.152) with supervisord. I expect one or more running workers of type 'supervisord_status'.

### Actual behavior

I cannot see any running 'supervisord_status' workers at '/servers/serverSettings/workers'. Instead there is a red box 'worker is not running!'. When I click the box 'Start a worker' I get an error message 'An Internal Error Has Occurred.`

All

[2021-12-29 23:40] ctixsystems commented on #8062
Hi Righel,

Thank you for the suggestion - I have confirmed the setting was already present as follows:
`'python_bin' => '/var/www/MISP/venv/bin/python',`

Appreciate your assistance in investigating this. Anything else I can look at? Happy to provide whatever information might be needed.

[2021-12-30 08:31] #8060 closed, assigned to nobody

[2021-12-30 08:41] righel commented on #8062
It's definitely a weird behavior, my guess is somehow MISP (PHP) is running a different python venv to the one you run the tests via the terminal.

The diagnostic script `stixtest.py` is running and returning a valid json from what I can see in your screenshot, however returns a different response from the one you got in the terminal.

If possible, could you please add this debug line in `/var/www

[2021-12-30 09:01] righel commented on #8064
Hello @K0nfucius ,
Thanks for reporting, `supervisord_status` is not a valid worker, the bug is showing it there in the UI, so it should not affect the usage of the tool.
Let me know if you have any other issues with the workers.

I created a PR to fix this problem: https://github.com/MISP/MISP/pull/8067

[2021-12-30 09:56] ctixsystems commented on #8062
Here is the output from the debug line when added:
[code]

Surprised to see the get_current_user is root as MISP osuser is configured to be apache.

[2021-12-30 10:44] righel commented on #8062
`MISP.osuser` does not mandate which user runs Apache, but is used to check the intended user matches the actual user when running updates. You should check if in httpd.conf conf file the specified User is set as `root`.

However this doesn't seem to be related to the incorrect version reporting, I'll keep digging.

[2022-01-02 15:25] #7874 closed, assigned to righel

[2022-01-03 08:53] b1naryxx commented on #8005
have you checked the python version you are using ?  I had to upgrade the virtualenv python to 3.8 to fix this issue

[2022-01-04 14:15] #7047 closed, assigned to chrisr3d

[2022-01-05 08:34] marjatech opened #8076 "Bug: proposals_block_attributes has no effect on restSearch API"
### Expected behavior

If MISP.proposals_block_attributes is set to true, Attributes with a non-IDS Proposal have been blocked from an IDS-only restSearch request.

### Actual behavior

Proposals have no effect on restSearch, even is proposals_block_attributes is set to true.

### Steps to reproduce

- set MISP.proposals_block_attributes = true
- Remove IDS from an Attribute via Proposal
- execute

[2022-01-05 09:31] Phil-ThePower-Pearce opened #8077 "Support:"
### Support Questions

Hi,

I installed MISP yesterday, configured it.
I have a job which I believe is stuck, its been running overnight and I cant see how in the docs/faq or googling how to restart it.

All the workers say OK, Ive rebooted the server. Just sits there
Ive gone through the logs at /var/www/MISP/app/tmp/logs, and although there are some entries. I think that was due to be rebooting

[2022-01-05 10:22] barvhaim commented on #6790
same error

[2022-01-05 14:10] #8077 closed, assigned to nobody

[2022-01-05 14:35] qbolbk59 opened #8078 "Diagnostics page error post MISP upgrade"
I recently upgraded MISP to 2.4.152. The upgrade worked fine on the lower env, but on the prd instance, i am not able to access the Diagnostics page and it always throws server error 500.
Checked the error logs as well, but there are no error related to this.

Tried updating using CLI as well, but i am getting some perl warnings there as shown below:

![image](https://user-images.githubusercontent

[2022-01-05 15:05] ograso commented on #5508
Hey Steve,
I tried to go to URL which you mention [ "events/automation" ]: So as far as I understand this instance should be https://[security-onion-IP]/events/automation ??? I didnt find out that url!!

If your answer is yes then there is another issue newly fresh installation of security onion. So I almost get crazy for this integration.

[2022-01-05 15:25] righel commented on #8078
Hello @qbolbk59,
Can you share more information about your issue?
* Operating system and version are you running on prod
* PHP version
* Relevant bits of `/var/www/MISP/app/tmp/logs/error.log`
* Context of that screenshot

[2022-01-05 15:39] ograso commented on #5508
2 failed items are as follow when I try to install MISP integration.

Note: I am trying to use security Onion but I assume there is no activity in this project anymore. Another project gone to garbage. pitty

----------
          ID: zeekpolicysync
    Function: file.recurse
        Name: /opt/so/conf/zeek/policy
      Result: False
     Comment: #### /opt/so/conf/zeek/policy/intel/misp-intel.dat

[2022-01-06 15:41] PA-Rweins opened #8081 "Support: How can I use the endpoint https://<instance_url>/attributes/restSearch and get only attributes that have the specified tags."
### Support Questions

Hi, I'm using MISP API endpoint `https://<instance_url>/attributes/restSearch` in order to retrieve attributes from MISP.
I'm using the tags parameter and I expected that the returned attributes will only be attributes that have the specified tags, however I see that some of the attributes don't have the tags and are just part of an event that have the tags.

Is there a way

[2022-01-07 01:28] SteveClement commented on #7989
You probably to run the DB on a machine that has not enough memory and tries to allocate too much of it.

Please upgrade your HW specs.

[2022-01-07 01:28] #7989 closed, assigned to nobody

[2022-01-07 01:29] #7952 closed, assigned to nobody

[2022-01-07 01:29] #7951 closed, assigned to nobody

[2022-01-07 01:35] SteveClement commented on #8003
Dear as this is a redis issue now I suggest you fix that first.

There were known issues on some servers when installed in an unusual fashion.

https://stackoverflow.com/questions/53331231/redis-creating-server-tcp-listening-socket-6379-unable-to-bind-socket-errn

If you need commercial installation support please refer to: https://www.misp-project.org/professional-services/

[2022-01-07 01:35] #8003 closed, assigned to nobody

[2022-01-07 01:37] SteveClement commented on #7917
Again, it seems it is the tests failing. Have you tried to connect to it? Does apache listen?

[2022-01-07 02:01] SteveClement commented on #7906
Tested on 18.04.6 with php 7.4.27

It worked, please try again and in case it does not work include the full debug of the installer.

Thanks.

[2022-01-07 02:01] #7906 closed, assigned to nobody

[2022-01-07 02:04] SteveClement commented on #6790
I literally tested it right now. And it worked on Ubuntu 18.04.6 without any issues.

Please run the installer with:  bash -x /tmp/INSTALL.sh -c

And include the debug output.

Closing until update.

Thanks.

[2022-01-07 02:04] #6790 closed, assigned to nobody

[2022-01-07 02:05] SteveClement commented on #7681
These are transitional errors and can happen if the ubuntu side is "flakey".

[2022-01-07 02:05] #7681 closed, assigned to SteveClement

[2022-01-07 02:06] SteveClement commented on #7122
This should be fixed by now.

[2022-01-07 02:06] #7122 closed, assigned to nobody

[2022-01-07 02:07] SteveClement commented on #7680
Closing due to inactvity.

[2022-01-07 02:07] #7680 closed, assigned to nobody

[2022-01-07 02:08] #6509 closed, assigned to nobody

[2022-01-07 02:17] SteveClement commented on #6240
This is implemented:

export PATH_TO_MISP=/tmp/MISP ; bash /tmp/INSTALL.sh -c

Will set the the path to something else.

[2022-01-07 02:17] #6240 closed, assigned to SteveClement

[2022-01-07 02:26] SteveClement commented on #6679
done, since a while ;)

[2022-01-07 02:26] #6679 closed, assigned to nobody

[2022-01-07 02:27] SteveClement commented on #5419
fixed, a while ago.

[2022-01-07 02:27] #5419 closed, assigned to SteveClement

[2022-01-07 10:03] PascalChardon commented on #7515
Hi @Sshahar,
How did you fix the issue?
BR

[2022-01-07 14:27] syloktools opened #8085 "Bug: Local tags change to global on push to internal instance"
### Expected behavior

Local tags stay as is on the event during a push to a internal instance.

### Actual behavior

Local tags are changed to global tags when pushed to a internal instance.

### Steps to reproduce

Configure a server to push to and mark it as internal instance. Push an event with a local tag.

### Version

2.4.150

### Operating System

Ubuntu

### Operating System version

20.0

[2022-01-07 16:09] JoePJisc commented on #8078
I've just upgraded a test instance and trying to access the diagnostics page triggers this in error.log

[code]

My setup is:

* CentOS 7 with
* MISP 2.4.152 installed via MISP-RPM
* MISP Modules 2.4.150
* misp-python-virtualenv 2.4.152

I've run `sudo -H -u apache /var/www/MISP/app/Console/cake Admin runUpdates`

[2022-01-07 16:25] righel commented on #8081
Hello @PA-Rweins,
This is not possible with our current implementation. Attributes inherit the Tags from their parent Event and it's equivalent to

[2022-01-07 16:41] righel commented on #8081
Hello @PA-Rweins,
This is not possible with our current implementation. Attributes inherit the Tags from their parent Event and it's equivalent to the tag actually being applied to the Attribute.
Setting `"includeEventTags": false` in the request will hide the Event Tags from the response but Attributes with a tag matching at Event level will still be returned.

[2022-01-07 16:41] #8081 closed, assigned to nobody

[2022-01-07 16:44] righel commented on #8078
Hello @JoeP-oss
This issue was already fixed by commit https://github.com/MISP/MISP/commit/40f83a0329e5dde04f45ec8f00c281fd1b2c9c6c, please pull the code again. Check issue https://github.com/MISP/MISP/issues/8057

[2022-01-10 19:38] dazed51 opened #8087 "maintenance admin page issue"
### Expected behavior

I usually update the misp application via admin interface, but after the last patch I get  the error:

An Internal Error Has Occurred.
Error: An Internal Error Has Occurred. Please try your action again. If the problem persists, please contact administrator.

This after I try and navigate to www.abc.com/servers/serverSettings/diagnostics

### Actual behavior

I normally go t

[2022-01-11 10:06] paligram commented on #8048
hello @righel
sorry about the delay in responding
these were the logs I found

Error: [InvalidArgumentException] Restsearch queries using GET and no parameters are not allowed. If you have passed parameters via a JSON body, make sure you use POST requests.

Request URL: /events/restSearch

Stack Trace:

#0 [internal function]: AppController->restSearch()

#1 /var/www/MISP/app/Lib/cakephp/lib/Cake/

[2022-01-11 10:16] righel commented on #8048
It looks like your request payload is incorrect, look for missing headers or invalid json body.
Here is a sample curl request to that endpoint:
[code]
For more details on the endpoint such as possible filters check the docs:
https://www.misp-project.org/documentation/openapi.html#operation/restSearchEvents

[2022-01-11 11:26] security-intel opened #8088 "Feature Request: Run Enrichement module once a new attribute is added"
### Is your feature request related to a problem? Please describe.

A lot of cool enrichment modules are currently available in misp-modules that provide quite an insight over the available iocs. In order to use any of them, a manual step is needed through the hover function, or using the "Enrich Event" option from the top left menu. The latest one allows you select the desired enticements and add

[2022-01-11 16:34] StefanKelm opened #8090 "Bug: Changing MISP.default_event_threat_level via the UI doesn't actually change anything"
### Expected behavior

Changing `MISP.default_event_threat_level` via the UI does change the value

### Actual behavior

Changing `MISP.default_event_threat_level` via the UI doesn't actually change anything (although the logs says so). Adding an event always starts with the threat level set to `High`

### Steps to reproduce

Try changing the value at _Server Settings & Maintenance -> MISP Setting

[2022-01-12 12:21] marjatech commented on #8076
`includeProposals` restSearch option is not working too.
Assume the same root cause here

[2022-01-12 23:15] nyx0 commented on #1866
Hello, I saw you can disable the strict mode in mysql by adding this line:
`sql_mode=IGNORE_SPACE,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION`
Is it still a good workaround? Should I be worried about bugs because of that?
thank you for your answer

[2022-01-13 22:21] righel commented on #8001
Hello,
Seems to be some issue related to Redis, check if this solution helps you: https://github.com/MISP/MISP/issues/1204#issuecomment-871360030

[2022-01-14 03:01] dogmachine opened #8093 "Bug: Plugin.ZeroMQ_audit_notifications_enable fails"
### Expected behavior

Hi all.

Correctly configuring ZeroMQ plugin and enabling Plugin.ZeroMQ_audit_notifications_enable should result in audit log messages being sent to redis/zmq for pubsub consumption.

### Actual behavior

Audit log messages never make it to redis/zmq, JsonTool.php exits with a JsonException complaining about non-UTF8 characters.  "An internal error has occurred" is displayed

[2022-01-14 08:28] hildenjohannes opened #8094 "Bug: Unable to add objects using expansion module"
### Expected behavior

After using the "Add Enrichment" action on an attribute, the attribute is enriched and the response attached to the Event as a custom object.

### Actual behavior

The job fails with the following message:
**Processing complete. 1 object could not be saved. Reason for the failure: {"template_uuid":["Please provide a valid RFC 4122 UUID"]}**

### Steps to reproduce

This was

[2022-01-14 08:51] r3search3r opened #8095 "Support: Using MISP platform including MISP core and MISP objects without any modification and Wrapping them using REST Interface that my company makes."
### Support Questions

Dear MISP project.

I'm writing this email to you because I have a question about violating AGPL v3 by using MISP platform without any modification.

1. If I use it for MISP platform including MISP core and MISP objects without any modifications to the code, doesn't it violate AGPL v3?

2. If it's possible, in case of servicing my RESTful API interface after wrapping the MIS

[2022-01-14 09:31] adulau commented on #8095
Hi @r3search3r,

Thank you for the very good questions.

1- The AGPL only applies if there is a distribution and modification of the code as we mentioned in [the website](https://www.misp-project.org/license/#agpl-affero-general-public-license---misp-point-of-view). For your first question, there is no requirement of publication, if you run MISP without any modification.

2- Same for the ReST API

[2022-01-14 09:36] adulau commented on #8094
Good catch!

It's indeed a new enforcement in MISP core.

We just updated the recorded future module (as there is no fixed MISP object template for recorded future):

https://github.com/MISP/misp-modules/commit/2874c41f7f34d1233c6f266af83f0d291100fee1

Could you update your MISP modules and do a test? As we don't have any account on recorded future, we cannot really test.

Let us know if this work

[2022-01-14 09:58] r3search3r commented on #8095
Huge thanks to you about your quick and concise answer 👍

You already announced me about the case of violation AGPL v3, I have a question about using words of _"publish"_. Does it means that If I modify any MISP core and MISP objects, I have to _"publish"_ to download all source related to MISP core and MISP objects?

Sincerely yours.

[2022-01-14 10:04] adulau commented on #8095
You're welcome.

If you do modification of the MISP core software and provide access to third-parties (private modification are still possible), you need to release (publish) the modified source to the users of the modified MISP application. That's why we always recommend to propose a pull-request to the MISP core software, you'll help the community and maintain your MISP software as not modified.

[2022-01-14 10:12] r3search3r commented on #8095
I understood, really appreciate it. :smile:

If I have more questions about this issue, Do I make another issue in this repository and link this issue?

[2022-01-14 10:14] adulau commented on #8095
Sure feel free. Such discussion can be useful for other members of the MISP community, If you think something [need clarification on the website about the open source license](https://www.misp-project.org/license/), let us know. Thank you too.

[2022-01-14 10:14] #8095 closed, assigned to nobody

[2022-01-14 11:09] righel commented on #8093
Hello @dogmachine ,
Thanks for the report and pinpointing the root cause, seems the error occurs when the client ip is ipv6.
Pushed a fix (https://github.com/MISP/MISP/pull/8096 ) and soon will be merged if all tests pass ok.

[2022-01-14 11:18] #8093 closed, assigned to righel

[2022-01-14 11:20] marjatech commented on #8076
Debugged this:
The issue seems to be, that the dynamically bound Model `ShadowAttributes` is not bound anymore after this line:
https://github.com/MISP/MISP/blob/df1da8c8225365ba67a8fc767a6bad5502b6af98/app/Model/Attribute.php#L2212

I made a simple workaround by moving the counting part below the actual data retrieval. However this might be an issue of cakephp then.
Workaround/Fix:
https://github

[2022-01-14 14:03] hildenjohannes commented on #8094
Will do and get back to you!

[2022-01-14 14:17] mattiasr commented on #8094
Hi, Co-worker to @hildenjohannes , I updated our misp-modules and now i it's working

[2022-01-14 14:18] hildenjohannes commented on #8094
@adulau Thank you very much!

[2022-01-14 14:19] #8094 closed, assigned to nobody

[2022-01-14 16:05] adulau commented on #8094
Thanks a lot for your feedback and glad everything went fine. Enjoy your weekend.

[2022-01-14 17:09] JoePJisc opened #8097 "Bug: Taxonomy Library: Nothing to pick"
### Expected behavior

Existing and updated tags available for use in taxonomy dropdown.

### Actual behavior

Nothing to pick shown instead of taxonomy dropdown.

### Steps to reproduce

1. Make spelling corrections to a taxonomy file (no structural changes).
2. Incrementing the version number.
3. Install the updated `machinetag.json` over the top of the existing
4. Fix file ownership and SELinux

[2022-01-14 17:18] JoePJisc commented on #8097
Browsing the database manually I can see my taxonomy correctly loaded into the `taxonomies`, `taxonomy_predicates` and `taxonomy_entries` tables - including the spelling corrections made in the version.

[2022-01-15 17:55] juju4 commented on #1866
In my ansible role, workaround is only used for xenial.
https://github.com/juju4/ansible-MISP/blob/master/tasks/mysql-configure.yml#L46

It is not needed for any recent LTS like focal or bionic or has not appeared in my context.

Likely part of code that would be removed from my role once Ubuntu 22.04 LTS aka jammy jellyfish is out.

[2022-01-16 08:10] Arikius commented on #5743
Had the same exact issue ,

Added

        Timeout 900
        ProxyTimeout 900

Under ifmodule section on misp.ssl.conf
Now i can login and use the UI - seem to be a timeout issue :S

[2022-01-16 15:28] juju4 commented on #8001
Good catch.
Sorry, missed remi repository on rhel/centos 8 which affected package dependency

is there a way to call the test page/code in cli so this can be easily added and checked in CI/CD?

[2022-01-17 23:24] Sru3l opened #8101 "Bug: Adding sharing group selection option to feeds"
### Expected behavior

When adding a new FEED, i am not able to select to which sharing group i would like the feed data to be shared with
For example i can only select SHARING GROUP but i do not know which group it will select and how to change that
![image](https://user-images.githubusercontent.com/97922086/149846859-614a35e4-9e3a-49aa-838b-2b6e17f034ad.png)

### Actual behavior

Would like to h

[2022-01-18 01:41] ag-michael commented on #7576
@mokaddem  I just upgraded MISP, hoping this was fixed :( any progress?

[2022-01-18 13:32] mokaddem commented on #7576
It is fixed on the `develop` branch and will be part of the `2.4` branch on the next release.
@ag-michael apologies for the massive delay and thanks for your perseverance. ;)

[2022-01-18 14:02] marjatech commented on #8097
Have you checked the according tags for restrictions to org/user or hidden/local_only?

[2022-01-18 15:25] righel commented on #8101
Hello @Sru3l
This issue was already reported: https://github.com/MISP/MISP/issues/7807 and fixed in MISP version `2.4.150`.
I suggest you to update your MISP version and it will be fixed.

I'll close the issue, if the error persist, feel free to re-open it.

[2022-01-18 15:25] #8101 closed, assigned to nobody

[2022-01-19 08:48] otgrkiss commented on #7695
We are having the exact same issue.

[2022-01-19 15:01] s3cr3search opened #8102 "Support:"
### Support Questions

I am attempting to install MISP on Ubuntu 20.04 server.

It keeps failing with the following error -

ERROR: setUpClass (__main__.TestComprehensive)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "tests/testlive_comprehensive.py", line 65, in setUpClass
    cls.admin_misp_connector = PyMISP(url, key, verifycer

[2022-01-19 21:30] adulau commented on #8102
This is the test for continuous integration. Not sure why those tests were run during your installation process. This should have no impact on the MISP installation by itself.

[2022-01-20 07:25] cudeso opened #8103 "Have support for MISP reports in MISP feeds"
### Is your feature request related to a problem? Please describe.

Currently (as far as I can check) a MISP feed in format 'misp' does not support MISP reports.
It would be nice to also be able to include reports (fe. the writeup from an external blog) as a report in the feed.

(this change would also require [https://github.com/MISP/PyMISP/blob/main/examples/feed-generator/generate.py](https://g

[2022-01-20 16:09] slennie12 opened #8104 "Feature Request: UI Improvement on adding client certificates to a server"
### Is your feature request related to a problem? Please describe.

When adding a certificate (client or server) to a server, it is not visible to me whether the client certificate has been uploaded successfully. I've to explicitly press submit, which brings me back to the Servers List, and then I can see in the table if it was successful. While if I remove a certificate, this is immediately visib

[2022-01-20 16:59] s3cr3search commented on #8102
It seems to be affecting it as the install script will finish at 88% complete. There is the issue that I am not prompted for a base URL. Do you know of a way I can ensure that is prompted or already defined ?

[2022-01-21 13:14] rodsterD commented on #7790
MISP 2.4.152, Ubuntu, PHP 7.4
Same problem here, cleared all events (by selecting 60 at a time and deleting). Once all cleared, clicked "Fetch and store all feed data". Many feeds gave the error:
1. Error: Could not save freetext feed data for feed abc.
[Exception] The target event is no longer valid. Make sure that the target event xyza exists.

Some other errors (different feeds / events):
a. Er

[2022-01-21 20:09] kara-1234 commented on #8087
+1

[2022-01-21 20:34] kara-1234 commented on #8087
Fixed this by clearing the cache and killing all workers before starting them back up.

rm -f /var/www/MISP/app/tmp/cache/models/myapp*
rm -f /var/www/MISP/app/tmp/cache/persistent/myapp*

[2022-01-21 22:59] kara-1234 opened #8108 "Bug: Download as STIX1 XML invalid XML when you have a space in your org name"
### Expected behavior

STIX 1 XML export will correctly add an underscore in the org name, instead it will create two tags at the start of the XML Export.
[code]

### Actual behavior

Instead the export will add line three where there is a space in the org name, when this happens the file fails XML validation.
[code]

### Steps to reproduce

Change your org name in settings to something with a spa

[2022-01-21 23:01] kara-1234 commented on #8108
This also happens in version 2.4.150 as well.

[2022-01-23 14:48] dazed51 commented on #8087
Thanks, ill give that a try. How do you start the workers again?

[2022-01-24 12:47] m4rb3n opened #8110 "Support: External and Internal MISP addresses"
### Support Questions

We have the necessity of having 2 different MISP addresses (one internal and one external). The internal one should be accessed via misp.test1.test.io and the external one should be accessed via misp.test.io.
We tried to do this using both the baseurl and the external_baseurl configs, but these configurations dont work as we expected.
Do you know if we can accomplish this in

[2022-01-24 14:22] kara-1234 commented on #8087
on the GUI: Settings -> Workers -> I did a kill all workers and then I started all of them again from that same page.

[2022-01-24 14:47] adulau commented on #8110
`external_baseurl ` is used for the MISP sharing group source reference. For your case, if I understood  correctly, you have a multiple homed MISP. In this case, an empty base url could do the job. Could you try?

[2022-01-24 16:45] m4rb3n commented on #8110
Dont work. An empty baseurl has the behaviour shown on the video below:
https://user-images.githubusercontent.com/11174896/150826155-286e3051-d37a-4e19-b589-c01002427f98.mov

It basically considers the host null and returns only the path. It is very weird.

[2022-01-24 17:21] dazed51 commented on #8087
Awesome, fix worked me as well. Can close this issue. Thanks again.

[2022-01-24 17:21] #8087 closed, assigned to nobody

[2022-01-24 19:25] kara-1234 commented on #8108
@chrisr3d fixed in the misp-stix python library, after running a git pull and git submodule update it is fixed. Thank you again for the quick fix!

Link to what @chrisr3d fix from misp-stix
https://github.com/MISP/misp-stix/commit/acb9ecf5d845c8ee6a65ebec20378c95e5466d23

[2022-01-24 19:25] #8108 closed, assigned to nobody

[2022-01-25 11:31] skalvaro opened #8112 "Bug: LinOTP can not be disabled if enabled once"
### Expected behavior

When no LinOTPAuth.baseUrl or LinOTPAuth.realm are configured the login form should not show the LinOTP option. Currently I see no possibility to disable LinOTP if you have enabled it once.

### Actual behavior

OTP field remains enabled on login screen even if LinOTPAuth.baseUrl and LinOTPAuth.realm have been removed.

### Steps to reproduce

Configure baseUrl, realm, verif

[2022-01-25 12:43] hkelley opened #8113 "Bug: API accepts "incremental" pull technique for remote servers. MISP job rejects it"
### Expected behavior

Documentation says:

pullTechnique required | string Enum: "full" "**incremental**" "pull_relevant_clusters"

https://www.misp-project.org/documentation/openapi.html#operation/pullServer

### Actual behavior

Calling /servers/pull/2/incremental returns a successful looking result:
[code]

but the job log says:

[code]

### Steps to reproduce

GET to https://misp/servers/pull

[2022-01-25 17:53] skalvaro commented on #8112
With only the below in config.php the OTP field shows on the login screen:
`  'LinOTPAuth' =>
  array (
    'verifyssl' => true,
  ),
`
One has to manually remove the LinOTPAuth related items from the config.php so the OTP field doesn't show anymore on the login screen.
Could it be because of this line in login.ctp `if (!empty(Configure::read('LinOTPAuth'))) {`?
Wouldn't it be better to also have

[2022-01-26 03:47] Kairat-ifeb opened #8114 "Support: Sending email of publish event doesn't work"
### Support Questions

Hi everyone, i have recently installed a fresh MISP instance. Now i am trying to configure system. I have following issue - when i add event and click "publish event" job type "publish_alert_email" started and complete his task. But i don't receive this email. I use ssmtp package and smtp server of our organisation. Besides, ssmtp works direct from terminal and i can send em

[2022-01-26 10:19] m4rb3n commented on #8110
Hey I have news related to this issue. I was able to make this work.
There is a configuration file called bootstrap.php with the variable $relativePaths in it. The solution was setting this variable to true.
Thanks!

[2022-01-26 16:30] adulau commented on #8110
Whoaaa that's great feedback. Thank you! So you had some kind of reverse proxy in front?

[2022-01-27 14:58] securitytime opened #8115 "Bug: Feeds from abuse.ch take a very long time to fetch/store"
### Expected behavior

I setup a new Ubuntu 20.04 VM and installed MISP. In the web gui, I enabled all default feeds (71 in total) and then hit "fetch and store all feed data".
Now I would expect that this fetch and store process should be finished in a reasonable amount of time.

### Actual behavior

Most feeds were synchronized quickly. However, the sync job for the feed "URLhaus" (https://urlha

[2022-01-28 10:33] chais0n opened #8116 "Unable to edit user if using external authentication"
### Expected behavior
Edit local MISP user while being authenticated via external mechanism. I would expect the "Confirm with current password" field to either query the OAuth backend since I'm logged in via that method. Or I would expect that it is not required for external authentication types.

### Actual behavior
Password confirmation for the editor fails with the following error "Please enter

[2022-01-28 15:17] JakubOnderka commented on #8116
Hello, you can disable this confirmation by setting `MISP.require_password_confirmation` to `false`.

[2022-01-28 15:52] chais0n commented on #8116
@JakubOnderka I was looking for an option like this, but couldn't find it. Thank you!

[2022-01-28 15:52] #8116 closed, assigned to nobody

[2022-01-30 15:08] fukusuket commented on #7013
###  Similar issue

I'm having the same issue. (on [misp-docker](https://github.com/MISP/misp-docker/tree/master) .. misp ver. 2.4.152)
Also, 'Event actions -> **Events with proposal**' has similar problem.  The error.log is as follows.

[code]

###  Workaround
In my environment, these problems(STIX import, Events with proposal) were solved by executing the following mysql query.
[code]
Reference

[2022-02-01 09:42] vagner-instructor commented on #4739
Hi, it happened again the issue INSTALL.sh fails checksum
sha1:  does not match the installer sum of: a1eec205071442b2c9b145e7b5a054ff24728ef4

[2022-02-01 15:35] yodresh opened #8119 "Feature Request: Add IP in authentication logs in MISP"
### Is your feature request related to a problem? Please describe.

The IP of the user is logged only when authentication is failed, but never when authentication is successful.

Only Successful Login
![image](https://user-images.githubusercontent.com/1607556/151998888-24098152-f085-403e-baf3-5332a6751b6a.png)

Failed & Successful login
![image](https://user-images.githubusercontent.com/1607556/15

[2022-02-01 15:47] iglocska commented on #8119
Enable the `MISP.log_client_ip` setting in administration -> server settings -> MISP tab.

[2022-02-01 16:04] yodresh commented on #8119
Thank you for the quick feedback didn't found this by myself...

[2022-02-01 16:04] #8119 closed, assigned to nobody

[2022-02-01 16:13] yodresh opened #8121 "Feature Request: Add new type of attribute in the context of SS7-attack object"
### Is your feature request related to a problem? Please describe.

In the context of the SS7-attack object and the MISP GSMA, we are trying to standardise users input in some of the fields.
For example for GTs, which are the Global Title or address attributes to nodes in the core mobile network, they could be written with +35262100001 or 35262100001 or 0035262100001 etc

### Describe the solution

[2022-02-01 18:09] JoePJisc commented on #8097
Hi @marjatech, sorry for the delay, I've just had a look and they are all showing as local-only; how do I clear this?

Thanks

[2022-02-01 18:12] JoePJisc commented on #8097
More accurately, how do I clear this for the whole taxonomy without clicking into each tag, unticking, saving and repeating.

[2022-02-02 14:15] paraghakke opened #8122 "Bug: Handling Cross Site Request Forgery"
### Expected behavior

Should not show the CSRF related issue and exclude my set of urls.

### Actual behavior

You have tripped the cross-site request forgery protection of MISP
CSRF error: This happens usually when you try to resubmit the same form with invalidated CSRF tokens or you had a form open too long and the CSRF tokens simply expired. Just go back to the previous page and refresh the fo

[2022-02-02 14:46] 2xyo opened #8124 "Bug: STIX 2.1 import reference without property url"
### Expected behavior

Successful import of this stix 2.1 bundle

[code]
[code]

### Actual behavior

Web UI:
[code]

Script:
[code]

### Steps to reproduce

From Ui:
* https://<misp>:8443/events/upload_stix/2

Or from a script:
[code]

### Version

MISP_v2.4.152@68485de

### Operating System

Ubuntu

### Operating System version

18.04

### PHP version

7.4.27

### Browser

Firefox

### Browser v

[2022-02-02 15:37] 2xyo opened #8125 "Bug: STIX 2.1 - can't import new version of a report"
### Expected behavior

1. Import a STIX 2.1 bundle with a report in version 1 : success
2. Import a STIX 2.1 bundle with a report in version 2 : success

Reference: https://docs.oasis-open.org/cti/stix/v2.1/os/stix-v2.1-os.html#_vy23e1urdh0

### Actual behavior

1. Import a STIX 2.1 bundle with a report in version 1 : success
2. Import a STIX 2.1 bundle with a report in version 2 : error ```Could

[2022-02-02 20:09] github-germ commented on #6933
Any chance of this feature being considered sometime soon? Thanks.

[2022-02-03 00:35] FoxSca opened #8126 "Support:"
### Support Questions

new with misp
i created a vm with ubuntu 20.0.3
I used this guide
https://raw.githubusercontent.com/MISP/MISP/2.4/INSTALL/INSTALL.sh
this specific command
This will install MISP Core and misp-modules
# $ wget --no-cache -O /tmp/INSTALL.sh https://raw.githubusercontent.com/MISP/MISP/2.4/INSTALL/INSTALL.sh; bash /tmp/INSTALL.sh -A

but enrich event nothing present
please sugge

[2022-02-03 14:02] lfortemps opened #8128 "Bug: id translator broken"
### Expected behavior

The id translator was introduced to quickly find local IDs in other connected MISP instances.
By running id translator on an event that has been synchronized, we should have results.

### Actual behavior

It displays "not found" even on servers where the event has been successfully synchronized.

I suspect this is due to https://github.com/MISP/MISP/blob/2.4/app/Model/Event.

[2022-02-03 17:01] #6756 closed, assigned to chrisr3d

[2022-02-04 03:52] FoxSca commented on #8126
Fixed  I was able using just the command and not adding parameters.

/var/www/MISP/venv/bin/misp-modules

[2022-02-04 15:25] #7576 closed, assigned to nobody

[2022-02-05 16:13] ag-michael commented on #7576
@mokaddem  I can confirm the fix did the job. Thank you!

[2022-02-05 19:51] juju4 commented on #5004
I also observe this from time to time in github workflow from my ansible role
example:
https://github.com/juju4/ansible-MISP/runs/5079564814?check_suite_focus=true#step:14:68

I don't expect any load issue as build on commit/schedule with just few pymisp calls to ensure functional.
In above example, list user, add user1 worked but adding user2 failed.

[2022-02-07 14:11] cudeso commented on #7960
https://github.com/MISP/MISP/issues/7868 fixed this

[2022-02-07 14:11] #7960 closed, assigned to nobody

[2022-02-07 14:31] Wachizungu opened #8133 "Bug: When creating object from template, to_ids: false from the template is not taken into account"
### Expected behavior

If the object template has to_ids: false set for an attribute, the to_ids flag for that attribute is unset by default when creating an object.

### Actual behavior

The ids_flag is set (at least in some cases).

### Steps to reproduce

I updated to latest misp version and object-templates version
Then created an object of type whois.

-> nameserver attribute has ids_flag set

[2022-02-07 16:27] cudeso opened #8134 "Feature Request: Set default comment for attributes imported from reports (extract entities) to the report name"
### Is your feature request related to a problem? Please describe.

Attributes extracted from a report do not automatically have a comment set. Similarly as with the enrichment modules, set a default comment for the attribute to the report name.

Would also be great to be able to override this comment in the report directly (as remarked in https://github.com/MISP/MISP/issues/8021)

### Describe th

[2022-02-07 17:24] Sshahar commented on #7515
Sorry, I don't seem to remember... :(

[2022-02-08 12:20] leonardo-moraes-movile commented on #5521
Do we have any news about the limits?

[2022-02-08 12:59] FafnerKeyZee opened #8136 "Bug: Can't add new IOCs from FreeText import"
### Expected behavior

Import IOCs using FreeText

### Actual behavior

When Trying to import the IOCs from the freetext , we got no error, but when we check in log:

Warning: file_get_contents(/tmp/MISPaboTo8): failed to open stream: No such file or directory in [/var/www/MISP/app/Lib/Tools/FileAccessTool.php, line 49]

using 'find' I'm able to find the file into: /tmp/systemd-private-97e71294ae1

[2022-02-08 13:06] 0x90v1 commented on #8030
any updates on this issue?

[2022-02-08 13:11] Rafiot commented on #8136
That's probably related to that: https://serverfault.com/questions/614781/php-script-cant-access-tmp-folder?newreg=e8651c2bcaea4a718a38f4e1dc94805b

[2022-02-08 13:17] Wachizungu commented on #8136
Can you try doing (equivalent of below for your system):

sudo -u www-data /var/www/MISP/app/Console/cake Admin setSetting -v MISP.tmpdir /var/www/MISP/app/tmp

And then restarting workers

See also https://github.com/MISP/MISP/issues/7868

[2022-02-08 13:28] FafnerKeyZee commented on #8136
hum, okay, it solves the issue \o/
Thanks a lot @Wachizungu

[2022-02-08 13:28] #8136 closed, assigned to nobody

[2022-02-09 08:28] adulau commented on #8136
To avoid further issue with previous installation with no tmpdir set. Cf. 607de3683c3a043137231da4ca21ee3c1e76d246

[2022-02-09 14:27] StevePearson-github commented on #8005
I do believe there is a bug here, although my symptoms are different. With every version after 2.4.148, I am able to export events using the MISP GUI (download as...STIX1)

Using the API, I am also able to export in STIX1 format (return_format="stix_xml"), BUT ONLY IF EVENTS EXIST - if there are zero events returned from your search, MISP, 2.4.148 and before would return a valid STIX xml file with

[2022-02-09 18:07] clopmz opened #8138 "Bug: [RedisException] Connection refused Request URL: /servers/serverSettings"
### Expected behavior

Access to "Server Settings" and "Jobs" options

### Actual behavior

I can not access to "Server Settings" and "Jobs" options

### Steps to reproduce

Login in MISP and try to access "Server Settings" or "Jobs" options

### Version

2.4.153

### Operating System

RedHat Enterprise Linux

### Operating System version

8.5

### PHP version

7.4.27

### Browser

Edge, Chrome an

[2022-02-09 19:01] HamzaMhirsi commented on #8102
Same issue here
Still didn't know why, I can login to the page but the misp platform not fully functional

[2022-02-09 19:16] abhinavkumar10 opened #8139 "Script.py throwing access_token error"
### Support Questions

Script.py throwing access_token error

access_token error encountered when running script.py after following the steps and making required changes in the config.py file like adding access token and client secret. The script.py encounters error in RequestManager.py

Traceback (most recent call last):
File "script.py", line 100, in
main()
File "script.py", line 93, in main
wit

[2022-02-10 03:57] iglocska commented on #8138
SE linux is most likely blocking you, don’t forget to set the following:

‘ sudo setsebool -P httpd_can_network_connect on’

[2022-02-10 07:25] clopmz commented on #8138
Thanks @iglocska but selinux is disabled in this host.

[2022-02-10 07:56] clopmz commented on #8138
Problem is solved @iglocska .... Issue was with 'Redis' => array in /var/www/MISP/app/Plugin/CakeResque/Config/config.php file ... Changing 127.0.0.1 by my real redis server, it works!

But my question is why?

[2022-02-10 09:08] iglocska commented on #8138
Ah ok yeah that makes sense. By default (for the default installation instructions) we assume that redis is reachable via 127.0.0.1 - in case that's not possible MISP will not be able to connect to your redis server. It could be related to how redis is binding.

[2022-02-10 09:20] clopmz commented on #8138
Ok, perfect. Issue solved.

[2022-02-10 09:20] #8138 closed, assigned to nobody

[2022-02-10 13:16] StevePearson-github commented on #8005
to add further details - the code used to query:

events = misp.search(tags="testtag", return_format="stix-xml")

The error returned:

Unknown error: the response is not in JSON.
Something is broken server-side, please send us everything that follows (careful with the auth key):
Request headers:
{'User-Agent': 'PyMISP 2.4.152 - Python 3.6', 'Accept-Encoding': 'gzip, deflate', 'Accept': 'applicatio

[2022-02-10 16:39] pietrogu commented on #5757
Hi,

to this, I add that is necessary to set the External Auth User for each user in MISP

[2022-02-10 18:17] arothenhaeuser opened #8140 "Bug: ATT&CK matrix doesn't support extended view"
### Expected behavior

When looking at an event that has been extended by other events one can switch to "extended view" which will display a merged view for attributes/galaxy clusters containing all attributes/galaxy clusters of the event at hand as well as all the extending events.
I would expect the same to happen within the ATT&CK matrix section of the event.

### Actual behavior

The ATT&CK m

[2022-02-11 14:31] Giblin91 commented on #8115
I have the same issue. 2 days and only 20% through.
I have a gut feeling that the problem is in generating Correlations as I have 60+ Gb of those by only downloading this single Feed now.

[2022-02-11 20:00] esryanoakley commented on #3270
I know it's years later -- but there's a typo in your path for the SSL cert for 'etc'. This is likely why it failed
`'ssl_key' => '/ect/ssl/private/mykey.pem',`
Should be:
`'ssl_key' => '/etc/ssl/private/mykey.pem',`

[2022-02-13 06:28] amady3381 commented on #3285
Dears,

How this fixed. I am facing the same issue.

Kindly provide the solution and explain it please as I am new to MISP.

thanks on advance

[2022-02-15 14:52] matthijsvp opened #8142 "Bug: Searching for "View all events containing this cluster button" does not work to find events containing attributes that are tagged with "this cluster""
### Expected behavior

When clicking the "View all events containing this cluster" button on an attribute, it should find all events that contain an attribute tagged with that specific cluster. At the very least, by default, that means it should show the current event.

### Actual behavior

Only Events that are tagged with that cluster at Event-level are found.

### Steps to reproduce

1. Have an

[2022-02-15 15:42] ag-michael opened #8143 "Bug: unsafe-eval and unsafe-inline javascript is needed for MISP to work"
### Expected behavior

Unsafe-eval and unsafe-inline should not be allowed as part of CSP for MISP; MISP should work fine with this policy.

### Actual behavior

Several external and inline scripts break making the web interface navigation and usage impossible.

![image](https://user-images.githubusercontent.com/39683291/154095639-064e62cb-59b6-49cb-878e-570195af8d8b.png)

### Steps to reproduce

[2022-02-15 16:48] mikkster commented on #8122
I am also facing a similar issue with regards to Cross Site Request Forgery, The MISP instance is setup as High Availability so there are 2 instances always running and connected. Since updating the default session type has appear to change back to PHP and  unable to locate the option to change to 'database'. Has this option been removed and is there a work around for this ?

[2022-02-16 13:02] matthijsvp commented on #8142
Of note: it does work like expected for tags.

[2022-02-16 13:08] matthijsvp commented on #8142
Updating to .153 did not fix the issue.

[2022-02-16 18:53] EvaYiYang opened #8145 "Bug: /admin/users/login was not found"
### Expected behavior

After user login, MISP should direct users to Event Actions page.

### Actual behavior

This is an intermittent issue.
Sometime when admin users login, it shows the error "The requested address '/admin/users/login' was not found on this server. Refresh the page will bring users back to Event Actions page.

### Steps to reproduce

Since the error is intermittent, we did not f

[2022-02-17 03:29] #7472 closed, assigned to chrisr3d

[2022-02-17 07:01] mokaddem opened #8146 "[event:view] Scope toggle->proposal incorrectly filter the attribute list"
Scope toggle->proposal incorrectly filter the attribute list

[2022-02-17 11:27] JamesSOC080 opened #8147 "Bug: Connector tags for custom MISP galaxies use UUID rather than name/value"
### Expected behavior

The "connector" tag used for default galaxies/clusters (i.e. those created in the cluster json files stored on the in the webroot directory) uses the cluster name/value.

For example:

Connector tag misp-galaxy:mitre-intrusion-set="APT-C-36 - G0099"

When creating a custom cluster within the same galaxy, e.g. Aquatic Panda, I would expect the connector tag to take the form:

[2022-02-17 15:10] DefenceLogicAdm commented on #7567
Can you provide an example filter is achieved as #7968 and #7998 indicate that this is not possible. Do you use the "Timestamp" field only?

[2022-02-17 15:25] yanerosolitario commented on #8030
any updates on this issue?

[2022-02-17 15:27] yanerosolitario commented on #7829
any updates on this issue?

[2022-02-17 15:44] DefenceLogicAdm opened #8148 "Support:"
### Support Questions

Document how to filter MISP feeds. In the issues there are several examples of people trying to do this, it is a common requirement to only have MISP feeds download a certain amount of information.

Is it simply putting {"timestamp":"30d"} for 30 days as an example below

![image](https://user-images.githubusercontent.com/49190132/154516964-119ad8b3-eb95-464f-a8c1-45f7a2482f

[2022-02-17 15:53] tomking2 opened #8149 "Feature Request: Sighting deletion propagation"
### Is your feature request related to a problem? Please describe.

We automate the self-management of an 'expiration' sighting against many of the IOCs we add to MISP. When the calculated expiration date changes, we delete the sighting and replace with a new one (as sightings are immutable). However, the deletion of a sighting does not propagate to any connected instance, 'Internal' or not.

Our

[2022-02-17 15:58] bilalsarwar16 opened #8150 "Support: Blank page is showing"
### Support Questions

page showing blank after MISP installatio
![error](https://user-images.githubusercontent.com/99896232/154515176-e6cf20d9-c0bd-4038-924e-363286214eb7.PNG)
n.

### MISP version

2.4.153

### Operating System

Ubuntu

### Operating System version

20.04.3

### PHP version

7.4.3

### Browser

Firefox

### Browser version

97.0

### Relevant log output

_No response_

### Extra

[2022-02-17 16:27] SivaPrem opened #8151 "Support: [Error] Class 'Redis' not found / Login page not available"
### Support Questions

Hello Team ,

Request some help with the Class 'Redis' not found

lrwxrwxrwx 1 root root 9 févr. 16:32 php7.2.conf -> ../mods-available/php7.2.conf
lrwxrwxrwx 1 root root 9 févr.  16:32 php7.2.load -> ../mods-available/php7.2.load

Any help pls !!!!

### MISP version

2.4.153

### Operating System

Ubuntu

### Operating System version

18.04

### PHP version

7.2

### Browse

[2022-02-18 19:29] github-germ commented on #7756
We also now need SAML support for our MISP instances.

[2022-02-21 10:07] hlijan commented on #6769
Hello,

It seems that the Changelog is broken for the 2.4.153 version of MISP again: https://raw.githubusercontent.com/MISP/MISP/2.4/docs/Changelog.md

The linked Changelog from [Releases page](https://github.com/MISP/MISP/releases) is outdated completely: https://www.misp-project.org/Changelog.txt

Many thanks for any update on this one, as we are using it for change analyzis etc.

[2022-02-21 19:49] adulau commented on #6769
We moved the website recently and that was indeed an issue. It should be updated and inline with the recent release:

https://www.misp-project.org/Changelog.txt

the docs directory should be also inline with the official release.

Thanks a lot for the notification.

[2022-02-21 19:49] #6769 closed, assigned to nobody

[2022-02-22 11:26] matthijsvp commented on #8142
Btw: it *does* find events that contain that specific cluster on the Event level.

[2022-02-22 14:06] 0xThiebaut opened #8156 "Bug: Auth key's allowed IPs overflow"
### Expected behavior

When creating a new auth key, I expect the allowed IPs to be validated before being stored.

### Actual behavior

When creating a new auth key with a long list of allowed IPs, MISP inserts the JSON list as-is, resulting in a truncated record. This then results in MISP throwing an `UnexpectedValueException` error when trying to JSON decode the record such as in the logs and a

[2022-02-22 17:37] arothenhaeuser commented on #8140
The functionality to merge events in a single matrix seems to be there already:
\<MISP-instance\>/users/statistics/galaxyMatrix

Maybe a low-hanging fruit?

[2022-02-22 17:38] StiveN99 commented on #7979
@Knoxpix  Have you tried resetting the passwords?

[2022-02-23 00:49] ag-michael opened #8158 "Bug: attachTagToObject api endpoint isn't working"
### Expected behavior

As documented here: https://github.com/MISP/MISP/blob/f8a444fcaac279fdb77e1eea6d03c9f826d2d680/docs/API_Doc.md#attachtagtoobject

attachTagToObject should work as implemented in PyMISP: https://github.com/MISP/PyMISP/blob/75cb39e0ca2019a961c2642fe2768734971dfa1b/pymisp/api.py#L3369

### Actual behavior

PyMISP attempting to tag an object results in error: `pymisp:Something w

[2022-02-23 09:36] Phil-ThePower-Pearce opened #8160 "Support: Install.sh preinstall check & remoteDB"
### Support Questions

Hi,

I am trying to install MISP on an AWS ubuntu 20.04 instance with a RDS mysql remote DB.

Step 1
export DBNAME="misp1"
export DBHOST="serverin.eu-west-1.rds.amazonaws.com"
export DBUSER_ADMIN="admin"
export DBPASSWORD_ADMIN="long32charpassword"
export MISP_BASEURL="url"

Step2
wget -O /tmp/INSTALL.sh https://raw.githubusercontent.com/MISP/MISP/2.4/INSTALL/INSTALL.sh

Ste

[2022-02-23 09:44] burakatabay opened #8161 "how to create Splunk misp different events on one search result"
Hi
I want to create new misp event from splunk.
but I am not able to generate different misp events within a single search.
I try this search,

| makeresults
| eval misp_ip-src = random() % 255 . "." . random() % 255 . "." . random() % 255 . "." . random() % 255, misp_ip-dst =random() % 255 . "." . random() % 255 . "." . random() % 255 . "." . random() % 255 . "," . random() % 255 . "." . random()

[2022-02-23 10:57] hlijan commented on #6769
Ok, many thanks. Just to mention that the link you provided is also not updated.

The only updated I found is this one: https://raw.githubusercontent.com/MISP/MISP/2.4/docs/Changelog.md

[2022-02-23 11:34] mamoedo commented on #5004
I'm also facing this issue when using the The Hive integration https://github.com/TheHive-Project/TheHive/issues/2222

[2022-02-23 12:07] khalavak commented on #8113
I have the same problem when using the API from the local MISP instance to create jobs for pulling feeds from servers that have been setup in MISP:

[2022-02-23 23:26] marcos-borges opened #8166 "Script showing "fatal: destination path X already exists and is not an empty directory." error on Kali linux"
After removing the following lines the script does not show this error:
https://github.com/MISP/MISP/blob/4abfac0d3b9cc519aa582f86cdf66f0dc1e1817f/INSTALL/INSTALL.sh#L3269
https://github.com/MISP/MISP/blob/4abfac0d3b9cc519aa582f86cdf66f0dc1e1817f/INSTALL/INSTALL.sh#L3270
https://github.com/MISP/MISP/blob/4abfac0d3b9cc519aa582f86cdf66f0dc1e1817f/INSTALL/INSTALL.sh#L3271
https://github.com/MISP/MISP

[2022-02-24 11:36] manosmustang opened #8168 "Howto send email from MISP"
Hello,

I am trying to find information on how/where to setup smtp server in order to send email from MISP to users.

Do I need to install an SMPT server on MISP server or I just have to configure the email.php under Config?

Thank you

[2022-02-25 10:27] Phil-ThePower-Pearce opened #8169 "Bug: install script"
### Support Questions

AWS Instance Ubuntu 20.04

sudo apt-get update && sudo apt-get dist-upgrade
sudo reboot now
<relogin>
wget -O /tmp/INSTALL.sh https://raw.githubusercontent.com/MISP/MISP/2.4/INSTALL/INSTALL.sh
bash /tmp/INSTALL.sh -c

Wasnt prompted for URL, only prompted to create misp User
(happens with -c -M)

### MISP version

2.4.152

### Operating System

Ubuntu Server

### Operating S

[2022-02-25 13:19] 01dr1ch opened #8171 "[Bug] Warning list update not reflected in search"
### Expected behavior

Once user updates (no matter if org admin, site admin or plain user with Warning Lists permissions) particular Warning list, an entry added should be visible in search results and in Event Attributes (triangle with exclamation mark).

### Actual behavior

Unless administrator clicks "Update warninglists" on left menu, the added items are not reflected in search results.

###

[2022-02-25 13:25] 01dr1ch commented on #8000
So the Schema file doesn't contain Warning list column at all, so we had to create it manually in DB + clear file cache of table schemas to refresh the cache + add it to schema (JSON) file manually.

[2022-02-26 18:38] JakubOnderka commented on #8171
Fixed in develop branch, thanks for report!

[2022-02-26 18:38] #8171 closed, assigned to JakubOnderka

[2022-03-01 08:08] 01dr1ch commented on #8002
Fixed by upgrade 2.4.152

[2022-03-01 08:08] #8002 closed, assigned to nobody

[2022-03-02 11:52] skalvaro opened #8181 "Bug: v2.4.154: update db_schema.json to version 80"
### Expected behavior

Database schema diagnostic would use the actual version '80' after update.

### Actual behavior

Database schema diagnostic is still using version '79' to compare with giving a mismatch.
expected db_version:79
actual db_version:80

### Steps to reproduce

Update a version prior to v2.4.154 to v2.4.154 (c66d718a0904e08fc66b4e13bed2270be8db700f)

### Version

2.4.154

### Oper

[2022-03-02 15:17] iosonogio commented on #1922
This is indeed an interesting feature to support automations based on querying the MISP for lists of indicators.
It would be a great thing if it could be implemented!

[2022-03-02 18:39] imidoriya commented on #7945
@iglocska do you have some base recommendations for indexing that we could start using?  My performance is extremely slow and tips like this might be a great start.  Also, what can we do to reduce the size of the logs table.  Mine (after deleting a couple years) is still over 100Gig.  I'd turn it off completely if not for the warning that it's used in the events.  Seems like logging should be sepa

[2022-03-02 21:06] 01dr1ch commented on #8181
See #8000 please. Missing perm_warninglist (tab: roles) in the schema.

[2022-03-02 22:14] elecmac392 opened #8184 "Support: Rest Client/API hanging/timing out"
### Support Questions

The rest client and API are hanging and timing out. Also, on other instances of MISP I have stood up, when going to the rest client page, the api key auto populates in the header box, but it is not auto populating on this instance where it is hanging and timing out.

### MISP version

v2.4.154

### Operating System

Ubuntu

### Operating System version

18

### PHP version

[2022-03-02 22:24] elecmac392 commented on #8184
It appears it was a routing/loopback issue on the networking side. Had to point the API script to the local ip of the server.

[2022-03-02 22:24] #8184 closed, assigned to nobody

[2022-03-02 22:27] rrmartinez opened #8185 "Support: Support for Jumbojett OIDC implementation removed"
### Support Questions

We have been using the Jumbojett OIDC implementation for a while, which was removed in the last 24hrs in a minor update. However, the migration to the new JakubOnderka client is not transparent and our misp authentication is broken.

We find this message in the logs: Jumbojett OIDC implementation is not supported anymore, please use JakubOnderka's client

Could you point me

[2022-03-03 08:34] righel commented on #8168
Hello @manosmustang
By default MISP uses php runtime to send emails, you can adjust the settings in your `php.ini` configuration file.
More info here: https://www.php.net/manual/en/mail.configuration.php

You can also edit `/var/www/MISP/app/Config/email.php` and replace the `$default` variable to replace the default behavior, for example:
[code]
But I only recommend this for debugging/development

[2022-03-03 08:49] manosmustang commented on #8168
Hi @righel ,

Why you do not recommend it for production?

At php.ini there is no username/psw for smtp server.

Thanks

[2022-03-03 09:02] righel commented on #8168
The config file `/var/www/MISP/app/Config/email.php` is tracked by git and any changes will create conflicts when you try to update your MISP instance, as it does a `git pull`.

You can add your auth parameters to servers sendmail configuration and it should work.

[2022-03-03 09:10] manosmustang commented on #8168
So next step is the configuration of Postfix

Thank you @righel

[2022-03-03 09:10] #8168 closed, assigned to nobody

[2022-03-03 09:40] righel commented on #8150
Hello @bilalsarwar16
Could you please attach the relevant bits of the error log file located in `/var/www/MISP/app/tmp/logs/error.log` ?

[2022-03-03 09:51] paalbra commented on #7945
This seems like a good idea to me :+1:

[2022-03-03 13:17] righel commented on #8151
Hello, seems you are missing the php-redis php extension. Try with:
`sudo apt-get install php-redis`

Let me know if that helps.

[2022-03-03 13:33] righel commented on #8145
Hello @EvaYiYang
The `/admin/users/login` url does not exist. How did you end up there?
the login page is `/users/login`

[2022-03-03 19:15] FoxSca commented on #4063
I have the same issue?

[2022-03-03 23:18] rrmartinez commented on #8185
Any update on this ticket? We can't install v2.4.154 without fixing this issue.

[2022-03-04 07:13] jalmarikalmari opened #8189 "New Permission group to MISP"
### Is your feature request related to a problem? Please describe.

At the moment users who are handling Events in MISP web UI are not able to modify pull/push rules or investigate Events in remote MISP(s). The problem is that only Site Admin is eligble to modify push/pull rules or investigate Events in remote MISP. Normal Event handlers should not be given Site Admin privileges as they are not le

[2022-03-04 09:40] skalvaro commented on #8181
Updating to v2.4.155 solves this particular issue.

[2022-03-04 09:40] #8181 closed, assigned to JakubOnderka

[2022-03-04 10:18] skalvaro opened #8190 "v2.4.155: ALTER table organisations MODIFY description varchar(255) NOT NULL DEFAULT ''; fails due to data truncation"
### Support Questions

Updating to v2.4.155 triggers changes on table organisations. One of the changes is on field description which would change it from text to varchar(255). This particular change fails whith an error if you already have data in that tabel with a description longer than 255 characters.

Does this field really need to change from text to varchar?

### MISP version

2.4.155

###

[2022-03-04 10:28] skalvaro commented on #8190
As a temporary work-around I checked what was the longest string in the description field and changed the SQL command accrodingly so at least the type is currently varchar but with a different length than what the check in the schema diagnostic is expecting.
I have seen description fields with a length as high as 1210.

[2022-03-04 10:53] Mikiped00 opened #8191 "Bug: Creating object attribute with compound name, multiple option doesn't work"
### Expected behavior

When an object attribute has compound name with multiple option, It should expand .

### Actual behavior

When an object attribute has compound name with multiple option, It doesn't expand.

### Steps to reproduce

1. Create Object JSON Format via API
2. Add attribute with compound name
3. Add multiple option
4. Restart MISP
5. Create Object in Event
6. Expand attribute

###

[2022-03-04 12:01] josephka3 opened #8192 "Bug: Feed can't be changed from Fixed Event to New Event and vie versa"
### Expected behavior

On List Feeds page, when we try to edit a feed and change the Target Event value between "New Event Each Pull" and  "Fixed Event", we should be able to switch between them.

### Actual behavior

The edit does not take effect although it says feed updated.
It will show "New Event Each Pull" and  "Fixed Event" depending upon what it was set to during Add feed phase.
So basical

[2022-03-07 10:03] JakubOnderka commented on #8185
Hello, in `/var/www/MISP/app` you have to run:
[code]

[2022-03-07 10:03] JakubOnderka commented on #8185
Hello, in `/var/www/MISP/app` you have to run:
[code]

[2022-03-07 13:00] amuehlem opened #8195 "Bug: Background jobs starting with error"
### Expected behavior

the background jobs should start without any errors, so supervisord can start them.

### Actual behavior

manually trying to start a worker, throws an exception:

2022-03-07 12:58:13 Info: [WORKER PID: 130625][cache] - starting to process background jobs...
Error: Call to a member function blpop() on null
#0 /var/www/MISP/app/Console/Command/StartWorkerShell.php(65): Backgro

[2022-03-07 13:11] righel commented on #8195
Hello @amuehlem
Seems there is some issue with your Redis connection. Please check the redis connection settings under `/servers/serverSettings/SimpleBackgroundJobs` are set and correct:
![image](https://user-images.githubusercontent.com/1659902/157040217-7adb44f2-49f1-4901-9cdd-b6922aba304f.png)
Exact values can be different in your setup.

If those are OK, I would suggest checking if Redis is ru

[2022-03-07 16:56] rrmartinez commented on #8185
Requiring 1.0.0-rc1 works. Could the  instructions in https://github.com/MISP/MISP/tree/2.4/app/Plugin/OidcAuth we properly updated? My first instinct  when I got the error that the "Jumbojett OIDC implementation is not supported anymore" was to run php composer.phar require jakub-onderka/openid-connect-php and that doesn't work.

[2022-03-08 05:32] bilalsarwar16 commented on #8150
issue has been resolved.
    On Thursday, March 3, 2022, 02:40:33 PM GMT+5, Luciano Righetti ***@***.***> wrote:

Hello @bilalsarwar16
Could you please attach the relevant bits of the error log file located in /var/www/MISP/app/tmp/logs/error.log ?

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.
You are recei

[2022-03-08 07:20] #8150 closed, assigned to nobody

[2022-03-08 09:45] pietrogu opened #8198 "Feature Request: Remove authentication"
### Is your feature request related to a problem? Please describe.

Hi,

i need to expose a MISP on the internet to so that it can be publicly accessible by anyone

### Describe the solution you'd like

I would like to have the possibility to disable the login form or to give the opportunity to login without credentials
My idea was to add a setting that lets enable a "free login access" to the log

[2022-03-08 14:56] dazed51 opened #8200 "Bug: encryption.jar possible log4j vulnerbility"
### Expected behavior

scanner not to detect old versions of log4j vulnerability in encryption.jar file

### Actual behavior

scanner detected old version of encryption.jar file that could be prone to log4j vulnerability

### Steps to reproduce

scanner picked up the following files and their locations:

    Path             : /opt/flare-misp-service/misp-trans-client-rest-service/config/Encryptio

[2022-03-08 15:04] Rafiot commented on #8200
AFAIK, this is related to https://github.com/cisagov/flare-misp-service and has nothing to do with MISP itself. Based on their commit history, they fixed it.

If you still have the vulnerability on your systems, you need to update them.

[2022-03-08 15:04] #8200 closed, assigned to nobody

[2022-03-08 15:12] dazed51 commented on #8200
ok, thank you

[2022-03-08 15:17] jjvquest commented on #8005
Can you please point out how to upgrade the virtualenv to 3.8?

[2022-03-08 16:39] github-germ opened #8201 "Notice: Trying to access array offset on value of type null in [/var/www/MISP/app/Model/Feed.php, line 969]"
### Support Questions

See the log output. Does this line of code need to first ensure the array offset exists and is not null?

https://github.com/MISP/MISP/blob/2.4/app/Model/Feed.php#L969

### MISP version

2.4.153

### Operating System

RedHat

### Operating System version

8.5

### PHP version

7.4.28

### Browser

N/A

### Browser version

N/A

### Relevant log output

[code]

### Extra atta

[2022-03-09 16:52] pietrogu opened #8202 "Help to remove authentication"
### Support Questions

I would like to remove authentication for a public misp instance that I'm creating.

Did someone have success to do this?

Thank you
Pietro

### MISP version

2.4.153

### Operating System

Ubuntu

### Operating System version

20.04

### PHP version

7.4

### Browser

_No response_

### Browser version

_No response_

### Relevant log output

_No response_

### Extra attach

[2022-03-10 08:46] War10ck3 opened #8203 "Support: Issue with MISP and Azure Sentinel Integration"
### Support Questions

Hi Everyone,

We're trying to integrate MISP with Azure Sentinel as per the below documentation:

- https://techcommunity.microsoft.com/t5/microsoft-sentinel-blog/integrating-open-source-threat-feeds-with-misp-and-sentinel/ba-p/1350371

We've deployed the below script and scheduled a "cron":

- https://github.com/microsoftgraph/security-api-solutions/tree/master/Samples/MISP

[2022-03-10 16:39] mm4work commented on #6705
Still a problem.
 ./cake admin runUpdates --help
Usage:
cake admin [subcommand] [-h] [-v] [-q]

Subcommands:

updateJSON                  Update the JSON definitions of MISP.
setSetting                  Set setting in PHP config file.
live                        Set if MISP instance is live and accessible
                            for users.
reencrypt                   Reencrypt encrypted values

[2022-03-10 16:43] IshanPE commented on #5720
Any updates on this one ? i am facing the same issue  . I even did an rm on the installation of /tmp for misp user twice. but nothing helps. also tried to see any logs on the /var folder for misp/app. Can anyone assist , i am getting below errors.

[Install]
WantedBy=multi-user.target
#############################################################  (60%)
Next step: Running core Cake commands to set

[2022-03-11 06:23] IshanPE commented on #5720
Also i see blank base url . attaching the screenshot. i am very new to this kindly help.
![image](https://user-images.githubusercontent.com/101351327/157813845-92eb3270-bd76-479e-964a-2c72e6a6add2.png)

[2022-03-11 23:41] github-germ opened #8204 "Support: Why does Event "Populate from..." trigger CSRF black-holed?"
### Support Questions

When adding a new event and then attempting `Populate from...` with a freetext list of IPs, the browser responds with
[code]
See `error.log` this triggers below:

How can we make this work?

Thanks!

### MISP version

2.4.153

### Operating System

RedHat

### Operating System version

8.4

### PHP version

7.4

### Browser

Chrome

### Browser version

_No response_

### Re

[2022-03-13 18:13] Pilly170 commented on #5516
I also have this
Ubuntu server 20.04

[2022-03-14 08:14] gallypette opened #8206 "Bug: Error in install script"
### Expected behavior

When installing MISP with `bash INSTALL.sh -c -M` installation finishes and the instance is functional (UI and API) but there is the following error just before getting the default credentials:
[code]

### Actual behavior

no errors.

### Steps to reproduce

Install in a fresh ubuntu 20.04 with `bash INSTALL.sh -c -M`

### Version

2.5.155

### Operating System

Ubuntu

###

[2022-03-14 14:51] cybgit commented on #7999
We appear to have this issue after upgrading from 2.4.143 to 2.4.153. An existing (custom) taxonomy now has all tags set to local only.  Any new tags we add to the taxonomy appear to be set as global which is good but all our previous tags in the taxonomy have this local only flag set.

If i trace the UI calls when updating a tag manually to unset local only i can see in the request that it sets `

[2022-03-14 16:34] Pilly170 commented on #8206
I have the same
https://github.com/MISP/MISP/issues/8169

Although it works, the modules section is incomplete/broken

[2022-03-14 16:43] Pilly170 commented on #8169
Ive tested on aws instance and virtualbox. Ive also tried redhat.. all give errors during install
Ive also tried using a env variable for url.  (http://localhost or http://127.0.0.1) but then get another error that it cant connect

[2022-03-14 21:41] utkonos commented on #8206
I am encountering the same problems as above. Looking back through the install output there are errors in various locations.

[code]

Python deps errors/warnings:

[code]

Final error:

[code]

[code]

I reported part of the above in 3/2020:
https://github.com/MISP/MISP/issues/5722

[2022-03-14 21:46] utkonos commented on #5723
Whole new set of errors on install. This one is gone.

[2022-03-14 21:46] #5723 closed, assigned to nobody

[2022-03-14 21:46] utkonos commented on #6246
Whole new set of errors on install now. This one is gone.

[2022-03-14 21:46] #6246 closed, assigned to nobody

[2022-03-15 05:00] djha983 opened #8207 "MISP High availability deployment"
### Support Questions

Hello Team,

I am trying to deploy MISP in High availability mode.Is it supported and if yes how we can achieve this?
I have seen this article MISP HA[https://github.com/MISP/MISP/issues/3341#issuecomment-397348429 ](https://github.com/MISP/MISP/issues/3341#issuecomment-397348429 ) however there is no clear instructions on how to achive HA in clustered environment.

I am pla

[2022-03-15 10:07] pietrogu commented on #8202
I resolved the issue. For someone that would have the same need, here is how to do it:

In the MISP configuration file, add the following line

`RequestHeader add dummy-auth "foobar"`

where foobar is some value you choose.

_Note: do not use "\_", instead use "-" then PHP will convert into "\_"_

Then configure the CustomAuth plugin in the following way (**IMPORTANT: dummy_auth must be capitalize

[2022-03-15 10:07] #8202 closed, assigned to nobody

[2022-03-15 10:47] ahmedxuae91 opened #8209 "Support: Pull Error - Failed downloading the event [HttpSocketJsonException] Could not parse response as JSON"
### Support Questions

Hi MISP Community and Support Team,

I synced MISP with server 1 and everything is working perfect.

My problem is only with server 2. as i configured it similar to server 1 for pull only and connectivity is working fine.

However, when pulling from server 2 i am getting below error:

`2022-03-15 13:39:01 Error: Failed downloading the event bea00646-9fcf-40c4-8955-ad0f28986d

[2022-03-15 14:46] ahmedxuae91 commented on #8203
The problem was in the configurations added for the script.

After changing it is fixed.

You may close the ticket.

[2022-03-15 19:51] ahmedxuae91 commented on #8209
Update: the problem seems to be from remote server. I just synced it with another server and still facing same issue.
However, still not able to know why it is failing to sync.

[2022-03-15 20:17] github-germ opened #8210 "Support: Where does AppModel.php learn the expected db_version for updateDatabase"
### Support Questions

Want to understand the db update process better. I see that `AppModel.php` has a big `case` statement in `updateDatabase`, and in the case of say an upgrade from 2.4.148 to 2.4.153 the cases for 73-79 will be invoked as the current 2.4.148 db_version found in the `admin_settings` table is 72.

Here's what I'm missing...
1. Where does the code learn the expected db_version fo

[2022-03-16 09:30] ahmedxuae91 commented on #8209
Update: as an alternative solution, i tried to use PyMISP feed generator to extract events and confiugure a feed.
But i am getting this error for all events it is trying to fetch:

to_feed() got an unexpected keyword argument 'with_local_tags' bb08a775-111c-41fa-9c63-04815bc6e9f6

[2022-03-16 09:50] righel commented on #7486
Hello @fink08 ,
Did you manage to fix your proxy issues? Could you please attach any relevant contents of your MISP error logs after you try to download a feed/enrich an event?
The error log is located in /var/www/MISP/app/tmp/logs/error.log

I created this guide that may help too: https://github.com/MISP/MISP/wiki/Proxy

Let me know if that helps.

[2022-03-16 12:17] #7075 closed, assigned to nobody

[2022-03-16 16:40] augustvansickle opened #8211 "Help with Web UI in accordance with MISP VM"
I cant log into the admin account for the web UI, im logged on to the MISP VM with the "MISP" credential. Is there more config needed?attaching the error I get.
![MISP Status](https://user-images.githubusercontent.com/86009848/158641621-e5f3a6ef-b65d-49cf-801a-310834775271.png)
![Screenshot 2022-03-10 120210](https://user-images.githubusercontent.com/86009848/158641782-39d0b542-22a8-4bde-97d5-2643

[2022-03-16 17:18] Airborne1974 opened #8212 "Support: An Internal Error Has Occurred. Error: An Internal Error Has Occurred. Please try your action again. If the problem persists, please contact administrator."
### Expected behavior

Hi,

expected behavior is to view event when clicked on it.

### Actual behavior

An Internal Error Has Occurred.

Error: An Internal Error Has Occurred. Please try your action again. If the problem persists, please contact administrator.

### Steps to reproduce

Login to misp. Try to open event.

### Version

2.4.155

### Operating System

CentOS

### Operating System versi

[2022-03-17 08:15] ahmedxuae91 commented on #8209
I was able to pull them as a feed by disabling with_distribution and with_local_tags.

Pulling directly from listed servers didn't work. I assume this is a bug as remote server has many custom distribution lists/sharing groups and local Tags.

[2022-03-17 11:54] cybgit commented on #7925
bump. Anyone able to progress this at all? We could really do with this feature so i can get functionality added to XSOAR integration.

[2022-03-17 12:16] patchander opened #8214 "Support: MISP Could not fetch feed"
### Support Questions

Hello I have an issue with my MISP instance pulling a particular feed. I have searched GitHub and found a similar issue: https://github.com/MISP/MISP/issues/814

Currently I have a feed in MISP which has initially pulled events but is now reporting errors each time I pull events and shows "**Could not fetch feed**" within jobs. Please find attached screenshot from the Jobs p

[2022-03-17 14:43] 3c7 opened #8220 "Bug: Integrity constraint violation: 1052 Column 'id' in where clause is ambiguous during OidcAuth login"
### Expected behavior

Successful login:

[code]

### Actual behavior

Plugin produces an error while fetching user data:

[code]

### Steps to reproduce

Perform a login with a fresh setup MISP (`86832556a408818ebc25cfef3d74664dba08f9a3`) instance.

### Version

86832556a408818ebc25cfef3d74664dba08f9a3

### Operating System

Ubuntu

### Operating System version

20.04

### PHP version

7.4

### B

[2022-03-17 16:11] JakubOnderka commented on #8220
Thanks for report, this is already fixed in `develop` branch.

[2022-03-17 16:11] #8220 closed, assigned to nobody

[2022-03-17 19:56] ag-michael opened #8221 "Bug: MISP does not cleanup tmp files when it encounters some errors causing the system to run out of tmp disk space"
### Expected behavior

Cleans up after tmp files when it encounters exceptions

### Actual behavior

multi-gigabyte tmp files for the Apache process build up, filling up the system and causing a denial-of-service condition where other operations that depend on free disk space in /tmp to fail.

### Steps to reproduce

Have a very large number of events and attributes
attempt to add and search many

[2022-03-17 21:12] github-germ commented on #8204
This has become a big issue for us as `Populate from...` is a common use case for our analysts. Anyone else seeing this?

[2022-03-17 21:20] rupiewicz opened #8222 "Feature Request:"
### Is your feature request related to a problem? Please describe.

can i find delete atribute from GUI ?

### Describe the solution you'd like

hello i need find delete atribute from search button . Can you add it  ?

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-03-17 21:55] adulau commented on #8204
Not really. I did some tests on recent version and I was not able to trigger it.  Just wondering, is this only on that interface or can you trigger it at some other places?

[2022-03-17 22:06] github-germ commented on #8204
@adulau -- really appreciate your attention on this!!

* Our User Acceptance Test is seeing in `Populate from...`, `Enrich Event`, and perhaps other features.
* We suspect these may be all the same root cause.
* Did you test this on 2.4.153, which is our release? We did not see this in 2.4.148.

[2022-03-17 22:07] alainsilva opened #8223 "MISP 2.4.155 - No worker active"
After upgrade MISP from 2.4.143 to 2.4.155 version Workers cannot start. I cannot push events.

Exampe:
Worker type: default
Jobs in the queue: 1
Queue status: Issues prevent jobs from being processed. Please resolve them below.

 sudo -u apache bash /var/www/MISP/app/Console/worker/start.sh
Stopping workers
   There is no workers to stop ...

Creating workers
Starting worker ... Done

Creating wo

[2022-03-18 00:13] teward opened #8224 "Feature Request: Allow restSearch queries against Events and Attributes (or even searches in general) to filter based on the sharing group ID"
### Is your feature request related to a problem? Please describe.

One of the problems when using pymisp or the API to directly pull attributes or events is when your API key is in multiple sharing groups for multiple types of intel, but you only want specific data.

Currently, there is no way to filter on the sharing group that gave you access to the events - i.e. if i have two groups, one is 'a

[2022-03-18 09:02] righel commented on #8223
Hello @alainsilva
Which PHP version are you running?
The error **Call to undefined function json_encode()** looks unrelated to a MISP version update, have you changed your PHP version?

[2022-03-18 09:17] righel commented on #8207
Hello @deepak-eventtracker
There is no out of the box / official way to set up HA for MISP, however there are some resources that may help you available:
* https://github.com/0xtf/HAMISPA / https://www.youtube.com/watch?v=lUK3otmIcH4
* https://blog.malware.re/2021/02/21/Rapid-MISP-AWS/index.html
* For a containerized solution take a look at https://github.com/coolacid/docker-misp

If you manage to

[2022-03-18 09:21] iglocska commented on #8212
Could you update to the latest version and retry? Should work correctly now.

[2022-03-18 10:06] iglocska commented on #8224
I am shocked we don't have that yet o.O

[2022-03-18 11:14] righel commented on #8210
Hello @github-germ
Here is a breakdown for a common update flow:
1. User logs in / `UsersController:login()`
2. `UsersController::beforeFilter()`
3. `AppController::beforeFilter()`
4. `AppModel::runUpdates()`
The current database version is fetched from the `misp.admin_settings` table:
https://github.com/MISP/MISP/blob/ab1305cc18ef23a8d0c2d7d354d6fc8901ab19ad/app/Model/AppModel.php#L2103-L2106
5.

[2022-03-18 11:34] alainsilva commented on #8223
Hello @righel

Follows PHP version.

# php -version
PHP 7.4.28 (cli) (built: Mar  7 2022 13:37:01) ( NTS )
Copyright (c) The PHP Group
Zend Engine v3.4.0, Copyright (c) Zend Technologies
    with Zend OPcache v7.4.28, Copyright (c), by Zend Technologies

php74-php-pecl-igbinary-3.2.7-1.el7.remi.x86_64
php74-php-7.4.28-1.el7.remi.x86_64
oniguruma5php-6.9.7.1-1.el7.remi.x86_64
php74-php-mbstring-7.4

[2022-03-18 11:46] mirktmirkt commented on #2353
Hello,

Adding cert to /app/Lib/cakephp/lib/Cake/Config/cacert.pem helps..

Found the answer here:
https://github.com/MISP/MISP/issues/3299

Regards,
mirkt

[2022-03-18 11:55] alainsilva commented on #8223
More information about PHP Version.

![image](https://user-images.githubusercontent.com/55547807/158998489-abe8e946-61a3-43ec-93b3-24b30d32ad69.png)

Redis info

![image](https://user-images.githubusercontent.com/55547807/158998695-cd3a7a59-da27-4fe5-8925-3f4aeabcc8da.png)

Workers Stoped

![image](https://user-images.githubusercontent.com/55547807/158998169-bf4556bb-fcb1-4a80-a883-b24d8011a2ee.pn

[2022-03-18 12:57] righel commented on #8223
Are you using CentOS?
Try running:
`yum install php-json`
And restart the workers.

[2022-03-18 13:10] github-germ commented on #8210
Perfect. Many thanks. I missed your step 5 above. Two follow-up questions:
1. Re' `DB_CHANGES`...
* When I look, for example, at the span from `72` to `79` (e.g. for 2.4.148 -> 2.4.153) why are so many set `false`, i.e. why were the updates added to the  big `case` block in `updateDatabase` but then not executed?
2. Re' `db_schema.json` ...
* Why does it appear that `db_schema.json` does not match

[2022-03-18 13:32] righel commented on #8210
1. It was a mistake, the `false/true` in the `AppModel::DB_CHANGES` array means that the given version requires a mass logout of the users, updated the previous comment to avoid future confusions.
2. This diagnostic could in fact be misleading, in a couple of scenarios such as:
   * Making manual changes in your database, such as new indexes/other.
   * Having a database engine/version that differ

[2022-03-18 13:46] github-germ commented on #8210
1. OK, yea... I see `DB_CHANGES` is for logout. So indeed in my example all the cases up to `79` did run.
2. I'm still confused about `db_schema.json` delivered with the release as it has schema settings that I cannot find in the `updateDatabase` directives in the `case` statement.

[2022-03-18 14:03] iglocska commented on #8210
@righel is spot on with the explanation of the flow. DB changes has 2 separate functionalities, the keys are indeed the list of scripts to execute and the values (true/false) just indicate the mass logout. All cases up to 79 must have been executed for you, we basically only proceed to the next update once the previous one has been successfuly applied.

For the schema: It's as @righel explains, si

[2022-03-18 14:28] alainsilva commented on #8223
Hello man! Thanks for your help!

I use Oracle Linux 7

I installed php-json. Please, see results:

# sudo systemctl restart httpd
# sudo systemctl restart misp-workers
# sudo systemctl status misp-workers
 misp-workers.service - MISP workers
   Loaded: loaded (/etc/systemd/system/misp-workers.service; enabled;
vendor preset: disabled)
   Active: active (running) since Fri 2022-03-18 10:16:01 -03;

[2022-03-18 14:45] righel commented on #8223
Anything new in `/var/www/MISP/app/tmp/logs/error.log` ?

Please check if this helps: https://github.com/MISP/MISP/wiki/Frequently-Asked-Questions#23-i-have-issues-with-misp-workers-how-do-i-solve-them
You probable have to change `www-data` -> `apache` if that's the webserver user in your OS.

[2022-03-18 14:45] packet-rat commented on #8210
_Editorial comment:  Thanks for the timely and effective responses!  They are much appreciated._

[2022-03-18 14:55] righel commented on #8223
Anything new in `/var/www/MISP/app/tmp/logs/error.log` ?

Please check if this helps: https://github.com/MISP/MISP/wiki/Frequently-Asked-Questions#23-i-have-issues-with-misp-workers-how-do-i-solve-them
You probable have to change `www-data` -> `apache` if that's the webserver user in your OS.

[2022-03-18 15:43] alainsilva commented on #8223
See results:

[root@myserver ~]# sudo chown -R apache:apache /var/www/MISP
[root@myserver ~]# sudo chmod -R 750 /var/www/MISP
[root@myserver ~]# sudo chmod -R g+ws /var/www/MISP/app/tmp
[root@myserver ~]# sudo chmod -R g+ws /var/www/MISP/app/files
[root@myserver ~]# sudo chmod -R g+ws /var/www/MISP/app/files/scripts/tmp
[root@myserver ~]# sudo service redis restart # restart redis
Redirecting to /

[2022-03-18 16:00] righel commented on #8223
Just a side note: when interacting with MISP cli, it is recommended to use the same user as the webserver:
For example:
`sudo -u apache /var/www/MISP/app/Console/cake Admin restartWorkers`
Otherwise it can create issues due to permissions.

I suspect the issue is related to Redis being miss-configured or not running:
Please check this guide: https://github.com/MISP/MISP/wiki/Frequently-Asked-Quest

[2022-03-18 16:16] alainsilva commented on #8223
See new results:

[root@myserver ~]# sudo -u apache /var/www/MISP/app/Console/cake Admin restartWorkers
Notice Error: unserialize(): Error at offset 0 of 4 bytes in [/var/www/MISP/app/Vendor/kamisama/resque-status/src/ResqueStatus/ResqueStatus.php, line 127]

2022-03-18 16:06:01 Notice: unserialize(): Error at offset 0 of 4 bytes in [/var/www/MISP/app/Vendor/kamisama/resque-status/src/ResqueStatus

[2022-03-18 16:19] mellonb opened #8225 "Support:"
### Support Questions

MISP-workers service is not starting up properly, is not showing as failed in systemctl
![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/31422229/159041240-a57ebb98-643c-47d6-9315-2411e9fc2339.png)
.

### MISP version

2.4.155

### Operating System

CentOS

### Operating System version

7.9.2009

### PHP version

7.4.28

### Browser

_No response_

### B

[2022-03-18 18:19] github-germ commented on #8204
Just tested with 2.5.155 -- issue persists.
Building 2.4.156 now -- will test and report back later.

If this is not a MISP bug, then please help us understand how to diagnose to isolate root cause for the CSRF as this is a show stopper for a production deployment we have planned for this Monday.

As always, thanks a ton for all your help!!

[2022-03-18 18:46] MrDuckBr opened #8226 "Support: Problem on misp with redis"
### Support Questions

Initially misp had a problem with workers, which did not start, but received external information normally, when checking the logs, I realized that there was an error with Redis, when trying to fix it, I lost access to the settings page, analyzing the logs again and checking redis, the logs now show the problem that the redis class is not working, I followed some other issue

[2022-03-18 18:49] #8210 closed, assigned to nobody

[2022-03-18 19:18] packet-rat commented on #8204
I can also trigger it with [Publish].
So that's
(1) [Populate from]
(2) [Enrich]
and now,
(3) [Publish]

[2022-03-18 19:19] packet-rat commented on #8204
![2022-03-17_15-58-50](https://user-images.githubusercontent.com/3220193/159070037-94218028-5b8b-4d3f-a8a9-3347b93b8d27.png)
![2022-03-17_15-44-24](https://user-images.githubusercontent.com/3220193/159070069-252dc836-8e82-4c3d-9e83-1fa53faa390c.png)
![2022-03-17_15-44-41](https://user-images.githubusercontent.com/3220193/159070091-2a978422-19fc-44cf-8956-ba8030e8fb8b.png)
![2022-03-17_15-44-57](ht

[2022-03-18 19:20] packet-rat commented on #8204
Any data can be pasted into Freetext Import window, it doesn't impact the outcome.  Use "1.2.3.4" is/as required

[2022-03-18 19:22] packet-rat commented on #8204
### (2) Enrich
![2022-03-17_15-58-50](https://user-images.githubusercontent.com/3220193/159070509-23c189e9-51e8-44e4-b1de-1a4f40a35536.png)
![2022-03-17_17-03-34](https://user-images.githubusercontent.com/3220193/159070574-abfb736d-bda7-48b2-b004-c4419cd841bb.png)
![2022-03-17_17-03-59](https://user-images.githubusercontent.com/3220193/159070602-e14f375f-f609-4bb3-8520-1d65dfb877e5.png)
![2022-03-

[2022-03-18 19:26] packet-rat commented on #8204
Note that unlike previous spurious CSRF errors, these are constant and repeatable.  Tested with multiple browsers - same repeatable outcomes.  Most clicks to get to failed state are 1, 2, 3 (in seconds)

[2022-03-20 16:54] EvaYiYang commented on #8145
Hi @righel, we are using AzureAD module to authenticate users. The issue happens whenever an administrator logs in, right after they click Login button.

[2022-03-20 23:04] marcrusa opened #8232 "Bug: Database reveal benign deltas"
### Expected behavior

No benign issues detected.

### Actual behavior

The table schemas are correct but reporting as different.

### Steps to reproduce

Go into diagnostics and click on Debug Mode: Reveal benign deltas

### Version

2.4.156

### Operating System

Ubuntu

### Operating System version

18.04

### PHP version

7.4

### Browser

Chrome

### Browser version

_No response_

### Releva

[2022-03-21 08:23] 3c7 opened #8233 "Bug: Missing "Publish Event" button for regular users"
### Expected behavior

When viewing unpublished events of the own organisation as a regular user, there should be a publish button on the left hand side menu, if the user is allowed to publish events based on the user role.

### Actual behavior

There (most of the times?) isn't. However, the small publish button on the event index page is there. For administrators, the button on event pages is ava

[2022-03-21 09:17] iglocska commented on #8226
php redis is not installed.
[code]

If you have multiple PHP versions installed and are using an alternate PHP
version installed as say php 7.4:

[code]

Don't forget to restart apache afterwards:

[code]

On Fri, Mar 18, 2022 at 7:46 PM MrDuckBr ***@***.***> wrote:

[2022-03-21 09:18] iglocska commented on #8226
php redis is not installed.

`sudo apt install php-redis`

If you have multiple PHP versions installed and are using an alternate PHP
version installed as say php 7.4:

`sudo apt install php7.4-redis`

Don't forget to restart apache afterwards:

`service apache2 restart`

[2022-03-21 09:21] wezzlaren opened #8234 "Bug: ERROR: SQLSTATE[42S22]: Column not found: 1054 Unknown column 'Event.protected' in 'field list'"
### Expected behavior

Pulling events from another misp-node

### Actual behavior

After pulling from another misp-node with an older version(2.4.153) I see the following failed job with error:

ERROR: SQLSTATE[42S22]: Column not found: 1054 Unknown column 'Event.protected' in 'field list'

I think this has to do with the new feature "Event protected".

### Steps to reproduce

Pull from misp-node

[2022-03-21 14:20] alainsilva opened #8235 "MISP 2.4.155 - MISP-Modules Active: failed"
MISP-Modules failed

[root@myserver ~]# systemctl status misp-modules -l
● misp-modules.service - MISP enhancement modules
   Loaded: loaded (/etc/systemd/system/misp-modules.service; enabled; vendor preset: disabled)
   Active: failed (Result: core-dump) since Mon 2022-03-21 10:41:08 -03; 12min ago
  Process: 20500 ExecStart=/var/www/cgi-bin/misp-modules-venv/bin/misp-modules (code=dumped, signal

[2022-03-21 15:10] alainsilva commented on #8223
Misp-workers running and working fine.

**Solution:**
Install php-json
yum install php-json

Renamen file /usr/bin/php
mv /usr/bin/php php.bkp

Link PHP74 to PHP path
ln -s /opt/remi/php74/root/usr/bin/php /usr/bin/php

Reboot to make sure all services are started correctly.

Reference: https://github.com/amuehlem/MISP-RPM/blob/master/INSTALL.md

Thanks @righel [righel](https://github.com/righel)

[2022-03-21 15:10] #8223 closed, assigned to nobody

[2022-03-21 15:16] Airborne1974 commented on #8212
It works now. Thank you very much.

[2022-03-21 15:16] #8212 closed, assigned to nobody

[2022-03-21 16:08] #8233 closed, assigned to nobody

[2022-03-21 16:09] iglocska commented on #8233
Thanks, indeed, that was stupid!

[2022-03-21 21:04] teward commented on #7942
So this took an eon for me to get back to, and I apologize for leaving it stale.  But inertia at the workplace is inertia.

This worked, though I had to do some forcing to make stuff work 'cause someone dirtied things up.  And broke system Python :P

But once I applied the tasks from @iglocska it worked fine.

However, the core question remains here of how to migrate from one server to another.  D

[2022-03-22 00:58] elouahidiahmed commented on #7766
Hi @righel, I tried your commands but I get an error after this command:
$ sudo -u apache  git submodule update --init --recursive
fatal: reference is not a tree: cf14e6546ec44e3369e3531add11fdb946656280
Unable to checkout 'cf14e6546ec44e3369e3531add11fdb946656280' in submodule path 'app/Lib/cakephp'

[2022-03-22 06:20] skalvaro commented on #8190
Solved in v2.4.156.

[2022-03-22 06:20] #8190 closed, assigned to nobody

[2022-03-22 07:04] righel commented on #7766
Hello @elouahidiahmed
did you run this command before the update?
`sudo -u apache git submodule sync`

[2022-03-22 08:51] samitainio opened #8236 "Feature Request: Option to disable logging for non-security features such as attribute modifications and object references"
### Is your feature request related to a problem? Please describe.

Background on the issue: I am running a custom made enrichment script to pull in more data to the event and this enrichment script creates objects with attributes and references between objects. Sometimes there can be up to thousands of objects with attributes per event. All these objects and attributes with their changes are then

[2022-03-22 09:20] iglocska commented on #8236
In general we consider these as essential as they're used to build the event history.

With that said, I totally see your point and we should have a way of disabling CRUD action logs on demand if you don't care about them. I'll keep this in mind and will check if it's something we can do on the quick!

[2022-03-22 09:57] SivaPrem commented on #8151
Thanks Sir , I did have installed PHP-redis already on this machine - [php-redis is already the newest version (5.3.6+4.3.0-1]

Not sure Why I have this error , a bit stuck

[2022-03-22 12:03] elouahidiahmed commented on #7766
Yes I run it successfully before. It's the last command that doesn't work.

I updated CakeResque using these steps( from [the doc](https://misp.github.io/MISP/UPDATE/)

`
cd /var/www/MISP/app

- Edit composer.json so that cake-resque is allowed to be updated
- "kamisama/cake-resque": ">=4.1.2"

vim composer.json
php composer.phar self-update
- if behind a proxy use HTTP_PROXY="http://yourproxy:por

[2022-03-22 14:03] Phil-ThePower-Pearce commented on #8169
Now also tried on ubuntu 22.04, same error
have to admit. I think Im going to give up on MISP

[2022-03-22 17:19] teward commented on #4422
I'm just going to give an update what I did to make this work on the system.

We run MISP on Ubuntu systems, so we did a clean Postfix install with a smarthost setup that points to our email system that actually can send out the door.  This way, when MISP or the PHP function pull in 'mail' commands and use sendmail, it goes to Postfix via localhost, and then to the actual proper smarthost.

It'd b

[2022-03-22 18:00] alainsilva opened #8237 "MISP 2.4.156 - misp-modules does not working"
misp-modules do not start

OS: Oracle Linu 7

[root@myserver bin]# systemctl status misp-modules
● misp-modules.service - MISP enhancement modules
   Loaded: loaded (/etc/systemd/system/misp-modules.service; enabled; vendor preset: disabled)
   **Active: failed** (Result: core-dump) since Mon 2022-03-21 13:50:03 -03; 1 day 1h ago
  Process: 9940 ExecStart=**/var/www/cgi-bin/misp-modules-venv/bin/m

[2022-03-22 18:31] alainsilva commented on #8237
**Solution:**
cd /var/www/cgi-bin/misp-modules-venv/lib/python3.6/site-packages/misp_modules-1.0-py3.6.egg/misp_modules/modules/expansion mv ocr_enrich.py ocr_enrich.py.disabled mv pdf_enrich.py pdf_enrich.py.disabled mv qrcode.py qrcode.py.disabled
systemctl restart misp-modules

**Results:**
 misp-modules.service - MISP enhancement modules
   Loaded: loaded (/etc/systemd/system/misp-modules.serv

[2022-03-22 18:31] #8237 closed, assigned to nobody

[2022-03-22 18:32] alainsilva commented on #8235
**Solution:**
cd /var/www/cgi-bin/misp-modules-venv/lib/python3.6/site-packages/misp_modules-1.0-py3.6.egg/misp_modules/modules/expansion mv ocr_enrich.py ocr_enrich.py.disabled mv pdf_enrich.py pdf_enrich.py.disabled mv qrcode.py qrcode.py.disabled
systemctl restart misp-modules

**Results:**
 misp-modules.service - MISP enhancement modules
   Loaded: loaded (/etc/systemd/system/misp-modules.serv

[2022-03-22 18:32] #8235 closed, assigned to nobody

[2022-03-22 22:59] github-germ commented on #8204
I'm new to CSRF detection but perhaps someone can guide me here... Thanks in advance!!

I've started adding debug prints to `_validateCsrf` in `SecurityComponent.php`. When printing the `Session` array I see the following difference with `Populate from...` and `Add Attribute` although the browser HTML `form` for both does have the hidden token details as below:
[code]
However...
* `Add Attribute`

[2022-03-23 09:02] righel commented on #8204
Hello,
I been trying to reproduce this bug without success.

1. Which type session storage are you using? PHP, Database or Redis?
2. Could you please share your MISP session settings values:
     - Session.autoRegenerate
     - Session.checkAgent
     - Session.defaults
     - Session.timeout
     - Session.cookieTimeout
3. Do you have a load balancer in front of your MISP instance or a HA setup?

[2022-03-23 12:57] github-germ commented on #8204
Hi @righel -- Thanks for assisting!! I also cannot reproduce this on a standalone Ubuntu VM running an off-the-shelf MISP 2.4.156. We see this in our MISP RH8.4 docker container in our enterprise environment.

What I find "interesting" is what appears to be the same HTML `form` hidden token details are `POST`-ed and something between that and `_validateCsrf` produces different `Session` content.

[2022-03-23 13:14] JakubOnderka commented on #8236
You can enable new audit log system, that stores events changes like attribute modification in different table. So then you can sometimes truncate just `audit_logs` table and security logs will still stay in `logs` table.

[2022-03-23 14:47] github-germ commented on #8204
1. MISP=2.4.156, OS=RH8.4, PHP=7.4.28, DB='8.0.19-commercial MySQL`, Redis=5.0.6
2. Session settings: I guess you are looking for this in `/var/www/MISP/app/Config/core.php`
[code]
3. In this MISP instance environment network inbound firewall is portmapping an alternate inbound port 48752 to 443 and the ip-src of the browsers is always the IP of the firewall. Our `MISP.baseurl=https://FQDN:48752`.

[2022-03-23 14:56] github-germ commented on #8204
Related to item 3 above, here's the `POST` for an `Add Attribute` which works (i.e. does not trigger CSRF). The `Populate from...` request URL (above) includes a `QUERY_STRING` (which I think is a timestamp) while the `Add Attribute` (below) does not
[code]

[2022-03-23 15:40] righel commented on #8204
2. These settings in the `core.php` can be overwritten if there is a different value set in `/var/www/MISP/app/Config/config.php`, please check that file too.
3. Doing some investigation, will get back on this.
5. If you are using the `redis` handler, this setting should also be present in the `php.ini` config file:
   `session.save_path = "tcp://localhost:6379"`
   *your redis host and port may d

[2022-03-23 16:34] righel commented on #8204
Following your hunch, @github-germ you could apply the below patch to this file:
https://github.com/MISP/MISP/blob/086529ac169fb2dbe7253fa8288e46fa5806fe62/app/View/Elements/genericElements/SideMenu/side_menu.ctp#L135-L142

patch:
[code]

This should prevent the creation of the `?_=TIMESTAMP` query string parameter.
After that try to populate the event and check if the bug still occurs.

[2022-03-23 19:07] github-germ commented on #8204
Re' the patch... That does remove the `QUERY_STRING` timestamp; however, that's the side menu click to get the `importChoice` which works fine. Don't we need to apply this to the `freeTextImport` pop-up form that is submitted?

When I read the function `importChoice` in `EventsController.php`I see this but not sure where to make a similar change to remove the `QUERY_STRING`:
[code]

[2022-03-23 19:19] github-germ commented on #8204
Thanks for your continued time and help!

1. `core.php` Session possible overrides in `config.php`
[code]
2. `session.save_path` in `php.ini` is not defined. We have `'CustomAuth_enable' => true` for our user access.
[code]
3. The bug exists for multiple users. The ew I know of have `role=admin`. If you want me to try users with other settings, let me know.
4. I will get back to you re' your test

[2022-03-23 19:26] righel commented on #8204
Sorry, got confused and thought the `importChoice` was failing too.
This patch on `/var/www/MISP/app/webroot/js/misp.js`,on top of the previous one,  should remove the timestamp query string in the `freeTextImport` flow.
[code]
 **NOTE**: this is for debugging purposes, but should not be a fix, if it actually prevents the bug from happening, which I'm not very confident it will.

[2022-03-23 19:42] github-germ commented on #8204
Patch.... I understand this is experimental. Here's the URL for the `form` which still has the `QUERY_STRING`
[code]

[2022-03-23 19:56] github-germ commented on #8204
Re' session cookie and `redis-cli` -- this is new to me so perhaps I'm am doing something wrong:
* I see session cookie changes every 5 secs in browser which I guess is concurrent with `GET /events/checkLocks/<eventid>/<timestamp>`
* I am not seeing any sessions in the redis container that our misp container is using
* Note: there are 294 `resque:*` keys
[code]

[2022-03-23 20:12] github-germ commented on #8204
**Check this out.** I experimented with the following URL in the browser, entered an IP, and guess what? It **worked.** Notice I removed the `QUERY_STRING` with this test. So... let's see if you can help me remove that timstamp `QUERY_STRING` as that may be the fix:
* ```https://FQDN:48752/events/freeTextImport/293075```
![image](https://user-images.githubusercontent.com/8812009/159787159-c15185d6

[2022-03-24 04:53] Nate-09 opened #8238 "Support: MISP Behind Azure App Gateway"
### Support Questions

Hi Everyone,

I've recently deployed an instance of MISP in Azure and attempting to run it behind Azure Web Application Gateway.

After getting the host functional, I ran into issues running behind the WAF, this ends in too many redirects on the MISP Server.

The installation was done using the install.sh from https://github.com/MISP/MISP/tree/2.4/INSTALL.

We are using the

[2022-03-24 07:29] righel commented on #8204
Hm, I tested a couple of times and it works on my end. Do a hard refresh of the site so the `misp.js` Javascript reloads, it may be cached.
Flow:
![image](https://user-images.githubusercontent.com/1659902/159863055-4502baa7-8ff5-4cf4-a386-708566f07809.png)
![image](https://user-images.githubusercontent.com/1659902/159863167-64863004-1c63-4296-a16b-9352906e974a.png)
![image](https://user-images.git

[2022-03-24 07:37] righel commented on #8204
May I ask what kind of CustomAuth? I guess there's something funky going on here with the sessions and Ajax requests.

I cannot reproduce this, each call to `checkLocks` keeps the same cookie session id, could this be something coming from your `CustomAuth` code?

The originator of the `?_=TIMESTMAP` query is string is jQuery:
https://api.jquery.com/jquery.ajax/

Type: [Boolean](http://api.jquery.

[2022-03-24 14:24] github-germ commented on #8204
Thanks for more details. Correct: browser hard-refresh reloaded that change in `misp.js` and the `QUERY_STRING` (`?_=nnnn` timestamp was removed). However, that still triggered CSRF.

Puzzling diffs:
- Why does that fail when the same URL as the `form action` succeeds as I wrote above?
- And why does `Add Attribute` which does not use a popup succeed?

After doing some more comparison probing for

[2022-03-24 14:45] zpevma opened #8239 "Bug: Broken push sync for events with sharing groups"
### Expected behavior

Events with sharing groups are being pushed.

### Actual behavior

Events are not pushed.

### Steps to reproduce

- Just call pymysp `misp.add_event(event)` where event has any sharing group set as distribution, you will get 500 error: `{"name":"An Internal Error Has Occurred.","message":"An Internal Error Has Occurred.","url":"\/events\/add"}
`.
- [This line](https://githu

[2022-03-24 14:51] github-germ commented on #8204
Maybe I can try a test to disable the following in `event_contents.ctp` which calls `queryEventLock` in `misp.js` to stop the token revisions:
[code]

**OK, yes, that stopped the CSRF!!!** So, this proves that the cookie token revision causes the false CSRF trigger. Now, I realize `checkLocks` is enabled to detect if the event has changed. But now that we see the cause, need to understand how to p

[2022-03-24 15:08] github-germ commented on #8204
With `checkLocks` again activated the browser's DevTools shows that token cookie with a expiration always 5 secs from "now".  If I understood you, it is that token that is used when testing CSRF. If that's true, and the expectation is that it should not be revised, what is causing it to expire?
![image](https://user-images.githubusercontent.com/8812009/159947368-6c0fecbc-f8ed-4f3f-b848-6c7f00a9add

[2022-03-24 15:09] iglocska commented on #8239
This was just fixed a half an hour ago, make sure you git pull.

also we’ll do a full release later tonight to address this.

[2022-03-24 15:09] iglocska commented on #8239
https://github.com/MISP/MISP/commit/15820bb5af4b8edb360e1595eddce9f40d9032af

The relevant fix

[2022-03-24 15:23] zpevma commented on #8239
Perfect, thanks!

[2022-03-24 15:26] github-germ commented on #8204
When I test same on my MISP 2.4.156 in a local VM that is not using `CustomAuth`:
* I see `checkLocks` every 5 secs as expected;
* However, the token cookie does not change and has the expiration to to +1 hours from "now".

[2022-03-24 16:11] righel commented on #8204
Indeed when `Plugin.CustomAuth_enable` the session is review in every request:
https://github.com/MISP/MISP/blob/87a9d8b96057a960a1ebb6baf28ffae21ced793c/app/Controller/AppController.php#L1075
So what's probably happening is:
1. You load the Events page and the CSRF tokens are saved to your session.
2. Every 5 seconds `checkLocks` is called via Ajax and a new session is created, so the CSRF token

[2022-03-24 16:37] github-germ commented on #8204
Excellent!!!! Thanks again for sticking with me on this journey.

[2022-03-24 16:42] packet-rat commented on #8204
I always hated that annoying 'checkLocks'. clutters up logs, Web Developer debug. measurements, etc.

'Successful authentication using MyLogins External authentication key | HTTP method: GETTarget: /events/checkLocks/nnnnnnn/nnnnn'

yada....yada....yada...Wash-rinse-repeat...

[2022-03-24 16:42] packet-rat commented on #8204
;-)

[2022-03-24 21:38] #8239 closed, assigned to nobody

[2022-03-24 21:45] iglocska commented on #8209
Weird, I just tried to fetch that very event and it seems to work fine.

What would be interesting is contacting the owner of the instance you're pulling from and asking what they're seeing in their logs. The non JSON response means that something has gone awry on their side, they probably have a logged exception from your failed attempt to fetch the data.

[2022-03-24 21:46] iglocska commented on #8234
Sounds like you've missed a database update or the database update didn't take due to the cache not being cleared.

To debug it:
- check if you have the "update" worker running in your server diagnostics
- check if the update queue has pending tasks
- check next to the update button on the diagnostic screen what the status of the update execution is (there's a link to the update page)
- finally, i

[2022-03-25 07:47] iglocska commented on #8204
Yeah I hate it too, makes debugging frustrating at best.

[2022-03-25 07:54] iglocska commented on #8204
Added a setting to disable it, look for `MISP.disable_event_locks`

[2022-03-25 07:55] iglocska commented on #8204
Also, for the issue identified by @righel, perhaps enabling `Security.authkey_keep_session` could help in general.

[2022-03-25 09:09] sustefil opened #8240 "Feature Request: Warnings shall be yellow"
### Is your feature request related to a problem? Please describe.

Hi there, noticed the new Warning feature in the MISP events.

https://user-images.githubusercontent.com/3668672/159040894-99d951e3-a076-40c7-9bbd-9ff619df2e5c.png

The RED color is a hit in the eyes..

I am pretty used to see the RED color when the event is unpublished, this adds confusion for me

### Describe the solution you'd

[2022-03-25 11:58] iglocska commented on #8240
Yeah, good point. It may have been "slightly" over the top, but the person that implemented it is an utter monkey when it comes to UX design. We'll change it to something more pleasant.

[2022-03-25 13:11] github-germ commented on #8204
I will now test this change and report back. THANKS!!!

Btw, setting `Security.authkey_keep_session` = `true` before the patch is applied did not help.

[2022-03-25 13:25] github-germ commented on #8204
**!!
W
O
R
K
S
!!**

[2022-03-25 13:35] github-germ commented on #8204
@righel Your support on this one has been world-class. Thank you VERY much!! And @iglocska thanks for jumping in.

I imagine this will be included in 2.4.157 once that is officially released. Our Production OPs policy will require some exception bureaucracy on our end to deploy a patch. Might .157 be offered soon?

[2022-03-25 14:30] github-germ commented on #8204
2.5.157 released! You guys are the best. Case closed. THANKS AGAIN.

[2022-03-25 14:30] #8204 closed, assigned to nobody

[2022-03-25 14:48] EulogyMondata opened #8241 "Bug: rate limit error without any rate limit set for the role"
### Expected behavior

We have a private internal MISP where we may request many calls in a short time to /attributes/restSearch. So we must not have any rate limite. The API Key is generate through admin user/role , without rate limit [check].

### Actual behavior

Sometime we have a error : api - _check_response: Something went wrong (429): {'name': 'Rate limit exceeded', "message': 'Rate limit

[2022-03-25 15:12] iglocska commented on #8241
I can't seem to reproduce this on 2.4.157.

What I tried:

Select a role with rate limiting disabled.

Created a bash script to curl the instance (429.sh):

[code]

Started hammering the instance with it:

`watch -n 0.1 ./429.sh`

It seemed to be happy to keep serving the responses for minutes.

So I tried to see if I can mess with some of the role configuration to reproduce it:

[code]

Added a r

[2022-03-25 15:13] Kagee opened #8242 "Bug: Database diacnostics that appear wrong"
### Expected behavior

Just upgraded to v2.4.157 (f4e390ae27477a87a3de5cc7ab6c47d1360329ff), had no DB schema differences before this.

After update i had some schema differences i fixed, but also these three that seem wrong:

* `cryptographic_keys.key_data` should have the default value `NULL` (the litteral string)
* `cryptographic_keys.fingerprint` should have the default value `''` (the littera

[2022-03-25 15:17] Kagee commented on #8242
I have tried setting `key_data` and `protected` to `DEFAULT NULL` (instead of `DEFAULT "NULL"`) but that does not hide the error.

[2022-03-25 15:37] Kagee commented on #8242
![image](https://user-images.githubusercontent.com/686579/160152842-1ec580bf-d6c0-4e58-a6c7-724acd944f02.png)

[2022-03-26 09:23] q-modus-p opened #8243 "Support: Problem with adding references in Event graph: Relationship type list appear empty"
### Support Questions

I am trying to establish relationships between objects in the Event graph view, but as I draw the link between them, then in the pop-up window I am unable to select any relationship types other than _Custom_. There is nothing else in the list.

I have performed a couple of fresh installations with the Ubuntu 20.04 installation script and they all finish having this "limitati

[2022-03-29 07:57] fkclai opened #8247 "MISP home page is not displayed"
### Support Questions

Hello,

first off thank you in advance for the support, I'm new in MISP

I have installed MISP on my Linux distro:

Distributor ID:	Kali
Description:	Kali GNU/Linux Rolling
Release:	2022.1
Codename:	kali-rolling

Following the instruction from the site below, the MISP is installed completely with the provision of all credentials
https://misp.github.io/MISP/INSTALL.kali/

Whe

[2022-03-29 13:34] rupiewicz opened #8249 "Bug: Can't download deleted attributes from MISP"
### Expected behavior

hello i cant search delete atribute from misp .
I find similar issue
https://github.com/MISP/MISP/issues/2222 but i dont know what is the resolve  ?

### Actual behavior

/attributes/restSearch/json
{
    "returnFormat": "txt",
    "eventid": "15",
    "deleted":"true"
}

 resolve only search with delete: false

### Steps to reproduce

???

### Version

2.4.157

### Operatin

[2022-03-29 14:26] righel commented on #8249
Hello @rupiewicz
The `deleted` filter is of boolean type, not string.
Try with:
[code]

On a side note, in the URL you specify JSON as expected return format and in your request payload you set `"returnFormat": "txt"`. What is your expected resturn format?

Let me know if that helps.

[2022-03-29 17:21] JoePJisc commented on #8195
I'm experiencing this issue too.

Clean install of MISP v2.4.157 on RHEL8 using MISP-RPM.

Post install I've done the following per https://github.com/MISP/MISP/blob/2.4/docs/background-jobs-migration-guide.md

* Created the Supervisor Listener: `sudo vi /etc/supervisord.d/misp-server.ini`

[code]

* Enable and start supervisord:

[code]

* checking supervisor status

[code]

`/var/log/supervisor/

[2022-03-29 17:29] JoePJisc commented on #8195
Ignoring the FATAL statuses and setting `SimpleBackgroundJobs.enabled` to True, has fixed the issue.

`sudo supervisorctl status` now shows:

[code]

[2022-03-29 18:08] righel commented on #8195
Hello @JoeP-oss
There was probably something wrong with the configuration. Did you check the `/var/www/MISP/app/tmp/logs/error.log` log file? There might be something there.

Glad it worked in the end.

[2022-03-29 18:08] #8195 closed, assigned to righel

[2022-03-29 21:06] rupiewicz commented on #8249
Thanks for your help  confirm it's ok

[2022-03-29 21:07] rupiewicz commented on #8249
i mean text  not txt sorry :)

[2022-03-29 21:10] #8249 closed, assigned to nobody

[2022-03-30 12:24] qbolbk59 commented on #8242
I have the same issue. Though in the table, the default is set to NULL, but i still see this error in the Diagnostic page.

![image](https://user-images.githubusercontent.com/43533246/160833851-4bea0710-41e4-400c-a0f7-b414686a5f65.png)

[2022-03-30 13:24] imidoriya commented on #6244
@mokaddem thanks for the tip.  I just deleted 275911855 User `auth` entries, which should hopefully reduce the size of my 113G logs table by a good bit.  What other entries are safe to delete or perhaps which ones are not safe to delete?  My next largest table entry is Attribute `add` at 53551786.

[2022-03-30 13:30] qbolbk59 opened #8251 "Support:"
### Support Questions

Post upgrdaing MISP to 2.4.157, i am unable to open any events. This is probably due to the new feature of Cryptographic keys that can be added to protect the event. The error is provided below:

Error: An Internal Error Has Occurred. Please try your action again. If the problem persists, please contact administrator.

The following error was found in the error log:

`2022-0

[2022-03-30 15:04] cudeso opened #8252 "Bug: Sync users (405): {'name': 'You do not have permission to use this functionality."
### Expected behavior

Listing the available sync servers (fe. in PyMISP misp.servers() ) as a user in the default role "Sync user"

### Actual behavior

[code]

### Steps to reproduce

* Create new user and assign role "Sync user"
* Create new API key
* Use PyMISP
* List servers

### Version

2.4.155

### Operating System

Ubuntu

### Operating System version

20.04

### PHP version

7.4

### Bro

[2022-03-30 17:42] bpavesi opened #9561 "2.4.156/157 - "push_all" tasks is scheduled only first time"
Hello all,
on our MISP i found that "push_all" task is scheduled only the first time, after i press "update all". Subsequent times is not executed.

In logs I found numerous events like these:

2022-03-30 17:15:04 Notice: Undefined index: Task in [/var/www/MISP/app/Console/Command/ServerShell.php, line 550]
2022-03-30 17:15:04 Notice: Trying to access array offset on value of type null in [/var/ww

[2022-03-30 17:53] bpavesi opened #8254 "Bug: 2.4.157 - "push_all" task is scheduled only first time"
### Expected behavior

"push_all" task is scheduled to excute every X hours.

### Actual behavior

"push_all" task is executed only the first time, after press "Update all" in "Scheduled Taks" section.

### Steps to reproduce

In "Scheduled task" section, set Frequency, Scheduled Time and Next Run for task "push_all". Then press "Update all".

Wait for "push_all" task to be executed the first time

[2022-03-31 05:15] ankitdhere commented on #2516
I am having the same issue

[2022-03-31 08:12] adulau opened #8255 "Feature Request: Using a feed as a warning list"
### Is your feature request related to a problem? Please describe.

A warning list can be updated at very regular interval (like Tor exit nodes) and you need a system to allow the update.

### Describe the solution you'd like

The idea is to use the feed system and to have an option in the warning list system to select a feed id which will be used for it.

### Describe alternatives you've consider

[2022-03-31 08:38] cudeso opened #8256 "Option to duplicate a user role"
### Is your feature request related to a problem? Please describe.

If you want to have user roles with similar permissions you always have to start from scratch.

### Describe the solution you'd like

When editing a role, have a second button "save as a duplicate role". Optionally the name of the new role can be "copy of ..."

### Describe alternatives you've considered

_No response_

### Additi

[2022-03-31 09:41] JoePJisc commented on #7066
Just stumbled upon this while trying to write a Python script to take a clean install to our production build, ready for a rebuild of our MISP instances.

Being able to add logos via PyMISP (in whatever form), would be really usful for this.

[2022-03-31 10:37] samitainio opened #8257 "Typo: In the dialog of Unpublish Event the "Yes" option has the hover text set as "Publish" instead of "Unpublish""
### Expected behavior

The hover text over the "Yes" option should say "Unpublish" when you are trying to unpublish an event.

### Actual behavior

![image](https://user-images.githubusercontent.com/5585477/161035478-3fd39c49-c48e-433a-9493-fddd667d87c7.png)

### Steps to reproduce

Try to unpublish an event and hover the mouse cursor over the "Yes" option, see the screenshot above.

### Version

[2022-04-01 16:02] github-germ opened #8259 "Support: MISP Sync pull Error: Trying to save duplicate organisation for sharing group"
### Support Questions

What can trigger this in the `error.log`?
[code]

I see it in `SharingGroupOrg.php` in `beforeValidate` [here].(https://github.com/MISP/MISP/blob/2.4/app/Model/SharingGroupOrg.php#L31)

Our PyMISP app is editing content in an existing Event. Curious to learn if there's a change we can make in how we construct `MISPEvent`, `MISPAttribute`, or some PyMISP call args to prevent

[2022-04-02 09:58] ponkape opened #8260 "Support: I have one MISP-instance in my school project for three different companies. How to not show events to each other?"
### Support Questions

Hello MISP peeps!

I'm fairly new with this MISP tool, and must say it looks great and huge! I faced the following issue when trying to share MISP events with each "organization":

I created three different Organizations in MISP and thought that when I make a new event, I can just assign it to Company A, and while I make MISP-account (read-only access) to Company A _ONLY_ Co

[2022-04-02 11:23] s3ich4n opened #8261 "Support: What Certificate file do I add in order to use Sharing / Synchronisation?"
### Support Questions

Dear MISP Project,

I'm facing a difficulties with [Adding a server](https://www.circl.lu/doc/misp/sharing/#adding-a-server) to use certificate, which is No. 17(Server certificate file), No. 18 (Client certificate file).

## What I want to do:
* Pushing events in `MISP-A` instance into `MISP-B` instance using Sharing/Synchronisation function.

## What have I set:
* Installed

[2022-04-03 22:43] eowyn263 commented on #5323
Late to the party, but someone might find it useful.. if nothing works, check also ownership and permissions to /var/opt/remi/php74/lib/php (depends on the php version) folder, this was the issue for me

[2022-04-04 09:53] Kagee commented on #8261
17. is only used if the server you are trying to connect to is using a certificate authority that MISP does not recognize, i.e. a org-internal CA. Since you are using Let's Encrypt, a CA that MISP trusts by default, you do not have to specify a server certificate here.

18. is only used if you have set up Client Certificate Authentification on the server you want to connect to. You have not mentio

[2022-04-04 12:16] Kagee commented on #8260
First of all: _**MISP 2.4.66 is from 2017 and is it strongly encouraged to upgrade/reinstall.**_

You do not normally "assign" events to organizations. You either don't share, share with some, or share with all. When you create an event ([see "Creating an event" in the MISP Book](https://www.circl.lu/doc/misp/using-the-system/#creating-an-event)) you select the events Distribution. The default dep

[2022-04-04 13:03] righel commented on #2844
see: https://github.com/MISP/misp-grafana

[2022-04-04 13:03] #2844 closed, assigned to righel

[2022-04-04 13:07] adulau commented on #2844
🥳

[2022-04-04 13:32] righel commented on #8254
Hello @bpavesi
Please check in your Workers Diagnostics page (`/servers/serverSettings/workers`) if all the workers are running, particularly the Scheduler worker.

If you still encounter issues I suggest you to replace the automated calls to this commands via cron jobs.
The Tasks page shows a red warning about its limitations and the feature is likely to be deprecated in the near future.

In this

[2022-04-04 14:04] righel commented on #8251
Looks like an incomplete database update, could you run the following command:

~/var/www/MISP/app/Console/cake Admin updateDatabase~
[code]

Let me know if that works.

[2022-04-04 14:21] righel commented on #8243
Hello @q-modus-p
Could you please check if you see some errors in your `/var/www/MISP/app/tmp/logs/error.log` logs after you try to create the relationship and the pop-up is shown?

Could you check that your `object_relationships` db table is not empty?
[code]

Just checked and its working for without issues in version 2.4.157 for me, there must be something else going on.

[2022-04-04 14:48] bpavesi commented on #8254
Thank you @righel , i solved by settting a cron job.

[2022-04-04 14:48] #8254 closed, assigned to nobody

[2022-04-05 07:05] righel commented on #8225
Hello @mellonb
Could you please check if your `baseurl` setting is set in `/var/www/MISP/app/Config/config.php` ?

Also please check you are not missing any packages from your installation: https://misp.github.io/MISP/INSTALL.rhel7/

If the error persists, could you please share the error logs from `/var/www/MISP/app/tmp/logs/error.log`

[2022-04-05 07:14] righel commented on #8221
Hello @ag-michael
MISP does not handle the log rotation of the web server, it's up to the sysadmins to set it up according to their companies log retention policies.
Take a look of these solutions to implement log rotation:
- https://linux.die.net/man/8/logrotate
- https://httpd.apache.org/docs/2.4/programs/rotatelogs.html

Hope this helps.

[2022-04-05 07:24] righel commented on #8214
Hello @patchander
Could you please update MISP to the latest version and check if the error persists?
Could you try enabling `MISP.deadlock_avoidance` and try to pull the feed again?

Let me know how that goes.

[2022-04-05 10:41] iglocska commented on #8243
Make sure that you tell MISP to ingest the object template libraries, the
relationships are ingested together with them. Go to your object template
index (global actions -> list object templates) and hit update objects on
the left side with a site admin account.

On Mon, Apr 4, 2022 at 4:21 PM Luciano Righetti ***@***.***>
wrote:

[2022-04-06 12:30] #8260 closed, assigned to nobody

[2022-04-06 12:31] #8243 closed, assigned to nobody

[2022-04-06 12:31] #8241 closed, assigned to nobody

[2022-04-06 12:34] #8226 closed, assigned to nobody

[2022-04-06 12:37] #8214 closed, assigned to nobody

[2022-04-06 13:03] qbolbk59 commented on #8251
@righel My apologies for late response. I tried that the updateDatabase command as well but no luck. There's no subcommand available as "updateDatabase". Only the following subcommands are available for "cake admin"

`Usage:
cake admin [subcommand] [-h] [-v] [-q]

Subcommands:

updateJSON -Update the JSON definitions of MISP.
setSetting  -Set setting in PHP config file.
live -Set if MISP instance

[2022-04-06 13:09] righel commented on #8192
Hello @josephka3
Thanks for reporting, there was indeed a bug that prevented the `fixed_event` and `target_event` properties to be updated on Feeds.

Pushed a fix in `develop` branch: https://github.com/MISP/MISP/commit/e33ac3d7d0be9ff3124e861506cb1374412b97ab

[2022-04-06 13:24] qbolbk59 commented on #8242
@Kagee are you able to open the events ? Unfortunately i am not even able to open any events post the upgrade and get error "An Internal Error Has Occurred.
Error: An Internal Error Has Occurred. Please try your action again. If the problem persists, please contact administrator."

When i check the error logs, i can see error as
"2022-03-30 14:35:16 Error: [MissingTableException] Table cryptograph

[2022-04-06 13:33] righel commented on #8251
Sorry, wrote it wrong. Try with:
[code]

[2022-04-06 13:56] ag-michael commented on #8221
@righel  This has nothing to do with logs, this is the temporary files MISP/PHP create. There is no way to regulate this as an admin other than to have MISP limit the number of indicators it processes at any given time using tmpfs.

@rommelfs  I don't feel this has been addressed.

[2022-04-06 14:00] Kagee opened #8262 "Bug: Site admins can not create advanced api keys in Authentication key Index"
### Expected behavior

Site admins (and org admins, have not tested if org admins are also is bugged) should be able to create user API keys from the Authentication key Index ( https://misp.example.com/auth_keys/index ), not only from the users view (https://misp.example.com/users/view/x) (creating there works)

This appears unrelated to the org-admin fix in 5052d471e16d487a494efbd5ce14c18e963b153

[2022-04-06 14:07] righel commented on #8221
Sorry @ag-michael I got confused with the _Steps to reproduce_ part. Re-opening the issue.

[2022-04-06 16:43] ponkape commented on #8260
Thank you @Kagee for the response, I will totally take a look at these 🙏

[2022-04-07 03:19] omb62 opened #8263 "Support:"
### Support Questions

Users could not login

We have set in config to point to a specific plugin (even we have set it explicitly, e.g. copied the OidcAuth plugin in /var/www/MISP/app/Plugin and rename it to for example OurOidcAuth) but somehow the configuration could be changed and the config still referring to the default OidcAuth.

Can anyone assist me on this?

Thank you

### MISP version

2.4

[2022-04-07 05:46] qbolbk59 commented on #8251
@righel That indeed worked. Thanks a lot !

I can view the events now. But i think the issue with the new feature of cryptographic_keys still persists as in the event i don't see the option to move the event into Protected mode.

![image](https://user-images.githubusercontent.com/43533246/162128809-6c2c1071-3716-4199-93f0-0fed6449b785.png)

[2022-04-07 06:51] yash22091 opened #8264 "Support: MISP openid integration not work"
### Support Questions

MISP openid integration not work. No logs are appearing in server . Openid login page comes but after login blank page comes. Kindly help us

### MISP version

2.4.151

### Operating System

Centos

### Operating System version

7.09

### PHP version

7.1

### Browser

Firefox

### Browser version

latest

### Relevant log output

[code]

### Extra attachments

![Screenshot

[2022-04-07 07:48] adulau commented on #8263
`Config option `OidcAuth.provider_url` is not set.` I think the error message is pretty clear. You need to setup the parameters for your OIDC providers.

[2022-04-07 07:48] #8263 closed, assigned to nobody

[2022-04-07 07:50] adulau commented on #8264
Did you check the MISP specific logs, found under /var/www/MISP/app/tmp/logs/ ?  the most interesting log files are `error.log` and `debug.log`. Especially to double check if your OIDC configuration is correct.

[2022-04-07 07:50] #8264 closed, assigned to nobody

[2022-04-07 07:52] adulau commented on #8251
Did you setup the PGP key of the instance?

[2022-04-07 08:00] Daniel-CS-Team opened #8265 "Bug: supervisord not functional"
### Expected behavior

After following the instructions here (https://github.com/MISP/MISP/blob/2.4/docs/background-jobs-migration-guide.md) enabling SimpleBackgroundJobs.enabled true should work fine.

### Actual behavior

Internal Server Error.

### Steps to reproduce

Follow instructions, enable SimpleBackgroundJobs, reload page.

### Version

2.4.157

### Operating System

Ubuntu

### Operatin

[2022-04-07 08:09] Kagee commented on #8242
@qbolbk59 I do not remember having to fix that table. What version + git hash are you on? Can you screenshot your whole db diagnostic?

[2022-04-07 19:37] chicagocyb3r opened #8266 "Feature Request: Update All Tags (FreeText Import Results)"
### Is your feature request related to a problem? Please describe.

When adding attributes to an event from the Freetext Import Tool, the resulting screen (Freetext Import Results) allows you to "Update all comment fields". It does not allow you to update the "Tags (separated by comma)" fields. Instead requiring manual update.

### Describe the solution you'd like

It would be great if an option w

[2022-04-07 19:38] chicagocyb3r commented on #4779
I agree that the option for a "reset password" functionality would be an excellent addition.

[2022-04-08 06:32] qbolbk59 commented on #8242
@Kagee I am at 2.4 version.
I have the same db diagnostic as you have. see below:

![image](https://user-images.githubusercontent.com/43533246/162377846-946ca573-1add-477e-9cb9-906810e60b50.png)

[2022-04-08 06:33] qbolbk59 commented on #8242
I even tried to rebuild this particular table, but still no luck. I can't even see the events anymore. It simply throws the error that I provided previously.

[2022-04-08 09:43] packet-rat opened #8267 "searchAttributes Timeouts"
### Expected behavior

(1) Issue Search Attribute Queries
(2) Get Results

- Note that this failure mode appeared after recent upgrades.
- It fails via Curl, Rest API, and the Web UI [Search Attributes]
- Original Customer use case error is a production curl command populating RCloud analytics.
- This customer typically submits 1,000s of IP Addresses in their Curl queries
- Query responds in ~300m

[2022-04-08 09:44] packet-rat commented on #8267
Re-posting First Screen Shot (missing)

![image](https://user-images.githubusercontent.com/3220193/162410731-72738da3-0156-4ac6-9ae0-11e27197aab5.png)

[2022-04-08 09:47] packet-rat commented on #8267
curl --verbose --insecure --header Authorization: <<<APIKEY>>> --header Accept: application/json --header Content-Type: application/json --data \
 { "request": { "returnFormat":"json", "published":1, "includeEventTags":1, "type": { "OR": ["ip-src", "ip-src|port", "ip-dst", "ip-dst|port" ] }, "value":["1.0.133.100","1.10.140.43","1.10.141.220","1.10.189.133","1.117.212.61","1.123.211.219","1.123.34

[2022-04-08 10:07] qbolbk59 commented on #8251
@adulau Yes, PGP key is created for the instance.

[2022-04-08 10:31] qbolbk59 commented on #8251
@adulau but i do see this error in diagnostics

![image](https://user-images.githubusercontent.com/43533246/162418647-f590fd11-2699-48c6-872d-9fe0af557f23.png)

Could this be relevant ?

[2022-04-08 12:03] Kagee commented on #8151
Please show the output of `apt show php-redis` (possible debug info) and then run run `phpenmod redis` (may solve your problem)

[2022-04-08 12:09] awermuth opened #8268 "Bug: REST Client response is too big"
### Expected behavior

Page /servers/rest is loading

### Actual behavior

Currently the page returns 10MB in response.
This is because the js allValidApis variable is loaded with each response.

### Steps to reproduce

Opening /servers/rest in Chrome or Edge gives a random out of memory message.

### Version

2.4.157

### Operating System

RedHat

### Operating System version

8.5

### PHP versio

[2022-04-08 14:08] pietrogu commented on #4422
Hi,

could someone document how to properly set emailing for misp?

thanks,
Pietro

[2022-04-08 14:55] nyx0 commented on #7964
Hi I found a workaround:
[code]

[2022-04-08 14:55] #7964 closed, assigned to nobody

[2022-04-09 20:58] q-modus-p commented on #8243
Thank you @righel for looking into the issue I was having. As I attempted to establish a relationship between the objects, nothing appeared in the error.log file, no errors whatsoever.

[2022-04-09 21:12] q-modus-p commented on #8243
Thank you @iglocska, this solved it for my installation!
After updating the object templates as per your suggestion I now can establish relationships with full set of relationship types.
Thanks again to you and everyone on this project for your great work!

[2022-04-10 07:18] JakubOnderka commented on #8257
Thanks for report, fixed in `develop` branch.

[2022-04-10 07:18] #8257 closed, assigned to JakubOnderka

[2022-04-10 20:02] packet-rat commented on #8267
Hey Luxembourg Folks - This looks to be a serious issue.  Simply put: put 75 Attributes in the Search "Containing the following expressions" and MISP goes 'belly-up'.

[2022-04-11 09:22] yash22091 commented on #8264
We have already checked but there are no error logs

[2022-04-11 09:24] yash22091 commented on #8264
kindly please provide Apache openid conf file and config.php of example files of configuration.

[2022-04-11 09:41] righel commented on #8267
Hello @packet-rat
I did some experiments querying 100 ip addresses that exist in my dataset with the `attributes/restSearch` endpoint and I get a response without issues.
FYI: My test database consists of ~2M attributes, of which ~135K are of type `ip-src` `ip-src|port` `ip-dst` `ip-dst|port`.

Adding 1000 IPs to the search did make the request fail with this error:
`2022-04-11 10:45:54 Error: [PD

[2022-04-11 13:16] righel commented on #8265
Hello @Daniel-CS-Team
Could you please share the last bits of your MISP error log located in `/var/www/MISP/app/tmp/logs/error.log` ?

Is `php-redis` installed?
If not, try after installing it via:
`sudo apt install php-redis`

If issues persist, check this troubleshooting guide steps 1 - 4:
https://github.com/MISP/MISP/wiki/Frequently-Asked-Questions#22-how-do-i-solve-the-connection-refused-error

[2022-04-11 13:59] righel commented on #8251
How does this look like when editing a Event created by you?
You cannot switch to protected an event that was not created by your organisation or it's locked.

Could you check the error log `/var/www/MISP/app/tmp/logs/error.log` after running the diagnostics and share any GnuPG related errors here?

[2022-04-11 16:44] packet-rat commented on #8267
@righel Many thanks for taking this up. This WebUI Search Attributes functionality worked flawlessly for many many months.   1,000s of attributes with responses typically in minutes.   100s of Attributes would typically return in 100s of ms.

The searches from Curl with a list of specific values have been running as well for many months successfully.

I will admit we did quite a bit of 'tweaking'

[2022-04-12 08:07] qbolbk59 commented on #8251
@righel I get the same issue with the events that i create. I don't see the option to move the event to a Protected mode.
I don't see any error specifically for GnuPG itself but every but this is the error that i see in the error.log

2022-04-12 10:06:08 Error: [MissingTableException] Table cryptographic_keys for model CryptographicKey was not found in datasource default.
Exception Attributes: arr

[2022-04-12 08:12] qbolbk59 commented on #8251
@righel  I think there was a confusion at my side. Just to give you an overview, i have two MISP instances which talk to the same database. This is created to have High availability of MISP.
The database is not local but hosted on remote server that both MISP talk to.

Post upgrading the MISP instances to the current version i.e., 2.4.157, one of the MISP instance is simply not able to open any ev

[2022-04-12 12:20] iglocska commented on #8267
Oh that's interesting, so it defaults to wildcard searches? It shouldn't be doing that.

[2022-04-12 20:38] packet-rat commented on #8267
Seems to.  Note this non-rooted search behavior existed before this most recent timeout issue.  I don't want to conflate the two.  Both are big issues for us...

[2022-04-13 08:18] adalberto-l opened #8275 "Support: Correlations table grows exponentially"
### Support Questions

Hi Team,
in my work enviroment correlations table grows exponentially Referring. [#3142](https://github.com/MISP/MISP/issues/3142).
I don't want lose this data (no drop table or disable correlation), how can I resolve it?

Thanks
Adalberto

### MISP version

2.4.151

### Operating System

Ubuntu

### Operating System version

20.04

### PHP version

7.4.3

### Browser

_No r

[2022-04-13 12:47] packet-rat commented on #8267
## Search for > 62 Attributes Fail
### Here's the line between success and failure:

1.0.133.100
1.10.140.43
1.10.141.220
1.10.189.133
1.117.212.61
1.123.211.219
1.123.34.118
1.179.130.201
1.179.147.5
1.179.148.9
1.179.151.165
1.186.213.67
1.186.46.36
1.20.184.75
1.20.220.79
1.20.227.66
1.20.95.95
1.20.96.164
1.20.96.30
1.220.145.45
1.221.173.148
1.248.217.12
1.254.78.232
1.32.57.85
1.32.59.217
1.

[2022-04-14 13:25] Benni0 commented on #8275
Hi,
I am currently experiencing the same problem.
There are 10475601 attributes in the attributes table (4860.55 MB) and the correlations table needs 291521.55 MB.

Why do we need the correlations table exactly? Is it only for faster correlation view?
In my opinion a join of the attribute value in the attributes table could bring the same results, maybe a little bit slower.
But I think with such b

[2022-04-14 14:27] adalberto-l commented on #8275
Hi,
you are probably right by the correcting indexing you should to have a good performance but I prefer to preserve the default view.
I will make an alter table operation to resize column id of the table Correlations, have you ever thought of this?

[2022-04-14 14:31] #8265 closed, assigned to righel

[2022-04-14 14:57] Benni0 commented on #8275
@adalberto-l the intention behind the idea was to get rid of the correlations table without loosing functionality. Due to a change of the sql queries to join the attribute values with the attribute table itself instead of the correlation table the functionality should be the same. But I'm not sure if this would work for all usecases. I haven't had time to dig into the code and try to figure out if

[2022-04-14 15:26] adalberto-l commented on #8275
@Benni0 the column id of correlations table is arrived at the maximun value therefore is a problem when add events. I would like to maintain active this table without lose any functionality of MISP and modify query, view,....
Could you suggested me an alternative workaround?

[2022-04-14 17:44] packet-rat commented on #8267
Hey folks - We're essentially down here for key Use Cases.  Can we escalate this issus to a Support Ticket?  What's Required?

[2022-04-14 17:48] swebster96 opened #8279 "Result count total is incorrect on Explore Server from Sync Server"
From a configured Sync Server, select "explore server" on the right under actions.
This peek into the source server returns results but the count totals are incorrect between paging.
On the local MISP system where the server is synced up the result totals are correct between paging.
It's a small bug but would be handy to have fixed.

[2022-04-15 05:34] Benni0 commented on #8275
@adalberto-l the default datatype of the id column is int. You can try to change the datatype to bigint, but I haven't tested this.
I have currently no problem with the primary keys, I only want to reduce the database size.

I'm sorry I can't be of more help.

[2022-04-15 05:41] syloktools opened #8280 "Bug: Version 2.4.157 Warninglist (show) action filter does not work"
### Expected behavior

Clicking on (show) in an event page beside "Warning: Potential false positive" will filter the attributes to only show warninglist hits.

It looks as though the button is trying to use Waringlist as a filter when it is now Warning. See screenshot.

### Actual behavior

Filter does not work.

### Steps to reproduce

Clicking on (show) in an event page beside "Warning: Potenti

[2022-04-15 07:07] adulau commented on #8224
A new feature has been introduced (it will be in the next release) to filter by sharing group via the API - https://github.com/MISP/MISP/commit/204ec386b2e5f30aa2463505c5fc5fd3b4cde095  - Feel free to test.

[2022-04-15 07:09] adulau commented on #8238
We know some MISP instances behind WAF and reverse proxies. This usually works. It's important to set the base url to the proper url handled by the final client.

Can you share your configuration of Azure Web Application Gateway ? It's difficult to test as we don't have access to such infrastructure.

[2022-04-15 07:19] Nate-09 commented on #8238
Hi Adulau,

I was able to get this operational.

thenissue I had was in azure the internal DNS for the backend was the issue.

By using Azure Private DNS and updating the base URL and updating the local certificate to match the correct vhost configured in the Apache ssl conf resolved the issue.

[2022-04-15 07:19] #8238 closed, assigned to nobody

[2022-04-15 15:05] iglocska commented on #8275
Correlations are not always 1:1 matches, so a simple lookup against the values is not as straight forward. A longer while ago I was working on a rework of the correlations that should make it a bit more sensible, but need to find the time to finish it.

With that said, those numbers indicate simply bad data clustering, if a feed pulls in the same data over and over again it's either a bad configur

[2022-04-15 19:36] adulau commented on #8238
Thanks for the feedback. If you are able to do a documentation, feel free to share it with us.

[2022-04-15 22:15] Nate-09 commented on #8238
Not a problem adulau, I’m actually working on a terraform deployment for to automate this. Once done I’m hoping I will be able to share it with the community alongside the deployment documentation.

[2022-04-16 13:52] JakubOnderka commented on #8280
Thanks for report, already fixed in #8274.

[2022-04-16 13:52] #8280 closed, assigned to nobody

[2022-04-16 14:38] Benni0 commented on #8275
Of course, these numbers indicate that many events are sharing the same attributes. However, to call that bad clustering goes a little bit to far, in my opinion, since the default MISP feeds from abuse.ch are also causing many correlations. When I came up with this idea, I only thought of 1:1 correlations. Loosing all correlations which are not 1:1 would indeed be a drawback.

Nevertheless, I do t

[2022-04-18 15:22] packet-rat commented on #8267
Interesting finding (?): The Limit 60 statement.

show full processlist while query > 62:

148', '1.42.235.207', '1.55.241.4', '1.9.213.114', '1.9.27.217', '100.14.218.41', '100.17.20.78', '100.37.210.234', '100.40.21.65', '100.8.23.75', '101.0.112.154', '101.0.113.94', '101.0.119.31', '101.100.163.179', '101.109.245.200', '101.109.253.54', '101.118.2.27', '101.132.108.165', '101.132.95.160', '101

[2022-04-19 00:02] teward opened #8282 "Support: Any way to do MFA on users?"
### Support Questions

This is a question revolving around user logins and security.  LinOTP is a mostly dead project (python2 is dead people!) and no longer free for 'updated' versions.

As such, is there an alternative for multifactor authentication we can implement in MISP for multifactor authentication for users?

### MISP version

2.4.156

### Operating System

Ubuntu

### Operating System ve

[2022-04-19 05:16] arockiachristopher-git opened #8283 "Support: Either your platform is not easily detectable or is not supported by this installer script"
### Support Questions

I am trying to install MISP in kali 2021.1 but I am getting this error **Either your platform is not easily detectable or is not supported by this installer script.**

Screenshot of my kali linux version
![image](https://user-images.githubusercontent.com/102205690/163924450-79a7c7ac-201a-4b0f-b61a-c6f52886bfd4.png)

Screenshot of the issue I am facing
![image](https://user-i

[2022-04-19 08:22] syloktools opened #8284 "Feature Request: Add tags to attribute when WarningList is match, tagging the name of the Warninglist"
### Is your feature request related to a problem? Please describe.

No

### Describe the solution you'd like

When an attribute matches a enabled warninglist, a tag is added to the warninglist that is the name of the warninglist.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Co

[2022-04-19 23:18] UFOSmuggler commented on #8282
Email based OTP is configurable in /servers/serverSettings/Security and works well.  Otherwise there's a plugin for Azure AD which also works well.  Beyond this you will probably need to do some work to integrate with whatever.

[2022-04-20 07:29] adulau commented on #8283
I would recommend to go for another operating system like Ubuntu. Kali is just a convenient script but we don't maintain it.

[2022-04-20 09:38] matthieuxyz commented on #8054
What would be the semanage command required to authorize httpd to read /proc and execute ps commands on a redhat system?

[2022-04-20 12:23] abhijeetasawant opened #8291 "Bug: STIX 2 import fails for files with tag "misp:tool=\"misp2stix2\"" and attribute type link."
### Expected behavior

STIX 2.0 file should get imported and attribute of type link with category as External analysis should be created.

### Actual behavior

Following message displayed :+1:

An Internal Error Has Occurred.

Error: An Internal Error Has Occurred. Please try your action again. If the problem persists, please contact administrator.

### Steps to reproduce

1. Click on 'Import from

[2022-04-20 16:23] teward commented on #8282
Email OTP will work for our case.  Thank you!

[2022-04-20 16:23] #8282 closed, assigned to nobody

[2022-04-20 17:40] chrisr3d commented on #8291
Thanks, it should be fixed with a3d87b6854f8a9d8bffe7dac3da69afa569ff208
Let me know if anything goes wrong and reopen if needed

[2022-04-20 17:40] #8291 closed, assigned to chrisr3d

[2022-04-20 17:42] packet-rat commented on #8267
So far so good:

![image](https://user-images.githubusercontent.com/3220193/164290729-863ae0d6-8d4c-4eac-aeb0-53b96b7e9a38.png)

![image](https://user-images.githubusercontent.com/3220193/164290776-32c046cd-c425-4c93-bb68-31098b160b2c.png)

[2022-04-21 04:30] abhijeetasawant commented on #8291
Yes. its fixed.

[2022-04-21 04:32] abhijeetasawant commented on #8291
It has fixed for attribute type link.
But now its failing for  "type": "course-of-action"

Logs:
  File "/var/www/MISP/app/files/scripts/stix2/stix2misp.py", line 2074, in <module>
    main(sys.argv)
  File "/var/www/MISP/app/files/scripts/stix2/stix2misp.py", line 2068, in main
    stix_parser.handler(event, filename, args[2:])
  File "/var/www/MISP/app/files/scripts/stix2/stix2misp.py", line 82,

[2022-04-21 06:35] righel commented on #8267
Fix made it to 2.4 branch: 52f20abdc35ed8c368d4f9c2ea957e54fc3e7af6 will be included in version 2.4.158 after re-tagging.

Thanks for reporting and the help debugging @packet-rat

[2022-04-21 06:35] #8267 closed, assigned to nobody

[2022-04-21 08:30] eowyn263 commented on #5691
Hello,

same issue after upgrading to 2.4.158
![image](https://user-images.githubusercontent.com/51202913/164413890-7c971250-a7a9-4411-bc79-d951c523542c.png)

[2022-04-21 16:26] akreffett commented on #7985
Both the Shibboleth and AAD authenticators support this and should be the model for OIDC as well: add a Login With {OIDC} button to the login form if OIDC is configured. Replace {OIDC} with a configuration string so the administrator can provide the name of the authentication backend.

[2022-04-21 16:56] akreffett opened #8293 "Feature Request: Add support for federated SSO logout"
### Is your feature request related to a problem? Please describe.

Federated SSO protocols generally support some concept of logout endpoint, either front-channel or back-channel. These methods are defined by their respective protocols in the same way that login flows work. Sometimes these protocols require information from the login session, such as identity tokens, to be provided as part of the

[2022-04-22 05:21] abhijeetasawant opened #8294 "STIX 2 import fails for files with tag "misp:tool=\"misp2stix2\"" and course-of-action object"
### Expected behavior

STIX 2.0 file should get imported and course of action object should be created.

### Actual behavior

Following message displayed +1

An Internal Error Has Occurred.

Error: An Internal Error Has Occurred. Please try your action again. If the problem persists, please contact administrator.

### Steps to reproduce

Click on 'Import from' option
Select STIX 2.0
Select file an

[2022-04-22 10:13] ojaschauhan commented on #2790
Nope still not possible to delete all events. I can just delete 60 of them. There is no option to select all and delete all.

[2022-04-22 13:57] honey4sec commented on #8238
@Nate-09 i have the same problem so awsome if you share your solution

[2022-04-23 03:15] eowyn263 commented on #8251
@righel
`/var/www/MISP/app/Console/cake Admin runUpdates`
worked for me, thank you!!

[2022-04-24 08:38] shajiwhales opened #8298 "Support:"
### Support Questions

I ran the install script but encountered some errors:
After Installation:
I saw these:
<img width="914" alt="2022-04-24_4-11-05" src="https://user-images.githubusercontent.com/56656530/164967708-92e103b9-af6e-4f8e-b3fb-3137ebd27bfe.png">

How can I configure the URL to make my MISP instance accessible over port 443?

I tried to edit the api.py but not sure if that is needed:

[2022-04-25 09:05] righel commented on #8298
Hello @shajiwhales
MISP `baseurl` and `external_baseurl`, can be set in the following configuration file:
`/var/www/MISP/app/Config/config.php`
[code]

Let me know if that helps.

[2022-04-25 09:34] rvanderhorst commented on #6101
Can confirm, it is not possible to select a 'Sharing Group' as this field isn't visible after selecting 'Sharing Group'. Can anyone confirm that this is fixed in the latest release (2.4.158)?

[2022-04-25 12:30] packet-rat commented on #8275
## RFI - Correlations between Attributes in Objects in Same Event?

Is the 'bug' where Correlations are occurring between the same Attribute values in multiple Objects in the same Event fixed?   This was leading to exponential Correlations 'Explosions' in our Phishing Campaign custom object Events.

[2022-04-25 12:39] packet-rat commented on #8275
I'll answer my own question:  Evidently not yet addressed:  https://github.com/MISP/MISP/issues/7531.
I'll 'kick' this again in that ticket.  For this Ticket have a look to see if this is happening in your data sets - It can increase your Correlations tables exponentially.

[2022-04-25 12:47] packet-rat commented on #7531
Looking to re-engage in discourse on this issue. Our perspective is that an Event with an actionable Attribute in an Object (i.e., the C2 Server IP Address in multiple Objects describing Botnet C2/Victim Pairs) **should not Correlate to itself**.   The C2 IP, although repeated, is the most actionable Attribute in this type of data model and we need correlations to other MISP Events.

[2022-04-25 14:59] JCMarques15 opened #8303 "Feature Request: Attribute Galaxy/Tag toggle to duplicate at event level"
### Is your feature request related to a problem? Please describe.

Hi all, so its not a problem per se, but more of a frustration. Me and my team disseminate a lot if information about threat actors and the tools they use. We quite often complement attributes with for example mitre att&ck techniques in the form of adding a galaxy directly to the attribute. Unfortunately there is also the need to

[2022-04-25 16:11] shajiwhales commented on #8298
I was able to add my IP address to the config.php file. Yet, the dashboard is still not accessible.

[2022-04-26 06:31] righel commented on #8298
What kind of errors are you getting?
Could you please share the relevant bits of these logs:
* `/var/www/MISP/app/tmp/logs/error.log`
* `/var/log/apache2/access.log`
* `/var/log/apache2/error.log`

[2022-04-26 11:56] mokaddem opened #8304 "Disable correlation for incoming events through synchronisation"
### Is your feature request related to a problem? Please describe.

When you don't control the incoming data, you might want to disable correlation if the new events are over-correlating.

### Describe the solution you'd like

A checkbox to disable correlation for incoming events

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

### Code of Conduct

[2022-04-26 12:15] pettai commented on #8304
Hi,

Originally, I'd prefer to drop attributes from events that correlate with our current active Warninglist(s).

For instance, some of the highly correlated attributes (from Top Correlations page) we have disabled are:

[code]

(I would say most of these attributes are coming from events shared in MISP private sector community)

It would have been nice to drop all those attributes during the syn

[2022-04-26 12:21] adulau commented on #8304
As discussed during the workshop, maybe the option to disable the correlation of the event when synced if they contain specific warning-lists.

Another option is to automatically exclude by warning-lists the correlation.

[2022-04-26 12:32] adulau commented on #8304
Related to https://github.com/MISP/MISP/issues/6130 (disabling correlation on perfect 1-1 match from warning-lists)

[2022-04-26 20:50] github-germ opened #8305 "Bug: CSRF when Dashboard running in 2nd browser tab"
### Expected behavior

No CSRF

### Actual behavior

CSRF

### Steps to reproduce

1. Have a rather complex dashboard running in a browser tab (will attach dashboardJSON)
2. In the same browser open a new tab and attempt `Add Event`
3. A CSRF is triggered
4. If a simple dashboard is running concurrently, no CSRF is triggered.
5. Simply exiting the dashboard browser tab eliminates the CSRF.
6. Some

[2022-04-26 20:53] github-germ commented on #8305
[8305-dashboard-triggers-CSRF.json.txt](https://github.com/MISP/MISP/files/8566825/8305-dashboard-triggers-CSRF.json.txt)

[2022-04-26 20:53] github-germ commented on #8305
[8305-dashboard-triggers-CSRF.json.txt](https://github.com/MISP/MISP/files/8566827/8305-dashboard-triggers-CSRF.json.txt)

[2022-04-27 12:49] fukusuket commented on #7044
I also have this problem in version 2.4.157.  and also the following filter have the same problem.
- List Events  filter (#5512)
- List Tags filter
- List Taxonomies filter
- List Galaxies filter
- List Cluster Blocklists filter
- List Relationships filter
- List Warningslists filter
- List Noticelists filter
- List Correlation Exclusions filter
- List Object Template filter
- List Organizations f

[2022-04-27 14:56] lu-chi opened #8307 "Remove or hide org name while publishing"
Hi!
Is that possible to either remove/strip off the creator/owner name while publishing the event? I don;'t want that to be published when pushed to the other instances within community.

[2022-04-27 16:33] gitingua opened #8308 "Error: Could not get new event uuids for feed 2"
### Support Questions

2022-04-27 19:11:24 Error: Could not get new event uuids for feed 2.
[Exception] Fetching the 'https://www.botvrij.eu/data/feed-osint/manifest.json' failed with exception: Connection timed out
Stack Trace:
#0 /var/www/MISP/app/Model/Feed.php(268): Feed->feedGetUriRemote()
#1 /var/www/MISP/app/Model/Feed.php(172): Feed->getRemoteManifest()
#2 /var/www/MISP/app/Model/Feed.php(

[2022-04-28 15:06] github-germ commented on #5568
@righel I see you are working https://github.com/MISP/MISP/pull/8313 -- Thanks!!

[2022-04-28 15:34] adulau commented on #8307
Nope but you can delegate the publishing to another organisation which can hide the original one. You just need first to create the event as your own organisation and check on the left side menu, you can delegate the publication to someone else. So you can create a fake org for publishing. I hope this helps.

[2022-04-28 15:34] #8307 closed, assigned to nobody

[2022-04-28 15:39] righel commented on #5568
Hi @github-germ
it will be stored as an optional setting in the feed settings json so we avoid database changes, will do some more testing but it will be soon merged into `develop`

[2022-04-29 07:00] marjatech commented on #8242
Have the same db diagnostics which cannot be resolved. however it seems to affect somehow Ubuntu 18.04 since my 20.04 instances did not show any db diagnostics after the update.
MariaDB versions: 10.1.48 vs. 10.3.34

[2022-04-29 15:30] th3c0rt3x commented on #6611
Even reboot didn't help, any other ideas guys?

[2022-05-01 21:49] Nate-09 commented on #8238
In order to run MISP behind the Azure WAF, there is two methods, I cannot go into details for the first option which is to utilize Azure Private DNS, as I'm still working on this solution.

The second option which is what I have operational is to apply a valid SSL Certificate to the Host, and update the apache ssl conf with the new SSL and the server name.

By doing this I solved receiving a too m

[2022-05-02 17:14] github-germ commented on #3321
@iglocska Hi !! -- This is long posting. Hoping it's clear and that you can provide insight. Please bear with me...

Very interesting that I find this issue from nearly 4 years. Hoping you can provide some quick feedback on a performance problem we are experiencing with the `Search Attributes` WebUI page as I was starting to think a solution may be somehow having the `AttributeController` causing

[2022-05-02 20:55] iglocska commented on #3321
It sounds correct indeed that was my guess too. We used to have certain forced indeces in some of the critical places that we identified (or actually forcing an index is tricky, however there was a hacky way around the limitation).

However, most of the really bad query optimisations seemed to have come from older mysql / mariadb versions and we've dropped it.

It's a good find though, I think we

[2022-05-03 15:41] github-germ opened #8329 "Feature Request: Add attributes.timestamp database index for performance improvement"
### Is your feature request related to a problem? Please describe.

We do a lot of PyMISP client apps looking at `Attributes` qualified by their `timestamp`. Some of these apps take a very long time to process.

We see that `attributes.timestamp` is not a database index.

Testing the query time for a database query like the following we see:
**a 50 fold improvement with the index!!**
- 5 minutes:

[2022-05-03 18:50] Rogueit opened #8330 "Bug: Import Stix2 causes Error: [ProcessException]"
### Expected behavior

Import stix2 json file
[code]

### Actual behavior

An Internal Error Has Occurred.
Error: An Internal Error Has Occurred. Please try your action again. If the problem persists, please contact administrator.

[code]

### Steps to reproduce

Event Actions => Add Event => Import from => stix 2 Format => Choose file => upload

### Version

v2.4.158

### Operating System

Ubuntu

[2022-05-03 21:17] iglocska commented on #8329
WOAH. That's a nice catch. I just checked and the index is indeed missing, we'll add this in the next release.

[2022-05-04 06:54] #8251 closed, assigned to nobody

[2022-05-04 09:43] ArockiaChristopher opened #8332 "Support: Script to install all Plugins for enrichment"
### Support Questions

I installed MISP tool in my Ubuntu 20.04 LTS machine and I could only see around 15 plugins under **Server Setting & Maintenance** section. I want to install all available plugins regarding enrichment part. Please suggest a shell script to run.

### MISP version

2.4

### Operating System

Ubuntu

### Operating System version

20.04

### PHP version

7.4

### Browser

_No re

[2022-05-04 11:54] github-germ commented on #8329
THANKS!!

[2022-05-04 11:54] #8329 closed, assigned to nobody

[2022-05-04 14:02] github-germ commented on #3321
@iglocska -- Thanks for confirming my findings with yours. Are there plans to force the index keys for attribute focused searches in a release soon?

[2022-05-04 16:11] jdcardona07 opened #8333 "Support: ¿how can I enable the "Extract Entities" option?"
### Support Questions

how can I enable the "Extract Entities" option.

I do not have the option enabled to automatically extract indicators, threat intelligence as a threat actor from the reports.

![image](https://user-images.githubusercontent.com/98642593/166724027-f887d9df-b659-4b8e-9a1b-53afab42bad4.png)

### MISP version

2.4.158

### Operating System

Ubuntu

### Operating System version

2

[2022-05-04 16:14] jdcardona07 commented on #8333
enabled modules:
![image](https://user-images.githubusercontent.com/98642593/166724987-2b359f6b-1615-48de-b7dd-04cfd9b82d79.png)

[2022-05-04 19:59] packet-rat commented on #8329
Can we get first_seen, last_seen indexed as well (if not currently)?

[2022-05-04 20:03] github-germ commented on #8329
`first_seen` and `last_seen` are already indexes in the `attributes` table.

[2022-05-04 22:17] nyx0 opened #8334 "Bug: Extract entities not showing."
### Expected behavior

Extract entities menu available.

### Actual behavior

Extract entities does not appear in the menu `Markdown parsing rules`

### Steps to reproduce

Import From URL
Menu
...

MISP-modules is up and running

### Version

v2.4.158 (e608ee5cd774009709a838d9d0285f2f38d539a9)

### Operating System

Debian

### Operating System version

10

### PHP version

7.3.31-1

### Browser

[2022-05-05 01:26] UFOSmuggler opened #8335 "Bug: Some characters in event info rendered in browser as html entities"
### Expected behavior

Creating an event with event info "\<hello\>" and pressing submit should result in an event rendering in the browser with an event title of "\<hello\>".

### Actual behavior

In the browser the event title appears as "\&lt;hello\&gt;".  However, lower in the page, in the event info section, it is rendered correctly.

Examining the json shows the event info to be < and >, not

[2022-05-05 08:45] JakubOnderka commented on #8335
Hello, thanks for report. It is already fixed in `develop` brach, so It will be fixed in next version.

[2022-05-05 08:45] #8335 closed, assigned to nobody

[2022-05-05 15:13] iglocska opened #8337 "Feature Request: Change default behaviour of the installation to exclude hover modules from being enabled"
### Is your feature request related to a problem? Please describe.

Currently installing MISP via the install script allows users to install misp-modules in addition to the core itself.

When this option is chosen, it also enables a long list of modules, along with hover modules, meaning that users can accidentally trigger potentially problematic lookups.

Solution:

### Describe the solution you'

[2022-05-05 15:48] lightman63 opened #8338 "Support: misp-modules - VT enrichment blocked"
### Support Questions

Hello,

I have an issue on MISP about misp-modules VT.
Normally it's worked but sometimes it's blocked with this following message : "Module results ingestion queued for background processing. Related data will be added to the event as it is being processed."
![image](https://user-images.githubusercontent.com/61386677/166961717-f43844fe-15ed-4f01-8af0-a66c721996af.png)

I tr

[2022-05-05 15:54] asgharali1 opened #8339 "MISP Backup and Restore"
### Support Questions

When executing misp-restore.sh script on a new server, does not seem to work. I have tried moving the files manually and changing the file permissions; still unable to get the restore work. Please advice

### MISP version

MISP 2.4.152

### Operating System

Ubuntu

### Operating System version

20.04

### PHP version

PHP 7.4.27

### Browser

Safari

### Browser version

Ve

[2022-05-05 15:57] asgharali1 commented on #8339
Below are the values for misp-backup.conf file:

[code]

[2022-05-05 17:41] adulau commented on #8334
Indeed, it was a bug. It's now fixed in https://github.com/MISP/MISP/commit/5d86dd0f808e39b6f0a95605dcdc0760453a327d

Thank you for the notification.

[2022-05-05 17:41] #8334 closed, assigned to nobody

[2022-05-05 17:42] adulau commented on #8333
Indeed, it was a bug. It's now fixed in https://github.com/MISP/MISP/commit/5d86dd0f808e39b6f0a95605dcdc0760453a327d

Thank you for the notification.

[2022-05-05 17:42] #8333 closed, assigned to nobody

[2022-05-06 06:24] SergeyDrachuk commented on #7790
The same problem. Also after a reinstall (docker-compose) from a scratch feeds working only automatically (by internal scheduler) at night. The manual attempt to pull data from feeds failed with the error
[HttpSocketHttpException] Remote server returns HTTP error code 404 for URL https://misp.cert.gov.my/events/restSearch/manifest.json
It looks like an incorrect request.

[2022-05-06 12:48] lu-chi opened #8344 "Support: Cannot find "delegation" option"
### Support Questions

Hi,

I am trying to figure out where can I find 'delegation' option. I have that as an option for my role but I cannot find it in the menu as described in MISP documentation. Thanks in advance for your help!

### MISP version

2.4.158

### Operating System

Ubuntu

### Operating System version

18

### PHP version

7.4

### Browser

all

### Browser version

all

### Relevan

[2022-05-06 14:20] fukusuket commented on #7044
In my environment, the cause of 404 error was due to Apache's default setting ([AllowEncodedSlashes Directive](https://httpd.apache.org/docs/current/en/mod/core.html#allowencodedslashes)).
After setting `AllowEncodedSlashes On` in config file, the 404 error no longer occurs.

However, filtering with  forward slash still doesn't work.
If you put a slash in the URL parameter, it seems that you need

[2022-05-06 19:26] github-germ commented on #8305
@JakubOnderka ... Great. Thanks!

[2022-05-07 10:48] syloktools opened #8350 "Feature Request: Sync deleted (blocklisted) events with downstream MISP instances (master->slave)"
### Is your feature request related to a problem? Please describe.

In our setup, we have a Central server that is a source of truth. We have downstream servers that are children of the central. If I delete an event in the Central server, I want the dependant servers to sync and delete the matching event. Or at least unpublish it.

### Describe the solution you'd like

Add a master -> slave relati

[2022-05-07 14:46] el-fabri commented on #7013
How can I make that change permanent? It seems that it needs to be done everytime you start MISP or restart the computer.

[2022-05-08 09:31] ahmedxuae91 opened #8354 "Support: Error while pulling from Synced Server - ERROR: SQLSTATE[HY000]: General error: 1205 Lock wait timeout exceeded; try restarting transaction"
### Support Questions

Hi Team,

I am facing blow error when pulling events from CIRCL :

ERROR: SQLSTATE[HY000]: General error: 1205 Lock wait timeout exceeded; try restarting transaction

All other fetching_feeds and Pull jobs are working fine.

Is there any one facing same problem?

### MISP version

2.4.158

### Operating System

Ubuntu

### Operating System version

20.04

### PHP version

7.

[2022-05-09 00:53] djha983 commented on #8207
Hello @righel ,

I am in process of deploying the MISP by distributing roles to get the HA architecture ,i have some queries.Here is what i have done.
1. I have created clustered mariadb database server which will be used as remote database.
2. I have created a vm which has redis server running.
3. I have to vm which will run MISP.
4. I have installed MISP core wih modules on each of server app01

[2022-05-09 06:04] #8354 closed, assigned to nobody

[2022-05-09 13:25] JakubOnderka commented on #7512
Thanks for report, it will be fixed in next MISP version.

[2022-05-09 18:02] fukusuket commented on #7013
If you want to change the sql_mode permanently, add the following text to the mysql config file(usually it’s in **/etc/my.cnf** or **/etc/mysql/my.cnf**) and restart mysqld.

[code]
Then, you can permanently set the sql_mode(disable ONLY_FULL_GROUP_BY) even after restarting the OS (or mysqld).

See also:
- https://tableplus.com/blog/2018/08/mysql-how-to-turn-off-only-full-group-by.html
- https://s

[2022-05-10 00:27] jloehel commented on #1781
@rommelfs Why have you closed this issue? It is still a problem. I would love to see step 4 as a background task/job and `similar attributes` optional. It would be an amazing timesaver. :-)

[2022-05-10 14:16] lightman63 commented on #8338
Hello,

Do you have somes work around about this issue?

[2022-05-10 15:09] hartek opened #8359 "Bug: proc_open error when using SimpleBackgroundJobs"
### Expected behavior

A job is started and dispatched by one of the currently running workers that `supervisord` shows as running.

### Actual behavior

The job is created in MISP, but it never gets started. The following error appears on `/var/www/MISP/app/tmp/logs/misp-workers-errors.log`:

![imagen](https://user-images.githubusercontent.com/11649585/167657993-53bead13-00af-4deb-a84c-968b48d81e

[2022-05-10 15:47] lightman63 commented on #8338
Resolved.
Indicator used to enrich ever exists but soft deleted.
Close issue.

[2022-05-10 15:47] #8338 closed, assigned to nobody

[2022-05-10 15:50] righel commented on #8359
Hello @hartek
This feature requires PHP >=7.4.
see: https://www.php.net/manual/en/function.proc-open.php

As PHP 7.3 reached EOL, I recommend you to update to PHP 7.4 and try again.

Hope this helps.

[2022-05-11 05:45] #8359 closed, assigned to nobody

[2022-05-12 09:32] shivang-1252 commented on #1735
Hi I am new to MISP so I facing the same issue in MISP version 2.4.158. I want to make the above-mentioned changes, but I didn't find the php.ini file. So could you please specify the path? In which file do we have to change.

[2022-05-12 11:35] pjotawake commented on #7545
Hello, is there any update on this issue? We keep suffering from the situation where empty events are causing the correlations table to grow excessively.

[2022-05-12 11:43] bpavesi opened #8363 "Bug: v2.4.158 "Contact Users" feature shows "Internal Error Has Occurred""
### Expected behavior

With "Contact Users" feature,  administrator can send mail messages to MISP users .

### Actual behavior

When sending a message, the following error is shown:

An Internal Error Has Occurred.
Error: An Internal Error Has Occurred. Please try your action again. If the problem persists, please contact administrator.

### Steps to reproduce

1. Select "Contact Users" from "Adm

[2022-05-12 13:09] github-germ commented on #8259
Anybody have a chance to look at this? Thanks...

[2022-05-12 13:44] iglocska opened #8364 "Feature Request: Add custom directory for taxonomies/galaxies for local data"
### Is your feature request related to a problem? Please describe.

Add custom directory for taxonomies/galaxies for local data

### Describe the solution you'd like

custom subdir

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-05-12 16:14] JoePJisc opened #8365 "Bug: Race Condition During Event Creation If Server Pull Called Twice"
### Expected behavior

MISP should either gracefully refuse to try and sync with the same server in the same direction more than once concurrently, or handle the race condition of multiple sync jobs trying to create the same event.

### Actual behavior

If two overlapping pulls are started for the same server, especially if MISP needs to create a large number of new events, the following error som

[2022-05-12 16:21] JoePJisc commented on #8365
For anyone interested, this is a cut down version of the workaround script I'm currently using:

[code]

The downside, if you add a new feed or server and it takes a long time to do the initial pull, nothing else will sync until that finishes.

[2022-05-12 17:15] adulau opened #8366 "Feature Request: Add a test if the PHP session handler is file based"
### Is your feature request related to a problem? Please describe.

Feature Request: Add a test if the session is file based

### Describe the solution you'd like

Add a test in the settings to find out if the sessions are handled by files in PHP instead of Redis. (as it can be a significant performance issue)

### Describe alternatives you've considered

_No response_

### Additional context

_No

[2022-05-13 07:07] RoyClark992 opened #8368 "Feature Request: Abilty to hide organisation names in Sharing Groups."
### Is your feature request related to a problem? Please describe.

Currently when organisations are added to a sharing everyone is able to see other organisation names. There is no way
of hiding other organisations in sharing groups.

### Describe the solution you'd like

A MISP setting similar to 'MISP.showorg' maybe called .MISP.ShowSG' and if set to false it will hide the organisations names w

[2022-05-13 07:20] JakubOnderka commented on #8368
Hello. You can try to use `MISP.hide_organisations_in_sharing_groups` and `MISP.hide_organisation_index_from_users` options.

[2022-05-13 07:26] RoyClark992 commented on #8368
Brilliant I will try it out

[2022-05-13 07:41] #8368 closed, assigned to nobody

[2022-05-13 07:41] RoyClark992 commented on #8368
Will use above setting

[2022-05-13 11:19] chrisr3d commented on #8330
Hello,
I looked at it and used the sample to reproduce the issue.

On my side what is raising an issue are the `"` and `'` characters that are not the standard ones.
It actually fails when the script calls the loading method from the STIX 2 python library, and even the standard JSON library does not accept it since the `"` and `'` that are used are not the standard quote and double quote character