[2020-05-13 06:44] dn2020gh commented on #5894
I have updated MISP from the Gui under Diagnostics, is that the correct way?

Or will I need to be pulling this specific branch and if so how do I do it: https://github.com/MISP/MISP/commit/d0e0ec0c0ed69ad34994aa225ac635e2a3ad02cb

[2020-05-13 06:45] RichieB2B commented on #5894
You need to re-run the python-stix part from the install guide to update it inside the venv.

[2020-05-13 07:36] dn2020gh commented on #5894
If you talking about instructions here:

https://www.circl.lu/doc/misp/updating-python/

...yes I have ran all these commands successfully....stix module is at 1.2.0.10 version but still getting the same error.

I think stix module aside, where was the actual fix done? Was it at the d0e0ec0 branch and I am getting that branch when I go through update instructions in here: https://www.circl.lu/doc/

[2020-05-13 07:45] JakubOnderka commented on #5877
You can try to check `Server Settings & Maintenance` -> `Diagnostics` -> `Legacy Administrative Tools` and click `Recorrelate attributes`.

I just check this function on my instance and it works.

[2020-05-13 07:53] RichieB2B commented on #5894
Now I see you posted stix2 errors this morning. Those are unrelated with fix d0e0ec0c0ed69ad34994aa225ac635e2a3ad02cb which fixes the stix 1.1.1 issue. You really should open a new issue for the stix2 case to avoid this type of confusion.

Please test with the stix 1.1.1 xfe-collection_8cdbf707a0776a9b31466a271ee4ecd0.xml file.

[2020-05-13 09:10] dn2020gh commented on #5894
All good now with stix 1, sorry for confusion, I have raised a separate issue for stix 2, will track it there.

Thank you to everyone for their help!

[2020-05-13 09:10] #5894 closed, assigned to chrisr3d

[2020-05-13 09:18] elhoim opened #5901 "Freetext import results "similar attributes" for ip|port type is too broad"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| MISP version / git hash   | 2.4.124

### Expected behavior

1. Highlight in the "freetext import results page" only relevant similar attributes for an attribute of type ip|port added via freetext import

### Actual behavior

1. Highlighting too many irre

[2020-05-13 09:33] chrisr3d commented on #5894
You are welcome

Thank you @RichieB2B for the clarification, I updated the value of the required version in the diagnostic tool.

I will try to be careful with the versions ;-)

[2020-05-13 10:36] dn2020gh commented on #5886
@chrisr3d will you be addressing the STIX 2.0 JSON issue? Still does not work

STIX 1 fixed

[2020-05-13 12:09] chrisr3d commented on #5886
I have been testing with the files you provided, and as the error message you sent here already mention it: some required fields are missing within the files themselves.

Before it goes through all the processing to parse the content, there is a function called `parse` that is executed to load the document, and it fails because the `report` object within the document has some required fields that

[2020-05-13 12:40] dn2020gh commented on #5886
Yes I have tried to validate them using stix2_validator and indeed validation have failed.

This is interesting as I was uploading them as Events into MISP last week with no issues.

Those JSONs are all exports from IBM X-Force Exchange reports. You can see some samples ones here:

https://exchange.xforce.ibmcloud.com/collection/COVID-19-Infostealer-Spearphishing-Campaign-8cdbf707a0776a9b31466a271

[2020-05-13 13:14] obstgit commented on #5873
The file key.py looks like this (im using VMWare):
url = """"
key = "WjMxA2PtSm1f8Kk1ipjj3cb64ud4a7Bs8RUpWHYd"

I think the four quotes are the problem here.

[2020-05-13 13:29] RichieB2B commented on #5886
@chrisr3d did the STIX 1.1.1 fixes, I just tested them. :-)

[2020-05-13 13:34] dmolina213 commented on #5878
If i can add. I enabled a custom feed via the GUI. everytime it pulls the feeds it automatically publishes the events and send out an email. How do i configure it such that it publishes but does not send an email?

[2020-05-13 14:30] dmolina213 commented on #5878
Where in MISP does the attribute to send an email alert is set when an event from a feed is published?

[2020-05-13 15:00] easrml commented on #5881
Tk u, I will try... :)

[2020-05-14 06:28] #5877 closed, assigned to nobody

[2020-05-14 06:41] mokaddem commented on #5786
It seems to either be that something went wrong during the installation and you are missing some files or a file permission issue. Could you please check if the file are there and that they have the correct permission?
Thanks

[2020-05-14 06:54] mokaddem commented on #5867
Hello!
Indeed, duplicate attributes are normal and needed if you want to have correlations.
What you consider as an duplicate attribute depends on the event you are referring to. If you wish to get all 'duplicate' attribute as the one in event X, you can do it in different ways:
#### Negate the event from which you want to see correlating attributes
[code]

#### Use the `includeCorrelations` param

[2020-05-14 06:54] #5867 closed, assigned to nobody

[2020-05-14 07:17] mokaddem commented on #497
Not sure about your use case but the setting `MISP.disable_emailing` may be useful. Be careful as
[code]

[2020-05-14 07:24] mokaddem commented on #5893
`privatetaxonomy` is actually the name of the private taxonomy.
So in your case, you could have:
[code]

[2020-05-14 07:24] #5893 closed, assigned to nobody

[2020-05-14 10:39] tinamina12 opened #5905 "Feeds UI doesnot show all default feeds"
# This template is meant for bug reports, if you have a feature request user the other template.

*If you would like to report a bug, please fill the template bellow*

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| OS version (client)       | Ubuntu, ...
| PHP ver

[2020-05-14 12:06] mokaddem commented on #5838
By looking at the last log entries you posted, it's the log of the scheduler. Since your are using CRON jobs you should not worry about it.
However, your db diagnostic screenshot is concerning, especially if you haven't touched the DB manually.
It could also explain why you were missing the `setting` column in your `UserSetting` table that @iglocska fixed.

I really advice you to fix the database

[2020-05-14 12:37] Rickozono commented on #5786
I was installing it in kali 2020. I tried on an Ubuntu 18.04, and I was able to install it. Thanks for your help!

[2020-05-14 13:03] #5864 closed, assigned to nobody

[2020-05-14 13:08] mokaddem commented on #5864
@patriziotufarolo Thanks for the analysis!
Indeed the commit from @iglocska cleaned a bit but it's not the root cause of the issue.
The bug comes from the fact that `mispObject` class was not loaded in the controller but was wrongly loaded in the Attribute's model, thus overriding the non-initialized link with the Object's model.
Calling `ClassRegistry::init` does nothing if the class is already l

[2020-05-14 13:24] #5887 closed, assigned to nobody

[2020-05-14 13:24] mokaddem commented on #5887
Hey, thanks for the report.
It should be fixed now. If it isn't please get in touch again!

[2020-05-14 13:40] #5890 closed, assigned to nobody

[2020-05-14 13:41] mokaddem commented on #5890
Thanks for the report.
Indeed, it was not possible to search for values containing `+`.
Now it's fixed.

[2020-05-14 13:50] #5896 closed, assigned to nobody

[2020-05-14 14:32] deathscoming commented on #4653
Yes, it is

If you want to disable it, there is an option in MISP Settings Tab.

[2020-05-15 01:52] dmolina213 commented on #4653
I am fetching a feed using a PyMisp script. One of the function calla publish(event, alert=false). Alert is set to false.  Manual says email should not be sent. But email is sent. I want to suppress email alerts for feed pulls with multiple events as it becomes annoying spam
Sent from my IPhone
V/R
Help Me, Help You
Douglas P Molina, MBA, CISSP, C|EH, CySA+,CCSK,GCTI
U.S. Department of Veterans Af

[2020-05-15 05:47] iglocska commented on #5905
Indeed, as of recently we've made loading them optional. Simply clock in load default feed metadata to load them all.

[2020-05-15 05:47] #5905 closed, assigned to nobody

[2020-05-15 06:06] #5786 closed, assigned to nobody

[2020-05-15 06:25] RichieB2B commented on #5905
First coffee, then comment on GitHub. I’m sure you mean “click on” not “clock in”.

[2020-05-15 07:48] patriziotufarolo commented on #5864
You are welcome :) I'm not so good with CakePHP, I try to do my best :P For this reason I didn't submit a PR.
Thank you for fixing it!

[2020-05-15 08:37] RichieB2B opened #5908 "Default event distribution per user"
Now that we have user settings, it would be great if a user could override `MISP.default_event_distribution` and `MISP.default_attribute_distribution` in her own profile. One of the options should be to distribute via a sharing group by default.

[2020-05-15 09:28] marcnil815 opened #5909 "Lock down sharing level for site/role/user"
**Is your feature request related to a problem? Please describe.**
I am running a MISP with a wide user base. No Event must be shared above "This Community", however, users make mistakes and share to "Connected" and "All*"

**Describe the solution you'd like**
I would like the ability to lock down the possible sharing levels pr. site/role/user.
For now site/server would suffice, however role would

[2020-05-15 09:30] #5860 closed, assigned to mokaddem

[2020-05-15 09:58] men-menouar commented on #5801
Issue fixed. Thank you everyone.

[2020-05-15 09:58] #5801 closed, assigned to nobody

[2020-05-15 10:11] mokaddem commented on #5909
Hey @marcnil815, I totally get the feature request but I don't really see why you have an issue for your use case.
Is your instance connected to other MISP instances?
- If yes, can't you just disable the PUSH for theses instances? Because by enforcing `This Community`, nothing will ever by pushed anyway.
- If no, the distribution above `This Community` will not have any other effect.
Thanks

[2020-05-15 10:13] redbiker-svg commented on #5849
Thanks @iglocska

1. Where can I check / change the MISP sync level ?

2. Thanks for the kind words, glad to see I’m making some sense of using and improving the platform. Happy to help colab on this works.

Interim, is there any way to obtain this or just even distinguish between “new” ioc and “old”. I’m currently struggling to pin point the exact attribute(s) from a feed infested event that has

[2020-05-15 11:30] marcnil815 commented on #5909
Other MISPs will still be able to PULL "Connected" and "All*" regardless of my PUSH settings.

Unless they elect not to do so on the receiving end; not that I am sure that is possible....you can't force degrade sharing levels on a PULL except "do not publish". And you would still extend the perimeter of sharing level to the next HUB. So even if it where possible I am depending on the other MISP to

[2020-05-15 19:09] kailaru commented on #5757
I was able to get SAML working using [mod_auth_mellon](https://jdennis.fedorapeople.org/doc/mellon-user-guide/mellon_user_guide.html#_installing_configuring_mellon), [DUO](duo.com) and the CustomAuth plugin.

My apache2 config:
[code]

The CustomAuth plugin configuration:
[code]

[2020-05-16 17:03] SteveClement commented on #5844
Fixed: https://github.com/MISP/MISP/pull/5913

[2020-05-16 17:03] #5844 closed, assigned to nobody

[2020-05-18 07:45] #5854 closed, assigned to nobody

[2020-05-18 07:57] mokaddem commented on #5909
@marcnil815 That's totally true!
Considering the requirements you gave, I assumed that your users doesn't have an interconnected MISP instance with third parties. Also I found it weird that you want to prevent your users to share with others.
Is there a particular reason for that? Because if they really want to, they can still export the data, change the distribution level then publish it to their

[2020-05-18 08:30] #5898 closed, assigned to nobody

[2020-05-18 10:25] jstnk9 opened #5918 "Schema Error"
Hi,

I have just updated my MISP instance to version 2.4.125. It seems that everything worked correctly, but there is an inconsistency error with the database schema.

![image](https://user-images.githubusercontent.com/7794663/82202256-f30db400-9901-11ea-9d40-b0db1c8b1ae1.png)

And viewGalaxyMatrix in events doesn't work. Show a black bar.

![image](https://user-images.githubusercontent.com/779466

[2020-05-18 10:56] marcnil815 commented on #5909
@mokaddem
Correct: the MISP is not connected to other MISPs for the sole reason that sharing levels cannot be locked down. The terms of engagement is "one-hop-only". And there is no way to enforce that (.ie. "max this community only"). That's about it :)

We are well aware that anyone with ill will can do whatever they want with the data. The puporse of this feature request is to prevent _unintent

[2020-05-18 11:55] #3772 closed, assigned to nobody

[2020-05-18 11:55] mokaddem commented on #3772
Sorry for the long waiting time... Whitelist should work as they did.

[2020-05-18 14:37] elhoim opened #5919 "Allow to run enrichment automatically an event"
**Is your feature request related to a problem? Please describe.**
I am frustrated when I need to enrich using the enrichment modules when I have a lot of attributes to pivot on.

**Describe the solution you'd like**
I would like to able to a apply a single enrichment module on all the attributes of a certain type in an event. For example, VirusTotal enrichment on all sha256 in an event.

**Descri

[2020-05-18 15:06] SoheiMitsukawa opened #5920 "[question]how to add attribute tag"
Hi.
I have a question about ExpandedPyMISP.
Please tell me that how to add attribute tag.

I am Japanese, so I use automatic translation to write messages.
I'm sorry if I made a mistake.
And I use PyMISP version 2.4.123.

I created this python code, but I  couldn't add tag.

fuga

fugafuga

[]

[<MISPTag - please define me>, <MISPTag - please define me>]

[]

I hoped it would show up as fugafuga a

[2020-05-18 15:59] packet-rat opened #5921 "Import MISP Event JSON Files Fail with "The request has been black-holed""
### Work environment
| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | RedHat
| OS version (client)       | Ubuntu
| PHP version               | 7.2.10
| MISP version / git hash   | 2.4.125
| Browser                   | All Browsers

### Expected behavior
Importing MISP Event JSON file creates new

[2020-05-18 16:13] luna7391 commented on #5838
Hi @mokaddem, the command above didn't work but I tried the following and the version reverted to 12.
UPDATE admin_settings SET db_version=12 WHERE db_version=53;

Result:

- Tried GUI logon, received error 503 Service Unavailable, the DB version had updated to 45.

- Tried GUI logon again after about 10 mintes, this was fine and DB version had updated to 53.

- DB schema now shows:
![image](https

[2020-05-18 20:14] tinamina12 commented on #5905
Thank you so much :)

[2020-05-19 05:20] cvandeplas commented on #1613
See also #995

[2020-05-19 05:23] cvandeplas commented on #3622
See also #1613 , #995 , and multiple other. Closing as duplicate.

[2020-05-19 05:23] #3622 closed, assigned to nobody

[2020-05-19 05:24] cvandeplas commented on #5592
closing as this is a duplicate of many more. See #1613 for updates.

[2020-05-19 05:24] #5592 closed, assigned to nobody

[2020-05-19 07:25] #5920 closed, assigned to nobody

[2020-05-19 07:52] SoheiMitsukawa opened #5922 "[question]how to add attribute tag #5920"
Hi.
I have a question about ExpandedPyMISP.
Please tell me that how to add attribute tag.
I am Japanese, so I use automatic translation to write messages.
I'm sorry if I made a mistake.
And I use PyMISP version 2.4.123.
I created this python code, but I couldn't add tag.

fuga

fugafuga

[]

[<MISPTag - please define me>]

[]
I hoped it would show up as fugafuga at the end.
Best regards,

[2020-05-19 08:03] Rafiot commented on #5922
Makes sense, this is a limitation on MISP side at this point, you cannot add a tag to an attribute with the `update_attribute` method.

You want to use the `tag` method: https://github.com/MISP/PyMISP/blob/master/pymisp/api.py#L2185

[2020-05-19 08:20] redbiker-svg commented on #5849
Managed to find a way to identify actual linked attribute between events. Although a bit of task, but manageable for testing and development purposes

[2020-05-19 09:14] SoheiMitsukawa commented on #5922
Oh, thanks for your comment.
I tried, and I succeed!
I'm glad to know that.
Thanks so much!

[2020-05-19 09:14] #5922 closed, assigned to nobody

[2020-05-19 10:37] dan00bielb opened #5923 "MISP internal server error on pull all job - Error: got response code 0 - Error: got response code 500"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Debian
| PHP version               | 5.4, 5.5, 5.6, 7.0, 7.1... (if relevant)
| MISP version / git hash   | v2.4.121 (ee0f708187dac85cab19115147c9d94becb55c05) but also tested on the test server with latest MISP version
|

[2020-05-19 20:55] #5754 closed, assigned to nobody

[2020-05-20 21:12] fatalglitch opened #5927 "MySQL install files are out of date"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| OS version (client)       | 18.04
| PHP version               | 7.2
| MISP version / git hash   | v2.4.126 (3274778d35de93da9508005ae20abcfff5ce963c)
| Browser                   | N/A

### Expected behavior
Proper dat

[2020-05-20 21:14] fatalglitch commented on #5927
It looks like upon install, there's a lock on the update process and it is blocking any DB updates

[2020-05-21 11:05] palmiragomez commented on #5905
Hi Tina! Sincerely hope that you read this didn't know how else to contact you so wishing this will work! you had solved the issue with urlilb2 on EvilOSX by setting up the environment -- what did you do to set up the environment ? I'm coming across the same issue that if you could post your solution I would greatly appreciate your help! gonna try myself however would love if you could assist with

[2020-05-21 19:48] mdavis332 commented on #5637
This was caused by a json.load() call before encoding='utf-8' was added to the func call in a later version of PyMISP's abstract.py. The venv pymisp lib was not updating with the webUI update button, so I manually updated by following the directions here https://www.circl.lu/doc/misp/updating-python/.

This is probably safe to close if @sfinlon is good with it.

[2020-05-22 04:27] GlennHD commented on #5722
Also ran into apiosintds issues testing out Ubuntu 20.04 LTS.  Everything else appeared to work except for this... Oh DigitalSide...

[code]

[2020-05-22 09:08] RevoStryder opened #5931 "CLI Enrichment not working"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 18.04
| OS version (client)       | NA
| PHP version               | 7.4
| MISP version / git hash   | 2.4.126, ec8ab2e23d5a96626f9fefddc7f4eff64c7f1032
| Browser                   | NA

### Expected behavior
`sudo /var

[2020-05-22 12:23] mokaddem commented on #5927
Indeed, `INSTALL/MYSQL.sql ` is not up to date but it's not an issue since it's updated to the correct version once you log in.
Based on the screenshots, it looks like the DB diagnostic was taken during an update process. Could you please check that page again once this process finishes?

[2020-05-22 12:38] #5931 closed, assigned to nobody

[2020-05-22 12:39] mokaddem commented on #5931
Thanks for the report. It seems to be a typo in the documentation. Please use instead
[code]

[2020-05-24 09:11] LHQ8884 commented on #3189
@deepak-eventtracker

I also don't see any error while importing it says job is queued.In jobs queue it says it is complete. How do you resolved this issue?

[2020-05-24 12:19] toddejohnson commented on #4084
I would suggest against chcon and instead suggest semanage fcontext -a as a relabel of the filesystem will cause these settings to be lost which can be triggered in multiple ways. Also is there a way we could package some of these dependent libraries in a repo to simplify things? RHEL8 and AppStreams should make this easier to accomplish.

[2020-05-24 12:40] djha983 commented on #3189
Hi,

It is because of the encoding format of the file.File from which you are importing shd be strictly saved in utf-8 format.

Regards,
Deepak Jha

Sent from Mobile
________________________________
From: LHQ8884 <notifications@github.com>
Sent: Sunday, May 24, 2020 2:41:13 PM
To: MISP/MISP <MISP@noreply.github.com>
Cc: Deepak Jha <deepak@eventtracker.com>; Mention <mention@noreply.github.com>
Sub

[2020-05-24 13:29] LHQ8884 commented on #3189
![image](https://user-images.githubusercontent.com/65844505/82755367-92044580-9e05-11ea-9d46-98cfb38cecd2.png)

![image](https://user-images.githubusercontent.com/65844505/82755382-ad6f5080-9e05-11ea-90da-f7ffeb83859c.png)

@deepak-eventtracker
I still can't get even my file is in utf-8 format

[2020-05-25 11:20] marcnil815 commented on #5780
Check the config file, if the settings are actually reflected. Sometimes the GUI for some reason does not represent what the actual config is.
`sudo -u www-data vim /var/www/MISP/app/Config/config.php`

[2020-05-25 11:53] xme commented on #5718
Hello, here is another one:

alert http $HOME_NET any -> $EXTERNAL_NET $HTTP_PORTS (msg: "MISP e9246 [] Outgoing URL http|3a|//welcome.aspx"; flow:to_server,established; content:"welcome.aspx"; nocase; http_header; tag:session,600,seconds; classtype:trojan-activity; sid:13772758; rev:1; priority:3; reference:url,https://misp.xxxxxx.xx/events/view/9246;)

This generates a lot of FP with URIs contai

[2020-05-25 15:20] StefanKelm opened #5939 "Add ability to clone an event?"
What do you guys think of being able to simply clone an existing event into a new one?
Consider the following use case: we have an event containing lots of IOCs which was never meant to be shared. Now, we'd like to be able to share a large sub-set of those IOCs. One idea would be to clone the event and remove the not-to-be-shared IOCs from the new one before sharing.
Does that make sense at all or

[2020-05-25 19:05] RichieB2B commented on #5939
Create a new event and select "Merge attributes from..." see #5820

[2020-05-26 08:48] int3dev commented on #5691
Similar Issue, after updating from 2.4.123 to 2.4.126
![image](https://user-images.githubusercontent.com/12826953/82880180-ab1f0a80-9f5b-11ea-8e80-f33b5e2bbdaf.png)

[2020-05-26 09:41] patriziotufarolo opened #5940 "Allow admin users to act as normal user and escalate privileges on demand"
**Is your feature request related to a problem? Please describe.**
The admin of a MISP instance can see everything on the platform, and the usage of the admin user to perform daily work is strongly discouraged by MISP itself. For example, an instance admin can see and edit events belonging to others and so on.

**Describe the solution you'd like**
It would be great to have, for instance admins, a

[2020-05-26 11:09] StefanKelm commented on #5939
Awesome. That feature is at least a workaround we can live with (it doesn't keep object, for example). Thank you!

[2020-05-26 11:09] #5939 closed, assigned to nobody

[2020-05-26 13:54] Tux-Panik commented on #1957
Three years later, I succeed to totally fix the issue.
It was a SELinux policy issue.

First, I temporary disabled SELinux, to confirm the root cause:
`sudo setenforce 0`

As soon as I succeed, I allowed SELinux to write the ".gnupg" directory:
`chcon -t httpd_sys_rw_content_t /var/www/MISP/.gnupg/`
`sudo setenforce 1`

 Another issue that helped me: https://github.com/MISP/MISP/issues/2471

[2020-05-26 14:24] iglocska commented on #1957
Thanks for updating the issue. SELinux - the bundle of joy that just keeps on giving, eh?

[2020-05-26 15:02] dmolina213 commented on #5878
anyone, anyone?

[2020-05-26 19:05] cvandeplas opened #5943 "Pull sync terribly slow due to sightings implementation"
We discovered that the pull sync is terribly slow due to the implementation of sightings sync.
On some instances, pulling one single event causes a 40 minute delay due to this.

The Server.php Pull function calls for the `pullSightings()` function [line 2690](https://github.com/MISP/MISP/blob/2.4/app/Model/Server.php#L2690):
[code]
This triggers the [following code](https://github.com/MISP/MISP/bl

[2020-05-26 19:38] RichieB2B commented on #5943
Since downloadEventFromServerI() is also used in the pull() function (via __pullEvent()) it's not simple to modify it for this purpose. A new endpoint to just download the sightings for a certain event will certainly speed things up though.

[2020-05-27 01:37] NetEyes opened #5944 "where do i find my misp instance key?"
I just installed the latest version of MISP from fresh Ubuntu server.
I am creating connector from OpenCTI and I need to define in the docker file the misp instance key.
Can you please tell me where do I find in the misp my instance key?

[2020-05-27 07:03] NailBash opened #5945 "Inconsistency between number of event attributes"
Hi, I have events, based on feed. In this events, when I look at them from events list event have hundreds of thousands attributes.
![изображение](https://user-images.githubusercontent.com/29750691/82987787-92712c00-a011-11ea-9578-ba0748574e01.png)

 But when I look the event itself, It have just thousands attributes.
![изображение](https://user-images.githubusercontent.com/29750691/82988228-41156

[2020-05-27 08:09] JakubOnderka commented on #5945
It is a bug in MISP. Number of attributes is saved in event table, but it is just increased.

It is missing here:
https://github.com/MISP/MISP/blob/eef05690d88b69e7448d9dc9b8611c7bfbfc130e/app/Model/Feed.php#L999-L1000

[2020-05-27 08:25] iglocska commented on #5944
Either go to Global actions -> my profile or directly to this url: `/users/view/me`

[2020-05-27 08:27] iglocska commented on #5944
This will get you your user's key. Keep in mind, you are most like a site administrator at that point, so depending on how much data you would like to push out of MISP / what restrictions you want to have in place, you might want to create an automation user for the task. Site administrators circumvent all distribution restrictions.

[2020-05-27 12:23] garanews commented on #3296
Hello @iglocska any news about this? XD

[2020-05-27 12:29] Rafiot commented on #3296
It should be fixed: https://github.com/MISP/PyMISP/blob/master/tests/testlive_comprehensive.py#L514

If you tried it, can you please give us the queries?

[2020-05-27 12:46] NailBash opened #5946 "Install MISP on Centos 7"
Hello, everyone. I have some questions again. I have MISP installed on Ubuntu, but for some reason I want to have MISP on Centos 7. I'm not very experencied in linux and I can't understand what I should do, to install MISP on Centos 7 using instructions from here : https://misp.github.io/MISP/INSTALL.rhel7/.
Is this a scripts for bash? But if so why it's look like functions from programming langua

[2020-05-27 13:09] AntoninHL opened #5947 "MISP & Misp Filebeat Module"
Hi all,

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Ubuntu
| MISP version / git hash   | v2.4.126

### Support Questions
I have an issue regading usage of MISP Filebeat module.

everything is well configured on the MISP Server.

modules.d/misp.yml:

[code]

Everyth

[2020-05-27 13:25] iglocska commented on #3296
Yeah forgot to close the issue, this should have been fixed aeons ago.

[2020-05-27 18:51] cyber288 opened #5949 "Soft delete of attributes don't propagate across MISP instance syncing when they originate from a feed"
*If you would like to report a bug, please fill the template bellow*

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | ubuntu0.18.04.3
| OS version (client)       | Win10
| PHP version               | 7.2.24-0
| MISP version / git hash   | 2.4.124

### Expected behavior
MISP

[2020-05-28 10:36] KZcsirtCY opened #5950 "MISP: Snort Rules Download - Correct Size and Path"
|---------------------------|--------------------
| Type of issue                | Support
| OS version (server)       | Ubuntu 16.04
| OS version (client)        | Ubuntu 16.04.5 LTS
| PHP version                 | N/A
| MISP version               | 2.4.125
| Browser                       | Chromium

### Ticket Info
Dear Support,

Please, be informed about the below support ticket:
We have automa

[2020-05-28 19:31] cyber288 commented on #5949
I worked on recreating the issue in a lab environment with two fresh instances of MISP.
This is the path for the attributes for my event:    Feed A -> MISP A -> MISP B (through pull sync from MISP B)
This is an example from a feed based event that originally had 4 attributes and where one was removed:
![image](https://user-images.githubusercontent.com/43047272/83184193-151fe700-a0f7-11ea-89c8-7ace

[2020-05-29 03:27] colbyprior opened #5951 "ShibbAuth options for not overwriting role or organisation"
I have been testing ShibbAuth however I would like to make it so that it doesn't overwrite the user role or organisation if the user already exists.

These could be extra configuration options like the following:
[code]
Then a simple flag to check if these config options are set in the plugin.
https://github.com/MISP/MISP/blob/2.4/app/Plugin/ShibbAuth/Controller/Component/Auth/ApacheShibbAuthentic

[2020-05-29 07:29] bit111 opened #5953 "Proper way to sync many MISP instances"
Hello,
I would like to understand how to properly sync more MISP instances.
### My scenario:

- "A" Primary MISP instance (coordinator);
- Some MISP instances with _pull_ & _push_ rights (B_11, C_11, D_11, etc.);
- Some MISP instances with only _pull_ rights (Z_10, Y_10, X_10, etc.)

Each MISP instance (B, Z, etc) can only pull/push ioc from/to Organisation "A" which redistribute ioc to the other

[2020-05-29 16:45] timhux123 opened #5957 "Event pushed between local servers contains no attributes"
| Type of issue             | Support
| OS version (server)       | Ubuntu
| OS version (client)       | Win10
| PHP version               | 7.2
| MISP version / git hash   | v2.4.126 (69f606a6c09d0c8b6bda23f7559757492fa5cecc)

New issue has started to appear, and I cannot find any visible configuration problem. The issue does not happen to all events.

I have 2 local MISP servers. Events are pull

[2020-06-01 05:52] SteveClement opened #5960 "Potential issue when running MISP in a chroot environment"
Running MISP under OpenBSDs [httpd](https://man.openbsd.org/httpd.8) which chroots by default to /var/www/htdocs makes MISP fail to read some files.

This might be due to rewrite rules not working properly.

[code]

[2020-06-01 09:09] Rafiot opened #5961 "Incorrect error message on users/change_pw (via POST)"
When we change the password to the same as the current one, it should return this error message:
https://github.com/MISP/MISP/blob/2.4/app/Controller/UsersController.php#L278

And it returns the following instead:
[code]

[2020-06-01 09:19] Rafiot opened #5962 "Impossible to change someone else's password as admin"
POSTing the following on `users/change_pw` as admin will change admin's password, which is super confusing:

[code]

[2020-06-01 11:41] Alaa-HIjazi commented on #3254
Config the API Key is not working, I have the same error.

This template is meant for bug reports, if you have a feature request user the other template.
If you would like to report a bug, please fill the template bellow

Work environment
Questions Answers
Type of issue No Module Found
OS version (server) Ubuntu
OS version (client) Win10
PHP version 7.4
MISP version / git hash 2.4.125 (4604aa4)
Br

[2020-06-01 21:30] PakitoSec opened #5966 "MISP Functional/technical architecture for a SOC"
Dear Community,

We are going to build a MISP in our SOC service and we have a few questions about the functional / technical architecture best practices.

**Our needs are:**
- Share events inside and outside the company.
- Feed our SIEM from MISP.
- Feed MISP from our sources (SIEM included).

**Our questions are:**
- Should we have 2 MISPs: one DMZ and one internal? or just an internal MISP conn

[2020-06-02 02:31] reza commented on #3944
For anyone who ends up reading this page and has problems in generating STIX objects in XML format, please make sure you send Accept header as text/xml,  it does not work with application/xml and returnFormat:'xml' or 'stix' does not override it.

[2020-06-02 07:53] iglocska commented on #5962
change_pw is the endpoint where you change your own password when prompted on login. If an admin wants to edit the password of a user they should go through /admin/users/edit

[2020-06-02 07:54] iglocska commented on #5962
Posting a full user object is definitely not expected or supported by that endpoint, it changes your password because it only expects the "password" field, which is also present in a user object.

[2020-06-02 08:08] Rafiot commented on #5962
:+1:

[2020-06-02 08:08] #5962 closed, assigned to nobody

[2020-06-02 09:10] 0xThiebaut opened #5968 "Make event REST search case-insensitive"
The [event REST search endpoint](https://github.com/MISP/MISP/blob/69f606a6c09d0c8b6bda23f7559757492fa5cecc/app/Model/Event.php#L2607-L2614) is case sensitive as opposed to the [event controller](https://github.com/MISP/MISP/blob/0db582ef957b2b17d11bccb7bfb476ad3b9135fa/app/Controller/EventsController.php#L484-L499) which results in an unexpected behavior for the end-user searching for a particula

[2020-06-02 16:24] GlennHD commented on #5790
I'd imagine we would want to be good stewards of resources from these free services.  I'd recommend doing a first time full CSV dump to "catch up" and then download events via the `https://urlhaus.abuse.ch/downloads/csv_recent/` 30-day URL.  We should probably do this for all abuse.ch feeds.

[2020-06-02 18:01] GlennHD opened #5969 "Fetching the 'https://labs.snort.org/feeds/ip-filter.blf' failed with HTTP error 403: Forbidden"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version       | Ubuntu 18.04 LTS
| PHP version               | 7.2.24-0ubuntu0.18.04.6

### Expected behavior
Should be able to fetch Talos Intelligence IP-Blacklist (https://talosintelligence.com/documents/ip-blacklist)

### Actual behavior
I have no

[2020-06-03 07:50] NailBash opened #5970 "Update warninglists from source"
Hello everyone. If I understand correctly, "Update warninglists" button just loads warninglists from local folder.
![изображение](https://user-images.githubusercontent.com/29750691/83609907-4d607300-a598-11ea-8104-30f7a7a79f5d.png)
If it possible to make updating warninglists from source of this lists? And maybe make schedulled tasks for this?
P.S. And can I ask how often updates warninglists at t

[2020-06-03 08:05] tinamina12 opened #5971 "Suricata Rule Generation for File Hashes"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| OS version (client)       | Ubuntu
| PHP version               |7.1...
| MISP version / git hash   | 2.4.XX, hash of the commit
| Browser                   | If applicable

### Expected behavior
Since API does not sup

[2020-06-03 08:26] mokaddem commented on #5878
Hey,
[code]
This is correct. You should provide an ID and putting alert to False will push the event without sending emails.
Also, when feeds are published, they should not send emails. Are you sure you are receiving the mail from the instance that pulled the feed and not from a connected instance?

[2020-06-03 08:45] #5944 closed, assigned to nobody

[2020-06-03 08:52] mokaddem commented on #5947
Hello,
I'm not sure if it's MISP related or your module.
Do you see any errors in the MISP's logs that could be linked with your issue?
The logs are under `app/tmp/logs`.

[2020-06-03 08:53] mokaddem commented on #3296
Can the issue be closed then?

[2020-06-03 09:01] mokaddem commented on #5950
Hello,
Using the restSearch is the correct way to download them. We are slowly deprecating the export page.
By looking at your script
[code]
If there is more data than 10000 (the limit you set), you might want to go to the next page to get the remaining data.
You can check the number of return entries by looking at the response header `X-Result-Count`.

[2020-06-03 09:01] #5950 closed, assigned to nobody

[2020-06-03 09:05] #3296 closed, assigned to nobody

[2020-06-03 09:16] mokaddem commented on #5949
Hello @cyber288,
Thanks a lot for the detailed issue.
It's indeed a bug. The `delta_merge` is actually hard-deleting Attribute and not soft-deleting them.
I'll try to push a fix.

[2020-06-03 09:27] mokaddem commented on #5957
[code]
This is indeed weird. It  should be resolved whenever the Event.attribute_count issue is fixed.

[code]
This is fine. I guess you let open the page for too long and you got sign out automatically.

Aside for the first issue, everything is working as expected now?

[2020-06-03 09:36] eCrimeLabs commented on #5362
I don't know if this is covered in the @RichieB2B comment, however from the usage I've seen the local tags be seen as both an local instance tag and a local organisations tag, as mentioned it does not modify existing events but help the organisation to add context and work flow on events or attributes from data delivered by other organisations.

I should be possible to add local tags that are sync

[2020-06-03 09:48] mokaddem commented on #5970
Hello,
You are right, `Update Warninglists` loads the warning lists from the local folder.
These warning list are coming from [this repository](https://github.com/MISP/misp-warninglists). So each time you pull, you can update them.
You can find more information on how to update the warning lists via the CLI [here](/events/automation).

[2020-06-03 09:48] #5970 closed, assigned to nobody

[2020-06-03 13:06] #5961 closed, assigned to nobody

[2020-06-03 15:50] marianpigi2020 commented on #5943
@cvandeplas How you have discovered that the pull sync is slowed due to the implementation of sightings sync? I'm facing a similar problem and I would like to check if this could be the reason.
Thanks a lot!

[2020-06-03 17:05] timhux123 commented on #5957
Thanks for the information. Everything is working as long as I hard delete the attributes I don't need before pushing the event from Server A to Server B. If the attributes are soft deleted the pushed event to Server B contains no attributes.

[2020-06-03 22:00] EdAtt opened #5975 "No data coming from sshpwauth.txt"
Is sshpwauth.txt still a vaiable feed data source for MISP?  I've noticed that I have not seen any data coming from this source.  When I try the URL,  https://dataplane.org/sshpwauth.txt, from a browser I get the following header but no data:

# DataPlane.org - for operators, by operators
# sshpwauth
# 2020-05-27 21:00 - 2020-06-03 21:00
#
# The sshpwauth report is free for non-commercial use ONLY

[2020-06-03 23:20] timhux123 opened #5976 "Update Private Taxonomy"
| Type of issue             | Support
| OS version (server)       | Ubuntu 16.04
| PHP version               | 7.4.4
| MISP version / git hash   | v2.4.126 (69f606a6c09d0c8b6bda23f7559757492fa5cecc)

I created a private taxonomy which is working. I opened machinetag.json and edited the description and value under the predicate. I also increased the version number of the file.
Performed a "Update T

[2020-06-04 05:51] AntoninHL commented on #5947
Hi @mokaddem

Many thanks for your reply.

Unfortunately, there is no specific error in all the *error*.log files...

The only thing I have is:
`httpjson/input.go:120#011failed to execute http client.Do: Get https://xxxx.xxxxxx.fr/attributes/restSearch: net/http: request canceled (Client.Timeout exceeded while awaiting headers)#011{"url": "https://xxxx.xxxxxx.fr/attributes/restSearch"}`

I've been

[2020-06-04 06:16] RichieB2B commented on #5976
This is by design. The machinetag.json does not have an id for tags, just a name. If you want to change the name of existing tags you will need to do it in the MySQL database.

[2020-06-04 06:54] mokaddem commented on #5947
Do you see a connection request in the apache access logs? If you don't, there is definitely something badly configured or the filebeat integration is not stable yet.

[2020-06-04 07:13] djha983 opened #5977 "Too many Time_wait connection for Redis"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       |  Ubuntu
| PHP version               |7.2.24
| MISP version / git hash   | v2.4.123 (55bcc4fa470af0bd24db0128e3b2cf3919af1c7e)
| Browser                   | If applicable

### Expected behavior
We are seeing lot of redis connec

[2020-06-04 07:35] AntoninHL commented on #5947
Yes...
xxx.xxx.xxx.xxx - - [04/Jun/2020:09:23:47 +0200] "GET /attributes/restSearch/ HTTP/1.1" 200 20825 "-" "Elastic Filebeat/7.6.2 (linux; amd64; xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx; 2020-03-26 05:23:38 +0000 UTC)"

Very strange...

[2020-06-04 07:53] mokaddem commented on #5947
So you are actually doing a `GET /attributes/restSearch/` without filtering parameters. That means, you are fetching the entire dataset in one shot, which could explains the timeout.
Could you try to paginate and see if it helps?
The **200** response code is weird though.

[2020-06-04 07:56] AntoninHL commented on #5947
There is a filter in the misp.yml config file:

[code]

[2020-06-04 08:10] iglocska commented on #5947
That indeed won't work, the http_method has to be POST. Alternatively, you can pass the request as URL parameters in the format:

`/attributes/restSearch/last:1d`

[2020-06-04 09:39] blabut opened #5978 "Simpler way of closing distribution graph popup"
When opening the distribution graph popup (clicking on the "i" button at the "distribution" row when viewing an event), it doesn't seem very intuitive to me that you have to click the button again in order to close the popup.

Ideally, I would like the popup window to close when I click anywhere outside of it. This seems a good solution because it is the easiest, and accidentally triggering it wou

[2020-06-04 09:45] blabut opened #5979 "Simpler way of selecting an event to view from the /events/index page"
On the main event list page (/events/index), there is (according to my limited MISP experience) no way of jumping to a given event details page than clicking on the publish status indicator (either a cross or a tick), which I find quite counter-intuitive.

I think it would be nicer for the UX to only have to click anywhere on the corresponding row (of course, outside of any other button/link such

[2020-06-04 09:48] mokaddem commented on #5953
Hey thanks for reaching out!
Considering the scenario you gave, please find some feedback below.
Note that I'm not sure if this is the exact configuration you want as I couldn't find a clear differentiation between what the other instances can do and they should do (capability vs permission).
Same goes for the sync method, you can have `pull` only, `push` only, or a combination of the two.

### Yo

[2020-06-04 10:36] bit111 commented on #5953
That's exactly what I wanted!
So, other instances that create server connection to **A** with `pull` flag have to manually run `pull updates` on server each time? **[1]**

This solution seems to be more automatic if [1] is true

[2020-06-04 11:47] mokaddem commented on #5966
We like to have this architecture as it allows us to cherry pick Event from both the internal and external MISP instance.

I would use different user roles instead. Otherwise you will surely confused third parties as an organisation is unique by it's UUID and not it's name. If you give the `publisher` role to certain users, they will be able to review the event before publishing it.

I you plan to

[2020-06-04 11:57] #5978 closed, assigned to nobody

[2020-06-04 11:57] mokaddem commented on #5978
Thanks for the suggestion!

[2020-06-04 12:01] mokaddem commented on #5979
Haven't realized that you can click on the `publish` status to access the event.
Double clicking on the row opens the `event/view` page too.
Anyway, this part of the UI is planned to be refactored at some point.

[2020-06-04 12:01] #5979 closed, assigned to nobody

[2020-06-04 12:26] mokaddem commented on #5953
Exactly. Usually this process is put in CRON job so that they don't have to do it manually.

it is
Both pull and push have their advantages
- Push is automatic and mimic real-time sharing. Hover, if the remote server is not accessible, they will not receive the updates unless **A** triggers a full push.
- Pull is triggered by the remote servers and make sure they are aligned with everything on the

[2020-06-04 12:26] #5953 closed, assigned to nobody

[2020-06-04 12:37] timhux123 commented on #5976
Thanks for the update. I see what I did. I changed the name of the predicate which caused the new tag to be created.

[2020-06-04 12:37] #5976 closed, assigned to nobody

[2020-06-04 13:20] bit111 commented on #5953
I tried this solution: I've created a `Read Only` user on instance **A** and a sync server with `pull` right on instance **X** but when I click on `Run` button in sync server I have this error: _Remote user not a sync user_
Does it just work with `Sync User` ?

Ok, I've created a new Role of type `Read Only` **with flag on sync** and it works!

[2020-06-04 15:03] #5949 closed, assigned to nobody

[2020-06-04 15:05] RevoStryder opened #5980 "CLI Enrichment Not Working"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 18.04
| OS version (client)       | NA
| PHP version               | 7.4
| MISP version / git hash   | 2.4.126, 95d81bd0f36f4c7bcf71757a5bbe5f1a7617b954
| Browser                   | NA

### Expected behavior
Running ei

[2020-06-04 15:30] marianpigi2020 opened #5981 "Complete Pull job from another Instance in "Queued" state without any reasonable cause"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Ubuntu 18.04.4 LTS
| OS version (client)       | Win10
| PHP version               | 7.4.4
| MISP version / git hash   | v2.4.121 (0f632236fa62e16f98e4e09e41349e1926998b3e)
| Browser                   | Chrome

### Support

[2020-06-04 15:36] cvandeplas commented on #5943
@marianpigi2020 the code as explained in the report above. At the end of each pull (one event or many), it will search all Events with a sighting, and download those (again) from the remote server.

[2020-06-04 16:45] MySickSi opened #5982 "An Internal Error has occured"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Ubuntu 18.04
| OS version (client)       | Win10
| PHP version               | 7.4.6 (cli)
| MISP version / git hash   | 2.4.XX, hash of the commit
| Browser                   | Google Chrome

### Support Questions
When I

[2020-06-04 17:14] MySickSi commented on #5982
Ok I just ran: sudo killall -u mysql & sudo service mysqld start. I am now receiving a new error.

`2020-06-04 17:09:41 Error: [MissingConnectionException] Database connection "Mysql" is missing, or could not be created.
Exception Attributes: array (
  'class' => 'Mysql',
  'message' => 'SQLSTATE[HY000] [1045] Access denied for user \'misp\'@\'localhost\' (using password: YES)',
  'enabled' => tru

[2020-06-04 17:25] AntoninHL commented on #5947
Thanks @iglocska
it works when I put directly: `/attributes/restSearch/last:1d`
But http_method must be GET.

Really strange because it worked with ` var.http_request_body: '{"last":"1d"}'` at the begining.

I think that @mokaddem is right: filebeat integration is not stable yet.

But it works again now!

Many thanks for your help guys!

[2020-06-04 17:25] #5947 closed, assigned to nobody

[2020-06-05 04:39] mokaddem commented on #5953
By doing so, the `read only` user can create data on server **A**. So it's no longer a `read only` user. Running the connection test makes you feel like it's an error but you should still be able to pull data.

[2020-06-05 04:55] RichieB2B commented on #5362
You are describing tag type 3 and 4 from my previous comment.

[2020-06-05 05:18] mokaddem commented on #5982
Is seems mysql credentials are wrong. Please fix it in `/var/www/MISP/app/Config/database.php`

[2020-06-05 05:52] mokaddem commented on #5980
Thanks for the report. I improved the error reporting in ff7ef393c524bb8f08bba6d191f90378585c7777.
Note the enclosing quote `'` for the JSON.
[code]

[2020-06-05 05:52] #5980 closed, assigned to nobody

[2020-06-05 07:50] bit111 commented on #5953
Yes, it also works with `Read Only`.
So, I did further test with the new role `Read Only with sync right` and it cannot push data on server **A**

[2020-06-05 07:58] ser-storchak opened #5983 "Integration from MISP to Cisco ESA"
Hello, everyone!

I would like to integrate my MISP-platform with Cisco ESA External Threat Feeds: receive IoC from MISP Taxii-server (domains, IP addresses, email) in STIX format.

When you try to connect to the Cisco ESA, the following error is issued:

`THREAT_FEEDS: Unable to fetch the observables from the source: MISP after 3 failed attempts. Reason for failure: Taxii Error: HTTPSConnectionPo

[2020-06-05 08:14] RevoStryder commented on #5980
Thanks for the swift reply,

`sudo /var/www/MISP/app/Console/cake Event enrichment 7 1448 '{"modules": "urlscan"}'`

I entered it with enclosed quotes as you showed and now I'm getting this error:

[code]

[2020-06-05 13:29] EdAtt commented on #5975
I received this email from a John Kritoff at datalane o 6/5/2020:

On Thu, Jun 04, 2020 at 04:21:20PM +0000, MARKIEWICZ, EDWARD A wrote:

Everything is still running, but there has been hardware issues with
the back-end database from mwhich the feeds are generated.  Once I can
save up enough to get some replacement hardware everything should be
back to normal.

John

[2020-06-05 13:29] #5975 closed, assigned to nobody

[2020-06-05 13:30] HernanMora opened #5986 "Elasticsearch: SSL encryption settings"
**Is your feature request related to a problem? Please describe.**
Elasticsearch uses SSL encryption and the connection cannot be established
[code]

**Describe the solution you'd like**
Add a parameter for SSL verification

https://www.elastic.co/guide/en/elasticsearch/client/php-api/current/security.html

https://github.com/MISP/MISP/blob/2.4/app/Lib/Tools/ElasticSearchClient.php
[code]
Thanks!!

[2020-06-05 14:36] C00kie- opened #5987 "Allow global select of warning list"
It would be cool to allow a global select of all warning list in the user interface.
thanks!

[2020-06-05 17:45] cyber288 opened #5989 "Events based on feeds do not sync properly across MISP instance"
This bug is related to issue 5949.  The fix by @mokaddem resolved the situation partially.

The following explanations are based on this scenario:
Feed A (local file) -> MISP A (feed A pull delta-merge) -> MISP B (MISP A pull sync)

In versions 2.4.126 and previous, Feed A was integrated in MISP A through delta-merge by performing hard-delete of attributes the are removed from Feed A. This was cau

[2020-06-05 17:50] MySickSi commented on #5982
Yep, that fixed it. I had installed MISP again by accident over an already existing version of MISP while trying to add modules. There were still other issues, so I had the server reimaged and put a fresh install on it.

[2020-06-05 17:50] #5982 closed, assigned to nobody

[2020-06-08 08:29] tlansec opened #5994 "Tags & Galaxy discussion."
**Issue**
Let's say I would like to add a family describing a Malware Family to MISP. Unfortunately, let's say this Malware Family does not exist in any Galaxy, nor am I currently able to share details and update the Malpedia Galaxy. My only option to note events containing this malware family is to use a Tag.

**Possible solutions**
At the moment Tags do not have a description, so knowing what so

[2020-06-08 08:32] iglocska commented on #5994
3. is the real solution here - coming in the next release pending finalisation of the feature.

[2020-06-08 08:33] iglocska commented on #5994
A bit more elaboration, @mokaddem has been working on galaxy2.0 - meaning you can create or fork existing clusters. These will also synchronise and are in no way tied to JSON files.

Tags are meant to be self-contained labels, if you need to explain it create a galaxy cluster is the mantra, especially starting with the next release.

[2020-06-08 08:39] tlansec commented on #5994
Thanks for the speedy response! I look forward to the next release. I have some follow up questions:

1) Do you think if tags will eventually be deprecated? (Since all tags, even simple ones such as "Phishing" could be better represented in a galaxy)
2) Do you think the following would be an FR the development team would consider in order to try and keep the MISP UI clean:

`Allow users to set def

[2020-06-08 08:44] iglocska commented on #5994
1. Absolutely not - tags have their uses and in some case we don't need the overhead of galaxies. Think TLP/PAP tags, simple classifications or local tags used for flow controle.

2. Tag type is tough as it's difficult to define a type for something user defined / custom. The current strategy is that we either carry the tag colours that were encoded in the taxonomy or we calculate a colour range f

[2020-06-08 08:45] iglocska commented on #5994
As for the full CRUD operations - yep that should be the case :) Let's close it once it's out in the near future.

[2020-06-08 09:01] lsoumille commented on #5780
Hi @marcnil815
Thanks for your answer
The file content seems ok to me or at least similar to configuration on the UI

  array (
    'ZeroMQ_redis_host' => 'redis',
    'ZeroMQ_enable' => true,
    'Enrichment_services_enable' => true,
    'Enrichment_services_url' => 'http://misp-modules',
    'Import_services_enable' => true,
    'Import_services_url' => 'http://misp-modules',
    'Export_service

[2020-06-08 10:37] RevoStryder opened #5995 "CLI Enrichment Not Working"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 18.04
| OS version (client)       | NA
| PHP version               | 7.4
| MISP version / git hash   | 2.4.126, 95d81bd0f36f4c7bcf71757a5bbe5f1a7617b954
| Browser                   | NA

### Expected behavior
Running ei

[2020-06-08 11:55] marcnil815 commented on #5780
The 'CustomAuth_use_header_namespace' is empty. Set to 'HTTP_'

(edit: typo)

[2020-06-08 12:23] LaZyDK commented on #5969
Might relate to this: https://github.com/MISP/MISP/issues/2774

[2020-06-08 12:38] cudeso opened #5997 "default_event_tag_collection is applied to events created via the API"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | RedHat,
| MISP version / git hash   | 2.4.126

### Expected behavior
Have default_event_tag_collection  only applied on events created via the (web) user interface.

### Actual behavior
According to the setting description of

[2020-06-08 14:48] RichieB2B commented on #5186
For servers this is fixed by https://github.com/MISP/MISP/commit/10bc49ae13882e94fb870fc90df10e252158aaee
Use the "skip proxy" checkbox in the server settings.

A similar option is needed for feeds.

[2020-06-09 00:12] lillypad opened #5998 "MISP Redis Configuration Always localhost?"
## Please consider the following notes
- Critical security bugs can be reported, preferably PGP encrypted, by mail to: info@circl.lu
- Bug reports and feature requests can be filed as an issue on github: https://github.com/MISP/MISP/issues
- For interactive support please join the Gitter chat on: https://gitter.im/MISP/MISP

The official documentation of MISP can be found here: https://www.circl.l

[2020-06-09 12:44] dmolina213 commented on #5878
We are actually getting spammed with email. Something to do with how the fireeye scripts are written. Scripts can be viewed here : https://github.com/jaegeral/PySight2MISP.  I have actually developed a work around by disabling emailing and disabling all email workers prior to manually running the python3 script from the CL. At the end I go into the MySQL database and delete the email jobs on the j

[2020-06-09 12:46] xme opened #6000 "Pull job stuck at 75%"
I've a MISP instance linked to another one. 'Pull' jobs are stuck at 75% with always the same message in logs:

[code]
Any idea how to fix/debug this?

[2020-06-09 13:39] dmolina213 opened #6002 "rest api"
## Please consider the following notes
- Critical security bugs can be reported, preferably PGP encrypted, by mail to: info@circl.lu
- Bug reports and feature requests can be filed as an issue on github: https://github.com/MISP/MISP/issues
- For interactive support please join the Gitter chat on: https://gitter.im/MISP/MISP

The official documentation of MISP can be found here: https://www.circl.l

[2020-06-09 14:42] github-germ commented on #4559
We are still seeing this `Undefined index: Tag` in the `debug.log` with 2.4.125. Can you help us on how to isolate what in our custom PyMISP ingestions might be triggering this please. We've looked in the db `logs` but there are several hundred transactions occurring for the `HH:MM:SS` interval and not sure which might be the one to investigate.

During this one second for this singular notice in

[2020-06-10 04:57] #2965 closed, assigned to nobody

[2020-06-10 06:54] JakubOnderka commented on #5923
The problem can be, that pulling is done not in process under apache but in workers. So you need to restart worker processes.

[2020-06-10 12:53] lfortemps commented on #5688
I think this one can be closed as the email OTP PR was merged

[2020-06-10 13:24] iglocska commented on #5688
Indeed, thanks again!

[2020-06-10 13:24] #5688 closed, assigned to nobody

[2020-06-10 14:21] cyber288 commented on #5989
I've performed some additional testing with push sync instead of pull sync. The result is the same.
I haven't been able to replicate the test case that resulted in 0 attributes on MISP B.
In my last round of tests, all attributes were syncing but the soft-deleted ones that originated from feeds somehow lose their soft-deleted status and are replicated as being active.

[2020-06-10 16:48] iglocska opened #6004 "Log search CSRF protection issues"
- no need to check for token validity for a search anyway
- don't use absolute paths for creating the form as it will impede ssl terminating proxies

[2020-06-10 20:47] github-germ opened #6005 "Help diagnose Undefined index: distribution in debug.log"
2.4.125

We are seeing 1000s of the following notices in `debug.log` for one of our custom PyMISP client ingestions. Would appreciate some guidance on why adding attributes to an existing event, which has `distribution` set to `4`, with the attribute `distribution` set to `5` would trigger these notices. Our PyMISP client is calling `MISPEvent.add_attribute` which does NOT set the attribute's `dis

[2020-06-10 22:35] imidoriya opened #6006 "Event - Sharing Group null variable error"
Getting this error - looks like an unset variable `$sgsids` being null while defining the sharing group.   Line 6625 references `$sgsids`, but was probably intending to be `$sgids`, which is defined as a variable in the function.  Looks like it got missed when those variable names were changed on Sep 4, 2017 via https://github.com/MISP/MISP/commit/40ea22a272c536e68ad6feea10e0839a4d5a9579

### Erro

[2020-06-11 09:44] iglocska commented on #6005
That notice looks like the distribution is missing altogether on the attribute instead of it being set to 5 - could you give us a sample payload that produces this? (Interested in the JSON body).

[2020-06-11 11:34] StefanKelm opened #6008 "Set a tag for all attributes upon freetext import"
Feature request for the freetext import tool: currently we are able to _Update all comment fields_ at the same time. It would be really cool (TM) to also be able to _Update all tags_ at the same time.

[2020-06-11 13:00] StefanKelm opened #6009 "Freetext doesn't recognize valid IPv6 address"
v.2.4.126: The freetext import tool does not recognize `2a00:1450:4005:80a::2003` (and others) whereas manually adding that IPv6 address through _Add Attribute_ works fine.

[2020-06-11 13:26] github-germ commented on #6005
@iglocska -- Thx for the reply. Yes, I can work on getting the payload. Question... Does this `logs.change` column reveal that the value of `distribution` is `5`? Perhaps I'm misinterpreting.
[code]

[2020-06-11 15:04] TheDr1ver commented on #1762
I'd like to +1 the desire for this feature.

Currently we have Tier 1 analysts using a ticketing system that is synchronized with MISP and we are using tags to drive our various levels of alerting (e.g. something tagged APT would be a higher alert level than something tagged crimeware).

The Threat Intel team essentially lives in MISP and is curating all events/attributes as they are added. Howeve

[2020-06-11 15:29] Feldunost opened #6010 "Delete all attributes on event"
Hello,

I'm looking for a way to do this task in API through curl, or any other automation way.
I have several events that gets automatic feeding, but there is a need for whole event's attributes cleanup/deletion time to time (once per month for example).

Any proper way to do that ?
I saw this, but can't grasp the basis of it.
https://www.circl.lu/doc/misp/automation/index.html#post-/attributes/d

[2020-06-11 15:29] github-germ commented on #6005
Aha moment. Thanks!

Here's one `MISPAttribute` in our PyMISP app that is about to be included in a call to `misp.add_attribute` and indeed `distribution` is NOT set.

So, 2 questions:
1. We just need to do is set `distribution=5`, right?
2. As an aside for understanding the `logs.change` value, why does it appear to say `distribution` is `5` (see https://github.com/MISP/MISP/issues/6005#issuecomm

[2020-06-11 15:38] TheDr1ver commented on #5602
I just wanted to ping this issue again because I'd still very much like to execute the use-case I mentioned, and I wanted to make sure this doesn't get too buried in the sea of other issues :)

[2020-06-11 16:20] iglocska commented on #6005
Indeed, setting the distribution should fix it in the short term. In the long term, MISP tries to be clever and if a key is missing it sets some sane defaults. That check seems to happen before the sane default is set, hence you get a notice message. I'll add a check to the logic branch to avoid the notice errors though.

[2020-06-11 16:22] iglocska commented on #6005
Never mind, I see you are running an older MISP version. This was fixed over a month ago by @mokaddem.

https://github.com/MISP/MISP/commit/43d95e22125279409e314f06f1102c0fc07f86c9

[2020-06-11 16:22] #6005 closed, assigned to nobody

[2020-06-11 16:22] github-germ commented on #6005
Sounds good. Thx for the swift help on this one!

[2020-06-11 16:26] iglocska commented on #5602
Internal note: Perhaps one way to solve it would be a beforeValidate hook to evaluate whether the attribute's fs/ls are within the boundaries of the object's fs/ls. This may come at a heavy cost in terms of additional look-ups though (perhaps to ease the burden, only apply these rules when the object itself is saved with all attached attributes rather than on every attribute edit?).

[2020-06-11 18:24] github-germ commented on #4559
2.4.125

Not sure if this is related, but wanted to share...

I am seeing this `Undefined index: Tag` notice in `debug.log` when the `MISPEvent.EventTag` is a `list` when calling `pymisp.update_event` (note: that `MISPEvent` is what was returned from `pymisp.search_index` and then had attributes added before the update), e.g.
[code]
So, is it possible that this code in `Event.php` needs to conside

[2020-06-12 08:45] dan00bielb commented on #5923
Hi Jakub,
usually that's the first thing we do, and in this case have it didn't help, neither on client and server side.

To give you all an update the issue seemed to be resolved but this week it reappeared.
The problem was related to the amount of data to be pulled which caused the issue on the server side (see snapshot #3 in my first post).
What we did was to remove that limit and set the follo

[2020-06-12 13:28] mathurin68 opened #6011 "Deleting Events Doesn't Shrink Database"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Ubuntu 18.04.4 LTS
| OS version (client)       | Windows 10
| PHP version               |  7.2.24-0ubuntu0.18.04.4
| MISP version / git hash   | 2.4.126,  (d379a16666f619ed21c19bcfdb80c6ec12c62272)
| Browser

[2020-06-12 13:41] imidoriya commented on #4047
Whenever I restart apache all my workers die and have to be restarted manually.  I tried the monolog fix, but that didn't resolve it.

[2020-06-12 14:52] iglocska commented on #6011
This sounds like more of a mysql level question than MISP. A quick explanation: Deletes in mysql don't actually free up space on disk themselves, they just mark the data as deleted. You can run `optimize table` to reclaim the unusable space, but if you have the `innodb_file_per_table` directive set to off, you can't optimize the tables though.

[2020-06-12 15:01] C00kie- opened #6012 "rename "Org" label intro "Creator Org" on the index"
rename "Org" label intro "Creator Org" on the index

[2020-06-12 15:15] cyber288 opened #6013 "Timestamp of attribute does not get updated after a soft-delete through a feed delta-merge"
Attributes associated with an event originating from a feed were previously being hard deleted when they disappeared from a feed being delta-merged. This caused issues when syncing with other MISP instances since hard deleted attributes don't propagate.

Following issue #5949, @mokaddem issued a fix that replaced those hard deletes with soft deletes.

Following the fix, we did some testing locally

[2020-06-12 15:17] cyber288 commented on #5989
I will close this issue since the precise cause has been identified and opened in #6013

[2020-06-12 15:17] #5989 closed, assigned to nobody

[2020-06-12 15:53] iglocska commented on #4047
Restarting apache indeed requires the workers to be restarted.

[2020-06-12 18:49] cyber288 commented on #6013
Further testing reveals that the corresponding event timestamp and sighting_timestamp value in the database must also be updated accordingly.

We have taken a soft-deleted attribute from a delta-merge that wasn't propagating to our other MISP instance and fixed it in the db. After the fix, it propagated as expected.

[2020-06-12 22:43] valerianaroncero commented on #5720
I´m having almost the same problem.

I'm trying to install MISP on Centos 8 following https://misp.github.io/MISP/INSTALL.rhel8/#907-misp-modules-broken-on-rhel8

When the next fixed installation will be provide?

 $SUDO_WWW $RUN_PHP -- $CAKE Admin setSetting  "Plugin.Enrichment_services_enable" true

Error: syntax error, unexpected 'g' (T_STRING), expecting ')'
#0 /var/www/MISP/app/Lib/cakephp/li

[2020-06-13 09:51] hoseineagle opened #6014 "cannot fetch feed to events"
Hi,
I'm using misp for few days and my ova misp version is 2.4.123. My problem is when I'm trying to fetch event from feeds there is nothing appear in event list but it message "Pull queued for background execution." how can i add all feeds to Events?
And I have a question that is how can I update the misp feeds only.

Thank you!

[2020-06-13 18:14] PakitoSec commented on #339
sorry to post on a closed issue, but is it possible in version 2.4 to have multiple communities on the same misp instance ? we would need a segregation on our misp instance.
use case: have 2 events with same uuid which belong to 2 differents orgs... how to do that ?

[2020-06-14 06:02] cvandeplas opened #6016 "pymisp search controller=objects results in SQL error"
A PyMISP `misp.search(controller='objects', value='mout.gmx%', with_attachments=False)` causes a SQL error.

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| MISP version / git hash   | 2.4.126

### Expected behavior
The search gives the proper results

### Actual behavior
(using an API key that has ad

[2020-06-14 12:03] #6014 closed, assigned to nobody

[2020-06-14 14:01] Rafiot commented on #6016
I'm going to add @mokaddem and @iglocska on that one, because the search on object controller is very alpha, and definitely buggy.

[2020-06-14 17:48] cvandeplas commented on #6016
At first sight I am not sure what happens, as the `MispObject` `restSearch()` function seems to [contain the necessary](https://github.com/MISP/MISP/blob/2.4/app/Model/MispObject.php#L1342) `Attribute` fields, so cakePHP should do the magic :
[code]

[2020-06-14 18:27] #6016 closed, assigned to nobody

[2020-06-15 10:59] RichieB2B commented on #4735
I just did some `misp.logs` cleaning. I started with some simple analysis:
[code]
etc, etc. I finally settled on:
[code]
That reduced the `logs.ibd` file by 50%.

[2020-06-15 14:59] JakubOnderka opened #6018 "Sightings UUID field is inconsistent"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| MISP version / git hash   | 2.4.126

Hello,

according to [specification](https://github.com/MISP/misp-rfc/blob/master/misp-core-format/raw.md#sighting), sighting `UUID` field „uuid references the uuid of the sighted attribute.”

But if I export MISP tes

[2020-06-16 09:37] cvandeplas commented on #5943
following a conversation with @iglocska : just before the foreach we should do a delta between the `$eventIds` and our local database (compare the timestamps). Then only pull the remote events for those that a more recent sighting.  And also download it without attachments.

[2020-06-16 09:56] cvandeplas commented on #5943
Perhaps @Golbark is interested to implement this?

[2020-06-17 05:16] the0new0kid opened #6020 "MISP all jobs stuck at Waiting"
My VM in VMware workstation is in Bridged mode able to access the internet.

--------8<------

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Ubuntu 18.04.6
| OS version (client)       | Win10, Ubuntu 18.04.6
| PHP version               | 7.2.24
| MISP version / git ha

[2020-06-17 06:16] cvandeplas commented on #6020
The errors of your debug log should be self-explanatory:
[code]
Your webserver user cannot access this folder, or you might not have correctly generated GPG private keys.

In your error.log
[code]
MISP Cannot access your redis server. It might not be running, or has a configuration problem preventing MISP to access it.
Background workers need Redis to be functional. This is why your feeds are not

[2020-06-17 06:30] the0new0kid commented on #6020
Thank you,  i gave write access recursively for www-data to the app folder and everything is working fine now. Turns out under diagnostics i had a lot of files with read/write access disabled too that's why it was not working.

[2020-06-17 06:30] #6020 closed

[2020-06-17 15:44] cudeso opened #6023 "ZeroMQ_tag_notifications_enable ignored for global tags"
If you disable ZeroMQ_tag_notifications_enable you would expect no ZMQ messages when tags are added or deleted on attributes. This is only the case for local tags. If you add or delete a **global** tag, an "attribute edit" event is triggered to ZMQ.

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS

[2020-06-17 16:28] cudeso commented on #6023
Seems to be caused by  `$this->Attribute->save($this->Attribute->data);` being called when adding/changing global tags, it's not called for global tags.

[2020-06-17 18:22] cudeso commented on #6023
There also seems to be different behaviour between access via the web UI and RESTAPI. Add/remove local tags via the web UI works "normal" (no ZMQ event triggered). Adding the local tags via the RESTAPI generates a ZMQ event.

[2020-06-17 18:46] cudeso commented on #6023
Via the web UI `/attributes/addTag` is called. The RESTAPI doc is about `attachTagToObject`

[2020-06-18 06:56] cudeso commented on #6023
Workaround via` requests.post(url="{}/attributes/addTag/{}/local:1".format(settings.misp_url, attribute_id),data=data,verify=False,headers=headers)` and `data = '{"Attribute": { "tag": "[%s]"}}' % tag_id`

[2020-06-18 08:33] meditadvisors commented on #6002
Some documentation here on:
[Automation](https://www.circl.lu/doc/misp/automation/#example)
[PyMISP](https://www.circl.lu/doc/misp/pymisp/)

Example:
[code]
Is that what you are looking for?

[2020-06-18 09:07] blabut commented on #5168
Hi, do you have any updates on this ? I am running into this bug and couldn't find any work around. Thanks !

[2020-06-18 11:23] adulau commented on #5168
Check if your base url is properly setup.

[2020-06-18 11:23] #5168 closed, assigned to nobody

[2020-06-18 11:42] JakubOnderka commented on #5943
Thats already implemented and optimised in #6001:

https://github.com/MISP/MISP/blob/a8994f2db323b65c563e58cdc87bf29d31c94337/app/Model/Server.php#L2789-L2799

[2020-06-18 12:21] Rafiot opened #6024 "Delete object via 'objects/edit/<objectID>' doesn't work"
Example of JSON blob where `"deleted": true` is ignored.

[code]

[2020-06-18 12:22] Rafiot opened #6025 "POST on `objects/edit/<object_id>` ignores sharing group ID"
When we `POST` an object on `objects/edit/<object_id>` in order to update it, if the change is making one of the attribute (not the whole object) part of a sharing group, the change is discarded.

Full example:

Content to POST:
[code]

Response:

[code]

Creating a new object with an attribute in a sharing group work fine.

_Originally posted by @Rafiot in https://github.com/MISP/PyMISP/issues/59

[2020-06-18 14:07] iglocska commented on #5943
I thought so too, but something goes wrong when they sync, it looks like we either set the sighting timestamp incorrectly, or some other snafu interferes as their sync is incredibly slow still (and they identified the sightings being re-pulled each time as the source). I am baffled too, hopefully @Golbark has a look - if not I'll do it at some point :)

[2020-06-18 14:16] ericg57 opened #6027 "Add Worker failure logging to the default misp error logs"
**Is your feature request related to a problem? Please describe.**
I am being tasked with alerting for when MISP workers are stopped or experience failures, I am able to locate the worker logs but they are not as clean as say the misp error or access logs.
**Describe the solution you'd like**
Is it possible to add worker failures to the misp error log feed that we can take action on that would sim

[2020-06-18 14:36] #6006 closed, assigned to nobody

[2020-06-18 14:48] Rafiot commented on #6025
It should be somewhere there: https://github.com/MISP/MISP/blob/2.4/app/Controller/ObjectsController.php#L368

But anything related to sharing groups definitely need the expertise of someone who knows more than me.

[2020-06-18 14:50] srikanthprathi opened #6030 "MISP PUSH is not working as expected"
MISP Version: 2.4.126

I am having 45K events in my local MISP Instance and I tried to push them to the remote MISP instance but it is not happening.
I am able to test the connection with the target remote MISP instance and used the AuthKey of the SyncUser role.
When I push the events, the job is getting created and it is getting completed just in 5 seconds but in the target remote MISP instance,

[2020-06-18 14:51] cudeso commented on #1346
Hi, is this still on the roadmap?

PyMISP as in #1930 / "/attributes/deleteSelected" is an option but for user experience it would be great if this is part of the "normal" UI.

[2020-06-18 15:03] imidoriya commented on #5168
@adulau My baseurl and external_baseurl are pointing to the correct host/domain.  I ended up changing the session timeout to a much longer value to try and avoid it, but never got it fixed.

[2020-06-18 15:22] stricaud commented on #6030
Could you please give some colors on how you are pushing?

[2020-06-18 15:31] github-germ commented on #5576
+1

[2020-06-18 15:42] srikanthprathi commented on #6030
![misp_push_issue](https://user-images.githubusercontent.com/58368040/85042052-59f3e680-b1a8-11ea-8ddb-b155ce163081.JPG)
I have configured the server under List servers and clicked on the "Push All" under the actions.

[2020-06-19 04:19] mathurin68 commented on #6011
:(  MariaDB [misp]> truncate correlations;

and then of course cleaning up some of the duplicates... the answers are almost always in here somewhere.

[2020-06-19 04:37] #6011 closed, assigned to nobody

[2020-06-19 10:04] lfortemps commented on #5943
It seems to be better since the update to 127. Not sure exactly why but I won't have the time to look into the details in the coming weeks unfortunately.

[2020-06-19 10:05] Terrtia opened #6032 "POST on `objects/add/<event_id>` doesn't add attributes tags"
When we `POST` an object on `objects/add/<event_id>`, tags of all the attributes aren't added.

Full example:

Content to POST:
[code]

 Response:

[code]

[2020-06-19 11:16] JakubOnderka opened #6033 "Events that belongs to org can't be accessed if sharing group is different"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| MISP version / git hash   | 2.4.127

### Expected behavior

Events that belongs to the organization can be accessed even if the event sharing group is different.

### Actual behavior

If event is created by org that current user belongs and event is shar

[2020-06-19 11:37] mokaddem commented on #6033
The two issues listed here should indeed by fixed

However, the behavior to block is intentional. Do you know how you ended up with such an Event (You own it despite the fact you are not in the SG)?

[2020-06-19 11:52] JakubOnderka commented on #6033
Pulling from remote MISP, that has different organisation UUID that we use in our MISP instance.

[2020-06-19 13:01] kuchynkap commented on #6033
We have the same issue.

[2020-06-19 13:45] sustefil opened #6034 "Duplicated event attributes"
# This template is meant for bug reports, if you have a feature request user the other template.

*If you would like to report a bug, please fill the template bellow*

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 18.04
| OS version (client)       | Ubuntu 18.04
|

[2020-06-20 06:54] annetteshajan commented on #4535
@SteveClement @iglocska
Can you explain how to access the web interface through a reverse proxy in nginx?

If I use this should my baseurl be empty or should it be the http://localhost:8080/ link?

[2020-06-20 16:30] MElbeshti opened #6037 "MISP Dashboard not working but all other pages works"
MISP Dashboard not working but all other pages works

[2020-06-20 23:22] cudeso opened #6038 "Have self-registration notifications sent by e-mail to site admin"
**Describe the solution you'd like**
An e-mail notification when there's a new self-registration.
Notification to be sent to Site Admin.

[2020-06-21 11:55] annetteshajan commented on #5589
@Quyrean @SteveClement Any fix for this?

[2020-06-22 05:48] annetteshajan commented on #2634
@SteveClement @adulau

Getting this same error
No matter what I type as my password it always returns a page with "The request has benn black-holed"
Please suggest a fix

[2020-06-22 06:01] NailBash opened #6039 "Can't update MISP"
Hello, everyone. I have troubles with my MISP running on Centos 7. I see infromation that my MISP is outdated.
![изображение](https://user-images.githubusercontent.com/29750691/85253391-7f6a4400-b477-11ea-9043-671d8644aa5c.png)
But when I try to update it I get error:
![изображение](https://user-images.githubusercontent.com/29750691/85253471-a88ad480-b477-11ea-93e4-83757fd1740a.png)
Do you know an

[2020-06-22 06:11] 54m4n opened #6040 "Bruteforce protection not working?"
Hi, I set the SecureAuth.amount to 3, and the SecureAuth.expire to 600 which means you can try to login 3 times, and after that you will block out for 600 seconds.
After you fail 3 times, the website says:
"You have reached the maximum number of login attempts. Please wait 600 seconds and try again.
Error: The requested address '/users/login' was not found on this server."

After that you can refr

[2020-06-22 06:26] adulau commented on #6039
Looking at the error, your git installation is not complete (curl Library is missing). Can you try to run git from the command line and install the missing libraries/packages ?

[2020-06-22 06:26] #6039 closed, assigned to nobody

[2020-06-22 06:38] annetteshajan commented on #1513
@SteveClement @iglocska I'm getting this same error on first login
Can you help out?

[2020-06-22 06:45] NailBash commented on #6039
Which commands I should write to command line to do it? I don't know how to work with git good enough

[2020-06-22 07:10] adulau commented on #6039
It depends of your distribution.  While googling for your error, I found this:

https://bugzilla.redhat.com/show_bug.cgi?id=1785720

[2020-06-22 07:52] NailBash commented on #6039
Thank you for your help. For now updated using:
sudo -u apache git pull origin 2.4
sudo -u apache git submodule update --init --recursive

[2020-06-22 08:29] antonmalae opened #6041 "MISP update problem from v v2.4.120 to v2.4.127"
Hello,

When trying to update from version v2.4.120 to version v2.4.120 from GUI it fails,
[code]

What do you recommend? Thank you

Currently installed version… v2.4.120 (0b31062d4c6dc29a303603d35661cf4d6dd17e62)
Latest available version… v2.4.127 (6c7c481419ec04e7770eece139bb567d9865369a)
Status… Outdated version
Current branch… 2.4

[2020-06-22 09:54] annetteshajan commented on #5552
@alepadua @mokaddem
Hey having same error
please let me know what was your fix for the proxy config

[2020-06-22 10:02] annetteshajan opened #6042 "The request has been black holed"
Hello team

When I login to MISP for the first time I get this output after logging in:

It does not even check whether the email and password are correct. It gives this output no matter what I enter.
Here is my error log:

[code]

I have configured the system with a reverse proxy, but I'm not sure what the fix is,so that I can log in successfully.
Please suggest a fix, have been struggling with t

[2020-06-22 11:30] srikanthprathi commented on #6030
Any update on this?

[2020-06-23 07:56] JakubOnderka opened #6046 "STIX2 export doesn't work when object name contains `_` char"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| PHP version               | 7.4
| MISP version / git hash   | 2.4.128

### Expected behavior

STIX2 export generates JSON.

### Actual behavior

Error message is generated:

[code]

### Steps to reproduce the behavior

1. Create new event
2. Add `intelmq

[2020-06-23 10:37] RichieB2B opened #6047 "MISP REST client / query builder SSL client certificate handling"
The MISP REST client / query builder at /servers/rest does not support SSL client certificates. I would not recommend implementing this for security reasons. However, currently curl tries to connect to the server and fails miserably without the error being caught:

[code]

Instead MISP should display an SSL error to the user, probably suggesting the MISP server requires SSL client certificates whi

[2020-06-23 11:07] a108a108 opened #6048 "MISP API - Filebeat Key not found"
| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | CentOS 7.7
| OS version (client)       | CentOS 7.7
| Filebeat version           | 7.7
| MISP version / git hash   | MISP 2.4.127

Hi guys, i am trying to use MISP with the misp filebeat module, however i am getting error:
Jun 23 14:03:07 misp.

[2020-06-23 12:15] Feldunost commented on #6010
Anyone has an idea ?

[2020-06-23 16:17] raw-data opened #6050 "Freetext import -> Similar Attributes correlates on "port" instead of "ip" - "ip:port" field"
When manually adding a relative high number of IOCs (~7000)  via the (Web GUI) _freetext import_, the front end app keeps loading for few minutes and returns an error message " An Internal Error Has Occurred"

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Debian (9.12)
|

[2020-06-23 18:31] samitainio opened #6051 "Module saved enriched data to event ID 0"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu Bionic 18.04
| OS version (client)       | Win10, Ubuntu
| PHP version               | 7.2.24
| MISP version / git hash   | 2.4.126@150b66d
| Browser                   | Firefox

### Expected behavior
Enriched data shou

[2020-06-23 21:50] iglocska commented on #6051
Woah, ok that looks nasty.

[2020-06-24 09:40] raw-data commented on #6050
After further investigating the issue, I was able to replicate the same anomaly on a clean VM (MISP_v2.4.128@1d94458) from https://www.circl.lu/misp-images/latest/.

It looks like the problem relies on the `Similar Attributes` function (ip-dst|port / ip-src|port), that checks the port field instead of the IP address (or ip:port mapping).

## Steps to reproduce the behaviour
1. Create a MISP event

[2020-06-24 09:57] raw-data commented on #6050
I see only now - due to the latest tests that pointed me to the real problem - that this issue was also addressed by @elhoim in #5901 . @iglocska any workaround?

[2020-06-24 10:08] RichieB2B commented on #6041
You changed the file `tools/misp-wipe/misp-wipe.sql` which you can show with`git diff` and  fix with `git stash`

[2020-06-24 10:11] RichieB2B commented on #2634
Black holed means the anti-XSRF token expired. Reload the login page before entering your credentials.

[2020-06-24 11:41] mokaddem opened #6053 "[timeline] Add possibility to download image of the timeline"
Add possibility to download image of the timeline. Should provides PNG and SVG format

[2020-06-24 12:43] O900 opened #6054 "How to sync MISP instances?"
Having issues synching MISP instances.  What is the simplest way to do this.  Events not publishing to instance.  Does anyone have step-by-step guide that is more detailed that what is provided on the MISP page?  Server connection is live, but events are not publihing.

[2020-06-25 08:47] garrit-schroeder opened #6056 "Wrong Stix Version in requirements.txt"
https://github.com/MISP/MISP/blob/364ca9d9d8ca8206cac5daebeadb18c52452f0e1/requirements.txt#L4

Hello guys,

the diagnostics tab requires as newer Stix version (1.2.0.9) than listed in the requirements.txt (1.2.0.6)

Should be: stix == 1.2.0.9

[2020-06-25 15:02] sustefil commented on #5970
Hello @mokaddem,

so there is actually no other way than updating the lists with the provided generate scripts manually?

At least I haven't found any other way.
The `MISP/app/Console/cake Admin updateWarningLists` seems to be doing exactly the same as the button mentioned above. (just update from local folders)

It is quite confusing that the "Update warning lists" doesn't really keep them update

[2020-06-25 15:26] TaR7k1xPG84 opened #6057 "Feed import shown as done but no event imported"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Ubuntu (OVA MISP)
| OS version (client)       | 4.15
| PHP version               | 7.2
| MISP version / git hash   | 2.4.126, 150b66da2fb7b2cfe45477f62c12ac8716d247d7

### Support Questions
Hi,

I'm trying to import a feed

[2020-06-25 16:17] adulau commented on #6057
If it's the same MISP instance, you might have already the event. So it won't import anything new.

[2020-06-25 16:44] TaR7k1xPG84 commented on #6057
Thank you for your quick answer.

I forgot to write this. I took care of it beforehand by deleting everything, even in the blacklist.

[2020-06-25 17:08] NailBash commented on #5970
At the folder with warninglists you can find folder named "tools". Here scripts, that make requests to source of warninglists. Some of them work properly and updates lists, some not :-( If you know python well you can try to modify them to work as you need.

[2020-06-25 20:14] samitainio commented on #6051
Answer to my own question on how to delete those attributes in case someone else has this problem in the future:

1. Go to Server Settings & Maintenance page.
2. Open Diagnostics.
3. At Orphaned attributes section click the "Check for orphaned attributes" button.
4. Click "Remove orphaned attributes" and then "Remove published empty events".

[2020-06-26 06:19] kaien opened #6059 "Install script error"
I think that we need to modify file "/usr/local/src/mail_to_misp/requirements.txt".

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| PHP version               | 7.2
| MISP version / git hash   | 2.4.128

### Expected behavior
No install errors.

### Actual behavior

[2020-06-26 08:36] JakubOnderka commented on #6057
Did you try to preview feed by URL `/feeds/previewIndex/[feedID]`?

[2020-06-26 08:46] TaR7k1xPG84 commented on #6057
I just tried and I saw the events from the feed. I tried to import one from this view but I got the same result, no event on the home page.

[2020-06-26 08:55] adulau commented on #6057
Can you check the error logs and share it it with us?

[2020-06-26 09:26] dan00bielb commented on #5923
Hi guys,
we actually bypassed the problem by setting a sync parameter in the server edit configuration on the MISP that was pulling the events.
In “MISP > Sync Actions > List Servers”
Edit our server and add the following data in Pull rules -> "Additional sync parameters" -> {"publish_timestamp": "7d"}

![immagine](https://user-images.githubusercontent.com/47318272/85842312-d33e9b00-b79f-11ea-8928

[2020-06-26 10:29] TaR7k1xPG84 commented on #6057
Here are the logs.

[error.log](https://github.com/MISP/MISP/files/4836386/error.log)
[resque-2020-06-26.log](https://github.com/MISP/MISP/files/4836387/resque-2020-06-26.log)
[resque-worker-error.log](https://github.com/MISP/MISP/files/4836388/resque-worker-error.log)

Please tell me if you need anything else.

[2020-06-26 13:18] JakubOnderka commented on #6057
Logs look fine for me, errors are probably related to other feeds. Can you please also check Audit logs?

[2020-06-26 13:29] TaR7k1xPG84 commented on #6057
Ok course I didn't check there... There are logs saying "Received a published event that was empty. Event add process blocked".

I forgot to mention that the hashes.csv file is empty, I don't know if it matters at all in this situation.

Moreover, the events I'm trying to import are events that I pulled from another MISP instance, coming from the CIRCL, CUDESO, ESET, etc... So they are not empty,

[2020-06-26 13:38] TaR7k1xPG84 commented on #6057
One more thing, when I look at the feed settings or export them as a json file, the settings parameter is set with a csv object, even though I did not configure a csv feed but a misp object feed. Even if I modify this in the interface, it does not take into consideration my changes. However, the source_format is still misp in the exported json configuration.

Here is the settings parameter:
Settin

[2020-06-26 16:42] MySickSi opened #6066 "Palo Alto External dynamic list - MISP Text based URL integration"
Hi, we are new to MISP and trying to get a few integrations working, one of them being Palo Alto. This feature would help MISP users who have a Palo Alto firewall and would like to use their MISP server as a source for an external dynamic list (EDL). Enabling EDLs is relatively straight forward and the text-based URLs provided by MISP are already in the correct format.

**Is your feature request r

[2020-06-26 17:02] JakubOnderka commented on #6057
This file is used just for feed caching, for pull is not used.

This should be OK, important is `source_format` field.

Empty event is published event that doesn't contains Attribute or Object.

For all events that you want to import?

[2020-06-26 18:25] krayzpipes commented on #5500
The same issue is present when merging objects representing x509 certificates.  It results in a GET request that is too long.

[2020-06-28 23:50] GlennHD commented on #5534
Highly interested in this.

[2020-06-29 02:43] rommelfs opened #6072 "User registration bug (malformed email address)"
2.4.126

Situation not caught if a user enters a malformed email address like a!b.cd instead of a@b.cd
The registration process can't deal with the malformed email input and cannot proceed, without giving any reason.

[2020-06-29 02:48] rommelfs opened #6073 "User registration bug (user exists)"
2.4.126

A condition is not checked and explained to the admin if a
user requesting access via self-registration is already present in the user list.
The user registration dialogue doesn't proceed but also doesn't explain what's the issue.

[2020-06-29 07:40] TaR7k1xPG84 commented on #6057
Yes.

This should be the source of the issue, the feed's events do not have attributes (nor objects). At first I did not thought it would be an issue but I'll look into why they were generated without any.

But with this in mind, it raises a question: if we want to generate a feed of events without attributes (or objects), I suppose it would be impossible to import it afterwards, even if it would

[2020-06-29 08:20] #6072 closed, assigned to nobody

[2020-06-29 08:20] #6073 closed, assigned to nobody

[2020-06-29 11:04] cohenshimi opened #6074 "Search does not return results after installing SightingDB"
| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu,
| OS version (client)       | Ubuntu 16.04
| PHP version               | 7.0
| MISP version / git hash   | 2.4.28

Installed SightingDB (https://github.com/stricaud/sightingdb) in another server from MISP server and Add SightingDB connectio

[2020-06-29 15:36] TaR7k1xPG84 commented on #6057
Ok, I ran once again the feed generator and got some attributes in my events (I think I did not get attributes before because of the configuration of the valid_attribute_distribution_levels being wrongly set).

I tried again to import the feed in the MISP (I tried with two different MISP instances this time) and it worked like a charm. So thank you for your indication, it solved my issue.

But I'm

[2020-06-29 16:54] marcnil815 opened #6076 "STIX2 v. 1.4.0 requiers at least six v. 1.13.0"
# This template is meant for bug reports, if you have a feature request user the other template.

*If you would like to report a bug, please fill the template bellow*

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 18.04.4 LTS
| PHP version               | PHP 7.2.2

[2020-06-29 17:04] marcnil815 commented on #6076
Force upgrade of six library fixed this.
The problem is of course that dependencies are not updated unless it is required. The STIX2 library fails to include a requirement that six should at least be version 1.13 so it fails to update it. Cybox for instane is happy with six 1.12.

[edit: typo]

[2020-06-29 18:51] #6046 closed, assigned to nobody

[2020-06-29 19:50] GlennHD commented on #3943
I would like this category addition.  To add to @geekscrapy's comment, we plan on versioning in gitlab but keeping MISP updated to the latest version.  So a new category for this would be nice to account for sigma/yara/snort/suricata/etc.  I've just been picking whatever here because none of it really makes sense for any of the rules/signatures I keep in MISP.

[2020-06-30 09:54] chrisr3d commented on #6046
Should be fixed, but let me know if anything goes wrong

[2020-06-30 11:40] RichieB2B commented on #4838
Ok, I think I found the cause of this nasty problem.
In app/Model/MispObject.php inside [Object->captureObject()](https://github.com/MISP/MISP/blob/2.4/app/Model/MispObject.php#L948) there is this:
[code]
Which causes the event timestamp to be set to now(). That might seem logical, but Object->captureObject() is called from [Event->_add](https://github.com/MISP/MISP/blob/2.4/app/Model/Event.php#L3

[2020-06-30 14:37] lsoumille commented on #3156
Hi @adulau @iglocska

Is this bug fixed still planned in the roadmap ?

We want to integrate MISP with our blocking systems but we want to be sure that we will not block all our internal traffic ?
We had the case of an event which contains 10.0.0.0/8 which is not flagged by the warninglist ...

Thanks for your answer,

[2020-06-30 15:46] tlansec commented on #3674
Hi,

This seems like a core IOC type that is missing from MISP & that the current work around is inefficient // makes little sense.

+1 for adding "filepath" and "path" to the core data model.

Cheers,
Tom

[2020-06-30 16:45] tlansec commented on #6010
You could use pymisp and first list all attributes for event, and then delete each attribute using its uuid:

https://pymisp.readthedocs.io/en/latest/modules.html

[code]

^ something like this.

Alternatively, you could just delete the entire event, and create a new one, since you're going to be scrapping all its attributes anyway.

[2020-07-01 01:36] legoguy1000 commented on #6042
have u run the `/var/www/MISP/app/Console/cake userInit -q` command.  We had the same issue with our docker image and found that having that command run on first start solves that problem.  If you don't then when u try to login, the user account `admin@admin.test` doesn't exist and it gives this error.  However MISP has logic to detect when u try to login that the default account doesn't exist and

[2020-07-01 09:36] ancailliau opened #6080 "Crashes when uploading malware sample."
Uploading a malware sample might cause MISP to generate an internal error.

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| OS version (client)       | N.A.
| PHP version               | 7.2
| MISP version / git hash   | 2.4.125
| Browser                   | N.A.

[2020-07-01 11:54] Rafiot commented on #6080
Unless I'm mistaken, this issue has been fixed in newer versions of MISP, could you please update and try again?

[2020-07-01 15:38] Feldunost commented on #6010
Actually it's not an option because the event_id is widely used on other scripts.
I rather wish to cleanup the current event whitout deleting it as whole.

I'm going to try it out and see if i can do something with your code, not an expert in dev actually.

[2020-07-01 22:31] AtesComp commented on #3571
Sorry, its been awhile since I've been able to get back to this.

The input was dense, but it is only going in one direction--employ the back end data storage as a native knowledge graph system.  The use case is to implement a system that simplifies the storage management and investigative process.

The current system using an RDBMS requires schema management to modify structure--tables, fields, e

[2020-07-02 10:28] digihash opened #6082 "Reset Auth Key through UI"
## Bug report - Reset Auth Key through UI doesn't work

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Debian
| OS version (client)       |  Win10
| PHP version               | 7.3.14-1~deb10u1
| MISP version / git hash   | v2.4.126, 95d81bd0f36f4c7bcf71757a5bbe5f1a7617b95

[2020-07-02 13:33] StefanKelm opened #6083 "Issue with updating object templates"
2.4.128 (and a fresh git pull): when editing objects we sometimes get notified of new object templates:

![obj1](https://user-images.githubusercontent.com/25325656/86364379-63855000-bc78-11ea-974a-f5dc0da5d2da.jpg)
![obj4](https://user-images.githubusercontent.com/25325656/86364412-6e3fe500-bc78-11ea-9f02-2ebbe66895ec.jpg)

Klicking on _Update template_ seems to be successful:
![obj2](https://user

[2020-07-02 14:03] PakitoSec commented on #5966
Thanks for the quick answer.

Regarding:
`(SECOps | internal )  ---- [Sync rules with tags] ----> (Staging | external) --------> Other MISPs`

Why the below model with only SecOps instance is more limited than the SecOps/Staging instances ?

`(SECOps | internal )  ---- [Sync rules with tags] ----> Other MISPs`

[2020-07-03 10:26] Feldunost commented on #6010
Ok this code currently works however it's extremely long ~630 attributes deletion each minute, i currently got about 300 000 !
So approximately 8 hours to do that, not really an efficient method, but still it works for now.

Actually i think we need to add a multi-task concurrent process in that script.
I will check Mysql workers, because it's in a constant 15% usage.

By the way, it doesn't delet

[2020-07-04 10:58] JakubOnderka commented on #4819
Should be fixed in 7a50616226bce30646eaf4220441203ffa07f45e

[2020-07-06 08:59] Feldunost commented on #6010
It seems there is a bug on an event that retrieve feeds from alienvault for example, i checked the following :
- soft deleted attributes : 0 (deleted : both as filter)
- normal attributes : 0
- event count attributes : 144000-ish

I am unable to empty it properly, did i miss something ?

[2020-07-06 10:17] #4838 closed, assigned to nobody

[2020-07-06 13:41] carnak opened #6096 "add support for .art gTLD for Network Activity Category type"
**Is your feature request related to a problem? Please describe.**
.art gTLD is apparently a thing now, and we are seeing a cobalt strike c2 hanging off one right now

**Describe the solution you'd like**
add support for .art gTLD for Network Activity Category type

**Describe alternatives you've considered**
none

**Additional context**
Right now, only Category type options I have for this type o

[2020-07-06 16:01] JakubOnderka commented on #3580
This is fixed, phone number must start with `+` char.

[2020-07-06 16:23] coolacid opened #6098 "[misp2stix2.py] Invalid created date"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| OS version (client)       | MacOS, Win10, Ubuntu, ...
| PHP version               | 5.4, 5.5, 5.6, 7.0, 7.1...
| MISP version / git hash   | 2.4.128, CoolAcid's Docker
| Browser                   | If applicable

###

[2020-07-06 16:27] coolacid commented on #6098
Fixed in https://github.com/MISP/MISP/commit/364ca9d9d8ca8206cac5daebeadb18c52452f0e1

[2020-07-06 16:27] #6098 closed, assigned to nobody

[2020-07-06 22:05] JakubOnderka commented on #4424
Loading events with a lot of attributes should be much faster now. Can you check latest MISP version?

[2020-07-07 08:03] alexdjpre opened #6100 "ValueError: invalid literal for int() with base 10"
Hi, i've installed MISP on a kubernetes cluster but when i try to start mis_modules i receive this error:

2020-07-07 07:03:36,298 - misp-modules - INFO - Launch MISP modules server from current directory.
INFO:misp-modules:Launch MISP modules server from current directory.
Traceback (most recent call last):
  File "/usr/local/bin/misp-modules", line 8, in <module>
    sys.exit(main())
  File "/us

[2020-07-07 09:27] cvandeplas opened #6101 "feed ingested with sharing group as distribution"
The feed distribution currently only allows a distribution of `all communities`, `this community` , `connected community` and `my organisation only`. It is not possible to select a `Sharing group`.

This request is about the addition of this feature.

Why? In some cases you can have a feed provided as commercial subscription. Multiple  (MISP-level) organisations within your company might be eligib

[2020-07-07 15:44] lfortemps opened #6102 "Edit view for shadow attributes is missing"
Since the update to 2.4.128. Users are experiencing issues when they want to "Propose edit" on an attribute. This brings them to the URL misp.example.org/shadow_attributes/edit/<attribute_id>.

This triggers a 500 with message: view file ShadowAttributes/edit.ctp is missing.

I saw that this view was recently removed at commit https://github.com/MISP/MISP/commit/df6916a312e2f051b118458106238fcb199

[2020-07-08 05:23] #6096 closed, assigned to nobody

[2020-07-08 10:01] the0new0kid opened #6103 "Unable to parse attribute tags(galaxy names) in csv"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Ubuntu 18.04.6
| OS version (client)       | Win10, Ubuntu 18.04.6
| PHP version               | 7.2.24
| MISP version / git hash   | v2.4.127 (eef05690d88b69e7448d9dc9b8611c7bfbfc130e)
| Browser                   | Firefo

[2020-07-08 13:59] carnak commented on #6096
Big thank you to the MISP team - you all rock.

[2020-07-08 23:27] vineethsai commented on #5919
I agree. This is a super useful feature request.

[2020-07-09 22:17] MySickSi opened #6105 "Server Sync stuck at 12%"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Ubuntu,
| OS version (client)       | Win10
| PHP version               | 7.2
| MISP version / git hash   | 2.4.126

### Support Questions
Hi, I attempted to pull IOCs from the CIRCL COVID-19 server to my server in order t

[2020-07-10 06:41] annetteshajan opened #6106 "Not enough events!"
Hey there

I have enabled and fetched all the feeds (approx 60) but I'm getting only around 2000 events totally.
I thought MISP gives way more than that per day.
Is there anything I'm missing or could be the issue?
Please help out

[2020-07-10 07:54] iglocska commented on #6106
MISP is a software that is used to enable the information exchange between different communities. Enabling the OSINT feeds that come pre-configured will give you a tiny subset of the data being shared, it's by joining sharing communities that you get access to more relevant focused data-sets. From what I understand at this point you are not connected to any MISP community yet, reach out to your pe

[2020-07-10 08:27] iglocska commented on #6102
Re-added, nice catch, thanks!

[2020-07-10 08:27] #6102 closed, assigned to nobody

[2020-07-10 08:31] SteveClement commented on #6041
@antonmalae on your server, go to the command line and to the following:

[code]

[2020-07-10 08:31] #6041 closed, assigned to nobody

[2020-07-10 08:37] SteveClement commented on #5791
This has been fixed a while ago, next time it will do this, Ctrl-C will fix it.

[2020-07-10 08:37] #5791 closed, assigned to nobody

[2020-07-10 09:04] SteveClement commented on #5476
thanks for everyones input :)

[2020-07-10 09:04] #5476 closed, assigned to nobody

[2020-07-10 09:05] SteveClement commented on #5716
feel free to re-open in case of need.

[2020-07-10 09:05] #5716 closed, assigned to nobody

[2020-07-10 09:10] #3022 closed, assigned to nobody

[2020-07-10 09:11] #5686 closed, assigned to nobody

[2020-07-10 10:27] JamesSOC080 opened #6107 "Invalid Event - Event not found (Sharing Group Permissions Issue)"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 18.04
| OS version (client)       | Win10
| PHP version               | 7.2.24
| MISP version / git hash   | 2.4.128, 6dca14a6b06b7b2be455c8700690f8828696716d
| Browser                   | Chrome

### Expected behavior

[2020-07-10 12:11] mokaddem commented on #6107
Linked to #6033

[2020-07-10 12:43] MySickSi commented on #6105
Looks like something may have hung up and I needed to be patient. Woke up this morning and everything pulled.

[2020-07-10 12:43] #6105 closed, assigned to nobody

[2020-07-10 14:13] chrisr3d commented on #6076
Python libraries are not automatically updated with MISP, but right now if you update your stix2 library you should get the latest six version as well.
You can check if you have the recommended version in the diagnostic page.

[code]
Alternatively you can check [how to update your python dependencies here](https://www.circl.lu/doc/misp/updating-python/#updating-the-python-dependencies)

[2020-07-10 14:13] #6076 closed, assigned to nobody

[2020-07-11 03:02] SteveClement commented on #6082
Tested on latest, same result.

[2020-07-11 03:12] SteveClement commented on #6042
Please let us know if the above mentioned fixed the issue.

[2020-07-11 03:18] #5927 closed, assigned to nobody

[2020-07-13 06:01] SteveClement commented on #6040
Dear I cannot reproduce this behaviour. Try to update to latest.

[2020-07-13 06:01] #6040 closed, assigned to nobody

[2020-07-13 08:53] WingerHusar opened #6111 "Can I set default publish parametr on "1" ?"
Hi,
I would like to have default publish parametr as "1" . I don't want do anything because i need to received event and immediately send to other resources.
It is possible ?

[2020-07-13 15:26] #6009 closed, assigned to nobody

[2020-07-13 15:26] #4908 closed, assigned to Delta-Sierra

[2020-07-13 20:41] Sp-TT commented on #3385
Hi Team, is this still an unsolved problem? there is no response when i proposed to delete attribute on object level

[2020-07-14 10:21] SteveClement commented on #6059
In theory fixed with the latest mail_to_misp PR.

Thanks for the feedback.

[2020-07-14 10:21] #6059 closed, assigned to SteveClement

[2020-07-14 10:50] StefanKelm commented on #6009
:+1:

[2020-07-14 12:26] ancailliau commented on #6080
The issue can be closed, we could not reproduce the issue after the update.

On Wed, Jul 1, 2020, 13:54 Raphaël Vinot <notifications@github.com> wrote:

[2020-07-14 14:01] #3385 closed, assigned to iglocska

[2020-07-14 14:04] paletyp commented on #5757
kailaru...Thank you for your post. I have the exact configuration as yours. My site is going in a loop with okta. Can you please suggest if you have done anything else or have seen the loop issue.

[2020-07-14 14:13] #6080 closed, assigned to nobody

[2020-07-14 21:23] MySickSi opened #6121 "MISP CrowdStrike python script"
| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Ubuntu 18.04
| OS version (client)       | Win10
| PHP version               | 7.4
| MISP version / git hash   | 2.4.128

### Support Questions
Hi everyone - I'm currently attempting to get the MSIP to Crowdstrike script working (misp2cs.py). I

[2020-07-15 00:41] qanniej opened #6122 "How to update stix libary"
Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Ubuntu 18.04.4 LTS
| MISP version / git hash   | 2.4.129
| Browser                   | Chrome

### Support Questions

Hello, I'm getting error in MISP that my STIX Library version expected is > 1.2.0.9 but currently it's 1.2.0

[2020-07-15 04:10] SteveClement opened #6123 "[self-registration] When accepting a registration allow a custom comment"
Frequently when accepting registrations you might have a followup question.

It would be good to ask that somehow.

[2020-07-15 04:36] RichieB2B commented on #6122
Did you do a "git pull" inside the python-stix directory before the install?

[2020-07-15 07:10] iglocska commented on #6123
That we are already asking:

![image](https://user-images.githubusercontent.com/3668672/87514761-0d061180-c67b-11ea-9d71-78f3c96fded1.png)

[2020-07-15 07:38] cvandeplas opened #6124 "batch edit attributes result in proposals instead of edit"
When batch-editing attributes in an event they become proposals instead of edits.

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| MISP version / git hash   | 2.4.128

### Expected behavior
Attributes are edited.

### Actual behavior
![image](https://user-images.githubusercontent.com/1073662/87517173-

[2020-07-15 07:42] cvandeplas commented on #6124
OK, I was a bit too fast.
This is caused by the default behaviour that has changed.
When mass-editing the "make proposals" box is checked by default

![image](https://user-images.githubusercontent.com/1073662/87517683-7d169680-c67f-11ea-9301-8dc541445b65.png)

This was added in commit https://github.com/MISP/MISP/commit/9b33476eedd184bc46665aaae57533ddcf35e5f7

[2020-07-15 07:58] cvandeplas commented on #6124
The default behavior is now restored in commit 93c902e07325a3eff3047f6bed5fc1bb81caaef9

[2020-07-15 07:58] #6124 closed, assigned to nobody

[2020-07-15 12:40] rshar135 opened #6125 "Mitre ATT&CK Upgrade"
Is there is any way to update the Mitre ATT&CK to version 7, as the attack pattern (att&ck matrics) inside the Galaxy is showing the old one.

[2020-07-16 07:58] lfortemps commented on #6101
It seems to have been fixed in the latest version. Sharing Group can be selected for a feed distribution.

[2020-07-16 08:07] #6101 closed, assigned to nobody

[2020-07-16 08:27] xg5-simon commented on #6121
Hi @MySickSi I've transferred ownership of this script as I no longer have access to a CS instance anymore. You need to create a keys.py file as per https://github.com/MISP/PyMISP/blob/main/examples/keys.py.sample also run python3 misp2cs.py -h for a description of each switch.

[2020-07-16 11:55] MySickSi commented on #6121
Hi @xg5-simon,

Thank you for your reply! I already have a keys.py file in the examples directory. I copied the original keys.py.example and named it keys.py. I then input my MISP IP and its API key into the new keys.py. Is that the correct way to create this file or did I possibly miss a step?

![image](https://user-images.githubusercontent.com/40272145/87667477-6718dc80-c738-11ea-88e0-df22537a8c

[2020-07-16 12:21] cvandeplas commented on #5943
I believe what's missing now is downloading the events without attachments.

[2020-07-16 12:56] xg5-simon commented on #6121
If you look at lines 100-104 of the code it explains the switch values.

[2020-07-16 13:34] lfortemps opened #6128 "Event id to/from uuid translator with sync servers"
**Is your feature request related to a problem? Please describe.**
An event id is easy to work with in ticketing tool, reports etc. because it is short and can be easily typed manually if copy-paste is not an option. When working with multiple MISP instances, this event id will be different for the same event (same uuid).

Example: a user from a public MISP instance would like to notify us about a

[2020-07-16 14:58] mkulicke commented on #6042
I am experiencing the same issue, just in a different flavor:
- the instance is already set up, with an existing database
- the blackhole only occurs with Google Chrome
- with Microsoft Edge it just works fine
- as the instance is already used, the script `/var/www/MISP/app/Console/cake userInit -q` aborts with `Script aborted: MISP instance already initialised.`
- the error.log is identical to th

[2020-07-16 15:07] mokaddem opened #6130 "Automatically disable correlation on warninglist offenders"
Do not correlate data if they match a warning-list

[2020-07-16 15:54] luna7391 commented on #5838
Hi, I'm still experiencing the worker issue above where they seem to stop and start ok with the CLI command and no errors are being reported, however the workers are still reporting " Issues prevent jobs from being processed. Please resolve them below." in the UI. My MISP instance is now at v2.4.129.

The Schema Status is also still showing "Column `orgc_id` is indexed but should not", should this

[2020-07-17 00:42] MySickSi commented on #6121
@xg5-simon I did review the code and to my understanding, I was inputting the switch values correctly.

Attempting to run your code with the two required switch values of parameter and string. I set the parameter to org, and the string to search as the ORGNAME, which is the org in my test environment.  I'm really unsure what else there is to do.

`python3 misp2cs.py -p org -s ORGNAME`

[2020-07-17 07:00] mokaddem commented on #5983
Hello,
Not sure to see on which side the error is, but it clearly seems that one tool cannot reach the other.

[2020-07-17 07:08] mokaddem commented on #5980
@RevoStryder Where you finally able to solve your issue?
For me everything is working as expected on version `v2.4.129`

[2020-07-17 08:49] mokaddem commented on #5994
@tlansec The galaxy2.0 feature is finally under review https://github.com/MISP/MISP/pull/6120

About the user-defined tag colors, we recently merged an improved version of the decaying models allowing users to override on-the-fly the numerical value of tags https://github.com/MISP/MISP/pull/5967. @iglocska, Maybe we could consider to also provide users a mean to override the color in a similar fas

[2020-07-17 08:53] mokaddem commented on #5995
Related to https://github.com/MISP/MISP/issues/5980

[2020-07-17 08:53] #5995 closed, assigned to nobody

[2020-07-17 08:55] mokaddem commented on #5780
@lsoumille  Has this been resolved?

[2020-07-17 09:52] RevoStryder commented on #5980
Hey, Yep it works now in the latest release.

Thanks!

[2020-07-17 10:16] mokaddem commented on #5997
I think it's a wording issue. I understand manually like you decided to do it, either via the UI or a script. Automatic is more an event created by the system due to a sync for example.
Maybe we should consider to add a parameter during the event creation to prevent this behavior. Something like `/events/add/ignore_default_tag_collection:1`.

By the time we find a solution, another workaround is t

[2020-07-17 10:29] mokaddem commented on #5998
Hello and sorry for the late reply,
We highly discourage people to modify the source code for configuration issues as it could lead to unexpected behavior and will prevent you to upgrade your instance.
You can configure the redis settings in the web interface under `/servers/serverSettings/MISP` and then `MISP.redis_*` or also in the configuration file located here `MISP/app/Config/config.cfg`.
Ch

[2020-07-17 10:29] #5998 closed, assigned to nobody

[2020-07-17 10:34] mokaddem commented on #5878
That indeed seems not practicable.
However, from what I can see, the script you mentioned is publishing with the correct parameters. Do you still have the issue?

[2020-07-17 11:49] cudeso commented on #5997
Maybe have for `/events/add/` an `override_default_tag_collection:<id>`?

- To ignore/prevent tag_collection being added when events are created: add the id for an 'empty' tag collection
- Also allows to select other tag collections to be applied when creating events via API

[2020-07-17 13:19] mokaddem commented on #6000
Hey,
It basically means that you are trying to pull an event that you already have and the timestamp or your local event is >= of the remote one.
I guess the issue has been solved since then?

[2020-07-17 13:33] mokaddem commented on #5602
@iglocska `BeforeValidate` is indeed a good place to adapt them. But I don't want to have inconsistencies in the dataset.
If an attribute is edited and it belongs to an object, we have to fetch the object anyway (no need to fetch the other attributes fortunately).
@TheDr1ver Your use case is totally valid and I would like to work on it but unfortunately, I'll not be able to work on it anytime soon

[2020-07-17 13:41] #6012 closed, assigned to mokaddem

[2020-07-17 13:46] mokaddem commented on #4559
Hello,
The issue should now be fixed https://github.com/MISP/MISP/commit/17c46a8b254e129a207e272d3d5f6b02872898be.
Thanks for the report.

[2020-07-17 13:46] #4559 closed, assigned to nobody

[2020-07-17 13:59] #6002 closed, assigned to nobody

[2020-07-17 14:06] mokaddem commented on #6027
MISP doesn't really know if a worker is up or down unless it performs a query against cakeResque.
It seems to me that the best way to check if workers are running is to periodically query the worker status endpoint and parse the result, then take actions if you detect that they are down.
Would that solve your issue?

[2020-07-17 14:10] mokaddem commented on #1346
Don't think it's on the roadmap.
The multi select is working for mass delete is working though

[2020-07-17 14:13] mokaddem commented on #5168
The issue is caused because the token generated for the login form expired. Simply reloading the page if it `has been sitting there for a while` would solve the issue.
We could also regenerate the token every once in a while

[2020-07-17 14:27] mokaddem commented on #6034
Hello,

What view are you showing with the screenshot? Is it `/attributes/search/`?
It seems that you don't actually have duplicated attributes but rather they are somehow fetched twice. Could you please confirm?

Also, do you have any logs regarding your sync issues?

Thanks in advance!

[2020-07-17 14:29] mokaddem commented on #6037
Hello,

Could you elaborate a bit about your issue?
Do you have any errors shown? Do you have any logs that could help us find out what's not working?

Thanks in advance

[2020-07-17 14:33] mokaddem commented on #1513
@annetteshajan If you have an error with the default password, you can reset it by using the MISP cli
[code]

[2020-07-17 14:37] mokaddem commented on #6030
@srikanthprathi Do you see anything unusual in your log files when you push?
What is the result of the job?
Thanks in advance

[2020-07-17 14:41] mokaddem commented on #6048
Hello,
I'm not familiar with filebeat, nor am I on how it integrates with MISP.
Do you have any logs in MISP that could help us tackle your issue?
If you don't have any logs, it might be an integration issue

[2020-07-17 16:24] jmakar opened #6133 "Not all attributes are returned from automation api when using returnType suricata"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| MISP version / git hash   | 2.4.120

### Expected behavior

Automation queries with returnType suricata should have the same attributes as those with returnType json.

### Actual behavior

Only some attributes are returned.

### Steps to reproduce the be

[2020-07-17 17:45] imidoriya commented on #5168
If a token is expired, it should redirect back to the logon page, not a blackhole page.  And yes, it would probably make sense to add a meta tag on the logon page so the token doesn't get stale.

`<meta http-equiv="refresh" content="300">`

This would refresh the logon page every 5 minutes for example.

[2020-07-18 03:23] arafatx commented on #3058
Is it possible?

[2020-07-18 08:07] ser-storchak commented on #5983
Maybe you have any idea why this might be happening?

[2020-07-19 01:06] SteveClement opened #6134 "[self-registration] When acknowledging a user that is already present, it loops."
Accepting a user that is already present in MISP silently fails and keeps asking you to accept the user.

[2020-07-20 07:31] mokaddem commented on #6051
@samitainio Thanks for answering your own question.
Do you have this `Event 0` behavior with other enrichment modules?

[2020-07-20 07:36] mokaddem commented on #5923
@dan00bielb Your observation seems to be correct. By setting these sync parameters, you are indeed limiting the amount of data to be returned.
Could you provide us insights on how much data is present on the remote? It seems to me that 8GB for fetching the remote index should be more than sufficient.

[2020-07-20 07:46] mokaddem commented on #6054
Hello,
You can find general documentation about sync [here](https://www.circl.lu/doc/misp/sharing/)
As for your issue with publishing, it might be that your workers are dead. Please check workers status in the `Server Settings and Management` tab.
If the issue persists, could you have a look at your logs and paste a snippet where things go wrong?
Thanks

[2020-07-20 07:54] mokaddem commented on #6074
I'm not sure to fully understand where the issue is.
Is the SightingDB returning results but MISP doesn't?
Are you using the same correct namespace?
Thanks

[2020-07-20 08:00] mokaddem commented on #6057
@TaR7k1xPG84 Glad you managed to make it work!

No it's not possible. MISP will reject empty events

[2020-07-20 08:00] #6057 closed, assigned to nobody

[2020-07-20 08:28] mokaddem commented on #5966
If you plan to only push data to `Other MISPs` (option 2), they are basically the same.
However, if `Other MISPs` have users on your instance, they will still be able to pull data even with the sync rules set.
Another advantage to have this setup (option 1) is the existence of a *workbench* and a clean place where your partners can pull vetted data.
There is nothing wrong with option 2 though.

[2020-07-20 08:28] #5966 closed, assigned to nobody

[2020-07-20 08:29] #4819 closed, assigned to nobody

[2020-07-20 08:44] mokaddem commented on #6010
I don't think it's supported by PyMISP already but posting a list of IDs to this endpoint should delete them
[code]

[2020-07-20 08:44] #6010 closed, assigned to nobody

[2020-07-20 08:46] #3580 closed, assigned to nobody

[2020-07-20 09:12] sustefil commented on #6034
Hi @mokaddem,

This is /events/view/<number>, so it's one particular event.

We are strongly confident that it is caused by concurrent PyMISP accesses (calling misp.update on the same event and attribute in the same time). The uniqueness of the attribute in an event is not enforced by the database schema, so it would really make sense to me that the REST API calls just don't handle concurrency, wh

[2020-07-20 09:38] cohenshimi commented on #6074
i have connection with sightingDB but "publish sightings" in the event is not work and when i try to count using the quick search not working.
yes i'm using same namespace.
@iglocska tell me that did some changes recently in sightingdb - it might have broken stuff from MISP's perspective.

[2020-07-20 10:19] mokaddem commented on #6103
Hello @the0new0kid,
I'm not sure to understand what is blocking you from accessing the tags in your modified code.
Could it be that you have an bug in your code? For example, trying to access a non-existing key (if the attribute do not have any tags?)

[2020-07-20 10:29] mokaddem commented on #6111
Hey,
I'm not sure to understand what you want to do.
If you receive a published event and you have valid connections with other instances, it sync will happen automatically.

[2020-07-20 10:33] mokaddem commented on #6123
Does the answer solve your feature request?

[2020-07-20 10:38] #6042 closed, assigned to nobody

[2020-07-20 10:47] mokaddem commented on #6133
Lots of export require the event to be in a ready-to-use state which is usually described by the publish flag.
Also, depending on the export chosen, the `to_ids` flag must be set on the attribute to be exported

[2020-07-20 10:47] #6133 closed, assigned to nobody

[2020-07-20 10:50] mokaddem commented on #5983
Can you ping the services from one machine to the other?
Are there any FW rules blocking requests?

[2020-07-20 12:20] mokaddem commented on #5918
Hey,
Could you update your MISP instance to the latest version? We recently fixed one bug affecting galaxy matrices.
As far as your database schema is concerned, could you also check the diagnostic output after the update.
If you still have warning, could you restart the updates starting from version 29.
[code]
and then let the updates run.
Thanks!

[2020-07-20 13:25] JakubOnderka commented on #6034
The problem is missing lock for attribute table. So if you add attribute from multiple processes. For example:

Process A checks if attribute is unique
Process B checks if attribute is unique
Process A add attribute
Process B add attribute

So the solution is to add write lock for attribute table before checking for unique values and unlock after attribute is added.

[2020-07-20 15:22] iglocska commented on #3156
It would be nice to have, but it's a little bit trickier due to what @RichieB2B hinted at. Basically, if you have an ip-dst type attribute with a CIDR block that overlaps but also exceed the warninglist entry, then it will be a false warning, potentially excluding a legitimate indicator from the data-set.

So we need a new algorithm unlike what we use for example for the correlation where a false

[2020-07-20 15:39] chrisr3d commented on #6056
I just aligned it with the requirements listed in the Pipfile, which is the one used to set the virtual env' up.
So it is set to the latest version now

[2020-07-20 15:39] #6056 closed, assigned to chrisr3d

[2020-07-20 20:09] samitainio commented on #6051
@mokaddem `Event 0` only happened with the `Shodan` module. Afterwards of writing this bug report I did notice that running `farsight_passivedns` module has similar effect but without that `Event 0` popping up in correlation. With the `farsight_passivedns` module this however happens:

![image](https://user-images.githubusercontent.com/5585477/87979046-1d364a80-cada-11ea-8cc1-045ba0c3ef76.png)

Th

[2020-07-21 00:46] Sp-TT commented on #3162
@dsever Could you please advise how to solve the looping issue?

[2020-07-21 08:10] #5969 closed, assigned to mokaddem

[2020-07-21 08:11] mokaddem commented on #5969
Hey,
The above commit should solve this issue.
If it's not the case, let us know!

[2020-07-21 08:36] #6033 closed, assigned to nobody

[2020-07-21 08:36] #6107 closed, assigned to nobody

[2020-07-21 08:43] mokaddem commented on #6033
Events belonging to an organisation which is not included in the sharing group assigned to the event will not be shown on the index anymore for that organisation.
This is to avoid confusing behavior where an event is owned by an organisation but this organisation cannot view the details due to sharing group restriction.
One way to allow the org to see the event again is to ask to the remote instan

[2020-07-21 09:20] mokaddem commented on #6034
@JakubOnderka explained it clearly. However, adding a lock for the table would add (once again) a non-negligible delay that we are not really willing to introduce.
The situation would be totally different if the IDs or UUIDs would be duplicated but fortunately, it is not the case. You are nearly in the same situation that you can be when using objects (duplication is allowed).
@sustefil if you cou

[2020-07-21 09:20] #6034 closed, assigned to nobody

[2020-07-21 10:15] #6013 closed, assigned to nobody

[2020-07-21 10:15] mokaddem commented on #6013
@cyber288 Thanks again for the thorough analysis.
The issue should be definitively fixed now.

[2020-07-21 13:10] github-germ commented on #6034
@mokaddem -- Hi, can you offer more details about `batch import` mode please. Thanks.

[2020-07-21 14:50] GlennHD commented on #5969
Confirmed fixed in v2.4.129.  Thanks!

[2020-07-22 02:18] the0new0kid commented on #6103
It is not that problem. As you can see in my output the attribute with no tags just displays a []. I need to specifically display the 'name:' part in the output only.

[2020-07-22 05:22] SteveClement commented on #6111
@WingerHusar the best would be to automate this with PyMISP or, as Sami mentioned, on sync it just happens automagically.

[2020-07-22 10:12] denny-lclin opened #6138 "[stix2 export] stix2's valid_until field of indicator type is confusing"
Currently when an MISP attribute is converted to STIX2 indicator type object, the `valid_until` field of that STIX2 object is extract from either MISP attribute's `last_seen` field (if `last_seen` exist) or `timestamp` field (if `last_seen` not exist).

My point is that according to the meaning of  *`valid_until`, using the value of either `last_seen` or `timestamp`  seems to be a bit weird?

I be

[2020-07-22 13:06] cvandeplas commented on #5713
As given by @mokaddem  in https://github.com/MISP/MISP/pull/6129#issuecomment-662298299 , which came from the [MISP dashboard](https://github.com/MISP/misp-dashboard) project that could also be interesting here:

- Specific badges and achievements for interacting with specific threat actors
- Rewards for discovering APT 41 C2, or new important TTPs
- Rewards for industry best champion (who produce

[2020-07-22 13:42] mokaddem commented on #6034
@github-germ
`Batch Import` allows you to create multiple attributes at once.
One value will be created per line.
See the example on the picture below
![image](https://user-images.githubusercontent.com/6977223/88183481-ce032d80-cc31-11ea-8082-7684f6bf1246.png)

[2020-07-22 13:55] mokaddem commented on #6103
Wouldn't doing the change below solve your issue?
Replace:
[code]
By:
[code]

[2020-07-22 14:03] github-germ commented on #6034
Appreciate the reply. OK, I thought there was something new to me via PyMISP since this was the context of this discussion.

[2020-07-22 14:10] nbyt3 opened #6139 "Redis Memory Usage"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| PHP version               | 7.4
| MISP version / git hash   | 2.4.128

27551 Events
303470 Attributes

### Actual behavior
Redis is immediately consuming 57 percent of memory of the MISP instance around 19GB of 32GB o

[2020-07-22 15:08] RichieB2B commented on #6139
There must be a lot of data in redis. You can clear out everything using:
[code]

[2020-07-22 17:35] github-germ commented on #4047
Any update on this issue? Thx...

[2020-07-22 17:55] nbyt3 commented on #6139
Thank you for the quick reply. That command indeed flushed the redis cache memory.

[2020-07-23 01:02] trallgorm opened #6140 "Can I assume that all of the default feeds in MISP are licensed for commercial use?"
We want to use the default MISP feeds in an organization, but a lot of them don't have any easily accessible licensing agreements. Is it a safe assumption to make that if a feed is a default feed in MISP, then their license allows for commercial use?

[2020-07-23 01:34] trallgorm commented on #6140
I found at least one feed (from dataplane.org) that is default and explicitly DOES NOT allow commercial use. I think a good addition would be to add this as a field to the list of feeds, or to only enable completely free-to-use feeds by default.

[2020-07-23 08:34] sustefil commented on #6034
@mokaddem Ok, understood.

Just to mention here, we have observed that these duplicated attributes spawn more errors, namely:

1) Adding a tag with PyMISP to these attributes fails silently

2) Duplication of UUID. The same attributes have the same UUID after push.
Let's say you have instances A, B and C. Push is configured A -> B -> C. There are 2 duplicated attributes (with different ID and UUID

[2020-07-23 10:20] mokaddem commented on #6025
@Rafiot I cannot reproduce the issue with the provided payload.
Could you check:
- The `timestamps` of both the attribute and the object are updated (or removed) when posting
- The sharing group can be accessed by the user performing the request
However the behavior you described above is true when adding attributes. Will check
Thanks!

[2020-07-23 10:45] #6024 closed, assigned to nobody

[2020-07-23 11:45] Rafiot commented on #6025
* `timestamp` is removed in the object posted (as shown in the example above)
* The SG can be set and used by the same user on other objects

In the example above, I'm adding a new attribute to an existing object.

[2020-07-23 13:23] TaR7k1xPG84 commented on #5457
Hello,
I have exactly the same Database schema diagnostic situation.
So I am wondering if it is normal that this warning occurs after the fix you're mentioning in the previous messages and if it can affect the MISP server?
My MISP version is v2.4.129, MariaDB version is 10.3.22 and the OS is Ubuntu Server 20.04.
Thanks for your help.

[2020-07-24 06:13] #6138 closed, assigned to nobody

[2020-07-24 08:45] #6025 closed, assigned to nobody

[2020-07-24 13:14] mokaddem commented on #1633
@iglocska Isn't it solved with the local tags? Asking because no ACL is mentioned in the issue

[2020-07-24 13:42] mokaddem commented on #5457
@TaR7k1xPG84 are you referring to the `NULL` warning? Would you mind posting your schema diagnostic?
Thanks

[2020-07-24 13:55] iglocska commented on #1633
No, this is a different story. The idea is to have a tag namespace such as "misp-internal:" that is purely used to trigger automation mechanisms. They wouldn't behave from a user's perspective like normal tags.

[2020-07-24 14:54] TaR7k1xPG84 commented on #5457
Precisely, I'm referring to the `NULL` warning.
I attached down below a screenshot of the schema diagnostic. It does not show every row but all of them are as in the screenshot, with the `NULL` warning or the `"` warning.

![db_schema](https://user-images.githubusercontent.com/67414684/88404412-253e0500-cdce-11ea-8a14-bb1862ed956a.png)

[2020-07-27 06:22] #5576 closed, assigned to nobody

[2020-07-27 06:28] mokaddem commented on #3124
This feature is implemented with the merge of #6143.

[2020-07-27 06:28] #3124 closed, assigned to iglocska

[2020-07-27 06:47] mokaddem commented on #3314
Partially solving the feature request, now tags can be removed from an attribute by passing the deleted flag in the tag object (see #6143).

[2020-07-27 07:39] sara931 commented on #286
what was the fix for it as i am its not mentioned in documented anywhere.

[2020-07-27 08:18] mokaddem commented on #6034
@sustefil The point you mentioned is concerning as the **B** instance should not have 2 attributes with the same UUID. Moreover, **C** should not get any errors.

I tried to reproduce the issue you had (with commit 46eb547). This is what I did:
1. Created 2 attributes via the API on **A**
    - As I couldn't reproduce the duplication, I manually edited the DB to have 2 identical attributes (unless

[2020-07-27 08:26] #6032 closed, assigned to nobody

[2020-07-27 08:52] mokaddem commented on #5457
@TaR7k1xPG84 Oh i see. You checked the `Reveal benign deltas` checkbox.
These are just artifacts because the schema used for the comparison return `null` while your DB returns `'NULL'`.
So, this is totally benign and you can safely ignore them

[2020-07-27 10:48] patriziotufarolo opened #6145 "Strange behavior when fetching events by UUID"
Hi,
I would like to report that fetching events  by UUID now causes stranges behaviors resulting in:
- memory exhaustion
- fetching event with id=1
- error 500
when a non-existent event's UUID is provided.

This happens both through web UI and APIs/PyMISP library, because of changes introduced with commit decbb360ea9fdfc4e4416b724615b1a51132bec5

Could you please check?

### Work environment

| Qu

[2020-07-27 11:40] #6145 closed, assigned to nobody

[2020-07-27 12:04] JakubOnderka commented on #6145
Thanks for providing exact commit. It should be fixed in latest 2.4 branch. Can you check it?

[2020-07-27 12:27] patriziotufarolo commented on #6145
Hello Jakub,
thanks for fixing this bug in a few hours :)
I can confirm that the problem is solved.

Regards,
Patrizio

[2020-07-28 07:53] vandir opened #6149 "How to sync my MISP instance with a commercial one"
Hi all,

I've bought a premium subscription and I would like to automatically download all the events they create.

They provided me with a the Base URL and the Authkey so I've created a Sync Server in this way:

![Capture](https://user-images.githubusercontent.com/14293194/88635318-d2a76600-d0b7-11ea-95e6-89c1c6b4c721.JPG)

After that, I can correctly navigate the remote instance and manually fet

[2020-07-28 08:25] iglocska commented on #6149
You can schedule the pull process using cron jobs using the `MISP/app/Console/cake Server pull [user_id] [server_id] [full|update]` CLI command. For more similar commands, have a look at the /events/automation page in your MISP.

[2020-07-28 08:35] vandir commented on #6149
I've tried that command (with "update" param) but I obtain the following output:

![Capture2](https://user-images.githubusercontent.com/14293194/88636939-d5a35600-d0b9-11ea-9a3e-88001b864e9f.JPG)

Should I run the command with "full" param before "update"? The problem is that the remote sync has millions of events.

[2020-07-28 09:51] mokaddem commented on #5901
Fixed with proposal for fix in https://github.com/MISP/MISP/commit/97d63a0989dc57f3da18119b656f14d56a7fa308

[2020-07-28 09:51] #5901 closed, assigned to nobody

[2020-07-28 09:52] mokaddem commented on #6050
@raw-data Your issue should now be solved with https://github.com/MISP/MISP/commit/97d63a0989dc57f3da18119b656f14d56a7fa308.
Do not hesitate to get back to us if it's not the case.

[2020-07-28 09:52] #6050 closed, assigned to nobody

[2020-07-28 13:06] dmolina213 opened #6152 "Create disk space by clearing old events"
Questions | Answers
-- | --
Type of issue | Bug
OS version (server) | RHEL, with MISP running on a docker container..
OS version (client) | MacOS, Win10,
PHP version | 5.4, 5.5, 5.6, 7.0, 7.1...
MISP version / git hash | 2.4.XX, hash of the commit
Browser | If applicable

We would like to clear some disk space by clearing old events. Looking at the MySQL database we noticed that the Correlations t

[2020-07-28 13:38] cudeso opened #6153 "Inconsistent behaviour between soft-delete and delete for ZMQ"
The data sent to ZMQ when an attribute is deleted is inconsistent.

**Soft-delete**
[code]

**Delete**
Attribute element does **not** contain the tag; but attributetag is sent to ZMQ. Attributetag does not contain the name (value) of the tag.

[code]

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS

[2020-07-28 14:16] Batata-ops commented on #1399
I have the same issues but I run Kali Linux 2020.1

[2020-07-28 14:38] sustefil commented on #6034
@mokaddem Thanks for the effort!

I am currently on a 2-week holiday, I will get back to this later.

[2020-07-28 15:16] ghost opened #6155 "Local feeds failing to cache"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 18.04.6
| OS version (client)       | RHEL, Win10
| PHP version               | 7.2.24
| MISP version / git hash   | v2.4.129 (dcd372bd93ae8328284a8fe88a2d87c6fe8c3d75)

### Expected behaviour
Clicking cache on feed sho

[2020-07-28 15:43] JakubOnderka commented on #6155
Can you please try to checkout this PR https://github.com/MISP/MISP/pull/6156 and check if is it fixed?

[2020-07-28 16:25] #6149 closed, assigned to nobody

[2020-07-28 16:39] cudeso commented on #6153
Also, **soft delete** includes the Event reference, whereas with normal **delete** there is no Event reference.

[2020-07-29 07:47] ghost commented on #6155
That has fixed the problem, thanks.

[2020-07-29 10:21] BrunoMCBraga opened #6157 "defaults.json (feed-metadata) enabled and default seem not to work"
I am trying to create a MISP instance inside docker automatically but it seems defaults.json is not being processed properly. I want to start with all feeds enabled but when i set them to eneabled, they are not enabled on the GUI:

![Screenshot 2020-07-29 at 12 18 28](https://user-images.githubusercontent.com/5751467/88788457-a530ea00-d195-11ea-8165-edebd710a8d3.png)

Any idea why this is happenin

[2020-07-29 13:24] ivocarv opened #6158 "deleted attributes on feed are not actually deleted in MISP"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       |  Ubuntu 18.04
| OS version (client)       | Win10
| PHP version               | 7.2
| MISP version / git hash   | 2.4.129

### Expected behavior
When an attribute in a feed is deleted, it's JSON contains a "deleted" parameter

[2020-07-29 13:48] #6083 closed, assigned to mokaddem

[2020-07-29 13:52] mokaddem commented on #6083
Thanks for the report @StefanKelm!
This should be fixed. Let us know if you spot other issues!

In regards to your question, this is a widget to help you perform the update (or merge) if fields disappeared or if it can't be merged automatically.
In your case, everything was done automatically. You can see an example of a non-trivial merge here https://github.com/MISP/MISP/pull/4545
I rephrased the

[2020-07-29 14:05] mokaddem commented on #5184
The issue made the assumption that you can update an object to a newer template if MISP knows the template being used by the object, which is false.
Only object having a known template can be edited.

[2020-07-29 14:05] #5184 closed, assigned to mokaddem

[2020-07-29 15:26] StefanKelm commented on #6083
This is awesome! Thanks so much @mokaddem for the explanation and the fix!

[2020-07-29 23:22] kw2583 commented on #4535
any updates on this? I'm currently running into the same issue. thanks

[2020-07-30 00:08] Sp-TT commented on #3162
Problem solved.

MISP server sitting behind LB, looping caused by requests Bouncing Between HTTP and HTTPS.

[2020-07-30 06:25] #6082 closed, assigned to mokaddem

[2020-07-30 07:01] #6134 closed, assigned to nobody

[2020-07-30 07:19] MichaelHuys opened #6159 "/var/www/MISP/app/files/scripts/tmp keeps on growing after upgrade to version 2.4.129"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | RedHat, ...
| OS version (client)       | 7.8 (Maipo)
| PHP version               |  7.1
| MISP version / git hash   | 2.4.129
| Browser                   | /

### Support Questions

Recently I upgraded my MISP instance to

[2020-07-30 07:22] mokaddem commented on #5997
To avoid reimplementing the same thing, we could instead move to a new permission that would skip attaching the tag collection.
Basically, we would have:
- As normal users contribute a specific kind of data, we categorise their contribution it by default with the default tag collection
- Other users with the disabled tag collection permission would not attach it when creating events
- Others tag c

[2020-07-30 07:23] #5123 closed, assigned to nobody

[2020-07-30 07:53] #5838 closed, assigned to mokaddem

[2020-07-30 07:55] mokaddem commented on #5838
@luna7391 I fixed the warning about `orgc_id` not being indexed. It was indeed a missing entry in the base schema. Thanks!
As for your workers issue if you still have it, could you open another issue?
Thanks!

[2020-07-30 09:57] garanews commented on #4376
I have same behavior (attribute count incorrect) with v 2.4.129 (probably also previously) with relative small number of attributes:
Some example:

- 6 instead 18
![image](https://user-images.githubusercontent.com/16938405/88909389-50f03d80-d25b-11ea-8121-c890ec6f4102.png)

![image](https://user-images.githubusercontent.com/16938405/88909431-606f8680-d25b-11ea-9355-b76abef46854.png)

75 instead 44

[2020-07-30 11:18] JamesSOC080 opened #6160 "Publish Timestamp set to '0' when using REST API"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| OS version (client)       | Win10
| PHP version               | 7.2
| MISP version / git hash   | 2.4.129, 1d6517c7a4140bde42976f1bf3be40a126a59222
| Browser                   | Chrome

### Expected behavior
When usin

[2020-07-30 13:22] mokaddem commented on #5168
PR #6161 should fix the issue

[2020-07-30 13:49] mokaddem commented on #6160
Hello,
I'm not sure to get what's wrong with the screenshot you sent.
For the 2nd picture, I can see that the event is published and the `Last change` field is updated.

For the `publish_timestamp` issue, could you go fetch the JSON again and check this field?
You can do it via the API or if you append `.json` at the end of the URL like this:
[code]
Thanks

[2020-07-30 14:44] JamesSOC080 commented on #6160
Hi there,

So the issue in the screenshot is to do with the 'published' field - it is showing as 'Yes N/A' - meaning that, whilst published, it does not have a timestamp set (as shown in the JSON "publish_timestamp": "0",".

When published correctly (e.g. manually through the UI), it will appear in the UI as (for example) 'Yes (2020-07-30 12:05:23)"

This appears to have only happened recently, as

[2020-07-30 14:51] hildenjohannes opened #6186 "Tag colors not applied correctly when returned by an expansion module"
Like the title states, I am unable to get tag colors to be applied correctly when returned by an expansion module. I found the issue when developing the [recordedfuture](https://github.com/MISP/misp-modules/blob/main/misp_modules/modules/expansion/recordedfuture.py) module.

After checking logs, it looks like the module output is correctly formatted and includes tags with the desired colors set, h

[2020-07-30 14:53] digihash opened #6162 "Granular Permission system to split MISP admin and System Admin"
### Is your feature request related to a problem? Please describe.
Image that you have an SLA contract with a hosting company that will host the MISP instance you want to use on their servers. In the SLA, you expect a high availability of the system and a high security standard. Because of this, the hoster won't allow you, as the client, to fiddle with the operating system, web server, database, o

[2020-07-30 15:20] iglocska commented on #6162
As discussed before - definitely something that would be useful and it would eliminate some of the issues we have today, but it's a rather large task.

[2020-07-30 16:24] github-germ commented on #6162
Possibly related:
* https://github.com/MISP/MISP/issues/5685
* https://github.com/MISP/MISP/issues/4016
* https://github.com/MISP/MISP/issues/5522

[2020-07-30 16:50] kw2583 commented on #4535
Thought I'd drop this here for anyone else that encounters this issue. The nginx sub_filter module provides a very easy way to overcome this problem. Simply add the following lines to your location{} block that handles the proxy_pass:

`proxy_set_header Accept-Encoding "";
sub_filter_types text/html text/css;
sub_filter 'https://[misp base_url]' 'https://[proxied domain]';
sub_filter_once off;`

[2020-07-30 17:36] digihash commented on #6162
I know @iglocska, I just wanted to log it down here so we can follow it up 👍

[2020-07-30 21:07] cudeso commented on #5997
Adding an additional permission would be a good solution. If events are created by the API, you can then select the correct user / key depending if you want to adhere to the default tag collection or not.

[2020-07-31 05:59] iglocska commented on #6162
Oh no, don't get me wrong just left it as a note internally so we know that we want this but it's a larger task - thanks for creating the issue ;)

[2020-07-31 11:25] #5534 closed, assigned to nobody

[2020-07-31 11:29] #5500 closed, assigned to nobody

[2020-07-31 11:34] mokaddem commented on #5500
Attribute mass edit and merging object are both no longer passing data via the URL. Thanks for the report!
(@krayzpipes it's cool to see that you are using that feature :smiley:)

[2020-07-31 11:54] #1577 closed, assigned to nobody

[2020-07-31 17:42] chrisinmtown opened #6163 "Inconsistent URLs in action links using initial install of ver 2.4.129"
I followed the installation instructions on Ubuntu server 20.04 and the web server came up the first time, kudos for a solid install script.

To meet the prereqs, I created a new server VM with VirtualBox on a laptop. At start the MISP server listens by default on localhost:8443 within that VM.  But to view the web pages, I set the VM network interface to bridged, then accessed the MISP server end

[2020-07-31 17:48] github-germ commented on #6163
May help... What do you see for `MISP.baseurl` in WebUI `Administration > Server Settings & Maintenance` in the `MISP settings` (i.e. `.../servers/serverSettings/MISP`)?

[2020-07-31 17:51] chrisinmtown commented on #6163
Thanks @github-germ for pointing me to the settings page, here's what I see:

<img width="886" alt="Screen Shot 2020-07-31 at 1 50 59 PM" src="https://user-images.githubusercontent.com/10234212/89062686-e8758f00-d334-11ea-979f-a15b80de86fc.png">

[2020-07-31 17:56] github-germ commented on #6163
Does changing `MISP.baseurl` to your `https://192.168.1.14` help? I'm not saying this is the ideal solution based on how you did the install, but it might fix this _after-the-fact_.

[2020-07-31 18:11] jyrcija opened #6164 "upload_stix only imports the STIX file as an attachment by default (no override option in PyMISP)"
When importing a STIX file (version 1) via browser `https://<misp_instance>/events/upload_stix` or PyMISP `misp.upload_stix(path,version='1')` the file is added as an attachment resulting the event containing only two attributes (see the attached picture).

On the web GUI this can be overridden by unchecking the option "Include the original imported file as attachment". When the option is unchecke

[2020-07-31 19:12] chrisinmtown commented on #6163
Yes thank you, changing MISP.baseurl made things work *in that scenario*.  I'm sure it broke other things that I have not yet found.

Will you leave this open as a request to harmonize how URLs are constructed and shown in the UI?

[2020-07-31 19:22] github-germ commented on #6163
I'm a user like you, not in the CIRCL teasm. So yes, I will leave it open as I cannot close it :-) Seems reasonable.

[2020-08-01 12:55] digihash opened #6165 "Request black-holed when logging in on page that's open too long"
I searched for this kind of bug in the issues but couldn't find something related immediately.

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Debian.
| OS version (client)       | Windows 10
| PHP version               | 7.3.19-1~deb10u1
| MISP version / git hash   | 2.4.

[2020-08-03 06:46] mokaddem commented on #6165
Hey,
This issue should now be solved with the merge of https://github.com/MISP/MISP/pull/6161.
If after updating to the latest version you still experience this behavior (or similar) could you please update this issue?
I'm closing it in the meantime.
Thanks in advance!

[2020-08-03 06:46] #6165 closed, assigned to nobody

[2020-08-03 06:47] elhoim opened #6166 "Proposal can be accepted multiple times and then cannot be deleted"
# Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| MISP version / git hash   | 2.4.129

### Expected behavior
- Proposals cannot be accepted/inserted multiple times.
- If accepted multiple times, it is possible

### Actual behavior
- Proposal was accepted multiple times.
- Cannot delete the created attribu

[2020-08-03 08:36] elhoim opened #6167 "Easily allow to open multiple tabs to review proposals"
As a data publisher using MISP, I want to be able to open multiple proposals for review in different tabs from the "view proposals" page so that I can quickly and efficiently review multiple of them.

For the moment it is not possible, because the link seem to be generated by Javascript and it is only possible to left click on a proposal to go to a page instead of right cliking and then opening a

[2020-08-03 08:51] #6155 closed, assigned to nobody

[2020-08-03 09:06] TaR7k1xPG84 commented on #5457
Ok, perfect, thank you!

[2020-08-03 10:50] mokaddem commented on #6166
Hey @elhoim,
I was able to reproduce (via API) the double proposal acceptance and a fix for preventing UUID duplication is on its way.
However, it's concerning that you triggered it via the interface as the `accept` button is using a protected form (and there is no background job for this feature).
Was the proposal accepted on MISPPriv or on an instance with the CRSF protection disabled?

[2020-08-03 12:34] mokaddem commented on #6167
Fixed with commit https://github.com/MISP/MISP/commit/f5b8dd687a9c7b7359678429a4337d43a3cac94c.
Thanks for the report!

[2020-08-03 12:34] #6167 closed, assigned to nobody

[2020-08-03 14:03] JakubOnderka commented on #6159
Similar to #5760

[2020-08-03 15:45] icepaule commented on #5981
Having exact the same issue. Even after setting up a new and initial instance of MISP.
Giving the pull some time, it fortunatly comes back with some error messages. Maybe that will help pointing into the right direction.

Currently installed version… v2.4.129 (8ddb1305bec62b9ea8cb0cbb7c613a911c248ce1)
Cleared cache bevore attempt.
Checked diagnostics

_ERROR: SQLSTATE[42000]: Syntax error or acces

[2020-08-03 17:10] dpreuveneers opened #6169 "Documentation about MISP update procedure"
**Is your feature request related to a problem? Please describe.**
The documentation in `https://github.com/MISP/MISP/blob/2.4/docs/UPDATE.md` states that it is very strongly recommended to upgrade MISP via the web interface. This will update MISP to the latest git commit. However, I am looking for an option to update MISP to the latest point release. Option 2 in the documentation offers a way to

[2020-08-03 17:31] iglocska commented on #5981
I think the two issues might be unrelated, we've introduced several fixes that should resolve the issue described by the OP since then (could you confirm this?)

as for the full group by issue - do you have the full stack trace from the error.log / worker-error.log by any chance?

[2020-08-03 17:35] iglocska commented on #6169
Indeed, we should label it correctly. There are two main strategies for updating your MISP:

1. Fetch the latest tagged version and stay on that release until you decide to update
[code]

Does exactly that.

If you want to stay on the bleeding edge:

[code]

will do the trick.

[2020-08-04 21:29] TheDr1ver commented on #5702
I have a similar issue to this, though my circumstances are a little strange.

I have 4 MISP instances that I've more-or-less tried to make identical across 4 different servers, all running CentOS 7 and all built within the same month timespan using the same packages.

They are all running the latest build as of this post (v2.4.129 (5d8f32a955af427333198814cff5f9c85cefbd3d)), yet 3 of the 4 are ex

[2020-08-05 08:49] icepaule commented on #5981
Hi iglocska,

sure, have a look:
 **cat resque-2020-08-05.log**

_[2020-08-05 10:17:03] main.INFO: got {"queue":"default","id":"146090c67df851c587073d5ef13c83a7","class":"ServerShell","args":[["pull","2","2","full","6101"]]} {"type":"got","args":"[object] (Resque_Job: {\"queue\":\"default\",\"id\":\"146090c67df851c587073d5ef13c83a7\",\"class\":\"ServerShell\",\"args\":[[\"pull\",\"2\",\"2\",\"full

[2020-08-05 09:02] JoePJisc opened #6170 "Purpose of "Bind user accounts to domains""
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | CentOS
| OS version (client)       | Win10
| PHP version               | 7.2.27
| MISP version / git hash   | 2.4.129, c0bc1a0c67bffc91cfa7382bb5df3d6bb39a42cd (via RPM)
| Browser                   | Google Chrome

### Sup

[2020-08-05 14:08] qjerome opened #6171 "Support MISP galaxy tags for synonyms"
**Is your feature request related to a problem? Please describe.**

When adding a galaxy tag to a MISP event, I'd like MISP to process the synonyms of the value in the Cluster as the value itself.
This way the link to the galaxy is made without tracking the synonyms programmatically.

Example: if I add misp-galaxy:threat-actor="Turla" to an event I would like MISP to process it in the back as if i

[2020-08-05 15:07] BrunoMCBraga opened #6173 "Block or warn event based on custom blacklist"
### Support Questions
Hello guys, my question is simple and so i will go to the point. I am aware of correlation of events with warninglists and even feeds.

However, what i would like to have is a means two:
- Create an internal black list of IPs that a Research Team as deemed benign
- Block or warn other researcher when he is creating some event with a blacklisted IP/domain/hostname

I have trie

[2020-08-05 15:45] TheDr1ver opened #6174 "ZMQ fails to publish full event if MISP.org is invalid"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | N/A
| OS version (client)       | N/A
| PHP version               | N/A
| MISP version / git hash   | v2.4.129 (5d8f32a955af427333198814cff5f9c85cefbd3d)

### Expected behavior

See my comment in #5702 for the full details, bu

[2020-08-05 17:24] JakubOnderka commented on #4362
This should work, I just test it. Can you also check, if it works?

[2020-08-05 18:10] k7leafclover commented on #2063
Bumping this. Ideally multiple default tags. If it would be easier to implement, allow tag collections to be selected here. Define tag collection > assign tag collection to feed.

[2020-08-05 18:20] chrisr3d commented on #6164
After testing with some of the files provided as examples, I indeed found some things to fix. Those fixes are now pushed and available.

Nonetheless, there are also parts of those samples which have no equivalent with any of the features supported with the MISP format, which means I have no way to map those parts into attributes, objects, galaxies or tags in MISP, so they are skipped.
I try to map

[2020-08-05 19:05] iglocska commented on #6170
The self-registration approvals are purely for site-admins currently. It was a little bit less ambiguous a few months ago what it meant since the domain lock pre-dates the self-registration system.

Basically the idea is this: Org admins can create users, by setting the domain restriction an org admin can only create new users for e-mail addresses that match the domain requirements. The use-case i

[2020-08-05 19:06] davehouser1 opened #6177 "Unable to install custom misp-module created"
## Goal:
- Create a custom expansion / enrichment misp-module, have it integrate into the web interface, able to enable and use.

**Note**: I am an armature python developer, I am also very new to MISP.

## Problem:
- New misp-module does not appear on the web interface to enable.
- Also does not appear in list of modules when querying the API

### Work environment

| Questions                 | A

[2020-08-06 06:32] ganarul opened #6180 "Config.php gets overriden"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Debian,
| OS version (client)       | Debian
| PHP version               | 7.3.19
| MISP version / git hash   | 2.4.129
| Browser                   | firefox

### Support Questions
Whenever I do changes in config.php , it

[2020-08-06 08:24] iglocska commented on #6174
Nice catch. That's not even the host org flag anymore.

[2020-08-06 08:39] JoePJisc commented on #6170
That's really useful thanks, it looks like the current implementation should meet our needs for now.

It would be good if self-registration could be integrated with this in the future.

[2020-08-06 08:39] #6174 closed, assigned to nobody

[2020-08-06 08:39] iglocska commented on #6174
Should be fixed now, thanks for digging into it!

[2020-08-06 09:05] iglocska commented on #6170
Yeah, indeed, let's keep this open for now, it would indeed be great if org admins could create users based on registrations.

[2020-08-06 12:54] JakubOnderka commented on #6160
The correct way how to publish event is trough `publish` API. See https://pymisp.readthedocs.io/en/latest/modules.html#pymisp.PyMISP.publish

[2020-08-06 15:03] uncleAntik opened #6182 "CentOS 8 MIPS install procedure"
--------8<------

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | CentOS 8.2.2004
| OS version (client)       | N/A
| PHP version               | 7.2.24
| MISP version / git hash   | 2.4.129
| Browser                   | N/A

### Support Questions
Hi MISP. I`m running M

[2020-08-06 17:08] davehouser1 commented on #4045
Had the same problem as well. The install guide needs to be updated.
More importantly INSTALL.sh -u, appears to exhibit the same problem.
This really needs to be reopened, and the guide needs to be fixed.

From This:
[code]

Needs to change to this:
[code]

[2020-08-06 21:19] valerianaroncero opened #6183 "CAKE -- Error: syntax error, unexpected 'g' (T_STRING), expecting ')'"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | CentOS 8.1
| PHP version               | 7.2.11
| MISP version / git hash   | 2.4.125

### Support Questions

Hi, MISP!

I didnt find out what are these errors in CAKE commands.

How can I configurate $RUN_PHP on CentOS 8

[2020-08-07 01:49] paletyp opened #6184 "Users Index does not pick up the external authentication flag"
# This template is meant for bug reports, if you have a feature request user the other template.

*If you would like to report a bug, please fill the template bellow*

### Work environment : Production

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 18.04
| OS version (client)       |Win

[2020-08-07 17:06] imidoriya commented on #5299
SQL might be a non-optimal choice for correlation data.  Graph databases were designed for this type of stuff.  Considering all the issues with the size and performance of correlations, it might make sense to break this piece off into its own engine using an optimal design.

[2020-08-08 04:53] JKD32332 opened #6185 "CentOS 8 Installation Trouble"
--------8<------

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | CentOS 8..
| OS version (client)       | N/A
| PHP version               | N/A
| MISP version / git hash   | 2.4.129
| Browser                   | Chrome

### Support Questions
Hello, I am having trouble

[2020-08-09 17:54] JKD32332 commented on #6182
I am having the exact same problem. Not sure what to do here now.

[2020-08-09 18:51] #6185 closed, assigned to nobody

[2020-08-10 07:04] mokaddem commented on #6173
Hello,
*Warninglists* have been designed for this purpose.
You have to create a new *warninglist* containing all the IPs you want to ignore/get notified. Doing so will allow you to:
- Filter out these IPs if they are contained in an event by passing the `enforceWarninglist` parameter
- Get a UI notification if these IPs are contained in an event and have the `to_ids` flag set
Note that it will not

[2020-08-10 07:04] #6173 closed, assigned to nobody

[2020-08-10 07:38] mokaddem commented on #6184
That's indeed weird. Can you see the `External Auth` field in the `/users/index` or `/users/view`?
If not, maybe clearing the cache would solve the issue.
- Go to `/servers/serverSettings/diagnostics` then click on the `clean cache` button
- You can also do it via the CLI: `./cake Admin cleanCaches`

Thanks

[2020-08-10 08:40] #6186 closed, assigned to nobody

[2020-08-10 08:40] mokaddem commented on #6186
Hey,
It should be fixed now.
Thanks for the report!

[2020-08-10 11:22] BrunoMCBraga commented on #6173
It would be great to have warninglists active with or without IDS flag set. I may want to have MISP to keep intel but not use it for signatures at least directly. Also, if during some campaign i see google being used, i will add it to the event data but i know beforehand that it is legit. MISP should confirm that for me.

[2020-08-11 19:05] iglocska commented on #6182
No idea where they should be coming from, @SteveClement ?

[2020-08-11 20:51] valerianaroncero commented on #6182
I'm with the same problem and the other that come next is this one [#6183](https://github.com/MISP/MISP/issues/6183)

[2020-08-11 23:01] SteveClement commented on #6182
I will look at it today.

[2020-08-11 23:08] SteveClement commented on #6183
Until now, CentOS 8 is not fully supported (documented)

I will try and ease out the major blockers.

[2020-08-12 00:45] SteveClement commented on #6182
The file was missing and there was a typo in the path. Fixed in https://github.com/MISP/MISP/pull/6187

But there are certainly more things that are not working.

[2020-08-12 00:45] #6182 closed, assigned to SteveClement

[2020-08-12 00:51] SteveClement commented on #6183
I cannot reproduce this.

[code]

$RUN_PHP should be empty. I think you have another issue.

By the looks of it something is wrong with you config. Please double check.

[2020-08-12 02:20] JKD32332 commented on #6182
But what else is not working? I was able to get past this part thanks to you adding the missing workerstartsh.te file but now when I'm in the misp-modules section (9.07), I'm trying to do the pip install, $SUDO_WWW $PATH_TO_MISP/venv/bin/pip install -U -I -r REQUIREMENTS command, and I'm getting the error that there is no file or directory with the name REQUIREMENTS...

Is this section not working

[2020-08-12 03:54] ghost opened #6188 "How to Cancel the jobs in MISP?"
## Please consider the following notes
- Critical security bugs can be reported, preferably PGP encrypted, by mail to: info@circl.lu
- Bug reports and feature requests can be filed as an issue on github: https://github.com/MISP/MISP/issues
- For interactive support please join the Gitter chat on: https://gitter.im/MISP/MISP

The official documentation of MISP can be found here: https://www.circl.l

[2020-08-12 03:55] ghost opened #6189 "How to enable Active Directory Authentication in MISP?"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Debian, Ubuntu, CentOS, RedHat, ...
| OS version (client)       | MacOS, Win10, Ubuntu, ...
| PHP version               | 5.4, 5.5, 5.6, 7.0, 7.1... (if relevant)
| MISP version / git hash   | 2.4.XX, hash of the commit
|

[2020-08-12 07:50] uncleAntik commented on #6182
Hi. Did you try to disable Selinux? It did the trick for me. But later I found more errors under installation steps so I`ve decided to install MISP on ubuntu 20.04. So far so good

[2020-08-12 09:20] SteveClement commented on #6182
@JKD32332

From the docs: 9.07/ misp-modules (Broken on RHEL8)¶

Which probably also means that it is broken on CentOS8 by now.

There is a lot that happened between 8.0 and 8.2 thus I need to re-investigate that malarkey.

Use Ubuntu if your insurance policy allows it.

[2020-08-12 13:50] pietrogu commented on #3059
Hi @francesco-ficarola,

can you please describe all the steps for setting LDAP authentication?
I'm trying to replicate what you did but with no luck.
I'm stuck on this error:

Unrecognized header format %

[2020-08-13 14:37] chrisinmtown opened #6193 "Mysql DDL table definitions use different default charsets: latin1 and utf8"
I believe there's a minor bug lurking in the use of both latin1 and utf8 default character sets in the file MISP/INSTALL/MYSQL.sql. See an excerpt of the file below, showing that table event_tags defaults to latin1 but table favourite_tags defaults to utf-8. As long as everyone just uses ASCII problems will not appear, but problems will occur if people use high-code-page glyphs.

Thanks for consid

[2020-08-13 17:54] fossilos opened #6194 "Update MISP's ATT&CK Matrix to Add New Sub-Techniques"
The current ATT&CK matrix available directly in MISP is outdated: https://www.misp-project.org/2018/06/27/MISP.2.4.93.released.html

It needs to be updated to include the new sub-techniques added in Mitre's recent update to ATT&CK: https://attack.mitre.org/matrices/enterprise/

Please update MITRE's ATT&CK matrix. Thanks.

[2020-08-14 00:02] trolldbois commented on #6189
So here is my recipe & explanations :
The MISP LDAP/Active Directory authentication relies on two components.

1. Apache2 LDAP module that will perform the authentication against AD and give the username to PHP in the ENV variable REMOTE_USER
2. MISP's PHP LDAP module that will connect to AD to get more metadata on the user using the ENV setting from apache (REMOTE_USER). In short: MISP will trust

[2020-08-14 00:07] trolldbois commented on #1620
Go check #6189

[2020-08-14 00:07] trolldbois commented on #4522
Go check #6189

[2020-08-14 00:09] trolldbois commented on #3059
Some documentation in #6189 related to LDAP/Active Directory

[2020-08-14 00:10] trolldbois commented on #3796
Some documentation in #6189 related to LDAP/Active Directory

[2020-08-14 02:11] vineethsai commented on #5664
@github-germ Can you let us all know how you guys got it to work? Thank you!

[2020-08-14 05:14] JKD32332 commented on #6182
Thank you so much for your help and response. Really appreciate it. Last thing I wanted to ask was if there is any document on the database structure and architecture of MISP? Specifically how to know the general maintenance of the database for MISP. I’ve looked, but no success. Any ideas @SteveClement @iglocska?

[2020-08-14 13:17] github-germ commented on #5664
@vineethsai what is your external auth system? ours is home grown where we had to do additional settings in apache to redirect to our authenticator which came back with the user name which mapped to `users.external_auth_key` in the db. we set MISP `CustomAuth` settings as documented and had `external_auth_required` and `external_auth_key` set appropriately in the users db table.

[2020-08-14 14:19] paletyp commented on #6184
Thank you for your response. Clearing the cache resolved the issue.

[2020-08-14 14:19] #6184 closed, assigned to nobody

[2020-08-14 17:32] mathurin68 opened #6195 "mysql service keeps stopping...."
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Ubuntu 18.04.4
| OS version (client)       | Windows
| PHP version               | PHP 7.4.8 (cli) (built: Jul 13 2020 16:45:47) ( NTS )
| MISP version / git hash   | 2.4.129, 8207149b4c8b11f178d61428b745245724286e12
| Bro

[2020-08-14 18:01] mathurin68 commented on #6195
Or I'm getting the following...
2020-08-14 13:57:51 Error: [PDOException] SQLSTATE[HY000]: General error: 2006 MySQL server has gone away
Request URL: /users/view/me
Stack Trace:
#0 /var/www/MISP/app/Lib/cakephp/lib/Cake/Model/Datasource/DboSource.php(502): PDOStatement->execute(Array)
#1 /var/www/MISP/app/Lib/cakephp/lib/Cake/Model/Datasource/DboSource.php(468): DboSource->_execute('SELECT `Post`

[2020-08-15 09:40] adulau commented on #6195
It seems your MariaDB is crashing at some point (doing a rollback is usually the sign of that). Various potential reasons:

- Out of space on the disk
- Permission on specific files in the MariaDB backend (not accessible by MariaDB)
- I/O issues

Could you check the above on your system and let us know?

[2020-08-15 17:36] nbyt3 opened #6197 "Event Attribute Limit"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Ubuntu
| OS version (client)       | 18.04
| PHP version               | 7.4.9
| MISP version / git hash   | 2.4.129
### Support Questions
Ingestion of an event with 19,000+ indicators using PyMISP stops at arbitrary numbe

[2020-08-15 20:18] JakubOnderka commented on #6197
There is no hard limit for number of attributes per event. Even event with hundreds of thousands attributes are fine.

What do you mean that PyMISP stops? Did you check return value of `misp.add_attribute` method? Did you also check also error and debug log of MISP?

[2020-08-15 20:25] nbyt3 commented on #6197
There is no return from the `misp.add_attribute` method. Pymisp stops processing the attributes and does not rasie any response within my python code. I checked the error log in /var/www/MISP/app/tmp/log/ and there is no entry for this issue. Where should the debug log be located there isn't one in the previous location mentioned above.

[2020-08-16 00:00] nbyt3 commented on #6197
I was able to find the following lines in the debug.log file:

[code]

[2020-08-16 09:01] hojatifar commented on #4405
thanks a lot you save my time

[2020-08-16 10:27] JakubOnderka commented on #6197
Thats look interesting. Can you provide what commit hash do you use? You can find it in Administration -> Server Settings & Maintenance -> Diagnostics -> Currently installed version.

[2020-08-17 01:36] nbyt3 commented on #6197
Currently Installed Version: Currently installed version… v2.4.129 (d5d2b50e5f90564003ea83c4f911116a46584f50)

Im sending `misp.add_attribute(event_uuid, attribute=tagged_attributes)` a list of 16,000 indicators. The REST API is successful but does not return a response after adding the last indicator.

I iterated through the list adding the indicators one-by-one and was able to upload all the IOC

[2020-08-17 07:57] JakubOnderka commented on #6197
Thanks for reply. I will try to reproduce your problem.

In the meantime, can you please try to checkout branch from this pull https://github.com/MISP/MISP/pull/6198 and try it insert attributes again? It should provide us better error message what happened.

[2020-08-17 11:37] michael-kerscher opened #6201 "generating json export is very slow with lots of tags"
I noticed for a long time now that generating our cached json exports is really, really slow (in the order of several hours) and tried to find out the reason behind the issue.

I saw lots of requests to the MySQL database so I dumped some of the running queries with `SHOW FULL PROCESSLIST;`
During this "shotgun" debugging I saw this query happening all the time with lots of ids being the same over

[2020-08-17 15:36] mathurin68 commented on #6195
Hmmm, I think I found the culprit in one of our many feeds coming in. Thanks!

[2020-08-17 15:36] #6195 closed, assigned to nobody

[2020-08-18 06:37] michael-kerscher commented on #6201
this might also affect viewing large events with lots of attribute tags in the webui in a negative way. With debug settings the same pattern is visible in the sql queries.

![MISP-slow-export-screenshot](https://user-images.githubusercontent.com/19885322/90478734-dfa2fc80-e12d-11ea-839b-03fdafe3c9fa.png)

[2020-08-18 07:54] #6201 closed, assigned to nobody

[2020-08-18 07:55] iglocska commented on #6201
Thanks for the thorough investigation, I've added a caching mechanism for this internally so we should only grab each tag once per execution.

[2020-08-18 10:13] michael-kerscher commented on #6201
Thank you for the very quick fix!
I will give it a quick test once the 2.4 branch is working again.

[2020-08-18 10:18] iglocska commented on #6201
It's not working? o.O

[2020-08-18 10:29] michael-kerscher commented on #6201
The Travis check is failing for recent commits and I get the following error in my Apache error log:
[code]

[2020-08-18 10:35] iglocska commented on #6201
Woah, ok that's not nice. Will look into it

[2020-08-18 10:58] iglocska commented on #6201
@JakubOnderka caught it already, should be fine now!

[2020-08-18 11:01] elhoim opened #6205 "Add pe rich header hash as attribute type"
As a user, when adding data about pe files in MISP, I would like to be able to add riche pe headers hash to the data to avoid leaving a type of IOC/contextual information out.

More details on rich header from pe files:
https://www.virusbulletin.com/virusbulletin/2020/01/vb2019-paper-rich-headers-leveraging-mysterious-artifact-pe-format/

Example of pythong library implementing the hash:
https://g

[2020-08-18 11:07] elhoim opened #6206 "Modify free-text import to support rich header hash"
Pre-scriptum: Requires #6205 to be implemented.

As a user adding data for pe files from the free-text import option, i would like to have the option to select the type rich header for attributes when data is parsed in order to facilitate data ingestion.

[2020-08-18 11:15] elhoim opened #6207 "Add rich pe headers type in templates"
Pre-scriptum: Requires #6205 to be implemented.
As a user adding data with rich pe headers hash, I would like to be able to add rich pe headers hash as an optional attribute to the object types of **file** & **pe** in order to avoid leaving  IOC/contextual information out.

[2020-08-18 12:53] michael-kerscher commented on #6201
thank you again!
I tested it in my test instance with the small example and it seems to work as expected. Each Tag is only fetched once from the DB :+1: (Small testcase went from 14 tag requests down to 3)
I'm eagerly waiting for this to be in a release so we can use it on our production instances - I expect a massive speed improvement :)

[2020-08-18 22:43] criptk commented on #4792
I am trying the cake server pull, what should i put in user id since the user id is remote ?

[2020-08-19 02:26] edwardspbe opened #6209 "INSTALL.sh hanging at "Generating a default key""
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug in INSTALL.sh -c when following instructions in INSTALL.ubuntu1804.md
| OS version (server)    | Ubuntu "18.04.5 LTS (Bionic Beaver)" VM (VirtualBox) booting to the console only.

### Expected behavior:  was hoping install just worked.

### Actual behavior

[2020-08-19 07:17] NailBash opened #6210 "Scheduler worker constantly dies"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | CentOS 7
| PHP version               | 7.2
| MISP version / git hash   | 2.4.19, 5fc0fb0f687c6409e16a320a05f4d471c552905

### Expected behavior
Scheduler worker works fine

### Actual behavior
Scheduler worker constantly dies

[2020-08-19 09:58] iglocska commented on #4792
The user ID of your local user that is going to be creating the event
locally - normally a site admin account / your own account.

On Wed, Aug 19, 2020 at 12:43 AM criptkeeper <notifications@github.com>
wrote:

[2020-08-19 09:58] iglocska commented on #4792
Also keep in mind the user ID is the user ID on the current instance, not
the remote that you pull from.

On Wed, Aug 19, 2020 at 11:57 AM Andras Iklody <andras.iklody@gmail.com>
wrote:

[2020-08-19 09:59] iglocska commented on #6209
Indeed this is expected on installations on a VM where entropy can be an issue. Perhaps it's indeed a good idea to add a note of this in the installation (running haveged for example helps).

[2020-08-19 10:07] SteveClement commented on #6209
It does mention it if you go manual.

On kali linux I install the RNG: https://github.com/MISP/MISP/blob/9c077fbd548127651a75a5bd9b685fb8d51834cc/INSTALL/INSTALL.sh#L747

I will think on how to "accurately" guesstimate entropy.

[2020-08-19 11:36] iglocska commented on #6210
That looks like a permission issue. This can be caused by the worker being started by the wrong user and the log file being created for said user. Make sure that:

1. create files in /var/www/MISP/app/tmp/logs/ is writable by the apache user
2. all files in /var/www/MISP/app/tmp/logs/* are owned by the apache user.

[2020-08-19 11:46] NailBash commented on #6210
![изображение](https://user-images.githubusercontent.com/29750691/90630909-4cf08380-e23b-11ea-9221-3815770beead.png)

![изображение](https://user-images.githubusercontent.com/29750691/90630962-5f6abd00-e23b-11ea-80f0-aeac5bc7d3ef.png)

Everything ok I think, hmm

[2020-08-19 11:54] iglocska commented on #6210
The culprit:

![image](https://user-images.githubusercontent.com/3668672/90631684-73a2c000-e223-11ea-86c5-bbf5e5b5c494.png)

[2020-08-19 11:57] NailBash commented on #6210
I noticed it. I didn't see it at first. Thank you for help, scheduler alive now.
P.S. Thats very strange, why log file can be created by not apache user?

[2020-08-19 11:58] iglocska commented on #6210
If you ever start the worker via the command line as root instead of going through MISP / the instructions detailed in the setup guide it will create the log file with the user that was used to run the worker.

[2020-08-20 07:59] tinamina12 opened #6211 "Populate whitelist with multiple entries"
how can i add multiple entries in single whitelist?
for example i want to add
2ip.ru
2ip.tools
aboutmyip.com
api.ipify.org
in a single whitelist, how can i achieve that? for a single entry its simple to enter value in whitelist as "/8.8.8.8/"
And secondly if i want to check if something comes before or end of a domain how to write pattren for that in whitelist?

[2020-08-20 08:15] iglocska commented on #6207
https://github.com/MISP/misp-objects/commit/4a671ca739d7ea06567ca21b2a99333ab915cfa9

Added to pe

[2020-08-20 08:15] #6207 closed, assigned to nobody

[2020-08-20 08:16] iglocska commented on #6205
https://github.com/MISP/misp-objects/commit/4a671ca739d7ea06567ca21b2a99333ab915cfa9

Think since it's using an md5 hash (or equivalent output) as the format, we can for now just use md5 via objects where the object relation will give it the additional context.

[2020-08-20 08:16] #6205 closed, assigned to nobody

[2020-08-20 08:19] iglocska commented on #6206
Out of scope for the current release, we'll keep using md5 for it for now and using the object context to encode the fact that it's not an md5 but rather a richpe type.

If you end up parsing data about file hashes that include richpe, the best course of action is to let the freetext import parse it, then select the resulting attributes that belong to a single file (including the richpe) and conve

[2020-08-20 17:12] JoePJisc opened #6213 "Email OTP fails to send with enforced encryption"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | RedHat 7
| OS version (client)       | Win10
| PHP version               |  7.2.27
| MISP version / git hash   |  v2.4.129 (c0bc1a0c67bffc91cfa7382bb5df3d6bb39a42cd)
| Browser                   | Google Chrome

### Expected be

[2020-08-20 18:28] JakubOnderka commented on #6213
Thanks for very clear report. Can you try to test it with branch from PR https://github.com/MISP/MISP/pull/6214?

[2020-08-21 02:14] WganMe commented on #4232
yum install jq jq-devel oniguruma oniguruma-devel zeromq3 zeromq3-devel -y
which jq
ldd /usr/bin/jq
sudo pip3 install pyzmq
sudo pip3 install redis
cd /var/wwwMISP/PyMISP
sudo -H -u userHERE /var/www/MISP/venv/bin/pip install .
cd /var/www/MISP/tools/misp-zmq
python3 -u sub.py  | jq .

[2020-08-21 03:07] NailBash commented on #6210
Well, now I can start scheduler, but it always dies when tryes to fetch feeds.

![изображение](https://user-images.githubusercontent.com/29750691/90847973-2fc7cc00-e385-11ea-9414-45fe3f7f00fa.png)

![изображение](https://user-images.githubusercontent.com/29750691/90848008-41a96f00-e385-11ea-8316-70fefd37d21b.png)

![изображение](https://user-images.githubusercontent.com/29750691/90848036-5128b800-

[2020-08-21 03:11] NailBash commented on #6210
And after restart I get this error
![изображение](https://user-images.githubusercontent.com/29750691/90848265-e2982a00-e385-11ea-880d-fbc7c9a0c4db.png)

[2020-08-21 04:02] NailBash commented on #6210
I restarted rh-redis32-redis.service , rh-php72-php-fpm.service, httpd and misp-workers. After that I pushed "fetch feeds" button and feeds downloaded successfully (with the exception some of  them )
![изображение](https://user-images.githubusercontent.com/29750691/90849798-8e8f4480-e389-11ea-9bdb-acb363bc414c.png)

But this problem in feeds servers, I think. And I can't say if worker will work wh

[2020-08-21 04:26] NailBash opened #6215 "Problem with MISP update"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | CentOS 7
| PHP version               | 7.2
| MISP version / git hash   | 2.4.129/2.4.130

I always had troubles with updating MISP, because of errors https://github.com/MISP/MISP/issues/6039

Today I tried solve it using solut

[2020-08-21 06:11] NailBash commented on #6215
Well, with some tricks I resolve problem with 'Internal error'. But I still can't update MISP
![изображение](https://user-images.githubusercontent.com/29750691/90858216-33684c80-e39f-11ea-9b70-c71740481597.png)

I would be happy if someone will help me

[2020-08-21 06:17] iglocska commented on #6215
````git checkout app/View/Events/add.ctp````

Then you can update.

[2020-08-21 06:48] iglocska commented on #6210
Indeed that sounds like the feeds are no longer available, we should do some cleanup.

MISP will handle that fine and it will keep trying those feeds.

[2020-08-21 07:04] NailBash commented on #6215
Thank you for your fast answer. But sadly it didn't help.

![изображение](https://user-images.githubusercontent.com/29750691/90862138-6530e180-e3a6-11ea-83e2-bf982e6fb382.png)

[2020-08-21 07:17] transilience opened #6216 "Docker and docker-compose file"
**Is your feature request related to a problem? Please describe.**
Dockerfile and docker-compose.yml file currently do not exist for setup of MISP

**Describe the solution you'd like**
A dockerfile and a docker-compose file which will setup all the required components on different dockers.

[2020-08-21 08:02] iglocska commented on #6215
hmm. Does `git reset --hard HEAD` solve it?

[2020-08-21 08:03] iglocska commented on #6215
Also, could you check if your git filemode is set correctly?

`git config core.fileMode`

It should return false, if it doesn't:

`git config core.fileMode false`

[2020-08-21 08:33] JakubOnderka commented on #6216
You can find everything in [separate repo](https://github.com/misp/misp-docker).

[2020-08-21 09:06] DavidF7 opened #6217 "User not able to see all events"
I'm using the newest version v.130 and ran into issues with event view permissions.
As an admin I can see all events. However, having changed nothing in MISP configuration or settings, MISP "user" as well as "org admin" can not now see events from some remote organisations (even though they could see everything before upgrade from v.124).
Our instance is part of remote org sharing group.
The only

[2020-08-21 09:30] NailBash commented on #6215
After git reset --hard HEAD pull executed sucessfully, git config core.fileMode returned false

![изображение](https://user-images.githubusercontent.com/29750691/90875388-86033200-e3ba-11ea-8a51-1be33efd052f.png)
but
![изображение](https://user-images.githubusercontent.com/29750691/90875475-a4692d80-e3ba-11ea-8075-84624e989afc.png)
I made script that downloading and updating warninglists every day

[2020-08-21 09:47] iglocska commented on #6217
Indeed, there was a tightening of the permissions - basically it has to do with the wrong organisation uuid being used to denote a remote server connection vs the actual org uuid used by the remote. The new rule basically blocks any non admin users from seeing an event that they may even be the local owners for - if it has a sharing group attached and the given user isn't part of the sharing group

[2020-08-21 09:52] JoePJisc commented on #6213
I cannot currently test the PR as the RPM is still at v2.4.129 (c0bc1a0) and the PR updates `app/Lib/Tools/SendEmail.php` which appears to be created in v2.4.130.

I have tried spinning up a test VM however access to our mail relay is restricted by IP, so it cannot relay mail.

I'll see if I can find a way to test...

[2020-08-21 09:58] NailBash commented on #6215
After succesful update I have now this error
![изображение](https://user-images.githubusercontent.com/29750691/90878160-a9c87700-e3be-11ea-84b1-ca30c1866327.png)
by the way I have this issues with submodules from summer's begin.
![изображение](https://user-images.githubusercontent.com/29750691/90878633-32471780-e3bf-11ea-8f63-bb2856366f2a.png)

[2020-08-21 10:01] JakubOnderka commented on #6213
Actually change in `app/Lib/Tools/SendEmail.php` is not important and you can skip it.

[2020-08-21 10:21] JoePJisc commented on #6213
I have replaced the other two files with the updated ones in the PR and the OTP sreen now says:

Log entry:

[code]

Maybe it depends on something in v2.4.130?

[2020-08-21 12:11] icepaule opened #6218 "Initial PULL from other MISP: Status:Failed"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 18.0.4
| OS version (client)       |  Win10
| PHP version               | 5.4, 5.5, 5.6, 7.0, 7.1...
| MISP version / git hash   | v2.4.130 (7d253f87fdc452a1224097cbaa80078caf46e141)
| Browser                   | Chrome

[2020-08-21 12:11] icepaule commented on #6218
Thanks very, very much for your help.  ;-)

[2020-08-24 08:03] francesco-ficarola commented on #3059
Hi @pietrogu,

in order to help you, please describe step-by-step what you did. The configuration is described in my previous post.

Best,
Francesco

[2020-08-24 08:26] elhoim commented on #4459
related to #3113

[2020-08-24 08:30] samitainio opened #6226 "Cannot add object references"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| OS version (client)       | Win10
| PHP version               | 7.2.24
| MISP version / git hash   | Currently installed version… v2.4.130 (242d25d5e475620740c201fdb99433f0eb81faca)
| Browser                   | -

##

[2020-08-24 08:37] elhoim opened #6227 "Bulk expansion of attributes"
As a user I would like to be able to expand on multiple attributes in bulk in one step instead of needing to process them.

A flexible way to do this, would be to let the use select multiple attributes then have a button in the toolbar on top to apply mass expansion to the selected attributes. Then the use can choose the compatible expansion modules and process the attributes.

Alternative conside

[2020-08-24 09:05] hildenjohannes commented on #6186
I can confirm that it works, thank you very much!

[2020-08-24 09:52] BurakOzgen opened #6229 "orgc_id column not indexed on 2.4.130"
# orgc_id indexing problem on 2.4.130

After updating .129 to .130 this problem occured.

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 18.04
| PHP version               | 7.2.24
| MISP version / git hash   | 2.4.130, 7d253f87fdc452a1224097cbaa80078caf46e141
| Brow

[2020-08-24 10:30] #6226 closed, assigned to nobody

[2020-08-24 10:36] samitainio commented on #6226
@JakubOnderka thank you for the quick fix! Confirming that this issue has been fixed with the currently installed version v2.4.130 (b361dc1ef2780d03fd99e4d09a11137317d1c9af).

[2020-08-24 12:43] iglocska commented on #6227
We already do this, but it's more clunky. You can enrich an entire event with a set of enrichment options that are valid - these would be queued and processed in the background already.

What we need is a way to indeed sub-select sections of the event instead of just doing 1 attribute at a time or the contents of the full event.

[2020-08-24 15:41] NomisRenarc commented on #6037
Hi all,

I just downloaded MISP today, all pages so far working ok, but have this same issue. Which log is best to investigate to see whats happening?
Seems the page for the dashboard is not running or doesn't run on 8001 as per the initial VM log details on screen.
I have the same issue with the Viper Web UI not working on 8888 either.

any assistance to guide me will be greatly appreciated.

Reg

[2020-08-25 12:01] tinamina12 opened #6233 "Count number of attributes added in specific timestamp using Rest API"
| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Ubuntu
| OS version (client)       | Ubuntu
| PHP version               | 7.1
| MISP version / git hash   | 2.4.XX, hash of the commit
| Browser                   | If applicable

### Support Questions
I am trying to get the attribute count wit

[2020-08-25 13:26] seldem commented on #6229
Same here

[2020-08-25 18:39] dmolina213 opened #6236 "Problems entering indications using free text import"
Questions | Answers
-- | --
Type of issue | Bug
OS version (server) | RHEL, with MISP running on a docker container..
OS version (client) | MacOS, Win10,
PHP version | 5.4, 5.5, 5.6, 7.0, 7.1...
MISP version / git hash | 2.4.XX, hash of the commit
Browser | If applicable

I am having problems entering indicators that have correlations with other events. I am not able to enter these indicators usin

[2020-08-25 19:07] JakubOnderka commented on #6236
Hello. Did you check error log if contains any error message?

[2020-08-25 19:10] dmolina213 commented on #6236
what error log should i look at?

[2020-08-25 19:11] JakubOnderka commented on #6236
Most probably the `app/tmp/logs/error.log`

[2020-08-26 05:47] #5661 closed, assigned to nobody

[2020-08-26 07:23] DavidF7 commented on #6217
Thank you for a quick and helpful response. Fixed it merging my Org in remote Sharing group with my local Org.

[2020-08-26 07:23] #6217 closed, assigned to nobody

[2020-08-26 08:01] #6128 closed, assigned to nobody