[2020-11-16 15:40] mokaddem commented on #6583
Thanks for getting back to us!

[2020-11-16 15:40] #6583 closed, assigned to nobody

[2020-11-16 16:22] chrisinmtown opened #6595 "Object template index page should show filter string on results like Event screen"
The object template page accepts a filter string and searches for matches.  But when the filtered result is on the screen, there is no indicator of the filter string that was applied.  This is different from other screens like Event index, which mark a filtered result with a button on top that has text like "Filters: All: foo" and an X that can be clicked to clear the filter.

**Describe the solut

[2020-11-16 16:42] JakubOnderka commented on #6595
Thanks for report! This will be fixed after https://github.com/MISP/MISP/pull/6589 is merged.

[2020-11-16 16:44] faustus25 commented on #6582
That worked @mokaddem , good catch!

[code]

Checked the workers too and they are all running as expected.

Interestingly had the issue on both 2 MISP installed Ubuntu servers, 16.04 and 18.04 and the issue resolved on 16.04 eventually whereas the 18.04 the issue persisted.

[2020-11-16 16:44] #6582 closed, assigned to nobody

[2020-11-16 17:12] chrisinmtown commented on #6595
Wow thanks, totally lucky for me you are already working on this!

[2020-11-16 19:55] chrisinmtown opened #6598 "MispObject method saveObject returns string on error instead of array"
In version 2.4.133 I am trying to create objects from custom object templates.  This revealed a failure in MispObject class, saveObject method.  It is supposed to return an array on error, but in this one case it returns a plain string instead, which confuses other code.

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue

[2020-11-16 19:58] chrisinmtown commented on #6598
Please consider this patch to line 361, which uses the approach taken on line 346.
[code]

[2020-11-17 03:47] enjeck commented on #6602
I believe this issue is more suitable for MISP/MISP.

[2020-11-17 07:06] marjatech commented on #6563
@mokaddem I'm unfortunately not able to do the update until end of this week.
But i'll report as soon as I know.

[2020-11-17 07:18] marjatech opened #6603 "Make restSearch with returnFormat 'text' to return unique values"
**Is your feature request related to a problem? Please describe.**
We use the restSearch with returnFormat 'text' to create plain-text IoC-Lists.
However it would be much more convenient if the returned lists would not contain duplicates, since every additional information anyway got stripped when returned in plain-text.

**Describe the solution you'd like**
The restSearch endpoint could do a dedu

[2020-11-17 10:22] mokaddem commented on #6582
Cool! Thanks for letting us know!

[2020-11-17 10:38] #6598 closed, assigned to nobody

[2020-11-17 10:38] mokaddem commented on #6598
Thanks a lot for the detailed issue

[2020-11-17 10:47] chrisinmtown commented on #6598
You're welcome, thanks for taking action so quickly.

[2020-11-17 11:14] #6603 closed, assigned to nobody

[2020-11-17 11:15] mokaddem commented on #6603
Hey this is fix for the attribute scope (so `attributes/restSearch`)

[2020-11-17 14:21] chrisinmtown commented on #4768
I would like to add my vote to this bug which as @testball pointed out is a dupe of #3346

We have an event with 1,820,318 rows in the attribute table for that ID: 104,557 of those attributes have deleted=0 and 1,715,761 attributes have deleted=1.  I click on the event ID to view the event detail page, that shows `#Attributes: 104557` which is exactly the undeleted attribute count. But when the We

[2020-11-17 14:25] iglocska commented on #4768
It basically stores the number in the table along with the event and we
increment/decrement it on deletions, so there's probably a bug and we don't
correctly decrement it. We should indeed try to figure out where it goes
wrong and fix it.

On Tue, Nov 17, 2020 at 3:22 PM Chris Lott <notifications@github.com> wrote:

[2020-11-17 15:01] cudeso opened #6606 "Support principles from Colouring Outside the Lines"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Have different user profiles so that certain contextualisation is not directly displayed to all users.
Users should still be able to "opt-in" for all context, but by default only the relevant tags/collections are shown.

For example have ATT&CK context only presented to IR and threat analyst

[2020-11-17 16:08] #3162 closed, assigned to nobody

[2020-11-17 16:09] adulau commented on #2648
I suppose this was fixed long time ago. Feel free to reopen if needed.

[2020-11-17 16:09] #2648 closed, assigned to nobody

[2020-11-17 16:26] Airborne1974 opened #6607 "Error during fix db schema after 2.4.133 -> 2.4.134"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | CentOS
| MISP version / git hash   | 2.4.134

### Support Questions
Just pulled 2.4.133 -> 2.4.134.
Experienced database schema warning. I have executed 4/5 recommended procedure successfully, but of course last one droppe

[2020-11-17 16:50] iglocska commented on #6606
Ohh cool idea!

[2020-11-17 19:12] chrisinmtown commented on #6595
The change seems to say, the search string will appear in the filter textbox.  Yes that would be useful.  But that's not how the events index page works. I like the button-like UI thing that appears on the events index screen showing the filter string and especially how it allows me to clear that filter string with a single click.

[2020-11-17 21:58] chrisinmtown commented on #6591
if one of you PHP wizards would sketch out the work briefly, I can try to work up a first draft.  Probably just a new function in  ObjectTemplatesController.php right?

[2020-11-17 22:01] PandaLyfe opened #6608 "Unable to Fetch Feeds and Dead Workers"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Redhat
| OS version (client)       | 7
| MISP version / git hash   | 2.4.120

### Support Questions
When I try to fetch feeds, all of the jobs would fail. Note that I only have three feeds enabled. (Feed ID 1, 23, and 62)

[2020-11-17 22:08] chrisinmtown commented on #4768
I see the AppController has function generateCount() near line 907, which looks like it will clean up the counts while the bug hunting & fixing happens :) but I could not find a button or link on the Server Settings & Maintenance page that calls the function. Am I blind? Please point me.

[2020-11-17 22:21] chrisinmtown commented on #4768
One more comment for today.  The Attribute.php file has the following magic function afterDelete().  I don't know how the PHP magic works so I'm probably reading the code incorrectly. Still it seems to me that if an attribute is used in multiple events, this code only decrements the attribute count on *one* of the associated events. It needs to decrement the count on all of them, right?
[code]

[2020-11-17 22:37] chrisinmtown commented on #6575
For what it's worth, I used gpg (GnuPG) version 2.2.23 to export the public key (`gpg --armor  --export my-key-id`), uploaded the result to MISP version 2.4.133, and it was accepted just fine. Maybe when I generated mine I used too few bits, not sure, but my public key block is much shorter than the one you posted above.

[2020-11-18 04:46] enjeck commented on #2638
Apparently, this issue can't be resolved until [MISP/PyMISP#168](https://github.com/MISP/PyMISP/issues/168) is addressed. Or is it the other way around?

[2020-11-18 10:58] marjatech commented on #6563
Can confirm, no issues with this anymore.
- Not in warningslists (since there even are no checkboxes any more 😄)
- But neither in the Tag-List with the Favourites.

Thank you @mokaddem @garanews

[2020-11-18 10:58] #6563 closed, assigned to nobody

[2020-11-18 11:07] iglocska commented on #4768
Attributes are tied to a single event only - so that is not a problem

On Tue, Nov 17, 2020 at 11:21 PM Chris Lott <notifications@github.com>
wrote:

[2020-11-18 12:04] marjatech opened #6610 "cached IDS-checkboxes show wrong state when attribute order changed"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 18.04
| OS version (client)       | Win10, Ubuntu
| PHP version               | 7.2
| MISP version / git hash   |  v2.4.134 (360dadc35f4164d2b12c0363c44dca8739724161)
| Browser                   | Firefox

### Expected

[2020-11-18 13:59] ahmedxuae91 opened #6611 "Cancel MISP Syncing JOB"
I have a sync job that is running and I want to cancel it.
I tried redis flushdb and tried to disable worker but seems this is a temporary fix only as when the worker are up the job is resuming and continue running again.

How I can stop it completely?

Many thanks with Regards,

[2020-11-18 20:10] ahmedxuae91 opened #6614 "Allow pulling for All communities and Connected communities only"
Hi all.
We synced two servers by allowing pulling only, i want to allow pulling event when distribution level is all communities (3) or connected communities(2).

I tried to create custom rule by add additional sync parameters {"distribution":"2","distribution":"3"} but it is taking the last one only.

[2020-11-18 21:40] pettai commented on #6407
@chrisr3d just following up on this one, how near (or far) in time do you think it will be until you start looking at this?

[2020-11-19 03:08] SoheiMitsukawa opened #6616 "PyMISP's search_index"
Hello.

I have a question about PyMISP's search_index.
I wrote the following code.
However, I was not able to get the desired event.
Perhaps it doesn't seem to hit the search if it contains \.
How can I get the event I want?

------------------------------

\#!/usr/bin/env python3
\# -*- coding: utf-8 -*-
from pymisp import ExpandedPyMISP, MISPEvent

\# Const:
MISP_URL = 'https://hoge'
MISP_AUTHKE

[2020-11-19 05:16] enjeck commented on #6595
I see  #6589 is merged, so this should be in progress now

[2020-11-19 08:58] ghost opened #6618 "Incorrect proposed database fix command for users table on newsread column"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Debian buster
| OS version (client)       | -
| PHP version               | 9.3.19
| MISP version / git hash   | 2.4.134 / 5a29fcc3703af536ce27eec436ee396e807d7b83
| Browser                   | -

The Diagnostic page shows for

[2020-11-19 09:04] ghost opened #6619 "Proposed fix for 'inbox' table column 'id' does not work"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Debian buster
| OS version (client)       | -
| PHP version               | 9.3.19
| MISP version / git hash   | 2.4.134 / 5a29fcc3703af536ce27eec436ee396e807d7b83
| Browser                   | -

### Expected behavior

### Ac

[2020-11-19 09:08] ghost opened #6620 "Incorrect proposed database fix command for 'shadow_attribute_correlations' table on '1_event_id' column"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Debian buster
| OS version (client)       | -
| PHP version               | 9.3.19
| MISP version / git hash   | 2.4.134 / 5a29fcc3703af536ce27eec436ee396e807d7b83
| Browser                   | -

The Diagnostic page shows for

[2020-11-19 10:45] #6618 closed, assigned to nobody

[2020-11-19 10:45] mokaddem commented on #6618
Thanks for the report, I added support of `unsigned` in the recovery query

[2020-11-19 10:46] mokaddem commented on #6620
Your `1_event_id` is pointing to the wrong column. Running these commands should fix the issue:
1. Drop the bad index
[code]
2. Create a new index pointing to the correct column
[code]

[2020-11-19 10:46] mokaddem commented on #6619
The `id` column must be a `primary key` and it is not the case.
Doing the following steps might solve the issue:
1. Convert the `id` column into a `primary key`
[code]
2. Drop the now useless index
[code]

[2020-11-19 12:09] #6620 closed, assigned to nobody

[2020-11-19 12:09] mokaddem commented on #6619
The `id` column must be a `primary key` and it is not the case.
Doing the following steps might solve the issue:
1. Convert the `id` column into a `primary key`
[code]
2. Drop the now useless index
[code]

[2020-11-19 12:09] #6619 closed, assigned to nobody

[2020-11-19 13:43] ahmedxuae91 commented on #6614
Update: tried to clone how OR operator works for TAGs and ORGs but still didn't work: {"OR": [{"distribution": ["2","3"]}]}.

Appreciate if anyone can help me in this

[2020-11-19 13:50] Rafiot commented on #6616
So it's a bit of a weird one: you need to escape the `\` in the search (but not in the info field).

The following one will work:

[code]

cc @MISP/developers

[2020-11-19 13:51] CeesMandjes opened #6622 "MISP database is broken"
Hi,

I just performed a fresh install of the new version of MISP. However, when I login, I get the following message:
`Warning: MISP is currently disabled for all users. Enable it in Server Settings (Administration -> Server Settings -> MISP tab -> live). An update might also be in progress, you can see the progress in Update Progress`

When I check the progress of the update, it is stuck on 100%

[2020-11-19 14:37] Airborne1974 commented on #6607
Hi,

I restarted procedure and git pulled today again. Everything is fine now. Strange.

[2020-11-19 14:37] #6607 closed, assigned to nobody

[2020-11-19 14:38] Airborne1974 commented on #6607
.

[2020-11-19 17:15] CeesMandjes commented on #6622
I've also encountered this problem on other machines on which we are running MISP instances on....

[2020-11-19 18:30] CeesMandjes commented on #6622
I actually did found an error in /var/www/MISP/app/tmp/logs:
`2020-11-19 19:00:35 Warning: Warning (2): include_once(/var/www/MISP/app/Config/database.php): failed to open stream: No such file or directory in [/var/www/MISP/app/Lib/cakephp/lib/Cake/Model/ConnectionManager.php, line 67]
Trace:
ErrorHandler::handleError() - APP/Lib/cakephp/lib/Cake/Error/ErrorHandler.php, line 230
include_once - APP

[2020-11-19 19:30] DISREL commented on #6622
It seems like your database was not properly initialised and your instance is not configured properly. Try doing these steps again, assuming you have Ubuntu 20.04

https://misp.github.io/MISP/INSTALL.ubuntu2004/#set-up-db-user-and-import-empty-misp-db

https://misp.github.io/MISP/INSTALL.ubuntu2004/#9-misp-configuration

[2020-11-19 20:27] CeesMandjes commented on #6622
I am still facing the same issue. Also, the MISP instance still works; I can login and create events which are stored in the Mysql database. Do you still think it has to do with the database then?

[2020-11-20 00:11] DISREL commented on #6622
I think you are not facing an issue then. What does the database diagnostics say?

[2020-11-20 00:35] SoheiMitsukawa commented on #6616
Thank you for telling me.
From now on, I will escape and search.
Thanks,

[2020-11-20 00:35] #6616 closed, assigned to nobody

[2020-11-20 08:28] CeesMandjes commented on #6622
It says the following:
![Screenshot 2020-11-20 at 9 28 23 AM](https://user-images.githubusercontent.com/17592619/99777535-be79ef80-2b12-11eb-9f4b-3caffe16a607.png)

[2020-11-20 08:29] CeesMandjes commented on #6622
![Screenshot 2020-11-20 at 9 29 24 AM](https://user-images.githubusercontent.com/17592619/99777623-e23d3580-2b12-11eb-9f91-44be077617da.png)

[2020-11-20 08:36] FafnerKeyZee opened #6631 "internal error when generating a report from an event."
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 20.04.1 LTS
| OS version (client)       |
| PHP version               | 7.4
| MISP version / git hash   | v2.4.134 (5656771a95885b1a2a4de587c1fd0332307cca7a)
| Browser                   |

### Expected behavior
Generate

[2020-11-20 08:58] mokaddem commented on #6591
You can search for template in the `objectTemplates` index by supplying the name in the `searchall` parameter.
You can search for `name`, `uuid`, `meta-category` and `description`
[code]
If you want to have the json version, just append `.json` at the end of the URL.
@chrisinmtown does that work around help?

[2020-11-20 09:00] mokaddem commented on #6608
Hello,
Could you update your MISP instance to the latest version and try again?
Quite a few improvements have been made since version 2.4.120.
Thanks!

[2020-11-20 09:18] mokaddem commented on #6610
@marjatech I can't reproduce your issue. Do you have any warnings/errors in your browser console while performing the steps described above?

[2020-11-20 09:39] mokaddem commented on #6614
Hey @ahmedxuae91 ,
The filtering sync rule are based on the same rule as the index filter. You can use the index filtering widget to check how they should be encoded
So for you, it would be
[code]
Note that `"distribution": [2,3]` can now be used if the remote end updated their instance on the latest version. So to be sure, just use the pipe `|` separated parameter.

[2020-11-20 09:39] #6614 closed, assigned to nobody

[2020-11-20 09:57] CeesMandjes commented on #6622
Hmmm, I fixed the problem. The first time when I login I get this error in the UI:
![Screenshot 2020-11-20 at 10 55 04 AM](https://user-images.githubusercontent.com/17592619/99786487-d9526100-2b1e-11eb-813a-df9fae04164c.png)

When I go to `server settings -> MISP settings`  and set:
MISP.live = true

Logout, and log back in; the error disappears.

[2020-11-20 10:00] #6631 closed, assigned to nobody

[2020-11-20 10:00] mokaddem commented on #6631
Thanks a lot for the report!

[2020-11-20 10:21] marjatech commented on #6610
@mokaddem Only warning is:  `This page uses the non standard property “zoom”.`

I have the same on two independent instances in different networks.
I just did a test with Chrome, and can't reproduce it there. So seems to only happen with Firefox.

[2020-11-20 10:29] 3c7 commented on #6575
Because the above key is signed by other keys, it's bigger than the public key alone (edit: but that was just an example, it happens with other keys, too). Should definitely not be the problem. Still could not narrow down the issue...

[2020-11-20 11:08] DISREL commented on #6622
It does say "The highlighted issues may be benign" as the Diagnostic Tool is in BETA.

Do not put set MISP.live = true until you're sure that everything is set up properly. Unless this is a localhost only environment, you are welcome to do as you like.

You can close the issue now.

[2020-11-20 13:41] mokaddem commented on #6622
@DISREL is totally right! benign issue are.. benign. No need to worry about them. This is mostly due to a difference between the RDBMS used to export de schema your instance is comparing onto. I added a small notice about it.

[2020-11-20 14:42] CeesMandjes commented on #6622
Thank y'all for helping me out :)

[2020-11-20 14:42] #6622 closed, assigned to nobody

[2020-11-21 13:46] chrisinmtown commented on #6591
Thanks @mokaddem. I opened this issue bcos @Rafiot posted a reply over in PyMISP issue 659 about getting an object template in misp-object format. Does that MISP feature exist already? Maybe Rafiot didn't know about it, and no work needs to be done?

[2020-11-21 16:48] Rafiot commented on #6591
Well, yes, I know about this one. But it is not in the format of the `misp-object` repository, so it is not something I can use directly as a template in PyMISP.

It is possible to create a thing that turns the template from MISP back into the original format, but why not just allowing to get a template in the proper format directly from MISP?

[2020-11-21 21:37] enjeck commented on #6565
@Rafiot @iglocska Is this a duplicate that should be removed?

If yes, @zbyshak , would you be willing to make a quick PR towards this?

[2020-11-22 05:54] enjeck commented on #6480
This doesn't appear to be a valid bug report. I'm closing this as `invalid`. If you believe I'm wrong, give a reason why and this issue may be reopened. Thank you!

[2020-11-22 05:54] #6480 closed, assigned to nobody

[2020-11-22 07:23] enjeck commented on #6426
I believe this issue is fixed now. If you believe I'm wrong, it can be reopened.

[2020-11-22 07:23] #6426 closed, assigned to JakubOnderka

[2020-11-22 10:25] SteveClement commented on #6437
Well that sounds like the tests on pyMISP are failing.

In theory, and this is a gut feeling, this should not impact your actual install.

After the install was finished, were you able to login?

[2020-11-22 13:22] enjeck commented on #6363
@Dmitry-Vasin Did any these suggestions help?

[2020-11-22 13:59] enjeck commented on #6337
@chrisinmtown To clarify, are you saying the requested feature already exists, but under a different name?

[2020-11-22 14:01] chrisinmtown commented on #6337
Good day @PROTechThor , no I am saying that your desired feature exists, I am only trying to say, the MISP project now uses the term "blocklist".

[2020-11-22 14:02] enjeck commented on #6337
@chrisinmtown Thanks for clarifying!

[2020-11-22 14:23] enjeck commented on #6324
This is more of a support issue, not a bug. It's been addressed, I believe. Closing for now. It can be reopened if need be.

[2020-11-22 14:23] #6324 closed, assigned to nobody

[2020-11-22 15:02] enjeck commented on #6285
@healthrage Can you please confirm if this issue no longer exists?

[2020-11-22 18:49] enjeck commented on #6216
@transilience Is this what you were looking for? I'll like to know whether this issue should be closed now.

[2020-11-23 01:26] transilience commented on #6216
Yes, this found it thanks.
Issue may be closed.

On Mon, 23 Nov 2020 at 00:19, Enjeck Cleopatra <notifications@github.com>
wrote:

[2020-11-23 05:23] #6216 closed, assigned to nobody

[2020-11-23 09:40] steveise3 opened #6635 "An Internal Error Has Occurred. / Error: Failed to query module Export"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Ubuntu,
| OS version (client)       | Ubuntu 18.04.2 LTSphp
| PHP version               | PHP 7.4.9 (cli) (built: Aug  7 2020 14:29:36) ( NTS )
| MISP version / git hash   | On branch 2.4 Your branch is up-to-date with 'or

[2020-11-23 11:59] enjeck commented on #6160
@JamesSOC080 Did you use the `publish` API? Did it help?

[2020-11-23 12:29] Marcus338 opened #6637 "MISP Remote server"
Hi,

I am trying to connect to misp via a remote server i have setup. i followed the steps shown here:
https://misp.github.io/MISP/INSTALL.ubuntu2004/
my version is ubuntu 20.04
when i go to <ip address> or <ip address>/users/login
it comes up with a php script but wont let me login or come up with a web interface.
i want to troubleshoot this myself, but there is little documentation on the instal

[2020-11-23 12:39] chrisr3d commented on #6407
I am porting the current python scripts into a library.
When the export scripts are ready, it will be flexible and making the changes on MISP should be straight forward.
I'll let you know once it is ready

[2020-11-23 13:04] adulau commented on #6152
The easiest is to truncate the correlation table and trigger the correlation again (https://<YOURMISP>/pages/display/administration).

[2020-11-23 13:04] #6152 closed, assigned to nobody

[2020-11-23 13:27] chrisinmtown commented on #6591
Just for the record, for beginners like myself, hitting URL https://misp/objectTemplates/index/searchall:blog.json in a browser yields the following object for the "blog" object template which is one of the two members in the list result, the other was "microblog":
[code]
But the misp-object format for this item from file /var/www/MISP/app/files/misp-objects/objects/blog/definition.json is below:

[2020-11-23 16:51] #6139 closed, assigned to nobody

[2020-11-23 16:58] enjeck commented on #6111
@WingerHusar Hey. Did these suggestion help you?

[2020-11-23 17:00] enjeck commented on #6106
@annetteshajan Hey. Did this reply answer your question? There seems to be no point leaving this issue open any longer.

[2020-11-24 04:08] PROTechThor commented on #6103
@the0new0kid This this help you fix the issue?

[2020-11-24 04:18] enjeck commented on #6054
@O900 Did you eventually figure this out?

[2020-11-24 04:28] enjeck commented on #6000
@xme

Did you eventually solve this?

[2020-11-24 09:12] JamesSOC080 opened #6640 "List Favourite Tags UI - Not working since update to simple/advanced UI"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| OS version (client)       | Win10
| PHP version               | 5.4, 5.5, 5.6, 7.0, 7.1...
| MISP version / git hash   | 2.4.134, hash of the commit
| Browser                   | Chrome

### Expected behavior
- When s

[2020-11-24 11:05] cudeso opened #6641 "Azure AD integration, stuck with [CakeException] Authentication adapter "AADAuthenticate" error"
Hi,

Based on the code snippet from https://www.sipponen.com/archives/4024 I'd like to setup Azure Active Directory integration for authentication. The code seems to work properly, and you can query the AD-groups. This allows to have MISP access defined by AD groups.

Now, the hurdle is how to integrate this into MISP. As far as I can check, the customauth module isn't possible because I can't ins

[2020-11-24 13:38] cudeso commented on #6641
Tried with adding a die() statement in the MISP/app/Plugin/AadAuth/Controller/Component/Auth/AadAuthenticate.php but no luck, seems as if the file isn't even loaded.

[2020-11-24 13:54] chrisinmtown commented on #2839
No activity for almost 3 years, this issue is stale, please consider closing.

[2020-11-24 14:02] chrisinmtown opened #6642 "Event index search with parameter published=True returns unpublished events"
Searching the event index page with published=True unexpectedly returns both published and unpublished events.

First logged here: https://github.com/MISP/PyMISP/issues/455

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       |  RedHat,
| OS version (client)       | MacOS
| PHP v

[2020-11-24 14:25] mokaddem commented on #6637
Did you have any issue while installing?

[2020-11-24 14:29] Marcus338 commented on #6637
Hi mokaddem,

No I had no issues installing, I checked through the install information as it was going and didn’t see anything out of place. This is probably where I am going wrong though it probably is saying there is somthing wrong and I just can’t see it :(

Kind regards,

M

[2020-11-24 14:57] JakubOnderka commented on #6640
Will be fixed after #6578 is merged.

[2020-11-24 16:27] Dmitry-Vasin commented on #3774
This still appears to be an issue, have there been any updates?

[2020-11-24 16:30] automationator opened #6645 "Objects added to an event in somewhat random order"
I am using MISP 2.4.134 and am seeing weird behavior with how objects are added to an event when done in bulk.

Specifically, I'm using PyMISP (same version) and am appending new objects to the MISPEvent's objects list. Then I am using the PyMISP update_event function. This uploads all of my objects to the event in _mostly_ the same order they're in the objects list.

However, when you look at the

[2020-11-24 17:10] elecmac392 commented on #6555
Any update to this?

[2020-11-24 18:32] iglocska opened #6647 "test"
test

[2020-11-24 19:27] enjeck commented on #5849
@redbiker-svg Do you think this issue should be kept open any longer?

[2020-11-24 19:46] enjeck commented on #5800
@oz17il Did you eventually figure this out?

[2020-11-24 20:01] #5795 closed, assigned to nobody

[2020-11-24 20:02] enjeck commented on #5794
@oz17il Did you eventually succeed doing this integration?

[2020-11-24 20:10] enjeck commented on #5787
@hitwh0071 After this, did you reach the login page?

[2020-11-25 01:49] #5774 closed, assigned to nobody

[2020-11-25 01:54] #5704 closed, assigned to nobody

[2020-11-25 01:55] #5765 closed, assigned to nobody

[2020-11-25 02:02] #5757 closed, assigned to nobody

[2020-11-25 03:24] enjeck commented on #5703
@xme How did it go?

[2020-11-25 03:32] enjeck commented on #5698
@cedmonds2 Did you eventually resolve this?

[2020-11-25 03:42] #5685 closed, assigned to nobody

[2020-11-25 04:08] #5656 closed, assigned to nobody

[2020-11-25 04:11] enjeck commented on #5649
@dragonyy Did you eventually figure this out?

[2020-11-25 04:15] enjeck commented on #5637
@sfinlon Are you good with closing this issue?

[2020-11-25 05:50] cohenshimi opened #6648 "Misp Integration"
Hey,
I would like to connect MISP to big data security analytics product to get IOCs into the product that will check  network matches in addition to its existing capabilities.
Product's ability to receive threat intel as a TXT or CSV file in API.
MISP knows how to produce it without a problem, but the problem is that they require .TXT or .CSV extension at the end of the API URL.
For example, inst

[2020-11-25 07:35] mokaddem commented on #6642
What you are describing is correct.
`/events/index/searchpublished=True` is not a valid way to pass parameters and this defaults to `/events/index`.
I think what you are actually looking for is `/events/index/searchpublished:1`.

Now for your guess, it may look wrong but it's actually a hack. `searchpublished:2`will returns events regardless of their publish state (so, published=0 & published=1).

[2020-11-25 07:35] #6642 closed, assigned to nobody

[2020-11-25 07:38] iglocska commented on #6648
OK, MISP does not support this, but there is a super dirty hack that you can use to make it work. First of all, I highly recommend that you use the modern APIs in MISP, so restSearch would be the preferred option. We can also abuse the key:value url parameter format to get something that your tools will accept with a little trick.

Some example queries: Getting all domains in txt format published

[2020-11-25 07:39] mokaddem commented on #6637
Would you mind describing what this means?

Also what entries do you have in your logs (`/app/tmp/logs/errors.log`)?

[2020-11-25 07:42] cvandeplas commented on #6648
Alternatively, make a 5 lines python script that, started by a cronjob, downloads the CSV you wish using the API, and stores it in a folder that is accessible to your 'big data analysis tool'.  (and includes the .csv file extension)

[2020-11-25 08:38] #3774 closed, assigned to nobody

[2020-11-25 08:38] mokaddem commented on #3774
@Dmitry-Vasin thanks for bringing this matter up. Performing the request below should work now. Thanks!
[code]

[2020-11-25 08:52] mokaddem commented on #6645
Hey,
By order, do you mean the order on which elements are presented in the attributes/objects table under `events/view/[id]`?
In that case, the order is only based on the timestamp of these elements, which is the time at which they were last updated.
By adding them one by one, they will have a different timestamp resulting in the order you would expect.
Cheers

[2020-11-25 08:53] mokaddem commented on #6555
Could you try adjusting the `ui-priority` and see if you get the expected result?
The higher the number, the higher it should be on the list

[2020-11-25 08:54] mokaddem commented on #6647
Yes?

[2020-11-25 09:47] mokaddem commented on #6610
Hey. I tried with both Chrome and Firefox and everything is working fine.
Do you any suspicious entries in your logs (`/app/tmp/logs/errors.log`)

[2020-11-25 10:55] BERTYSKINS opened #6649 "No events despite completed jobs and operation workers"
Morning Team,

Just wanted to check in and see if I was missing anything. Followed the instructions on this MISP video - https://www.youtube.com/watch?v=sWUCtetdLck.  Having problems with event ingestion despite successful
pulling of feed data.

Im Running on Ubuntu 18.04 / MISP 2.4.114.

Had to restart the workers on the box using after the instance was terminated. Used the command "sudo -u www-d

[2020-11-25 11:10] dadokkio opened #6650 "search event filtering by analysis field from API"
It actually possible to search Events by their analysis status?
Looking at the API documentation seems that this is not possible and adding "analysis" parameter in query is actually ignored.
I tried to search issues for similar problem without success, sorry if someone already asked for,

[2020-11-25 11:14] dadokkio commented on #6650
I've just discovered searchanalysis in event/index. going to test it.

[2020-11-25 11:14] #6650 closed, assigned to nobody

[2020-11-25 11:28] chrisinmtown commented on #6642
Thanks for explaining. I confirm that https://my-misp:12345/events/index/sort:published/direction:desc/searchpublished:0 yields only unpublished events and https://.../searchpublished:1 yields only published events.

[2020-11-25 12:46] cudeso commented on #6641
Minor progress.
Naming the file "AadAuthenticateAuthenticate.php" and class AadAuthenticateAuthenticate removes the error. Still have to work on the 'real' authentication part.

Adding:
`echo $className;`
in constructAuthenticate() of app/Lib/cakephp/lib/Cake/Controller/Component/AuthComponent.php to find out how the call to the adapter call is done exactly.

[2020-11-25 13:27] automationator commented on #6645
Yes, that's what I'm referring to. That's a shame that's how it works since it's significantly slower to add the objects one by one. Thanks for the quick reply.

[2020-11-25 13:58] cudeso commented on #6641
Further progress. Having passwordless login to MISP.

[code]

[2020-11-25 14:13] jsman opened #6651 "Even more vhash cannot be added to MISP"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| MISP version / git hash   | 2.4.135

### Expected behavior
All vhash values found on VirusTotal can be added to MISP

### Actual behavior
Due to the current input validation being performed valid vhash values are rejected.

For previous issues regarding

[2020-11-25 17:20] esteban-armas opened #6652 "Limit shared time for an event"
Hi! I'm very new in this MISP world, and I'm wondering if there is a way to create and publish an event but give some minimal access to it.
In the way of how I see, the event will be restricted, including the possibility to be available only for a few hours, days or minutes. In that way, it would be accessible only during that timeframe.

I don't know if that is possible to do with MISP.

Regards!

[2020-11-25 20:04] #5547 closed, assigned to nobody

[2020-11-25 20:49] iglocska commented on #6649
Woah, that's a pretty old version of MISP. Could you update to a newer version?

As for connections - you need to get in touch with the communities you would like to connect to, MISP is completely decentralised and hosted by communities themselves, without our involvement.

However, we as CIRCL run several communities, so if you're interested in joining one of ours, just send a mail to info@circl.

[2020-11-25 20:50] cnrdvdsmit opened #6653 "Apache Configuration for MISP"
Good day all,

I have been trying to figure out how to get apache configured on instance of MISP using centos7 so I can get to the web gui using other machines on the same local network. I am not using an FQDN yet as it is a sandbox phase right now.

I have been going in circles of trying to get it up and running. I don't have much experience with apache, so any help getting it up and running woul

[2020-11-25 20:51] iglocska commented on #6651
yeah - at this point dropping the validation altogether seems like the best option. I'd wish they'd share the documentation of the format....

[2020-11-25 20:54] iglocska commented on #6651
Should be fixed via 953f0444819fc8724f4d9e9cc1d6d4ef5ff7e15f

[2020-11-25 20:54] #6651 closed, assigned to nobody

[2020-11-25 20:56] iglocska commented on #6652
There is no time-based access. Also, whilst you could script the removal or downgrade of the event's distribution level rather easily by using the API, the distributed nature of MISP would mean that your mileage may vary for distribution levels high enough to actually propagate the event to other communities.

[2020-11-26 03:13] #5441 closed, assigned to mokaddem

[2020-11-26 03:28] enjeck commented on #5458
@BVapid Hey. Did you eventually resolve this issue?

[2020-11-26 03:44] #5452 closed, assigned to nobody

[2020-11-26 04:47] enjeck commented on #5397
@Tukali Did this information help?

[2020-11-26 05:06] #5384 closed, assigned to nobody

[2020-11-26 05:18] #5364 closed, assigned to nobody

[2020-11-26 05:28] enjeck commented on #5355
@angarod Did this solve your issue?

[2020-11-26 06:11] steveise3 commented on #6635
Hi,

The Internal Error has been fixed!
There was an issue with Workers directory permissions.
However, from GUI the workers look dead and there is an issue preventing them to start.

Please have a look on this:

PHP Settings

PHP ini path:… /etc/php/7.2/apache2/php.ini
PHP Version (>7.4 recommended): 7.2.17-0ubuntu0.18.04.1 (Update highly recommended)
PHP CLI Version (>7.4 recommended): 7.4.9 (Up

[2020-11-26 07:03] mokaddem commented on #6645
I'm not sure to understand why the order is important. I don't know if it's applicable for your use case, but setting a value for the `first_seen` and sorting the index on that could help.

[2020-11-26 07:15] automationator commented on #6645
The order of the objects is very important. A lot of our MISP events are created automatically, and we rely on the order of the objects to help tell the story of the attack.

For example, let’s say the MISP event contains a phishing email. That email object would come first. If the email had an attachment, we’d want that file object immediately after the email object. If that email attachment ran

[2020-11-26 08:22] iglocska commented on #6645
The order will not be easy to control, especially once you take synchronisation into account.

However, for telling a story, you can add relationships between objects, it's MUCH preferred to time-based ordering. This also allows you to graph your story directly in MISP, such as this:

![image](https://user-images.githubusercontent.com/3668672/100325426-e82a8f00-2fc8-11eb-9005-4b477346289f.png)

[2020-11-26 09:14] ahmedxuae91 commented on #6611
Hi Team, I tried to explore multiple options with no luck. kindly let me know if there is any solution.

[2020-11-26 09:35] iglocska commented on #6611
flushdb and killing the workers should fix it. Are you sure the job is resuming? Or are you just seeing the current % of completion in the jobs index? Does it actually increase?

[2020-11-26 10:02] ahmedxuae91 commented on #6611
yes i just see the progress is continue to increase and assuming the job is not canceled .. am I wrong?

[2020-11-26 10:03] maro584 opened #6654 "Taxonomies CLI update"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | RedHat 7
| OS version (client)       | None
| PHP version               | 7.4
| MISP version / git hash   | 2.4.134, hash of the commit
| Browser                   | None

### Support Questions

Please advise how to update

[2020-11-26 10:14] iglocska commented on #6611
If it increases it indeed isn't cancelled. That is curious. Clearing redis and killing the process should have killed it, if you do a ps -aux | grep cake-resque do you see anything after killing the workers? Also, are you sure you're flushing the correct redis? MISP is using 3 redis connections altogether, the one you want is the one configured in /var/www/MISP/app/Plugin/CakeResque/Config/config.

[2020-11-26 12:47] NomisRenarc opened #6655 "MISP Galaxy Data Incorrect"
Good day.

On a current setup I am testing, I have noticed that the galaxy/tag data is incorrect for the MITRE ATT&CK Framework.
the IDs are incorrect, is this something occurring from within the CIRCL feed or such?

For example :

MISP has "Spearphishing Attachment - T1193"

but MITRE currently says:

T1566.001

regards

[2020-11-26 14:02] Yaels17 opened #6667 "batch update first and last seen dates"
hi
when using the option - populate from "free text" there is no option to enter the "first seen date' and "last seen date".
is there an option to update these dates on the attributes without the need to go in to each attribute and update it manually?
this is important since we use a script that deletes specific attributes (such as IPs) based on the last seen date.

thank you

[2020-11-26 15:19] automationator commented on #6645
The order is simple to control if you use the add_object function one by one instead. However, the object relationship is interesting. I will give that a look.

[2020-11-26 17:12] BERTYSKINS commented on #6649
Hey Igloscka,

Thanks for the response, currently looking into the upgrade as Github is blocked on our proxies. Which makes things more interesting! Although looks like a manual clone and then a push into our environment.

I assume as we are running a very old version its causing problems like this?

Appreciate the heads up on the communities :) Will be reaching out!

[2020-11-26 18:10] zbyshak commented on #6565
@PROTechThor  Sorry, I am just an analyst, not a developer. Hope somebody will be willing to push this.

[2020-11-27 05:05] #5189 closed, assigned to nobody

[2020-11-27 06:11] #5007 closed, assigned to nobody

[2020-11-27 06:27] #4957 closed, assigned to nobody

[2020-11-27 06:35] enjeck commented on #4901
Since this issue hasn't been reported in over a year, I assume it's fixed. It can be reopened if I'm wrong.

[2020-11-27 06:35] #4901 closed, assigned to iglocska

[2020-11-27 11:36] lfortemps opened #6659 "Migration to new API key fails"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Red Hat 7.9
| OS version (client)       | MacOS
| PHP version               | 7.2
| MISP version / git hash   | 2.4.135

### Expected behavior
After having enabled the enhanced auth key setting in Security, the migration of ex

[2020-11-27 14:08] #4805 closed, assigned to nobody

[2020-11-27 14:38] #4770 closed, assigned to nobody

[2020-11-27 16:26] davecabio commented on #1519
Good morning,
Any news about this requests?
It will be a very useful feature.

Thanks,
Dave

[2020-11-27 16:28] davecabio commented on #4286
Good morning,
Any news about this requests?
It will be a very useful feature.

Thanks,
Dave

[2020-11-27 19:32] #4717 closed, assigned to nobody

[2020-11-28 02:52] #4594 closed, assigned to nobody

[2020-11-28 03:02] #4485 closed, assigned to nobody

[2020-11-29 03:26] #4143 closed, assigned to nobody

[2020-11-29 04:19] #4087 closed, assigned to nobody

[2020-11-29 05:08] #3929 closed, assigned to nobody

[2020-11-29 06:51] enjeck commented on #3881
@joydragon  Did this reply answer your qestion?

[2020-11-30 02:22] chrisinmtown commented on #6591
Hello CIRCL team, what is the right method for the server to retrieve the misp-object format for a named object template?  Just open the file at the expected path and read it, or should a cache or the database be used instead?

[2020-11-30 03:30] #3786 closed, assigned to nobody

[2020-11-30 04:45] #3661 closed, assigned to nobody

[2020-11-30 04:57] #3633 closed, assigned to nobody

[2020-11-30 05:48] #3380 closed, assigned to iglocska

[2020-11-30 05:49] #3364 closed, assigned to nobody

[2020-11-30 05:51] #3333 closed, assigned to nobody

[2020-11-30 06:00] #3249 closed, assigned to iglocska

[2020-11-30 07:32] mokaddem commented on #6654
You can use this command to update the taxonomies
[code]

You can find documentation and more commands at this on your instance `/events/automation`

Cheers

[2020-11-30 07:32] #6654 closed, assigned to nobody

[2020-11-30 07:33] adulau commented on #3249
@JakubOnderka do you think we could have an option per feed to bypass certificate validation if required?

[2020-11-30 07:40] mokaddem commented on #6655
Hi,
Indeed IDs changed overtime and for old events, the `deprecated` galaxy was used because the new one supporting MITRE's sub-techniques did not exists at that time.
CIRCL will probably update its feed to use the latest MITRE ATT&CK galaxy in the future.
Thanks

[2020-11-30 07:44] mokaddem commented on #6667
Hi,

Noted down the feature request to set FS and LS during the revision.
In the meantime, it should be straightforward to create a script using PyMISP that would
1. fetch the event you are willing to update
2. iterate over its attributes setting the FS & LS
3. push the updated event to your instance

Cheers

[2020-11-30 07:47] mokaddem commented on #6645
Also setting the `first_seen` on your objects/attributes can be used for such purpose.
If set, you can use the *event timeline* in `/events/view` to see a visual reprenstation.

[2020-11-30 07:53] mokaddem commented on #6565
As reference, Something similar to this https://github.com/MISP/MISP/commit/71ba725fd1c03b00eb11723fa3f99165aa6acd19 should be implemented

[2020-11-30 08:16] mokaddem commented on #6591
@chrisinmtown I'm not sure to understand the question.
Whenever your do a full update for your template, MISP will do the following:
1. Pull from the object-template repository
2. Read the file on the disk and load it into the database

I hope that helps.

[2020-11-30 09:06] enjeck commented on #3061
@xme Local tags have been implemented. I believe this issue can be closed

[2020-11-30 09:06] #3061 closed, assigned to nobody

[2020-11-30 09:18] #3067 closed, assigned to nobody

[2020-11-30 09:35] Rafiot commented on #6591
@chrisinmtown: a new API endpoint will be created specially to get the **latest** version of an object template definition from a MISP instance, by UUID.

[2020-11-30 09:39] #3010 closed, assigned to nobody

[2020-11-30 13:53] chrisinmtown commented on #6591
Thanks @Rafiot. For PyMISP purposes, if I would like to create a new object based on a server-side (not local) template, I think the client will only have the object template name, not its UUID.  It would be very convenient for PyMISP implementation if the server-side method allowed fetch of object template by exact match on name in addition to UUID.  Please consider that.

I was asking for the re

[2020-11-30 14:01] Rafiot commented on #6591
Getting a template by name will have to return a list, as it is possible (even if discouraged) to have templates with the same name, but a different UUID.

[2020-11-30 14:41] elecmac392 commented on #6555
@mokaddem, that worked EXACTLY how I was hoping it would. Thank you so much!!

[2020-11-30 16:02] luna7391 opened #6671 "Issue after 2.4.134 to 2.4.135 upgrade"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | RedHat
| OS version (client)       | Win10
| PHP version               | PHP ini path:… /etc/opt/rh/rh-php71/php.ini
                                     PHP Version (>7.4 recommended): 7.1.8 (Version unsupported, update A

[2020-11-30 19:46] #2918 closed, assigned to nobody

[2020-11-30 20:02] #2891 closed, assigned to nobody

[2020-11-30 20:06] #2876 closed, assigned to nobody

[2020-11-30 20:11] #2862 closed, assigned to nobody

[2020-11-30 20:23] #2833 closed, assigned to nobody

[2020-11-30 20:26] #2826 closed, assigned to nobody

[2020-11-30 20:51] #2712 closed, assigned to nobody

[2020-11-30 20:53] #2705 closed, assigned to nobody

[2020-11-30 21:19] #2625 closed, assigned to nobody

[2020-11-30 21:36] #2579 closed, assigned to nobody

[2020-11-30 21:46] #2555 closed, assigned to nobody

[2020-11-30 21:55] #2506 closed, assigned to nobody

[2020-11-30 22:10] #2452 closed, assigned to nobody

[2020-12-01 11:38] luna7391 commented on #6671
Hi @JakubOnderka , thanks for looking at this. I can confirm the latest update has resolved the issue for me. I still get the Schema Status issues as shown above, do you know if these will be addressed in the next update? Thanks.

[2020-12-01 14:01] BERTYSKINS commented on #6649
Afternoon Team,

Unfortunately it looks like we probably dont have a way of upgrading the version on our side. So will be stuck on the old version for the time being. Any other thoughts for why those events would not appear? any troubleshooting steps we can take forward on the box itself? For example "circl.lu" is whitelisted on our proxy as well so would fully expect something to appear in there.

[2020-12-01 16:10] luna7391 opened #6678 "PHP Version Update Issue"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | RedHat, ...
| OS version (client)       | Win10
| PHP version               | PHP ini path:… /etc/opt/rh/rh-php71/php.ini
||PHP Version (>7.4 recommended): 7.1.8 (Version unsupported, update ASAP)
||PHP CLI Version (>7.4 r

[2020-12-01 17:19] mik0w opened #6679 "Support for installation of MISP behind proxy & using "https" instead of "git""
Hello,

Recently I have been trying to install MISP in a highly protected environment, and finally I've managed to do that, so in *Additional context* of this feature request I've included a guide on how to install MISP, when you have strict network policy in your organization.

## Feature request

**Is your feature request related to a problem? Please describe.**
Installation of MISP required me

[2020-12-01 23:57] #2368 closed, assigned to nobody

[2020-12-02 00:23] #2323 closed, assigned to nobody

[2020-12-02 01:30] #2226 closed, assigned to nobody

[2020-12-02 01:42] #2188 closed, assigned to nobody

[2020-12-02 02:06] #2085 closed, assigned to nobody

[2020-12-02 02:10] #2070 closed, assigned to nobody

[2020-12-02 02:13] enjeck commented on #1601
Duplicate of #2063 . Keeping the other issue since it has more info.

[2020-12-02 02:13] #1601 closed, assigned to nobody

[2020-12-02 02:36] #1973 closed, assigned to nobody

[2020-12-02 02:39] #1954 closed, assigned to nobody

[2020-12-02 02:54] #1911 closed, assigned to nobody

[2020-12-02 12:58] kaien opened #6680 "The function of extracting events into pdf is not functioning properly."
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| OS version (client)       | Win10
| PHP version               | 7.2
| MISP version / git hash   | 2.4.126(150b66da2fb7b2cfe45477f62c12ac8716d247d7)
| Browser                   | chrome

### Expected behavior
event ->

[2020-12-02 14:26] #1768 closed, assigned to nobody

[2020-12-02 15:15] lfortemps opened #6681 "Issue with GPG encryption/validation"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | RedHat 7
| OS version (client)       | MacOS, Win10, Ubuntu, ...
| PHP version               | 7.2
| MISP version / git hash   | 2.4.135

### Expected behavior
gpg version 2.0.22 which is the latest version available on EPEL s

[2020-12-02 17:16] TheDr1ver commented on #2145
Well, it's been a good run, but after almost 4 years it's happened to me again. (Considering this old issue suddenly got labeled 15 hours ago, I'm thinking I'm not the only one affected by this particular org haha)

A connected org decided to share out ~25k events of what appear to be sandbox reports. In this instance, 1 event = 1 file, and all the sandbox details for that file (like AV detections

[2020-12-02 23:04] Ch3rn0byl3 opened #6682 "MISP v2.4.135 - Cortex module system…Failed to get response from Cortex module: HTTP Found"
Before updating to the latest version, I was on version 2.4.121 something, not sure however, Cortex Module was working fine and it was connected other than I still wasnt able to enrich MISP events using Cortex Analyzers, I was still trying to work that out.

However, since I updated to the latest MISP version hoping it would fix the Cortex enrich function, it seems to have broken module and I get

[2020-12-03 00:44] #1688 closed, assigned to nobody

[2020-12-03 00:52] #1658 closed, assigned to nobody

[2020-12-03 00:53] #1643 closed, assigned to nobody

[2020-12-03 01:45] enjeck commented on #1829
Duplicate of https://github.com/MISP/MISP/issues/1604

[2020-12-03 01:45] #1829 closed, assigned to nobody

[2020-12-03 02:22] #1516 closed, assigned to nobody

[2020-12-03 02:28] enjeck commented on #1539
@adulau Is this issue still relevant? I believe MISP book is the default documentation source already?

[2020-12-03 02:45] #1473 closed, assigned to iglocska

[2020-12-03 03:17] #1253 closed, assigned to nobody

[2020-12-03 04:14] #999 closed, assigned to nobody

[2020-12-03 04:52] #657 closed

[2020-12-03 05:04] #5379 closed, assigned to nobody

[2020-12-03 05:04] #481 closed

[2020-12-03 12:57] DashCarlos opened #6683 "Scheduled Tasks"
I have tried adding a scheduled task for automatic update of the feeds, but the changes have no effect after pressing "update all", any ideas? Thank you
![imagen_2020-12-03_135409](https://user-images.githubusercontent.com/31094207/101020575-049d6d00-356f-11eb-896f-06a5293a2954.png)

[2020-12-03 13:20] amemkdm opened #6684 "Post Requests to Search Attribute"
### Test Environemnt

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             |  REST API taking too long a time to respond
| OS version (server)       | Ubuntu
| OS version (client)       | Windows
| PHP version               | 5.4, 5.5, 5.6, 7.0, 7.1... (if relevant)
| MISP version / git hash   | 2.4.132, hash of the commit

### Support

[2020-12-03 13:24] webwolf3000 commented on #4045
Still not fixed; above solution seems to work!

[2020-12-03 17:15] mikecybersec opened #6685 "MISP Installed, access here: "" - No access to MISP after install.."
I'm installing MISP core on Ubuntu 18.04 using the commands:

wget -O /tmp/INSTALL.sh https://raw.githubusercontent.com/MISP/MISP/2.4/INSTALL/INSTALL.sh
bash /tmp/INSTALL.sh -c

MISP Installed, access here: ""

As you can see, the above is blank. When I try browsing to Localhost 8443 or 8080, I've tried both, I get nothing.

Can you please advise? It's a brand new Ubuntu box.

[2020-12-03 21:25] #6430 closed, assigned to chrisr3d

[2020-12-03 21:27] #6363 closed, assigned to nobody

[2020-12-03 21:28] #6299 closed, assigned to nobody

[2020-12-03 21:29] #6285 closed, assigned to nobody

[2020-12-03 22:03] chrisinmtown commented on #6591
Thanks for PR https://github.com/MISP/MISP/pull/6670 would you please move ahead with it?

[2020-12-04 08:41] #6319 closed, assigned to nobody

[2020-12-04 08:50] #2288 closed, assigned to nobody

[2020-12-04 08:52] #2287 closed, assigned to nobody

[2020-12-04 08:52] #2130 closed, assigned to nobody

[2020-12-04 08:58] #1552 closed, assigned to nobody

[2020-12-04 09:00] #2459 closed, assigned to nobody

[2020-12-04 09:01] #2440 closed, assigned to nobody

[2020-12-04 09:02] #2963 closed, assigned to nobody

[2020-12-04 09:03] #2796 closed, assigned to nobody

[2020-12-04 09:03] #2607 closed, assigned to nobody

[2020-12-04 09:04] #2487 closed, assigned to nobody

[2020-12-04 09:06] #2369 closed, assigned to nobody

[2020-12-04 09:06] #2315 closed, assigned to nobody

[2020-12-04 09:07] #2304 closed, assigned to nobody

[2020-12-04 09:14] mokaddem commented on #6649
Do anything appear on your logs when pulling? Logs are located in `/app/tmp/logs`.
These two might be interesting:
- `error.log`
- `resque-worker-error.log`

[2020-12-04 09:28] mokaddem commented on #6683
Hey @DashCarlos,
Schedule tasks are deprecated. Please use CRON jobs instead.
More information can be found in the link of the red sentence in the screenshot you posted.
Thanks

[2020-12-04 09:28] #6683 closed, assigned to nobody

[2020-12-04 09:32] mokaddem commented on #6684
You diagnosed the problem correctly. You are trying to fetch too much data at the same time.
The best would be to paginate over the data and feed Elasticsearch with small batches.
You can paginate using the standard SQL pagination parameter
[code]

The response will include a result header that can be used to know when there is nothing else to fetch.

[2020-12-04 09:32] #6684 closed, assigned to nobody

[2020-12-04 10:53] DashCarlos commented on #6683
I have tried doing this and it has been running for several days but it has not worked

![image](https://user-images.githubusercontent.com/31094207/101155281-2eb26600-3627-11eb-925b-094c3a0ccd83.png)

[2020-12-04 11:12] DashCarlos commented on #6685
Can you show the content of the following file? /var/log/apache2/misp.local_error.log

[2020-12-04 11:55] DashCarlos opened #6688 "Error removing selected events"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Ubuntu (ova 4.15.0-122)
| OS version (client)       | Win10
| PHP version               |   7.4.12
| MISP version / git hash   |  v2.4.132

### Support Questions
I can't remove the selected events, when I try, I get the fo

[2020-12-04 12:00] #6247 closed, assigned to nobody

[2020-12-04 12:01] #6236 closed, assigned to nobody

[2020-12-04 12:01] #6183 closed, assigned to nobody

[2020-12-04 12:02] #6160 closed, assigned to nobody

[2020-12-04 12:04] #6122 closed, assigned to nobody

[2020-12-04 12:05] #6111 closed, assigned to nobody

[2020-12-04 12:07] #6030 closed, assigned to nobody

[2020-12-04 12:07] #6000 closed, assigned to nobody

[2020-12-04 12:08] #5983 closed, assigned to nobody

[2020-12-04 12:08] #5921 closed, assigned to nobody

[2020-12-04 12:09] #5918 closed, assigned to nobody

[2020-12-04 12:10] #5878 closed, assigned to nobody

[2020-12-04 12:17] #5874 closed, assigned to nobody

[2020-12-04 12:20] #5792 closed, assigned to nobody

[2020-12-04 12:20] #5787 closed, assigned to nobody

[2020-12-04 12:26] #5780 closed, assigned to nobody

[2020-12-04 12:33] #5778 closed, assigned to nobody

[2020-12-04 12:33] #5755 closed, assigned to nobody

[2020-12-04 12:46] #4817 closed, assigned to nobody

[2020-12-04 12:47] #4900 closed, assigned to nobody

[2020-12-04 12:50] #5070 closed, assigned to nobody

[2020-12-04 12:51] #5236 closed, assigned to nobody

[2020-12-04 12:52] #4758 closed, assigned to nobody

[2020-12-04 12:53] #4320 closed, assigned to nobody

[2020-12-04 12:54] #5224 closed, assigned to nobody

[2020-12-04 12:56] #5246 closed, assigned to nobody

[2020-12-04 12:57] #5301 closed, assigned to nobody

[2020-12-04 12:58] #5315 closed, assigned to nobody

[2020-12-04 13:01] #5355 closed, assigned to nobody

[2020-12-04 13:02] chrisinmtown opened #6689 "Extend object controller delete method to accept $hard parameter from REST POST request"
The object controller's delete method supports hard delete via parameter $hard. The PyMISP team recently extended their client to pass the hard-delete parameter for removing an object, please see https://github.com/MISP/PyMISP/issues/666

However, the controller method does not read this parameter from a POST request.  For that to happen I think the following code is needed, which I copied from th

[2020-12-04 13:02] #5397 closed, assigned to nobody

[2020-12-04 13:03] #5458 closed, assigned to nobody

[2020-12-04 13:07] #5528 closed, assigned to nobody

[2020-12-04 13:11] #5537 closed, assigned to nobody

[2020-12-04 13:12] #5622 closed, assigned to nobody

[2020-12-04 13:13] #5637 closed, assigned to nobody

[2020-12-04 13:14] #5698 closed, assigned to nobody

[2020-12-04 13:18] DashCarlos commented on #6688
I have fixed it using the tool: misp.wipe.sh

[2020-12-04 13:18] #6688 closed, assigned to nobody

[2020-12-04 13:19] #4031 closed, assigned to nobody

[2020-12-04 13:21] #4108 closed, assigned to nobody

[2020-12-04 13:24] #4180 closed, assigned to nobody

[2020-12-04 13:28] #4208 closed, assigned to nobody

[2020-12-04 13:29] #4283 closed, assigned to nobody

[2020-12-04 13:29] #4356 closed, assigned to nobody

[2020-12-04 13:30] #4362 closed, assigned to nobody

[2020-12-04 13:33] #4367 closed, assigned to nobody

[2020-12-04 13:34] #4393 closed, assigned to nobody

[2020-12-04 13:39] #4401 closed, assigned to nobody

[2020-12-04 13:44] #4424 closed, assigned to nobody

[2020-12-04 13:48] #4572 closed, assigned to nobody

[2020-12-04 13:50] #4726 closed, assigned to nobody

[2020-12-04 13:53] #4178 closed, assigned to nobody

[2020-12-04 13:54] #3899 closed, assigned to nobody

[2020-12-04 13:56] #3881 closed, assigned to nobody

[2020-12-04 13:58] #3756 closed, assigned to nobody

[2020-12-04 13:59] #3732 closed, assigned to nobody

[2020-12-04 14:14] #3472 closed, assigned to nobody

[2020-12-04 14:53] #3331 closed, assigned to nobody

[2020-12-04 14:54] BERTYSKINS commented on #6649
Afternoon Team,

Providing sample logs as requested.

resque-worker-error.log

Pull completed. 31 events pulled, 41 events could not be pulled, 0 proposals pulled.
Job done.
Job done.
Pull completed. 5 events pulled, 41 events could not be pulled, 0 proposals pulled.
Job done.

Error Logs:

Warning: Invalid argument supplied for foreach() in [/var/www/MISP/app/Model/Feed.php, line 881]
Warning: ar

[2020-12-04 14:55] #3146 closed, assigned to chrisr3d

[2020-12-04 15:03] enjeck commented on #2999
Schedule tasks are deprecated. CRON Jobs are being used instead, I think. I believe this issue can be closed now. Feel free to reopen if need be.

[2020-12-04 15:03] #2999 closed, assigned to nobody

[2020-12-04 15:13] BERTYSKINS commented on #6649
Output of the specific lines mentioned from error.log

Output from feed.php file:

`            ),
            'recursive' => -1,
            'fields' => array('Feed.id', 'Feed.name', 'Feed.url')
        ));
        $this->Server = ClassRegistry::init('Server');
        $result['Server'] = $this->Server->find('all', array(
            'conditions' => array(
                'caching_enabled' => 1
L

[2020-12-04 16:43] TheDr1ver commented on #2145
https://www.circl.lu/doc/misp/faq/#how-can-i-deal-with-a-misp-instance-that-has-pulled-in-feeds-over-and-over-into-new-events-generating-hundreds-of-gbs-of-junk-correlations-rendering-the-instance-unusable

`completely_disable_correlation` was ultimately was the solution to nuking all the nonsense that came in. Set to True, run a PyMISP script that nukes everything from the offending org, then aft

[2020-12-04 16:43] #2145 closed, assigned to nobody

[2020-12-04 18:10] alexdjpre commented on #6100
Hi is not docker, i've delivered the image on kuebrnetes.

[2020-12-04 20:21] github-germ opened #6692 "Hide objects in WebUI when no attributes are visible to current user"
This is spun out from https://github.com/MISP/PyMISP/issues/668#issuecomment-738768073 as suggested by @Rafiot

In the WebUI hide objects which have no attributes which are visible to the current user. This could apply to an object that strictly has no member attributes, and also the case where the object may contain attributes that are not visible to the current user, e.g. due to sharing paramete

[2020-12-04 22:30] pramos commented on #6332
@iglocska this should be changed in https://github.com/MISP/misp-book or in the documentation within this repo?

[2020-12-05 11:53] #6681 closed, assigned to nobody

[2020-12-05 11:53] JakubOnderka commented on #6575
Should be fixed by https://github.com/MISP/MISP/pull/6697. Can you please test it with that patch applied and reopen if it didn't help?

[2020-12-05 11:54] JakubOnderka commented on #6681
Should be fixed by https://github.com/MISP/MISP/pull/6697. Can you please test it with that patch applied and reopen if it didn't help?

[2020-12-05 12:14] #6671 closed, assigned to JakubOnderka

[2020-12-05 12:30] #1402 closed, assigned to nobody

[2020-12-05 12:39] #6449 closed, assigned to enjeck

[2020-12-05 12:44] #3467 closed, assigned to nobody

[2020-12-05 12:46] #2488 closed, assigned to nobody

[2020-12-05 12:46] #2162 closed, assigned to nobody

[2020-12-06 19:47] ViolatorDM opened #6702 "Issues with MISP installation on Ubuntu 18.04 LTS - misp-modules (PyMISP [rest_api], Google-Search-API, ssdeep and maybe others)"
Hello everyone,

Let me please apologize for my message but the last 3 weeks haven't been so good to me, in my attempt to install MIPS inside a Corporate Environment. I mean, I tried, really tried to make it work - maybe I'm a total newbie who has no idea, maybe I don't know.

I swear that I'm not trying to bash anyone - I appreciate everyone that took the time to contribute to this Project, howev

[2020-12-06 20:49] ViolatorDM commented on #6702
Can anyone please help as to where I can find the Log and Configuration files to upload and try to troubleshoot why the installation is failing? I'm desperate!

[2020-12-06 20:53] ViolatorDM commented on #6702
New error:

 Downloading importlib-1.0.4.zip (7.1 kB)
    ERROR: Command errored out with exit status 1:
     command: /var/www/MISP/venv/bin/python3 -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-fzwakgga/importlib_601d2499985f47669e5142
1a2c5b26ba/setup.py'"'"'; __file__='"'"'/tmp/pip-install-fzwakgga/importlib_601d2499985f47669e51421a2c5b26ba/setup.py'"'"';f=getattr(t

[2020-12-06 20:59] ViolatorDM commented on #6702
And the last errors from the setup:

Welcome to CakePHP v2.10.22 Console
---------------------------------------------------------------
App : app
Path: /var/www/MISP/app/
---------------------------------------------------------------
Invalid setting "Plugin.Enrichment_cve_enabled". Please make sure that the setting that you are attempting to change exists and if a module parameter, the modul
es

[2020-12-06 21:10] ViolatorDM commented on #6702
And this is the aftermath of the installation:
![image](https://user-images.githubusercontent.com/34456243/101292312-7566b280-3817-11eb-9646-6ca6b00d573f.png)
![image](https://user-images.githubusercontent.com/34456243/101292322-88798280-3817-11eb-8a3e-101ad35c7c56.png)
![image](https://user-images.githubusercontent.com/34456243/101292330-9deeac80-3817-11eb-96f4-351b63bd210c.png)
![image](https://

[2020-12-07 11:04] 3c7 commented on #6575
Hey @JakubOnderka,

the commits indeed fix some of the issues. My key provided above can be used now. Unfortunately, there are still issues with another key, the output of the gpg binary seems empty:

[code]

Importing the key to my keyring e.g. does not throw any errors, so I assume the key is valid. Any idea how to debug this?

[2020-12-07 11:16] Kahuna01 opened #6704 "Edit user roles gets blackholed"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 18.04
| OS version (client)       | Win10
| PHP version               | 7.2.24
| MISP version / git hash   | 2.4.135, c3c79b31d7901c9ff4f258f8043f7b3d5c0bbb84

Hi,
recently I can't edit our user roles anymore. I can sti

[2020-12-07 11:49] StefanKelm opened #6705 ""runUpdates" as a subcommand is missing from the "cake Admin help" output"
[code]

[2020-12-07 11:51] JakubOnderka commented on #6704
Hello, the reason is double `//` in URL. Fixed in https://github.com/MISP/MISP/pull/6706

[2020-12-07 13:44] JakubOnderka commented on #6575
@3c7 What is your GPG version? 2.1.11 as you mention before?

[2020-12-07 16:55] 3c7 commented on #6575
Yes, the environment hasn't changed (beside pulling the MISP repo).

[2020-12-07 17:03] #98 closed

[2020-12-07 17:36] #1105 closed, assigned to nobody

[2020-12-07 17:37] #1756 closed, assigned to nobody

[2020-12-07 17:38] #2044 closed, assigned to nobody

[2020-12-07 17:39] #2254 closed, assigned to nobody

[2020-12-07 17:39] #2839 closed, assigned to nobody

[2020-12-07 17:40] #3601 closed, assigned to nobody

[2020-12-07 17:40] #3780 closed, assigned to nobody

[2020-12-07 17:41] #4476 closed, assigned to nobody

[2020-12-07 17:41] Rafiot commented on #4793
That's implemented now.

[2020-12-07 17:41] #4793 closed, assigned to nobody

[2020-12-07 18:22] chrisinmtown commented on #6702
You mentioned using a proxy.  We run a development instance of MISP behind a proxy.  The apache server listens on port 443 on its host as per usual.  But for me to access the website, I have to use https to a weird large port number where the proxy listens; the proxy forwards traffic and it works ok for us.

The only unusual thing (utterly undocumented) is use of the MISP server's REST UI feature

[2020-12-07 21:24] ViolatorDM commented on #6702
Thank you so much for your input and for taking the time to review what I posted. However I'm not sure how it might be related, since I'm currently having issues installing MISP or, the way I've managed to have it by now, activating/updating/installing (not in this particular order) the MISP Modules.

Right now, the issue is the following, when I try to install the MISP Modules; the exact same iss

[2020-12-07 21:54] ViolatorDM commented on #3691
I'm having the exact same issue as posted in https://github.com/MISP/MISP/issues/6702.

I see this issue as being closed - what is the solution?

[2020-12-07 22:12] ViolatorDM commented on #2331
Might be having more or less the same issue (https://github.com/MISP/MISP/issues/6702), but on my System, I'm unable to install the importlib library for some reason. Can someone please help?

[2020-12-07 22:42] ViolatorDM commented on #6702
Also, while searching, I found this https://github.com/wavefrontHQ/wavefront-cli/issues/10 which might be related to the issue I'm having as importlib fails to be installed, the same way as with the other issue.

It seems that the issue might be related to python3.6 being installed and run, which supposedly includes importlib, so the requirements of the script cannot be met, as it can't be install

[2020-12-07 22:43] github-germ opened #6708 "cake Admin updateObjectTemplates error: Could not update object templates"
2.4.133

Would apreciate some help on how to isolate root cause of the error when trying to update object templates. Did not appear to be anything logged in `debug.log` nor `error.log`. (note: `user_id 14` has `role_id 1`)
[code]

[2020-12-07 23:13] ViolatorDM commented on #6702
Well, disabling importlib through the scripts won't work... So, can someone please help me solve the issue with importlib?

[2020-12-08 00:20] ViolatorDM commented on #6702
Managed to get importlib to work; here's how:
As 'misp' did the following:
**sudo -H python3.6 -m pip install importlib**

Then run:
**sudo -H -u www-data /var/www/MISP/venv/bin/pip3 install -U -r REQUIREMENTS**

Then run:
**sudo -H -u www-data /var/www/MISP/venv/bin/pip3 install -U .**

Everything worked without errors; rebooted.

Then did the following, just to be sure - note; **all commands log

[2020-12-08 09:32] lfortemps commented on #6681
Thanks a lot @JakubOnderka , issue is indeed fixed now.

[2020-12-08 14:23] MyTHX1337 opened #6710 "Debugger logging mythx1337"
# This template is meant for bug reports, if you have a feature request user the other template.

*If you would like to report a bug, please fill the template bellow*

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Debian, Ubuntu, CentOS, RedHat, ...
| OS version (client)

[2020-12-08 17:55] legoguy1000 opened #6711 "Invalid Suricata rule created"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Docker (ubuntu based)
| OS version (client)       | linux python3, windows postman
| PHP version               | 7.4
| MISP version / git hash   | 2.4.133, e89b14b0841f5ed101245bb2043e20fc2d3dca6c
| Browser                   |

[2020-12-09 01:52] ViolatorDM commented on #6702
Fixed the following:
- 2020-12-07 23:56:52,644 - misp-modules - WARNING - MISP modules email_import failed due to Unable to import URLObject, pyfaup missing
-  Censys module not installed. Try 'pip install censys'

, by doing the following:
cd /var/www/MISP/venv/bin/
sudo -H python3.6 -m pip3.6 install censys
sudo -H -u www-data /var/www/MISP/venv/bin/pip3.6 install -U censys

sudo -H python3.6 -m

[2020-12-09 10:46] begunrom opened #6712 "Database schema diagnostics produces false positives because of different column default."
After an upgrade from Ubuntu 18.04 LTS to 20.04 LTS, the Mysql version is updated and there are now warnings in Schema status/Database schema diagnostic:

### Expected behavior
It is very clumsy that there are many warnings that are false positives.
I can see 2 types of warnings
1) column_default = NULL, while an empty value is expected
![image](https://user-images.githubusercontent.com/420528/101

[2020-12-09 13:37] cudeso opened #6713 "It's possible to delete a role that's assigned to a user"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| MISP version / git hash   | 2.4.135
| Browser                   | If applicable

### Expected behavior

Receive an alert / made impossible when deleting a role that is assigned to a user.

### Actual behavior

Roles can be deleted, even if they are assig

[2020-12-09 13:59] legoguy1000 commented on #6711
Not a MISP bug. Its a Snort rule attribute that was incorrectly created and published to a feed.
![image](https://user-images.githubusercontent.com/13125104/101639028-6e48cb80-39f4-11eb-887f-6ae38dca3c26.png)
 This can probably be closed

[2020-12-09 13:59] #6711 closed, assigned to nobody

[2020-12-09 14:03] chrisinmtown commented on #6708
That cake command first runs AdminShell#updateObjectTemplates which is here:

https://github.com/MISP/MISP/blob/ce96003b8997e348ed3b0870162c590fb734e5b1/app/Console/Command/AdminShell.php#L205

That function reports success if the result (maybe an array?) is nonempty, and failure if the result is empty; it doesn't seem to have any way to report an error.  The AdminShell method calls ObjectTemplate

[2020-12-09 14:27] chrisinmtown opened #6714 "Invalid object template definition.json file yields undefined index instead of meaningful error"
Please make the ObjectTemplate#updateObjectTemplate() function more robust in MISP, we noticed the problem in version 2.4.133: https://github.com/MISP/MISP/blob/ce96003b8997e348ed3b0870162c590fb734e5b1/app/Model/ObjectTemplate.php#L50

I botched an object template definition.json file in a directory below app/files/misp-objects/objects.  When I ran the update command, instead of flagging the bad f

[2020-12-09 14:31] chrisinmtown commented on #6714
This is a result of me trying to figure out #6708

[2020-12-09 14:36] chrisinmtown opened #6715 "AdminShell updateObjectTemplates reports error when it finds no updates to perform"
Please repair the AdminShell's updateObjectTemplates function so it accurately says "nothing done" instead of  complaining that it could not update templates.

https://github.com/MISP/MISP/blob/ce96003b8997e348ed3b0870162c590fb734e5b1/app/Console/Command/AdminShell.php#L205

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issu

[2020-12-09 14:43] chrisinmtown commented on #6710
This issue is completely empty.  Maybe you hit submit a little early?  Please close it if this was just a test.

[2020-12-09 14:45] chrisinmtown commented on #6705
Maybe many subcommands are missing?  The subcommand updateObjectTemplates is similarly not shown.

[2020-12-09 14:48] chrisinmtown commented on #6689
I propose this change, please consider it, hope you all can find time for this.  I am not at all certain how to contribute the test case, sorry:
[code]

[2020-12-09 16:16] chrisinmtown opened #6718 "After delete of object template, web UI shows deleted AND could not be deleted notifications"
We are using MISP version 2.4.133.  I'm working with object templates and had to delete one.  The resulting screen is confusing, it shows a pale green notification box at the top "ObjectTemplate deleted" and immediately below that, a pale pink notification box "ObjectTemplate could not be deleted".  Upon refresh of the screen both vanish, and the object template truly is gone, so I think the pale

[2020-12-09 16:31] chrisinmtown commented on #6708
Well, today I learned that the message is not exactly an error - it just means no action was taken.  Unfortunately that might mean errors occurred, or it might not -- logging/reporting is deficient in the object template features.

FWIW, we were trying to load two locally defined templates.  Someone put hand-constructed UUID values into our definition.json files.  MISP happily loaded one but not t

[2020-12-09 18:55] freshm1nce opened #6723 "MISP can't fetch events from feed with Kafka enabled"
MISP can't produce messages to kafka's topic when fetching feeds. But if manually add attributes, all works fine.
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue                 | Bug
| OS version (server)        | Ubuntu 20.04.1 LTS x86_64
| OS version (client)         | Win10 x64
| PHP version                   | 7.4
|

[2020-12-09 19:58] JakubOnderka commented on #6723
The problem will be that the extension is enable for web interface, but not for CLI. Maybe you use different PHP version? Can you check if rdkafka is really install also for CLI by running `php -m` command?

[2020-12-09 20:02] JakubOnderka commented on #6718
Thanks for report, fixed in develop branch.

[2020-12-09 20:02] #6718 closed, assigned to nobody

[2020-12-09 20:18] chrisinmtown commented on #6718
Thanks for the quick action.  This was only open a few hours?  How do I get that same treatment for my other issues? :)

[2020-12-09 20:27] Crusherton opened #6726 "Download hung up at 'Composer installation successfully created'"
I have tried a few times on a few different ubuntu 18.04 desktop iso's to install MISP. However, each one of the install gets hung up at Composer installation successfully completed. I have waited multiple hours but no luck.

For reference i am using this guide to install: https://www.techrepublic.com/article/how-to-install-malware-information-sharing-platform-on-ubuntu-server-18-04/

Any idea how

[2020-12-10 09:36] davecabio opened #6728 "MISP - Feeds Filter Allowed Orgs (OR) doesn't work"
### Work environment
Currently installed version… v2.4.132 (90517f591b6f37960e78dcdf7d4c6245baf78821)

### Expected behavior
The filters that should allows the filtering of the feeds using organisations.

### Actual behavior
I've configured a feed to all the current community, but using the filter to avoid the events to be published in a specific organisation.
This doesn't work. The event is showe

[2020-12-10 10:55] BannersSecret opened #6729 "Unable to analyse file hashes via Cortex"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| OS version (client)       | Win10
| PHP version               | 7.2
| MISP version / git hash   | v2.4.134 (557c4f59e3df7b108cf6f4dabbe5ac7a0ee7efa2)
| Browser                   | Chrome

### Expected behavior

Submit

[2020-12-10 11:38] freshm1nce commented on #6723
@JakubOnderka I installed rdkafka + wrote "extension=rdkafka.so" into both files: /etc/php/7.4/cli/php.ini and /etc/php/7.4/apache2/php.ini. By running `php -m` command, i see this result:
[PHP Modules]
calendar
Core
ctype
date
dom
exif
FFI
fileinfo
filter
ftp
gd
gettext
gnupg
hash
iconv
igbinary
json
libxml
mbstring
mysqli
mysqlnd
openssl
pcntl
pcre
PDO
pdo_mysql
Phar
posix
rdkafka
readline
redis

[2020-12-10 12:24] JakubOnderka commented on #6729
Hello, can you check MISP error log? It should contain more information about the exception.

[2020-12-10 13:03] kedrole opened #6731 "disable_correlation with POST"
Hello!
I want to add event with POST /events. How can i add "disable_correlation = True" param to attribute?

[2020-12-10 13:17] BannersSecret commented on #6729
Hi, this is what is appended to the error.log at /var/www/MISP/app/tmp/logs/ when I run the analyzer:

2020-12-10 13:14:57 Error: Fatal Error (1): Allowed memory size of 2147483648 bytes exhausted (tried to allocate 20480 bytes) in [/var/www/MISP/app/Lib/cakephp/lib/Cake/Model/Datasource/DboSource.php, line 1616]
2020-12-10 13:14:57 Error: [InternalErrorException] Internal Server Error
Request URL

[2020-12-10 15:40] legoguy1000 commented on #6355
I'm looking to do the same for my org.  I don't know much about zeek rules but I can work on the suricata rule code.  I just checked and i don't think that Snort can use JA3 hashes.  I also think adding a `ja3s-fingerprint-md5` type would be good too but 1 thing at a time.

[2020-12-10 16:44] cudeso opened #6734 "DecayScore is not included in CSV export"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| MISP version / git hash   | 2.4.135

### Expected behavior
When using "includeDecayScore":"true" in a CSV export, have the decayscore included.

### Actual behavior
The CSV export does **not** include the decayscore, whereas the JSON export does include

[2020-12-10 17:24] Drizzt-IT commented on #6702
Having the same problem here

[2020-12-10 18:07] JakubOnderka commented on #6729
For me it looks like bug in Cortext script, because it queries `/events/restSearch` endpoint, but the query looks like it should go to `/attributes/restSearch`. So I would recommend to you to open issue in https://github.com/TheHive-Project/Cortex-Analyzers repo.

[2020-12-11 08:43] cudeso opened #6740 "Add a sample terms and conditions file"
**Describe the solution you'd like**
Include a sample / default terms and conditions file

[2020-12-11 08:44] cudeso commented on #6740
Check if https://www.termsfeed.com/terms-conditions-generator/ could generate a basic usable file.

[2020-12-11 10:09] BERTYSKINS commented on #6649
Good Morning Team,

Any updates at all on the logs provided?

[2020-12-11 12:44] JoePJisc commented on #6252
Sorry I haven't updated this sooner, I am experiencing this issue on 3 instances, all now running v2.4.135 via MISP-RPM.

Hopefully the below helps

# HEAD alignment

I cannot tell; I assume these are maintained by the RPM?

[code]

# Enabled warning lists

Across the 3 instances enabled lists are:
1. None.
2. Covid-19 Cyber Threat Coalition's Whitelist.
2. List of known IPv4 public DNS resolvers,

[2020-12-11 12:47] JoePJisc commented on #6252
Interestingly, clicking on the top warning list on one of these instances returns `Error: The requested address '/Warninglist/view/174' was not found on this server.`

The row in question is:

ID | Name | Version | Description | Type | Valid attributes | Entries
-- | -- | -- | -- | -- | -- | --
174 | TLDs as known by IANA | 20201123 | Event contains one or more TLDs as attribute with an IDS flag s

[2020-12-11 16:24] freshm1nce commented on #6723
I can work around the bug by killing the workers and restart them once. Does anyone have any suggestion what what is causing this issue?

[2020-12-11 20:12] github-germ commented on #5257
Recap: Feature Request to add an argument, perhaps called `ignore_dup` to PyMISP `add_object` and `add_attribute` that will ignore duplicate attributes or objects and NOT log that as an error.

[2020-12-11 20:14] chrisinmtown commented on #6715
I propose this change:
[code]

[2020-12-11 20:33] chrisinmtown commented on #5257
Extending PyMISP is the easy part. The server requires an extension, better make sure there's an issue open in MISP for that.

On the server I think this function needs to be extended to accept a new parameter to allow/ignore duplicate attributes:

https://github.com/MISP/MISP/blob/476e6ab841d7e2ecfac1ea3e97e5a0d16bf36450/app/Model/Attribute.php#L4162

I believe the attribute save command indicate

[2020-12-12 19:55] ag-michael opened #6748 "Unable to search unpublished events"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| OS version (client)       | pymisp
| PHP version               | 7.2
| MISP version / git hash   | 2.4.135
| Browser                   | n/a

### Expected behavior
Unpublished events are returned with the 'published=F

[2020-12-12 19:57] ag-michael commented on #6748
Additional comment: Is there any other way search for published events?  Tangentially, I am stuck on a related bug with the misp42splunk app (https://github.com/remg427/misp42splunk/issues/181)  where setting the published flag is failing to create events as published. Could this be related?

[2020-12-13 15:26] tomking2 opened #6750 "YARA rule strings are replaced with environment variables"
### Expected behavior
When you add the following YARA rule:
[code]
You would expect that this string will persist, as it's a string encoded into a file.

### Actual behavior
However, MISP will replace these common strings with their env variable counterpart, resulting in an invalid rule of:
[code]

Seems like we may need to exclude replacing filepaths for rule based attributes?

[2020-12-13 18:32] r0ny123 opened #6751 ""Import from URL" functionality is unavailable under Event Reports"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       |Ubuntu 20.4
| OS version (client)       | Ubuntu 20.4
| PHP version               | 7.4.3
| MISP version / git hash   | 2.4.135, https://github.com/MISP/MISP/commit/d25025d664452dfbb35fe8234d6ccf8cf6d262e1

### Expected behavio

[2020-12-13 19:38] adulau commented on #6751
You need to enable the misp-modules and have the html2markdown module enabled.

[2020-12-14 04:30] r0ny123 commented on #6751
Ah, thanks, can see it now.

[2020-12-14 04:30] #6751 closed, assigned to nobody

[2020-12-14 10:18] itsnotabhi commented on #4066
How can i feed a private TAXII feed into my misp
I have the  username and password and the url of their taxii feeds
I followed the Misp-taxiiserver guide and configured the remote server yaml files but i nothing appears in misp or anywhere
is the port 9000 accessible ?

[2020-12-14 12:49] DashCarlos opened #6753 "Emerging Threats Pro"
Is there a way to include the Emerging Threats PRO ruleset in MISP? Thank you!

[2020-12-15 10:07] scgsch commented on #5751
Hi sphereict,
I have the same issue but with current version 2.4.135. Could you please share what did you do?
I will appreciate it.
Thanks in advance,

[2020-12-15 14:20] #6659 closed, assigned to nobody

[2020-12-15 14:20] lfortemps commented on #6659
This was solved in a recent commit

[2020-12-15 14:54] digihash opened #6756 "Issue when importing STIX2 from OTX"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Debian
| OS version (client)       | Win10
| PHP version               | 7.3.19-1~deb10u1
| MISP version / git hash   | v2.4.134 (158036f)
| Browser                   | NA

### Expected behavior
Everything in the STIX2 format

[2020-12-16 09:13] iglocska commented on #6659
Yeah it was an annoying chicken vs egg issue. Basically the Authkey table was missing in the db, but expected by the user model - so the login would actually fail. This is annoying as the update process is initiated once a user logs in.

The workaround before was to launch the update script via the CLI, but that was not obvious at all. Since the fix, the authkey model is only associated with the u

[2020-12-16 09:27] digihash opened #6761 "Select and apply to all in Manual extractions on a Markdown report"
**Is your feature request related to a problem? Please describe.**
When I'm doing manual extraction on a Markdown report, I need to look at each proposal one by one by selecting it and pressing "Replace & Save".

See the screenshot:
![image](https://user-images.githubusercontent.com/1122246/102329739-0876b980-3f89-11eb-8d3b-aeaf5db24886.png)

**Describe the solution you'd like**
It would be intere

[2020-12-16 10:26] ghost commented on #6159
I have this issue on Ubuntu.

While the bug gets squashed, is it safe to simply rm cleanup this directory ? It's using a whole bunch of space on my server.

[2020-12-16 10:58] iglocska commented on #6159
The only thing that can happen is that someone fetching an event via the API will get an error, but that's about it.

[2020-12-16 13:56] Daniel-CS-Team opened #6762 "Database schema diagnostic: Proposed SQL Statement Syntax Error"
The database schema diagnostic on our instance proposes some columns to be added:
![Bildschirmfoto 2020-12-16 um 14 50 18](https://user-images.githubusercontent.com/66005732/102357049-3ae6dd80-3fae-11eb-9cc5-e3750f88a71d.png)
The proposed SQL statement ist:
`ALTER TABLE `logs` ADD COLUMN `ip` varchar(45) UNSIGNED DEFAULT "" NOT NULL COLLATE utf8_bin ;`
However, if I paste this into the mysql conso

[2020-12-16 14:59] jstnk9 opened #6763 "Filter taxonomies and galaxies by a specific date range"
Hi,

I am trying to filter the taxonomies and galaxies by a specific date range.

is there a way to filter the following results by dates?

https://<mispurl>/tags/tagStatistics/

https://<mispurl>/users/statistics/tags.json

Thank you

[2020-12-16 16:09] iglocska opened #6765 "Additional sync filters to filter unwanted data"
An idea that popped up in a workshop:

- have a sync filter to exclude/include certain attribute types

we could extend it to other filters too (such as the exclusion of certain object templates, etc).

[2020-12-16 17:26] ghost opened #6766 "Event Report - Allow scope for attributes in extended events"
**Describe the solution you'd like**
Actually, I can`t add on event reports, an attribute from an extended event, as it returns invalid scope error

**Additional context**
A practice of mine is to create a main event for investigation I`m doing and extend the original event when I have separate campaigns.
Usually, the reports stay on the main event, where I would point correlations between campaig

[2020-12-17 00:54] SteveClement commented on #6702
@ViolatorDM do you actually run VMray?
If not, the important part is:

[code]

[2020-12-17 00:54] SteveClement commented on #6702
please be more specific. VMray?

[2020-12-17 00:58] SteveClement commented on #6726
Dear

We do not support 3rd party install guides.

Our own are rather complete, please use them.

Also, we have an installer.

[2020-12-17 00:58] #6726 closed, assigned to nobody

[2020-12-17 11:11] RichieB2B opened #6768 "Do not allow snort attributes to have newlines"
Attribute type 'snort' is a text field that allows multiple lines to be inserted. We have seen MISP events where a single snort attribute contains multiple rules, # comments, etc. This makes it very hard to process these rules to use for actual detection.

MISP should not allow snort attributes to contain newlines.

[2020-12-17 12:32] sustefil opened #6769 "Inconsistent changelogs"
Hi there :)

We are using this changelog to track the changes and for automatic notifications, but it's not updated (only 134 version there):

https://www.misp-project.org/Changelog.txt

Whereas here it's updated (version 136):

https://misp.github.io/MISP/Changelog/

Which changelog is "more official" then? :)

Thanks

[2020-12-17 12:49] ViolatorDM commented on #6702
I don't know, shouldn't it be enabled since it is installed and when the modules start, it fails to start?

What is affected if the VMRay thingy is not running? If I understand well, this VMRay thing is part of PyMISP, no? And if so, it seems that PyMISP is not working correctly.

These are the errors I see, those that I posted earlier. Are you familiar with it?

_2020-12-07 23:56:53,342 - misp-mo

[2020-12-17 14:56] walkergregt opened #6770 "Error messages using Postgres db instead of MariaDB"
I am required to use Postgres db Version 12.5 instead of MariaDB.  When trying to connect by doing the following:
(1) Enter username
(2) Enter password
(3) MISP accepts and then attempts to load the first page after login,
I get the following error messages:
"ERROR: invalid input syntax for type integer:""
LINE 1: ...("Job"."org_id" = "Org"."id") WHERE "Job"."id" = "  LIMI...

Request URL:/users/r

[2020-12-17 16:35] chrisinmtown opened #6771 "ZeroMQ shows errors in log "Redis::rPush(): send of 8192 bytes failed with errno=104""
tl;dr - with the plugin ZeroMQ enabled we see recurring errors "Redis::rPush(): send of 8192 bytes failed with errno=104 Connection reset by peer" in multiple log files.  With setting Plugin.ZeroMQ_enable = False, no errors.

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)

[2020-12-17 17:05] chrisinmtown commented on #6771
I checked the size of our Redis store by connecting with redis-cli and using the 'info' command, here's the tail of that output:
[code]

[2020-12-17 18:09] JakubOnderka commented on #6770
Hello, what MISP version do you use? Because in latest version this should be already fixed.

[2020-12-17 18:25] chrisinmtown commented on #6771
Here's a bit of grasping at straws.  I see that the line of code that calls pubSubTool->publishEvent is guarded by a check on the ZeroMQ plugin:

https://github.com/MISP/MISP/blob/9d537c989a1a9ff7de75bf5b4a0e1d72a92304a2/app/Model/Event.php#L4691

I checked our configuration and found the plugin setting Plugin.ZeroMQ_enable =  True.  So maybe the failure lies in communicating with that pub-sub mec

[2020-12-17 18:58] chrisinmtown commented on #6771
I confirmed by running /var/www/MISP/tools/misp-zmq/sub.py that attribute-create events are being sent to the script via redis.

After digging a bit more, I believe but cannot yet prove that this error happens when the MISP server tries to publish an event JSON that's about 2.5MB to zeromq via redis.  I think the client is shoveling over blocks of data 8192 bytes at a time, then at some point the

[2020-12-17 19:02] walkergregt commented on #6770
MISP 2.4.133

[2020-12-17 20:11] chrisinmtown commented on #6771
I'm pretty firmly convinced the error is due to ZeroMQ because the only place in the code I can find that calls rPush is in PubSubTool, and that's only called if Plugin.ZeroMQ_enable = True.
[code]

[2020-12-17 20:22] jloehel commented on #4727
Any progress on that? It would be a good start to add volumes for attachements/files/cached feeds ... in example. Upgrading MISP without git is some kind of tricky.

[2020-12-17 21:53] chrisinmtown commented on #6771
One last comment for today. I changed plugin setting Plugin.ZeroMQ_enable to False, restarted the MISP processes (PHP, Redis, workers, Apache), then waited two hours.  No Redis::rPush() errors anymore.  This settles it for me, the problem is somewhere linked to the ZeroMQ feature.

[2020-12-17 21:56] chrisinmtown commented on #6769
+1 from me on the request to be consistent and timely.

If I were guessing, I'd say that MISP/Changelog only applies to core MISP features like the server, but excludes changes to PyMISP, misp-modules etc.  The misp-project Changelog.txt should cover everything.  It's pretty frustrating that the project-level file is so out of date.

[2020-12-18 04:19] jloehel opened #6773 "ORDER BY clause is not in GROUP BY clause and contains nonaggregated column 'misp.Sighting.date_sighting'"
Stack Trace:
[code]

https://github.com/MISP/MISP/blob/9d537c989a1a9ff7de75bf5b4a0e1d72a92304a2/app/Model/Sighting.php#L335

I guess this is a leftover of a previous change and it should be now `date` instead of `date_sighting`.

[2020-12-18 09:02] JakubOnderka commented on #6770
So please try it again with v2.4.136.

[2020-12-18 11:33] torsolaso opened #6774 "Is not posible to get REST output in text list using attribute tags?"
Hi,

I am testing  REST API (/attributes/restSearch) of the project and I have seen that this is not possible to do one query that i am trying.

- This query works properly.

[code]

- This query works properly
[code]

- When i set text flag, this query doesnt works
[code]

is this expected behaviour?

[2020-12-18 11:35] lukerosser opened #6775 "Make INSTALL.sh more configurable"
**Is your feature request related to a problem? Please describe.**
INSTALL.sh is great for getting set up quickly but lacks some options - two that stand out:

- Redis host
- SSL disabled (http)

Both of these are important when trying to run the app in the cloud as Redis can be decoupled, and SSL offloaded to load balancers.

**Describe the solution you'd like**
Add variables to INSTALL.sh for SS

[2020-12-18 16:25] pietrogu opened #6777 "Internal Server Error after MISP reboot"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Ubuntu
| PHP version               | 7.2
| MISP version / git hash   | 2.4.134

### Support Questions

After rebooting my working MISP server, an Internal Server Error appeared.
In the logs the only information is about so

[2020-12-19 12:24] dionita-bd opened #6780 "Import feeds does not save the headers defined in the feed json"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Debian, Ubuntu, CentOS, RedHat, ...
| OS version (client)       | Win10, Ubuntu
| MISP version / git hash   | MISP 2.4.135

### Expected behavior

When importing a json feed I want all the fields to be saved.

### Actual behav

[2020-12-20 17:13] ViolatorDM commented on #6702
Also, I saw that there's a VMRay-REST-API available to be downloaded/installed through:
https://pypi.org/project/vmray-rest-api/

However, having installed it, it breaks other things in MIPS as there are dependencies that are violated if the VMRay-REST-API is force-installed.

So, coming back again to the issue at hand as this is shown in the Logs:
_2020-12-07 23:56:53,342 - misp-modules - WARNING

[2020-12-21 07:23] nikhilv14 commented on #6775
This will be helpful!
I created a docker image to work in k8s cluster setup. However, there are manual steps which will resolve if details around REDIS_HOST and apache2 on http is enabled.

[2020-12-21 12:51] torsolaso commented on #6773
Same error here when updated from 135 to 136 version.

`2020-12-21 13:47:33 Error: [PDOException] SQLSTATE[42000]: Syntax error or access violation: 1055 Expression #1 of ORDER BY clause is not in GROUP BY clause and contains nonaggregated column 'misp.Sighting.date_sighting' which is not functionally dependent on columns in GROUP BY clause; this is incompatible with sql_mode=only_full_group_by
Re

[2020-12-21 13:42] FafnerKeyZee opened #6784 "'-' is not allowed in the domain for the base URL"
Hello,

With the actual regex in app/Model/Server.php, we are not allowed to have a '-' inside the BaseURL. I did a quick fix in ordel to allow it. https://github.com/MISP/MISP/pull/6783

Best regards

[2020-12-21 13:57] adulau commented on #6784
Fixed in fb7c98ebcf24bfa52e1b7179b6a86764e5b5034a

[2020-12-21 13:58] #6784 closed, assigned to nobody

[2020-12-21 20:11] ag-michael commented on #6748
@iglocska  helped me on this and I was able to resolve it. You can't use 'last' to search unpublished events you have to use timestamp.  'timestamp' caused a memory usage issue as well ,didn't get to the bottom of that but with a php.ini memory limit of -1 it is all working fine for me. For anyone else that runs into this here is the simple pymisp code I'm using to autopublish events: https://gist

[2020-12-21 20:11] #6748 closed, assigned to nobody

[2020-12-22 17:16] JakubOnderka commented on #3847
Hello, this is already fixed and user from the same org can see event creator email.

[2020-12-22 19:42] rbcrack opened #6790 "Install on Ubuntu 18.04 failing"
I am installing fresh install of MISP and it keep failing on

**sudo: /var/www/MISP/venv/bin/pip: command not found
apt is maybe locked, waiting 3 seconds.
You are not currently on a branch.
Please specify which branch you want to merge with.
See git-pull(1) for details.

    git pull <remote> <branch>**

Cannot fix the error no matter what I do please help

[2020-12-22 20:04] ag-michael opened #6791 "Parse STIX Metadata"
With the new upload_stix() api function and ingest_stix.py script, STIX parsing is supported.
However, lack of critical metadata parsing is preventing migration from legacy scripts.

When attribute values are being parsed, STIX metadata for specific attributes as well as for the whole package/event should be parsed and added as tags at the event and attribute level where it makes sense. Metadata t

[2020-12-22 20:50] rbcrack commented on #6790
Still, no luck I have tried in a fresh install of Ubuntu install 18.04 and same error

[2020-12-22 22:47] JakubOnderka commented on #6773
Sorry for problems, it should be fixed now in `develop` branch.

Please reopen if it still doesn't work.

[2020-12-22 22:47] #6773 closed, assigned to JakubOnderka

[2020-12-22 22:47] JakubOnderka commented on #6713
Fixed in https://github.com/MISP/MISP/pull/6788, thanks for report.

[2020-12-22 22:47] #6713 closed, assigned to JakubOnderka

[2020-12-23 00:03] rbcrack opened #6792 "Error:Loading Feeds can't enable feeds"
This a fresh Install and when I try to enable the Feeds it doesn't open enable pop up box and when I look at the debug logs I get this ...any help please

2020-12-23 00:02:09 Notice: Notice (8): Undefined variable: event in [/var/www/MISP/app/View/Elements/ajaxTags.ctp, line 8]
Trace:
ErrorHandler::handleError() - APP/Lib/cakephp/lib/Cake/Error/ErrorHandler.php, line 230
include - APP/View/Element

[2020-12-23 03:06] A1oha opened #6793 "how to terminate the running job"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| OS version (server)       |  Ubuntu
| OS version (client)       |  Ubuntu
| PHP version               | 7.2.24
| MISP version / git hash   | v2.4.130

### Logs, screenshots, configuration dump, ...
![image](https://user-images.githubusercontent.com/40291952/102954282-1474f500-450e-11eb-9

[2020-12-23 03:13] coolacid commented on #6792
It was reported here too: https://github.com/coolacid/docker-misp/issues/75

[2020-12-23 03:19] coolacid commented on #6792
I can't replicate this in my docker image. Make sure you have the baseURL set correctly.

[2020-12-23 04:41] rbcrack commented on #6792
My Base url is set to my local IP address and everything is loading fine

But only I am getting an error on List Feeds

[2020-12-23 04:45] rbcrack commented on #6792
Is there any other setting I need to change to make this work?

[2020-12-23 04:52] rbcrack commented on #6792
Also another thing I noticed after making changes on the server the settings don't save after the restart for eg I changed the password and the localhost setting and it reverted back

[2020-12-23 08:43] sdenel opened #6794 "Buggy regex matcher in Server.php"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | All
| OS version (client)       | All
| PHP version               | 8.0, certainly all
| MISP version / git hash   | latest

### Expected behavior
"https://to-to-com" should be recognized as a valid base url, and is not.

###

[2020-12-23 08:46] sdenel commented on #6794
My apologies, it was fixed two days ago: https://github.com/MISP/MISP/commit/fb7c98ebcf24bfa52e1b7179b6a86764e5b5034a

[2020-12-23 08:46] #6794 closed, assigned to nobody

[2020-12-23 11:25] Airborne1974 opened #6796 "Error during MISP module upgrade"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | CentOS7
| MISP version / git hash   | 2.4.136

### Support Questions
During upgrade procedure to latest version 2.4.136, I also did MISP module upgrade but error occurred during execution of command:
sudo -u apache /var/ww

[2020-12-23 14:38] roberto-carlos-leonardo opened #6798 "Error during MISP update"
### Work environment

| Questions                      | Answers
|----------------------------------------------|
| Type of issue                 | Support
| OS version (server)        |CentOS 7
| OS version (client)         |Win10
| PHP version                   | 7.2.24
| MISP version / git hash | 2.4.129
| Browser                         | Microsoft Edge 87.0.664.66

### Support Questions

Duri

[2020-12-23 14:41] adulau commented on #6798
It sounds like a RedHat issue potential solution described here: https://bugzilla.redhat.com/show_bug.cgi?id=1785720#c5

I'll close the issue. Feel free to reopen if required. Thank you.

[2020-12-23 14:41] #6798 closed, assigned to nobody

[2020-12-23 14:44] adulau commented on #6796
Can you git pull the latest version of the misp-modules?

[2020-12-23 14:50] Airborne1974 commented on #6796
Just did it and same error.

[2020-12-23 14:53] coolacid commented on #6792
Since you opened a ticket in the docker repo, I assume you're using the docker image. If that's the case, I'd suggest following the instructions, and re-install the container.

Settings are stored on the file system, passwords are stored in a database. If it's just passwords, it sounds like you're not using mySQL correctly.

[2020-12-24 08:20] torsolaso commented on #6773
Hi JaKub,

I upgrade version and i am getting same error.

[2020-12-24 10:10] adulau opened #6800 "New type and object template for favicon recon in Murmurhash3 used by Shodan and some other tools"
- Shodan and some other tools are hashing favicon to find common website.
- https://github.com/devanshbatham/FavFreak/blob/master/favfreak.py#L91 list of common favicon format
- The format used (if not really documented by Shodan) is a signed integer in MMH3
- A template object will be required to describe the favicons

[2020-12-25 07:40] SteveClement opened #6801 "Uploading a file attachment with CJK characters fails"
When uploading a file to a MISP event with Chinese, Japanese, Korean characters, strips the file name, thus losing the name of the file.

Rename any file to this for example, and upload to reproduce.

[code]

[2020-12-25 07:46] IrArTr opened #6802 "MISP An Internal Error Has Occurred."
Hello everyone, I'm new using MISP and I have a problem, when I want to  view an event created and the same when I create a tag and want to see the list of tags I get the following error:

An Internal Error Has Occurred.
Error: An Internal Error Has Occurred. Please try your action again. If the problem persists, please contact administrator.

I am using MISP in a docker container and it is this:

[2020-12-27 09:47] #6608 closed, assigned to nobody

[2020-12-27 19:31] ag-michael commented on #6791
@adulau This is a zip file I uploaded in gitter that includes two sample stix 1.1 format files:

[Sample-stix.zip](https://files.gitter.im/5756cb16c43b8c6019785264/mSI3/sample-stix.zip)

[2020-12-27 22:16] P1llus opened #6803 "Events restSearch API does not filter out events that has same timestamp value as filter"
### Work environment

Default Virtualbox image for version:
Currently installed version… v2.4.133 (b0a8f06a5f05606a60400550ce4ebccc6d0a2045)

### Expected behavior
When filtering on `timestamp`, according to the documentation it is supposed to only return any event newer than the defined timestamp. (Using Unix timestamp).

### Actual behavior
All `timestamps` older is filtered out, however any eve

[2020-12-28 15:19] adulau commented on #6800
Added in MISP: 80871f7b5246df3c43a10c90a77a3e83898ce6ce
New MISP Object template for favicon: https://github.com/MISP/misp-objects/commit/179bd48becd9cd794960a91f23dd4600a38c70e1

[2020-12-28 22:59] achillesheald commented on #6802
Also experiencing this error.

Testing out a MISP instance and have enabled/cached the CIRCL feed. Attempting to view any event yields the internal error described above, as does attempting to import STIXv1.

[2020-12-29 05:38] jigneshpatel2208 opened #6805 "What is the ideal page size limit (value of "limit" parameter) for attributes' restSearch API endpoint?"
My use case is to pull the MISP attributes periodically and I'm using "/attributes/restSearch" endpoint with required query parameters. I am using "limit" as 10,000, which is 10,000 attributes per page. But while pulling, occasionally, I get following errors:

`requests.exceptions.ConnectionError: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))`

or eve

[2020-12-29 09:59] sdenel commented on #6792
Same issue here.
* For most feeds, I have the error "Notice (8): Undefined variable: event [APP/View/Elements/ajaxTags.ctp, line 8]"
* I am using the Docker image, in its latest version
* MISP.baseurl is correctly set
* @coolacid I can provide you access to this MISP if it can help.

[2020-12-30 04:33] linehammer commented on #6100
The error message invalid literal for int() with base 10 would seem to indicate that you are passing a string that's not an integer to the int() function . In other words it's either empty, or has a character in it other than a digit. You can solve this error by using Python isdigit() method to check whether the value is number or not. The returns True if all the characters are digits, otherwise F

[2020-12-30 08:55] ahmedxuae91 opened #6806 "413 error while uploading large PDFs in API"
Dear Team,

I am facing below error while uploading large PDFs using API:

(413 Request Entity Too Large</title>\n</head><body>\n<h1>Request Entity Too Large</h1>\nThe requested resource does not allow request data with POST requests, or the amount of data provided in\nthe request exceeds the capacity limit.\n</body></html>\n')

Can you please support on how to fix this.

Thanks.
Ahmad

[2020-12-30 10:38] pemontto commented on #1894
Seeing these errors when trying to list tags and attributes in a freshly installed instance. Captured in coolacid/docker-misp#79

[2020-12-30 14:18] SteveClement opened #6807 "[stix2] Import failure"
Currently: MISPv2.4.136 (fe00072164cde8728b72180d241085a37b70f1c7)
Install Date: Jun 23  2020
Updated semi-frequently.
No DB Schema issues.

The following 2 test files:

https://gist.github.com/SteveClement/03d584be817739640ea0ea5cffe62f99

poisonivy.json -> Imports ok
apt1.json -> Internal server error:

[code]

[2020-12-30 14:21] adulau opened #6808 "Being able to edit event report title after first publication"
Being able to edit event report title after a report creation.

[2020-12-30 23:46] SteveClement commented on #6807
"fixed" with: https://github.com/MISP/MISP/commit/f7d5bc272bd457e5f216b9c5aea19ccb30b492b3

From Support:
[code]

@iglocska @chrisr3d

[2020-12-30 23:46] #6807 closed, assigned to nobody

[2020-12-31 02:09] kalanisanders commented on #3083
Anyone have a rundown on how they're doing this in PyMISP already? I'd rather avoid reinventing the wheel.

[2020-12-31 07:29] HoangKhuong129 commented on #4720
I use the API to push data to MISP, but during the data push I cannot access the MISP homepage. I tried many ways, tested the server but it failed to fix it. I need help.

[2020-12-31 07:29] ghost commented on #4720
I use the API to push data to MISP, but during the data push I cannot access the MISP homepage. I tried many ways, tested the server but it failed to fix it. I need help.

[2021-01-03 20:14] ahmedxuae91 commented on #6806
The issue was due modsecurity implementation and it was matching a signature.

[2021-01-03 20:14] #6806 closed, assigned to nobody

[2021-01-04 09:41] marjatech opened #6814 "Attribute Search in Event-View not working"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 18.04
| OS version (client)       | Win10, Ubuntu
| PHP version               | 7.4
| MISP version / git hash   | v2.4.136 (f7d5bc272bd457e5f216b9c5aea19ccb30b492b3)
| Browser                   | Firefox

### Expected b

[2021-01-04 09:47] adulau opened #6815 "[correlation] Add a list of values to never correlate"
Add a list of values to never correlate. The list can be managed by the site admin (or a new role could be added to limit it).

[2021-01-04 14:25] chrisinmtown commented on #6689
happy new year, I hope someone will please find a minute to look at my proposed change to implement the extension, thanks in advance.

[2021-01-04 17:03] demiscuzz commented on #6182
Hello, I am about to embark on my jorney to install MISP on centos8.
At the beginning of the guide "https://misp.github.io/MISP/INSTALL.rhel8/" it talks of "MISP configuration variables" and then has a bunch of commands.
Can any one tell me what to do with this bit? anything I can read to get me upto speed?
Thanks in advance.

[2021-01-04 18:31] JakubOnderka commented on #6814
Already fixed in `develop` branch.

[2021-01-04 23:26] github-germ opened #6818 "HOWTO add some debug code to server-side PHP to output messages to a file for troubleshooting"
I am trying to understand some server-side PHP code by adding some code to output some runtime variables to a file to help me learn why a behavior I am expecting is not occurring.

For example, I've tried two methods, but am not getting any output. I'm pretty sure I am adding this output code in functions that are actually being called based on my PyMISP client app's request to the server.

Would

[2021-01-04 23:33] jloehel commented on #6773
Thanks. I patched it locally. It works fine with the change. When will you release again?

[2021-01-04 23:43] github-germ commented on #6818
Update:
* I found the `fopen` file in `/var/www/MISP/app/webroot/`
* `error_log` is not writing to `error.log`
* I now have what I need.

[2021-01-04 23:43] #6818 closed, assigned to nobody

[2021-01-05 01:38] usedtire opened #6819 "Download feed data from MISP"
Is there a way using the API to download feeds that are currently in the MISP instance?  I see options to upload with different tools, but nothing to download all feeds.  It would be easy enough to download them individually from the sources, but I'd like a single source where I aggregate all feed sources.

[2021-01-05 11:39] chrisr3d commented on #6756
The issue with the domain name indicators is the patterns are not valid. According to the official documentation, the correct way to define a domain name in STIX 2.0/2.1 is:
[code]

Nonetheless I updated the attack-pattern, course-of-action and vulnerability objects import to check whether their name matches an existing galaxy (7692e7f):
- If there is a match they are imported as galaxy
- Imported

[2021-01-05 14:40] narly-david commented on #2919
Bump - can confirm similar behavior. Have two VMs, each with certs issued by internal CA.

Running both instances of MISP in docker containers based on https://github.com/harvard-itsecurity/docker-misp and configured to use SSL

Verified that the VMs can talk (and the docker containers can talk) using curl and providing --cacert (in .pem format).

Have setup sync servers/users and added server cer

[2021-01-05 15:00] narly-david commented on #2919
Ok - actually typing it out helped troubleshoot.

Looks like using the openssl command converting from .crt to .pem dropped the CA size dramatically.
`openssl x509 -in ca.crt -out ca.pem -outform PEM`
Instead, if your .crt begins with ----BEGIN TRUSTED CERTIFICATE, you can simply rename the .crt file to .pem.

Uploading the resulting .pem file into the MISP UI under Server certificate file allowed

[2021-01-05 19:58] chrisinmtown commented on #6801
I see that a file attached via the GUI goes in as an attribute on the event, and the original file name is put into the attributes table, value1 column. That column seems to be defined in a way that *should* accept any properly encoded character:
[code]
I tested against version 2.4.133, we use Python 3.6.  I created a file with an emoji in the name ("👍.jpg") and attempted to upload the file. The r

[2021-01-05 20:32] chrisinmtown commented on #6819
What exactly are you asking? PyMISP offers method feeds() to get all the feed details from the server.  I am not aware of any API method to kick the server to download all feed DATA.

[2021-01-05 22:33] meghakumawat1 opened #6823 "How to automate MISP events in firewall"
I am learning MISP. Can you please let me know if there is any process to automate MISP events for example Once the IOCs are in MISP, automation will take care of publishing them to the security tools(IDS/SIEM).

[2021-01-06 12:00] chrisnewmanuk commented on #6671
Upgraded from  v2.4.134 to v2.4.136 and have this error now
![image](https://user-images.githubusercontent.com/7243321/103766422-bae4ee00-5016-11eb-8bca-e1aae41785ec.png)

[2021-01-06 12:21] chrisnewmanuk opened #6824 "Upgrade from 2.4.134 to 2.4.136 causes misp.Sighting.date_sighting SQL error"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       |  Ubuntu
| OS version (client)       |  Win10
| PHP version               | 7.4
| MISP version / git hash   | 2.4.136

Related to #6671

### Expected behavior
Event and attributes are listed

### Actual behavior
Internal Server

[2021-01-06 18:53] chrisinmtown commented on #2826
I would like to reopen this, if that's allowed; otherwise I will create a new issue.

I am using a 2.4.133 server.  I wrote a script (below) to test rejection of duplicate objects when creating/modifying an event. I tried to set the breakOnDuplicate flag to trigger the new code but no luck.  I think maybe it's not possible to pass this parameter from PyMISP right now?

This is the critical line on

[2021-01-07 11:18] demiscuzz commented on #5779
Did you find the solution? I am having more errors when running the script in kali. when the install finnishes I get a 501.

[2021-01-07 11:50] chrisnewmanuk commented on #6824
This is the SQL statement I believe could be related to the issue

![image](https://user-images.githubusercontent.com/7243321/103889504-71f86c80-50de-11eb-8b51-aadc9d16ff18.png)

GROUPBY is missing date_sighting ?

[2021-01-07 12:18] chrisnewmanuk commented on #6824
![image](https://user-images.githubusercontent.com/7243321/103891826-69099a00-50e2-11eb-9e03-df03320cd8c5.png)

[2021-01-07 14:26] marjatech opened #6829 "Outlook reports invalid S/MIME-Signature"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       |Ubuntu 18.04
| OS version (client)       | Win10
| PHP version               | 7.4
| MISP version / git hash   | v2.4.136 (9d537c989a1a9ff7de75bf5b4a0e1d72a92304a2)
| Browser                   | ---

### Expected behavior
Recei

[2021-01-07 14:36] adulau commented on #6829
Thanks a lot. That's indeed a good point (we don't use that much S/MIME) so having feedback from actual users, it's great.

@JakubOnderka @iglocska ok with you if I do the update?

[2021-01-07 18:18] muralivenkataraman opened #6832 "MISP Warnings after upgrade"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Database schema diagnostic as indicated in subject line
| OS version (server)       | CentOS.
| MISP version / git hash   | 2.4.136, hash of the commit
| Browser                   | If applicable

### Support Questions
I updated MISP to the latest version and

[2021-01-07 18:21] muralivenkataraman commented on #6832
Hi there,

I see Server Settings and Maintenance option but do not have the ability to update them using the web interface.

Thanks
Murali

[2021-01-07 18:41] muralivenkataraman commented on #6832
Hi there,

I was able to change the setting for MISP.live from false to true (user error).  But I still need assistance with the warning messages.

Thanks
Murali

[2021-01-07 18:51] muralivenkataraman commented on #6832
Hi there,

I looked at this link - https://github.com/MISP/MISP/issues/5480.  It looks like the warning message can be safely ignored?

Thanks
Murali

[2021-01-07 20:53] khalidrehan opened #6834 "[restSearch] curl returns empty table"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       |Ubuntu 20.04
| MISP version    | MISP 2.4.136

### Support Questions
I run this command locally:
[code]
Results:
[code]

Where do I look for the problem here?

Regards,
Khalid.

[2021-01-07 20:55] khalidrehan commented on #6834
Related issue [issue [#211](https://github.com/OpenCTI-Platform/connectors/issues/221)]

[2021-01-08 00:08] khalidrehan commented on #6834
## This command returned values:
[code]

## osint:source-type="blog-post"

[code]

[2021-01-08 00:25] #6834 closed, assigned to nobody

[2021-01-08 10:09] lfortemps opened #6836 "Local tags synced with non-internal instance?"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| MISP version / git hash   | 2.4.136
| Browser                   | If applicable

### Expected behavior

When I attach local tags (exportable) to events in instance A, my assumption would be that they stay in instance A and optionally propagate to connect

[2021-01-08 19:30] github-germ opened #6838 "Proposed fix for deduplicating MISPObjects within an Event via breakOnDuplicate"
2.4.133

This feature implemented in https://github.com/MISP/MISP/issues/2826 to deduplicate `MISPObjects` when adding into the same event is not working due to a few issues in two functions in `app/Model/MispObject.php`.

I'd like to propose a local fix that I have working successfully with the following PyMISP API functions when setting `MISPObject.breakOnDuplicate`: `add_event, update_event, ad

[2021-01-08 19:37] github-germ commented on #5257
I discovered issues with the server side MISPObject deduplication within an Event and have a proposed fix. Please see `Proposed fix for deduplicating MISPObjects within an Event via breakOnDuplicate` in MISP/MISP#6838

[2021-01-08 20:08] chrisinmtown commented on #6838
In the log message, why is the model_id zero?  Why not report the ID of the dupe?
[code]

[2021-01-08 22:45] #6802 closed, assigned to nobody

[2021-01-11 05:50] victorhugo-sg opened #6844 "MISP.external_baseurl issues"
--------8<------

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Ubuntu
| OS version (client)       | 18.04
| PHP version               | N/A
| MISP version / git hash   | 2.4.XX
| Browser                   | Firefox
### Support Questions

After a MISP installation my

[2021-01-11 05:59] victorhugo-sg commented on #6844
This worked. Is this correct though?

[code]

Verify the change:

[code]

Check files are owned by www-data:

[code]

[2021-01-11 13:04] jacksonfylle opened #6846 "Tags syncing issue with object/event already created and publish"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Ubuntu
| OS version (client)       | Arch
| MISP version / git hash   | v2.4.136 (99166f9f7b4b13ba4d7100c53bd0d3bf62346665)
| Browser                   | Firefox

### Support Questions
I have noticed some strange behavior

[2021-01-11 14:39] horialex opened #6847 "How to import events from csv files"
Hello, I am using csv files as feeds, the csv has a lot of rows  each representing a certain event or a website that is attacked or compromised. I would like to import the csv into MISP but at the moment it only creates 1 big event with a lot of attributes column  is mapped to an attribute but not correctly.
How can I make misp create an event out of each row from the csv?

Also I have a column wi

[2021-01-11 18:51] github-germ commented on #6838
@iglocska -- Happy New Year Andras. Hope this finds you well!! When you find some time, would greatly appreciate your feedback on this proposal. Many thanks!

[2021-01-12 12:52] rusuvalentin opened #6850 "Kali install script error"
Hello,

I am trying to install MISP on a Kali virtual machine from azure.
I get the following error:

    installer script.
    Please visit the following URL for more detailed installation instructions:
    https://misp.github.io/MISP/

Kali version:

No LSB modules are available.
Distributor ID: Kali
Description:    Kali GNU/Linux Rolling
Release:        2019.2
Codename:       n/a

![image](http

[2021-01-12 13:42] jpmcneely commented on #3702
Agree with joncard1 - should be able to make a key for/with a service account without chowning the pty.  Reason for fail is not obvious, and error text does not indicate what required permission is not in place.  Not a good user experience at all.

[2021-01-12 14:54] cvandeplas commented on #6836
I'm not sure to understand the issue.

While it makes sense in a way that a local tag should remain local.
It also makes sense that an authorized who can see the tag, can decide to pull it down (web or API or sync).

In any case a local tag should never get pushed.

[2021-01-12 16:26] Stefan249 commented on #6824
Got the same issue

[2021-01-12 16:35] passuf commented on #6824
Had the same issue, I manually fixed the corresponding line in `/var/www/MISP/app/Model/Sighting.php` but there seemed to be similar problems in different files.

Reverted to 2.4.135 and things work again as expected.

[2021-01-12 17:07] JakubOnderka commented on #1817
Already done :)

[2021-01-12 17:07] #1817 closed, assigned to nobody

[2021-01-12 20:28] github-germ commented on #5257
Hi @Rafiot -- HNY!! Hope you are well...

I have tested successfully a simple patch to `app/Model/Attribute.php` as below by setting `MISPAttribute.ignoreDup` in the `MISPEvent` and calling `update_event` in a PyMISP client to prevent the entry for the attribute duplicate being saved into the `logs` table.

Would appreciate someone with greater expertise reviewing this patch proposal to ensure it'

[2021-01-12 20:42] chrisinmtown commented on #6844
Seems like this might be very similar to #6387 ?

[2021-01-12 20:43] chrisinmtown commented on #6838
I see this recent change for detecting duplicates was merged:

https://github.com/MISP/MISP/commit/68596db5be2262ff2bb32e5832b63ce1576178b9

[2021-01-12 21:10] github-germ commented on #6838
Glad to see the progress. From my prior testing when I made the fix proposal, I don't believe that partial fix will resolve all the test cases.

[2021-01-13 10:40] ninoseki opened #6852 ""Server Settings & Maintenance" returns an error"
### Work environment

| Questions               | Answers                                  |
| ----------------------- | ---------------------------------------- |
| Type of issue           | Support                                  |
| OS version (server)     | CentOS 7                                 |
| OS version (client)     | 7.8.2003                                 |
| PHP version

[2021-01-13 13:04] iglocska commented on #6836
@Golbark is right it should never get pushed, that seems like a bug indeed. The only exception is "local" sync servers.

[2021-01-13 13:07] iglocska commented on #6838
Ah totally missed this issue, just saw the PyMISP side of things. Will have a look at the proposed changes - got any example payloads that fail with the current one?

[2021-01-13 13:13] lfortemps commented on #6836
Just to clarify, the issue I mentioned was with the pull. I have also tested the push and in that case it works as expected.

[2021-01-13 13:49] iglocska commented on #6836
Apologies, should have put synced, not pushed, indeed :)

[2021-01-13 15:22] github-germ commented on #6838
Hi @iglocska -- Thanks for jumping in here!!

I tested 3 entry points from the client into the server -- I believe this covers all possibilities, but hope you can make sure:
[code]

I found that all the changes in my proposal were necessary in order for all three server entry points to detect object duplicates with the exception of this portion: both methods work -- just wasn't sure which one was

[2021-01-13 18:49] github-germ commented on #6838
**QUESTION**

Forgive me as I am climbing the learning curve on server side code...

Is it possible that with the client setting `breakOnDuplicate` on each object with a large ingestion that there's a performance challenge with the `find` being called on each object?

If that is the case, is there another approach, e.g. using an in-memory cache of the existing Event objects vs. hitting the db on e

[2021-01-13 20:22] github-germ commented on #5257
If this seems acceptable, based on the revision being considered in https://github.com/MISP/MISP/issues/6838 I'd suggest adding the same logic to not log a duplicate object if `ignoreDup` in two functions in `MispObject.php`:
* `saveObject`
*  `captureObject`

Thanks.

[2021-01-13 21:12] chrisinmtown commented on #5004
I'd like to report we see many occurrences of this error when adding objects to a version 2.4.133 MISP server. The server is relatively lightly loaded, there are few jobs running. The theory about a database that is starved for resources is not likely for us, that box is bare metal (not virtual) and has main memory size of at least 10x the database size, and Mysql has been configured to use most o

[2021-01-13 21:14] chrisinmtown commented on #5004
It would be REALLY helpful if the CIRCL team would please answer this question.

[2021-01-14 03:41] denny-lclin opened #6855 "stix2 to misp convert scripts - Missed observed-data parsing method"
In MISP/app/files/scripts/stix2/stix2misp_mapping.py , the observed-data type to parse method map has a parse method  ```parse_ip_address_observable``` for type 'ipv4-addr'. However, there's no   ```parse_ip_address_observable```  in MISP/app/files/scripts/stix2/stix2misp.py, result in throwing exception.

*If you would like to report a bug, please fill the template bellow*

### Work environment

[2021-01-14 07:11] iglocska commented on #6838
Yeah indeed. I see what changes you wanted there, the original intent of this function was to purely work for the objects/add function as a somewhat undocumented change. For full event edits this will indeed not be great.

[2021-01-14 07:26] sirajnp opened #6856 "Unable to filter API attribute query using value field"
Team,

We are using MISP version 2.4.134, I'm unable to query MISP API using attribute value OR type field. Query does work based on tags, event id, to_ids values but not on value and type fields. Is it a bug on this specific version?

[2021-01-14 12:37] BurakOzgen opened #6859 "MISP Syslog Problem"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Ubuntu
| OS version (client)       | Ubuntu
| PHP version               | 7.2
| MISP version / git hash   | 2.4.135
| Browser                   | Chrome

### Support Questions
Hello,

I have two MISP in my environment. One

[2021-01-14 13:24] The-July-Plot commented on #5785
Some links are hardcoded to 8443 though?

[2021-01-14 15:31] github-germ commented on #6838
So... is there a better way to implement object a bulk dedup for PyMISP `update_event` and `add_event` that performs reasonably well? If not, then it seems the alternative is for clients to pull down the full event and dedup there, which in the past was a performance issue for large events.

[2021-01-14 15:49] iglocska commented on #6838
I'll add something that caches it, it just wasn't the initial objective of the feature ;) It does make sense though.

[2021-01-14 23:57] alecisec opened #6864 "Separate user data from program data"
This should be flagged as a feature request

The user data created such as attachments and taxonomies is currently muddled together with data that exists in a 'base install' of MISP.

This means that in any implementation where the install is independent of the user data (i.e. docker) the user data is clobbered by the default supplied files.

This extends to the entire /MISP/app/files folder.

Sug

[2021-01-17 06:20] SteveClement commented on #6850
I will try to fix this in the coming week.

[2021-01-17 16:23] dionita-bd commented on #6780
Anything I can do to speed this up? I'd push the changes into develop, but I don't have write access. We need this for a project we're working on at my company. Thanks!

[2021-01-18 11:47] NomisRenarc opened #6875 "Org Config - Bind user accounts to domains"
Hi all,

with this portion of the configuration, surely your input domains, such as your internal email domains when input should prevent other domains not in the config from being used as part of the user registration process.

input domains such as:
mea.abc.com
affiliate.com

when manually creating another user, using a Gmail address it still allows this non-registered domain/email address.
I ca

[2021-01-18 15:40] cudeso opened #6876 "Maintain sort order when importing events via feed preview"
The sort order in the feed preview (for example '/sort:date/direction:desc') is not maintained after importing an event. The sort order is set to the default sort after the import.

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| MISP version / git hash   | 2.4.136

### Expected behavior

Maintain the sort order in the feed preview af

[2021-01-18 16:21] cudeso opened #6877 "Unable to edit / tag an element via Event Graph , errors in event-graph.js"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (client)       | Win 10
| MISP version / git hash   | 2.4.136
| Browser                   | Firefox 84 and Chrome 87

### Expected behavior

Editing (tag) elements from Event Graph.

### Actual behavior

When I open an event, click Event Graph

[2021-01-18 16:37] luna7391 opened #6878 "MISP Internal Instance not Pushing Events to External Instance"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | RedHat
| OS version (client)       | Win10
| PHP version               | PHP ini path:… /etc/opt/rh/rh-php71/php.ini
||PHP Version (>7.4 recommended): 7.1.8 (Version unsupported, update ASAP)
||PHP CLI Version (>7.4 recomm

[2021-01-19 07:26] marjatech commented on #6829
Any Update on this?

[2021-01-19 15:04] cudeso opened #6882 "UI improvement: add a space between event contributors"
There is no visual seperation between the list of contributors to an event. If the contributors are not represented with an icon then this clutters the event interface (contributors are listed as one long string).

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| Type of issue             | Bug
| MISP

[2021-01-19 15:35] mokaddem opened #6883 "Prevent server from returning too large responses"
- Adding a default pagination is *dangerous* as we will have lots of users not realizing they are missing data.
- Also depending on the returned format, silently adding the pagination may cause issues (especially for aggregation)
- Proposed solution:
    - If the request is done without filters and the response becomes too large, an error should be returned (HTTP 403 - Resource requested too large

[2021-01-19 15:49] adulau commented on #6883
Indeed. I would also propose in the error or return headers, a solution/example how to use pagination based on the query sent.

[2021-01-19 16:00] cudeso opened #6884 "Event history shows history for all contributors when selecting 'history for of one contributor'"
The event history shows the history / changes for all contributors, regardless if you select a contributor or not.

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| MISP version / git hash   | 2.4.136

### Expected behavior

In line with the documention, only get the history per contributor if you sele

[2021-01-19 16:21] cudeso opened #6885 "Event time line "Characters to show" has no effect and resets UI / overview"
In the Event Timeline clicking "Display Timezone" and then moving the slider "Characters to show" or clicking "display with current timezone" resets the timeline graph, displaying no attributes.

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| MISP version / git hash   | 2.4.136
| Browser

[2021-01-19 17:55] chrisinmtown opened #6886 "MISP serverSettings, diagnostics section mis-reports PHP memory_limit showing M not G"
Using MISP version 2.4.133.  The server settings, diagnostics section controller seems to mis-parse a gigabyte value.  The server's PHP ini file has this entry:
[code]
But the web UI at https://misp.my.company.com/servers/serverSettings/diagnostics shows this:
[code]

I think the problem is near here:
https://github.com/MISP/MISP/blob/0859f0d0601fb975f3f5cff24204474e88e04aae/app/Controller/Servers

[2021-01-19 18:48] chrisinmtown commented on #6883
Please consider if you really want to use 403 -- Forbidden.  This isn't really a client error, the client cannot know the size of the response up front, so I don't think it's a client (4xx series) error. Instead I think it's a server (5xx series) error.  What about 507  - "insufficient storage"?  That seems closer to your intent here.

But what is "too large"? I should be able to download a gigaby

[2021-01-19 21:59] adulau commented on #6883
I think @mokaddem means 413 not 403. https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/413

The issue is not too large but the processing time too which leads to time-out and so on.

[2021-01-19 22:48] chrisinmtown commented on #6883
Error code 413, as I understand it, means the client sent a REQUEST that is too large for the server's liking.  This error code does not seem like a good fit for the requirement you described, blocking a large RESPONSE.

[2021-01-20 00:01] LFED-FP opened #6887 "Connection aborted. RemoteDisconnected('Remote end closed connection without response')"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu I believe
| OS version (client)       | MacOS
| PHP version               | 7.2
| MISP version    | 2.4.133
| PyMisp version    | 2.4.133

In Dockerfile
[code]

In MISP ui
[code]

### Expected behavior
I have purpose wr

[2021-01-20 08:41] JakubOnderka commented on #6882
Thanks for report, this is already fixed in `develop` branch and it will be included in next release.

[2021-01-20 08:49] tarekkilani opened #6891 "Issues in MISP integration with Cuckoo sandbox"
Hello,

Please i'm trying to integrate MISP with cuckoo sandbox and i face some issues.
I followed this tutorial : https://blog.rootshell.be/2017/01/25/quick-integration-misp-cuckoo/
and i can see results of cuckoo tests in MISP web interface.
But i can't see the inverse, i mean i don't see "MISP" tab in cuckoo web interface (please check the first screenshot in the tutorial).
How can i add "MISP"

[2021-01-20 13:49] #6852 closed, assigned to nobody

[2021-01-20 15:10] chrisinmtown commented on #6010
Thanks @mokaddem for explaining the server already supports deleting a batch of attributes by ID!  I wrote a PyMISP issue to add a method for deleting a list of attributes by ID.

[2021-01-20 15:42] anaike commented on #987
Hello,

I set up a MISP to MISP connection between one empty MISP instance (A) and another one that has more than 300k events (B). In one month the number of events that the MISP A fetched from MISP B is about 100k. To try to speed up the fetching process (and also because i saw that the size of the correlation table was growing exponentially), I disabled the correlation feature enabling the _MISP

[2021-01-20 16:02] github-germ commented on #6838
@iglocska committed https://github.com/MISP/MISP/commit/0a062215b8c5a50b8e1baebf9e37472d89d1b567

[2021-01-20 16:53] adulau commented on #987
Before doing anything, just upgrade to the latest version.

[2021-01-20 17:02] iglocska commented on #6838
Indeed, that should hopefully fix it ;)

[2021-01-20 18:30] chrisinmtown opened #6893 "Web UI pagination uses count of event object-attribute collections, not attributes"
The web UI seems to implement pagination based on the number of object-attribute collections, not the number of attributes within them, which can result in enormous pages and slow load times.

We are running MISP version 2.4.133 and starting to use object templates to create collections of attributes within a named object-attribute on events.

- Severe case: our dev server has an event with 2047 a

[2021-01-20 18:31] chrisinmtown commented on #6893
Possible dupe of https://github.com/MISP/MISP/issues/6287

[2021-01-20 18:36] chrisinmtown commented on #6893
Is it possible that the web UI is paginating on the OBJECT COUNT, without regard to the number of attributes in them?  Because in other events that use object-attribute collections I do see pagination being done.  Hmm I better update the title here.

[2021-01-20 20:33] JakubOnderka commented on #6893
You should try to update to latest version. It will not solve your problem completely, but at least generating and loading events with a lot of attributes is much faster now.

Exactly.

[2021-01-20 20:49] github-germ commented on #6838
@iglocska THANKS!!! What do you think about hitting this one also since it's related?
* https://github.com/MISP/MISP/issues/5257#issuecomment-758927498

[2021-01-20 21:12] chrisinmtown commented on #6893
Thanks @JakubOnderka  for confirming my suspicion.  That pagination approach is too simplistic for the data that we throw at MISP.

[2021-01-20 21:50] chrisinmtown commented on #6886
thanks @JakubOnderka for taking this one so quickly!

[2021-01-21 10:22] Rafiot commented on #4872
fixed by https://github.com/MISP/MISP/pull/6860

[2021-01-21 10:22] #4872 closed, assigned to nobody

[2021-01-21 10:45] Tubbs10 opened #6897 "Providing TAXII Feed from MISP?"
Is it possible to provide TAXII feed from MISP? What I understand is that TAXII-Server MISP add-on is just for pulling TI from TAXII feeds but not possible to share TI from MISP? Have I understood correctly? I cannot seem to find answer for this anywhere.

[2021-01-21 13:27] chrisinmtown commented on #6893
@PROTechThor please remove the "support" tag and add a "bug" or whatever tag.  I don't need support here. I understand how the web UI works now and I assert that the behavior is deficient, needs to be revised.

[2021-01-21 13:39] #6685 closed, assigned to nobody

[2021-01-21 13:49] mokaddem commented on #3629
Feature available via the API

[2021-01-21 13:49] #3629 closed, assigned to nobody

[2021-01-21 14:01] #6704 closed, assigned to nobody

[2021-01-21 14:06] mokaddem commented on #6712
@begunrom I believe you saw these entries by checking the `Debug mode: Reveal benign deltas` button.
If this is the case, feel free to ignore these.

[2021-01-21 14:06] #6712 closed, assigned to nobody

[2021-01-21 14:12] mokaddem commented on #6731
Hi,
You can disable the correlation for a specific attribute by passing the `disable_correlation` flag set to false.
i.e.:
[code]

[2021-01-21 14:12] #6731 closed, assigned to nobody

[2021-01-21 14:21] mokaddem commented on #6252
Hi,
Reported issue about address not found has been fixed in 4c6445acb89a6177d8417e775694bce32061e310.
Thanks for the report

[2021-01-21 14:28] mokaddem commented on #6753
Hey,
Any tools can integrate with the MISP REST API.
Useful resources:
- `/events/automation`
- `/servers/rest`

[2021-01-21 14:28] #6753 closed, assigned to nobody

[2021-01-21 14:36] mokaddem commented on #6777
It seems that your MISP instance is configured to use redis but the server is unreachable (connection refused).
Could you make sure that it is up and running?
Thanks

[2021-01-21 14:54] mokaddem commented on #6805
That's a tough question as it may vary from one instance to another. For examples, here is a non-exhaustive list of points that might affect the upper limit:
- Server hardware (CPU, SDD/HDD, memory, ...)
- Server configuration (max allowed PHP memory, ...)
- Type of data in the instance
    - Lots of connected (via correlation) elements
    - Highly contextualized data (taxonomies, galaxies)
    -

[2021-01-21 14:54] #6805 closed, assigned to nobody

[2021-01-21 14:59] #6819 closed, assigned to nobody

[2021-01-21 15:02] mokaddem commented on #6823
Hi,
Please have a look at these resources:
- `/events/automation`
- `/servers/rest`
Using the API and particularly the REST Search endpoint (for attributes) might be interesting for you.
When you have IoCs in MISP, you can easily export them with the MISP API to your favorite tool.

[2021-01-21 15:02] #6823 closed, assigned to nobody

[2021-01-21 15:06] mokaddem commented on #6832
That most probably means that your MISP instance is performing an update.
Please, wait for it to finish before undertaking manual steps.
Thanks

[2021-01-21 15:06] #6832 closed, assigned to nobody

[2021-01-21 15:13] mokaddem commented on #6847
Hi,
You probably want to use the MISP API for that kind of tasks: `/servers/rest`. There is also a python wrapper for MISP API: https://github.com/MISP/PyMISP
Cheers!

[2021-01-21 15:13] #6847 closed, assigned to nobody

[2021-01-21 16:16] chrisinmtown opened #6901 "Server builds but fails to send complete output on event with 2M attributes"
I cannot fetch a large event with the PyMISP get_event method, where "large" means the event has 36,266 attributes plus another 672,653 soft-deleted attributes. The server's reply is truncated mysteriously. This is 100% reproducible, please suggest what to check, I'll definitely collect more information to narrow this down.

The runtime from start to failure is about 70 seconds of wall time.  Whil

[2021-01-21 16:22] chrisinmtown commented on #6901
The PyMISP team tried to help me with this problem in https://github.com/MISP/PyMISP/issues/685, that issue is now closed since it doesn't seem to be a PyMISP problem.

[2021-01-21 19:52] demiscuzz opened #6902 "sxnippet is NOT installed."
I am trying to do a custom install of misp on ubunut 20 using the guide  @ https://github.com/MISP/MISP/tree/2.4/INSTALL   I have followed the guide exactly and i am getting and error when i run ./INSTALL.tpl.sh
xsnippet is NOT installed. Clone the repository below and copy the xsnippet shell script somehwere in your $PATH
git clone https://github.com/SteveClement/xsnippet.git

# echo $PATH
/usr/l

[2021-01-22 01:00] chrisinmtown commented on #6902
Um, did you mean sxnippet or xsnippet? And maybe this is a dumb question in response, but after you cloned Steve Clement's repo, where did you copy the xsnippet shell script?  What is the output from the shell command `which xsnippet` ?

[2021-01-22 08:18] horialex commented on #6847
Thanks, also do you need to do something in particular to receive an email every time an event / attribute is created? or you just need to set your email address for the account
Thanks.

[2021-01-22 09:43] demiscuzz commented on #6902
Just started a fresh vm same issue.  Yes I did mean xsnippet. As for copying it I followed the guide: "https://github.com/MISP/MISP/tree/2.4/INSTALL"

"You will need xsnippet that extracts bits of shell code from the .md files:

mkdir -p ~/bin
git clone https://github.com/SteveClement/xsnippet.git
cd xsnippet; cp xsnippet ~/bin/
export PATH="$PATH:~/bin" # By now you are aware that this needs to b

[2021-01-22 09:43] #6902 closed, assigned to nobody

[2021-01-22 09:47] demiscuzz commented on #6902
Thank you for your reply. You prompted me to learn what the command 'which' does and this helped me find the issue.
I followed the guide 'https://github.com/MISP/MISP/tree/2.4/INSTALL'
In the guide it says to copy the xsnippet into ~/bin . This was in my $PATH but for some reason not working. I copied xnsippet into /usr/local/sbin and then which xsnippet showed the path and now the install works.

[2021-01-22 12:29] andrew134598 commented on #2774
The feed still doesn't work. Please advise.

[2021-01-22 12:45] iglocska opened #6903 "Use tag collections as a filter via restsearch"
Currently one can filter based on a or a list of tags, but there's no way to implicitly search for all tags contained within a collection.

What would be nice to have as a new filter:
[code]
This would then return anything that matches all tags found in the colleciton.

[2021-01-22 13:19] mokaddem commented on #6766
Hey,
I fixed a bug that could be related to your issue (in af482e7eaf617bce40ba9775e41e2cc2c54b7d69).
If the fix doesn't work for you, here are the step I took and are working as intended:
- Create an event `A`
- Create an event `B` extended `A`
- Create an attribute in event `A` and another in event `B`
- Create an event report `X` in event `B`
- Event report `X` has access to all attributes in b

[2021-01-22 13:19] #6766 closed, assigned to mokaddem

[2021-01-22 13:34] mokaddem commented on #6808
In order to change the name of the report or the distribution, you have to
- Edit an event report via the special edit view
- Click on the `Edit Event Report` button in the sidemenu. This will redirect the user to `eventReports/edit/[eventReportID]` and allow the edit of said fields

[2021-01-22 13:34] #6808 closed, assigned to mokaddem

[2021-01-22 13:39] adulau commented on #6808
Ok I'll update the doc then ;-)

[2021-01-22 13:47] chrisinmtown commented on #6901
I've further narrowed this down with cURL to eliminate a PyMISP client problem. I'm running curl on the same machine where the web/REST server runs. Just like with PyMISP I can fetch the event contents using cURL without the soft-deleted attributes, but the server fails to send the whole JSON if I request the soft-deleted attributes. Here's the run including the error message from curl.  You can s

[2021-01-22 13:53] #6689 closed, assigned to mokaddem

[2021-01-22 13:53] #6762 closed, assigned to mokaddem

[2021-01-22 13:57] mokaddem commented on #6689
Hey
Thanks! It's done

[2021-01-22 14:06] chrisinmtown commented on #6689
Thanks for accepting (a revised version of :) my proposal but .. this still needs an automated test case.

[2021-01-22 14:14] mokaddem commented on #6762
Thanks for the report!

[2021-01-22 14:43] chrisinmtown commented on #6901
Latest attempt at narrowing down the problem. This does not appear to be caused by soft-deleted attributes, the problem seems to be related to the size of the data only. Below is the output when I fetch an event that has 2,063,233 active attributes without requesting the deleted ones. The server sends *no* data at all. The debug and error log files remain silent.
[code]
Again please suggest ways t

[2021-01-22 15:01] iglocska commented on #6901
Interesting, haven't seen the truncation happen yet, though that event seems utterly massive.

[2021-01-22 15:06] iglocska commented on #6901
I know you mentioned that you didn't update yet, but could you update your instance and try it again? @JakubOnderka recently reimplemented the way we serve large events via the API and it is now streamed instead of sent in one shot, so with extremely large events this should go a long way.

[2021-01-22 15:09] iglocska commented on #6893
Indeed, this is a limitation of the current approach that was built with smaller events in mind (also it explains the horrid performance with large events). I've started working on an alternate implementation for large events, where loose attributes and objects are paginated in two separate lists. Just need to find the time to get back to it.

[2021-01-22 17:44] chrisinmtown commented on #6901
We are scheduled to update to 2.4.137 at the end of January, I will retest this then.

[2021-01-24 13:34] JakubOnderka commented on #6901
Hello, did you also check php-fpm error logs?

[2021-01-24 13:48] chrisinmtown commented on #6901
Thanks @JakubOnderka for the suggestion but our php.ini file has these entries:
[code]
I think I should change both of those and re-run the fetch operation.  Anything else I should turn on, configure or enable?

[2021-01-24 19:57] juju4 opened #6904 "[PHP8] Error: Unknown named parameter $subject"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu (github action)
| OS version (client)       | N/A
| PHP version               | 8
| MISP version / git hash   | 2.4 latest (and older)

### Expected behavior

Since Dec 14, my ansible MISP role CI was failing with above

[2021-01-25 10:09] iglocska opened #6905 "Reconsider the concept of empty events"
Currently, we have a mechanism in place that blocks empty events from being synced - this is working generally well and is useful.

However, since the introduction of galaxy 2.0, the concept of empty events has shifted and an event with no attributes/objects might still be carrying valuable data via clusters and their relationships.

[2021-01-25 10:15] otgrkiss commented on #5671
Do you have any updates on this?

[2021-01-25 12:20] #6877 closed, assigned to mokaddem

[2021-01-25 12:44] #6885 closed, assigned to mokaddem

[2021-01-25 13:19] mokaddem commented on #6477
Closing this as it's already feasible to do via `events/restSearch`.
All the search criteria described above are related to the event itself. Thus, filtering events then collecting their associated event report can be done.
Feel to re-open another issue if something not already feasible is needed.
Thanks!

[2021-01-25 13:19] #6477 closed, assigned to mokaddem

[2021-01-25 13:45] mokaddem commented on #6678
Hi,
I'm not familiar with the OS you are using, so sorry in advance.
Did you encounter any issues while trying to update to a newer PHP version?
If the newer PHP version installation complete, did you restart apache?
Thanks

[2021-01-25 13:49] mokaddem commented on #6878
It seems your MISP instance is expecting to find some file in the displayed directory but they don't exist.
- Could you make sure that you don't have a permission issue?
- Can you go to some of the event and check for the presence of any `shadowAttributes` (also named `proposals`)
    - The event ID can be taken from the path: `/var/www/MISP/app/files/shadow/[event_id]/[proposal_id]`
Thanks!

[2021-01-25 14:58] luna7391 commented on #6678
Hi Sami, thanks for your response.

No there weren't any issues running the PHP update other than after running "yum install php php-common php-opcache php-mcrypt php-cli php-gd php-curl php-mysql -y" I checked the PHP Extensions in Diagnostics and could see some of the CLI PHP Extensions hadn't updated, I re-ran this command to include those extensions (such as mbstring and xml) which resulted in

[2021-01-25 16:35] JakubOnderka commented on #6904
Thanks for report, but PHP8 is not supported yet.

[2021-01-25 17:39] luna7391 commented on #6878
Hi Sami,

Permissions seem fine, after a version update I run:
find /var/www/MISP -type d -exec chmod g=rx {} \;
chmod -R g+r,o= /var/www/MISP/
chown -R apache:apache /var/www/MISP/

The /var/www/MISP/app/files/ doesn't contain a shadow folder  but there are what look like event_id's in the files folder:
![MISP Internal Push Issue 1](https://user-images.githubusercontent.com/38982979/105742779-d66

[2021-01-26 00:02] andrew134598 commented on #2383
@iglocska : Your proposal doesn't work. You should use "csv" instead of "text" as a returnFormat

[2021-01-26 03:19] Malwar3Ninja opened #6907 "Elasticsearch integration"
Hi Team,

I wanted to check if there was a way to easily get my IOC's from MISP to elasticsearch ?

Thanks

[2021-01-26 08:25] marjatech opened #6908 "PyMISP throws critical error for missing optional dependency (lief)"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| OS version (client)       | Ubuntu
| PHP version               | 7.4
| MISP version / git hash   | 2.4.137
| PyMISP version             | 2.4.137

### Expected behavior
fileobjects (lief) beeing an optional dependency

[2021-01-26 09:24] mokaddem commented on #6847
You can setup your profile in MISP to send emails to the associated email address whenever an event is published.
Just make sure you have the `Receive email alerts when events are published` flag turned on in your user profile.

[2021-01-26 09:25] cudeso commented on #6907
I used the Filebeat module to push IOCs to Elastic. See: https://www.vanimpe.eu/2021/01/13/use-elastic-to-represent-misp-threat-data/

Also have a look here for enrichments: https://www.securitydistractions.com/2019/05/17/enriching-elasticsearch-with-threat-data-part-1-misp/

[2021-01-26 10:14] mokaddem commented on #6678
Throwing a wild guess but could it be that you have to enable the newer PHP version on apache side?
With something like this
[code]

[2021-01-26 11:29] iglocska opened #6909 "Be able to create delegation "contracts""
In some scenarios, two parties should be able to enter an automatic delegation relationship, where any delegation request from a given organisation being issued to a given recipient organisation is automatically accepted and handled.

For example, if members of an ISAC want to engage in such a relationship with the ISAC itself, the latter should be able to issue such a "contract", meaning that any

[2021-01-26 12:14] #6908 closed, assigned to nobody

[2021-01-26 12:14] Rafiot commented on #6908
You can ignore it, and it will be gone in the next release.

Lief is only useful if you import PE/ELF/Mach-O files over the web interface. If you do not do that, it is totally optional, and if you do that, it will just skip the PE/ELF/Mach-O parsing.

Out of curiosity, why is lief not working for you?

[2021-01-26 16:02] marjatech commented on #6908
I rolled back pymisp by one version in the meantime, since i got a lot of error output by my automation ;)
I already noticed it can be ignored, but I don't really want to skip critical error-outputs too.

About lief:
It somehow got stuck always at wheel build in some kind of endless build, just turning the indicator.
Checked on two machines and also updated setuptools before, but no success.

[2021-01-26 16:08] Rafiot commented on #6908
Right, that's weird, I've seen it taking a very long time on some machines, but not always. In theory, the wheel is directly downloaded, no need to build it.

I'll have a look at it.

[2021-01-27 00:35] chrisinmtown opened #6910 "Document the Load default feed metadata feature"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       |  RedHat,
| OS version (client)       | all
| PHP version               | 7.4
| MISP version / git hash   | 2.4.133
| Browser                   | all

### Support Questions

Please advise of the right way to update default

[2021-01-27 00:47] juju4 commented on #6904
I saw the PR, just highlighting an issue point.
If already identified, that's fine and issue can be closed

[2021-01-27 01:41] chrisinmtown opened #6911 "Drop the AlienVault reputation generic feed from defaults.json"
Would you please check the default feed named "alienvault reputation generic" ?

In the latest commit on branch 2.4, file app/files/feed-metadata/defaults.json defines a feed with that name and URL https://reputation.alienvault.com/reputation.generic. That URL now answers an empty document, not the expected CSV data. The last data we were able to pull from that feed is dated 2020-06-10. Grasping a

[2021-01-27 08:32] mokaddem commented on #6910
I believe the `load default feed metadata` could be improved to merge divergences.
However, users should be the authority in deciding what to keep as merge conflict will happen.

[2021-01-27 09:11] marjatech opened #6912 "Unselectable (hidden) Tags usable by anyone"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| OS version (client)       | Win10, Ubuntu
| PHP version               | 7.4
| MISP version / git hash   | v2.4.137 (99b405b73e34ff3fc84af642d14d4e8c99eff7ba)

### Expected behavior
If a Tag is edited to be unselectabl

[2021-01-27 09:33] demiscuzz opened #6913 "Fresh Install of misp on ubuntu 20.04 has minor issues"
### Work environment

| Questions                        | Answers
|----------------------------|--------------------
| Type of issue                   | Support
| OS version (server)          | Ubuntu
| OS version (client)           | Win10
| PHP version                     | 7.4
| MISP version / git hash   | 2.4.137 (b86c58c8ae24747da06878de178de1cb067a53e0)

### Support Questions

In the Diagno

[2021-01-27 10:18] chrisinmtown commented on #6913
it's probably a good idea to list the database issues - what parts of the schema don't match. Also post the version of MariaDB that your Ubuntu uses.

[2021-01-27 10:20] chrisinmtown commented on #6910
Thanks @mokaddem but would you please say more, or point me to documentation of the `load default feed metadata` feature?  Of course we need to decide what feeds to keep. We are trying to develop a local procedure for accepting CIRCL changes in upgrades. For example, should we delete all the default feeds and start afresh each time?

[2021-01-27 10:31] demiscuzz commented on #6913
My miradb version is: 10.3.25-MariaDB .  If I click the debug button it shows the schema differences.  The only difference I can see is that its set to null.  There are hundreds that have this same discrepancy. Do I have to log into the Database and manual run the recommended code for every one?
![Capture5](https://user-images.githubusercontent.com/50229490/105978628-aaaab680-608a-11eb-93bb-56e8bf

[2021-01-27 14:39] chrisinmtown commented on #6910
Let me clarify my support request.  Please tell me, exactly what does the `load default feed metadata` feature do today when identical or similar rows exist in the feeds table?  I suppose I will have to go read the code, but I'm not a PHP expert.  Thanks in advance.

[2021-01-27 14:43] chrisinmtown commented on #6591
PR #6670 has been merged to branch develop, you all want to keep this open until that branch is merged to 2.4?

[2021-01-27 15:06] chrisinmtown opened #6915 "Enable name column on Feeds page to sort the table rows"
Cannot sort feeds table by name in the web UI Feeds page https://misp.mycompany.comfeeds/index/scope:all because the column head "Name" is not a link / not clickable.

I'm using version 2.4.133 on the server, viewing the page in Firefox version 84.  Is the Name column enabled for sorting in more recent versions or different browsers?  In other words, am I missing something obvious?

**Describe the

[2021-01-27 16:11] chrisinmtown commented on #6910
I propose this text for your documentation/user guide:

The 'Load default feed metadata' feature creates new feeds by importing the entries in file `app/files/feed-metadata/defaults.json` to the database.  Existing feeds are not changed.  The feature checks for duplicates using the feed URL.  If a feed with the same URL already exists in the database, that entry is not imported. This ensures that

[2021-01-27 17:05] iglocska commented on #6913
Those are benign differences, safe to ignore.

[2021-01-27 17:06] iglocska commented on #6913
For the git issue, make sure that /var/www/MISP/.git is assigned to the apache user. This happens typically when you clone / update with the root user.

As for the modules - they're optional, but recommended, they allow you to run enrichment services, import/export in some additional formats, etc.

[2021-01-27 18:34] JakubOnderka commented on #6911
Hello, thanks for report, but It works for me from command line by `curl` and also in MISP:

[code]

[2021-01-27 18:58] chrisinmtown commented on #6911
Thanks for checking  @JakubOnderka.  Must be something on the network I'm using.  Sorry to waste your time here.

[2021-01-27 18:58] #6911 closed, assigned to nobody

[2021-01-27 20:16] #6915 closed, assigned to nobody

[2021-01-27 20:36] chrisinmtown commented on #6915
Thanks @JakubOnderka

[2021-01-27 21:10] github-germ opened #6917 "Bug with deduplicating MISPObjects within an Event via breakOnDuplicate"
2.4.137

I believe there is a bug with the new feature to dedup objects when ingested into an event as per #6838. This occurs when setting `breakOnDuplicate=True` while adding an object to a NEW event --  the event is created; however; the object is not added to the event.

I am attaching a test script. Usage is:
[code]

**Test Case Results**

There are more permutations that can be tested, but I

[2021-01-27 21:54] abeDCP opened #6918 "Problem with synchronisation between remote instances"
Hello team,

I have configured an instance to synchronise with a remote instance, but I can't get it to synchronise, I describe the configuration.

I have two organisations (orgA.ServerA and orgB.ServerB).
First, I create the Local organisation representing the organisation we want to synchronise (orgB in ServerA -> orgB.ServerA)
- check local organisation
- Fill in the name MY-SYNC-CERT
- Set the

[2021-01-27 22:52] Sp-TT commented on #6824
Having the same issue, and notice failed to pull attributes with sightings

[2021-01-28 05:28] imidoriya commented on #6277
To follow up on my last comment, I found the code that is responsible.  I'm not sure if it's intentional or not.  This appears to actually do the check, but IMO these distinctions are equivalent based on MySQL/MarinaDB, not benign errors.  It's not fixable with the SQL statement as that's just the way the DB does it.

https://github.com/MISP/MISP/blob/531e920b422a2907ba8d3e831b59a8e7957a4f9f/app/M

[2021-01-28 05:58] vaibhavpandey86 opened #6919 "MISP Automation , not working properly. event wise data is not getting downloaded."
Hello,

I am trying to automate the process of suricata rules export . I am trying this API format :
https://[misp url]/events/nids/[format]/download/[eventid]/[frame]/[tags]/[from]/[to]/[last]

my final API would be, let say if I want to export just for event 6:
https://[misp url]/events/nids/suricata/download/6

the above event wise api is not working for any specific event id, it is exporting a

[2021-01-28 08:23] iglocska commented on #6277
Yeah most of the benign errors are really just flavour differences between the DBs. We basically still show them in case we didn't catch something relevant and we ourselves need to debug it, but for all intents and purposes we ask every user of the system to just ignore benign errors altogether. Maybe we should just hide them completely.

The idea to make them equal would indeed be another option!

[2021-01-28 10:22] itsnotabhi opened #6920 "Incorrect mixbox version installed, found 1.0.5, expecting 1.0.3"
I have a fresh misp installed
When i try to import stix files i get the following error
"Could not import STIX document: Issues while loading the stix file. Please check whether the dependencies for STIX are met via the diagnostic tool."

And in the diagnostic page i have the following

Current libraries status…Some versions should be updated:
STIX library version…OK
CYBOX library version…OK
MIXBO

[2021-01-28 10:57] garrit-schroeder opened #6921 "/var/www/MISP/app/Console/cake Admin updateGalaxies fails on clean install of MISP"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Debian
| OS version (client)       |
| PHP version               | 7.3
| MISP version / git hash   | 2.4.137
| Browser                   | If applicable

### Expected behavior

/var/www/MISP/app/Console/cake Admin updateGalaxi

[2021-01-28 11:14] chrisinmtown commented on #6917
what is `breakOnEvent`?

[2021-01-28 11:19] garrit-schroeder commented on #6921
Updating the ObjectTemplates seems to be broken too

root@a5caaa24a75a:/var/www/MISP/app/Console# /var/www/MISP/app/Console/cake Admin updateObjectTemplates

Welcome to CakePHP v2.10.22 Console
---------------------------------------------------------------
App : app
Path: /var/www/MISP/app/
---------------------------------------------------------------
Usage: /var/www/MISP/app//cake Admin update

[2021-01-28 11:21] chrisinmtown commented on #6904
Hi CIRCL, the PHP8 issue is frequently mentioned at https://gitter.im/MISP/Support.  Seems to affect people who update their Ubuntu 20.04.  Perhaps Ubuntu 20.04 just upgraded to PHP version 8 recently?  I'm just asking, maybe this deserves some priority -- to show an error and/or simply don't start?

[2021-01-28 11:47] garrit-schroeder commented on #6921
After a bit more investigating the problem:

The command does succeed **but only after** one successful user login from the web interface.

[2021-01-28 11:54] iglocska commented on #6904
Yeah looks like they have indeed. I'll add a banner so people are aware.

[2021-01-28 12:18] iglocska commented on #6904
I've pushed a warning, if you log in and the instance is running PHP8 you'll have an error banner telling the user.

![image](https://user-images.githubusercontent.com/3668672/106137644-46135880-616b-11eb-9ded-93ebd73ee3f6.png)

[2021-01-28 13:20] Rafiot commented on #6904
Just making sure: if PHP8.0 is used, it will never fail before the user is logged in and reach the index?

[2021-01-28 13:42] #1747 closed, assigned to nobody

[2021-01-28 13:44] garrit-schroeder commented on #6921
The command works after the web interface is loaded once. It has something to do with the db version, I think.

[2021-01-28 13:46] garrit-schroeder opened #6923 "Cake updating Object Templates fails"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Debian
| OS version (client)       | Debian
| PHP version               | 7.3
| MISP version / git hash   | 2.4.137
| Browser                   | If applicable

### Expected behavior

The Command  /var/www/MISP/app/Console/cak

[2021-01-28 14:15] chrisinmtown commented on #6923
The `updateObjectTemplates` feature requires a user ID.  The usage message that shows `[user_id]` in square brackets, suggesting it's optional, is flat-out misleading.  A user ID is required.  However, you can use the completely bogus user id '00' (that's zero-zero, or aught-aught :) and it ought (joke!) to work.  At least it does for me in version 2.4.133.

[2021-01-28 14:17] chrisinmtown commented on #6715
The fix looks very good. Because it's a minor fix, and based on your new release-fixes-quickly approach published with the release of version 2.4.137, I expected this to be committed straight to branch 2.4. But instead I see it's committed to branch `develop`.  Did I misunderstand the scope of this fix and/or your fix-vs-feature branch usage?

[2021-01-28 14:20] garrit-schroeder commented on #6923
Maybe I misunderstood something. So updating object templates is done on a user level. Not globally?

[2021-01-28 14:22] chrisinmtown commented on #6923
Sorry now you've revealed my ignorance, I don't fully understand why a user id is required or what actually happens deep in the server.

Once you add a user-id argument, *then* you may hit issue #6715.  A fix is in the works for that one already tho.

[2021-01-28 14:26] github-germ commented on #6917
Thanks. Just a typo in the description. Revising that now. The code uses the correct `breakOnDuplicate`

[2021-01-28 14:31] imidoriya commented on #6277
Yeah, it's an OCD thing.. I can't look at something that reports to be an error and not want to fix it. haha  The little alert icons on the Server Settings & Maintenance bar drive me crazy too. Yes, I know I've disabled email and correlation, it's intentional not a critical error! lol

[2021-01-28 17:05] JoePJisc commented on #6252
I've just upgraded to v2.4.137 and I'm still seeing:

[code]

[2021-01-29 01:59] security-penguin commented on #4535
Any update on this? I am still experiencing this and I see a technical work around is to add settings to NGINX but I don't have NGINX in path for my deployment. @PROTechThor was it closed as it was fixed (if so I'll up a new issue) or was it closed because of the NGINX workaround?

[2021-01-29 06:17] enjeck commented on #4535
@designing-penguin

[This PR](https://github.com/MISP/MISP/pull/5974) was meant to address the issue, so I assumed it was fixed. I'll reopen it then

[2021-01-29 11:30] marjatech commented on #6829
Still waiting for this 😞
Since I already did a PR, can someone merge this, please?

[2021-01-29 14:30] iglocska commented on #6829
Apologies, it's merged into the develop branch as of now, it will be included in the next release. Thanks for the fix!

[2021-01-29 15:29] JakubOnderka commented on #6901
@chrisinmtown: Thats OK, but PHP-FPM has own logs. Usually they are stored in `/var/log/php-fpm/`.

[2021-01-29 15:49] HakCode opened #6928 "Event Template Mislabeling Attributes (Network Activity)"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | RedHat
| OS version (client)       | Win10
| PHP version               | 7.2.27
| MISP version / git hash   | 2.4.136

### Expected behavior
When using a Template to populate events the Template Element for the Category Networ

[2021-01-29 16:53] github-germ opened #6929 "HOWTO Manage Retention of Soft Deleted Attributes?"
Is there any documentation on the value proposition of MISP attribute soft deletion and more importantly how best to manage the retention and purge of these soft deleted attributes?

Perhaps soft deletion exists for GDPR purposes. However, we are not aware of any method to age-out purge, or disable soft deletion that occurs with Delta Merge Fixed Event Feed processing.

We have various custom Fixe

[2021-01-29 17:33] a9c2n11 opened #6930 "Edit remote event between connected communities - IMPORTANT -"
We have the ability to edit a remote event with an admin user role in a connected communities context. We want to ask if this is a bug or an expected feature, our installed MISP version is  v2.4.137 (b86c58c8ae24747da06878de178de1cb067a53e0).
In case this is an intended feature could you suggest a workaround to avoid this behaviour? in our context could be very important to disable this possibilit

[2021-01-29 19:23] chrisinmtown commented on #6901
Thanks @JakubOnderka on my RHEL7 system I found config file `/etc/opt/remi/php74/php-fpm.conf` that specifies error log file `/var/opt/remi/php74/log/php-fpm/error.log`. In that directory I also found file `www-err.log`.  So I re-ran curl to reproduce the get-large-event failure, but unfortunately neither of those two files changed.  :(  Anywhere else to look for log files?

[2021-01-29 19:25] chrisinmtown commented on #6929
Hard-delete operations on soft-deleted attributes can require as much as 1-3 seconds.  The speed seems to correlate well with the number of non-deleted attributes on the event: it's very slow to hard-delete an attribute on events with 100K+ attributes; fairly quick to hard-delete an attribute on events with 1K attributes.

[2021-01-29 19:42] iglocska commented on #6929
It has nothing to do with compliance and everything to do with revocations. MISP is built as a sharing platform, as such if I delete an attribute on my end, my peers have no way of knowing that this attribute needs to be removed. Soft deleted attributes are propagated the same way as regular attributes, informing the other MISPs that they need to flag the attribute as deleted.

[2021-01-29 19:51] iglocska commented on #6930
It is an unavoidable evil. MISP transfers data on behalf of other MISPs, so in a topology where you have:

MISP A, B, C, D, E
[code]
With A pushing to B + C, B and C pushing to D and D pushing to E

E has no way to determine if an event that D propagates on behalf of A has in fact been tampered with by B or C or not.

We do have some protective measures in place: Remote edits are not possible to t

[2021-01-29 19:56] github-germ commented on #6929
Thanks. OK, that does make sense. For those sites that are not sharing, is there a method to make the Delta Merge deletions hard vs. soft? If not, might that be a new feature?

[2021-01-29 20:03] iglocska commented on #6929
Should be a new feature and it would make a lot of sense. We have something similar for the regular delete, where if an event has not been published yet it hard deletes by default. Maybe something to think about would be an instance wide toggle for hard deletes, your use case of just ingesting data would fit in well.

[2021-01-29 20:09] github-germ commented on #6929
Excellent. Do you want to create a feature request to get the wording accurate or suggest herein and I'll be happy to create?

Also, any chance of a solution to a more expeditious method to delete soft-deletes, e.g. "delete all soft deletes on a specified event" or agreeing to move forward with #689, something more swift done in bulk on the server side?

[2021-01-29 20:56] chrisinmtown commented on #6910
Opened in the wrong repo.  Please see https://github.com/MISP/misp-book/issues/206

[2021-01-29 20:56] #6910 closed, assigned to nobody

[2021-01-29 23:05] github-germ opened #6931 "Can correlations table contain attribute_id or 1_attribute_id that no longer exists?"
2.4.133

Looking for guidance on this mystery. Many thanks!

We are seeing rows in the `correlations` db table that point to correlated attribute IDs that no longer exist in the `attributes` table.

**Is this a valid condition, and if not, any idea what might cause this situation?**

One far fetched hypothesis is that root cause may be our PyMISP experiments of hard deleting soft-deleted attribute

[2021-01-30 00:41] chrisinmtown commented on #6931
This motivated me to check the table definition, and I was a little surprised to see that the MISP schema doesn't use a foreign key constraint, maybe for performance reasons?
[code]

[2021-01-30 00:47] chrisinmtown commented on #6901
Here's the result with MISP version 2.4.137, running curl on the same physical host (not a VM, not a docker) as the web server:
[code]
Again there are no entries in the MISP debug.log/error.log files, nor on the php-fpm error.log or www-error.log files.  I don't think this problem has been fixed.

[2021-01-30 08:47] iglocska commented on #6901
Stupid question - there's no proxy in the middle that might be truncating the response right? Can you try to curl it from the server itself? If it's already the case, then back to the drawing board...

[2021-01-30 09:02] iglocska commented on #6931
Indeed, we rely purely on the linking done on the software level, though situations like these make me question that. My guess as to how this can happen in general:

The attribute save/delete pipelines first make the modifications to the attribute table and then initiate the correlation related actions. If the process would die in-between for whatever reason you would end up with orphaned correlat

[2021-01-30 09:03] iglocska commented on #6931
As for the hypothesis on the hard vs soft deletes, that shouldn't be the case. A soft delete already purges the correlations for the given attribute.

[2021-01-30 11:45] chrisinmtown commented on #6901
Not a stupid question @iglocska bcos there are SO MANY proxy servers out there, we are afflicted with one also, but I thought of that :) see this in the description:

[2021-01-30 11:49] chrisinmtown commented on #6931
Looks like it's time for a cleanup script.  I don't see any PyMISP methods to add, update or delete correlations, am I reading api.py correctly?  If that's right, then I guess we have to resort to plain old SQL.

[2021-01-30 17:57] github-germ commented on #6931
@iglocska -- Thanks for the reply. It helps to know that indeed our `correlations` table is corrupted, and that it's not from hard deleting soft-deleted attributes. As to root cause, this will likely remain a mystery. We can write a SQL script that can monitor for this corrupted state in our instances, and if it recurs, see if we can isolate some root cause.

@chrisinmtown -- AFAIK, correlations a

[2021-01-30 18:00] github-germ commented on #6931
@iglocska -- would something like this SQL query suffice to discover if there's corruption? If you can recommend something better, that'd be great. Thanks.

[code]

[2021-01-30 21:17] packet-rat commented on #6931
re_: "The attribute save/delete pipelines first make the modifications to the attribute table and then initiate the correlation related actions. If the process would die in-between for whatever reason you would end up with orphaned correlations.

I have checked if we have any such values in our operational instance and have 0 orphaned correlations, so not entirely sure how you ended up with them t

[2021-01-31 01:08] chrisinmtown commented on #6931
@iglocska I sure hope you will extend the MISP schema with foreign-key constraints from the correlations table to the attributes table.  Then if your code does the wrong thing you'll instantly know about it because the database will not allow the operation. Even at some cost in performance I think having the database defend itself is far preferable to the situation we have now, where an unknown be

[2021-01-31 14:58] github-germ opened #6933 "Ability to Define Hard or Soft Delete for Feed Delta Merge Processing"
**Feature Request**: A MISP configuration setting that defines whether these Delta Merge deletions should be hard or soft.

Note: This Feature Request is spun out of https://github.com/MISP/MISP/issues/6929#issuecomment-770020437 as per @iglocska

**Current Implementation**: Feed Delta Merge Processing uses soft delete when an attribute in the the Fixed Event exists, but is not contained in the cu

[2021-01-31 14:59] github-germ commented on #6929
Closing this issue since I've spun out this Feature Request as per @iglocska recommendation from this discussion. Thanks.

* https://github.com/MISP/MISP/issues/6933

[2021-01-31 14:59] #6929 closed, assigned to nobody

[2021-01-31 15:18] github-germ opened #6934 "Method to Purge Soft-Deleted Attributes"
**Feature Request**: Provide a server side method to expeditiously delete soft deleted attributes.

Note: This Feature Request is spun out of https://github.com/MISP/MISP/issues/6929#issuecomment-770023542 based on discussion with @iglocska

**Current Implementation**: Soft deleted attributes continue to grow in MISP via actions performed on the WebUI, PyMISP, and Feed Delta Merge Processing. Soft

[2021-01-31 15:19] github-germ commented on #6929
Also created this Feature Request: https://github.com/MISP/MISP/issues/6934

[2021-01-31 15:23] github-germ commented on #6917
@iglocska -- I suspect this may be an edge case with the `breakOnDuplicate` feature where `add_object`does not add objects when ingesting into a new event. Hoping you might find some time to take a look. I hear there might be a release coming soon, and it would be great to have this included. Many thanks!!

[2021-01-31 22:19] ag-michael opened #6936 "Enforce unique attribute values within an event"
**Is your feature request related to a problem? Please describe.**
I have an event that is updated using a feed. The feed will have the same IOCs each time it is pulled, this has resulted in multiple attributes in the event with identical values.

When you search for the attribute value, to find out what tag applies to it, the sighting, the decay score and other properties, I am not certain which

[2021-02-01 03:01] security-penguin commented on #6387
It seems this issue may also be related as I am having issues with a similar setup when logging in and some other actions https://github.com/MISP/MISP/issues/4535

[2021-02-01 05:10] itsnotabhi commented on #6920
While installing opentaxii server I get an error specifying "maec 4.1.0.17 has requirement mixbox>=1.0.4, but you'll have mixbox 1.0.3 which is incompatible."
And in the diagnostics page we need to have mixbox version 1.0.3

[2021-02-01 05:28] vaibhavpandey86 commented on #6919
Hello Any update please?

[2021-02-01 06:54] iglocska commented on #4535
@designing-penguin - it was closed because it should have been fixed - we now pre-pend the baseurl in our javascript code too since mering the PR that @PROTechThor pointed out. Indeed, if you still have issues we need to investigate the specific actions that fail for you (I'll have a look at the login as you've flagged that one on gitter).

[2021-02-01 06:56] security-penguin commented on #4535
Thank you for clarifying I shall open a new bug report.

On Mon, Feb 1, 2021 at 2:54 PM Andras Iklody <notifications@github.com>
wrote:

--
**
** <https://www.canva.com/>Empowering the world to design
Share accurate
information on COVID-19 and spread messages of support to your community.
Here are some resources
<https://about.canva.com/coronavirus-awareness-collection/?utm_medium=pr&utm_source=ne

[2021-02-01 07:00] iglocska commented on #6387
So there are several issues mentioned above:

1. The testBaseURL() function is indeed a bit weak in this regard, however, it's also one that has basically no impact. All it does is warn administrators if the incoming request happens through an alternate baseurl than what is described in the setting. If the check fails you'll get your setting highlighted in the configuration, that's about it.
2. Fo

[2021-02-01 07:02] iglocska commented on #6919
Those endpoints are horribly outdated, please use restSearch instead, for your particular queries:

POST to `/attributes/restSearch`
Body:
[code]

If you cannot do post requests for whatever reason:

GET `/attributes/restSearch/returnFormat:suricata/eventid:6`

Hope this helps!

[2021-02-01 07:02] #6919 closed, assigned to nobody

[2021-02-01 07:09] #6829 closed, assigned to nobody

[2021-02-01 07:09] #4535 closed, assigned to nobody

[2021-02-01 09:09] marjatech commented on #6912
PR fixes 2. (tag-list view)
How about 1. Is this intended?

[2021-02-01 09:24] uccikri commented on #6930
Hello, I'm working with Simone. To replicate the Evil scenario is sufficient have two MISP instance A & B in full sync.
If you use no admin role capabilities users you cannot edit remote pulled event, but you can only "propose" it. I think the problem is in permitting by design to edit remote event with admin role capabilities users.
Best Regards
Christian Gugliucci

[2021-02-01 09:57] JakubOnderka commented on #6936
Hello, there is already check for that:

https://github.com/MISP/MISP/blob/c768b9372a231782a878ecb80b9586f158dbcd79/app/Model/Attribute.php#L632

So maybe it just doesn't work?

[2021-02-01 12:46] iglocska commented on #6936
Kinda. There is that check indeed, which gets the job down 99% of the time, but due to concurrency you might have an issue where 2 attributes being inserted both meet the requirements during validation, if it happens before the actual saving takes place in both cases.

That is just my guess what happened here. In order to avoid that our only real solution is to have something in place on the DB le

[2021-02-01 14:01] chrisinmtown commented on #6387
I opened issue #6940

[2021-02-01 14:25] chrisinmtown opened #6940 "Browser CSRF error on REST client in 2.4.137, Security.rest_client_baseurl setting?"
tl;dr: cannot use the web UI's REST client on a version 2.4.137 MISP due to CSRF errors.  This server is behind a reverse proxy server. How can I debug CSRF failures?

We run MISP behind a reverse proxy server that guards the development lab.  This means from the outside I access the MISP UI using a URL like "https://devlab-proxy.mycompany.com:45678", the rev-proxy forwards the traffic to host "ht

[2021-02-01 15:15] JakubOnderka commented on #6936
@iglocska Yes, thats true, but @ag-michael says that this happen for feeds and there is no concurrency when fetching feed. So I think the problem must be somewhere else.

@ag-michael Is your feed public? Or can you provide example what attributes values are duplicated?

[2021-02-01 15:56] chrisinmtown commented on #6934
Maybe the scope could be broadened slightly?  If a new server-side method supports batch/bulk delete of attributes (note plural), whether soft-deleted or not, that would nicely support this PyMISP feature request: https://github.com/MISP/PyMISP/issues/689

[2021-02-01 15:57] iglocska commented on #6936
It's taxii feeds, pretty sure it's some external script doing the feeding ;)

[2021-02-01 19:23] chrisinmtown opened #6941 "Batch search events and attributes for strings like IP addresses"
Our analysts often need to look up multiple IP addresses.  The MISP UI requires them to paste an address one at a time which gets tedious quickly and is slow.  So they often resort to a command-line tool -- basically grep.

I would like a big multi-line text box where I can paste multiple lines of data like ip addresses, and a single search button.  On search, iterate thru and show short results,

[2021-02-01 20:04] chrisinmtown commented on #6941
Apparently I'm (snow-)blind today.  The search-attributes screen supports this *just fine*.

[2021-02-01 20:04] #6941 closed, assigned to nobody

[2021-02-01 20:18] chrisinmtown commented on #5299
How is the correlations.info column populated?  I see bits of feed names, the word "feed", some attribute values, etc. Also huge redundancy - the same unique value occurs hundreds of thousands, sometimes millions of times. Here's a sample:
[code]
The first entry at 11 chars plus a length field, let's say 15 bytes, requires 72MB. The second requires about 5MB.  It may be convenient to store redunda

[2021-02-01 22:48] ag-michael commented on #6936
@iglocska  @JakubOnderka  This is actually a feed, my taxii scripts do a good job (at a performance cost) of removing duplicates.

This is the feed `https://raw.githubusercontent.com/brakmic/Sinkholes/master/Sinkholes_List.csv`

Screenshot of duplicates (note the timestamp):

![image](https://user-images.githubusercontent.com/39683291/106527646-3bc7c600-64ad-11eb-9f49-9a2faac00c86.png)

Maybe I sh

[2021-02-02 08:53] JakubOnderka commented on #6936
@ag-michael Thats very nice bug report, thanks!

I think the main problem is that the value `212.227.55.84` is duplicated in the feed, but even then value should not be duplicated. I just tested on my instance and the value is not duplicated. What MISP version do you use?

[2021-02-02 10:18] deresz opened #6942 "Filtered event index widget for dashboard"
It would add a widget that displays event index with a given event filter, similarily to Kibana or Splunk. We should be able to also select the fields (columns) to be displayed in the resulting table.

[2021-02-02 11:36] demiscuzz commented on #6913
Thank you for the advice and help. set my mind at ease.

[2021-02-02 11:36] #6913 closed, assigned to nobody

[2021-02-02 15:07] mokaddem opened #6945 "/attributes/search to support search query in the URL"
/events/index allows to filter out events based on filters that can be specified in the URL.

[2021-02-02 15:34] marjatech opened #6946 "HTTP:500 for extended event-view"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       |Ubuntu
| OS version (client)       | Win10
| PHP version               | 7.4
| MISP version / git hash   | 2.4.137, 2b5b5f97d

### Expected behavior
switching from atomic view to extended view would show the same event, with ad

[2021-02-02 15:47] chrisinmtown opened #6947 "REST endpoint /feeds/add returns 500 if name property is missing"
Please make the endpoint /feeds/add more robust.  I am using MISP version 2.4.137 and ditto for PyMISP. While trying to add a feed using a dict I botched it, I omitted the name property.  The response was 500, internal server error.

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)

[2021-02-02 17:05] github-germ commented on #6917
@iglocska ... Hi Andras. I believe I've found two problems with the object dedup code. Hoping you can resolve for the next release.

1. As above, when creating a new event with objects, the event is created, but without any objects. The fix appears to be a `return` in the wrong place, best I can tell.
[code]

2. The second issue is that when creating a new event with duplicated objects, they are n

[2021-02-02 17:07] JakubOnderka commented on #6946
Hello, can you please provide exception message from MISP error log?

[2021-02-02 18:22] imidoriya commented on #5299
Ultimately, we decided to turn off correlations as it was just taking too much space and resources.  I figured if we needed the data, I could set up a secondary MISP instance with tons of disk to do that piece separate from the one doing all the normal work.

[2021-02-02 18:32] imidoriya commented on #5299
And it's not just the duplication, I think they create two entries for each correlation (`a -> b`, `b -> a`).  So it's a N²-N computation. If you have something that's correlated with 3000 other items (not uncommon), that's almost 9 million table entries along with all your data duplication.  Insanity (said with dev love ❤️  ).

[2021-02-02 23:09] killtr0 commented on #2371
@RenatoMG

You must go to the following route:

**var/www/MISP/app/Config/**

the problem is that the config.php file is assigned to root user.

then we must assign the user www-data with the following command:

**sudo chown www-data:www-data config**

[2021-02-03 02:55] ag-michael commented on #6936
@JakubOnderka ,

I am running MISP 2.4.135 (ce96003b8997e348ed3b0870162c590fb734e5b1) , I believe we upgraded to this version several weeks ago, soon after it was released. we have been on this version since and I believe we upgraded from 2.4.134.

[2021-02-03 06:19] SteveClement commented on #6850
This is now fixed, Kali 2019 is not supported, please use 2020.4

Fixed in #6952

[2021-02-03 06:19] #6850 closed, assigned to nobody

[2021-02-03 06:19] SteveClement commented on #5779
Fixed in #6952

[2021-02-03 06:19] #5779 closed, assigned to nobody

[2021-02-03 06:25] SteveClement commented on #5694
Debian 8/10 will not be supported in the installer. Only if 10/11 will be 95% compatible with ubuntu based installs it will be considered. For the rest, the manual install docs should be ok.

[2021-02-03 06:25] #5694 closed, assigned to SteveClement

[2021-02-03 06:26] SteveClement commented on #6209
Fixed in #6952

[2021-02-03 06:26] #6209 closed, assigned to SteveClement

[2021-02-03 07:47] iglocska commented on #6917
Indeed, nice catch for issue 1!

I'll have a look at issue 2, but this week I'm mostly just giving trainings so it will take some time.

[2021-02-03 07:51] iglocska commented on #6936
Wow, ok that is indeed weird!

[2021-02-03 07:59] iglocska commented on #6936
Hmm, Just tried to reproduce it via that feed and I'm not getting any duplicates.

[2021-02-03 08:03] iglocska commented on #6936
Yeah, no luck with c396003 either, this is weird.

[2021-02-03 08:10] #6946 closed, assigned to nobody

[2021-02-03 08:11] iglocska commented on #6946
It looks like the function for fetching org logos changed, should be fixed now.

[2021-02-03 08:50] cudeso opened #6954 "Upload attachment (PDF) ; editing object gives error "Object cannot be edited, no valid template found.""
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| MISP version / git hash   | 2.4.137

### Expected behavior
Upload an attachment (PDF file), set as malware sample. Creates an object. Editing the object allows you to edit the object data elements.

### Actual behavio

[2021-02-03 08:59] cudeso commented on #6954
If you Add attachment, enable "malware sample" but disable "Advanced extraction" then the editing of the object works.

[2021-02-03 09:01] cudeso commented on #6954
Also noticed that adding attachment with malware sample + advanced extraction does not save the data put in the comment field. It does save the comment when disabling "advanced extraction".

[2021-02-03 09:17] cudeso opened #6955 "Include file object comment field in Object Reference form"
**Describe the solution you'd like**
When you add object references it's not directly possible to make a distinction between different file objects. Displaying the comment field (either from the Object or the one from the sample) would help.  Alternatively just displaying the file name would also help.

**Describe alternatives you've considered**
Hovering above the "I" icon of the file object work

[2021-02-03 12:25] cudeso opened #6956 "Error: [Exception] Invalid Attribute when adding cluster (matrix) via multi-select attributes in objects"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| MISP version / git hash   | 2.4.137

### Expected behavior

Adding a cluster (fe. ATT&CK Pattern) to multiple atttributes in an objects should show the matrix where you can select the different techniques.

### Actual

[2021-02-03 12:45] cudeso opened #6957 ""Returned error: Invalid template" when importing e-mail with attachments"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| MISP version / git hash   | 2.4.137

### Expected behavior

Importing an e-mail with attachments via the misp-module "Plugin.Import_email_import_enabled" returns multiple objects, email and then a file object per atta