[2021-02-03 13:15] iglocska opened #6958 "Dragging attributes on the timeline tool doesn't always update the attribute list in the tabular view"
Dragging the attribute itself works as expected, but changing the timerange's start/end time doesn't.

[2021-02-03 14:17] adulau opened #6959 "Unsetting flags if the T&C change of the MISP (via API?)"
Unsetting flags if the T&C change of the MISP (via API?).

[2021-02-03 14:50] demiscuzz opened #6960 "Fresh Install of misp on ubuntu 20.04"
Questions | Answers
-- | --
Type of issue | Support
OS version (server) | Ubuntu
OS version (client) | Win10
PHP version | 7.4
MISP version / git hash | 2.4.137 (b86c58c)

I attempted to add an enrichment and found that there were none to add.
![enrichment1](https://user-images.githubusercontent.com/50229490/106763382-ae13e400-662e-11eb-9d64-9b3e892866a4.PNG)

diagnostics show:
![enrichment2](http

[2021-02-03 15:00] cudeso commented on #6957
Left: file objects during import results (email module)
Right: file object MISP

They have different versions.

![2021-02-03 15_59_34-Clipboard](https://user-images.githubusercontent.com/256028/106765200-d6084500-6638-11eb-90e2-77820f148790.png)

[2021-02-03 15:09] #6814 closed, assigned to nobody

[2021-02-03 15:14] cudeso commented on #6957
This was caused by an outdated PyMISP version. Updating PyMISP fixed the problem.

It's confusing to have multiple object template locations.

[2021-02-03 15:14] #6957 closed, assigned to nobody

[2021-02-03 15:38] ag-michael commented on #6936
@iglocska  perhaps the caching is the problem or some gradual change in the source feed?

Do you think your original proposal will avert scenarios like this?

[2021-02-03 15:41] cudeso opened #6961 "Filter on object UUID in filtering tool in event details"
**Is your feature request related to a problem? Please describe.**
The filtering tool in an event allows to filter on attribute ID or UUID. If you enter the UUID of an object it would be nice to have all the "child" attributes in that object. Currently you cannot filter to only show one -selected- object.

**Describe the solution you'd like**
Search in object feature. Select on UUID

[2021-02-03 20:42] chrisinmtown commented on #6960
misp-modules is a submodule.  You have to do the usual git incantations to fetch it as directed by the INSTALL*.txt file that's right for your OS.  Mine has this:
[code]

[2021-02-03 20:48] github-germ commented on #6917
@iglocska -- My guess for case 2 is that once the object is saved in `captureObject` and perhaps also in `saveObject` that `$this->__objectDuplicationCheckCache` needs to be updated to contain that newly saved object. I believe that updated cache will then catch any duplicate objects being passed as input into the new event in `checkForDuplicateObjects`.

HTH

Thanks.

[2021-02-03 22:01] packet-rat opened #6963 "Cannot get any engagement to repeated requests to purchase support contracts"
We have tried for many many months to get a response to our RFIs to establish a Support Agreement.  I tried for a couple of months and gave up.  My colleague has been trying for a month or so and is similarly giving up.

Your organisation is breaking Pat's #1 Rule of Business:  **"NEVER make your Customer wait in line to give you their money"**

I'm not going to go into details here as this is obv

[2021-02-03 22:13] adulau commented on #6963
You should have received a personal email regarding the matter. Thank you very much.

[2021-02-03 22:13] #6963 closed, assigned to nobody

[2021-02-04 00:41] chrisinmtown commented on #6963
@adulau thank you for replying here, yes you and I chatted via Gitter and I was hoping for a note, but nothing has arrived at my email address that's recorded in the PyMISP git log at aa206d0009. Will you please resend?

[2021-02-04 06:14] adulau commented on #6960
misp-modules is an autonomous software part of MISP. To do the installation you can go at the following location:

https://github.com/MISP/misp-modules#how-to-install-and-start-misp-modules-in-a-python-virtualenv-recommended

and start misp-modules then go back to misp enable it and the associated modules.

[2021-02-04 06:14] #6960 closed, assigned to nobody

[2021-02-04 09:07] demiscuzz commented on #6960
Super stuff. Thank you both.

[2021-02-04 12:49] Namnori0401 opened #6965 "Problem with caching servers"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue                   | Bug
| OS version (server)          | Ubuntu Linux (64-bit)
| OS version (client)           | Win10
| PHP version                     | 7.2.24-0ubuntu0.18.04.7
| PHP CLI Version              | 7.4.14
| MISP version / git hash   |  MISP 2.4.135
| Browser

[2021-02-04 13:40] packet-rat commented on #6963
@adulau -  Thank you very much for your timely and effective response. We've received the proposal & T&Cs.

[2021-02-04 16:35] emmekappa86 opened #6966 ""Download Bro Rules" fails"
Since version 2.4.135, "Download as"->"Download Bro Rules" fails for apparently every Event with "An Internal Error Has Occurred."

[2021-02-05 20:05] cudeso commented on #6255
@mokaddem any reason why this issue is closed?
This would be a very interesting feature. Related #6257 also seems closed.

[2021-02-05 22:41] cudeso opened #6969 "Merge attributes does not include object or attribute relations"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| MISP version / git hash   | 2.4.137

### Expected behavior
Importing attributes and objects from another event via "**Merge attributes from ...**" includes relations between objects and attributes.

### Actual behavio

[2021-02-06 14:47] devdandi opened #6970 "Level user always memory limit"
Hello everyone, i have a problem when i am login as a level of user. I always got error like Memory limit. But if i am login as a admin, i never get result error. Can you help me ? I got stuck in this problem.

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Debian, Ubuntu,

[2021-02-06 17:05] chrisinmtown opened #6972 "Record most recent pull date and time for enabled feeds"
We would like a simple way to track the health of enabled feeds.  Tracking the most recent successful fetch of data might be a low-cost way of doing that.

**Describe the solution you'd like**

* extend the feeds table with a column to store the most recent fetch action date and time
* extend the cake/php fetch feature to update the new column
* show the new column in the web UI.

**Describe alter

[2021-02-08 09:55] iglocska commented on #6930
A & B as in A creates an event, B modifies it and the edit propagates back to A? Can you describe the steps taken to reproduce this?

Also, the problem with barring admin accounts from editing data is that it would just make administrators do it via the database directly, we've added that capability to avoid that. Generally it is data tampering and if you modify data on behalf of others this way,

[2021-02-08 09:56] iglocska commented on #6972
Yeah that sounds like a neat idea indeed.

[2021-02-08 09:56] marjatech opened #6974 "Dashboards: save template fails with CSRF error"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| OS version (client)       | Win10, Ubuntu
| PHP version               | 7.4
| MISP version / git hash   | v2.4.137 (99b405b73e34ff3fc84af642d14d4e8c99eff7ba)
| Browser                   | Firefox

### Expected behavio

[2021-02-08 10:02] marjatech opened #6975 "Dashboards: store widget config fails without notifying for invalid JSON"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| OS version (client)       | Win10, Ubuntu
| PHP version               | 7.4
| MISP version / git hash   |  v2.4.137 (99b405b73e34ff3fc84af642d14d4e8c99eff7ba)
| Browser                   | Firefox

### Expected behavi

[2021-02-08 14:09] chrisinmtown commented on #6972
Thanks @iglocska. And when you extend the web UI to show this data, please consider adding a classic traffic-light health indicator: green if data was fetched in the last 24 hours, yellow if data was fetched in the last 72 hours, red if no data for 72+ hours; and those thresholds probably should be new system configuration items.

But today I finally scrolled my window far enough to the right and

[2021-02-08 14:50] iglocska commented on #6972
it's indeed not stored in the DB, iirc it's coming form the date set in redis. The cached data never lands in mysql in the first place. But it does basically what you're after for the feed pulls, just not for that use-case.

[2021-02-08 15:46] #6715 closed, assigned to mokaddem

[2021-02-08 15:46] #6734 closed, assigned to mokaddem

[2021-02-08 15:46] #6487 closed, assigned to mokaddem

[2021-02-08 18:38] chrisinmtown commented on #4831
FWIW I work for a company that is large, profitable and not solely in the security-research business.  It's unlikely we will ever be granted a free license.

I wish you and CIRCL would do something here to make the situation crystal clear, namely that this feed is no longer an "open source intelligence" (osint) and requires special treatment.

[2021-02-08 18:58] chrisinmtown opened #6978 "Repair duplicate feed name in file app/files/feed-metadata/defaults.json (minor)"
Please repair a duplicate feed name. In version 2.4.137, file app/files/feed-metadata/defaults.json, the ids 57 and 58 both use the same name but have different URLs.

https://github.com/MISP/MISP/blob/7dfe92655f2cb2c79728b95a7e3b928dccae1d01/app/files/feed-metadata/defaults.json#L964

This can cause user confusion. I know that the system is fine with duplicate entries in the name column.  Thanks

[2021-02-08 19:04] chrisinmtown commented on #6978
One more very minor feed name issue: some are very long like "This list contains all domains - A list for administrators to prevent mining in networks".  If you start making revisions, please consider abbreviating that kind of thing.

[2021-02-08 19:27] chrisinmtown commented on #6966
For what it's worth, in version 2.4.137 I picked an event with a small number of attributes (14), clicked on Download As, clicked the Bro Rules, and my browser downloaded a plain-text file called "misp.all.event_1234567.intel" with this first line:
[code]
I repeated this on an event with 845 attributes, same sort of result (no error).

I don't have a 2.4.135 system I can try.

[2021-02-08 22:16] iglocska commented on #6966
Should be fixed now, it was an invalid group by statement (for the OP)

@chrisinmtown - make sure the events are published and have valid attribute types with the IDS flag set. For me it correctly populates the export that way.

[2021-02-08 22:26] chrisinmtown opened #6979 "Feed add/edit screen does not show drop-down Creator Organisation if orgc_id = 0"
Feed add and edit screens do not display the drop-down Creator organisation if orgc_id = 0.

The Feed index page shows a column "Org".  If orgc_id is zero the feeds index page has no value for Org, just blank.  If orgc_id is non-zero then the index page shows the name corresponding to the orgc_id value.  All good so far.

So I click on the pencil in the action column and get to the Edit MISP Feed

[2021-02-08 22:29] chrisinmtown commented on #6966
Thanks @iglocska I don't know how to interpret the Bro Rules output anyhow :) I didn't want to paste a bunch of junk, just showed the header to say that it seems to be working fine.

you say "should be fixed now" will you paste the commit sha when you close this?

[2021-02-08 22:32] iglocska commented on #6966
Sure, 83e9580b97a2a4f0494d2819160fd209dc137141

[2021-02-08 22:32] #6966 closed, assigned to nobody

[2021-02-09 11:19] pietrogu opened #6981 "REST API search for not decayed attributes is very slow"
Hi,

i am trying to query MISP using REST API to return all the attributes marked as not decayed (based on our decaying model), but the search is very slow and if I use a time range greater than 15d it return me an error code 1.

I'm using a search like the following one:

{ "timestamp":"365d","excludeDecayed": "1","type":{"OR": ["ip-src","ip-dst","domain"]}}

In my MISP instance i have more than

[2021-02-09 13:50] Daniel-CS-Team commented on #6920
Same issue here:
root@misp:/var/www/MISP/app/files/scripts/mixbox# sudo -H -u www-data /var/www/MISP/venv/bin/pip install mixbox==1.0.3
Collecting mixbox==1.0.3
  Using cached mixbox-1.0.3-py2.py3-none-any.whl (47 kB)
Requirement already satisfied: python-dateutil in /var/www/MISP/venv/lib/python3.8/site-packages (from mixbox==1.0.3) (2.8.1)
Requirement already satisfied: lxml in /var/www/MISP/ven

[2021-02-09 16:42] chrisinmtown commented on #6981
Please state your version of MISP.  Also it would help if you quantify "very slow".  Does that mean it takes a minute, an hour, a day?  If you get error code 1, did you check the server's error.log file to get more information?

Performance is difficult to guess about.  Altho 300K attributes is relatively small (our instance has millions), you didn't mention anything about the amount of memory the

[2021-02-09 21:45] #6886 closed, assigned to JakubOnderka

[2021-02-09 21:45] #6884 closed, assigned to JakubOnderka

[2021-02-09 21:45] #6882 closed, assigned to nobody

[2021-02-09 21:46] JakubOnderka commented on #6824
Fixed, thanks for report.

[2021-02-09 21:46] #6824 closed, assigned to nobody

[2021-02-09 23:27] Feblex opened #6987 "Error Exporting Events STIX2 Unexpected properties for Identity Interoperability"
OS Version: RHEL 7
MISP Version: v2.4.137

Libraries' status in diagnostics:

Current libraries status…OK
STIX library version…OK
CYBOX library version…OK
MIXBOX library version…OK
MAEC library version…OK
STIX2 library version…OK
PYMISP library version…OK

When I export an event in STIX2.0 the file downloads and only contains the following error inside:

"Error while processing your query: Unexpec

[2021-02-10 10:52] JakubOnderka commented on #6933
Maybe we can use the same solution as for normal events: when events wasn't published, use hard delete, after publishing use soft delete. What do you think?

[2021-02-10 10:59] pietrogu commented on #6981
Hi,

my MISP is at version  v2.4.137 (b86c58c8ae24747da06878de178de1cb067a53e0)
The machine is a VM with 8 GB RAM and 2 CPUs.

I don't know how to check the amount of memory the database has and the amount of memory available to PHP. Could you help me? I should inform you that when i installed MISP the machine had just 2 GB of RAM. Is it possible that the configuration is still based on that RAM v

[2021-02-10 11:57] acj014 opened #6990 "How to get an overview of sightings?"
Hello together,

I work with your MISP Product in combination with dovehawk module and zeek to scan IoT devices in my network.

It's part of my thesis and I thinks I need some help with your product.

I let Misp run in background with zeek and about 12000 indicators, (that came from 3 TI Feeds) for like 7 days.

Now i dont know how to see if there were any sightings at all in my network from those

[2021-02-10 12:53] mokaddem opened #6991 "Server connection"
Handle `301 Moved permanently` case

[2021-02-10 14:27] github-germ commented on #6933
Is the event unpublished while a feed is actively adding content? If so, then that seems OK. The goal is to always use hard delete by choice, e.g. when a MISP instance is not peered since there is no apparent value in retaining the soft deletions.

[2021-02-10 17:35] github-germ commented on #6917
@iglocska -- Hi Andras, did you want anything else from me to get the fix for case 2?

[2021-02-11 07:34] iglocska commented on #6917
More hours in the day ;) Giving trainings all week, so a bit strapped for time.

[2021-02-11 09:44] thamamo commented on #3618
Dear iglocska,

I have a question.

What is the specific symptom of "event view is broken"?

![deleted_seems_to_stay_blue](https://user-images.githubusercontent.com/61228113/107620943-d6d45300-6c98-11eb-9d83-36fe79919201.png)

Does "event view is broken" mean this symptom?

[2021-02-11 13:45] adulau opened #6998 "[new-api-key-auth] add a last used API key timestamp"
[new-api-key-auth] add a last used timestamp in the new API key handler.

We don't need a significant precision if we don't write too often on the table as it's creating a bit of overhead.

[2021-02-11 13:58] JakubOnderka commented on #6998
Already implemented :) You need to enable `MISP.log_user_ips` and `MISP.log_user_ips_authkeys`, then key usage is stored in Redis also with last usage timestamp. Then you can check key usage in key information view.

<img width="502" alt="Snímek obrazovky 2021-02-11 v 14 58 02" src="https://user-images.githubusercontent.com/163343/107645858-8bf71300-6c79-11eb-9cea-a865da83dc7f.png">

[2021-02-11 14:23] adulau commented on #6998
This is great ;-) I completely miss that it was already in the new API key handler.

[2021-02-11 14:23] #6998 closed, assigned to nobody

[2021-02-11 15:01] quentinJE opened #7000 "[2.4.137] login on loop after uprade from 2.4.131"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | CentOS 7.8
| OS version (client)       | Gentoo
| PHP version               | 7.2
| MISP version / git hash   | 2.4.137,  99b405b
| Browser                   | Firefox 68.12.0esr

### Support Questions
After upgrading from

[2021-02-11 15:04] adulau commented on #7000
Is your baseurl set?

[2021-02-11 15:21] Feblex commented on #6987
Updated to MISP Version: v2.4.138 and I get the same issues. Then rechecked file permissions according to the instructions and still get the same result. If I export in STIXv1 it works, but v2 produces the error. "Error while processing your query: Unexpected properties for Identity: (interoperability)."

[2021-02-11 16:14] chrisinmtown commented on #6981
@pietrogu my first guess is that your database needs lots of time for queries.  That may be caused by using a default DB configuration with very little memory, or caused by a slow VM filesystem. I hope you can get help locally from an expert to confirm or disprove this guess.

[2021-02-11 16:35] pietrogu commented on #6981
How can i check DB memory?

[2021-02-11 16:57] Feblex commented on #6987
After I updated the rep i didn't reinstall stix2. I reinstalled now and it worked. I'm closing this issue, thanks.

[2021-02-11 16:57] #6987 closed, assigned to nobody

[2021-02-11 17:48] luna7391 commented on #6678
Hi, PHP 7.4 seems to be installed ok as shown in the screenshots. It looks the "PHP ini path:…" needs changing from "/etc/opt/rh/rh-php71/php.ini" to 7.4, do you know where this is changed?

![MISP Dev PHP Version](https://user-images.githubusercontent.com/38982979/107676498-1bf48700-6c91-11eb-904d-dbd92be994ed.PNG)
![MISP Dev PHP Version GUI](https://user-images.githubusercontent.com/38982979/107

[2021-02-11 18:44] pietrogu commented on #6981
Hi,

in my php.ini file i have these settings:

max_execution_time (300)
memory_limit (2048M)

What will be the effect on my MISP if I raise one of both of them?
Maybe if i raise the memory_limit i would have a faster search?

[2021-02-12 07:59] trocade opened #7003 "Nuking an installation and then running install.sh again fails."
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 18.04 LTS
| OS version (client)       | Ubuntu 18.04 LTS
| PHP version               | 7.2
| MISP version / git hash   | 30a0798e9748c890e51415a4c51bc6cb2b78e7f6
| Browser                   | N/A

### Expected behavior

[2021-02-12 08:12] quentinJE commented on #7000
Hi Adulau,
Yes, baseurl is set

[2021-02-12 10:12] certbe-trey opened #7005 "As a MISP user, I would like the ability to get a worker process job id and have the ability to poll worker job id status for job completion"
My specific use case is that I have code which publishes a MISP event on an internal MISP instance and further processing is dependent on the sync to a DMZ MISP instance having completed. Right now, I'm using a dumb, brittle sleep() call workaround. Ideally I would get back something friendly via PyMISP, but if you can even just give me a raw REST endpoint that I can poll in a while true loop to c

[2021-02-12 13:09] rusuvalentin opened #7006 "Outdated Feeds"
Hello guys,

I have discovered some problems in fetching some feeds. I will explain every error in detail.

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 18.04 LTS
| OS version (client)       | Ubuntu, 18.04 LTS
| PHP version               | 7.2
| MISP version / gi

[2021-02-13 19:37] iglocska commented on #7000
It seems like some change broke the check if logged in check, which is a pretty pointless feature as is. Could you disable it?

`/var/www/MISP/app/Console/cake Admin setSetting 'MISP.disable_auto_logout' 1`

[2021-02-15 08:32] #6591 closed, assigned to nobody

[2021-02-15 08:41] mokaddem commented on #6921
Indeed, it could be that your instance wasn't up-to-date when you ran the `updateGalaxies` script.
Thanks for the feedback!

[2021-02-15 10:18] mokaddem commented on #6255
I closed #6257 because it was a duplicate of this one.

[2021-02-15 10:39] mokaddem commented on #6990
Hello,
I don't know how the module you are using is integrated with MISP, however, if it creates sightings, you can fetch them via the API.
Please have a look at `/servers/rest` in your MISP instance. This page lists a lots of endpoints along with their documentation.
You might particularly be interested in `/sightings/restSearch/[context]` which allows you to fetch sightings with their respective

[2021-02-15 10:39] #6990 closed, assigned to nobody

[2021-02-15 10:44] mokaddem commented on #3618
Could be linked to #6568

[2021-02-15 11:02] mokaddem commented on #6918
Hello,
Sorry for the late response.
Quick questions:
1. Does the event have at least 1 attribute (or object)?
2. What is the distribution level set for both the event and the attribute (or object)?
3. [push only] Can you check that your workers are up-and-running `/servers/serverSettings/workers`

Thanks!

[2021-02-15 14:43] quentinJE commented on #7000
Thanks, I will disable this setting tomorrow.
I will let know if it solved the issue or not.

[2021-02-15 15:24] iglocska commented on #3618
Exactly!

[2021-02-15 15:25] iglocska commented on #3618
Oh wow, just saw the issue is ancient, but yeah noticed what you pasted there recently and it's been bugging me too :)

[2021-02-15 20:44] chrisinmtown commented on #7006
### 2.

The https://www.dan.me.uk website limits requests by IP to once every 30 minutes.  That site provides two TOR lists.  The first fetch succeeds, the second probably fails because the request is made too soon after the first. We work around this by judicious use of crontab entries.  I don't know how to adjust the MISP server behavior if you  click the "fetch all" or "cache all" button.

###

[2021-02-16 00:37] thamamo commented on #3618
Thank you for your response.

I think that The MISP is great, useful and functional system.
I would like to express respect for the contributors.

This issue seems trivial to the whole of this huge system with so many functional features.
But I hope the issue is fixed.

[2021-02-16 01:28] jloehel opened #7013 "SELECT list is not in GROUP BY clause and contains nonaggregated column 'misp.GalaxyCluster.value'"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 20.04
| PHP version               | 7.4
| MISP version / git hash   | 2.4.138
| DB | mysqld 8.0.23

### Expected behavior
Successful import of a STIX 2.0 document

### Actual behavior
500 error

### Steps to reproduce t

[2021-02-16 05:47] jloehel opened #7014 "ORDER BY clause is not in GROUP BY clause and contains nonaggregated column 'misp.Attribute.event_id'"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 20.04
| PHP version               | 7.4
| MISP version / git hash   | 2.4.138
| DB | mysqld 8.0.23

### Expected behavior
Get attribute stats

### Actual behavior
500 error

### Steps to reproduce the behavior
[code]

#

[2021-02-16 07:23] #6912 closed, assigned to nobody

[2021-02-16 07:23] #6956 closed, assigned to nobody

[2021-02-16 07:23] #6958 closed, assigned to mokaddem

[2021-02-16 07:23] #6961 closed, assigned to nobody

[2021-02-16 07:23] #6969 closed, assigned to nobody

[2021-02-16 10:11] iglocska commented on #6942
This is included in 2.4.139, thanks for the idea by Belgian friend.

[2021-02-16 10:11] #6942 closed, assigned to iglocska

[2021-02-16 10:14] mokaddem commented on #6954
Hey, could it be that your object templates used by PyMISP are not up-to-date?
In the meantime, a7834a291b0e3cc38ceb457551674e91aa930d33 allows you to update object to the newer known template even if MISP doesn't know the original template.

[2021-02-16 12:10] iglocska commented on #6780
Should be fixed, thanks for the report and providing the fix!

[2021-02-16 13:14] marcnil815 commented on #5909
Linked issue: #3394

[2021-02-16 15:10] iglocska opened #7019 "Enable/disable individual galaxies"
Currently all galaxies are always enabled, unlike taxonomies. Sure made a lot of sense when we had about a dozen of them, but it's time to allow admins to manage what galaxies their users use.

[2021-02-16 15:16] iglocska opened #7021 "Allow the option to filter what can flow to an enrichment module"
Currently if an attribute meets the basic requirements to be a target for an enrichment module (such as the correct type being used), it will automatically be made available.

It would be interesting to allow admins to configure requirements, such as certain PAP tags to protect users from sending classified information for example to external lookup services.

[2021-02-16 15:30] pietrogu commented on #6981
Ok seems that raising max_execution_time did te job.
I close the issue

[2021-02-16 15:30] #6981 closed, assigned to nobody

[2021-02-16 17:10] Malwar3Ninja commented on #6907
Yup I used the filebeat module but the there is an issue for duplicates. I feel this is a temporary fix,

I also synced my mysql db with elasticsearch using logstash jdbc plugin and it works fine if attributes table is just picked. Still trying to make a workaround about nested queries to get all feed data. Any help would be great.

[2021-02-16 17:21] chrisinmtown opened #7022 "Feed CIRCL missing trailing slash on URL in app/files/feed-metadata/defaults.json"
At the tip of branch 2.4, the CIRCL feed is defined in file app/files/feed-metadata/defaults.json with URL `https://www.circl.lu/doc/misp/feed-osint` and a curl of that url yields this:

[code]

I squinted long and hard at the message before I finally noticed the trailing slash.  Please update the defaults.json appropriately to have the trailing slash.

### Work environment

| Questions

[2021-02-16 18:51] chrisinmtown commented on #7006
### 10.

CIRCL advertises in file app/files/feed-metadata/defaults.json this URL for this feed: https://labs.snort.org/feeds/ip-filter.blf

But when I attempt to reach that from a browser I see the message "Cloudflare is unable to establish an SSL connection to the origin server", suggesting it's a problem on that server.

When I attempt to reach that from the command line I see a similar error:
[

[2021-02-16 22:49] Derekt2 opened #7023 "MISP Template File Element"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Debian
| OS version (client)       | Windows 10
| PHP version               | 7.1
| MISP version / git hash   | MISP 2.4.136
| Browser                   | Chrome

### Expected behavior
MISP Template "File" element category wor

[2021-02-17 10:57] quentinJE commented on #7000
I set disable_auto_logout to 1 and the behavior is different. now we have this error after the authentication :
![auth_redirecting](https://user-images.githubusercontent.com/70889295/108191569-93a03700-7113-11eb-8325-2771b0cb932e.png)

It seems that misp is redirecting the login page a lot of times before the browser block the redirection :

![login](https://user-images.githubusercontent.com/70889

[2021-02-17 11:04] digihash commented on #6321
This would be a feature I'm looking for too. And if you're implementing it, would it be possible to implement exclusions too, just like is possible with organizations using "org": ["!orgname1", "!orgname2", !orgUUID3"].

I would need a feature like this in both the API and PyMISP. Once the API implements this, I could help with the PyMISP though.

[2021-02-17 11:32] mokaddem commented on #977
Can it be now achieved with the FS/LS and extended event features?

[2021-02-17 12:08] #7006 closed, assigned to nobody

[2021-02-17 12:09] iglocska commented on #7006
Should be fixed now, thanks for all the feedback.

Removed the defunct feeds and clarified some of the descriptions.

[2021-02-17 12:44] chrisinmtown commented on #7006
Thanks but it would help tremendously if you posted here a summary of exactly what you did.  The diff is enormous.

[2021-02-17 12:50] chrisinmtown commented on #6979
For starters, would a CIRCL/MISP expert please explain how feed data item orgc_id is used?   Does MISP/Cake apply the orgc_id to all data items fetched & ingested from that feed?  If the orgc_id is not used, then this issue I've raised here is silly, but I sorta think it's being used SOMEWHERE.

Is this another aspect of feeds that's only documented in the admin training material?  I didn't see it

[2021-02-17 12:56] chrisinmtown commented on #6978
I think this has been fixed but I'm waiting for confirmation

[2021-02-17 13:15] github-germ commented on #6978
This appears to be fixed in 2.4.139 with that `url` included only once:
https://github.com/MISP/MISP/blob/v2.4.139/app/files/feed-metadata/defaults.json#L966

[2021-02-17 14:22] mokaddem commented on #6974
Hey @marjatech,
I can't reproduce the issue. Could you please update to the latest version available and try again?
Thanks!

[2021-02-17 14:57] iglocska opened #7025 "Correlation graph doesn't include tags on the attribute level"
Especially interesting when pivoting from a cluster and using that as the anchor for the correlation graph.

[2021-02-17 15:47] chrisinmtown commented on #6978
@github-germ the problem of duplicate feed name remains in the very latest tip of branch 2.4, only now they've added goofy backslashes to the URL, look:

https://github.com/MISP/MISP/blob/8233f0f6143472be376ab31ea7ca6d18d670b5fd/app/files/feed-metadata/defaults.json#L670

https://github.com/MISP/MISP/blob/8233f0f6143472be376ab31ea7ca6d18d670b5fd/app/files/feed-metadata/defaults.json#L690

[2021-02-17 15:54] chrisinmtown commented on #6157
It might be worth posting a bit more info.  In my experience the default feeds are not loaded automagically.  I had to click the "Load feed default metadata" button on the Feeds index page.  And after you imported the feeds with the enabled flag set to true, what was in the database vs. what was on the UI?

[2021-02-17 16:02] Wachizungu opened #7026 "Object references not synced for event that has already been synced once before"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 18.04.5 LTS (both MISP instances)
| OS version (client)       | Windows 10 but N/A
| PHP version               |  7.2.24
| MISP version / git hash   | 2.4139, 8233f0f6143472be376ab31ea7ca6d18d670b5fd

### Expected behav

[2021-02-17 16:20] Wachizungu opened #7028 "Edit reference button / functionality in event graph is broken"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 18.04.5 LTS
| OS version (client)       | Win10
| PHP version               | 7.2.24
| MISP version / git hash   | 2.4139, 8233f0f6143472be376ab31ea7ca6d18d670b5fd
| Browser                   | Brave, Edge

### Expected

[2021-02-17 16:42] github-germ commented on #6917
Hi @iglocska -- Thanks a ton!

My various test cases setting `breakOnDuplicate=True` on the object now all work well.

I am attaching my test script:  [dedupObj.py.txt](https://github.com/MISP/MISP/files/5997164/dedupObj.py.txt)

Usage for test case...
[code]

Am I understanding correctly that you also added the ability to set `breakOnDuplicate=True` at a higher level on the `MISPEvent` and that s

[2021-02-17 20:32] github-germ opened #7030 "Consider some constraints on Tag names"
2.4.138

Does it make any sense to consider some constraints of what is considered a valid and acceptable Tag name?

For example, someone or some client app created a Tag name consisting of the one character double-quote. Do we want special chars, and perhaps other "unusable" strings being allowed as Tag names?

[2021-02-17 21:18] chrisinmtown commented on #7030
I propose the constraint that a tag has at least one letter to be considered valid. I would not rule out any special char.

[2021-02-18 08:36] mokaddem commented on #6979
Hey @chrisinmtown,
I haven't managed to reproduce the bug you experience on the latest version. For me, the `orgc` field can be picked normally.
Just to recap how this field is working:

`Orgc` can be specified only for the _CSV_ and _Freetext_ feed formats, and can be used if you want that another organisation than the owner takes the role of the creator.
For example, you can have the `Phishtank`

[2021-02-18 09:07] SoheiMitsukawa opened #7031 "PyMISP and urllib3 error"
When I tried to use PyMISP 2.4.138, I got an error.

First, the code is below:

--------------------

from pymisp import ExpandedPyMISP
MISP_AUTHKEY = 'hoge'
MISP_URL = 'https://hoge'
misp = ExpandedPyMISP(MISP_URL, MISP_AUTHKEY, ssl=False, debug=False)

--------------------

The details of the error are as follows:

I use urllib3 1.22:
$ pip3 show urllib3
Name: urllib3
Version: 1.22
...

And, whe

[2021-02-18 09:21] cudeso opened #7032 "REST API client add user adds role id "label" instead of id number"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| MISP version / git hash   | 2.4.138

### Expected behavior

Add a user via REST API client. Complete mandatory fields and use the "autocomplete" fields.

### Actual behavior

For the field  "role_id" the client propos

[2021-02-18 09:59] Rafiot commented on #7031
It is fixed on PyMISP, but not in the package yet: https://github.com/MISP/PyMISP/commit/e52263b75a47414fdfe405547d75cfad5f5df654

I'll bump PyMISP in the repo.

[2021-02-18 11:19] chrisinmtown commented on #6979
@mokaddem thanks for explaining that orgc can only be set for CSV/Freetext formats.  That means I misused the feed screen. I tried adding a new feed again and yep, if I set the format to one of those, the Organisation drop-down appears and I can pick a value. Same goes for all existing feeds with those formats. Sorry to waste your time.

p.s. please document this behavior in misp-book.

[2021-02-18 11:19] #6979 closed, assigned to nobody

[2021-02-18 11:35] chrisinmtown commented on #6979
@mokaddem I read your explanation a few more times but still don't understand.  Your statement makes me think there's an "ORG" and "ORGC" for feeds. But on the UI feeds screen I only see a single column labeled "Org" and it is populated from the orgc_id field behind the scenes. On the UI an entry in the organisation field is absolutely required for feed types csv/freetext. Also I checked the table

[2021-02-18 12:11] marjatech commented on #6974
Hey @mokaddem,
just updated to 2.4.139
It's fine now.
Thank you anyway!

[2021-02-18 12:11] #6974 closed, assigned to nobody

[2021-02-18 13:09] iglocska commented on #6917
Indeed, it should work on the event level now. I'll check, it might be only fixed for /events/add and not /events/edit

[2021-02-18 13:47] github-germ commented on #6917
Thanks! It does look like in `Event.php` https://github.com/MISP/MISP/commit/8bde7d01f488837f679b3ea7fd7c0eaa8fd6d716 revised `_add` but not `_edit`

[2021-02-18 13:58] iglocska commented on #6917
Yep indeed! Will try to add that asap, it's a bit silly this way.

On Thu, Feb 18, 2021 at 2:48 PM github-germ <notifications@github.com>
wrote:

[2021-02-18 14:04] marjatech commented on #6975
@mokaddem:
Thank you for this fix!
will it also affect the widget-config, or only the full dashboard-import from JSON?

[2021-02-18 14:27] mokaddem commented on #7026
Hey @Wachizungu !
Your precise description, helped us a lot to track down the issue!
The issue is now fixed on a225ac4483687251b4ae0b5853d6ffa34814a66d.
Thanks a lot for your help!

[2021-02-18 14:27] #7026 closed, assigned to mokaddem

[2021-02-18 14:40] mokaddem commented on #7028
Hello!
Indeed, the edit button created by the graphing library is a bit confusing as it implies that you can edit object references.
However, it's not the case as there is no way to edit a reference right now.
The only way currently is to delete and create a new one as you pointed out

[2021-02-18 14:57] Wachizungu commented on #7028
Hi!

Okay, good to know :)

[2021-02-18 15:28] Wachizungu commented on #7026
Super, thanks!

[2021-02-18 17:07] cudeso commented on #6954
@mokaddem indeed, that will be the cause. Thanks for https://github.com/MISP/MISP/commit/a7834a291b0e3cc38ceb457551674e91aa930d33 . I'll close this issue.

[2021-02-18 17:07] #6954 closed, assigned to nobody

[2021-02-18 17:51] JakubOnderka commented on #6947
Fixed, thanks for report.

[2021-02-18 17:51] #6947 closed, assigned to nobody

[2021-02-18 19:04] eCrimeLabs opened #7039 "ZMQ plugin listens on 0.0.0.0 and can't be changed"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Debian
| OS version (client)       | Windows 10
| PHP version               | 7.4
| MISP version / git hash   |  v2.4.139 (8233f0f6143472be376ab31ea7ca6d18d670b5fd)

### Expected behavior
It should be possible under the plugin

[2021-02-18 22:33] joydragon opened #7040 "[Enhancement] - Can you please define a ZeroMQ parameter for the "host""
**Is your feature request related to a problem? Please describe.**
Whenever you activate the ZeroMQ plugin it'll always start with 0.0.0.0

**Describe the solution you'd like**
Can you please define a ZeroMQ parameter for the "host" that's going to be listen to on the plugin settings page?
It wouldn't be a huge change, and it'll prevent the server to be open to everyone everytime.
The change would

[2021-02-19 00:28] SoheiMitsukawa commented on #7031
Thank you for your prompt response.
I understand.
Now, waiting to be added to the package.
Thanks,

[2021-02-19 00:28] #7031 closed, assigned to nobody

[2021-02-19 07:50] adulau commented on #7040
This is a very good point.

[2021-02-19 07:51] adulau commented on #7040
Related to #7039

[2021-02-19 07:58] cudeso opened #7041 "Adding a user via REST API without an org_id does not fail although org_id is declared mandatory"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| MISP version / git hash   | 2.4.138

### Expected behavior

Adding a user via the REST API without supplying an organization ID should fail and return an error.

### Actual behavior

Adding a user without an org_id re

[2021-02-19 08:20] mokaddem commented on #7019
Should it also apply on cluster as well?
And if yes, should the orgc of the cluster be able to control this enabled state or should it be for the admin only?

[2021-02-19 09:39] iglocska opened #7042 "Push proposals"
Currently there is no way to push proposals without actually pushing the events out

- the idea would be, to avoid potentially leaking events out during the push to also allow for a proposal push only mode

[2021-02-19 10:51] Wachizungu commented on #7042
Hmm if I understand correctly this _might_ also help with one of my use cases:

We have an intermediate instance on which we do a 4 eyes review (it contains filtered data and different event info / name), for now there is no simple way for the reviewer to just review on that one with proposals and then push the proposals & comments back to the initial instance as it would overwrite some data we de

[2021-02-19 12:01] chrisinmtown opened #7044 "Filter feature fails on forward slash, cannot search for http://"
The feeds index page cannot filter the content for the string "http://".  I was trying to check if any feeds still use insecure transport.  The URL seems to show that the forward slash is encoded as expected:
[code]
But the result is a plain 404 page (not internal server, not blackhole, not denied) with just this content:
[code]

### Work environment

| Questions                 | Answers
|-------

[2021-02-19 12:19] iglocska commented on #7019
I'd say no, custom clusters are a different story, but indeed something we need to think about.

[2021-02-19 12:20] iglocska commented on #7019
But yeah as discussed offline - let's keep it galaxy level only.

[2021-02-19 13:11] cudeso opened #7046 "Allow read-only access to /servers/getWorkers via non site-admin users"
**Is your feature request related to a problem? Please describe.**
You need site-admin permissions to read the status of the workers via /servers/getWorkers . This is not optimal if you want a read-only user that can only read the status of the system.

**Describe the solution you'd like**
Role option to set "read-only" for worker status.

**Describe alternatives you've considered**
Make the monit

[2021-02-19 13:12] Tyrell20 opened #7047 "MISP no space on /var/www/MISP/app"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Red Hat Enterprise Linux Server release 7.9 (Maipo)
| MISP version / git hash   | 2.4.137

### Support Questions
Hello,
we are facing an issue about the space left on /var/www/MISP/app.
The file stored here take up the fol

[2021-02-19 13:29] mokaddem commented on #7014
Hello,
I couldn't reproduce the issue even when enforcing the `full_group_by` on mysql.
https://github.com/MISP/MISP/commit/2779077cbdbae33c913ee4fd8f6a52a20a898585 should fix the issue, but do not hesitate to come back if you spot something else.
Thanks for the report!

[2021-02-19 13:29] #7014 closed, assigned to nobody

[2021-02-19 14:42] mokaddem commented on #6979
Whenever a feed (whichever format) is pulled in MISP, its data will create on (or more) event(s).
Depending on the feed format, you have two cases:
1. **MISP** feed format
    - When the events are created, the `org_id` (owner) of the event will be the `ID` for the organisation triggering the pull
    - the `orgc_id` will be the `ID` of the creator organisation defined in the feed itself. This is

[2021-02-19 14:54] mokaddem commented on #6975
Only the widget-config

[2021-02-19 14:54] mokaddem commented on #6975
I just added a similar check if when importing the full dashboard in 7b3be9362b0e6d2bfaa0c4ebf76257d174349cfc

[2021-02-19 23:29] tomking2 commented on #7047
If I'm not mistaken, usually this is one of two things:
1. There is a bug in the stix generation script which causes it to crash prematurely and not remove files upon completion (possibly attribute mapping issue)
2. A client terminates a connection before the response is sent back

Might be worth testing a stix export while checking the logs and raising an issue/pr of you spot a problem.

However

[2021-02-20 17:22] iglocska commented on #7047
Yeah, been seeing something similar to what @tomking2 describes above - though it seems to have dropped recently, was having issues with a space constrained server until recently. Could you update your MISP and see if your /var/www/MISP/app/files/scripts/tmp directory still keeps growing?

Also, yes, you can delete the files there.

[2021-02-21 00:26] patriziotufarolo opened #7051 "MISP.python_bin refuses python executable when its mimetype is application/x-pie-executable"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | OS Independent
| OS version (client)       | Client OS independent
| PHP version               | PHP independent
| MISP version / git hash   |  HEAD, feefa591e9e864701c487c66ba6d7f065fd30b5
| Browser                   | N/A

#

[2021-02-21 14:50] War10ck3 opened #7054 "Mixbox Versioning mismatch during MISP Installation"
### Work environment
| Type of issue                   | Support
| OS version (server)          | Ubuntu OS
| OS version (client)           | Ubuntu, 18.04 LTS
| MISP version / git hash   | 2.4.138, hash of the commit
| Browser                          | Google Chrome

### Support Questions
Hello!

I am following the official documentation to update the python dependencies: https://www.circl.lu/do

[2021-02-21 16:40] #7051 closed, assigned to nobody

[2021-02-21 22:55] chrisinmtown commented on #6979
@mokaddem thanks for the additional explanation.  One more question, if you can please find time. We trigger fetches of CSV/freetext feeds using crontab, which invokes Cake with a  feed id *and* a user ID.  Every one of those feeds has an orgc_id in the feeds table, selected via the Feeds UI screen. How does Cake use the user ID and the orgc_id when it processes feeds -- where/how are those IDs ap

[2021-02-22 06:14] vaibhavpandey86 commented on #6919
Hello @iglocska am sorry for late reply.

I did try your method with GET /attributes/restSearch/returnFormat:suricata/eventid:6
 it is not giving me anything, but when I manually open the event 6 it contains almost 11K attributes with IDS box enabled. and I am able to download Suricata rules manually with "Download as..." option on the left.
![40F02187-7329-4FDA-9150-032FFF4C4F34_1_105_c](https://

[2021-02-22 09:16] Tyrell20 commented on #7047
Many thanks. Unfortunately the update did not solve the issue. I scheduled a cron job in order to delete these files

[2021-02-22 10:14] cocaman opened #7058 "CIDR Warning lists produce error on APT1 report"
*If you would like to report a bug, please fill the template bellow*

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 20.04.2 LTS
| OS version (client)       | MacOS
| PHP version               | 7.4.15
| MISP version / git hash   | v2.4.139 (3228588921e032c1a7161af4

[2021-02-22 10:20] mokaddem commented on #6919
Hey,
Is your event published?

[2021-02-22 10:26] mokaddem commented on #6979
When a CSV/freetext feed is pulled, an event is created and saved.
These fields are set as follow:
- `orgc_id`: Taken from the feed configuration `orgc_id` field.
- `org_id`: Taken from the user performing the pull request. So in your case, the `user_id` is used to fetch his organisation (and thus the associated `org_id`).

[2021-02-22 10:28] vaibhavpandey86 commented on #6919
Hello @mokaddem
it says "No" to published.
![Screenshot 2021-02-22 at 3 57 17 PM](https://user-images.githubusercontent.com/27011344/108695853-c63c9c00-7526-11eb-8b37-0d5f0a1342c5.png)

[2021-02-22 10:36] mokaddem commented on #6919
Could you try to publish it and try again?
(There is a `Publish Event` button on the side panel)
Thanks!

[2021-02-22 10:51] cocaman commented on #7058
adding `CidrTool.php` from https://github.com/MISP/MISP/blob/2.4/app/Lib/Tools/CidrTool.php fixed the warning.

[2021-02-22 11:01] iglocska commented on #7058
That is weird, I'm curious why you don't have that file there.

[2021-02-22 11:20] vaibhavpandey86 commented on #6919
Hello @mokaddem,
while publishing event 6 it asking for missing taxonomies, got an error
"Could not publish event - no tag for required taxonomies missing: CERT-XLM" ( visible in my last attached image )
tried to add tags, but couldn't find the proper place. I have dropped an email to reporter. waiting for their response, if I get any.
Do you have any idea for the same?!?
Thanks,
Vaibhav

[2021-02-22 11:50] cocaman commented on #7058
Just checked my other MISP instance, it is also missing on that one.
v2.4.136 (f7d5bc272bd457e5f216b9c5aea19ccb30b492b3)

[2021-02-22 11:58] StefanKelm commented on #7058
https://github.com/MISP/MISP/pull/6114/files#diff-ca04d727d224f384993b7548b75b00e6a14c399a7d0eb25e759596127090aa3a

[2021-02-22 12:24] adulau commented on #6919
As mentioned in the error message, your MISP instance is configured with some required taxonomy to be set in this case CERT-XLM. If the tag is not set, you won't be able to publish. If you manage your MISP instance, you can also disable the required taxonomy.

We are organising a training the 2nd March on how to use MISP, maybe you would like to participate in order to get the concept of MISP: htt

[2021-02-22 12:30] iglocska commented on #7058
This must have been reverted though,

https://github.com/MISP/MISP/blob/2.4/app/Lib/Tools/CidrTool.php

[2021-02-22 13:30] iglocska commented on #7047
Ping @chrisr3d -could be a bug in the STIX export

[2021-02-22 14:46] nvvliet opened #7061 "app/files/scripts/lief not in .gitignore?"
The following is installed according https://misp.github.io/MISP/INSTALL.rhel7/

`cd $PATH_TO_MISP/app/files/scripts
  $SUDO_WWW git clone https://github.com/CybOXProject/python-cybox.git
  $SUDO_WWW git clone https://github.com/STIXProject/python-stix.git
  $SUDO_WWW git clone --branch master --single-branch https://github.com/lief-project/LIEF.git lief
  $SUDO_WWW git clone https://github.com/Cy

[2021-02-22 15:57] #7061 closed, assigned to nobody

[2021-02-22 15:59] nvvliet commented on #7061
Lief directory is not empty, probably other issue

[2021-02-22 16:19] imidoriya opened #7063 "Add template name to object conformity errors"
**Is your feature request related to a problem? Please describe.**
Often when troubleshooting, I get messages like these below that don't really help me find the issue.  What Object?

**Describe the solution you'd like**
In the `ObjectTemplate.php` `checkTemplateConformity` function Error Message, could you specify the object template name (or some other indicator) instead of "the object" so that

[2021-02-22 17:33] jloehel commented on #7014
@mokaddem Thanks for the fast response, the patch fixed it. :+1:

[2021-02-22 19:57] chrisinmtown opened #7066 "Provide API access to get and update organisation logo images"
Organisation logos today are stored as files below /var/www/MISP/app/webroot/img/orgs. A fetch via the API/PyMISP does not get the image bytes, image URL or even an indicator that a logo is defined.  I cannot find a way to push an org logo via the API/PyMISP.

**Describe the solution you'd like**

* Extend server and PyMISP to allow fetch, update of logos as base64 encoded strings
* Extend server

[2021-02-22 20:03] jloehel opened #7067 "Feed synchronization/merge does not work with URL-Attributes which end with multiple dots"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 20.04
| OS version (client)       | OpenSUSE 15.2
| PHP version               | 7.4
| MISP version / git hash   | 2.4.139

### Expected behavior
The value1 of the attribute gets not altered during sync

### Actual behav

[2021-02-22 20:19] chrisinmtown commented on #7067
You are saying the data that comes over, the indicators of compromise, are URLs and they end with multiple numbers of period characters, did I get that right?  And when MISP ingests those, it treats a URL IoC ending with two periods as equal to a URL IoC ending with three periods (and so on), just discards those characters?

I wonder if there's some path-disambiguation code happening somewhere.  T

[2021-02-22 20:46] jloehel commented on #7067
Hi Chris,

Yes, correct.

I haven't checked the responding code yet but I guess something like that.

Ah, no! Not the feed URL. I will change the headline to be more clear.

[2021-02-22 21:37] kunmukh commented on #4687
Also, using the method showed in https://github.com/MISP/MISP/issues/2983 , one can do `sudo /var/www/MISP/app/Console/cake Baseurl https://<ip>:8443`

[2021-02-22 22:15] chrisinmtown opened #7068 "Can Cake cache (copy to Redis) object attributes and analyze overlap?"
We are starting to gather attribute collections into MISPObjectAttributes.  We have to use custom ingest code for this.  I just want to ask, can the MISP/Cake caching feature take in MISPObjectAttribute data, push it to Redis and analyze overlaps?

[2021-02-23 04:01] #7039 closed, assigned to nobody

[2021-02-23 04:02] #7040 closed, assigned to nobody

[2021-02-23 04:53] legoguy1000 commented on #7066
Wouldn't it just be easier and more efficient to update the org model to provide a URL for the org logo if it exists and then pymisp can be extended to download it if wanted? Storing blobs in a DB is doable but also not the most efficient.

[2021-02-23 08:25] iglocska commented on #7066
Yeah - even easier we can abstract it and load / save b64 encoded logos in the org object automatically. The storage shouldn't have any impact on that.

[2021-02-23 11:07] chrisinmtown commented on #7066
@iglocska I am not sure I follow you here, "abstract it", "storage shouldn't have any impact", sorry.

@legoguy1000 I like your suggestion to extend the server API to include the server's URL of the organisation logo within the get-org JSON response instead of a long base64-encoded field.  Probably PyMISP clients rarely need the logo bytes. But that change will make the get/add/update methods asym

[2021-02-23 11:13] chrisinmtown commented on #7063
+1
(why doesn't github have voting on issues?)

[2021-02-23 11:16] iglocska commented on #7066
From an API perspective you don't need to worry about the storage engine. The API acts as an abstraction layer, we can just add a new logo field on the organisation object which expects/includes the logo image - which we can store in whatever way we see fit behind the scenes, hence having no impact on how pymisp/your scripts would interact with the data.

[2021-02-23 13:08] chrisinmtown commented on #7066
@iglocska thanks for explaining, I think I understand now.  I'll update the title to reflect the underlying requirement: API access to get and update the organisation logo.

[2021-02-23 13:31] legoguy1000 commented on #7066
APIs are usually asymmetric.  There is usually a lot of fields that only exist after an object is created or is dynamically generated from other data and not able to be modified by the user.

[2021-02-23 18:13] mhpchaves opened #7072 "problems while pushing sightings"
Hello,

We have a MISP instance running version 2.4.139, and it's pushing events to 20+ servers. These events have attributes with sightings, and we want all these data (events, attributes and respective sightings) to be pushed
to the servers. When we try to push data to servers we see the following error messages:

[code]

If we turn "push sightings" flag off, the error messages disappear.

We ar

[2021-02-23 21:26] ahmedxuae91 opened #7075 "Enable "Send credentials automatically" for User Via API"
Hi All,

i am trying to create new user using API and everything works fine.

However, i am not able to find any option for "Send credentials automatically"

Kindly let me know how to achieve this.

Here what i can see only:

`
  "mandatory_fields": [
        "email",
        "org_id",
        "role_id"
    ],
    "optional_fields": [
        "password",
        "external_auth_required",
        "

[2021-02-23 21:30] imidoriya opened #7076 "Tag sort does not work count or attribute_count"
# Bug Report
On the `/tags/index` page, sorting on the `Tagged events` or `Tagged attributes` doesn't actually sort on these fields.  It appears to just sort by `sort:Tag.id/direction:asc`

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 18.04
| OS version (client)

[2021-02-24 01:33] ag-michael opened #7077 "MISP STIX parser has trouble parsing TTP values"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| OS version (client)       | OS X catalina
| PHP version               | 7.2
| MISP version / git hash   | 2.4.135

### Expected behavior
Uploading a stix document would work without an error

### Actual behavior

The

[2021-02-24 01:59] #4735 closed, assigned to nobody

[2021-02-24 15:18] JakubOnderka commented on #7072
Thanks for report, it will be fixed in next release.

[2021-02-24 15:18] #7072 closed, assigned to nobody

[2021-02-24 15:34] kiz1 opened #7082 "v2.4.139 Don`t work changing localization into settings after updating instance (only default lang.)."
v2.4.133 - work
v2.4.139 - not work

[2021-02-24 16:01] JakubOnderka commented on #7082
Thanks for report, fixed in pull #7084 that will be included in next release.

[2021-02-24 16:01] #7082 closed, assigned to nobody

[2021-02-25 02:32] chrisinmtown commented on #7068
I really think this must have an easy answer -- most likely NO -- but would like confirmation please

[2021-02-25 13:27] cudeso opened #7093 "Security.do_not_log_authkeys has no effect"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| MISP version / git hash   | 2.4.139

### Expected behavior

Log API key when **do_not_log_authkeys** is set to false

### Actual behavior

Regardless if set to false or true, the API key logged is always

`Successful

[2021-02-25 13:47] JakubOnderka commented on #7093
Hello, this is intended. This option prevents agains logging the whole key, but logging just first and last 4 characters is considered safe.

[2021-02-25 13:53] cudeso commented on #7093
I understand. But isn't it better to remove the option completely? Now setting it either to true or false returns the same result.

[2021-02-25 13:54] cudeso commented on #7093
To clarify: either if the option is set to true or false, the logged output is **always** "(aBCD********************************abcd)"

[2021-02-25 15:44] ghost commented on #7054
At least version 1.0.4 works fine, I would assume 1.0.5 is Ok as well.

[2021-02-25 16:40] github-germ commented on #6917
@iglocska -- Is there anything I can do from here to help? I think we're close.

[2021-02-25 19:53] erpatrik opened #7096 "No data from API call when requesting timestamp range."
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| OS version (client)       | Ubuntu
| PHP version               | 7.4
| MISP version / git hash   | 2.4.139, (add5882d8b9bbc1de1b21d137e723d01be1e6dce)

### Expected behavior
When requesting attributes via an API with

[2021-02-26 03:14] A1oha opened #7098 "how to terminate the running job"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Ubuntu
| OS version (client)       | Ubuntu
| PHP version               | 7.2.24
| MISP version / git hash   | v2.4.130

### Support Questions
I am executing a cache_feeds task, as shown in the figure, and I want to know h

[2021-02-26 07:25] marjatech opened #7099 "User with Tagger-Permission can add, but not remove local Tags in external Events"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| OS version (client)       | Win10, Ubuntu
| PHP version               | 7.4
| MISP version / git hash   |  v2.4.139 (6fd2c4807abc2232b90d00fd290b0020db83fcaa)
| Browser                   | Firefox

### Expected behavi

[2021-02-26 10:41] lfortemps commented on #7093
I think this option is useful for people that haven't turned on the advanced auth key setting yet.

[2021-02-26 10:51] lfortemps opened #7103 "Improve API Key security"
**Describe the solution you'd like**
To expand on the new Auth key implementation, we would like to have the ability to:

- Create keys with reduced privileges  (roles that include a subset of the user role's permissions)
- Ability to limit the usage of the key to a predefined list of IP or IP range

This would for instance allow a regular user to create key with "Read Only" for an export script.

[2021-02-26 11:13] cudeso commented on #7093
Yes. But as far that I can check, the only option having effect is log_user_ips_authkeys (either yes/no log of API requests) and do_not_log_authkeys has no effect (always logged with aBCD*** regardless of setting)

[2021-02-26 11:36] Wachizungu commented on #7093
It indeed doesn't seem to make a difference when authentication is logged. The do_not_log_authkeys does have an effect still. When you reset a key using the old auth key system, the full key is logged if do_not_log_authkeys is false. You only see asterisks in the log for those entries if do_not_log_authkeys is true.

[2021-02-26 15:29] chrisinmtown commented on #6979
I tried to capture the answer from @mokaddem in https://github.com/MISP/misp-book/pull/225 please review

[2021-02-26 15:54] chrisinmtown commented on #7103
If you are seeking to improve security, I suggest you stop storing API keys in cleartext, and store their hashes instead.  Upon receipt of a key, hash it and search the database for the hash.  This means users get exactly one chance to copy their API key, which is exactly what most sites implement these days.

[2021-02-26 16:16] lfortemps commented on #7103
@chrisinmtown what you are describing is exactly what is already implemented with the advanced auth key introduced last year in the code base. I think it's enabled by default for a new install but for existing install, you need to enable it explicitly in the security settings.

[2021-02-27 06:24] legoguy1000 commented on #7103
U could change to use JWTs and u wouldn't need to store anything since they would be signed and can have roles/privs baked into the token

[2021-02-27 08:34] adulau commented on #7103
We have this functionality in MISP, it's Security.advanced_authkeys. From older MISP instance, you need to enable it and make "Upgrade authkeys keys to the advanced keys format" available in the diagnostic page.

[2021-02-28 00:43] Rafiot opened #7108 "PHP Warning on galaxy delete"
This is the response of MISP when deleting a Galaxy:

[code]

[2021-02-28 09:24] ahmedxuae91 commented on #7075
Hi Team, May i request you please if you can use this API query in any of your MISP systems that has postfix configured and confirm if you are receiving a welcome email after sending the below request?

curl -k https://URL/admin/users/add -H "Authorization:**********" -H "Content-Type: application/json" -H "Accept: application/json" --data '{ "email":"xxxx@xxx.xxx","autoalert":false,"contactalert"

[2021-02-28 11:53] cudeso opened #7109 "Include IP in entries send to syslog"
**Describe the solution you'd like**
Include the client IP in the log entries sent to syslog if both Security.syslog and log_client_ip are set to true.

[2021-02-28 14:44] codthing commented on #3524
@TostyT @SteveClement
For me, your method has no effect
https://github.com/git/git-scm.com/issues/1588#issue-818219501

[2021-02-28 21:13] Rafiot commented on #7108
nevermind, wasn't on develop...

[2021-02-28 21:13] #7108 closed, assigned to nobody

[2021-03-01 12:53] Wachizungu commented on #4363
I think this one can be closed now.

[2021-03-01 15:22] pietrogu opened #7110 "How to customize MISP Web GUI Theme"
Hi,

in the MISP guide i found this:

I did as indicated, but i could not change my theme.

In particular, i tried to upload this one: https://bootswatch.com/2/amelia/

So I expected to have an interface like the one reported, but instead nothing happened.

Can someone provide a correct guide for how to change the default MISP theme with another one?

Thanks,
Pietro

[2021-03-01 16:00] pietrogu commented on #6074
Hi @cohenshimi,

can i ask you how did you install sightingdb?
in the readme there is a reference to a sighting-daemon.ini file, but i didn't find it

Thanks,
Pietro

[2021-03-02 08:48] garrit-schroeder opened #7115 "MISP/app/Console/cake Server pushAll [user_id] [full|update]"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I like to pull and push to/from every sync server via a crontab. A pullAll Method is available in cake but what about a pushAll method?

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

I lik

[2021-03-02 08:48] garrit-schroeder commented on #7115
Is this a good idea to add, or not?

[2021-03-02 10:28] cudeso opened #7118 "EventTag does not have an effect when creating new events"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | RedHat
| MISP version / git hash   | 2.4.139

### Expected behavior

Supplying the tags in EventTag adds the tags when creating an event.

### Actual behavior

Event is created but EventTag is ignored.

[code]

[2021-03-02 10:35] cudeso commented on #5520
@mokaddem was there already work done for this issue?

[2021-03-02 10:43] Wachizungu commented on #5997
Seems like proposed solution would synergize well with issue #7103 part 1

[2021-03-02 10:52] garrit-schroeder commented on #7115
And  MISP/app/Console/cake Server list seems to be broken. Depending on the output of this command this could be a workaround for me.

![image](https://user-images.githubusercontent.com/12541078/109638973-eb489480-7b4e-11eb-8a64-bdaf1e82029c.png)

[2021-03-02 10:55] marjatech opened #7119 "Attribute search by value not working for composite types (e.g. ip|port)"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| OS version (client)       |Win10, Ubuntu
| PHP version               | 7.4
| MISP version / git hash   | v2.4.139 (6fd2c4807abc2232b90d00fd290b0020db83fcaa)
| Browser                   | Firefox

### Expected behavior

[2021-03-02 11:09] War10ck3 commented on #7054
How do I resolve the UI issue as the latest Mixbox version is 1.0.5 which should work fine. According to the UI error message, the issue is that this latest version is not compatible with the STIX version during the fresh installation. I am trying to understand why there is a mismatch in the fresh build?

[2021-03-02 11:20] War10ck3 opened #7121 "Incorrect PHP Version in install.sh"
Work environment

| Type of issue | Support
| OS version (server) | Ubuntu OS
| OS version (client) | Ubuntu, 18.04 LTS
| MISP version / git hash | 2.4.138, hash of the commit
| Browser | Google Chrome

### Expected behavior

Php 7.2 installation over install.sh script from MISP documentation. php 7.4 is the recommended version upon successful installation.
Ideally, MISP install.sh should deploy t

[2021-03-02 11:32] War10ck3 opened #7122 "MISP Module Installation Failure: Declared Panda Version Incorrect"
Work environment

| Type of issue | Support
| OS version (server) | Ubuntu OS
| OS version (client) | Ubuntu, 18.04 LTS
| MISP version / git hash | 2.4.138, hash of the commit
| Browser | Google Chrome

### Expected behavior:

Panda package version obsolete in the default installation script recommended by CIRCL. As per "REQUIREMENTS" alphabetic sequence any module after "Panda" fails to install b

[2021-03-02 11:42] War10ck3 opened #7123 "Proxy settings required to be appended into git submodule"
Work environment

| Type of issue | Support
| OS version (server) | Ubuntu OS
| OS version (client) | Ubuntu, 18.04 LTS
| MISP version / git hash | 2.4.138, hash of the commit
| Browser | Google Chrome

### Actual behavior

After MISP installation proxy settings required to be appended into each git submodule under ".git/config" file manually for MISP update to succeed.

### Expected behavior

Upo

[2021-03-02 12:46] maro584 opened #7124 "ImportCSV module not found"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | RedHat, 7
| OS version (client)       | Win10
| PHP version               | 7.4
| MISP version / git hash   | 2.4.133, hash of the commit / 752a31d8ccd7d120010b3ac0b724da8a84f027f7

### Support Questions
When I am trying t

[2021-03-02 13:20] ahmedxuae91 commented on #7075
Hi Team, i was thinking about alternative solution if i can use password reset option after creating the user.

Do MISP support API for password reset?

[2021-03-02 13:22] vaibhavpandey86 commented on #6919
Hello @adulau I didn't receive any link for the event you suggested, I have successfully registered myself in there.

[2021-03-02 16:11] imidoriya commented on #7076
Sort option removed - https://github.com/MISP/MISP/commit/11c89e5c0ae84b204bf698561e6a894b4c6c8d1b

[2021-03-02 16:11] #7076 closed, assigned to nobody

[2021-03-02 16:24] nyx0 commented on #2348
+1

[2021-03-02 16:47] adulau commented on #2348
Thanks to @JakubOnderka it has been merged in develop branch and it will be released tonight

https://github.com/MISP/MISP/blob/af4e248690b05e0d319c87ef46ae6313d76933a1/app/Plugin/OidcAuth/README.md

[2021-03-02 17:11] tomking2 commented on #6750
@iglocska Are you able to point me in the direction where environment paths are replaced? I tried to hunt it down in the code but didn't get anywhere. Happy to continue investigating and submitting a PR if I find a solution.

[2021-03-02 17:23] patriziotufarolo opened #7128 "API calls not working correctly when called from web UI if using custom authentication"
*If you would like to report a bug, please fill the template bellow*

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | N/A
| OS version (client)       | N/A
| PHP version               | 7.4
| MISP version / git hash   | 2.4.139, 19ef63f521e64d33b666c9e38ef853726445b0cc
| Br

[2021-03-02 20:48] JakubOnderka commented on #7128
Hello, what do you mean by *API calls made through the WEB UI*? What URL do you try to access?

[2021-03-02 22:33] Wachizungu opened #7131 "logic to set debug styling of the GUI is incorrect"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| OS version (client)       | N/A
| PHP version               | 7.2
| MISP version / git hash   | 2.4.139, 7431beefa12bff1807dee5351dae9e6586e2c5a9
| Browser                   | N/A

### Expected behavior
setting debug

[2021-03-02 23:14] #6641 closed, assigned to nobody

[2021-03-02 23:32] iglocska commented on #7115
Added the list function, output looks like this:

Server #3 :: misppriv :: https://misppriv.circl.lu
Server #31 :: 2021 Training instance :: https://iglocska.eu

There's also the older (mislabeled) listing via `cake Server listServers`, which produces a JSON of the same data.

[2021-03-02 23:32] #7115 closed, assigned to nobody

[2021-03-03 00:40] #6255 closed, assigned to mokaddem

[2021-03-03 00:40] #6780 closed, assigned to nobody

[2021-03-03 00:40] #6975 closed, assigned to nobody

[2021-03-03 00:40] #7032 closed, assigned to nobody

[2021-03-03 00:40] #4363 closed, assigned to nobody

[2021-03-03 07:08] enjeck opened #7285 "Enhance roadmap"
There's a brief [roadmap on the website](https://www.misp-project.org/governance/#features-and-roadmap), but it doesn't mention what are the developers' priorities and what new features to expect.

[2021-03-03 07:49] cudeso opened #7132 ""Could not update Taxonomies" via cake"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| PHP        | 7.4.3
| MISP version / git hash   | 2.4.139

### Expected behavior

Updating the taxonomies via cake should be succesful.

### Actual behavior

Updating taxonomies via cake returns an error.

### Steps to

[2021-03-03 09:05] Turecky opened #7134 "Incorrect file permissions"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 20.04
| OS version (client)       | Ubuntu 20.04
| PHP version               | 7.4.3
| MISP version / git hash   | v2.4.140 (2e4ff3837783ed71c4c15cf05414e72801928df4)
| Browser                   | Chrome
### Expected be

[2021-03-03 09:08] Turecky opened #7135 "Mistspell Security Audit message"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 20.04
| OS version (client)       | Ubuntu 20.04
| PHP version               | 7.4.3
| MISP version / git hash   | v2.4.140 (2e4ff3837783ed71c4c15cf05414e72801928df4)
| Browser                   | Chrome

### Expected b

[2021-03-03 09:23] patriziotufarolo commented on #7128
Hi,
restSearch is enough to trigger the bug, even if called by the Web UI (e.g. exporting a CSV).

If you configure custom authentication (ldap through http basic, kerberos and so on), and try to export a CSV, MISP gives error.
Relying on classic authentication (DB + Misp Login) solves the issue.
This is due to restSearch expects for an API key to be present in the Authorization header, while with

[2021-03-03 10:14] Tyrell20 opened #7136 "Error when import event in json format via REST API"
Hello,

I'm trying to import a MISP Export File in json format via REST API.

When the same event is imported via web interface or via CURL in XML format works fine but when importing the json format with CURL it fails.

Please could you give me some clue? Thanks in advance.

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of iss

[2021-03-03 11:57] dpreuveneers opened #7137 "Database schema issue"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 18.04
| PHP version               | 7.2
| MISP version / git hash   | 2.4.140

### Expected behavior

After upgrading MISP, the diagnostics tool reports that the database schema is inconsistent, but the
the recommended

[2021-03-03 13:09] cudeso opened #7139 "Unpublish Event is not taken into account when pulling in events"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| MISP version / git hash   | 2.4.139

### Expected behavior

Have the newly pulled events from a synced server in 'unpublished' state.

### Actual behavior

Newly pulled events are immediately published.

The events we

[2021-03-03 13:30] mokaddem opened #7140 "[permission] New permission flag allowing substring searches or not"
New permission flag allowing substring searches or not

[2021-03-03 13:41] Turecky opened #7141 "Refused to load the font '<URL>'"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 20.04
| OS version (client)       | Ubuntu 20.04
| PHP version               | 7.4.3
| MISP version / git hash   | v2.4.140 (9f18cec0ca48533eb8e590717cd1e00232a179a6)
| Browser                   | Chrome

### Expected b

[2021-03-03 14:01] JakubOnderka commented on #7141
Hello, since 2.4.140 there is a new Content-Security-Policy thats block loading any external sources.

You can allow loading fonts from Google by setting this in `config.php`:

[code]

[2021-03-03 14:12] Turecky commented on #7141
Hi!
I added in config as suggested. That take no effect.
error.log still contains lot of records:
`2021-03-03 16:08:40 Error: CSP reported violation from IP 127.10.7.5: {
    "document-uri": "https://localhost/servers/serverSettings/diagnostics",
    "referrer": "https://localhost/servers/serverSettings",
    "violated-directive": "font-src",
    "effective-directive": "font-src",
    "original-po

[2021-03-03 14:23] #7141 closed, assigned to nobody

[2021-03-03 14:24] JakubOnderka commented on #7141
Sorry, there is bug with custom policies. Patch for that #7142 was merged into 2.4 branch.

[2021-03-03 14:29] Turecky opened #7143 "Redis password not used"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 20.04
| OS version (client)       | Ubuntu 20.04
| PHP version               | 7.4.3
| MISP version / git hash   | v2.4.140 (9f18cec0ca48533eb8e590717cd1e00232a179a6)
| Browser                   | Chrome

### Expected b

[2021-03-03 14:36] mokaddem opened #7144 "[feed] Exclude specific type from custom feeds"
Exclude specific type from custom feeds

[2021-03-03 14:40] cudeso commented on #7136
This might be related to https://github.com/MISP/PyMISP/issues/533#issuecomment-788258194

[2021-03-03 14:44] cudeso commented on #7136
As temporary workaround I filter it in a Python script with `event = json.loads(e)['response'][0]`

[2021-03-03 15:13] JakubOnderka commented on #7143
Hello, you have to also set this password to CakeResque  config, that is located in `/var/www/MISP/app/Plugin/CakeResque/Config/config.php`.

[2021-03-03 16:01] Turecky commented on #7143
Thanks for hint.
Now all works!!!

[2021-03-03 16:01] #7143 closed, assigned to nobody

[2021-03-03 16:15] Tyrell20 commented on #7136
Hello cudeso,
I think it is a different problem because with CURL I have error even editing the exported JSON and removing "Response" tag (error message: invalid json).
Unfortunately I can import the events only with CURL because in my system I can't use python.
Thank you

[2021-03-03 16:38] JakubOnderka commented on #7135
Fixed, thanks!

[2021-03-03 16:38] #7135 closed, assigned to JakubOnderka

[2021-03-03 17:53] Turecky opened #7148 "CSP enforce not presents in web interface configs"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 20.04
| OS version (client)       | Ubuntu 20.04
| PHP version               | 7.4.3
| MISP version / git hash   | v2.4.140 (916c2c989da0c498ca6ec9e882aa2618531ffaf5)
| Browser                   | Chrome

### Expected b

[2021-03-03 19:24] #7148 closed, assigned to nobody

[2021-03-03 19:57] chrisinmtown opened #7151 "Select index page size (number of records) with friendly UI control"
Let me choose the number of events shown on the event index page (and all index pages).  The events index page,  attributes index page, logs index page and others set a fixed limit of 60.  Just to be different, the tags index page sets a fixed limit of 50 and the proposals index page sets a fixed limit of 20.

**Describe the solution you'd like**

Add a drop-down selection box at the bottom of *ev

[2021-03-03 19:58] iglocska commented on #7151
page:1/limit:100 should work for example

[2021-03-03 20:21] chrisinmtown commented on #7151
Thanks @iglocska that's good news, the server side already supports variable parameters, the UI just needs a new control so the user can pick a value easily.

[2021-03-03 21:34] cudeso commented on #7075
An alternative option is to create users with a default password and set it so that they are required to change it after first login (option 'change_pw'). Send the default password via another channel or via email.

Also have a look at REST call "/users/change_pw"

[2021-03-04 11:03] Turecky opened #7153 "Remove Python and PHP support notification"
Add version check for notification about Pyhon and PHP support drop. If Versions of PHP and Python are newer do not show notifications in diagnostics window

[2021-03-04 13:46] kara-1234 commented on #7044
I also have this problem. We have some reporting with serial numbers that contain slashes and we don't have the ability to search on it.

[2021-03-04 17:53] esteban-armas commented on #5919
Yeap, it would be quite important and helpful to have something like that. Currently, I'm trying to integrate a threat score system within MISP as an internal module. However, I didn't find a way to "trigger" the event enrichment (adding the calculated score) automatically once the event is received. The way around that I found, just to test the threat score system, is to export the event to an ex

[2021-03-05 04:24] ag-michael commented on #6936
@iglocska @JakubOnderka any update on this?

[2021-03-05 09:23] mokaddem opened #7163 "Freetext import doesn't support bracketed value"
Freetext import doesn't support bracketed value.
Example: (2.2.2.2)

[2021-03-05 11:13] iglocska opened #7164 "Search galaxy clusters via elements in the UI"
Currently this is not supported

[2021-03-05 11:24] iglocska commented on #7163
Fixed on develop

[2021-03-05 11:28] StefanKelm commented on #7163
related to #6386 ? ;)

[2021-03-05 12:58] JakubOnderka commented on #7163
@mokaddem Can you provide exact example? It should be already supported, I just tested.

@iglocska Brackets should be already removed in https://github.com/MISP/MISP/blob/4a4722a30c24a556e382581c2ce8df432a5bae33/app/Lib/Tools/ComplexTypeTool.php#L206

[2021-03-05 13:54] chrisinmtown commented on #7151
Closely related, I need to choose a *small* page size to view an event that contains many MISPObjectAttribute collections.  Trying to view an event with 60 of those, where each obj-attr has 1..100 attributes, floods the browser with too much data and it becomes very slow. You want a new issue for that?

[2021-03-05 14:41] JakubOnderka opened #7165 "When pushing event, sharing group is not created"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| MISP version / git hash   | 2.4.140

### Expected behavior

When pushing event from instance `A` to `B` with Sharing group `SG` that doesn't exists on instance `B`, sharing group `SG` is created at instance `B` and event is attached to that sharing group

[2021-03-05 15:10] iglocska commented on #7165
As discussed offline - indeed this looks like a bug. I always assumed that releasability was mandatory, looks like it's not. So best to relax the requirement.

[2021-03-05 15:16] #7165 closed, assigned to nobody

[2021-03-06 09:29] JakubOnderka commented on #7153
Thanks for report. Removed, will be included in next release.

[2021-03-06 09:29] #7153 closed, assigned to nobody

[2021-03-07 04:35] sdzhangtao opened #7169 "Azure AD module reports errors at https://login.microsoftonline.com/{tenant_id}/oauth2/v2.0/token, 400 Bad Request"
I followed the document on App registration. However each time I choose Login with Azure AD, after being forwarded to Azure for authentication, after successful authentication, it was forwarded back to MISP login page again.

https://login.microsoftonline.com/{tenant_id}/oauth2/v2.0/token was requested three times based on server log. The first time was OK, access token was granted. However errors

[2021-03-07 15:46] sdzhangtao commented on #7169
I think I found the problem, I was using my own Azure subscription for testing. I assume the gmail address I sign into Azure is the same as the user name I should register for MISP.

After some painful debugging,  the userPrincipalName is returned from Azure is admin@xxxxxxx.onmicrosoft.com
The onmicrosoft.com is the email that I have to register for MISP

[2021-03-07 22:51] patriziotufarolo commented on #7128
Hi,
I looked a bit deeper into the code, and indeed my patch is wrong.
This is due to a mixture of different approaches when handling multiple authentication schemas.
Particularly, with Shibboleth authentication, the User object is created every time basing on the Shibboleth headers sent with the HTTP request; indeed the entire logic is embedded in the getUser method in https://github.com/MISP/MIS

[2021-03-08 11:11] paupaulaz opened #7175 "Lack of documentation regarding feeds / synchronisation"
Hi,

After setting a MISP instance via https://github.com/harvard-itsecurity/docker-misp, I am trying to fully understand the different synchronization mechanisms MISP offers.

I was able to set up both feed subscription and instances synchronization, but I am struggle to find out in the documentation how and when the sync actions (pulling feeds, pulling / pushing events with sync. instances) are

[2021-03-08 13:29] mokaddem commented on #5520
Unfortunately, no development has been done on it as far as I know. Only predicate exclusivity and requirements before publishing have been implemented.

[2021-03-08 13:31] mokaddem commented on #7124
Could you check that the csv module is detected by MISP and that it's enabled (`/servers/serverSettings/Plugin`)?

[2021-03-08 13:33] mokaddem commented on #7139
This feature was intended for the `PUSH` technique, and I believe is going to disappear soon if I'm not mistaken @iglocska ?

[2021-03-08 14:13] StefanKelm opened #7176 "Suggest to add ThreatFox to the default feeds"
https://threatfox.abuse.ch/
https://threatfox.abuse.ch/downloads/misp/

[2021-03-08 14:44] chrisinmtown commented on #7175
You might want to move this issue to the MISP/misp-book repository.  I contributed some extensions to the managing-feeds chapter but clearly more is needed.

For pulling feeds, CIRCL recommends using a Crontab job that you configure manually.

As for new/old events, most (or maybe all) open-source default feeds provided by CIRCL are configured to use fixed events. Data is always ingested into the

[2021-03-08 18:04] ssinclair-caas opened #7177 "enforceWarninglist parameter has no impact in restSearch"
https://feeds.pwc.com/attributes/restSearch/returnFormat:csv/type:ip-dst/page:1/limit:100000/additionalContext:true/enforceWarninglist:0/attribute_timestamp:1d/api_key:{api key}

*If you would like to report a bug, please fill the template bellow*

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS ve

[2021-03-08 20:04] iglocska commented on #7163
Indeed, it looks like the issue had to do with the trailing period, when a bracketed value was at the end of a sentence.

`we also saw an IP address (8.8.8.8).`

This is resolved by the patch, however, the bracket removal indeed shouldn't be needed.

[2021-03-08 20:06] iglocska commented on #7151
Indeed, I think we have two action items here that we should take care of, though one is not going to help directly right away:

- [ ] Add a page limit dropdown to the generic index UI
- [ ] Finally get my lazy self to finish the alternate event view for large events (split attribute + object lists)

We are in the process of slowly migrating all of our views to the new framework we have for view g

[2021-03-09 09:19] iwitz opened #7178 "Can't download events when using Apache authentication"
*If you would like to report a bug, please fill the template bellow*

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | RHEL 7
| OS version (client)       | Windows 10
| PHP version               | 7.3
| MISP version / git hash   | 2.4.140
| Browser                   | Any
|

[2021-03-09 09:34] iwitz opened #7179 "Security.allow_unsafe_apikey_named_param setting doesn't work"
# This template is meant for bug reports, if you have a feature request user the other template.

*If you would like to report a bug, please fill the template bellow*

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | RHEL7
| OS version (client)       | Win10
| PHP version

[2021-03-09 09:51] iwitz commented on #7178
The issue was introduced between 2.4.136 and 2.4.139, I was able to downgrade to version 2.4.136 and the download worked. It doesn't work in 2.4.139.
I can't say for versions 2.4.137 and 2.4.138 because when I try to downgrade to those, MISP gets stuck on a refresh loop.

[2021-03-09 14:43] Tyrell20 commented on #7136
Hello,
just for information, the problem seems still present with the 2.4.140 MISP version also.
Thank you

[2021-03-09 14:44] legoguy1000 commented on #7169
Sounds like this could be closed and maybe an update to the documentation would be the best remedy for this.

[2021-03-09 17:50] chrisinmtown commented on #7136
Did you check the server's error.log file?  Also you might want to post the JSON that fails to load, after removing proprietary info of course.

[2021-03-09 19:46] Tyrell20 commented on #7136
On "/var/www/MISP/app/tmp/logs/error.log" no error.

Attached the json (renamed in txt and anonymized) that I'm trying to add on MISP with the following command:
`curl  -i -H "Accept: application/json" -H "content-type: application/json" -H "Authorization: Auth_Key" --data @2221889.json -k -X POST https://misp-hostname/events/add.
`

[2221889.txt](https://github.com/MISP/MISP/files/6110997/2221889

[2021-03-09 19:48] chrisinmtown commented on #7136
The data file 2221889.txt has an outer tag "response" with a list. Possibly the server looks for an object containing the key "Event" and if that's not present, simply does nothing?  Try removing that outer object.

[2021-03-09 21:13] Tyrell20 commented on #7136
I already tried this solution (as suggested by @cudeso  and indicated on https://github.com/MISP/PyMISP/issues/533#issuecomment-788258194) but I receive the following error:

{"name":"Invalid JSON input. Make sure that the JSON input is a correctly formatted JSON string. This request has been blocked to avoid an unfiltered request.","message":"Invalid JSON input. Make sure that the JSON input is a

[2021-03-09 21:17] chrisinmtown commented on #7136
You might post here exactly the JSON input that you tried.  Perhaps it truly is invalid?  Obviously there's no sense sending non-parseable JSON to the server with CURL.

[2021-03-09 22:02] iglocska commented on #7136
I can confirm, this works fine with the current version as long as you indeed strip the encapsulation.

[code]

Needs to be converted to

[code]

Be mindful of the response being a list, so in addition to removing {"response": ... } you also need to remove the list []. You have probably forgotten to remove one of the two from the end of the document hence it not producing a valid JSON.

[2021-03-10 02:34] jloehel commented on #4956
@torsolaso There are two different things happening. You tried to upload a file in the OpenIOC 1.1 format. The old OpenIOC import can only handle the OpenIOC 1.0 format:

https://github.com/MISP/MISP/blob/eebe0310916a6c54f7387cb9499b72e21c4d8688/app/Controller/Component/IOCImportComponent.php#L296

It will fail in line 296 because the key `definitions` does not exist in 1.1. The array functions ge

[2021-03-10 04:25] jloehel commented on #5608
I installed pymisp in a virtualenv. It's also not working for me. ~Please make this configurable.~

I would prefer:
[code]

[2021-03-10 04:42] enjeck commented on #4956
@jloehel
I think @iglocska or @SteveClement can answer this question, not me.

[2021-03-10 05:34] jloehel opened #7185 "Stix2 Import: Works only once"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 20.04
| PHP version               | 7.4
| MISP version / git hash   | 2.4.138
| Database | mysqld 8.0.23

### Expected behavior
Stix 2.x import works always

### Actual behavior
Stix 2.x import works only once

### Step

[2021-03-10 08:48] Tyrell20 commented on #7136
Hello @iglocska,

you're right, I forgotten to remove one bracket from the end of the file, now it works.

Anyway, it is correct that the system will not allow me to import the file as it is exported directly from MISP (with  {"response": ... }?

Thank you

[2021-03-10 16:47] Wachizungu commented on #7179
This should be fixed now I believe, see https://github.com/MISP/MISP/commit/eebe0310916a6c54f7387cb9499b72e21c4d8688

Did a quick test myself and it seems to be working on latest version (I don't use this functionality myself normally).

[2021-03-10 17:19] iwitz commented on #7179
I pulled the latest version (I'm on commit eebe031 at the time of this writing) and tried to download an event but I still have the issue.
I looked into the Apache logs to see if it might have removed URL parameters and in Firefox to see if the parameter appeared in the requested URL, but I couldn't find any trace of the "apikey" URL parameter either in the client browser or on the server :(

@Wac

[2021-03-10 18:33] Wachizungu commented on #7179
Strange
while logged out from the instance I did:

https://[my_url]/events/restSearch/returnFormat:json/eventid:[my_eventid]/apikey:[my_key]

[2021-03-11 06:33] adulau commented on #7285
Maybe the best would be to keep a ROADMAP.md in the core repository and referencing it on the misp website.

[2021-03-11 08:47] iwitz commented on #7179
It works for me too if I add my API key manually. I thought the "Download as" button would send the API key in the URL automatically with this option enabled, but since the setting's description states that it _allows_ sending the API key in the URL, and not that it makes it the default, I will close the issue.
Thank you both !

[2021-03-11 08:47] #7179 closed, assigned to nobody

[2021-03-11 09:54] JoePJisc commented on #6252
I'm still having this issue across the 3 servers above, is it possible for this to be reopened?

If you need any further detail let me know,

after v2.4.140 upgrade

[code]

[2021-03-11 11:18] iglocska opened #7192 "Event extension meta-information preview notice"
The tag field expects a scope and barfs up an error. The loading of the field needs to set a scope / tagaccess

[2021-03-11 13:25] iglocska opened #7193 "Don't allow the change of object attribute types"
The object template decides the type, users shouldn't override it after the fact

[2021-03-11 16:57] slw07g commented on #2455
MISP/MISP#2923

[2021-03-11 17:44] patriziotufarolo commented on #7178
This was the very same as #7128 I created.
Unfortunately my patch makes some authentication plugins not to work correctly, because of conflicting approaches in the implementation of the authentication flows

[2021-03-11 20:43] Wachizungu opened #7194 "Correlations do not get recreated after deleting relevant correlation exclusion"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 18.04.5
| OS version (client)       | MacOS, Win10, Ubuntu, ...
| PHP version               | 7.2
| MISP version / git hash   | 2.4.140 fe34ec7857aacf3525958021bfc444965ff0f2cf
| Browser                   | N/A

### Exp

[2021-03-11 23:20] cudeso opened #7195 "Have an option to display / hide certain columns in the event index"
**Describe the solution you'd like**
Have a -persistent- option to display or hide certain columns in the event index.

On some instances displaying the galaxies and tags results in a very small "event info" field. In these cases it would be useful to hide the galaxy and tag column on the event index page.

**Additional context**
Ideally have a
* Default list of columns displayed (current situatio

[2021-03-12 07:33] iwitz commented on #7178
@patriziotufarolo It is indeeed, thank you. I didn't find it when looking for similar problems. I will close this issue since it is a duplicate.

[2021-03-12 07:33] #7178 closed, assigned to nobody

[2021-03-12 08:27] sustefil opened #7196 "Fixed events for Feeds have wrong attribute count"
I have observed 2 errors with Fixed events for Feeds:

1) The attribute count in the "List events" view doesn't match at all in the UI
2) In the database, the attributes, that are not part of the feed anymore (have been deleted from the original source), DO NOT actually get deleted in the database, they are only flagged with the field deleted=1

Maybe these errors are related

### Work environment

[2021-03-12 09:27] zpevma opened #7197 "Unpublish during pull doesn't work"
We have two MISP instances A and B. The sync is set to: "A pulls from B" with Unpublish event checkbox checked. After running pull, the pulled events on instance A are published.

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       |  Ubuntu both instances
| OS version (client)

[2021-03-12 10:11] yokoulaaa opened #7198 "MISP Circl Feed - Events published but no notifications"
We have enabled CIRCL default feed on our MISP Instance. I see no auto-publish option given the format (MISP) compared to csv.
However, I see the events in "Published" state on our local instance when I Fetch and pull them manually. But we receive no email notifications. We don't have this problem for events published by users.
It looks like the events are not really published, because our TheHive

[2021-03-12 12:36] chrisinmtown commented on #7195
+1

[2021-03-12 12:38] chrisinmtown commented on #7198
To fetch data from default feeds automatically, add a crontab entry that invokes the Cake/MISP feature, supplying as IDs numeric identifiers from the users and feeds tables, respectively:

    /var/www/MISP/app/Console/cake Server fetchFeed ${userId} ${feedId}

As for email notifications, a daily pull of default feeds could update 50+ events with 1000+ new attributes. Are you asking for an email f

[2021-03-12 12:45] chrisinmtown commented on #7196
Attributes are SOFT-deleted by the Cake/MISP feed fetcher, that's the deleted column 0/1 value.  It sounds like you want them to be expunged completely (aka, hard deleted) by the Cake feed fetcher? If so please vote +1 on this issue: https://github.com/MISP/MISP/issues/6933

[2021-03-12 13:24] yokoulaaa commented on #7198
Thank you so much for the response ! I'll try this

For email notifications, I was asking for every event published by feeds (CIRCL)

[2021-03-12 13:26] yokoulaaa commented on #7198
When I fetch data from CIRCL feed manually, I see events push to my instance but there aren't any notification even though they have a "Published" status.

![image](https://user-images.githubusercontent.com/65095610/110946213-e77ef400-833e-11eb-9e13-0d48f13cef79.png)

[2021-03-12 13:50] sustefil commented on #6933
+1 for this feature, the solution with the publishment status would work for me as well (keeping the events unpublished, thus hard deleting the attributes)

[2021-03-12 13:52] sustefil commented on #7196
Ok thanks, voted +1

Anyway, the main bug remains, that is the wrong attribute count in the "List events" view (even when you take the soft deleted into account, this number is wrong)

[2021-03-12 14:04] chrisinmtown commented on #7196
This issue is a dupe, might want to vote +1 on these old attribute-count issues: https://github.com/MISP/MISP/issues/3346 and https://github.com/MISP/MISP/issues/4768

Super frustrating that this known bug lingers for so long.

[2021-03-12 14:28] adulau commented on #7198
The email notification depends of the configuration of your MISP instance. Did you have the email notification enabled? Are the SMTP parameters correct on your server?

[2021-03-12 14:37] yokoulaaa commented on #7198
Yes, we have enabled it and it works for events created and published by users on our instance.

[2021-03-12 15:11] luna7391 commented on #6878
Hi, would it be possible to provide further information on how to resolve this issue? Many thanks.

[2021-03-12 15:19] sustefil commented on #4768
+1 for resolving this issue, I created a duplicate recently #7196

[2021-03-12 16:27] luna7391 commented on #6678
Hi, anybody able to provide an answer to the above regarding the PHP.ini path? Many thanks.

[2021-03-12 18:47] Wachizungu commented on #7197
Just realized this is a duplicate of #7139.

[2021-03-12 19:42] LordNeko261 opened #7200 "False error in Database schema diagnostic:"
The Database schema diagnostic shows us the following error present in the database:

![image](https://user-images.githubusercontent.com/68002803/110989683-84a75000-8372-11eb-845c-3942754925dd.png)

We believe that it is a false positive since when applying the corrective measure, the Mysql server notifies us that this type of field cannot have default values

![image](https://user-images.githubus

[2021-03-12 20:15] chrisinmtown commented on #7200
Duplicate of https://github.com/MISP/MISP/issues/7137

To help people find this issue, it probably would help to include critical key words like cerebrates, description, null; super difficult to do keyword search on images in 2021.  Maybe someday :/

[2021-03-12 22:44] iglocska commented on #7200
Indeed that looks like a bug, text fields cannot have a default value at all. @mokaddem - could you have a look?

[2021-03-13 01:24] criptk opened #7201 "MISP Pull takes forever and other performance issues."
System is 99% idle but MISP is ultra slow.
v2.4.136 is the version running on a Ubuntu 20.04.

Any pointers on how to troubleshoot performance on MISP ?

[2021-03-14 08:14] slw07g commented on #3666
I'm also curious about this.

[2021-03-14 12:18] enjeck commented on #7285
@adulau Sounds good!

[2021-03-14 12:38] enjeck commented on #7196
Duplicate of #4768. Closing this since it has fewer comments.

[2021-03-14 12:38] #7196 closed, assigned to nobody

[2021-03-14 12:41] enjeck commented on #7197
Duplicate of #7139

[2021-03-14 12:41] #7197 closed, assigned to nobody

[2021-03-14 12:44] enjeck commented on #7137
Duplicate of #7137. Closing this one since it has fewer comments.

[2021-03-14 12:44] #7137 closed, assigned to nobody

[2021-03-15 10:23] chrisinmtown commented on #7137
This may have fewer comments than #7200 but it has better information/diagnosis of the problem. :/

[2021-03-15 10:23] chrisinmtown commented on #7200
#7137 points out that the quotes around the word NULL are probably the problem, should be removed, then the error is gone.

[2021-03-15 10:34] enjeck commented on #7137
@chrisinmtown Good point. I'll copy the details from here into a comment at #7200

[2021-03-15 10:36] enjeck commented on #7200
Details from #7137, reported by @dpreuveneers

---------------------
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 18.04
| PHP version               | 7.2
| MISP version / git hash   | 2.4.140

### Expected behavior

After upgrading MISP, the diagnostics tool repor

[2021-03-15 10:43] dpreuveneers commented on #7200
If you would like me to confirm whether the issue I reported in #7137 is resolved, let me know.

[2021-03-15 10:48] PROTechThor commented on #7200
@dpreuveneers Not resolved yet. Just closed as a duplicate of this ticket.

[2021-03-15 18:14] garrit-schroeder opened #7208 "Changing a setting in Server Settings & Maintenance removed openid connect configuration block in config.php"
# This template is meant for bug reports, if you have a feature request user the other template.

*If you would like to report a bug, please fill the template bellow*

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Debian
| OS version (client)       |
| PHP version

[2021-03-15 19:06] chrisinmtown opened #7209 "Event attribute filtered by allowedlist in search, not filtered in get_event results"
Attributes returned when fetching an event by ID are different when processed by get_event vs search. Our MISP server's allowedlist has a pattern for "google.com".  An event has an attribute with "google.com" in its value. When I use get_event, the event's attr list is complete.  When I use search, the event's attr list is incomplete. Just to be sure, I checked the server's debug.log and error.log

[2021-03-15 19:40] chrisinmtown commented on #7209
I forgot to post the data for missing attribute, here it is:
[code]
This does not seem to be especially weird to me. The "IDS" flag is not checked.

However, critically, the value matches a pattern in the server's signature allowedlist. That effectively blocks Pymisp from getting the full event attribute list by search.

[2021-03-15 19:41] chrisinmtown commented on #7209
<img width="867" alt="Screen Shot 2021-03-15 at 3 40 40 PM" src="https://user-images.githubusercontent.com/10234212/111211491-d800e480-85a4-11eb-88f5-f8728ea118be.png">

[2021-03-15 20:00] chrisinmtown commented on #7209
I tested further by adding another attribute with the URL shown above plus an extra suffix to make it unique. Now the event has 896 attributes, the search_event method returns 894 attribute, and the get_event method returns 896.

What is special about value "https://sites.google.com/"!?

[2021-03-15 21:01] iglocska commented on #7209
This is indeed intended. Basically the restsearch API is a combination of all of our prior export APIs (/events/nids, /events/hids, /events/csv, etc) which were using the allowedlist as a way to globally remove unwanted values from the exports when feeding the various tools hooked up to MISP.

This subsystem (allowlists) is not used by the normal REST API.

With that said, this is something we sho

[2021-03-15 21:13] chrisinmtown commented on #7209
I'm baffled that you describe "restsearch API" as "not the normal REST API".  I didn't realize there were such fine divisions among the various endpoints.

+1 vote for adding a new parameter to all the search methods, enforceAllowedWarningAndEveryOtherConfusingList, default True for backward compatibility.

[2021-03-15 21:13] iglocska opened #7210 "Custom warninglists"
The idea is that admins should be able to create and modify warninglists directly through the interface. This would allow us to transition the old allowlist system into the warninglist system and get rid of the legacy baggage, whilst also making warninglists more usable.

Requirements:

[] Warninglists loaded from JSON files are protected and immutable by this system
[] The old Allowlist, if not e

[2021-03-15 21:15] iglocska commented on #7209
Basically the search API is separate altogether and doesn't follow the normal REST api's usage.

The regular REST api is all the /add /edit /view /delete /index endpoints of the API, whilst /restSearch is a special case. With that said, the /index APIs have their own filtering capabilities, hence the confusion that often comes of this.

With that said, ignore my previous comment, we were planning

[2021-03-15 21:21] chrisinmtown commented on #7209
Thanks. Would you like me to close this, since the system seems to be behaving as per your design?  Need some material in misp-book about this *badly*.

[2021-03-15 21:24] iglocska commented on #7209
I'd rather people used this system less. I'll add a notice about both that and what it does directly on the allowlist page.

[2021-03-15 21:28] chrisinmtown commented on #7209
Which system would you prefer that people use less?  Github?  Allowedlist?  Restsearch?

[2021-03-15 21:54] iglocska commented on #7209
Obviously Github.

[2021-03-15 22:19] #7209 closed, assigned to nobody

[2021-03-16 01:44] chrisinmtown commented on #7044
On an event page, this same problem blocks searching the attributes within the event, for example "http://www" cannot be used, a tiny message briefly appears at the bottom of the screen if I try this, "Something went wrong - could not fetch attributes" then it vanishes again

<img width="346" alt="Screen Shot 2021-03-15 at 9 44 09 PM" src="https://user-images.githubusercontent.com/10234212/1112435

[2021-03-16 07:24] LordNeko261 commented on #7200
Hi guys,
First of all, thank you very much for your answers! It has been very useful. After checking the "db_schema.json" file, the "description" column of the "cerebrates" table had a default value of "NULL". We have replaced it with null and the problem appears to have been resolved.

Thank you very much again!

[2021-03-16 07:24] #7200 closed, assigned to nobody

[2021-03-16 07:39] cudeso opened #7211 "Make the images created in EventGraph available via the API"
**Describe the solution you'd like**
Have an option (via the API) to request the images (JPG, PNG) or export (JSON, DOT) created in the EventGraph. For example show all "expanded" and referenced objects/attributes. An option might be to refer to one of the "history" elements.
This would allow to include these images automatically in external resources/reports.

[2021-03-16 13:02] chrisinmtown commented on #7210
👍

[2021-03-16 15:40] ccolic opened #7212 "API: Searching for IP using CIDR"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | CentOS Linux 8
| OS version (client)       | Win10
| PHP version               | 7.4.16
| MISP version / git hash   | v2.4.140 (b81f348581929f18c1fadf4e5ade24331038ea2d)
| Browser                   | Google Chrome

### Sup

[2021-03-16 18:55] chrisinmtown commented on #7212
maybe wise to export the event (or attribute) with the value you'd like to find and post it here as additional proof. Or maybe just a screenshot?

I know that search has problems with slashes; see #7044

[2021-03-16 19:41] JakubOnderka commented on #7210
Idea: make possible to add addition information to warninglist value, like comment, that will be also visible for user when attribute value match warninglist entry.

[2021-03-16 21:27] Wachizungu commented on #6611
Might be slightly off-topic: I just ran into something similar. The jobs and workers were killed, percentage no longer increasing in my case but something in the background was still adding attributes to an event. I was trying to stop the sync of a very large event that was taking hours. The thing that was eating up CPU was ./bin/resque in top output. I ended up restarting the server after killing

[2021-03-16 21:27] chrisinmtown opened #7214 "Embedded backslashes in attribute value vanish on server after adding to event"
How can I preserve backslashes in attribute values when I add an attribute to an existing event? The backslashes don't make it to the database. I don't see any messages in debug.log/error.log, and the PyMISP.add_attribute() invocation returns success. I'm using MISP server 2.4.137, PyMISP 2.4.137 and the code is below.

Here is an example of a troublesome value that I get from an external source,

[2021-03-16 21:43] iglocska commented on #7214
They do indeed. `\` is an escape character in JSON and needs to be encoded via `\\`.

[2021-03-16 21:44] iglocska commented on #7214
From a quick test in MISP directly:

`\` added in an attribute value via the UI correctly gets saved as `\\`

Passing `\\` in the value of a JSON will correctly be rendered as `\`

[2021-03-16 21:47] chrisinmtown commented on #7214
Ok thanks but please note I'm using PyMISP - just assigning values in Python.  If you wanna turn it into JSON to pump it around that's fine, but I should not have to worry about (il)legal JSON escape characters. So is this really a PyMISP issue after all?

[2021-03-16 21:48] iglocska commented on #7214
Yep, my point was from MISP's perspective both the input and output is as expected.

[2021-03-16 21:49] chrisinmtown commented on #7214
Ok thanks @iglocska I will shuttle my little complaint back to the PyMISP repo.

[2021-03-16 22:02] iglocska commented on #7214
Oooor I was wrong. Looks like it's something else altogether indeed on MISP side.

[2021-03-16 22:11] iglocska commented on #7214
I was indeed wrong and it's special to certain types. It's a refanging algorithm going wrong, pushing a fix now. Apologies, my tests should have been more accurately mimicing what you were doing, it wasn't an encoding issue at all but a rather dumb refanging.

[2021-03-16 22:15] #7214 closed, assigned to nobody

[2021-03-16 22:56] chrisinmtown commented on #7214
Thanks for the quick response Andras @iglocska!  Refanging?  Don't know that word :)

[2021-03-17 00:54] Rafiot commented on #7214
@chrisinmtown sometimes, people don't want to share "active" indicators (typically, in a email), so for example `http://evilsite.com` will be turned into `hxxp://evilsite.com` (that's defanging). What MISP tries to do is the opposite and turns `hxxp://evilsite.com` into `http://evilsite.com` (refanging).

As you can imagine, it's not really failsafe, and in this case, the regex was refanging an in

[2021-03-17 03:06] SteveClement commented on #7003
Thanks for testing the "undocumented" nuke option. Once I get around to it I will see whats up.

[2021-03-17 03:07] SteveClement commented on #6921
Maybe a race condition somewhere. I would say this is an outlier.

[2021-03-17 03:07] #6921 closed, assigned to mokaddem

[2021-03-17 03:09] SteveClement commented on #7121
I see the concern, but as it is only a warning and a good solution would require too much tinkering, I mark this as wontfix.

[2021-03-17 03:09] #7121 closed, assigned to nobody

[2021-03-17 03:10] SteveClement commented on #7122
@chrisr3d can you confirm?

[2021-03-17 03:13] SteveClement commented on #6678
This is an OS question, I am not familiar enough with RHEL to further help, sorry.

Feel free to reach out to the community on the [support channel](https://matrix.to/#/!lRaWhVOeOWwxejNuQo:gitter.im?via=gitter.im&via=matrix.circl.lu&via=matrix.org).

[2021-03-17 03:13] #6678 closed, assigned to nobody

[2021-03-17 07:11] realzacharycheng opened #7216 "Integration with STIX Visualizer"
Is it possible to have an integration with the STIX Visualizer so that within the Event could display the correlation of different attributes? Or there is already such function

[2021-03-17 08:54] War10ck3 commented on #7122
@chrisr3d - I've faced similar issues moving from v2.4.137 to the latest version 2.4.140 using **Update MISP** button in the diagnostic tab. Please refer to the below screenshot:

![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/54234520/111439397-c5121f80-871e-11eb-8d2d-e9f7c8e82fc0.png)

Also, I'd like to indicate that if I click on "**Update MISP**" once again after the abo

[2021-03-17 09:27] baderj commented on #7212
I have a single event in my MISP instance with an "Network activity" / "ip-src" with value of "1.1.1.1" (event is attached). When I search by passing the subnet as a path element, then I always get all results back. Regardless of what I put between ``download`` and ``ip-src``:

[code]
returns

[code]

I also tried the query from the query builder:
[code]
this works as expected, but does not suppor

[2021-03-17 09:30] ccolic commented on #7212
I have edited my original issue and added some more information.

[2021-03-17 09:38] baderj commented on #7212
As a workaround for "/24" one can search like this:
[code]

But using SQL wildcards feels wrong and might be a sign that the user input is not properly sanitized.

[2021-03-17 10:48] iglocska commented on #7212
I need to check, I thought it was supported too, perhaps something broke it along the way.

[code]

This example definitely won't work, if you want to use url parameters it would need to look something like this:

`https://misp.example.com/attributes/restSearch/returnFormat:json/value:1.1.2.1|24/type:ip-src`

(download is a shorthand for returnFormat:json to be in line with some legacy tools)

Wit

[2021-03-17 11:30] baderj commented on #7212
[code]
This still returns all events:
[code]

[2021-03-17 15:17] 3c7 opened #7218 "S/MIME certificate can not be imported"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 18.04
| PHP version               | 7.4
| MISP version / git hash   | 89a42b1a7c86c9be249c57d6c1d6616043a02191

### Expected behavior
Accepts a valid (`openssl x509 -in test.pem -text` works) certificate, throws error a

[2021-03-17 17:43] JakubOnderka commented on #7218
Hello, what are your certificate purposes?

[code]

[2021-03-17 23:45] Wachizungu opened #7220 "Installer doesn't set permissions on config.php correctly (Ubuntu 20.04)"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 20.04.2 LTS
| OS version (client)       | N/A
| PHP version               | N/A
| MISP version / git hash   | 2.4.140, 89a42b1a7c86c9be249c57d6c1d6616043a02191
| Browser                   | If applicable

### Expected b

[2021-03-18 10:29] Wachizungu commented on #7220
Hmm, might be related to #7134 (if setting of config via cake somehow changes the permissions)?

[2021-03-18 10:36] villano71 opened #7221 "CSP blocks requests when it is disabled."
### Work environment

Questions | Answers
-- | --
Type of issue | Bug
OS version (server) | Ubuntu 20.04
OS version (client) | windows 10
PHP version | 7.4.3
MISP version / git hash | v2.4.140 (9f18cec)
Browser | Chrome

### Expected behavior
by default the setting "Security.csp_enforce" is set to false so the behavior should be "violations will be just logged".
![image](https://user-images.github

[2021-03-18 11:34] JakubOnderka commented on #7221
Can you please provide also log from Chrome developer console?

[2021-03-18 11:51] villano71 commented on #7221
It is not a bug, it works as expected, it was blocked because the request was http. Even in the logs it is said "reported", the issue is that the block is not logged.

`[ReportOnly] Refused to connect to 'http://misxa01.ecb01.ecb.de/servers/serverSettingsEdit/MISP.live/2?_=1616067809123' because it violates the following Content Security Policy directive: "connect-src 'self'".`

`Mixed Content: Th

[2021-03-18 12:07] JakubOnderka commented on #7221
Sorry, I misunderstood. Make sense, I will fix the message.

[2021-03-18 13:17] villano71 commented on #7221
thank you, I think I did not explained enough.

[2021-03-18 15:17] StefanKelm commented on #7176
as well as:
https://bazaar.abuse.ch/downloads/misp/ and
https://urlhaus.abuse.ch/downloads/misp/
;-)

[2021-03-18 20:09] chrisinmtown opened #7223 "Web UI's REST client page yields CSRF error on run query in 2.4.137"
Please tell me how to debug a CSRF failure seen when I try to use the web user interface REST client in version 2.4.137.  I open the page at a URL like https://misp.my-company.com:48752/servers/rest ; pick the templates drop-down, pick events then index; leave the HTTP headers and HTTP body textboxes unchanged from the suggestion; then click the Run query button. I always land at a page "You have

[2021-03-18 20:20] chrisinmtown commented on #7223
One particularly annoying nuance about our situation: we have a reverse proxy server listening on an odd port, that's the 48752 shown above.  The form with the REST client controls like the template list, the HTTP headers textbox and so on is served out to me and accepted back via that proxy server on that port.  Then to the best of my knowledge, upon receipt of that form, the server PHP code open

[2021-03-18 20:33] chrisinmtown commented on #7223
This is arguably a dupe of #6940 which I opened back in February.  I currently have no value set for server setting Security.rest_client_baseurl. Sorry about this.

[2021-03-18 20:33] #7223 closed, assigned to nobody

[2021-03-18 20:43] chrisinmtown commented on #6940
hi CIRCL team, would you please tell me what detail I might provide on CSRF failures?  I just don't know how to make headway here.

In version 2.4.133 we don't see CSRF/XSRF failures.  So I think the XSRF failure is new to version 2.4.137, but I'm not 100% certain.

[2021-03-18 21:54] iglocska commented on #6940
Hmm, I am not aware of any changes, but I might have missed something there. The form submission / CSRF checks are exactly the same as before, the only change via the new setting is the internal query that MISP executes.

Basically, you post a request to the rest client, rest client does a post request to itself via the rest baseurl, parses the result, returns it to you as the response to the init

[2021-03-18 21:58] chrisinmtown commented on #6940
Thanks Andras @iglocska the baseurl setting looks right to me, it's the outside-the-proxy-server address so all pages generated for users have the right links.

I'd really like to get the first question answered: does the server declare CSRF upon receipt of the first REST client form POST action, or does that first step succeed?  Any suggestions for debugging that?

[2021-03-18 21:59] iglocska commented on #6940
The first step fails, the second step has no CSRF protection.

[2021-03-18 22:04] chrisinmtown commented on #6940
In that case this REST client interaction does not really get started, so I guess the rest_client_baseurl has absolutely no influence.

But I'm baffled that this endpoint declares CSRF when every other endpoint works fine!  I can list events, logs, feeds, blah blah blah.  What do you suggest I investigate here?

Wait.  I should compare apples with apples -- in other words I should enter data on a

[2021-03-18 22:11] iglocska commented on #6940
I must say, that is indeed puzzling\*. Just had a look a look, but can't really explain why just yet. The form is using relative paths to declare the target URL (this is used as part of the mix that goes into generating the CSRF tokens).

\* caveat is that it's approaching midnight over here and my brain is working at half capacity

[2021-03-18 22:13] iglocska commented on #6940
Stupid question, when you're on the rest client's page, can you just click your URL bar and hit enter? This will generate a fresh set of tokens, just to avoid that your browser is stuck reusing already consumed ones.

[2021-03-18 22:16] chrisinmtown commented on #6940
I've been force-refreshing the browser by holding shift and clicking the spinny-arrow in Firefox.  I also tried your method, put the cursor at the end of the URL then hit Enter.  The page reloads fine, then I click "Run query" and I'm back to CSRF page.

I'm looking at the request in the Browser debugger. What data field is the CSRF token - maybe data[_Token][key] or data[_Token][fields] ? Can I d

[2021-03-18 22:22] iglocska commented on #6940
data[_Token][key], data[_Token][fields], data[_Token][unlocked] and if enabled data[_Token][debug] all play a role.

Decoding it - don't think so, the important one in this case, key, is a hash generated from a series of variables. Components include a single used shared secret, the target URL to post to and afaik the list of unlocked fields / hash of the list of fields included.

[2021-03-18 22:24] iglocska commented on #6940
If you're willing to get a bit hacky, could you change `/var/www/MISP/app/View/Servers/rest.ctp` on line 46 from

`echo $this->Form->create('Server', array('novalidate' => true));`

to

`echo $this->Form->create('Server', array('url' => $baseurl . '/servers/rest', 'novalidate' => true));`

and see if it's any better?

[2021-03-18 23:55] chrisinmtown commented on #6940
Happy to get a bit hacky :) changed the ctp file (what is that anyhow) but the result is unchanged, upon submit of the REST client form I still get "tripped the cross-site.." page and the error.log file shows the same black-holed error.

Seems to me I need some kind of verbose mode on the server: it should log what it got, what it expected and why it rejected the form POST due to apparent CSRF vio

[2021-03-19 07:06] iglocska commented on #6940
sadly the framework doesn't work that way, debugging CSRF is tricky as that functionality has zero debugging baked in. Both the rest client and the delete event case are inherently just as complex, but we can focus on that, at least it's fewer lines of code that we need to brutalize with some debug calls ;)

I'll try to have a look into what could go wrong today with some ideas how to debug it.

[2021-03-19 12:40] maro584 opened #7225 "Unable to open Misp events"
Questions | Answers
-- | --
Type of issue | Support
OS version (server) | RedHat, 7
OS version (client) | Win10
PHP version | 7.4
MISP version / git hash | 2.4.135, hash of the commit / 752a31d

Support Questions
When I am trying to open any event like this:
https://<fqdn>/events/view/56790

I have got following error:

An Internal Error Has Occurred.
Error: An Internal Error Has Occurred.

An Int

[2021-03-19 12:42] maro584 commented on #7225
I have reboot a workers, but without success for the events
Diagnostic tab not show any errors which could caused this problem.

[2021-03-19 12:45] iglocska commented on #7225
Can you check if the table actually exists?

`mysql -u [misp_mysql_user] -p misp`

`describe sightings;`

If that exists:
[code]

[2021-03-19 12:48] chrisinmtown commented on #6940
Thanks, please send any ideas you have and I'll immediately try them.  Unfortunately PHP is not one of my core skills.

[2021-03-19 13:42] imidoriya opened #7226 "Untagging strangeness"
This started happening about a week / 2 weeks ago.  I'm running into an occasional situation where the removal of a tag does not remove the tag.  For example, I'm finding events with both tlp:green and tlp:amber, even though when I add tlp:green the next command is to remove tlp:amber.  I have other tags that I only create as local tags, but on these events when the local tag should be deleted, it

[2021-03-19 13:45] imidoriya commented on #7220
As a note, I tried to manually set the permission of this file, but when the configuration is saved again via the web GUI, it reverts back to the readable by all.

[2021-03-19 14:21] github-germ commented on #6933
@JakubOnderka -- is this change a heavy lift?

[2021-03-19 15:34] chrisinmtown commented on #7226
Probably dumb questions, but are you using PyMISP, and do you check the response from the server on each delete_tag() method call?

[2021-03-19 15:54] imidoriya commented on #7226
I am using PyMISP but I do not check the response.  I'll start logging the response to see if anything is happening.

[2021-03-19 16:11] imidoriya commented on #7226
This is the response for a tag that was "converted" from a local tag to a global tag after I issued the `untag`.
`{'saved': True, 'success': True, 'name': 'Tag my:tag(12) successfully removed from Event(415519).', 'message': 'Tag my:tag(12) successfully removed from Event(415519).', 'url': '/tags/removeTagFromObject'}
`

[2021-03-20 15:30] JialuZhang commented on #1249
@da667

In your posted configuration,
[code]
contains silent misconfiguration. This means adding it to your system will not change any system behavior.

"RewriteEngine off" is introduced by Apache to explicitly disable all "RewriteRule" and "RewriteCond". (without commenting all the "RewriteRule" and "RewriteCond")

More importantly, the default value of “RewriteEngine" is already an "off", so fro

[2021-03-20 23:28] DarkZatarra commented on #4870
I am having exactly the same issue. Can somebody pick this up?

[2021-03-21 11:43] War10ck3 opened #7229 "Config.php Error in Security Audit Tool"
Work Environment

| Type of issue | Support
| OS version (server) | Ubuntu OS
| OS version (client) | Ubuntu, 18.04 LTS
| MISP version / git hash | 2.4.140, hash of the commit
| Browser | Google Chrome

**### Expected behavior**

In the security audit tool there is an error for config.php as below:

![image](https://user-images.githubusercontent.com/54234520/111903266-d9298a00-8a5a-11eb-9330-64766

[2021-03-21 17:55] chrisinmtown commented on #7229
You think the security audit tool changes the permissions on config.php to give other-users read perms? I.e., `chmod o+r `

Similar issue reported in #7134 and #7220

[2021-03-22 08:45] War10ck3 commented on #7229
@chrisinmtown

To mitigate the Security Audit - for config.php read permissions to other user.

- Permissions were changed using "chmod o-r" for config.php.
- Upon restart of apache2- service.  Security Audit - File Permissions disappears for a certain time interval.
- File permissions are reverted back , giving read permissions to other users for config.php .

We want to understand if there is an

[2021-03-22 09:22] iglocska commented on #7229
Fixed it on develop, will be merged for the next release.

Quick explanation: config.php isn't actually changed when you make a modification. It gets copied to a backup file and a new config.php is created under a temporary name. The new temp file is then renamed to config.php.

This means that the new file creation will follow umask and as such ignore the previous file permission. The above patch

[2021-03-22 10:23] JamesSOC080 commented on #7226
I've also noticed the same issue when attempting to remove tags (via the GUI), that have previously been added via PyMISP (as part of an ingest script). Some tags seem to get stuck/return an exception when I try to remove them.

The error received is: "Something went wrong - the queried function returned an exception. Contact your administrator for further details".

Sometimes adding an unrelated

[2021-03-22 13:09] chrisinmtown commented on #7220
Now being worked as issue #7229, @iglocska found a bug in how the file is re-created after an update on the web GUI.

So you might consider closing this, altho I'm not 100% certain how the CIRCL team prefers to handle dupe issues.

[2021-03-22 13:46] imidoriya commented on #7226
This is driving me crazy - please help!  I came in Monday to over 500 tags I have to delete manually.  I can't have this as a daily process.  All the tags that I'm having to delete had a `success: True` return.  What could cause them to be added back as global tags?  I can roll back my commit to a certain point to see if it helps or provide any logs.

What sucks is I can't find any regular cause -

[2021-03-22 13:53] marjatech commented on #7119
Hi guys,
This causes some confusion regularly. Can somebody have a look?
Would have taken a look by myself, but didn't get really familiar with cakephp yet...

[2021-03-22 14:36] Wachizungu commented on #5951
commit https://github.com/MISP/MISP/commit/2312fd72ff3e2acc070dda943e88cfa8f09fe3f9#diff-e2eaefb7bd0d95fd81d11142280a4562b54261065b702464f7ea5f5ae448b7be is a partial fix for this (only for role).

[2021-03-22 16:01] Wachizungu commented on #7220
See #7229, will reopen if issue persists. Thanks for the heads up @chrisinmtown

[2021-03-22 16:01] #7220 closed, assigned to nobody

[2021-03-22 17:43] chrisinmtown commented on #5142
@PROTechThor this has only gone stale bcos the CIRCL team has not found time for it.  Is there any way to avoid marking feature requests as S:stale ?

@picert how do you add tags? The PyMISP tag() method supports a local parameter, set it to true and the tag should be a local (not global) one, here's the method definition from api.py:
[code]

[2021-03-22 17:46] garrit-schroeder commented on #3341
I am currently working on the same setup. But I am having troubles with the csrf errors. Do you have a solution in mind to share tokens between instances of misp? (Without having a sticky loadbalancer)

Thank you in advance.

[2021-03-22 18:07] enjeck commented on #5142
@chrisinmtown I marked issues that had no activity for over ~8 months as Stale. I saw other organizations doing this, and thought it was a good strategy. Eventually, the plan is to automatically tag these issues when there's no activity for a certain period. To avoid marking tickets as Stale, occasionally leave comments that confirm the issues still exist.

This issue is active now, so no need for

[2021-03-23 11:11] torsolaso opened #7232 "SSL_CA configure on database.php"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Ubuntu
| PHP version               | 7.4
| MISP version / git hash   | latest

### Support Questions

Hi, I am testing the connection against a remote MYSQL in Azure and i'm having trouble specifying MISP to use the "ssl_c

[2021-03-23 11:13] torsolaso commented on #7232
I am using as ssl_ca this cert

https://cacerts.digicert.com/DigiCertGlobalRootG2.crt.pem

extracted from:
https://docs.microsoft.com/en-us/azure/mysql/howto-configure-ssl

[2021-03-23 12:05] torsolaso commented on #7232
I got it changing a FLAG L178 on https://github.com/MISP/MISP/blob/8d9100b4a41c658d14956c7dd94ba3dd9c18ecbf/app/Model/Datasource/Database/MysqlExtendedLogging.php

[code]

Would it be possible to parameterize from the config to be able to use the flag?

[2021-03-23 13:17] maro584 commented on #7225
I have logged in to DB and I can not list a table "sightings":

MariaDB [misp]> describe sightings;
ERROR 1932 (42S02): Table 'misp.sightings' doesn't exist in engine

But when I am displaying all the tables I can find table "sightings":

MariaDB [misp]> show tables;
+-------------------------------+
| Tables_in_misp                |
+-------------------------------+
| admin_settings

[2021-03-23 13:29] maro584 commented on #7124
![csv_import_error](https://user-images.githubusercontent.com/34789307/112154045-300e9b00-8be4-11eb-9db0-6c920928f48c.PNG)

[2021-03-23 13:29] maro584 commented on #7124
Yes it is enabled

[2021-03-23 15:52] mokaddem commented on #7099
Hey,
I tried to reproduce your issue but everything is working as intended.
Would you mind explaining more in depth what are the roles and configuration of the instance?
I tried the following:
- As a standard user (**part** of the `MISP.host_org_id` org) with `perm_tagger`, I could attach and detach local tags from attributes belonging to an event that I own, regardless if I'm the creator or not
-

[2021-03-23 15:58] marjatech commented on #7099
Hi,

you're right, this seems to work on attribute level, but it doesn't for local Tags on the event.

[2021-03-23 16:54] 3c7 commented on #7218
Hi Jakub,

TIL that people create S/MIME certificates for signing only. Even so the error message is absolutely correct, due to some recent mail encryption issues, I haven't really paid attention to it and assumed a bug. Closing this (non-) issue.

[2021-03-23 16:54] #7218 closed, assigned to nobody

[2021-03-23 17:10] chrisinmtown commented on #7109
Maybe post an example of the syslog/syslog-ng/rsyslog message that's deficient?

[2021-03-23 17:14] cudeso commented on #7109
Some sample messages below
[code]

[2021-03-23 17:24] chrisinmtown commented on #7109
Cool.  On a related topic, please educate me, do you know why a file path appears in syslog?  Or why the date is repeated? I'm used to a format of `date(space)host(space)user(colon)message`.  Seems like the file path and some ID are shown instead of a user name, you suppose that's on purpose? If that's a MISP event ID, it really belongs in the message IMHO. And MISP doesn't need to include the dat

[2021-03-24 09:19] mokaddem commented on #7118
Hey,
Sorry for the late reply.
The `EventTag` key expect a list of `Tag` with the MISP's `Tag` format.

So, the correct format is the following:
[code]

[2021-03-24 09:19] #7118 closed, assigned to nobody

[2021-03-24 10:06] mokaddem commented on #7099
Hey,
Thanks for the feedback, I pushed a fixed (41099defb240f30c2a6c23ec65ee50837fd91b50) on the dev branch that should solve the issue.
Let us know if you notice more inconsistencies!

[2021-03-24 10:13] mokaddem commented on #7200
Thanks for the report!
It's now fixed on the lastest version (92dc815)

[2021-03-24 10:26] marjatech commented on #6610
looks like this could be fixed by switching option `Security.disable_browser_cache` to `true`

[2021-03-24 10:26] #6610 closed, assigned to nobody

[2021-03-24 10:36] mokaddem commented on #7132
Thanks for the feedback!
It's fixed on develop branch

[2021-03-24 10:49] mokaddem commented on #7177
Hello,
I tried to reproduce your issue but everything is working as expected.
- `/attributes/restSearch/returnFormat:csv/eventid:46/enforceWarninglist:1` filter out attributes that tripped the warninglist
- `/attributes/restSearch/returnFormat:csv/eventid:46/enforceWarninglist:0` **do not filter out** attributes that could trip the warninglist

Could you please update to the latest MISP version an

[2021-03-24 12:46] mokaddem commented on #7211
Hey,
Pictured saved in the event graph history are now (a1b5141a5a9933433a79fc413b01f3a482040ae1) exposed to the API.
Here is the format:
`/event_graph/viewPicture/[event_id]/[event_graph_id]`
Thanks for the suggestion!

[2021-03-24 12:46] #7211 closed, assigned to nobody

[2021-03-24 13:46] mokaddem commented on #7096
Hi @erpatrik,
It's fixed on the develop branch.
`timestamp` filtering conditions on attributes will no longer propagates to event.
Thanks for the feedback!

[2021-03-24 13:51] mokaddem commented on #7201
Hello,

Is it only for PULL or are you noticing the same slowness for other usage?

Could you also provide more information about
- The OS used
- The hardware (memory, cpu, sdd/hdd, ...)?
- The usage of the instance (#users, #correlations, #attributes & events, ...)
- How is the remote end performing (if the remote server is slow, it's normal that the PULL is taking time)?

Thanks

[2021-03-24 14:10] mokaddem commented on #6878
Hey,
Could it be that you backed up your database and restored it in another server, thus avoid references to the missing files but not having them on the disk?

[2021-03-24 14:34] mokaddem commented on #7226
@JamesSOC080 you can find the log files here `MISP/app/tmp/logs`

@imidoriya this is indeed concerning. I just had a look at the `removeTagFromObject` function and I don't see how the tag could be converted from local to global. The only action touching at the DB is a deletion.
Moreover, I haven't managed to reproduce it on my instance.

If you could check your logs and search for possible errors

[2021-03-24 14:40] mokaddem commented on #7232
Hello @torsolaso ,
Are you sure you are not turning off certificate verification by providing the following line?

` $flags[PDO::MYSQL_ATTR_SSL_VERIFY_SERVER_CERT ] = false;`

Because if it does, what's the point of using a certificate in the end?
Thanks

[2021-03-24 14:47] mokaddem commented on #7225
@maro584 clearing the cache is harmless, so feel free to proceed.
However, I find it strange that executing the command `describe sightings;` fails despite the fact that the `sightings` table can be found when doing the `show tables;` command.
Could you also make sure that you haven't reduced the permission of the misp database user for this particular table?

[2021-03-24 15:29] JamesSOC080 commented on #7226
Thanks - response to my issue, the log seems to suggest the request is being blackholed:

2021-03-24 15:27:55 Error: [BadRequestException] The request has been black-holed
Request URL: /events/removeTag/19328/14
Stack Trace:
#0 /var/www/MISP/app/Lib/cakephp/lib/Cake/Controller/Component/SecurityComponent.php(831): AppController->blackhole('secure')
#1 /var/www/MISP/app/Lib/cakephp/lib/Cake/Control

[2021-03-24 15:38] imidoriya commented on #7226
@mokaddem would love to find a reliable way to reproduce it, but no luck so far unfortunately.  Not sure if it's caching, race condition or what.  I do push a regular volume though, so if I wait 10-20 min, I'll usually get several.  Here is my research thus far...

I don't think it's having an issue deleting the tag.  All indications and checks show the tags are, in fact, being removed.  What I'm

[2021-03-24 16:24] chrisinmtown commented on #7067
I reported https://github.com/MISP/MISP/issues/7214 because backslashes were being treated incorrectly, something about defanging/refanging dangerous data.  I wonder if that feature also afflicts periods?

[2021-03-24 16:54] chrisinmtown opened #7239 "Configure whether repeated uses of the same invalid auth key yield repeated log entries"
**Describe the problem**

MISP 2.4.137 suppresses repeated API authkey auth_fail events - repeated uses of the same invalid auth key don't yield more log entries. See appcontroller 1556.

**Describe the solution you'd like**

We would like to use count of api auth_fail events in the log to detect a misconfigured system, a bad config file that needs to be updated. Hundreds (thousands) of attempts w

[2021-03-24 17:00] torsolaso commented on #7232
hi mokaddem,

this line disables the verification, but transmits the encrypted traffic over SSL. this is the sense. If not, the communication forces me to go in plain text. At this point, MISP is a client communicating against DB server. It happens same thing with flag `misp_verifycert = False` in PyMISP against MISP.

Thanks for answering

[2021-03-24 17:00] iglocska commented on #7239
Two issues here, one the described feature request, but also investigate why even individual entries might be omitted currently.

[2021-03-24 17:07] torsolaso opened #7240 "[QUESTION] Send emails without attributes when new event is published possible?"
Hello everyone,

I am configuring the sending of emails in MISP, and I am wondering if it would be possible to send notification emails when events are published, but without including attributes. I can't find anything about it in the documentation. Is it possible to configure that?

regards,
thanks in advanced

[2021-03-24 17:38] chrisinmtown commented on #7239
Re individual entries being omitted - I was trying to force an auth_fail into the system log by sending the wrong authkey in a PyMISP script.  Checking the time interval when I run the test, I see the logs table growing with various entries but never a single action=auth_fail.  I'll paste my test code below; it generates a date-time string for the authkey so that's guaranteed unique at each invoca

[2021-03-24 17:46] chrisinmtown commented on #7239
@iglocska  maybe this is actually two separate issues - pls advise if you would like me to split into two.

[2021-03-24 18:01] chrisinmtown commented on #6270
+1 even tho dupe of #5394 :)

I don't think this is actually an error, I think it's a bogus UI message.

We see the same behavior in version 2.4.137.  The server settings & maintenance page, MISP Settings tab, shows in the "Error Message" column the text "No valid UUID set" even when a perfectly valid UUID is present.  I deleted the value that was there, generated a new value with uuidgen, pasted

[2021-03-24 18:06] Wachizungu opened #7241 "Attributes in event you own with sharing group specifically set to one you don't belong to, do not show in event view"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 18.04.5 LTS
| OS version (client)       | N/A
| PHP version               | 7.2
| MISP version / git hash   | 2.4.140, 1d582dbb6b2db357ae4ec095ac888d956f346496
| Browser                   | N/A
### Expected behavior
Wit

[2021-03-24 18:10] chrisinmtown commented on #5394
Same reported as #6270, and I see this behavior today in v2.4.137.  @iglocska are you sure you pushed a fix?

[2021-03-24 18:42] chrisinmtown commented on #7241
Testing with user who has site-admin privs might not be the right approach -- an admin should see everything.  What if you use a regular user in this scenario, in/out of the appropriate sharing groups?

[2021-03-24 18:48] Wachizungu commented on #7241
@chrisinmtown the issue is with normal user, as per the final step of reproduction scenario and see screenshots.
using a site admin to create the event and assign sharing group is just the easiest way to reproduce

[2021-03-24 18:52] chrisinmtown commented on #7241
Sorry missed that :)

[2021-03-24 22:06] iglocska commented on #7239
Yeah that is funky. Will have a look.

For the collapsing of multiple repeated entries there's a new setting that's going into the next release:

https://github.com/MISP/MISP/commit/5661adcf8fd4ca32ca559368c897bcc68ef2af70

[2021-03-24 22:22] iglocska commented on #7239
For the other issue, I've added an additional logging case, if no API key is provided and an API functionality is requested, it will no longer silently throw an exception, it will also log it to the audit logs:

https://github.com/MISP/MISP/commit/c7643515d6c8502371cf58caf419c2cd803ab1bc

[2021-03-25 07:44] JakubOnderka commented on #7240
Hello, it will be possible when MISP 2.4.141 will be released by setting `MISP.event_alert_metadata_only` to `true`.

[2021-03-25 08:02] mokaddem commented on #7124
I didn't manage to reproduce your issue, maybe it has been patched in the meantime.
Could you please make sure that your misp-module and your misp instance are updated to the latest version?
At least, we would look at the same code base.
Thanks!

[2021-03-25 08:24] mokaddem commented on #7226
Regarding `resolved_data`, this is used whenever you are using the enrichment system.
Could it be that you have enrichment processes running (CRON/PyMISP) that keep on enriching events and thus, adding these tags back?

I'm also interested in the timeline at which these events occur. What does the logs say about it?
You can search logs at `/admin/logs/search` and use the `action=tag`, then look fo

[2021-03-25 08:26] mokaddem commented on #7226
@JamesSOC080 I'm not sure your issue is the same as @imidoriya
- Do you always have blackholes when you try to untag via the interface?
- Are you using a proxy in front of your MISP?
- Do you have browser extension blocking JS?

[2021-03-25 08:30] davecabio opened #7252 "New Task Schedule - Purge orphans attributes and empty events"
**Is your feature request related to a problem? Please describe.**
Currently to clean MISP db it's necessary to launch a cron script (or a service) that through pymisp delete emtpy events and orphans attributes.

**Describe the solution you'd like**
Create two new scheduled task that will allow an admin to schedule the orphans attribute and empty events purge.

[2021-03-25 08:47] mokaddem commented on #7232
Hey, have you tried updating your `MISP/app/Config/database.php` and pass your `MYSQL_ATTR_SSL_VERIFY_SERVER_CERT` flag that way?
It would probably be easier than creating a new datasource
[code]

[2021-03-25 11:14] pietrogu commented on #7110
Anyone?

[2021-03-25 11:39] torsolaso commented on #7232
Thanks mokaddem with this config is working properly. Is the same result wihtout change the if clause. I close the issue

[2021-03-25 11:39] #7232 closed, assigned to nobody

[2021-03-25 11:49] Wachizungu commented on #7110
For me it works as described, I did:

sudo -u www-data wget https://bootswatch.com/2/amelia/bootstrap.css -O /var/www/MISP/app/webroot/css/bootstrap.css

and now my eyes are burning :)

What is the output you get from the command? is /var/www/MISP the directory you installed MISP in? Which OS are you using?

[2021-03-25 12:04] mokaddem opened #7253 "[sync] Local tags converted into global after sync"
For an internal sync setup, local tags are synchronized but they are converted into global tags on the receiving side

[2021-03-25 12:05] mokaddem commented on #7253
As reported by @digihash

[2021-03-25 12:07] mokaddem opened #7254 "[sync] Sharing group roaming flag gets turned off after sync"
For an internal sync setup, the `roaming` flag (initial set to `true`) is set to `false` on the received side.
As reported by @digihash

[2021-03-25 12:11] chrisinmtown commented on #7239
I see the new code for the no-api-key case, thanks. What about the wrong-api-key case?  Is that handled by the same code?

[2021-03-25 15:07] #7253 closed, assigned to nobody

[2021-03-25 15:34] #7254 closed, assigned to nobody

[2021-03-25 16:58] Wachizungu commented on #7241
@PROTechThor Can you point to the commit that should have fixed this? Looks like I still have same behavior.

I see https://github.com/MISP/MISP/commit/0653761e2dd443acfec1cee311b7e1fd5fde4126 but it was for a different issue.

[2021-03-25 17:40] enjeck commented on #7241
@Wachizungu
Whoops, my bad

[2021-03-25 17:52] Wachizungu commented on #7241
no worries ;)

[2021-03-25 17:56] packet-rat commented on #729
Threat Level  mapping still doesn't appear to be in the documentation(?).  I've looked in the API and MISP Guide.  Please advise where we should direct users for these types of questions.

[2021-03-25 20:22] cudeso commented on #7211
Sweet! Thank you!

[2021-03-26 01:34] SteveClement commented on #5946
Ideally you read the instructions. I will make it more clear in the upcoming documentation update.

[2021-03-26 01:34] #5946 closed, assigned to SteveClement

[2021-03-26 01:34] #2665 closed, assigned to nobody

[2021-03-26 01:35] #5482 closed, assigned to nobody

[2021-03-26 01:35] #5881 closed, assigned to nobody

[2021-03-26 06:19] SteveClement opened #7258 "Default installed MISP saves config.php world readeable"
Reproduce:

[code]

[2021-03-26 08:11] erpatrik commented on #7096
Thanks for it!
Will try to check it!

[2021-03-26 12:25] chrisinmtown commented on #7258
likely dupe, this has been reported several times including #7134  #7220 and https://github.com/MISP/MISP/issues/7229

[2021-03-26 12:27] chrisinmtown commented on #7252
I agree with the need, but apparently the MISP scheduler is utterly unreliable so I'm not sure that's the right way to proceed. We use crontab entries for database cleanup, like aging out old events.

[2021-03-26 12:47] maro584 commented on #7225
It turns out that permissions for below files changes from mysql to root:
sightings.ibd
sightings.frm

I have assign a mysql user to this files and restart a mariadb service.

Now when I am trying to open any event in GUI I am still getting internal server error but logs looks different:

/var/www/MISP/app/tmp/logs/error.log
2021-03-26 12:39:29 Error: [PDOException] SQLSTATE[HY000]: General error:

[2021-03-27 12:21] Wachizungu commented on #7110
@pietrogu any update?

[2021-03-28 18:45] chirazbenhassine commented on #5508
I try to go to this URL path "events/automation" but I can't find the  MISP API key, there is no another solution ??

[2021-03-28 18:52] aymenbnl opened #7265 "Automation key Misp"
I install MISP today in virtual machine "ubuntu 20.04" but i don't find my Automation key,  i try to find it by search in  "/users/view/me" but i find nothing.
can someone help me where i can find it.
Thank you.

[2021-03-28 23:19] Wachizungu commented on #7265
Screenshot of the page  you mentioned:

![image](https://user-images.githubusercontent.com/9868873/112771469-5d1bdd00-902c-11eb-96d1-c1c7d89cdfd2.png)

If you did not enable advanced_authkeys, see the first part (you can view the key by clicking on the eye icon).
Otherwise, if advanced_authkeys is enabled, use the add authentication key button after expanding auth keys by clicking on it.

Please a

[2021-03-29 09:45] iglocska commented on #7131
Ok that was actually mostly correct - the reason being that debug = 2 alters the layout of the page by inserting the SQL dump.

[2021-03-29 10:04] Wachizungu commented on #7131
Okay, thanks for the follow up. Can change it back if better that way, maybe adding a comment.

[2021-03-29 11:45] iglocska commented on #7131
It depends - did you see any issues that got fixed with the change? Maybe we need to separate out the logic of changing the layout vs some other changes.

[2021-03-29 11:46] aymenbnl commented on #7265
my problem that i don't find the Auth key even the Add authentication key

![166527802_194227205542362_629113327925059717_n](https://user-images.githubusercontent.com/76562306/112831947-8cfacd00-908c-11eb-99a1-8fc3940368a0.png)
![167310319_145865047445134_6388934331351352654_n](https://user-images.githubusercontent.com/76562306/112831951-8e2bfa00-908c-11eb-82b0-2581fde775d1.png)

[2021-03-29 11:50] Wachizungu commented on #7265
Did you click on auth keys to expand it?

[2021-03-29 12:09] #7163 closed, assigned to nobody

[2021-03-29 12:09] #7096 closed, assigned to nobody

[2021-03-29 12:09] #7131 closed, assigned to nobody

[2021-03-29 12:09] #7132 closed, assigned to nobody

[2021-03-29 12:09] #7229 closed, assigned to nobody

[2021-03-29 12:42] aymenbnl commented on #7265
in this case i make my own key or what i do exactly ??
![166441658_504260063910762_8481869669626881108_n](https://user-images.githubusercontent.com/76562306/112838047-8b350780-9094-11eb-8dd9-b794fbdb8e1e.png)
![166553836_270964224662208_1495696570992761879_n](https://user-images.githubusercontent.com/76562306/112838053-8c663480-9094-11eb-8ab7-59cf05e7650e.png)

[2021-03-29 12:43] mokaddem commented on #7225
That indeed sounds like a configuration/memory issue.
Did you try to increase the available memory?
Does your server have enough memory all together?

Also, are you heavily pushing sightings to your MISP instance? Do you have an idea on how many sightings you have in your DB?
The following query might give an idea:
[code]
Thanks

[2021-03-29 12:46] Wachizungu commented on #7131
No, when I spotted this I was actually trying to debug the shortcuts / keybinds popup, which is hidden with debug on, leading to me trying to find out why / how it gets set and me finding it strange it only got set for debug = 2.

There is some styling that depends on debugOff, I didn't immediately understand what it was doing which is why I opened this issue and asked if this sounded like a bug o

[2021-03-29 12:48] Wachizungu commented on #7265
Yes, just create your key / set the values as you want. You'll get to see the key once and have to note it for later use.

You can delete the key  later and / or create new ones if you feel like.

[2021-03-29 12:52] iglocska commented on #7131
I think the main difference used to be a relative vs absolute offset causing the old style flash messages to be inserted straight into the menu - the debugOn mode used to add a 50px offset to address this. No longer relevant with the modern flash messages.

[2021-03-29 12:56] mokaddem commented on #7265
Also replied here
https://github.com/MISP/PyMISP/issues/724

[2021-03-29 12:56] #7265 closed, assigned to nobody

[2021-03-29 13:08] aymenbnl commented on #7265
thank you very much it worked for me

[2021-03-29 14:15] maro584 commented on #7225
There is only 20% memory used on server so this is no issues.
I have changed a configuration for DB in file my.cnf and restart a db service
`key_buffer_size = 1280M
max_allowed_packet = 1280M
thread_stack = 1M
thread_cache_size = 16
innodb_buffer_pool_size = 8G
read_buffer_size = 128M
read_rnd_buffer_size = 256M
sort_buffer_size = 4G`

But it has not helped. The result is the same.

Also I can not

[2021-03-29 20:29] iglocska commented on #7225
Keep in mind that PHP doesn't really care about the amount of available
system memory, but rather how much memory is available for each process.
This is governed by the memory_limit directive in your php.ini and it
defaults to a pitiful 128M (we recommend 2048M by default, but you may be
exceeding that).

Have a look at your MISP diagnostic page (administration -> server settings
-> diagnostics) f

[2021-03-29 20:30] iglocska commented on #7225
With that said, I should have read the rest of the thread instead of blindly replying, that has nothing to do with your PHP memory and indeed something going wrong on the mysql level. Wow.

[2021-03-29 20:34] iglocska commented on #7225
I would consider raising the question with mariadb's support channels.

[2021-03-30 07:59] Wachizungu opened #7270 "Add ATTACK TTPs dashboard widget"
**Describe the solution you'd like**
It would be very nice to be able to see trends and statistics about what MITRE ATTACK TTPs are most popular, based on from Threat Intelligence Feeds that include Attack Patterns, and see changes in popularity of these TTPs over time. Like this, organizations can better prioritize and focus their efforts in maintaining the corresponding mitigations and detection

[2021-03-30 09:54] cudeso opened #7271 "Update to globalVariables.md breaks misp-backup.sh"
The latest update to globalVariables.md (https://github.com/MISP/MISP/commit/e57826c084ea52d89a42725733f3f37906d71e44) seems to break misp-backup.sh

### Actual behavior

[code]

[2021-03-30 10:24] #6891 closed, assigned to nobody

[2021-03-30 21:04] adulau opened #7272 "Supporting colours in MISP galaxies just like the MISP taxonomies"
Allowing to have colours in MISP galaxies in a consistent colour space and supporting the meta `colour` field in galaxy clusters.

[2021-03-30 22:19] scareh opened #7274 "Setting Baseurl after using INSTALL.sh breaks installation"
Hello!

I'm having issues after installing MISP through the usage of INSTALL.sh script on Ubuntu 20.4.

Script runs fine and completes without any errors and you are able to access the login page and set a password, how ever you still have the issue of the Baseurl pointing wrong so you will end up with the wrong url so pages wont loads. I'm of course running this in a VM server and accessing from

[2021-03-31 07:57] cudeso opened #7277 "Have a notion of "block" and "inform" in the warninglists"
I would be nice to have a feature in the warning lists that

- Notifies the analyst of a match (as is current)
- Have a flag (per warninglist) indicating that you want the elements to be excluded on restsearch/export or not.
- - Flag:**true**: warning in interface, exclude in restsearch/export if enforceWarninglist is used (as is current)
- - Flag:**false**: warning in interface, attribute still i

[2021-03-31 10:02] Tyrell20 commented on #6252
Same error on my MISP instance (v2.4.140):

 MISP/app/Console/cake Admin updateWarningLists

[code]

It is possible to reopen this issue?
Thank you

[2021-03-31 10:08] JoePJisc commented on #6252
@PROTechThor / @mokaddem can this be reopened?

[2021-03-31 14:09] chrisinmtown opened #7279 "Attribute dropped log entry omits details about the failure"
Log entries lack critical detail about validation failure causing an attribute to be dropped when using MISP version 2.4.137.
Here's an example of a terse message:
[code]
I think "N/A" means it received no category.  The message originates from one of these lines of code in app/Model/Attribute.php:
[code]
Is the missing category the problem? Is it a dupe?  This log message does not pinpoint the pr

[2021-03-31 15:50] chrisinmtown commented on #7279
I'm pretty certain (altho not 100%) that these attributes are being dropped because they are duplicates.  But it would be really useful to know that for certain, and confirm that no information is lost because I sent an invalid type-value combination or something like that.

[2021-03-31 21:51] chrisinmtown opened #7280 "RHEL7 Install instructions for pydeep, pymisp break when proxy is required"
The python package install instructions for RHEL7 fail for some packages when a proxy is involved.

## Pydeep

This command gave me real trouble:
[code]

Pydeep is treated unlike other packages such as python-cybox and python-stix, where first the directions say to clone the repo then install.  I am forced to go thru a proxy and the command shown above gets me nowhere.

Please clarify. Is it possi

[2021-04-01 05:29] SteveClement commented on #7134
dupe

[2021-04-01 05:29] #7134 closed, assigned to nobody

[2021-04-01 05:29] SteveClement commented on #7258
dupe

[2021-04-01 05:29] #7258 closed, assigned to nobody

[2021-04-01 06:49] SteveClement commented on #7271
Fixed in #7282

[2021-04-01 06:49] #7271 closed, assigned to SteveClement

[2021-04-01 09:03] csirt-pj opened #7283 "Display event info in events attributes block / Related Events column"
**Is your feature request related to a problem? Please describe.**
Hi, we are working on exporting (hopefully human-readable) correlations results to end users.
Attribute list correlation-filtered only displays Related Events number and not event info.
Hoovering does not the job since you cannot see at once all the events correlating.
And the top right view to des display the attributes correlatin

[2021-04-01 09:30] mihdim777 opened #7284 "AbstractMISP is not defined"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| OS version (client)       | 20.04
| PHP version               | 7.4
| MISP version / git hash   | Currently installed version… v2.4.141 (e3325a1fe16374369f90c4a7c513848b5bfa8a64)

Hello!

I have checked the logs in de

[2021-04-01 11:48] Rafiot commented on #7284
it is a python script, and you need PyMISP installed for it to run.

I'm worried your MISP installation is incomplete, but please refer to the install guide (search for PyMISP): https://misp.github.io/MISP/INSTALL.ubuntu2004/

[2021-04-01 13:03] github-germ commented on #6917
Hi @iglocska, Checking back to see if you have any time to fix [case 2 above](https://github.com/MISP/MISP/issues/6917#issuecomment-780688466)

[2021-04-01 16:22] #7274 closed, assigned to nobody

[2021-04-01 16:24] chrisinmtown commented on #7284
Installing PyMISP from source is not for the faint of heart .. nor for people behind proxy servers.

[2021-04-01 21:36] criptk commented on #7201
OS Used :
misp@MISP:~$ lsb_release -a
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 20.04.1 LTS
Release:        20.04
Codename:       focal
misp@MISP:~$

The hardware (memory, cpu, sdd/hdd, ...):
2xCPU (it is not it, since it's idling 70%-99%)

The usage of the instance (#users, #correlations, #attributes & events, ...)
#users  = 10
#correlations = 0 (disabled)
#attri

[2021-04-01 21:37] criptk commented on #7201
Sorry, it's running on a VM , SSD

[2021-04-02 05:43] cudeso opened #7286 "Delete event also logs deleting attributes"
This is a feature request, but in a way also a bug report.

Deleting events only results in a log entry and ZMQ event of "delete event". The deletion of the attributes enclosed in that event are not logged (or sent to ZMQ). This is undesireable from an auditing purpose.

A delete event action should log (+ action to ZMQ)
- delete attribute (and delete object) for all attributes in the event
- dele

[2021-04-02 06:51] mihdim777 commented on #7284
I have installed PyMISP in venv and it works fine now. Thank you very much guys!

[2021-04-02 06:51] #7284 closed, assigned to nobody

[2021-04-02 07:59] cudeso opened #7288 "Search for attributes based on org UUID"
Searching for attributes allows you to filter on org ID or org NAME. To be more consistent, also support searching for attributes created by org **UUID**.

Both in REST API and in Event Actions>Search Attributes

[2021-04-02 10:22] luna7391 commented on #6878
Hi, many thanks for your response.

No I haven’t done a back-up/restore. I get the same result when pushing from my external, internal, and dev instances of MISP (all built using a previous iteration of the RHEL scripts). The pull jobs work on all three, it's just the push that's failing, as shown above the GUI Jobs page shows 'job done' but the logs are reporting /var/www/MISP/app/files/shadow/[e

[2021-04-02 10:54] sarybas1998 opened #7290 "[QUESTION] How to add new fill forms on event create page?"
![misp](https://user-images.githubusercontent.com/33090228/113409883-ff90e300-93d3-11eb-870a-bd74e0c45699.PNG)

[2021-04-02 13:12] SteveClement commented on #6501
sorry, I do not see your contribution or fix.

[2021-04-02 13:12] #6501 closed, assigned to SteveClement, enjeck

[2021-04-02 17:13] marcosepp opened #7292 "Missing tables and columns 2.4.139"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Debian Buster
| OS version (client)       | Ubuntu
| PHP version               | 7.3.19-1
| MISP version / git hash   | 2.4.139 (6fd2c4807abc2232b90d00fd290b0020db83fcaa)
| Browser                   | Firefox
| Database |

[2021-04-02 18:02] chrisinmtown commented on #4834
Please don't mark an issue created by another member of your team as stale!

This is 18 months old, apparently with no progress; or was it done and this issue never updated?

[2021-04-02 18:21] chrisinmtown opened #7293 "Update feed REST API call sets fixed-feed event_id value to zero"
In version 2.4.137 using the REST API to update a feed, the MISP server sets the fixed event ID to zero on any update to a CSV or freetext-format fixed-event feeds-table entry. The update data sent includes the event_id field.  For example, I tested by fetching a feed object from the server, changing that feed's distribution only, and sending back the changed object. So I was shocked when the feed

[2021-04-02 18:25] raghuisin commented on #4687
above options worked partially, I had a better alternate. changed following attributes in '/var/www/MISP/app/Config/config.php'
updated baseurl to VM IP -->   'baseurl' => 'https://x.x.x.x',
and commented  //'external_baseurl' => 'https://localhost:8443',

[2021-04-02 18:49] chrisinmtown commented on #7293
Here's code to reproduce the problem.
[code]

[2021-04-02 18:50] chrisinmtown commented on #7293
Here's output showing the unexpected behavior
[code]

[2021-04-02 19:02] chrisinmtown commented on #7293
Here's why:

https://github.com/MISP/MISP/blob/0269ebd0fb9542b34f468d99cfa64bdd80150351/app/Controller/FeedsController.php#L351

The FeedsController's edit() method gives special treatment to REST requests for fixed-event CSV/freetext feeds. It looks for a secret, completely undocumented feed dict attribute named 'target_event'.  If that is present, it sets the event_id to that value; if not prese

[2021-04-02 19:13] imidoriya commented on #7226
@mokaddem Sorry for the delay, was working other things, but still dealing with this issue and regularly having to delete the tags.  I'm not even sure what the enrichment system is.  I'm not aware of anything I'm doing - is there a setting I need to check.  One thing I've done is disable all correlations - it took up too much storage and I wasn't using it.

I can no longer search my logs or events

[2021-04-02 19:27] chrisinmtown commented on #7293
For anyone who has this problem, here's a patch to the SSCCE above that makes it work as expected
[code]

[2021-04-03 08:43] marcosepp commented on #7292
Interesting discovery:

If I take the command from "diagnostics" view and execute it on any of the cluster nodes, it will create column or table and replicates it to other nodes. For some reason it's not replicating in the initial run.

[2021-04-03 12:45] aymenbnl opened #7295 "download MISP data base on my localhost ??"
Hi,
I want to download MISP data base on my localhost but I don't know with which data base MISP work or how to download it.
Can someone help me ??
Thank you !

[2021-04-05 11:25] marcosepp opened #7299 "Migrate from older instance"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Debian Buster
| OS version (client)       | Ubuntu
| PHP version               | 7.3.19-1
| MISP version / git hash   | 2.4.139 (6fd2c4807abc2232b90d00fd290b0020db83fcaa)

### Support Questions

We have use case to migrate

[2021-04-05 13:54] torsolaso commented on #7240
Thanks @JakubOnderka is working.

[2021-04-05 13:54] #7240 closed, assigned to nobody

[2021-04-05 20:23] adv4000 commented on #5998
You will need to add the following setting into `MISP/app/Config/config.php` file:
[code]

[2021-04-05 21:34] imidoriya commented on #7226
I no longer think the enrichment code is the cause based on my logging.  I think @mokaddem may have identified and fixed the local -> global issue via https://github.com/MISP/MISP/commit/e72579f5a92074bad0fc5c13fd3efe60f120c1a6

I'm not sure if that fixes why the events are being created, but it helped confirm my findings.  The tag is removed via `removeTagFromObject`, but later `handleEventTag` i

[2021-04-06 09:31] mokaddem commented on #7201
it's running normally

Indeed, if the remote end is very slow, it will also slow down the pull process on your instance.

However, these pages should not be slow as they are paginated. Just out of curiosity, how many entry do you have for your job and audit logs?

#attributes = 12095530
#events = 206062

The usage of the instance seems good. Around 50 attributes per events is a nice balance. Howev

[2021-04-06 09:37] mokaddem commented on #7290
Hello,
Have you tried using tags (preferably coming from taxonomies) to classify event by `incident type`?
This is considered as the best practice.

Feel free to have a look at what is offered by default on a MISP instance (https://github.com/MISP/misp-taxonomies) and let us know if your use case is not covered.
Thanks!

[2021-04-06 09:37] #7290 closed, assigned to nobody

[2021-04-06 09:42] mokaddem commented on #7292
Hello,
It seems that an update did not get through or that the update process was still ongoing.
Could the last possibility be the case?

[2021-04-06 09:44] mokaddem commented on #7295
Hello,
You can download data from the feeds (in the UI, `Sync action -> list feeds`) or setup a sync connection with another community.
Feel free to have a look here https://www.misp-project.org/communities

[2021-04-06 09:44] #7295 closed, assigned to nobody

[2021-04-06 09:51] iglocska commented on #7299
What sort of issues are you seeing that block you from just updating?

[2021-04-06 09:52] mokaddem commented on #7299
Hello,
- If you wish to update your current server to a newer version, you can use the built-in updater in the UI (In the server settings tabs)
- If you wish to migrate your data to another server which has a different version (I guess that's what you want to do), I would do the following:
1. Bring your current server to the latest version
2. Bring the other server to the latest version
3. Use the

[2021-04-06 11:49] marcosepp commented on #7292
Im not sure - Looks like it wasn't able to sync it for some reason. Might be that there is lock on the table during the action and Galera cluster is not able to sync it. When I take the fix command from diagnostics and execute it on any of the database cluster nodes, it will create and sync it just fine. Might be something about how PHP changes table schemas... I thought that maybe someone else ha

[2021-04-06 12:33] mokaddem commented on #7293
Hey, I pushed the fix on the dev branch.
This should solve your issue.
Thanks a lot for all the details!

[2021-04-06 12:38] chrisinmtown commented on #7293
Thanks @mokaddem for the comment but in your commit 10efa54 I do not see any change to the behavior that looks for rest, csv/freetext, field target_event; and no change to the code that zeroes out the event_id field. Please explain what you're telling me here or what I am missing.

[2021-04-06 14:12] imidoriya commented on #7226
The second half of the issue has been solved and was my fault.  When I get an event to update it, I include the option `include_event_tags=False` to prevent this very thing (old tags getting added back in an event update).  Turns out:

![Inigo-Montoya-WORD-MEANS](https://user-images.githubusercontent.com/45568592/113722195-33af2100-96be-11eb-8538-5c7e75ded848.jpeg)

For anyone else finding this is

[2021-04-06 14:12] #7226 closed, assigned to nobody

[2021-04-06 20:50] github-germ opened #7305 "Does feed delta merge remove correlations?"
MISP 2.4.137

Not sure if this is my misunderstanding or possibly a bug... Looking forward to an education. Thank you.

I  have detected correlation orphans in our `correlations` db table, i.e. for a given correlations row either the `attribute_id` or the `1_attribute_id` no longer exists in the `attributes` table. In our instance that's about 9k orphans out of a total 13.6M correlations.

I then

[2021-04-07 07:00] Sue1990 opened #7310 "How to change events date??"
when I uploaded my events, it created today's timestamp. (below picture)
But I wish it can change to last day timestamp, How could I change it ?
I have ever try below programming:

attri = MISPAttribute()
attri.timestamp = indicator['timestamp']  or attri.date = indicator['timestamp']

all of these not work.

How could I change the date
<img width="287" alt="截圖 2021-04-07 下午2 54 18" src="https://u

[2021-04-07 07:04] mokaddem commented on #7292
MISP includes an updater that automatically take care of schema updates. Once MISP detects that schema should be updated, it runs a series of SQL query to update it, then reload the framework schema cache.
Normally, you should not have to rely on the provided "fix command" from the diagnostic tool to update your schema.

The thing that makes me thing your update did not complete is the fact that y

[2021-04-07 07:24] mokaddem commented on #7293
Sure thing!
If you pay close attention, this line has been removed
https://github.com/MISP/MISP/commit/10efa547f4591896d0865ac4ce8dd96f57df9769#diff-7d4b6532f48d9b0b77703cd051e3efb5caa63240e5ef9fe05eb93fa87c30562dL375

What it was previously doing was resetting the object to be saved, then injecting the provided data. This means that if you were to execute the following query, you would in fact wi

[2021-04-07 07:26] mokaddem commented on #7226
Wow indeed! Glad you managed to find out the root cause..
Thanks for getting back and updating the issue.
Cheers!

[2021-04-07 07:45] mokaddem commented on #7310
Hello,
The attribute `timestamp` is primarily meant for synchronization and `last_edit` time. It's viewed as bad practice to try to enforce it.
If you want to describe that and `ip-src` has been seen at a particular date, or for a specific period, please use the `first_seen` and `last_seen` fields.
They are available both in the UI and in PyMISP.
I hope that helps!

[2021-04-07 07:45] #7310 closed, assigned to nobody

[2021-04-07 08:07] marcosepp commented on #7292
I could try to deploy MISP again on the clean node and check the database update process ... Can you describe how MISP detects if it needs to update the database schema and how does it updates them exactly?

Only thing I can see from Database Update is:

![image](https://user-images.githubusercontent.com/50579697/113832059-e9e33b00-9790-11eb-9936-0c4c13cffdec.png)

[2021-04-07 09:38] maro584 commented on #7225
I have openned a case on MariaDB support but in the meantime I have made another troubleshooting steps I finds out that probably problem is not related to too large query because table sightings is not the biggest table in my MISP and when I am executing a queries to some tripple times larger table there is no issues with query, so I think there might be a bug only with the table sightings. I am s

[2021-04-07 09:59] maro584 commented on #7225
I can not display any sightings when I am using any argument from result of query.

MariaDB [misp]> select * from sightings LIMIT 1;
ERROR 2006 (HY000): MySQL server has gone away
No connection. Trying to reconnect...
Connection id:    8
Current database: misp

+----+--------------+----------+--------+---------------+--------------------------------------+--------+------+
| id | attribute_id | eve

[2021-04-07 10:00] maro584 commented on #7225
MariaDB [misp]> describe sightings;
+---------------+--------------+------+-----+---------+----------------+
| Field         | Type         | Null | Key | Default | Extra          |
+---------------+--------------+------+-----+---------+----------------+
| id            | int(11)      | NO   | PRI | NULL    | auto_increment |
| attribute_id  | int(11)      | NO   | MUL | NULL    |                |

[2021-04-07 12:33] Sue1990 opened #7311 "Could not use crontab to add event?"
I have already finished my programming in python.
I tried the command 『python3 xxx.py』in my environment and it does work.
But when I used crontab to run my script to upload events automating, it does not work.
I checked my Syslog, I am sure my crontab has worked, but the MISP website doesn't show any events created.
I searched method in 『Automating certain console tasks』and I tried 『path/MISP/app/

[2021-04-07 13:25] chrisinmtown commented on #7293
Thanks Sami @mokaddem for explaining, but as you can see in the code posted in this issue, the feed-update operation provides the event_id field in the update (which I think you are calling the query).  The existing block of code in FeedsController that explicitly zeroes out the event_id field remains untouched by this recent change. Does this make sense?

[2021-04-07 15:01] steves2020 commented on #6855
Hi,
I can confirm this is a bug in MISP 2.4.140. The mapping here:

https://github.com/MISP/MISP/blob/46a3772a60126d3d2c5b144ae1196ac99dcceba1/app/files/scripts/stix2/stix2misp_mapping.py#L137

Crashes during the lookup here
https://github.com/MISP/MISP/blob/46a3772a60126d3d2c5b144ae1196ac99dcceba1/app/files/scripts/stix2/stix2misp.py#L1211

As it tries to call the function `parse_ip_address_obser

[2021-04-07 15:10] chirazbenhassine commented on #7225
Comment vous allez accéder à MariaDB [misp]> svp ??

[2021-04-07 16:45] chirazbenhassine commented on #7225
How you can access to MariaDB [misp]> please?

[2021-04-07 17:47] github-germ commented on #7305
As part of my continued PHP learning curve :-), I am amending my hypothesis above, and certainly would like feedback as we do need to understand root cause to these orphans and how to prevent.

**Revised Hypothesis**: Perhaps the call to the cakePHP `saveMany` invokes the [`afterSave` callback in `Model/Attribute.php`](https://github.com/MISP/MISP/blob/v2.4.137/app/Model/Attribute.php#L376) which

[2021-04-07 20:47] arcsector commented on #4795
If anyone is coming across this in 2021, note that PECL will fail if you're not installing for your specific version. To force the install for your specific php version, run:

[code]

Then add it to your `php.ini`. You can also skip adding the `igbinary` to your redis extension, because that will give you headaches as well with different PHP versions.

[2021-04-07 21:10] chrisinmtown commented on #7311
We run many PyMISP-based scripts from crontab just fine.  One thing to check, if you are using a venv, is that the crontab must run your script with the appropriate virtual environment activated.

[2021-04-08 02:57] Sue1990 commented on #7311
@chrisinmtown  thanks , I resolved the problem.

[2021-04-08 02:57] #7311 closed, assigned to nobody

[2021-04-08 06:29] maro584 commented on #7225
Just use this command
/opt/rh/rh-mariadb102/root/usr/bin/mysql -u misp -p misp

It is really strange that I can execute this query:
select * from sightings LIMIT 10000;

But I can not execute simple select with where containing one row:
select * from sightings where uuid like '5e5d06d6-1e98-4a16-966f-xxxxxxxxxxx';

[2021-04-08 07:51] silverem opened #7312 "Python 3.8 and PLyara modules error"
I tried to install plyara with python 3.8. I got the error:

 sudo /var/www/MISP/venv/bin/pip install plyara
Traceback (most recent call last):
  File "/var/www/MISP/venv/bin/pip", line 5, in <module>
    from pip._internal.cli.main import main
  File "/var/www/MISP/venv/lib/python3.8/site-packages/pip/_internal/cli/main.py", line 10, in <module>
    from pip._internal.cli.autocompletion import au

[2021-04-08 08:04] Rafiot commented on #7312
You probably need to upgrade pip in the virtualenv: `pip install -U pip` or `python -m pip install -U pip`.

Also, you're not supposed to install things in the virtualenv as root (`sudo`...), it breaks the variables. You may want to reinstall the virtualenv completely because the perms are probably all over the place.

[2021-04-08 09:03] mokaddem commented on #7292
It will check in the `admin_settings` table its current `db_version` against what the source code expect.
If it's different, it will trigger all pending updates which are run by the server.

[2021-04-08 09:57] StefanKelm opened #7313 "Return object instead of single attribute upon attribute search"
Currently, when searching for a single attribute from within an event (_"Enter value to search"_) only the matching attribute is being returned even if it is contained within an object. It would be nice to either:
- return the whole object, or
- give the user the possibility to "expand" the attribute (e.g., _"This attribute is part of an object; would you like to see the object?"_)

[2021-04-08 10:01] silverem commented on #7312
Ok i have deleted the venv and recreate it using www-data . All is ok . thank you

[2021-04-08 10:01] #7312 closed, assigned to nobody

[2021-04-08 12:31] digihash opened #7314 "Galaxies show as tags after upgrade to 2.4.241"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu.
| OS version (client)       | Win10.
| PHP version               | 7.3.27-1~deb10u1
| MISP version / git hash   | v2.4.141 (92f2631c44e8f86924e51ec2e7413dd8e559c08d)
| Browser                   | Chrome/Brave

### Supp

[2021-04-08 12:47] digihash opened #7315 "Sharing groups not syncing between internal servers"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu.
| OS version (client)       | Win10.
| PHP version               | 7.3.27-1~deb10u1
| MISP version / git hash   | v2.4.141 (92f2631c44e8f86924e51ec2e7413dd8e559c08d)
| Browser                   | Chrome/Brave

### Expe

[2021-04-08 12:53] chirazbenhassine commented on #7225
Thanks it's work, but i put sudo mysql -u misp -p misp
mariadb is a database of misp ? if i would access to database of misp to add another database , I should install mysql ??

[2021-04-08 13:49] mokaddem commented on #7305
Hello,
Your revised hypothesis is correct. As [per the documentation](https://book.cakephp.org/2/en/models/saving-your-data.html#model-savemany-array-data-null-array-options-array), `saveMany` triggers callbacks invoking the `afterSave` function on all attributes being soft deleted.

One hypothesis that I have: The line you were referring to https://github.com/MISP/MISP/commit/d022b0fca27bbee0027f

[2021-04-08 13:54] mokaddem commented on #7305
I pushed a way to clean orphaned correlations on an instance (https://github.com/MISP/MISP/commit/b86af240b611d735a9fa5adc9678daaa528ad67b).
However, I would appreciate that you refrain from using the tool until we find out with a relative degree of certitude why or how you ended up having these entries..
Thanks!

[2021-04-08 14:16] silverem opened #7316 "Redis connection refused"
hi all,
I got an issue with redis, i cannot connect to the redis database and when i visit /job, i got error: connection refused

 PHP extension version: 5.1.1
Redis is not available. Connection refused

sudo -H -u www-data /var/www/MISP/app/Console/worker/start.sh
Error: Connection refused
#0 /var/www/MISP/app/Vendor/kamisama/php-resque-ex/lib/Resque/Redis.php(23): Redis->pconnect()
#1 /var/www/M

[2021-04-08 14:34] silverem commented on #7316
How to uninstall redis and reinstall manually. i tried without success to follow the manual update of cakeResque, but no success

[2021-04-08 14:38] chrisinmtown commented on #7316
You did not mention what Linux version you are using.  We use RHEL, we install redis using an RPM named rh-redis5-redis, here's how to see what's installed:
[code]
Here's how I check the status of the redis server.:
[code]

[2021-04-08 14:39] github-germ commented on #7305
Thanks a lot for your reply!

As you will see below, I believe these orphans have occurred after 2.4.127; hence, root cause is a mystery. We can recorrelate to clean house, but we do need to prevent these from recurring as they present many false impressions to our data consumers.

I'm eager to see what you suggest next. Thx again.

Here's some "evidence"...

Here''s the upgrades on this MISP inst

[2021-04-08 14:45] silverem commented on #7316
5.4.0-70-generic x86_64
ubuntu 20.04

Normally redis-server is automatically installed and configured with cakeresque under MISP ?

[code]

and

[code]

i have specified:

[code]

and

`sudo -H -u www-data /var/www/MISP/app/Console/cake Admin setSetting "MISP.redis_password" "xxxxxxxxxxx"`

i restart:
[code]

[2021-04-08 16:06] adulau commented on #5335
Additional requests from MISP training.

[2021-04-08 18:54] cudeso opened #7317 "Publishing an event via API ignores required taxonomy"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| OS version (server)       | RedHat
| MISP version / git hash   | 2.4.141

### Expected behavior

Publishing an event via API when a required taxonomy is missing should fail.

### Actual behavior

Publishing an event via the API ignores the required taxonomy setting.

### Steps to reprodu

[2021-04-08 19:02] cudeso opened #7318 "Adding tags via API ignores exclusive value for predicates"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | RedHat
| MISP version / git hash   | 2.4.141

### Expected behavior

When an event has a tag of a predicate of a taxonomy where the exclusive flag is set, adding an additional tag of that same predicate should fail. For exampl

[2021-04-09 08:52] silverem commented on #7316
redis-server was not installed !
so i have start the server in background and it is working without password.

[2021-04-09 08:52] #7316 closed, assigned to nobody

[2021-04-09 10:30] Rahulpanwar378 opened #7319 "An Internal Error Has Occurred. Error: An Internal Error Has Occurred. Please try your action again. If the problem persists, please contact administrator."
Getting above error while installing MISP. on Centos7

[2021-04-09 10:30] Rahulpanwar378 commented on #7319
An Internal Error Has Occurred.
Error: An Internal Error Has Occurred. Please try your action again. If the problem persists, please contact administrator.

[2021-04-09 12:06] chrisinmtown commented on #7319
This is the web UI response when the PHP back-end fails.  Check the log file, probably /var/www/MISP/app/tmp/logs/error.log, for details.  There are so, so many possibilities it's impossible to guess.

[2021-04-09 12:21] Rahulpanwar378 commented on #7319
#0 /var/www/MISP/app/Lib/cakephp/lib/Cake/Model/Datasource/DboSource.php(278): Mysql->connect()
#1 /var/www/MISP/app/Lib/cakephp/lib/Cake/Model/ConnectionManager.php(105): DboSource->__construct()
#2 /var/www/MISP/app/Controller/AppController.php(820): ConnectionManager::getDataSource()
#3 /var/www/MISP/app/Controller/AppController.php(129): AppController->_setupDatabaseConnection()
#4 /var/www/MI

[2021-04-09 12:54] Rahulpanwar378 commented on #7319
![image](https://user-images.githubusercontent.com/82196808/114182796-ab03df80-9960-11eb-9908-b5fcc36cbf62.png)
![ErrorMISP](https://user-images.githubusercontent.com/82196808/114182890-d4247000-9960-11eb-8fc4-54f8e469e99f.PNG)

[2021-04-09 14:12] Evil-Steve commented on #3083
+1 must have: TAG in the CSV, and a regex for feed before parsing

[2021-04-09 14:54] chrisinmtown commented on #7319
The logs show that your server failed to connect to the database. Check the values for the database host, port, login and password in config file /var/www/MISP/app/Config/database.php

[2021-04-09 15:47] iglocska opened #7321 "Add additional filtering options for feeds"
- filter by types
- regex rules for exclusion

[2021-04-09 15:57] iglocska opened #7322 "Feed enable button should be renamed Fetching enabled"
We have two buttons currently:

Enabled
Caching enabled

Which gives the impression that caching is a secondary functionality relying on the feed being enabled, whilst in reality it's just the fetching/caching being separately toggle-able.

[2021-04-09 16:09] gallypette opened #7323 "Event Graph and cross references"
After having created several extending events to a support event, and adding several references from the extending event to the extended event: the extended event's event graph displays these relationships:
- With few object it's really cool:
![crossrefs](https://user-images.githubusercontent.com/329725/114208890-4b0c3980-995e-11eb-9775-19a9c19645bd.png)
- But with a lot of objects, it is a potato

[2021-04-09 16:10] gallypette commented on #7323
This was your daily dose of confusing sentences :)

[2021-04-09 16:13] chrisinmtown commented on #7322
👍

[2021-04-09 16:52] iglocska opened #7324 "Dashboard - open it up to be included in other websites"
Currently the dashboard cannot be queried externally for individual inclusion in other pages

[2021-04-09 17:05] Rahulpanwar378 commented on #7319
thanks dear it is working now.

On Fri, Apr 9, 2021 at 8:25 PM Chris Lott ***@***.***> wrote:

--
*Thanks and Regards*
*Rahul Panwar*
*8126710212*

[2021-04-09 22:04] Wachizungu commented on #7318
Yeah I spotted this earlier as well, note that this check is there for the other endpoints /attributes/addTag and /events/addTag. Just look for exclusiveTestPassed in the respective controllers.

There is a slight difference in implementation between those controllers as well (the way the response message is formulated is better in the attributes one I suppose).

Sidenote: Someone mentioned on git

[2021-04-12 01:05] chrisinmtown commented on #7319
glad to hear it @Rahulpanwar378 you probably can close this issue then?

[2021-04-12 05:00] Rahulpanwar378 commented on #7319
Thanks for your support..

[2021-04-12 05:00] #7319 closed, assigned to nobody

[2021-04-12 05:04] DISREL opened #7325 "[RedisException] Connection refused (even though redis is working and is connected to MISP)"
The error.log file from MISP/app/tmp/logs
[code]

Even though my Diagnostics page on MISP says that it's connected to redis, for no known reason.
![image](https://user-images.githubusercontent.com/69538721/114342961-81260500-9b7a-11eb-9537-353deeb72311.png)

My environment is basically https://github.com/coolacid/docker-misp

[2021-04-12 05:37] cudeso commented on #7318
It can indeed break some scripts, but imo the API should always behave the same as the UI.

[2021-04-12 07:18] #7325 closed, assigned to nobody

[2021-04-12 07:20] DISREL commented on #7325
The issue was not modifying the Redis host in /var/www/MISP/app/Plugin/CakeResque/Config/config.php

The workers were not starting because they couldn't contact the redis server, which caused the Internal Server Error in Feeds and Jobs UI of MISP.

[2021-04-12 13:53] girdav01 opened #7327 "invalid dates (valid_from, valid_until) in exported STIX 2.0 files"
Hi, when I tried to use exported STIX2 files from MISP, the files include invalid dates that make them unusable in other systems.

Milliseconds are missing in valid_from and valid_until

example :
	"created_by_ref": "identity--2a76e61b-d643-4d5f-aa0a-12016d16d106",
			"pattern": "[domain-name:value = 'smalleststores.com']",
			"created": "2021-03-29T18:49:25.000Z",
			"modified": "2021-03-29T18:49

[2021-04-12 14:32] eCrimeLabs opened #7328 "Adding local tagging to sync server data"
**Is your feature request related to a problem? Please describe.**
When you sync data from various MISP instances the only way to identify that data came from a specific MISP instance you will have to have on the local MISP instance individual users for each.

A nice feature would be if you could similar to feeds set a specific local tag that is added to the event.

This could also be used if you

[2021-04-12 15:59] RichieB2B commented on #5708
See #4735

[2021-04-12 18:40] chrisinmtown opened #7329 "CSRF prevents deleting event from Event display screen left sidebar link"
I'm using MISP 2.4.141. On a freshly loaded view-event screen I cannot delete that event, the result is a cross-site request forgery request-blackholed screen.  But if I use the event list screen, check the box on the row with my event, click the trash-can icon at the top, then confirm the action I can delete the event every time -- so I know I have the required privileges.

### Work environment

[2021-04-12 18:45] chrisinmtown commented on #7329
In a gitter.im chat @iglocska  suggests:

@andras:matrix.circl.lu
[m] 14:43
Basically the form contained in the delete button gets its tokens invalidated by Ajax calls generating follow up requests
I started refactoring all in-line forms

[2021-04-13 07:49] Rahulpanwar378 commented on #7319
Hi Chris;

Getting below error in MISP --

[image: image.png]

On Mon, Apr 12, 2021 at 6:35 AM Chris Lott ***@***.***> wrote:

--
*Thanks and Regards*
*Rahul Panwar*
*8126710212*

[2021-04-13 08:24] bartblaze commented on #7329
I have seen the same thing - appears to happen also when you display/show the potential false positives in an event, then try to delete it. Just remove the trailing # after the event ID and refresh, it should work.

[2021-04-13 08:30] bartblaze opened #7330 "Display count of False Positives"
**Is your feature request related to a problem? Please describe.**
When reviewing an event with a considerable amount of attributes as well as potential false positives (via warninglists), it would be useful to have the total amount/count of total FPs displayed next to the warning for that event.

**Describe the solution you'd like**
Display the count of FPs for the event you're viewing, e.g. next

[2021-04-13 09:03] bartblaze opened #7331 "Delete all tags via GUI"
**Is your feature request related to a problem? Please describe.**
Sometimes, too much tagging is... too much. Would be nice if we have a possibility via the GUI to remove all tags for an event.

**Describe the solution you'd like**
A simple "DEL" button could do the trick - with additional messagebox for confirmation.
![image](https://user-images.githubusercontent.com/3075118/114527027-cf550a00-9

[2021-04-13 14:18] chrisinmtown opened #7332 "View warninglist item by clicking on ID link yields Not Found page"
In version 2.4.137 on page https://misp.my-company.com/warninglists/index all the IDs in the left column are links.  I click on the first one thinking that will show the warninglist contents, but instead I get an error.

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       |  RedH

[2021-04-13 14:22] chrisinmtown commented on #7332
I propose the following change which fixes the problem on my system:
[code]

[2021-04-13 14:24] chrisinmtown commented on #7331
So this is "remove all tags ON AN EVENT" not nuke all tags defined in the system?

[2021-04-13 14:24] chrisinmtown commented on #7330
So here a "false positive" means an attribute with a value that is also on a warninglist ?

[2021-04-13 15:08] cudeso opened #7333 "Synchronize event history across servers"
**Describe the solution you'd like**
Currently the event history is local to a MISP server. If you pull in events from a remote server it's not always easy to figure out what exactly has changed. Synchronizing the (local) history of events could be useful.

Approach:
- Have a -hidden?- attribute (report?) containing the event history
- By default set this distribution level to your org only
- Have

[2021-04-13 15:41] bartblaze commented on #7331
Yes, correct - the option to remove all tags on an event that you're browsing.

[2021-04-13 15:47] bartblaze commented on #7330
Indeed.

[2021-04-13 17:08] chrisinmtown commented on #7332
Repaired in Jan 2021, works great in version 2.4.141.

[2021-04-13 17:08] #7332 closed, assigned to nobody

[2021-04-13 17:21] chrisinmtown commented on #7280
I know you all don't test on RHEL7.  Probably not much sense of keeping this open forever.

[2021-04-13 17:21] #7280 closed, assigned to nobody

[2021-04-13 17:29] chrisinmtown commented on #7068
A gitter conversation provided the answer: YES

https://gitter.im/MISP/Support?at=6075d47046a93d4a19c3ea8a

@iglocska says:

However, this is only possible if the MISP system can ingest the feed. So for some random complex premium feed out there, if we transform it to a MISP-friendly format, then we could use the MISP ingester, which would also allow us to use the MISP cacher.

[2021-04-13 17:29] #7068 closed, assigned to nobody

[2021-04-13 17:44] chrisinmtown commented on #6193
I guess the change of charset from utf8 and latin1 to a uniform utf8mb4 did not happen yet. Posting here so this does not go stale :/

[2021-04-13 17:46] chrisinmtown commented on #6284
Would you like a PR revising the INSTALL/MYSQL.sql file to change 'int(11)' to 'int' or will that break other things?

[2021-04-13 17:47] chrisinmtown commented on #6332
https://www.circl.lu/doc/misp/administration/ was regenerated March 2021 so the original problem that caught my eye is gone.

[2021-04-13 17:47] #6332 closed, assigned to enjeck

[2021-04-13 17:49] chrisinmtown commented on #6387
Now that the setting Security.rest_client_baseurl  is available, this issue probably can be closed?

[2021-04-13 17:52] chrisinmtown commented on #6567
I see flags in version 2.4.141 just fine.

[2021-04-13 17:52] #6567 closed, assigned to nobody

[2021-04-13 17:54] chrisinmtown commented on #6595
Well it's better in 2.4.141, I'll stop hoping for this screen to become as fancy as the event index page.