[2022-05-13 12:10] sholland-bamboohealth commented on #8330
Can you confirm that this sample has been cleared of any non standard quotes and double quotes? I am still getting the error after finding and replacing the non standard characters
`{
  "type": "bundle",
  "id": "bundle--44af6c39-c09b-49c5-9de2-394224b04982",
  "spec_version": "2.0",
  "objects": [
    {
      "type": "indicator",
      "id": "indicator--d81f86b9-975b-bc0b-775e-810c5ad45a4f",

[2022-05-13 15:52] mwdearing opened #8371 "Support: MISP sending reset packet when establishing session to list feed server."
### Support Questions

On Wednesday this week an issue started occurring where one of our custom list feed were failing to connect. From the host I am able to pull the feed down through a python script without issues and upon doing a packet capture I see the following:

![image](https://user-images.githubusercontent.com/63065566/168320431-f2cd5af6-8586-46a2-85ae-36ec7a727290.png)

### MISP version

[2022-05-16 05:34] patchander commented on #8214
Hello, I made the suggested change to the MISP.deadlock_avoidance setting however I still have the same issue.

Below is the error message in the error.log:

2022-05-11 10:47:02 Error: Could not edit event '1bded382-422c-4675-9e1f-fd216f9fc2a2' from feed 27.
[PDOException] SQLSTATE[23000]: Integrity constraint violation: 1048 Column 'org_id' cannot be null
Stack Trace:
#0 /var/www/MISP/app/Lib/cak

[2022-05-16 06:26] patchander opened #8377 "Support: MISP Could not fetch feed - follow up to https://github.com/MISP/MISP/issues/8214"
### Support Questions

This request has been raised following the closure of issue #8214  - I have tried the suggested setting change and still have the issue.

Hello I have an issue with my MISP instance pulling a particular feed. I have searched GitHub and found a similar issue: https://github.com/MISP/MISP/issues/814

Currently I have a feed in MISP which has initially pulled events but is now

[2022-05-16 09:42] lu-chi opened #8379 "Support: ZeroMQ installation/ AWS MQ usage"
### Support Questions

Hello there,

I am wondering if it's possible use AWS MQ rather then ZeroMQ installation. Does anyone of you tried that at some point? What would be necessary as a CLI on an instance, how this works, what was your general experience/feeling about that?

### MISP version

2.4.158

### Operating System

Ubuntu

### Operating System version

18

### PHP version

7.4

### Browse

[2022-05-16 11:11] Hestat commented on #2223
While performing some sync tests (v2.4.156/158) noticed that this is still an open issue. Had some tagging automation add bad tags quite some time ago, and was manually cleaned on our main MISP instance, but now see that even a sync to a new server some 6 months later the bad tags are still attached to the events. This will likely cause some good deal of confusion as some events have unrelated tag

[2022-05-16 11:39] bpavesi commented on #8363
Hello,
the fix will be avaiable in the next release?

[2022-05-17 06:38] War10ck3 opened #8380 "Support: Automate News Feeds"
### Support Questions

Dear Team,

I was wondering if there was a way to automate the current list of News Feeds that we have in MISP separately. We maintain a list of resources (URLs) in a feed aggregator from which we receive notifications about any new developments such as new malware discovery, APT group activity, new vulnerabilities, and so on.

We currently have two production MISP instances

[2022-05-17 07:25] lfortemps commented on #8128
Closing as it seems to have been solved in the latest update

[2022-05-17 07:25] #8128 closed, assigned to nobody

[2022-05-17 08:25] JoePJisc opened #8381 "Support: RHEL8: SELinux Blocking GPG Key Access"
### Support Questions

Cross posting https://github.com/amuehlem/MISP-RPM/issues/67 here as I'm not sure if it is one for the RPM or MISP ; as I've followed the steps in the RHEL8 install guide think it may be for MISP.

Full details in the linked ticket, but basically, SELinux is blocking MISP from reading its GPG key.

* Per documentation, https://github.com/SteveClement/misp-test, reports an un

[2022-05-17 12:44] War10ck3 opened #8382 "Support: IDS Flag - Set for All Attributes in MISP"
### Support Questions

Hi Team,

We've deployed production MISP in our environment and were curious to know if there is an automated way to mark all the indicators ingested with an IDS flag in one shot, either via the REST API or programmatically?

FYI - We have no false positive data in our MISP instance because we use it internally for TLP:AMBER and RED indicators.

Thank you for your assistance

[2022-05-18 08:54] tberky opened #8383 "Workers are not working"
### Support Questions

I am unable to start workers... Tried a lot of issues here and was not successful.
![image](https://user-images.githubusercontent.com/69008406/168999328-5c9aa316-b1a9-4227-a111-7f6cc8ef9ca4.png)

### MISP version

2.4.158

### Operating System

Kali

### Operating System version

2022-04-01

### PHP version

8.1.6

### Browser

_No response_

### Browser version

_No respons

[2022-05-18 09:01] righel commented on #8383
Hello @tberky
I see you are using PHP version 8.1.6, MISP currently does not support PHP versions +7.4.

You will have to downgrade to version 7.4 at most.

Hope this helps.

[2022-05-18 10:50] djha983 commented on #8207
Any comment/input from anyone?

[2022-05-18 12:14] righel commented on #8207
Hello @deepak-eventtracker
Regarding your questions:
1. You should use a common Redis instance, since it is used for storing users session.
2. I'd recommend to have misp-modules running on each server.
3. Each MISP server should run their workers, but this can create some issues as you described, the list of workers you'll see is the ones running on the instance that served your request.
4. There

[2022-05-18 13:18] chrisr3d commented on #8330
Never mind, it goes right with the python scripts that converts the STIX data into MISP format, but fails then to import the `indicator` object.

I discovered the issue comes during the data validation.
Since the conversion to MISP keeps the UUIDs, the indicator id `d81f86b9-975b-bc0b-775e-810c5ad45a4f` does not pass the validation process.

The issue here is the following:
MISP only accepts RFC 4

[2022-05-18 14:44] righel commented on #3321
Hello @github-germ
I was able to reproduce the issue and I'm working on a fix, I will keep you posted.
Sorry for the delay.

[2022-05-18 15:26] github-germ commented on #3321
@righel -- Thanks!!

[2022-05-18 22:21] TPower2112 opened #8384 "Support: resolving raw.githubcontent.com error message when running the INSTALL.sh script"
### Support Questions

Hi MISP Support,
I attached the error message that I received when attempting to run the MISP INSTALL.sh script.  Please see screenshot for the exact error message.

I was able to run the install script for MISP on docker, but having an issue with this script.

I am performing POC for work.
Thanks for the help.
Have a great day.
TP

### MISP version

2.4

### Operating Syste

[2022-05-19 04:11] tknudsec opened #8386 "Support:"
### Support Questions

Hello,

We are trying to install MISP with just the basic function (-c) using the MISP installation guide for Ubuntu 20.04 by following these steps here: https://misp.github.io/MISP/INSTALL.ubuntu2004/

We are installing in our test environment from scratch right after we set up a fresh Ubuntu 20.04 vm. To connect to the internet we need to configure the proxy settings for e

[2022-05-19 07:22] lu-chi opened #8387 "Support: Removing Organization (creator, owner) icon"
### Support Questions

Hi,

how can I remove creator/owner icon from the organisation settings? Any particular entry in db or path in a dir structure?

### MISP version

2.4.158

### Operating System

Ubuntu

### Operating System version

18

### PHP version

7.4

### Browser

all

### Browser version

_No response_

### Relevant log output

_No response_

### Extra attachments

_No response_

###

[2022-05-19 07:32] lu-chi commented on #8387
Doesnt matter - all solved. Apologies for bothering.

[2022-05-19 07:32] #8387 closed, assigned to nobody

[2022-05-19 08:31] m4rb3n opened #8388 "Support: 504 GATEWAY_TIMEOUT when getting events via API"
### Support Questions

I am having an error when getting events from the database. Since there are a lot of events, it will use lots of memory.
I know how to increase memory to solve this error and that is what I am being doing until now. But now I am questioning how MISP handles retrieving lots of events from the database.
Is there any way to get lots of events with increase memory limits anymore

[2022-05-19 12:07] bpavesi commented on #8363
Hi @JakubOnderka,
the fix will be avaiable in the next release?

Thank you

[2022-05-19 13:40] adulau commented on #8363
Yes it will be. Thanks @JakubOnderka for the fix.

[2022-05-19 13:40] #8363 closed, assigned to JakubOnderka

[2022-05-19 13:44] righel commented on #3321
@github-germ I merged this PR: https://github.com/MISP/MISP/pull/8390 to the `develop` branch.
Could you please switch to `develop` branch and test if this fixes your issue?
You also need to update the database config file to use the patched MySQL datasource. Change `Database/Mysql` to `Database/MysqlExtended`.

The config file should look like this:
[code]

[2022-05-19 13:46] adulau commented on #8388
Could you review your API queries and to include a `limit` and `page` to ensure that you limit the returned values to avoid such kind of issue.  The header `X-Result-Count` allow you to know the upper limit. If you are using `limit` and `page`, could you share your query?

PS: Could you also update your MISP to the latest version?

[2022-05-19 13:48] adulau commented on #8386
Looks like your proxy is not supporting TLS handshake. It's not directly related to MISP. You need to export the proper HTTP_PROXY env value.

[2022-05-19 13:48] #8386 closed, assigned to nobody

[2022-05-19 13:58] #8383 closed, assigned to nobody

[2022-05-19 14:41] github-germ commented on #3321
@righel -- Excellent... We are working on a internal release hand-off so I will be delayed a bit. I hope to build our docker image from `develop` along with the `database.php` mod by Monday/Tuesday and report back. Many thanks!! Stay tuned...

[2022-05-19 19:50] YashvirGaming commented on #6042
First I get this
![image](https://user-images.githubusercontent.com/64865096/169390685-7c2b14f7-5b8b-43c9-ae5a-f3bd88334033.png)

Next i mess around with login api  for example adding `%2Fmember%2Fdashboard `
etc etc some tricky Html URL Encoding there...

Then success
![image](https://user-images.githubusercontent.com/64865096/169391392-361864a8-43bd-4dc8-b74d-f8c410489daa.png)

[2022-05-19 22:59] UFOSmuggler opened #8392 "Bug: Kafka not publishing reliably"
### Expected behavior

When publishing Kafka notifications, the Kafka broker should receive complete topics from the MISP producer always.

### Actual behavior

Kafka topics do not always publish (completely).  When they do, everything is as expected.

When they do not, the Kafka server network processor debug logs seem to suggest the producer ended the conversation prematurely:

[code]

### Steps

[2022-05-20 00:53] tknudsec commented on #8386
how do we do this exactly (to verify we are doing properly) , should it be http or https proxy?

[2022-05-20 12:43] righel commented on #8384
Hello @TPower2112
Have you typed the previous `wget` command manually?
The error shows it failed to resolve the `raw.githubcontent.com` domain, this domain is nowhere on the installer script, but `raw.githubusercontent.com` is.

Check your syntax:
[code]

Hope this helps.

[2022-05-20 12:43] #8384 closed, assigned to nobody

[2022-05-20 14:15] righel commented on #5568
merged to `develop`, will be available in next release.

[2022-05-20 14:15] #5568 closed, assigned to nobody

[2022-05-20 14:17] #8054 closed, assigned to righel

[2022-05-20 16:57] JoePJisc commented on #7408
Forgot to update this, yes this now seems to work as expected.

[2022-05-20 16:57] #7408 closed, assigned to nobody

[2022-05-21 10:20] m4rb3n commented on #8388
Hey, the query I am using is this one.
wget -O misp_output.json --header="Authorization: <api_key>" "https://misp.local/events/restSearch/returnFormat:json/type:ip-dst/type:ip-dst|port/last:4h"

We installed MISP on kubernetes and unfortunately doing the update is not as easy as it seems.

[2022-05-21 10:30] adulau commented on #8388
As I mentioned above, you might need to paginate with `limit`and `page` especially if your dataset is large.

[2022-05-21 10:30] #8388 closed, assigned to nobody

[2022-05-23 13:35] Rogueit commented on #8330
Sorry I'm just getting around to replying...I appreciate the follow up. Will I just need to update misp internally from http://misp/servers/serverSettings/diagnostics?

[2022-05-24 09:28] LOMA-TheCollectiveConsulting commented on #3079
I support this feature request.

[2022-05-24 16:20] LOMA-TheCollectiveConsulting opened #8403 "Support: Azure AD authentication"
### Support Questions

Hi

I'm currently having some issue's getting the Azure AD authentication plugin to work properly.

I implemented the following guide: https://github.com/MISP/MISP/tree/2.4/app/Plugin/AadAuth
I created users with the same username as their upn in Azure AD.
They are created as a regular User.
I have set no password when creating the MISP user, as I expect it to use the auth t

[2022-05-24 16:53] github-germ commented on #3321
@righel -- I've loaded the `develop` branch. Here's what the mysql `expect select ...` shows for the same attribute query we have for this test case. Does this match your expectation on what this fix should produce? Notice the `Using sort_union(value1,value2);` in the `Extra` column.
[code]

[2022-05-24 17:12] github-germ commented on #3321
Btw, I hadn't thought that the db schema was update from 85 in 2.4.158 and 86 in develop. And now I cannot move my instance back to our 2.4.158 container as the db and code are incompatible. This becomes my lesson learned which leads to the question on when you think 2.4.159 including this fix (if it is good) might be forthcoming?

THANKS!

[2022-05-24 18:03] righel commented on #3321
Yes, with the hinted query index the results should be consistent now. If you search attributes and value filters are present it should use always that index. Do you still get long running requests?

Regarding the db update, the only change introduced in db version 86 is a index on the attributes timestamp column. What do you mean by the db and code are incompatible? are you getting an error?

[2022-05-24 18:33] github-germ commented on #3321
The long running requests are performing well. However, only after the MySQL heuristics change the index bias for attribute selects are changed does performance degrade significantly -- this "flip" occurs seemingly randomly sometimes quickly, other times after a day or so, all without notice. Now that the index hint exists I assume this will not occur and attribute searches will perform well.

Goo

[2022-05-24 18:36] github-germ commented on #3321
I know you don't generally advertise predictions for the date of the next official release. For our planning purposes does your crystal ball seem to hint to a release within 2 weeks for these 2 fixes? :-)

[2022-05-24 18:39] righel commented on #3321
I'm pretty confident there will be a release early next week.

[2022-05-24 22:17] ServSlack opened #8404 "Support: Error when import STIX2 json file."
### Support Questions

Today I do a fresh install with Ubuntu 20.04 and MISP Modules, but when try to import some STIX2 file in JSON format
I receiving the message " An Internal Error Has Occurred. " I also search for some resolution inside " gitter " and I have followed all steps from this document " https://www.circl.lu/doc/misp/updating-python/ " check all dependencies and misp modules, but acc

[2022-05-25 04:31] adulau commented on #8404
It seems a recent bug was introduced and fixed in the meantime.

https://github.com/MISP/cti-python-stix2/commit/625576622f3e7f2541d2e788d70ed4997e134837

If you get pull the latest version on 2.4 branch, it should work.

[2022-05-25 22:22] n3tl0kr opened #8406 "Support: RHEL8 Preliminary Installation Discrepancies"
### Support Questions

I'm working with RHEL8, pretty standard minimal installation and I'm running into a lot of discrepancies.  I have to run through the script by hand due to some internal dependencies etc which normally wouldn't be an issue.  Things like being asked to git clone into /var/www/MISP but there was never any mention of creating the directory beforehand. Another example, calling $M

[2022-05-25 23:22] github-germ opened #8407 "Bug: Not able to purge correlations in WebUI"
### Expected behavior

Changing WebUI `MISP.completely_disable_correlation` from `false` to `true` a purge job is created, which should truncate the `correlations` table.

### Actual behavior

The `purge correlations` job is created but hangs, never progressing, and the `correlations` table is not `truncated`.

WORKAROUND: I was able to perform `truncate correlations;` in MySQL, and then in WebUI

[2022-05-26 06:27] xg5-simon commented on #7216
Would the [MISP Event Graph](https://www.youtube.com/watch?v=NYvKLwoBYwc) suffice?

[2022-05-26 07:43] #7216 closed, assigned to nobody

[2022-05-26 07:46] adulau commented on #8406
Maybe you should have a look at our recent https://github.com/MISP/MISP-RPM and check if you cannot apply it for RHEL8.

We recently produced the https://github.com/MISP/MISP-RPM/releases/tag/2.4.158-1

We also welcome changes to also support RHEL8.

[2022-05-26 07:47] adulau commented on #8404
I'll close the issue. If it's not solved, please re-open it. Thank you

[2022-05-26 07:47] #8404 closed, assigned to nobody

[2022-05-26 07:55] adulau commented on #8379
Indeed, it could be possible to extend MISP for AWS MQ.  The code base already including ZMQ and Kafka which are basically using the same approaches.

I see three potential options:

- Extending MISP to support it. We don't have any user in our communities requiring AWS MQ. If you really need this, you can have a look at our professional services https://www.misp-project.org/professional-services/

[2022-05-26 08:00] adulau commented on #8371
Could you share with us the manifest.json generated by FlashPoint ?

[2022-05-26 08:06] adulau commented on #8308
I just checked the feed with the recent version of MISP and I was able to fetch it. I'll close the issue but don't hesitate to re-open the issue if the issue persists.

[2022-05-26 08:06] #8308 closed, assigned to nobody

[2022-05-26 08:08] adulau commented on #8303
This was implemented in https://github.com/MISP/MISP/commit/c4f7a6e4f0bcaf7a08b9fc6c767d935bda3a3a65 and it will be available in the next release. We hope this helps.

[2022-05-26 08:09] #8303 closed, assigned to nobody

[2022-05-26 09:12] xg5-simon commented on #8380
Do you mean consuming OSINT from public threat reports and feeds? If so I recommend looking at AIL Framework or an ETL Pipeline tool such as Apache NiFi.

AIL Framework supports creating MISP events.

[2022-05-26 09:19] xg5-simon commented on #8161
Recommend asking this on Splunk Base.

[2022-05-26 09:27] xg5-simon commented on #7837
Our good friend Adrian has this covered in a [Building MISP Blog Post](https://blog.agood.cloud/posts/2019/04/29/building-misp/) where he shows how to configure MISP with a LetsEncrypt certificate.

[2022-05-26 11:41] ServSlack commented on #8404
I have done the update manually and works fine here, but only to let you know I do another test trying update using botton " Action " to " Update all Submodules " and don´t work.

Thanks.

![image](https://user-images.githubusercontent.com/32932095/170481076-2695deda-b804-4251-9418-a4ff3d8a0c25.png)

[2022-05-26 12:47] packet-rat commented on #8407
Note that this issue was introduced a number of versions back.  Not sure at which point it appeared but I first saw it as far back as ~4/8/22 - 4/15/22.

[2022-05-26 12:54] n3tl0kr commented on #8406
Thanks adulau, apologies if I sounded snarky lol, this was after a couple of hours of troubleshooting :)

[2022-05-26 13:02] packet-rat commented on #8407
Data Point.  After github-germ purged and started rebuild of correlations table, I still see the following artifacts:
<html><head></head><body><p>I just ran  show correlations in mysql and still see 10 million+ correlation entries with a date of 1000-01-01:</p>

<div class="table-wrap">

10723396 | 1000-01-01
-- | --
10723397 | 1000-01-01
10723398 | 1000-01-01
10723399 | 1000-01-01

</div>

<p><in

[2022-05-26 13:07] github-germ commented on #8407
[code]

[2022-05-26 13:41] adulau commented on #8406
No worries, I share your pain when it's about RHEL ;-)

[2022-05-26 13:42] malvidin opened #8408 "Add support for searching IDN domains"
### Is your feature request related to a problem? Please describe.

When a Unicode domain attribute is created (`Bücher.example`), it is IDN encoded stored and searchable only as the IDN (`xn--bcher-kva.example`).

### Describe the solution you'd like

A search for either the IDN domain (`xn--bcher-kva.example`) and or the corresponding Unicode domain (`Bücher.example`) should return the one relat

[2022-05-26 13:48] JakubOnderka commented on #8407
@packet-rat Thats OK, date column is not used anymore. It is there just for backward compatibility. You can drop `data` and `info` columns from correlation table to save space.

[2022-05-26 14:02] github-germ commented on #8407
Glad to see `info` no longer in use. Thanks!

Really appreciate you fixing this issue so fast :-)

Question: why do we see `correlations` rows going from 19M to 10M after a rebuild, i.e. what is causing what appears to be so many orphans? Should we be adding `Remove orphaned correlations` (in WebUI: `Administration > Server Settings & Maintenance > Diagnostics`) to our SOP, and if so, is there a m

[2022-05-26 17:50] sholland-bamboohealth opened #8410 "Support: Error when import STIX2 json file"
### Support Questions

This is similar to support request 8404, but everything shows updated. I am trying to upload a stix 2 file via the web interface and I'm getting the same error (see attachment).
![mispversion](https://user-images.githubusercontent.com/93221855/170545735-1560931f-dfb7-4b57-8ff8-c6f34017a8fb.PNG)

![submodulesversion](https://user-images.githubusercontent.com/93221855/17054575

[2022-05-26 18:46] github-germ commented on #8407
The fix in develop branch works well. THANKS.

Would appreciate any insight you can provide on my question above.

[2022-05-27 17:15] ryan-niemes-helix commented on #8410
seeing a similar issue with my install. I'm leveragint the cic-misp scripts which allow me to import events from cyware. Using the cli to import events generates this error. Removing the "interoperability=True" seems to fix the issue.

[2022-05-27 19:55] sholland-bamboohealth opened #8411 "Bug: KeyError: on attribute.add_tag(self.marking_definition[marking_uuid]['object'])"
### Expected behavior

Issuing the following command
`/var/www/MISP/venv/bin/python /var/www/MISP/app/files/scripts/stix2/stix2misp.py /var/www/MISP/app/tmp/MISPN0kaso`

will result in the following logs and the stix file properly imported.

[code]

### Actual behavior

[code]

### Steps to reproduce

run the command
/var/www/MISP/venv/bin/python /var/www/MISP/app/files/scripts/stix2/stix2misp.py

[2022-05-28 14:56] woodonggyu opened #8413 "Support: MISP HA(High Availability) on AWS"
### Support Questions

* Can MISP setting an each DB write/read-replica (on AWS RDS : mysql) ?
* Can MISP setting an Redis Cluster (on AWS Elasticache) ? (AWS single redis worked)

### MISP version

2.4.158

### Operating System

[Amazon Linux](https://aws.amazon.com/ko/amazon-linux-2/?amazon-linux-whats-new.sort-by=item.additionalFields.postDateTime&amazon-linux-whats-new.sort-order=desc)

### Op

[2022-05-30 09:13] righel commented on #8366
merged to develop via #8393

[2022-05-30 09:13] #8366 closed, assigned to righel

[2022-05-30 10:20] oooooleg opened #8418 "Bug: Processes network connections not imported after stix v1 import"
### Expected behavior

Processes have related network connections

### Actual behavior

There are no connections after STIX import

### Steps to reproduce

Home - Import from... - STIX 1.1.1 format (lossy) - Select connection_stix.xml file attached to this issue or any STIX v1 report containing `Network_Connection_List` object

### Version

2.4.158

### Operating System

Ubuntu

### Operating Syst

[2022-05-30 10:42] #8418 closed, assigned to nobody

[2022-05-30 11:04] JakubOnderka commented on #8407
I changed how correlations are generated, so now it should generate less duplicates.

[2022-05-30 11:16] jajco997 opened #8420 "Support: Updating feeds and situation with the olds."
### Support Questions

Hi,

I have questions about lifecycle of events from turned on feeds and work of MISP. When I turn on some feeds, and update them in some time, they will only updated events for new attritbutes/created new events or all database will be delete and import once again with new data.
Currently I have MISP connected to microsoft sentinel and threat intelligent system and I'm afra

[2022-05-30 12:56] amenahayajneh opened #8421 "Submitting delegation request to wrong organization"
Is there an option to withdraw a delegation request sent by mistake to another organization? or to limit sending delegation requests only to a certain organization to avoid mistakes?

[2022-05-30 17:04] chrisr3d commented on #8330
Hey, I updated the stix2 python library to make sure there would not be any further issue while loading a stix file (at least there should not)
And I updated the import script to keep the reference of the initial id when it is not valid for MISP

It was waiting on a develop branch to be merged and it is now available with the last release.
So make sure to pull the latest version and update your su

[2022-05-30 19:58] github-germ commented on #8407
Great!

[2022-05-30 23:14] UFOSmuggler opened #8424 "Bug: Logs table performance"
### Expected behavior

When attempting to access the Logs -> List Logs page (/admin/logs/index) the page should load relatively quickly, even if there are a large number of logs.

### Actual behavior

If there are a large number of logs in the logs table, this page can take several minutes to load.  The primary culprit appears to be a query that runs when the page is accessed:

```SELECT COUNT(*)

[2022-05-31 09:30] righel commented on #3321
Hi @github-germ this fix and many others are in the latest release `2.4.159`

[2022-05-31 09:30] #3321 closed, assigned to righel

[2022-06-01 06:34] rommelfs opened #8425 "Bug: Long event name broken up into several lines in event view"
### Expected behavior

Event name should be displayed as a homogenous title

### Actual behavior

 event title is broken up into different lines with different text formatting.

### Steps to reproduce

Insert long event title and view the event.

### Version

2.4.159

### Operating System

Ubuntu

### Operating System version

20.04

### PHP version

7.4.3

### Browser

Safari

### Browser version

[2022-06-01 23:58] jloehel commented on #6537
Some kind of watchlist would be really nice and handy:
![image](https://user-images.githubusercontent.com/2422012/171519945-bcd3d032-bb02-4d2c-a2da-66ac1187277b.png)

Replace `Projects` with `Events`, `Packages` with `Attributes` and `Requests` with `Proposals`.

@adulau Do you have still plans to implement something like that?

[2022-06-02 10:25] adulau opened #8427 "Feature Request: Event report link to one or more objects"
### Is your feature request related to a problem? Please describe.

The problem is lacking context around an EventReport.

### Describe the solution you'd like

The idea is to provide the ability to link one or more objects. This could be a relationship type with the existing relationships.

### Describe alternatives you've considered

_No response_

### Additional context

Discussed during the JT

[2022-06-02 10:27] adulau commented on #264
OpenIOC is deprecated at various places. We can close the ticket.

[2022-06-02 10:27] #264 closed

[2022-06-02 10:28] #4323 closed, assigned to nobody

[2022-06-02 10:33] adulau commented on #7999
This should be fixed in https://github.com/MISP/MISP/commit/e73950d0d24e2ab9d1557bc0ba601072fa54d9b9 - the fix is in 2.4 branch. Feedback is welcome. I'll close the issue. If the issue persists, feel free to reopen.

[2022-06-02 10:33] #7999 closed, assigned to nobody

[2022-06-02 13:03] github-germ commented on #7999
Thanks!

[2022-06-02 14:16] amenahayajneh opened #8428 "Tracing original creator organization after accepting delegation request"
Is there a way to trace the organization that created the event after accepting the delegation request?

Let's say OrgA created the event and OrgB accepted the delegation request so it's the new owner of the event now

After the delegation request is accepted by OrgB, when I view the event history both the creator and the owner of the event show OrgB, instead of showing the creator as OrgA and the

[2022-06-02 22:56] dogmachine commented on #8428
I've usually done this just by looking in the logs or audit logs.  You can see the creating org of the event ID.

**Using logs:**
Go to Logs -> Search Logs, then select Model: Event, Model ID: {your_event_id}, Action: request_delegation, hit search.

**Using audit logs:**
Go to Logs -> Audit Logs, then click the green "Add rule" button twice, set one of the objects to "Model type" and make it equa

[2022-06-03 08:59] fwalloe opened #8429 "Feature Request: error-proofing for INSTALL.sh around httpd and nuke password-protected databases"
### Is your feature request related to a problem? Please describe.

Running INSTALL.sh a second time after already installing MISP causes the following problems:

- 'Listen 443' is added a second time to /etc/httpd/conf/httpd.conf, which causes a configuration error in httpd

- nuke will not work for a password-protected database, which means that nuke will only work for installs that failed befor

[2022-06-03 10:14] jajco997 opened #8430 "Bug: Double CIRCL OSINT Feed in LIST FEEDS"
### Expected behavior

There should be one feed from CIRCL OSINT Feed

### Actual behavior

Feed is doubled, because one url end with /

one feed has url: https://www.circl.lu/doc/misp/feed-osint

the second one has url: https://www.circl.lu/doc/misp/feed-osint/

proof in photo:
[https://photos.app.goo.gl/DjtqKjK53PZJbwaF9](url)

### Steps to reproduce

Open card with List Feeds

### Version

2.4.

[2022-06-03 15:17] Rogueit commented on #8330
I've updated and am getting files imported from the feed. I noticed a lot of files are not getting based on the name or pattern listed in the file, but that is a different issue. Thank you for your time on this.

[2022-06-03 15:17] #8330 closed, assigned to chrisr3d

[2022-06-03 15:32] Rogueit opened #8431 "Bug: Import Stix2 file via web gui or command line"
### Expected behavior

Import Stix2 file via web gui or command line

### Actual behavior

[2022-06-03 11:24:53 59928] Running command /var/www/MISP/venv/bin/python /var/www/MISP/app/files/scripts/stix2/stix2misp.py /var/www/MISP/app/tmp/MISPzeUUTE 1 event /var/www/MISP/app/files/scripts/tmp/synonymsToTagNames.json
Traceback (most recent call last):
  File "/var/www/MISP/app/files/scripts/stix2/st

[2022-06-03 15:40] mwdearing commented on #8371
Here is the manifest.json file generated by FP.

[manifest_json.txt](https://github.com/MISP/MISP/files/8833445/manifest_json.txt)

[2022-06-07 07:08] JakubOnderka commented on #8431
Duplicates #8404

[2022-06-07 07:08] #8431 closed, assigned to nobody

[2022-06-08 15:00] github-germ opened #8436 "Support: Does attributes value index hinting degrade correlations rebuild performance?"
### Support Questions

@righel nicely (and thankfully) added index query hints to improve WebUI search attributes performance in #3321.

Any chance that forcing the use of the `attributes.value` index hint might degrade the performance when rebuilding the correlations table?

I'm not saying this is causing correlations rebuilding to take longer as we don't have metrics on that and it always takes

[2022-06-09 07:26] righel commented on #8430
Hello @jajco997
When did you installed MISP?
I did a fix here: https://github.com/MISP/MISP/pull/8313/commits/7cb610e33143fe0da6be5556ed3a19e272362f15 for this but only will take effect for new installations.

[2022-06-09 11:12] righel commented on #8436
Hello @github-germ
The fix from https://github.com/MISP/MISP/issues/3321 does not affect the correlations generation. This index is only added when doing an attribute search via the web UI or via the `/attributes/search` API endpoint:
https://github.com/MISP/MISP/blob/10b21ba3819254d4c70ed751e246d84fdf8cfd0c/app/Controller/AttributesController.php#L1546-L1548

[2022-06-09 12:17] github-germ commented on #8436
Thanks

[2022-06-09 12:17] #8436 closed, assigned to nobody

[2022-06-09 17:48] raihalea opened #8437 "Support: OIDC not work"
### Support Questions

We are trying to use OIDC with AWS Cognito and probably already have the necessary information set up for integration.

After the redirect, the login will not complete and you will be redirected to a page.

`$roles` always seems to be null.
I tried the code below and I was able to login successfully.
`./Plugin/OidcAuth/Lib/Oidc.php`
[code]

Please let me know about the setti

[2022-06-09 18:09] github-germ commented on #8305
@JakubOnderka  Now with 2.4.159 when re-testing this Dashboard CSRF issue: import JSON yields CSRF everytime. Are you able to reproduce this and fix? Thanks.

[2022-06-10 12:29] ntnco commented on #8403
I have the same issue with the same error `400 Bad Request` when Group Auth is enabled. However, if Group Auth is disabled, it works.

[2022-06-10 13:58] timhux123 opened #8438 "Bug: Mirroring attribute clusters to event fails"
### Expected behavior

Mirror attribute cluster to event when adding the cluster to the attribute.

### Actual behavior

Mirroring attribute clusters to attribute and event fails.

### Steps to reproduce

Set "MISP.enable_clusters_mirroring_from_attributes_to_event" to true under the MISP settings page.
While in an event, add a new cluster to an attribute.
Check the box labeled "Tag the event as w

[2022-06-10 22:27] TPower2112 commented on #8384
Thanks @righel

[2022-06-13 15:11] ag-michael opened #8440 "Bug: Undefined index: Tag"
### Expected behavior

The error would not be happening?

### Actual behavior

[code]

### Steps to reproduce

I am troubleshooting other issues with MISP, I was not able to associate what request is the cause of this.

### Version

2.4.158

### Operating System

Ubuntu

### Operating System version

18

### PHP version

7.2

### Browser

_No response_

### Browser version

_No response_

### Rele

[2022-06-14 08:06] adulau opened #8443 "Feature Request: Trigger on Sighting"
### Is your feature request related to a problem? Please describe.

Feature Request: Trigger on Sighting

### Describe the solution you'd like

Add trigger on sighting for the workflow

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-06-14 09:33] adulau opened #8444 "Feature Request: Add all galaxy matrixes in the event view (just like the statistic one)"
### Is your feature request related to a problem? Please describe.

Feature Request: Add all galaxy matrixes in the event view (just like the statistic one)

### Describe the solution you'd like

A drop-down menu with the galaxies enabled to not only have MITRE ATT&CK.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

### Code of Conduct

- [X] I a

[2022-06-14 11:25] ThijsLecomte commented on #8403
Would you have any input on this? @noodlemctwoodle

[2022-06-14 11:44] noodlemctwoodle commented on #8403
@ThijsLecomte Yeah I've seen this issue I'm not at my computer at the moment, I'll update in the next couple of hours.

[2022-06-14 11:55] adulau opened #8445 "Feature Request: Filter per first_seen/last_seen on the MISP graph in addition to filter on value"
### Is your feature request related to a problem? Please describe.

Feature Request: Filter per first_seen/last_seen on the MISP graph in addition to filter on value

### Describe the solution you'd like

Feature Request: Filter per first_seen/last_seen on the MISP graph in addition to filter on value

### Describe alternatives you've considered

_No response_

### Additional context

_No response

[2022-06-14 14:36] adulau opened #8446 "Bug: Scope toggle -> no flatten on object for the correlations"
### Expected behavior

Bug: Scope toggle -> no flatten on object for the correlations

### Actual behavior

Only attributes are seen and not the object when the scope is toggle

### Steps to reproduce

Bug: Scope toggle -> no flatten on object for the correlations

### Version

2.4.159

### Operating System

Ubuntu

### Operating System version

20.4

### PHP version

7.4

### Browser

_No respons

[2022-06-14 21:36] noodlemctwoodle commented on #8403
@ThijsLecomte  | @LOMA-TheCollectiveConsulting

I had this exact issue when I had some white space in the the Group names or a typo can also cause it.

[code]

Please can you check that there is no leading or trailing white space in the group names and ensure that there are no typos in `/var/www/MISP/app/Config/config.php`

![image](https://user-images.githubusercontent.com/15075388/173690779-406a

[2022-06-15 06:06] MitaliLamkhade opened #8447 "Bug: STIX 2 import fails for files with tag "misp:tool=\"misp2stix2\"" with attribute type attachment."
### Expected behavior

STIX 2.0 file should get imported and attribute of type attachment with category as External analysis should be created.

### Actual behavior

Following message displayed

An Internal Error Has Occurred.

Error: An Internal Error Has Occurred. Please try your action again. If the problem persists, please contact administrator.

### Steps to reproduce

1. Click on Export
2. G

[2022-06-15 10:23] Linow974 opened #8449 "Support:"
### Support Questions

Hello,

I want to create a synchronization between three MISP instances.

I have a MISP A instance located in a server, which is not accessible to the outside network.

Then, I have a MISP B, on the same server which will be able to access the external network. This MISP B will make it possible to exchange the different IOCs with other MISP instances. They will therefore onl

[2022-06-15 10:50] #8447 closed, assigned to chrisr3d

[2022-06-15 10:54] chrisr3d commented on #8447
It should be working as expected now with the changes mentioned above, but let me know if anything goes wrong

[2022-06-15 13:51] adulau opened #8450 "Protected event - alias for group of keys"
### Is your feature request related to a problem? Please describe.

Protected event - alias for group of keys

### Describe the solution you'd like

Protected event - alias for group of keys

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-06-15 17:13] ag-michael opened #8451 "Bug: Some pages in MISP are showing 500 error"
### Expected behavior

Pages will load as normal

### Actual behavior

`An Internal Error Has Occurred.` is displayed , error log below.

### Steps to reproduce

Try to display scheduled tasks '/tasks'

### Version

2.4.158

### Operating System

Ubuntu

### Operating System version

18

### PHP version

7.2

### Browser

_No response_

### Browser version

_No response_

### Relevant log output

[2022-06-19 07:52] Prash9682 opened #8455 "Support: Getting error response is not in Jason error 500 , can't connect to MISP"
### Support Questions

Hi ,
Sentinel Connector is showing connected, but not showing any feeds ,
When I run python3 script.py got following error.
Unknown error: the response is not in JSON.
Something is broken server-side, please send us everything that follows (careful with the auth key):
Request headers:
{'User-Agent': 'PyMISP 2.4.159 - Python 3.8', 'Accept-Encoding': 'gzip, deflate', 'Accept':

[2022-06-19 12:08] adulau commented on #8455
As mentioned in the error log:

- Review the URL used to connect to MISP.  Can you connect via the web interface of MISP?
- Check the error log of your MISP instance as you get back a 500 error message
- Update your MISP to the latest version as you are running old and vulnerable version

[2022-06-19 12:08] #8455 closed, assigned to nobody

[2022-06-20 12:01] Prash9682 commented on #8455
Yes I can connect it via Web interface , now I'm getting only the error when I tried to run python3 script.py it is saying 0 packets send  "An Internal Error Has Occurred.  If the problem persists, please contact administrator". While seeing the events also I'm getting same error

[2022-06-20 14:57] ntnco commented on #8403
I cannot speak for OP, but in my case there is no white space in the the group names and there are no typos in `/var/www/MISP/app/Config/config.php`. AAD works for users but not groups.

However, there is no Azure AD User checkbox when creating a new user.

![image](https://user-images.githubusercontent.com/28058284/174630107-c6c2ce45-cd2f-44d9-aeb8-85293d864553.png)

[2022-06-20 15:01] LOMA-TheCollectiveConsulting commented on #8403
Sharing the link would be extremely helpful. :)

[2022-06-22 00:11] UFOSmuggler opened #8456 "Bug: "Group selected Attributes into an Object" button incorrectly made available when selecting attributes inside objects"
### Expected behavior

If I use the checkbox to select an attribute inside of an object, the "Group selected Attributes into an Object" button should not appear.  This button's functionality does not appear to allow the use of attributes contained within objects, so it should not be made available.

### Actual behavior

If I use the checkbox to select an attribute inside of an object, the "Group s

[2022-06-22 13:35] Prash9682 commented on #8455
Can someone please let me know which URL's I need to whitelist on proxy for Sentinel as For scheduling daily run for python script daily internet will be needed. and we want to give internet through proxy by whitelisting Url's MISP URL I have whitelisted similarly for sentinel connection will be there be any URL

Will be great if get quick response as we are doing this for client

[2022-06-22 14:05] shiblovich opened #8457 "error while sending any email"
### Support Questions

error while sending any email ,
logs : Email to abdullah@jbs.sa, titled "this is missp" failed. Reason: The message could not be sent.

### MISP version

2.4

### Operating System

ubuntu

### Operating System version

20.04.4

### PHP version

7.4.3

### Browser

all

### Browser version

last version

### Relevant log output

[code]

### Extra attachments

_No response_

#

[2022-06-22 14:58] matthijsvp opened #8458 "Feature Request: export (individual or multiple) events to ATT&CK Navigator Layer JSON"
### Is your feature request related to a problem? Please describe.

It is not easy to compare attack paths modeled through ATT&CK in MISP events to other events.

### Describe the solution you'd like

It would be great to be able to export all used ATT&CK clusters to ATT&CK Navigator Layer JSON, so events can easily be overlaid and compared. See https://mitre-attack.github.io/attack-navigator/ for

[2022-06-22 18:19] Rogueit opened #8459 "Bug: MD5 indicator is not being imported into MISP by stix2misp.py"
### Expected behavior

File properly imported.

### Actual behavior

Traceback (most recent call last):
  File "/var/www/MISP/app/files/scripts/stix2/stix2misp.py", line 2111, in <module>
    main(sys.argv)
  File "/var/www/MISP/app/files/scripts/stix2/stix2misp.py", line 2105, in main
    stix_parser.handler(event, filename, args[2:])
  File "/var/www/MISP/app/files/scripts/stix2/stix2misp.py", l

[2022-06-24 09:31] woodonggyu opened #8460 "Bug: [List Organizations] Overlapping Columns vaules (Nationality, Sector)"
### Expected behavior

Hope to display normal

### Actual behavior

When I access [List Organizations] section, It Overlapping Columns values (Nationality, Sector)

### Steps to reproduce

1. Add Organizations
2. Input Nationality, Sector
   * Nationality : South Korea
   * Sector : Sector
3. Access [List Organizations]

### Version

2.4.159

### Operating System

Amazon Linux

### Operating Syste

[2022-06-24 15:11] Linow974 opened #8461 "Materials required for MISP"
Hello,

I looked at the FAQ and the documentation on this subject, because I want to buy a server on OVH to host MISP there. So I want to know what technical specifications I need.
I've seen 8gb, 16gb, in RAM and 250gb on disk, but I don't know how to adapt it to my case.

In fact, at the level of events, I would receive every day about twenty events + those that I would publish myself. This may i

[2022-06-27 15:38] righel commented on #8403
Hello,
I don't have much experience with AAD and Azure, but I followed @noodlemctwoodle [guide](https://github.com/MISP/MISP/tree/2.4/app/Plugin/AadAuth) with a fresh MISP instance installed in an Azure Ubuntu 20.04 VM and managed to get it working.

At first I had the same error message `Warning: Error received during Bearer token fetch (context).`
In my case the solution was to check the exact u

[2022-06-27 16:40] lu-chi commented on #8379
Thank you for providing info on that and apologies for very late reply - I really appreciate it. I guess I will wait for a new release/version. In a meantime I will continue experimenting with splitting MISP extensions across/with AWS specific services.

[2022-06-28 07:33] #8203 closed, assigned to nobody

[2022-06-28 07:34] #7423 closed, assigned to nobody

[2022-06-28 07:35] #7169 closed, assigned to nobody

[2022-06-28 07:39] righel commented on #6177
Hello,
Probably was running with the wrong user:
`sudo -u www-data /usr/local/src/misp-modules/tools/update_misp_modules.sh`

Hope this helps.

[2022-06-28 07:39] #6177 closed, assigned to enjeck

[2022-06-28 07:51] righel commented on #5724
Hello @moutonjr
To specify a custom CA for the MySQL driver you should edit your `/var/www/MISP/app/Config/database.php` file:
[code]

The proposed solution:
`$flags[PDO::MYSQL_ATTR_SSL_VERIFY_SERVER_CERT ] = false;`
Just ignores the CA verification, I would not recommend to do that.

Hope this helps, closing for now.

[2022-06-28 07:51] #5724 closed, assigned to nobody

[2022-06-28 10:53] deMasus commented on #2800
Hi, I have the same issue here.
my correlations table is something like 25G, when I truncate it, it says 0 rows affected :(
I manually disabled correlations and deleted old events to free some space.
mysql> select count(*) from correlations;
+----------+
| count(*) |
+----------+
|  7333578 |
+----------+
1 row in set (0.92 sec)

![image](https://user-images.githubusercontent.com/100416469/1761619

[2022-06-28 11:03] deMasus opened #8463 "Support: correlations too large, yet again"
### Support Questions

Hi,
my correlations table is something like 25G and truncate correlations isn't helping, it says 0 rows affected.
any advice on how to reclaim some space? What i 've done is disabling correlations at all and deleting some old events.
![image](https://user-images.githubusercontent.com/100416469/176162388-70146611-fd67-4c0e-a49c-3ed943cf9563.png)
mysql> select count(*) from co

[2022-06-30 08:49] JakKAaj opened #8465 "Support:"
### Support Questions

Hi,

When installing Install.sh I got an error. Can you help?

### MISP version

2.4

### Operating System

Ubuntu

### Operating System version

20.04

### PHP version

PHP 7.4.3

### Browser

_No response_

### Browser version

_No response_

### Relevant log output

[code]

### Extra attachments

Collecting git+https://github.com/kbandla/pydeep.git
  Cloning https://githu

[2022-06-30 09:10] adulau commented on #8463
Another important, after your deleted the potential highly correlating event, is to update the MISP object template too. We saw some feeds still using old templates where correlation was not disabled.

There is also a new tool to ease the deletion of unwanted events. [eCrimeLabs MISP Purge Events tool](https://github.com/eCrimeLabs/MISP-PurgeEvents)

I'll close the issue but don't hesitate to reop

[2022-06-30 09:10] #8463 closed, assigned to nobody

[2022-06-30 09:11] Tyrell20 opened #8466 "Bug: Could not save freetext feed data for feed"
### Expected behavior

Feech of all feeds successfully completed.

### Actual behavior

The feetch of some feeds goes in error:
2022-06-30 10:21:16 Error: Could not save freetext feed data for feed 95.

### Steps to reproduce

Manual or automatic execution of fetch all events from a feed.

### Version

2.4.159

### Operating System

Red Hat Enterprise Linux Server

### Operating System version

7.

[2022-06-30 10:56] chrisr3d commented on #8459
Hey,
The script was not handling the possibility that there could be objects referencing other objects where the referenced objects are not present in the bundle.
-> In your sample, there is a `marking_ref` and the referenced `marking-definition` object does not exist in the bundle.

I am currently working on the rework of the [STIX -> MISP import feature](https://github.com/MISP/misp-stix/tree/ma

[2022-06-30 10:56] #8459 closed, assigned to chrisr3d

[2022-06-30 12:44] Tyrell20 opened #8468 "Support: How to withdraw old events and related attribute/indicators on MISP"
### Support Questions

What method/best practices is suggested to withdraw old event on MISP? On the platform I have events of several year ago.
I tried applying decayng model withous success.

Many thanks.

### MISP version

2.4.159

### Operating System

RedHat

### Operating System version

7.9

### PHP version

7.4

### Browser

_No response_

### Browser version

_No response_

### Relevant l

[2022-06-30 13:41] Bootybear opened #8469 "Bug: Tag window won't close after changing page or clicking "view all""
### Expected behavior

Tag window should close down when clicking outside the window, or at least you should be able to close down the window clicking the X at any time.

### Actual behavior

If you open the tag window (global or local) and change to a new page or click "view all" the window will stay open and doesn't close when clicking the X. It only closes with page refresh or finish adding tag

[2022-06-30 14:14] sholland-bamboohealth commented on #8459
I have a ton of failures from different stix files from the h-isac feed. I was just going to work my way through them one bug at a time. If you need specific stix files types...I will be happy to provide. Thanks for working on this.

[2022-06-30 14:20] chrisr3d commented on #8459
@sholland-bamboohealth I'm always happy to get samples in order to see how the different STIX objects are built by different producers. It really helps me adapting the code to cover the different cases for a better support
Thanks

[2022-06-30 14:29] sholland-bamboohealth commented on #8459
getting this when trying to import the file with the following command

`/var/www/MISP/venv/bin/python /var/www/MISP/app/files/scripts/stix2/stix2misp.py /var/www/MISP/app/tmp/MISPAKjotS
`

/var/www/MISP/app/tmp# /var/www/MISP/venv/bin/python /var/www/MISP/app/files/scripts/stix2/stix2misp.py /var/www/MISP/app/tmp/MISPAKjotS
Traceback (most recent call last):
  File "/var/www/MISP/app/files/script

[2022-06-30 15:07] chrisr3d commented on #8459
This one is a pretty easy one to fix, it simply comes from a different version of the STIX 2 python library
We use a slightly changed version that I maintain to avoid validation issues with UUIDs while loading STIX bundles.
The straight forward way of fixing this is described in the [dedicated part of our user guide](https://github.com/MISP/misp-book/tree/main/updating-python#updating-misp-and-its

[2022-06-30 15:34] goodlandsecurity commented on #8413
have you seen this blog? https://blog.malware.re/2021/02/21/Rapid-MISP-AWS/index.html

[2022-06-30 19:06] sholland-bamboohealth commented on #8459
That fixed any problems I was having with any of the stix files I was getting from h-isac. Thanks for your work.

[2022-06-30 21:38] teward opened #8471 "Bug: MISP attributes restSearch using last_seen does *NOT* check against `last_seen` field on attributes"
### Expected behavior

Attributes returned from the attributes rest search would have a last_seen within the specified timeframe.

### Actual behavior

*ALL* Attributes are returned regardless of `last_seen` value.

### Steps to reproduce

(1) Create a test event.  Keep a record of the event ID so you don't spam yourself and only pull test event data.
(2) Add attributes to event with multiple `fir

[2022-07-01 03:07] djsherly commented on #4258
Hi All,

is there an update available on WCAG 2.1 compliance?

[2022-07-01 05:59] watarium commented on #8125
I got the same problem.

It seems like by design, not bug, because Attribute.php intensionally restricts duplicated uuid.
https://github.com/MISP/MISP/blob/2.4/app/Model/Attribute.php 
It also seems like STIX allows duplicated UUID (2.9 Identifier.)
https://docs.oasis-open.org/cti/stix/v2.1/csprd01/stix-v2.1-csprd01.html

Is it possible to accept the same uuid when importing STIX files into MISP?

[2022-07-01 06:27] chrisr3d commented on #8125
Hey,
I am currently working on the rework of the STIX 2 import feature which will support 2.1
This is going to be released soon, but I will also check that the "new" implementation does not replicate your issues.
Thanks

[2022-07-01 06:32] woodonggyu commented on #8413
Hello, @goodlandsecurity

I've already seen that. But that blog doesn't address what I asked.

[2022-07-01 09:31] deMasus commented on #8463
thanks a lot, Alexandre, will give it a try!

[2022-07-01 11:30] marjatech commented on #7119
please reopen this one, currenly not working again. same behaviour

[2022-07-01 19:30] mathurin68 opened #8473 "Support: Another 'Internal Error Has Occurred' on the Diagnostics page."
### Support Questions

I had a git error that I got updating through the gui...

<pre>
Please commit your changes or stash them before you switch branches.
Aborting
Unable to checkout '95c141f34cbae22ce25648f4cb58027f2ccdf1f9' in submodule path 'app/files/scripts/misp-stix'
</pre>

that I was able to seemingly get through with this on the command line.

https://github.com/MISP/MISP/issues/6215

<p

[2022-07-03 01:52] 00willo commented on #7486
@fink08 I noticed that in your screenshot of the proxy settings, you did not set the proxy port, only the proxy host.  I've been testing using a proxy, and if I remove the proxy port from my settings leaving just a proxy host defined, the sync fails.

[2022-07-03 10:32] 00willo commented on #6611
I also updated the mysql table to clean up the old job.  From the UI, grab the ID of the job.  Then connect the database and execute something like this.

Just make sure you're adjusting the correct job ID.
[code]

The UI will then update and show a Failed job, with the message.

[2022-07-03 15:53] 00willo commented on #212
FYI, this project had its last commit on 12 Jun 2017.

[2022-07-03 16:00] adulau commented on #212
It could be indeed an old plugin. It's difficult to know and follow exactly what FireEye product is available in 2022.

There is a specific plugin available on the market place of FireEye https://fireeye.market/apps/235984

If I need to update the tools page of MISP, let me know.

[2022-07-03 16:03] adulau commented on #8461
We recently published a quick sizing guide https://www.misp-project.org/sizing-your-misp-instance/ which might help you. Feel free to re-open the issue if it doesn't answer your question.

[2022-07-03 16:03] #8461 closed, assigned to nobody

[2022-07-03 23:32] eowyn263 commented on #7782
Not sure if it's still relevant, but I had the same issue and was able to track it down to https://github.com/MISP/MISP/blob/2.4/INSTALL/INSTALL.sh **line3430** in **installMISPRHEL ()** function.

[code]

  Here, the "${DISTRI}" is rhel7.9 (I'm using rhel7.9, might be different for you) and not rhel7, so the MISP Core, Cake PHP, etc. are not installed. You can change the if condition and it will

[2022-07-04 02:03] joash2808 commented on #6477
Hi! How do you extract the information out of a event report into a JSON format?

[2022-07-04 08:20] JakubOnderka commented on #8473
Hello, can you provide whole `error.log`? The exception message is missing.

[2022-07-04 14:59] ntnco commented on #8403
Alright, I just added `info`, but the logs don't seem to be of much help. Definitely not a duplicate of #7169 in my case.

The log below is for a single attempt to connect with group-AAD (please note there is no error when user groups are disabled). Before sharing the logs below, I adjusted to show `xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx` instead of actual value.

File `/var/www/MISP/app/tmp/logs/er

[2022-07-05 09:49] shinobu55 opened #8476 "Support: Action EventsController::attributes() could not be found"
### Support Questions

Hello,

I tried to add an attribute over the API (Post: /events/attributes/174), but got a 404 Not Found back. After looking into the error Log it showed me the following error:

2022-07-05 18:45:04 Error: [MissingActionException] Action EventsController::attributes() could not be found.
Exception Attributes: array (
  'controller' => 'EventsController',
  'action' => 'attri

[2022-07-05 10:30] righel commented on #8476
Hello @shinobu55
For adding attributes to an event the endpoint is: `/attributes/add/:event_id`
You can find the API documentation here:
* https://www.misp-project.org/openapi/#operation/addAttribute

Hope this helps.

[2022-07-05 10:30] #8476 closed, assigned to nobody

[2022-07-05 16:12] mathurin68 commented on #8473
Ah, sorry... yes!  Did I mess up my virtualenv somehow?

[code]

[code]

Can I rebuild my virtualenv by deleting the venv file and then... (my python version on here is 3.8.10)

[code]

the /var/www/MISP/requirements.txt contains -
pyzmq
coveralls
codecov
stix
pymisp
requests-mock
pip
nose
jsonschema
plyara >= 2.0.2
requirements.txt (END)

Really appreciate the help!

[2022-07-05 20:37] Cory002 opened #8477 "Base URL"
### Support Questions

Hello Support,

I have been working on configuring MISP for our organization. Everything is running great but I am getting an error message for Base URL which I have been unable to correct. This also appears to be an issue with API via the FQDN.

Error: The currently set baseurl does not match the URL through which you have accessed the page. Disregard this if you are access

[2022-07-05 20:37] Cory002 commented on #8477
Update: I was able to get the API working. It was related to permissions. However, I am still getting the base URL error.

[2022-07-05 22:48] dogmachine commented on #8477
Your description of the issue doesn't make it clear that you are entering a URL, it sounds like you're entering a hostname/fqdn as the base URL.

Correct: https://misp.example.com
Incorrect: misp.example.com

Hopefully your issue is as simple as that.

[2022-07-06 05:27] KTanAug21 commented on #4422
Overview:
1. Configure email.config
2. Make sure no MISP settings is prohibiting email sending
____________________________________________________________________________________________
### 1. Configure email.config
There should be an email config file for MISP:
.../MISP/app/Config/email.php

You can add your smtp/gmail/other provider configuration there.

### 2. Make sure no MISP settings is pr

[2022-07-06 12:09] dazed51 opened #8479 "Support: misp temp directory disk space issues"
### Support Questions

Hello,

Currently experiencing disk space issues about once a month or so, with regards to the following misp directory.

Can data under var/www/MISP/app/tmp/ be removed without having any system issues?

Thanks,

var/www/MISP/app/tmp/cached_exports# du -hcs * | grep G
1.8G bro
12G json
7.4G xml

8.0G yara under /var/www/MISP/app/tmp

### MISP version

2.4.151

### Operating

[2022-07-06 12:41] Cory002 commented on #8477
I am using the correct format https://misp.example.com. Do you know what this field is checking on the backend to determine if the URL is correct or not?

[2022-07-06 12:48] JakKAaj commented on #8465
Again the same issue

Downloading validators-0.19.0.tar.gz (30 kB)
    ERROR: Command errored out with exit status 1:
     command: /var/www/MISP/venv/bin/python -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-nugwdmxx/validators/setup.py'"'"'; __file__='"'"'/tmp/pip-install-nugwdmxx/validators/setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read(

[2022-07-06 22:46] UFOSmuggler commented on #8477
It looks like it is checking against the HTTP request's host header, as well as the protocol used.  I have had this issue before when specifying http or https, where the instance was actually using the other.

Maybe take a look at the HTTP request headers in your browser's inspection tool, and verify HTTP vs HTTPS.

[2022-07-07 10:03] Tyrell20 commented on #8466
If it helps, we have two issues on DB schema diagnostics: "Column uuid should be unique index, but contains duplicate values" on attributes and objects tables.

But, by clicking on Action (Fix Database Index Schema), we don't have any suggestion to resolve these issues.

![screenshot 376](https://user-images.githubusercontent.com/64137969/177747989-02ac04af-a3bf-462a-9aba-788a34d490d9.jpg)
![scree

[2022-07-07 10:27] iglocska commented on #8466
Could you run `select max(id) from correlations;` and paste the results?

On Thu, Jun 30, 2022 at 11:12 AM Tyrell20 ***@***.***> wrote:

[2022-07-07 10:56] Tyrell20 commented on #8466
Hello,

Database changed
MariaDB [misp]> select max(id) from correlations;
+------------+
| max(id)    |
+------------+
| 2147452976 |
+------------+

Thank you

[2022-07-07 14:25] JoePJisc opened #8482 "Support: Session handler: php_files despite editing php.ini"
### Support Questions

I'm trying to move to redis sessions as advised, but I don't seem to be able to get the diagnostics page to report Session handler as redis, however MISP can connect to redis fine.

Can anyone spot what I'm missing?

`/var/www/MISP/app/Config/config.php`:

[code]

PHP ini path:… /etc/opt/remi/php74/php.ini

`/etc/opt/remi/php74/php.ini`:

[code]

I've restarted the httpd ser

[2022-07-07 15:42] eowyn263 opened #8483 ""Connection reset" and "Error: The requested address '/css/bootstrap-datepicker.css.map' was not found on this server" during login"
### Support Questions

Hello,

I just upgraded to the newest version, v2.4.159 and after being logged in and inactive in the MISP, I will get logged out, which is fine. But it will then redirect me to the login page and after inserting login creds, I'm getting a `Connection was reset` error and I'm not able to log in.

If I try to clear cache and cookies or try a different browser/incognito mode,

[2022-07-07 15:45] Cory002 commented on #8477
It looks like the request is using the correct URL in the request header. I also have the apache config file redirecting to 443.

Request Header:
GET /users/login?_=1657207541914 HTTP/1.1
Host: misp.example.com
Cookie: MISP
Sec-Ch-Ua: "Chromium";v="103", ".Not/A)Brand";v="99"
Accept: */*
X-Requested-With: XMLHttpRequest
Referer: https://misp.example.com

Response Header:
HTTP/1.1 302 Found
Date: T

[2022-07-07 18:14] teward commented on #8471
Been a week, is nobody going to test/triage this?

[2022-07-07 18:19] teward opened #8484 "Support: Multi-instance Event Publishing/Approval"
### Support Questions

We operate a multi-instance MISP setup - we have one MISP instance to act as a central data repository for all MISP data, and a second internal instance connected to that one which is set up with all the enrichment plugins and such.

When testing, we were adding attribute proposals to the second enrichment instance (which is where analysts will work on such etc.) and when we

[2022-07-08 05:36] eowyn263 commented on #8483
Found what I miss - I needed to create timezone.ini and redis.ini files in the php-fpm.d and link them to php.d. Then restart php-fpm service and it's working fine since then

[2022-07-08 05:36] #8483 closed, assigned to nobody

[2022-07-08 14:57] Davdavidid opened #8485 "Bug: Error when using Install script"
### Expected behavior

Installation without Error

### Actual behavior

Near the end of the Installation process i get an Error. MISP seems to be working but i can't get theHive/Cortex to send cases even though they are connected (plugin in MISP is connected and green circles in hive).
I'm unsure if this is the problem but it would be good to solve it no matter what.

### Steps to reproduce

Tried

[2022-07-08 20:53] mathurin68 commented on #8473
Keep in mind I have no idea what I'm doing, but for anyone that is facing this same problem, this seems to have fixed it...
I'm on python 3.8.10

[code]

[2022-07-08 20:53] #8473 closed, assigned to nobody

[2022-07-08 21:20] Benni0 commented on #7572
@adulau @iglocska

I am sorry to bring up this old problem again, but the suggestion from @adulau does not work in practice.
Enabling MISP feeds from Abuse.ch are highly correlated, which results in massive relations table growth (https://github.com/MISP/MISP/issues/8275).
It is also not possible to import the (full) csv files, because of increasing memory usage.

I have created a MISP feed for th

[2022-07-08 21:27] Benni0 commented on #8437
Hi @aisoulea
it seems there is no roles claim in your JWT.
I've also discussed this problem here: https://github.com/NUKIB/misp/issues/20#issuecomment-1029891811
Maybe that will help.

[2022-07-12 12:46] griffithsj151 opened #8492 "Issue syncing with main Circl feed"
SO I am currently trying to sync with the main circl misp. It gets to like 28k events and then I keep getting this error:

ERROR: SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '54c36a4b-1788-42a0-9826-ada03d424d51' for key 'uuid'

Its a different entry each time.

Any help would be greatly appreciated.

[2022-07-13 09:31] cudeso opened #8493 "Feature Request: Filter for only attributes or only objects"
### Is your feature request related to a problem? Please describe.

It is not related to a problem, but rather a usability issue. In events with large sets of attributes and only a couple of objects it would be great to filter out only the objects, regardless of the type of object.

### Describe the solution you'd like

Option under **Scope toggle**
- Objects only
- Attributes only

### Describe a

[2022-07-14 08:22] shaworee opened #8494 "Support:"
### Support Questions
I cannot find solution for my problem, sorry if this is solved in another thread.

I have got a problem with my MISP instance. I am not able to persuade my MISP Diagnostics I has increased PHP memory limit. See:
![PHP_MEMORY](https://user-images.githubusercontent.com/109274257/178935721-0f13cc81-e63d-49f3-b500-23a576979bca.png)

I changed every PHP memory_limit value to 15G,

[2022-07-14 19:23] JoePJisc commented on #7945
Adding my name to this too, one item we are seeing slow performance on is using the `/attributes/restSearch` endpoint to find attributes with specified tags (event or attribute tags), in a given time period and export as RPZ zones.

Any suggestions on additional indexes that would help this, would be really appreciated.

[2022-07-15 08:34] griffithsj151 commented on #8492
seems to have resolved itself

[2022-07-15 08:34] #8492 closed, assigned to nobody

[2022-07-15 10:03] shaworee commented on #8494
I am very sorry, my fault. Bad installation of php. Simple reinstall solved all my problems.

[2022-07-15 10:04] #8494 closed, assigned to nobody

[2022-07-15 15:38] imidoriya commented on #7945
@JoeP-oss I think what I did was reviewed the log types and determined that my main issue was API Auth logs.  So I disabled them in settings as it wasn't overly important to me or the event history.

I also added an index to the date column in events and the model_id column in logs.

[2022-07-18 11:17] security-intel opened #8498 "Bug: Unable to edit attachment type attribute and replace file"
### Expected behavior

Throuth the API, using pymisp:
- search for an existing 'attachment' attribute
- update the 'data' property, with the path to a new/different file
- save attribute
- the attachment file is replaced by the new one

### Actual behavior

- Any property of the attribute can be changed through the API - but not the file. The new one is ignored

### Steps to reproduce

Through the

[2022-07-18 11:35] #8498 closed, assigned to nobody

[2022-07-18 11:36] security-intel commented on #8498
PBCAK - works as expected.

[2022-07-18 13:50] github-germ commented on #8259
Might this have been fixed in 2.4.159? If not, we'd appreciate any help to resolve. Thanks.

[2022-07-18 18:55] MarkJaroski commented on #8403
For what it's worth I got this working on our setup. I started with @righel's patch, and added account creation and group enumeration. I don't think the form is good enough to submit as a pull request, and I still had to do a hacky work-around for the proxy part.

[2022-07-18 19:04] righel commented on #8403
Feel free to open a pull request when you consider it's ready @MarkJaroski. We can take a look, suggest changes/or refactor it if necessary.

[2022-07-19 04:27] Byhird opened #8499 "Feature Request: Option to not create new Orgs via shibbauth"
### Is your feature request related to a problem? Please describe.

Currently experiencing an issue when user's attempt (but fail) to sign in via SAML SSO. The user is not in the appropriate group and so authentication fails, but a new organisation is still created in MISP.

This issue is similar to #5951 and I attempted to use the BlockOrgModifications = true option provided in https://github.com

[2022-07-19 07:18] LOMA-TheCollectiveConsulting commented on #8403
Hi all,

I also got it to work with the help of @righel.
In my case it were the spaces in the groups that were defined here:
![image](https://user-images.githubusercontent.com/65909131/179688680-3bc85151-1daf-49c2-9b42-b7d592a039ac.png)

Even dough I copied and pasted them from the the Azure AD portal when creating the groups.
It seems like spaces in the group name were the issue so I replaced the

[2022-07-19 19:16] MarkJaroski commented on #8403
See pull request #8501

I have absolutely no idea if the enum structure is right. I'll confess that in our running instance it's just magic numbers.

Likewise, I also presume that haven't got user creation quite right, but we need it, so it's in there. I mostly borrowed it from one of the other AuthN plugins.

[2022-07-20 00:48] dougjpsantos commented on #7945
This is mine:

MariaDB [misp]>  select count(*) as count, model from logs group by model order                          by count desc limit 5;
+----------+-----------------+
| count    | model           |
+----------+-----------------+
| 49669282 | User            |
| 28578428 | Attribute       |
| 15111759 | MispObject      |
|  4464814 | Event           |
|    74245 | ObjectReference |
+--------

[2022-07-20 05:48] #8403 closed, assigned to righel

[2022-07-20 12:10] 3c7 commented on #2917
Just found out about this today. Any update on a new permission related to editing tags?

[2022-07-20 13:52] cvandeplas commented on #2917
@3c7 as explained [here](https://github.com/MISP/MISP/issues/2917#issuecomment-558543558) it is a design decision for now to only allow admins to rename / edit tags. The impact of allowing that permission is much bigger than one might expect. (see the example in my linked answer).

Which specific use-cases do you have?

[2022-07-20 14:32] mrihtar commented on #8206
The following error during installation
[code]
could be fixed with the following change to the app/Model/Server.php:
[code]

[2022-07-20 14:41] 3c7 commented on #2917
A user created a tag (via API I think) and wanted to change it afterwards to "local only". I understand the design decision, however, it still would be cool if they could change it themselves somehow. Probably a rare use-case - I'll find another way of dealing with that.

[2022-07-20 16:34] GIJosh2687 commented on #692
For anyone that happens about this post. Go ahead and verify that your ingress and egress rules are good. You need to open 80/443 ingress. You need to allow the ephemeral ports egress to allow for standard HTTP/ HTTPS traffic.

[2022-07-22 15:44] woodonggyu opened #8503 "Bug: The 'Target Event ID' field is not changed when edit MISP feed"
### Expected behavior

When I fetch specific feeds, I want to set "Target Event ID" field.

### Actual behavior

When I edit MISP specific feed, I couldn't change "Target Event ID".

### Steps to reproduce

1. Set to enable specific default feeds.
2. after or before fetch, try to change "target event id".

### Version

2.4.159

### Operating System

Ubuntu

### Operating System version

20.04

###

[2022-07-22 15:58] woodonggyu opened #8504 "Bug: Custom object-template doesn't appear on the page."
### Expected behavior

Basically, MISP provides default object-template.
When someone creates a custom object template, the same should appear on the page.

### Actual behavior

First, I made a new custom object-template.
And then when accessed [List Object Templates] section, display object-template.

At the bottom of the page, you can see the following text:
* Page 5 of 5, showing 48 records out

[2022-07-23 05:48] smarthive-skp commented on #4739
Issue is back when trying to install on Ubuntu 20.04.

[2022-07-25 10:59] LumberJohn6 opened #8507 "Bug: Error: Undefined index: is_galaxy"
### Expected behavior

The event should be pulled from instance without error

### Actual behavior

2022-07-25 11:48:34 Notice: Undefined index: is_galaxy in [/var/www/MISP/app/Model/Event.php, line 2232]
Notice Error: Undefined index: is_galaxy in [/var/www/MISP/app/Model/Event.php, line 2232]

### Steps to reproduce

Just go to the servers page on sync actions tab and click on pull on the server

[2022-07-26 01:53] dougjpsantos commented on #8262
It looks like I also have this issue
Ubuntu 20.04
MISP version 2.4.159
PHP ini path:… /etc/php/7.4/fpm/php.ini
PHP Version (>7.4 recommended): 7.4.30 (Up to date)
PHP CLI Version (>7.4 recommended): 7.4.30 (Up to date).

I did find a section on diagnosticts that refered to having the AdvancedAuthKeys enablement, which i did, and solved nothing.

---
Upgrade authkeys keys to the advanced keys forma

[2022-07-26 06:57] righel commented on #4739
Could you please try again @vagner-instructor @smarthive-skp
Checksums look fine.

[2022-07-26 11:49] oencarnacion commented on #8212
The problem is that the MISP instance and the MYSQL are not establishing a connection. The steps I took to do this were the following:

With the file hosted on the misp user called mysql.txt I used the generated root password I went to my mysql instance and reset the root user by putting the password I saw in the file

How to reset the user:

/etc/init.d/mysql stop
mysqld_safe --skip-grant-tables

[2022-07-26 13:33] oencarnacion commented on #7515
The problem is that the MISP instance and the MYSQL are not establishing a connection. The steps I took to do this were the following:

With the file hosted on the misp user called mysql.txt I used the generated root password I went to my mysql instance and reset the root user by putting the password I saw in the file

How to reset the user:

/etc/init.d/mysql stop
mysqld_safe --skip-grant-tables

[2022-07-26 15:21] oencarnacion commented on #7319
The problem is that the MISP instance and the MYSQL are not establishing a connection. The steps I took to do this were the following:

With the file hosted on the misp user called mysql.txt I used the generated root password I went to my mysql instance and reset the root user by putting the password I saw in the file

How to reset the user:

/etc/init.d/mysql stop
mysqld_safe --skip-grant-tables

[2022-07-26 15:21] oencarnacion commented on #5516
The problem is that the MISP instance and the MYSQL are not establishing a connection. The steps I took to do this were the following:

With the file hosted on the misp user called mysql.txt I used the generated root password I went to my mysql instance and reset the root user by putting the password I saw in the file

How to reset the user:

/etc/init.d/mysql stop
mysqld_safe --skip-grant-tables

[2022-07-26 23:22] Derekt2 commented on #5768
Also reached max int number on correlations. Wasn't too difficult with default feeds on for all vendors after a couple years. Any update on this?

[2022-07-27 13:44] cudeso opened #8510 "Feature Request: Have a tab / box on each event that lists the number of attributes per type"
### Is your feature request related to a problem? Please describe.

It's not related to a specific problem.

### Describe the solution you'd like

For events with large number of attributes it would be interesting to have a table
ip-src: 20 attributes in this event
md5: 30 attributes in this event
...

Ideally this is is a configuration option (on some systems it can be less relevant).

### Descri

[2022-07-27 17:00] RobertTreb opened #8511 "Support:"
### Support Questions

Installation on Ubuntu behind proxy, I'm getting following error:

error: RPC failed; curl 56 GnuTLS recv error (-110): The TLS connection was non-properly terminated.

### MISP version

2.4.151

### Operating System

Ubuntu

### Operating System version

20.04

### PHP version

7.4

### Browser

_No response_

### Browser version

_No response_

### Relevant log output

_No

[2022-07-29 10:18] cudeso opened #8514 "Bug: E-mail attributes containing a space are accepted as valid e-mail addresses"
### Expected behavior

Getting the message "Email address has an invalid format. Please double check the value or select type "other"" when adding an attribute 'blah blah@blah.com' as email-src

### Actual behavior

An attribute with 'blah blah@blah.com' is stored as email-src without problems.

### Steps to reproduce

Create an attribute 'blah blah@blah.com'.

The preg in https://github.com/MISP/

[2022-07-29 12:38] #8514 closed, assigned to nobody

[2022-07-29 14:01] ntnco opened #8516 "Bug: AadAuth with Group Auth enabled fails if MISP group not in first 100 groups"
### Expected behavior

User gets authenticated

### Actual behavior

User does not get authenticated

### Steps to reproduce

- Create at least 100 Azure AD groups.
- Add another group for `misp_siteadmin` and assign it to your user.
- Enable AadAuth by following the [documentation](https://github.com/MISP/MISP/tree/2.4/app/Plugin/AadAuth).
- Try to login with `AzureAD` button and observe that it

[2022-07-29 14:04] ntnco commented on #8516
Thanks to @righel 's [logging improvements](https://github.com/MISP/MISP/commit/8b7b53975d45899ede6560633acbfcd287d46a26), I was able to pinpoint that the 100+ groups were causing the bug, because MS Graph's results are paginated.

I was able to fix the bug by implementing a simple while loop. I will submit a PR

[2022-08-01 14:37] JoePJisc commented on #7945
These are the initial steps I've taken, based on the search criteria of our RPZ export, I'm also going to look to get slow query logging enabled, including the searches without indexes option, to detect any additional optimisations I can made.

[code]

With regards to logs, I've added this index and plan to schedule these deletion queries daily.

[code]

I'd welcome any thoughts on this / addition

[2022-08-02 06:48] iglocska commented on #7945
I mean the logs are really only used by the event history - whether you care about that or not is a different question. I see some value in it when it comes to seeing the evolution of events, but not to the detriment of performance, so I think your strategy of purging older logs is sound.

[2022-08-02 06:50] iglocska commented on #7945
With that said - logs should never affect searches, so if you are having slow exports that is unrelated to this. It can be down to a bunch of different factors, currently we're in the process of finalising a release that should help with anything related to correlations for example.

Make sure your DB configuration is up to snuff (especially innodb buffer size is crucial - without it you'll end up

[2022-08-02 13:22] SteveClement commented on #8206
Most of these errors are not relevant to the overall functioning of MISP.

If pyMISP tests fail, that ain`t great, but it also does not really matter for the core.

The cake commands are only tuneables to make a base MISP install more clean. e.g. Writing defaults to avoid having notifications etc.

Overall, yall` are right, the script would need more sanity checks and should be tested more thoroug

[2022-08-04 07:31] pabloes1337 opened #8521 "MISP Server add problem"
Hello, I have added just for connection test one external server with uuid and url. After that I removed this server. Now when I have auth key I want to add new server with the same url and uuid and with auth key. But when I try to add new server I have error :

"That organisation could not be created as the uuid is in use already."

But I do not have already this server on the server list.

MISP:

[2022-08-04 07:49] #8521 closed, assigned to nobody

[2022-08-04 07:53] pabloes1337 commented on #8521
Remove Organisation from MISP with proper UUID

[2022-08-04 19:47] Rogueit opened #8522 "Bug: attribute not being created on stix import."
### Expected behavior

When importing a stix file and event and coorisponing attributes should be created.

### Actual behavior

The event is being created but the attribute isn't being properly parsed and there is no corresponding value being made from the stix file.

### Steps to reproduce

Run  /var/www/MISP/venv/bin/python /var/www/MISP/app/files/scripts/stix2/stix2misp.py /var/www/MISP/app/tm

[2022-08-04 19:48] Rogueit commented on #8522
@chrisr3d Hey man...if you get a moment...you were able to help me out last time, If you get a chance, could you take a look.

[2022-08-05 13:48] remydewa commented on #7972
hello, does someone can help me about this please?

[2022-08-05 15:13] Lexati commented on #8485
I have this problem too!

[2022-08-05 20:10] fukusuket commented on #8471
I reproduced it too(v2.4.159).
It looks like [this implementation](https://github.com/MISP/MISP/blob/v2.4.159/app/Model/Attribute.php#L2703) is causing the problem as follows.
- If I only set last_seen, then return Attribute **older than last_seen(not within)**.

But [API documentation](https://www.misp-project.org/openapi/#tag/Attributes/operation/restSearchAttributes) says as follows.
- last_see

[2022-08-07 06:58] ag-michael commented on #8451
Anyone looked at this yet?

[2022-08-08 09:05] marcnil815 opened #8523 "Bug: Emails not sent on Publish (checkPublishFilter() Error)"
### Expected behavior

User creates event and hits the publish button. On publish emails should be sent.

### Actual behavior

Emails are not sent. Job fails with a stack trace error in `MISP/app/Model/Event.php, line 3106`

### Steps to reproduce

Unfortunately this is entirely random. It stands to reason that this happens for certain users that are missing a setting, but this has not been confir

[2022-08-08 09:42] marcnil815 commented on #8523
So apparently this does for some reason not return an array (null):
[code]

[2022-08-08 18:14] william-mack commented on #6790
I am still having this issue on Ubuntu 18.04.6

[2022-08-09 05:01] patricksaladino opened #8525 "Feature Request: DB schema update"
### Is your feature request related to a problem? Please describe.

Dear team. I've recently updated MISP to v.2.4.160 (commit 4c8e184a858203198aa7ae0be6677dd8ec076d1a). The update came with a database schema update (version 86 to 90). The diagnostic tool now reveals 400+ warnings in the actual DB schema, which should obviously be fixed.

### Describe the solution you'd like

An easier way to corr

[2022-08-09 06:59] iglocska commented on #8525
Don't worry too much about the output of the schema delta, something has indeed gone wrong on our side and the difference comes from it being generated on a different dialect of the db. Feel free to ignore the deltas for now!

[2022-08-09 08:03] patricksaladino commented on #8525
Thank you for your feedback. I'm closing the issue.

[2022-08-09 08:03] #8525 closed, assigned to nobody

[2022-08-09 08:08] iglocska commented on #8525
Thanks and sorry about the extremely confusing feedback in the diagnostics, we were just as puzzled when we first saw it!

[2022-08-09 14:19] chrisr3d commented on #8522
I fixed in 7da6f26 the `external_references` field parsing for attack pattern objects, which was here the breaking point.
Also there is a lot of duplicates, so this change includes a way to deduplicate the reference values (a simple `set` makes the job here), which was not the case before.

Nonetheless, I did not look at every detail within the STIX content to check everything, cause this is STIX

[2022-08-09 14:21] Rogueit commented on #8522
Thanks Chris, I really appreciate your time on this.

[2022-08-09 15:29] m4rb3n opened #8527 "Bug: Cannot Search value <ip>|<port> with rest api"
### Expected behavior

curl --location -g --request POST 'https://misp.local/attributes/restSearch/' \
--header 'Authorization: <API_KEY>' \
--header 'Content-Type: application/json' \
--data-raw '{
    "page": 0,
    "limit": 10,
    "from": "2022-08-09",
    "to": "2022-08-10",
    "type": "ip-dst|port",
    "value": "IP|PORT"
}'

should return values.

### Actual behavior

No values returned

#

[2022-08-09 15:53] github-germ opened #8528 "Support: New Correlations Engine first recorrelate failed"
### Support Questions

We installed 2.4.160 yesterday. After approx. 6 hours the job was seen as failed with WebUI Jobs. Prior to the failure we were seeing default feed ingestions failing with db deadlock (see sample excerpt from `error.log` below). Similar HTTP 500 were seen in some ron jobs custom PyMISP ingestion scripts.

1. How can we share more information with you to try to isolate root ca

[2022-08-10 01:27] #8511 closed, assigned to nobody

[2022-08-10 01:27] RobertTreb commented on #8511
done

[2022-08-10 13:07] github-germ commented on #8528
The second attempt via the WebUI click to build with the new engine failed this time
* after 18 hours
* with progress=2
* 2.6M `default_correlations` rows
* 950k `correlation_values` rows.

There were also feed db deadlocks seen along the way.

Approx scale of this MISP instance:
* 235k events
* 135M attributes (90k deleted=1)

We'd really appreciate some assistance in finding root cause.

In the

[2022-08-10 13:26] github-germ commented on #8528
Hmmm, I thought we could still enable the legacy correlation engine with 2.4.160; however, perhaps I'm missing the HOWTO or it isn't possible. Don't see it in the WebUI nor mentioned on https://github.com/MISP/MISP/blob/2.4/docs/correlations.rework.md

If not possible, we will need to go back to 2.4.159 which I imagine will cause us to restore the database form before the upgrade due to `db_versio

[2022-08-10 14:10] iglocska commented on #8528
It's not possible to enable the legacy one, though the issues would probably be the same there.

I've pushed some changes on the develop branch that could potentially help with the recorrelation, could you give that a shot and restart with that?

[2022-08-10 14:12] iglocska commented on #8528
In particular:

DefaultCorrelationBehavior->runBeforeSaveCorrelation()   <- this was causing issues for us too, on the develop branch it skips that step altogether and uses something much more lightweight.

[2022-08-10 14:46] cudeso opened #8531 "Bug: trying to access array offset on value of type null when using "Import from URL" in the MISP report feature"
### Expected behavior

Use the MISP report feature with "Import from URL", fetches the HTML and converts it to MD.

### Actual behavior

[code]

### Steps to reproduce

Create a MISP event, Reports, use "Import from URL".

### Version

2.4.160

### Operating System

Ubuntu

### Operating System version

20.04

### PHP version

7.4

### Browser

_No response_

### Browser version

_No response_

##

[2022-08-10 16:16] cudeso commented on #8531
Seems $triggerData['Attribute'] is not set?

If you return true before https://github.com/MISP/MISP/blob/2.4/app/Model/Module.php#L243 then the error is gone and it's again possible to use the "Import from URL". But this beats the purpose of  __prepareAndExectureForTrigger

[2022-08-10 17:07] cudeso commented on #8531
$triggerData is empty.
queryModuleServer(array $postData, $hover = false, $moduleFamily = 'Enrichment', $throwException = false, $triggerData=[])

Called in downloadMarkdownFromURL: $result = $this->Module->queryModuleServer($modulePayload, false);

[2022-08-10 17:56] pgabriel10 opened #8532 "Support - Exclude Events"
how can I exclude the events from the last 3 years ?

It's possible make this with this command in db  :
MariaDB [misp]> delete from events where from_unixtime(timestamp) < '2019-08-10';

[2022-08-10 20:03] github-germ commented on #8528
Thanks. I will build from `develop`, try again, and report back.

[2022-08-10 21:48] github-germ commented on #8528
I'm likely missing something. I built from `develop` and launched. I do not see a newly auto started `job_type: generate correlation` in the db `jobs` table; nor do I see the new Correlation WebUI menu to start it manujally.

How do I relaunch the new correlations engine to start building?

[2022-08-10 22:31] megupta opened #8533 "Bug: 2.4.160 requires an older db version"
### Expected behavior

Should require version 91

### Actual behavior

Requires version 90

### Steps to reproduce

1. Install 2.4.159
2. Upgrade that instance to 2.4.160
3. Visit diagnostics page and look at schema status
4. Compare expected vs actual columns, scroll to the bottom and compare expected vs actual db versions

### Version

2.4.160

### Operating System

Centos

### Operating System

[2022-08-11 07:21] iglocska commented on #8528
You should absolutely be able to see the new correlation UI under /servers/serverSettings/correlations - along with the button to relaunch the correlations.

[2022-08-11 07:22] iglocska commented on #8528
Also, indeed, switching to the other branch will not automatically relaunch the job, you will have to trigger it manually.

[2022-08-11 08:00] iglocska commented on #8532
That is definitely not a good idea. That will only delete the event elements from your database, not all the data it contains (attributes, objects, eventtags, attributetags, discussions, objectreferences, proposals, attachment files on disk, etc.)

You can search for a list of events with parameters such as timestamp, extract the IDs, loop through them and issue delete commands via a simple PyMISP

[2022-08-11 09:56] ftoppi opened #8535 "Bug: OidcAuth does not use proxy settings"
### Expected behavior

When opening https://misp/users/login , I expect to be redirected to the IdP for login.

### Actual behavior

When accessing https://misp/users/login, the page never loads and an timeout error appears in the log (see below).

A packet capture shows direct connections from MISP to the OIDC IdP instead of going through the proxy:
![image](https://user-images.githubusercontent.

[2022-08-11 11:20] sabyasachisamanta opened #8536 "Bug: MISP is not working properly after updating to 2.4.160"
### Expected behavior

Following are some the functionalities that are not working:
1. Server settings and maintenance
2. Jobs
3. Servers and Feeds sync activities
4. Workflows

### Actual behavior

I am getting an error message while trying to access the above mentioned functionalities:
**An Internal Error Has Occurred.**
Error: An Internal Error Has Occurred. Please try your action again. If the

[2022-08-11 12:01] iglocska commented on #8523
Interesting. It seems like there's a possibility of getUsersWithAccess() and fetchEvent() to disagree. I've pushed a speculative fix for this, it will skip the user that doesn't have access to the event rather than barfing on it and blocking the process.

Also, I've added some logging to capture which events and which users are causing this, you should have log entries in the future under the "Use

[2022-08-11 12:24] righel commented on #8527
Hello @m4rb3n ,
We just merged #8530 to the `develop` branch, and you that will allow you to search for composite attributes types using a search request like this one:
[code]

Hope this helps.

[2022-08-11 12:35] github-germ commented on #8528
Aha, the endpoint `/servers/serverSettings/correlations` works; however, the new `Correlations` top menu entry that was seen in the `v2.4.160` tagged branch is not there in `develop`.

OK... rebuilding with the new engine has commenced. I'll report back. Thx...

[2022-08-11 12:50] iglocska commented on #8528
I am puzzled why it's not there to be honest o.O I'm seeing it on the dev branch under administration -> server settings -> correlations. Let me know how it goes, we're prepping a bugfix release with the changes from develop (with some new things being added).

[2022-08-11 12:57] github-germ commented on #8528
OK, more coffee being order here. My bad... it's there. I was looking at the top level menus, not within Admin...

SORRY

[2022-08-11 12:59] iglocska commented on #8528
Ok, that makes sense :) Plenty of time for more coffee seeing how long the recorrelation takes sadly...

[2022-08-11 13:01] iglocska commented on #8531
Ended up with a different fix - the reason it's not set there seems to be because you fall inbetween two cases - the module is not enabled, thus no data is fetched.

Added a check for the module being enabled and we GTFO from the function if it's not immediately, no need to continue.

[2022-08-11 13:11] #8531 closed, assigned to nobody

[2022-08-11 15:38] pietrogu commented on #8207
Hi @deepak-eventtracker
Could you share details of how you realized this'

[2022-08-11 16:15] github-germ commented on #8528
@iglocska I see 2.4.161 was just released. Is the change you made herein included? So far, the rebuild is running. However, if your fix is in 2.4.161, I'd rather build that version and run the rebuild there. Thanks!

[2022-08-11 16:29] iglocska commented on #8528
Yep it is!

[2022-08-11 16:31] github-germ commented on #8528
**Super!!**

[2022-08-11 17:11] W4lker19 opened #8539 "Support: Error during MISP Install Apt is maybe locked, waiting 3 seconds."
### Support Questions

My MISP install stays stuck in this

I have pip instaled !!

### MISP version

2.4.151

### Operating System

Ubuntu

### Operating System version

22.04

### PHP version

7.4

### Browser

Firefox

### Browser version

_No response_

### Relevant log output

_No response_

### Extra attachments

![image](https://user-images.githubusercontent.com/62023102/184192770-cc6cacc2-

[2022-08-12 07:27] iglocska commented on #8528
Let me know how it goes! Also curious about metrics once the correlation is
done (especially space / memory use as well as general performance), since
you guys probably have the highest volume instance I know of.

On Thu, Aug 11, 2022 at 6:31 PM github-germ ***@***.***>
wrote:

[2022-08-12 12:51] github-germ commented on #8528
G'day... We are 12+ hours and still running successfully:
[code]

[2022-08-12 12:55] github-germ commented on #8528
One observation that may be related to the rebuilding process or something else in 2.4.161. Let me know if you have any thoughts on root cause.

We see more db deadlock conditions from a variety of our custom PyMISP client ingestion apps as well as MISP Built-In processes. In these cases, these aborted feeds, especially the premium ones cause issues for us. Once correlations rebuilding is complete

[2022-08-12 12:58] github-germ commented on #8528
btw, in `/etc/my.cnf` we have: `innodb_lock_wait_timeout = 900`

[2022-08-12 13:15] iglocska commented on #8528
The deadlocks are somewhat more "expected" - I remember you were already prone to those before with the concurrency. The recorrelation is crazy heavy on both writes and reads (though that was the case with the old engine too) - once the process is complete it will hopefully become a non-issue. How much is left percentage wise if you check the job itself?

[2022-08-12 13:16] iglocska commented on #8528
Though looking at the specific calls that cause the deadlocks I am not entirely sure it's related. I'd expect the correlation table to be heavily impacted, but removeTagFromObject should not even touch it...

[2022-08-12 13:32] github-germ commented on #8528
`progress: 2` which we know is not really predictable as to wall clock time remaining since that's 2% of total events, and for use we have some events with 1M attrs, others with 1.

[2022-08-12 13:36] github-germ commented on #8528
I do see calls seemingly related to correlations with `removeTagFromObject` as below.
[code]

[2022-08-12 13:37] github-germ commented on #8528
Same for a Built-In feed:
[code]

[2022-08-12 13:38] github-germ commented on #8528
And with `/events/edit/xxxxxx/metadata:1`
[code]

[2022-08-12 13:45] iglocska commented on #8528
Ha, I see! That's a nice catch!

It looks like the correlation is being updated for all correlations of an event when it's edited. This somewhat makes sense if the distribution was changed, but only in that case. However, currently it fires in every case!

[2022-08-12 13:49] github-germ commented on #8528
These use cases do not revise distribution/sharing_group. Would it make sense, and would it be difficult to add logic to bypass correlation processing when no change is made in distribution?

[2022-08-12 13:51] iglocska commented on #8528
No this is definitely a bug and I'd expect that behaviour. I'll push something to 2.4 within a few minutes, we absolutely shouldn't recorrelate in those cases.

[2022-08-12 14:07] #8528 closed, assigned to nobody

[2022-08-12 14:09] iglocska commented on #8528
ok hopefully this solves it, damn that was a nice find. Thanks for digging into the logs! Let me know if it persists with this change, basically it will only trigger that behaviour now if the distribution/sharing_group_id of the event changed.

[2022-08-12 14:39] zumzen commented on #6790
Hi,
I have the same issue on Ubuntu 20.04

[2022-08-12 16:21] github-germ commented on #8528
Cool!! I've included the revised `Event.php` in my Dev docker container. I will monitor, and report back.

[2022-08-12 20:56] iglocska commented on #8528
Cheers!

On Fri, 12 Aug 2022 at 18:21, github-germ ***@***.***> wrote:

[2022-08-12 21:05] github-germ commented on #8528
Still running: about 6M correlations spanning about 1M values so far.

[2022-08-13 01:13] github-germ commented on #8528
Will update over the weekend: Running 25 hours, 4% events processed, 7.1M correlations, 1.1 values

Many custom and built-in feeds will run overnight. Will see about db deadlocks with the revised `Event.php` in place.

[2022-08-13 13:25] github-germ commented on #8528
Progress:
* 37 hours, 5%, 17.6M correlations, 3.0M values
* No db deadlocks with many ingestion apps running last night !!

[2022-08-13 13:40] adulau commented on #8528
Thanks for the info. It looks good. I was just wondering something which kind of HDD do you run the MySQL/MariaDB back-end on?

[2022-08-13 15:37] iglocska commented on #8528
Hell yeah! So they fix took. Thanks again for investigating it!

[2022-08-13 23:10] github-germ commented on #8528
Great news! ... The rebuilding process completed with success as follows:
* 45 hours, 100%, 22M correlations, 3.0M values

[2022-08-14 13:06] iglocska commented on #8528
Cheers, fantastic news. Did you by any chance compare the disk space use before and after the switch to the new engine? Just out of curiosity 😎

[2022-08-15 04:01] Phatkone commented on #4422
I had to set the relayhost field in /etc/postfix/main.cf, I did that along with the above changes in email.php and it now works.
Hope that is of help to people.

[2022-08-15 09:46] marcnil815 commented on #8523
Thanks. I will pull and see if this pops up again.

[2022-08-15 13:04] github-germ commented on #8528
I didn't capture before, but could do on another test system when we roll there. What specifically would you like me to measure?

[2022-08-15 16:24] dsalazarCazanhas opened #8541 "Support: An error on the cheking of the checksum sha1"
### Support Questions

Hello I'm trying to install a Misp instance for testing purpose, I already installed two of them a couple of months ago and they worked fine, I used Ubuntu server 20.04 LTS. Now I tried on a Debian distribution 11 (Bullseye) and got the checksum error, try with ubuntu 20.04 and 22.04 and got the same error on both of them. I'm in a virtual environment using Proxmox, behind a

[2022-08-16 08:08] iglocska commented on #8528
Disk space used by the engine (so the correlations.ibd file's size) before compared to the new correlations table size after (default_correlations.ibd)

We're doing similar comparisons and the size differences vary wildly from instance to instance (depending on how over-correlated the data is), but it's really just more of a curiosity :)

[2022-08-16 15:21] guaar opened #8542 "Support: Service Unavailable - Fresh MISP Installation"
### Support Questions

I have just installed MISP on RedHat8.0 using the Install.sh script. After MISP installation finished, when I try to access to webpage. I am shown error Service Unavailable The server is temporarily unable to service your request due to maintenance downtime or capacity problems.

Looking at the misp_local_error.log file, I can see number of repeated errors "proxy_fcgi:error

[2022-08-17 14:17] Benni0 opened #8544 "Bug: Unable to open Settings after enabling workflows"
### Expected behavior

After enabling workflows, the workflow menu should be working and settings menu should still be working.

### Actual behavior

Internal Error
![grafik](https://user-images.githubusercontent.com/18324539/185155867-58671dfb-6647-446d-ab94-17ae9c451a7f.png)

### Steps to reproduce

Enable Workflows in Settings.

### Version

2.4.161

### Operating System

CentOS

### Operating

[2022-08-17 14:46] guaar opened #8546 "Where are installation log stored for MISP"
Our MISP installation has failed and we noticed that during install some packages were not installed. I would like to review the installation logs again.

Where are the installation or setup logs stored for misp? Thanks.

[2022-08-17 16:06] #8542 closed, assigned to nobody

[2022-08-18 08:02] Benni0 opened #8547 "Bug: Tag already added check not working on feed pull"
### Expected behavior

There is a check during feed pull, if the feed tag (if configured) is already added to the imported events. This check doesn't work, the result is ok, because the Tag will be added if the check fails, but the error is logged for each event.

### Actual behavior

The feed object only includes tag_id and not the tag name, so the evaluation of `$feed['Tag']['name']` in line 101

[2022-08-18 09:34] Benni0 opened #8549 "Bug: Error on Event import (fetchEvents)"
### Expected behavior

Events should be imported without errors and should be published when published = true in the MISP feed source events.

### Actual behavior

The import process throws errors because of not found user (the user indeed exists) and some events are not published.
It is interesting that some events are published correctly, but not all.

The user, which id is specified in the call

[2022-08-18 09:38] Benni0 commented on #8549
My idea for fixing this bug is, to set the `CurrentUserId` setting, using `Configure::write` before calling `Event->publish()` - but I don't know which function is the best to define the setting.

[2022-08-19 09:48] vincenzocaputo opened #8550 "Feature Request: Add send email action block to Workflow"
### Is your feature request related to a problem? Please describe.

This request is related to a use case that is not covered by the new Workflow feature.
the idea is to send an email notification to all, or specific users when a certain event occurs (for example when a specific tag is added to a MISP event).

### Describe the solution you'd like

Add a new action block to workflows that could all

[2022-08-19 10:18] obert01 opened #8551 "Bug: Event Block Rules don't seem to work anymore"
### Expected behavior

When pulling from a remote MISP instance, events containing tags listed in "Administration" -> "Event Block Rules" shoudn't be blocked( should not be created).

### Actual behavior

I regularly pull from https://misppriv.circl.lu.
In my Event Block Rules, I have:
[code]
Since MISP 2.4.160 or 2.4.161 (I don't know since I directly jumped from 2.4.159 to 2.4.161), events like

[2022-08-19 12:24] iglocska commented on #8551
Uh oh, that sounds bad. Will try to investigate this asap.

[2022-08-20 21:10] samitainio opened #8555 "Bug: Error on attribute deletion after updating to v2.4.161"
### Expected behavior

I can delete an attribute via the user interface.

### Actual behavior

The log file at `/var/www/MISP/app/tmp/logs/error.log` gets an error message and the attribute is not deleted from the event.

### Steps to reproduce

1. Create test event.
2. Add an attribute. I used domain.com
3. Try to delete the attribute via the UI.

### Version

Currently installed version… v2.4.16

[2022-08-21 15:55] github-germ commented on #8555
Not sure what your PyMISP is setting; however, I do see that the {{correlations}} table does not contain an {{object_id}} column with 2.4.161:
[code]

[2022-08-21 17:55] iglocska commented on #8555
Will have a look tomorrow - the correlations table is deprecated, so that's not the issue (`Correlation.` is an alias for the table of the correlation model, which will in most cases be the default_correlations table).

[2022-08-22 13:50] righel commented on #7588
Ensure background jobs are not using php-cli version +8, that can trigger this error.

[2022-08-22 13:50] #7588 closed, assigned to nobody

[2022-08-22 14:17] righel commented on #8551
Fixed via 5d4f73fcbbef577e39390cba0e38d7281de6cc4e

Thanks for reporting.

[2022-08-22 14:17] #8551 closed, assigned to iglocska

[2022-08-23 16:20] github-germ commented on #8305
@JakubOnderka With 2.4.161 I still get CSRF everytime I try to import the dashboard JSON attached above. Any ideas? Thanks..

[2022-08-23 16:27] github-germ commented on #5257
Revisiting... We still see lots of the `"A similar attribute already exists for this event.` being logged. Is there any hope of not logging these, perhaps as suggested [above](https://github.com/MISP/MISP/issues/5257#issuecomment-758927498)

[2022-08-23 16:53] github-germ commented on #7757
Checking back to see if anyone has a better solution other than the one I posted above almost a year ago. Thanks.

[2022-08-24 08:34] androssfox commented on #8555
Having the same issue, it fails to delete attributes from the Web UI (same 'Correlation.object_id' in 'field list' error as **samitainio**), however it works using API.

We are using v2.4.161 (https://github.com/MISP/MISP/commit/5d4f73fcbbef577e39390cba0e38d7281de6cc4e)

[2022-08-24 09:22] #8544 closed, assigned to nobody

[2022-08-24 11:36] #8547 closed, assigned to nobody

[2022-08-25 05:43] Benni0 commented on #8549
Hi @mokaddem,
thank you for merging my pull requests.
Can you please have a look on this issue?
This is the most problematic for me, because this prevents synced Events from being published.

[2022-08-25 09:04] mokaddem commented on #8550
Hey, currently work in progress but a new `send-email` module is available on the `develop` branch (https://github.com/MISP/MISP/commit/d22e4263648faf17ae4c220f48ba6856bfb5e6b8)
Feel free to try it out! ;)

[2022-08-25 18:25] dazed51 commented on #8451
Hello,

We are experiencing the same issue with our misp instance after the last release. Upon logging in, users getting the 500 error, but navigating within the rest of the app seems to be fine with errors.

I tried both methods of patching the application that was suggested.

Thanks

[2022-08-28 04:31] amady3381 opened #8556 "Admin password sent for new users during registration"
### Expected behavior

Random password shall be sent to the new users for completing the registration.

### Actual behavior

Admin  passwords has been sent to the new users during registration.

### Steps to reproduce

1- add new user to the platform
2- choose send credentials automatically
3- user will receive email to complete the registration.
4- The email will contain the email address as a us

[2022-08-28 08:52] cvandeplas commented on #8556
Thank you very much for this report. Can you confirm which browser (and version) you are using?

[2022-08-29 05:08] amady3381 commented on #8556
Firefox
version: 101.0 (64-bit)

Google Chrome:
version: 104.0.5112.102 (64-bit)

[2022-08-29 14:09] HugeekMcGill commented on #8555
Hi,

I have the same issue with 2.4.161

Looks like it's a migration issue. I passed from 159 to 161 and I have this error.

I deploy with a new setup and i have no issues.

Any updated ? I can provide information if needed.

[2022-08-29 16:07] samitainio commented on #8555
@iglocska let me know if you need additional information? Are there any updates or ideas for how we could circumvent this temporarily while we wait for a proper fix?

[2022-08-29 18:46] Kagee opened #8557 "Bug: Race condition in Model/Tag.php > captureTag"
### Expected behavior

If i run multiple threads using the MISP API to insert eventes and create tags, i expect no errors.

### Actual behavior

It is possible to trigger a race contition if you have multiple clients creating tags at the same time. Example while running 8 threads creating events at the same time.

Appears to be caused by the fact that the function captureTag is not safe for multip

[2022-08-30 08:05] de-caen opened #8558 "Bug: Problem with re-correlation feature"
### Expected behavior

The result of initial correlation and re-correlation are the same.

### Actual behavior

The result of initial correlation and re-correlation are different.

### Steps to reproduce

1. Add 3 or more events.
2. Add attributes with the same value for each events.
    Let these be attr_a, attr_b, attr_c.
    Correlation is automatically set as attr_a->attr_b, attr_a->attr_c, at

[2022-08-30 11:54] bcampru opened #8559 "Bug: Workflow Module_push_zmq not working"
### Expected behavior

This module should push the received data to zmq after extracting the value specified on the `data_extraction_path` attribute.

### Actual behavior

It's not working beacuse it's sending the data to the function `push_zmq` Json encoded when it shouldn't it should be `$this->push_zmq($extracted);` instead of $this->push_zmq(JsonTool::encode($extracted));`.

There is also an e

[2022-08-30 14:21] skalvaro opened #8561 "Bug: commit c932717 did not change db_version in db_schema.json"
### Expected behavior

No errors reported on diagnostics page when updating to v2.4.161 (c9327174b969edad2c4ddf276c1051b04438f918).

### Actual behavior

DB version warning and column delta entries on table `over_correlating_values` after update to v2.4.161 (c9327174b969edad2c4ddf276c1051b04438f918).

### Steps to reproduce

Update to v2.4.161 (c9327174b969edad2c4ddf276c1051b04438f918).

### Versi

[2022-08-30 16:54] ostefano commented on #8561
I am not sure the database version check fails because of those errors on that table. I am seeing the same issue on a fresh installation.

[2022-08-30 17:44] Kagee opened #8562 "Bug: Setting up a new MISP with zero events makes correlations divade by zero and create scary error messages"
### Expected behavior

Setting up a new MISP with no evetns should not create scary error messages in logs.

### Actual behavior

Correlation should fail gracefully if there are zero events.

### Steps to reproduce

When there are zero events ($eventCount = 0), this line vill return in division by zero.
https://github.com/MISP/MISP/blob/2.4/app/Model/Attribute.php#L1579

Then saveprogress will rec

[2022-08-31 05:10] amady3381 commented on #6526
The logs shows only the reverse proxy IP. To troubleshoot API connection, this is not helping.

Please provide the exact configuration needed to show the real IP address of the remote users.

[2022-08-31 05:17] amady3381 opened #8563 "MISP logs shows reverse proxy IP only"
### Support Questions

We have configured MISP with MISP.log_client_ip_header : REMOTE_ADDR

However all the logs shows only the reverse proxy IP. To troubleshoot API connection, this is not helping.

Please provide the exact configuration needed to show the real IP address of the remote users.

### MISP version

2.4.161

### Operating System

Ubuntu

### Operating System version

20.04

### PHP v

[2022-08-31 06:30] righel commented on #8561
Hello @skalvaro ,
Just pushed a commit (687a558c0d70d7d9d3bc1b03b2667b60e1179198) fixing this issue.
Thanks for reporting.

[2022-08-31 09:07] ostefano commented on #8561
@righel note that the proposed change does not address the fact that the expected schema expects a nullable field. See below:
<img width="1010" alt="Screenshot 2022-08-31 at 10 06 47" src="https://user-images.githubusercontent.com/979520/187642080-2a3fcd84-b3d9-4690-a32a-2deecf316d50.png">

[2022-08-31 09:20] righel commented on #8561
Hello @ostefano
The expected is to `over_correlating_values`.`value` to be not null, see: https://github.com/MISP/MISP/commit/c9327174b969edad2c4ddf276c1051b04438f918#diff-f5612e5237fac98d81298f75cf21487e0930c39f1ded9da2f44eaf520f6957fcR1860

Since your instance already run the update to db version 94

[2022-08-31 09:21] righel commented on #8561
Hello @ostefano ,
Just pushed another fix (47674a80511f058ea35fff0a423b62d69e7139f9) the default value and encoding were not correct.
Let me know if it shows no deltas now.

[2022-08-31 09:29] Kagee commented on #8563
MISP wull just use whatever your webserver puts in REMOTE_ADDR. This would i.e. be done with mod_remoteip in Apache2. Exact configuration depends on what headers your reverse proxy sends. https://httpd.apache.org/docs/2.4/mod/mod_remoteip.html

[2022-08-31 10:20] ostefano commented on #8562
@Kagee  quick fix:
[code]

[2022-08-31 11:14] ostefano commented on #8561
All good, no errors anymore (using mariadb 10.9.2)

[2022-08-31 11:19] #8561 closed, assigned to nobody

[2022-08-31 11:30] Kagee commented on #8562
Not sure about that, the whole job should be stoped/finished, since there is nothing to correlate.

[2022-08-31 17:28] github-germ commented on #8201
This is still occuring with built-in feeds in 2.4.161:
[code]

[2022-09-01 11:23] adulau commented on #8088
We now have a [workflow feature in MISP](https://www.misp-project.org/2022/08/08/MISP.2.4.160.released.html/) which allows such kind of behaviour. There is a detailed[video](https://www.youtube.com/watch?v=XSvUwwu1Ku0) about the feature. I'll close the issue but feel free to reopen it.

[2022-09-01 11:23] #8088 closed, assigned to nobody

[2022-09-01 11:35] adulau commented on #2067
Maybe an idea based on the [new workflow](https://www.misp-project.org/2022/08/08/MISP.2.4.160.released.html/), you could check on the [video blog](https://www.youtube.com/watch?v=XSvUwwu1Ku0) we did.

The workflow could look something like this:

![workflow](https://user-images.githubusercontent.com/3309/187904506-a59830e0-63c1-4386-b743-99fab467bd80.png)

We could extend for the next version wit

[2022-09-01 11:36] adulau commented on #2067
Concerning the enforcement of tags, there is also an older feature (still newer than the issue ;-) which is supporting the enforcement of tag at MISP instance level too.

[2022-09-01 11:37] adulau commented on #155
I suppose this was implemented some years ago. If not, feel free to reopen the issue.

[2022-09-01 11:37] #155 closed

[2022-09-01 11:45] adulau commented on #745
Workflow in version [2.4.160](https://www.misp-project.org/2022/08/08/MISP.2.4.160.released.html/) was implemented included some example of notification such as MatterMost via misp-modules or you can also make webhooks or send_mail. In the 2.4.162 will be also have some example with Microsoft Teams webhook.  Feel free to reopen if this doesn't solve your issue.

[2022-09-01 11:45] #745 closed

[2022-09-01 11:55] adulau commented on #6936
@ag-michael is it something solved? I'll close the issue but feel free to re-open if this is not the case. Thanks!

[2022-09-01 11:55] #6936 closed, assigned to nobody

[2022-09-01 11:56] #262 closed

[2022-09-01 13:29] Tubbs10 opened #8564 "Bug: ldapFilter in config.php is generated wrong when editing Security settings"
### Expected behavior

LDAP authentication won't stop working when someone edits security settings under 'Server Settings and Maintenance' page.

### Actual behavior

When editing security settings under 'Server Settings and Maintenance' page, it overwrites 'ApacheSecureAuth' block in config.php file and replaces ldapFilter and ldapEmailField array values by setting an additional comma after the v

[2022-09-01 18:08] Jpolo84 opened #8565 "Issues with the mattermost module"
Hi,

I´m trying to use the mattermost module of MISP, I have enable the module, but when I try to use it in the workflow screen, it appers disable:

![image](https://user-images.githubusercontent.com/9139256/187982982-f312da36-507a-40a1-83bd-ed9df130fbef.png)

![mispmattermost](https://user-images.githubusercontent.com/9139256/187982803-f7318752-8c6a-4353-8844-7db1b615781a.jpg)

Could you help me?

[2022-09-01 20:45] #8565 closed, assigned to nobody

[2022-09-01 20:47] Jpolo84 commented on #8565
Is just enable themodule

![image](https://user-images.githubusercontent.com/9139256/188009448-9f93c995-fdb1-4b37-b50e-f6029b71ff54.png)

[2022-09-02 08:39] #8564 closed, assigned to nobody

[2022-09-02 08:40] Tubbs10 commented on #8564
Got this working for some reason now. Probably the issue was in my end then.

[2022-09-02 16:36] ml58158 commented on #6790
This fixed the issue for me.

The issue is related to not being able to write to the /var folder and install venv.

Run this outside of the MISP setup.

sudo virtualenv -p python3 /var/www/MISP/venv

[2022-09-02 21:07] github-germ opened #8566 "How best to Export/Import MISP-A Event into MISP-B avoiding org_NNNN creation on B"
### Support Questions

...Looking for advice on this use case...

1. 3 MISP Instances with no network connection to each other, e.g.
   Dev, Test, Production.
2. Each run independently pulling in the same feeds separately.
3. Orgs are pretty similar on all 3 instances, but all have different
   id's and uuid's.
4. Same for Sharing Groups
5. At times, data is pulled into MISP-A and once vetted in D

[2022-09-03 13:58] midpipps opened #8567 "Cannot remove global attribute tag unless site admin v2.4.161"
### Expected behavior

If you own the even or have the correct permissions for an org owned event you should be able to remove the tag.

### Actual behavior

Edge case but if the first event in the system was created by another org.  You can no longer remove global tags due to the attribute controller removetag function pulling the first event in the system rather then the current event.

### Step

[2022-09-03 18:22] #8567 closed, assigned to nobody

[2022-09-03 18:24] iglocska commented on #8567
Thanks for digging into this, nice catch, it was my bad!

[2022-09-03 18:24] iglocska commented on #8567
Thanks for digging into this, nice catch, it was my bad!

[2022-09-03 18:45] midpipps commented on #8567
Thanks for fixing it and for helping get me started in looking for it.  You rock.

  I would have done a fix pull request but haven't been back near a computer.

[2022-09-06 23:54] UFOSmuggler commented on #8566
i wrote a thing (that i unfortunately cant share, done for work), which looks at the event for existing owner org, uses an administrative auth key to check for the existence of that org, and then for a sync user for that org, and then generates and caches a new auth key for that org.  then it inserts the event with that auth key, thus the owner is the original org.

if the org, sync user dont exis

[2022-09-07 07:06] de-caen commented on #8558
I checked the MySQL general log in above situation.
As a result, it was found that the following SQL query was executed.
1. TRUNCATE TABLE default_correlations;
2. INSERT INTO \`misp\`.\`default_correlations\` (\`value_id\`, \`1_event_id\`, \`1_object_id\`, \`1_attribute_id\`, \`1_org_id\`, \`1_distribution\`, \`1_event_distribution\`, \`1_object_distribution\`, \`1_sharing_group_id\`, \`1_event_s

[2022-09-07 07:47] adulau commented on #8558
Could you tell which version of MISP (`commit-id`) you are using?

[2022-09-07 08:18] de-caen commented on #8558
I use MISP v2.4.161 (`5be42812dd3913f91dd78a00d2a40ff653f6b942`).

[2022-09-07 19:16] github-germ commented on #8566
Thx. We are writing a daily housecleaning PyMISP cron job that will do something similar: Realign the org_NNNN and sg_NNNN to the non_NNNN selections in a memory image of the Event, add that revised Event back to MISP, delete the original Event, remove those org_NNNN, sg_NNN if possible.

The bigger unanswered question is there a better way in our use case to execute export/import without those NN

[2022-09-07 23:04] UFOSmuggler commented on #8566
you're just gonna have to overstamp the org/orgc uuids to whatever you want it to show up as on that misp, before you add it to the misp.  the sharing group should create on the misp once only though, assuming you overstamp the orgs there too.

[2022-09-07 23:30] github-germ commented on #8566
Yes, we can edit the exported JSON before importing. However, our use case is threat intelligence analysts only doing export /import with WebUI clicks without editing JSON.

So our hack is this nightly cron job to perform the realignment housecleaning.

[2022-09-08 03:18] UFOSmuggler commented on #8566
good idea:  create an org for all possible valid uuid4s with the same org name.  great victory.

actual good idea: create mysql triggers BEFORE INSERT and BEFORE UPDATE to change the org id and org uuid to whatever you want it to be:

[code]

something like that anyway, i forget the exact syntax.  also need one for the organisations table too, and SGs etc....

[2022-09-08 12:14] LumberJohn6 opened #8573 "Support: Help with command for Database"
### Support Questions

This should be a simple question, but I don't know enough about MySQL to solve it alone.
I'm having this issue with a mismatch in the database schema, and the wrench icon doesn't suggest a command.

![image](https://user-images.githubusercontent.com/90254449/189118449-9ecd899e-d730-4598-8b42-6f3dc822aec8.png)

I don't know if I should put the logs for this question, but from

[2022-09-09 14:43] #6166 closed, assigned to nobody

[2022-09-12 12:39] LumberJohn6 commented on #8573
I don't know if this helps, but here are the column diagnostics:

![image](https://user-images.githubusercontent.com/90254449/189655680-50ccd000-c364-41d1-875e-168371bb9940.png)

[2022-09-12 12:42] cudeso commented on #8555
@samitainio  had the same problem on 2.4.161
```2022-09-12 12:37:20 Error: [PDOException] SQLSTATE[42S22]: Column not found: 1054 Unknown column 'Correlation.object_id' in 'field list'```

Upgrading to **2.4.162** solved it for me.

[2022-09-12 13:35] cudeso commented on #8555
Actually the upgrade did **not** solve it. It worked on one attribute. But for one or the other reason, it occurred when deleting other attributes.

[2022-09-12 13:45] cudeso commented on #8555
Attempt 2.
- Running 'clean model cache' allows me to do "delete attributes" once,
- Re-opening the event and deleting attributes gives the above error
- Re-running 'clean model cache' then allows me one time to delete attributes

[2022-09-12 22:32] UFOSmuggler commented on #8573
firstly i'd like to note that these column diagnostics claim to be experimental and may highlight benign issues, so you may not need to take action, but i will answer anyway.

before undertaking any action i advise taking a backup first, or testing on a dev misp instance or something before touching a prod system.

two differences are visible for the ip column, what you have is not nullable and al

[2022-09-13 08:07] Benni0 commented on #8549
HI @mokaddem, Hi @adulau,
can please someone have a look at this issue?
This issue still exists in v2.4.162.

If you want I can create a pull request and implement a bugfix in `downloadFromFeedInitiator()` function, but I don't know, if this is the best place to set the userId.

`2022-09-13 08:01:07 Error: Could not add event '543b7c14-ec70-446e-b2f7-4620950d210b' from feed 1.
[InvalidArgumentExce

[2022-09-13 08:49] LumberJohn6 commented on #8573
Thank you very much for the help!

Yeah I don't know if it is an actual error, because it doesn't seem to affect anything, or at least there are no new errors on my logs.
But still I would like to try and have a stable, working version of MISP with no errors.

Unfortunately, the commands you recommended both give me this error on MySQL:
![image](https://user-images.githubusercontent.com/90254449/1

[2022-09-13 08:55] bane2021 opened #8581 "Bug: linotp enable bug"
### Expected behavior

when enabling and configuring linOTP in the security section, a prompt with an OTP is shown on the login page. a user should type in his email and password and an OTP in order to log in. MISP should check with the linOTP server and authenticate or deny the request.

### Actual behavior

MISP signs the user in regardless of whether the OTP is right or wrong or blank as long a

[2022-09-13 14:10] adulau commented on #7943
Following a training, @Wachizungu provided additional context about the difficulty to view large event with many objects added automatically.

[2022-09-13 22:08] UFOSmuggler commented on #8573
show us the output of `show create table logs`

[2022-09-14 06:59] LumberJohn6 commented on #8573
Here are the create table logs:
![image](https://user-images.githubusercontent.com/90254449/190083383-9ac6d2e9-e52a-4551-9893-5681ce5d2094.png)

[2022-09-14 07:35] UFOSmuggler commented on #8573
cheers, i imagine you have some nulls in there.  give this a bash to get rid of the nulls:
`update logs set ip = "" where ip is null;`
then
`alter table logs modify ip varchar(45) not null default "";`

[2022-09-14 12:38] Kerbenroast opened #8585 "Bug: Event-Publish workflow errors on version 2.4.162"
### Expected behavior

With the event-publish workflow enabled, when attempting to publish an event the workflow executes and the event is published

### Actual behavior

The workflows throws an error, the event is not published and the actions of the workflow are not executed.

I think I have narrowed down the issue to inside the getUserForWorkflow() in Workflow.php there's no return statement in

[2022-09-14 15:20] LumberJohn6 commented on #8573
Cheers, thank you for the help!

Well, the first command ran through a lot of time, but it finally finished I think.
To check that I used the command `show processlist;` to see the running process until that one was finished.
Unfortunately, the second command still gives me the same error...
Any ideas?

[2022-09-14 21:53] UFOSmuggler commented on #8573
hmmm, weird.  before my previous post i changed my schema to match yours and chucked a few nulls in the ip column to check if that caused the error you were getting, which it did, so i figured it was a fair assumption.

if it is still saying `ERROR 1265 (01000): Data truncated for column 'ip' at row 1` with emphasis on the "row 1", please show me what row one is:

`select * from logs limit 1;`

if

[2022-09-15 08:39] LumberJohn6 commented on #8573
Hello, once again thank you for the help.

Using the command with a vertical output, I have this on the first row:
![image](https://user-images.githubusercontent.com/90254449/190356718-a28c5c24-c40a-4bd7-9c03-511302cea003.png)

I found out that all the IPs on the logs table are null...
I don't know if this is a problem or if its supposed to be that way

[2022-09-15 17:14] github-germ commented on #8566
We've implemented a nightly cronjob to mitigate these cases. Thanks!

[2022-09-15 17:14] #8566 closed, assigned to nobody

[2022-09-16 05:53] UFOSmuggler commented on #8573
yeah, when we attempt to make that column "not null", it can't, because of all the nulls.  the command i gave you earlier, `update logs set ip = "" where ip is null;` tries to turn all the nulls into the default "" (empty varchar), so that the `alter table logs modify ip varchar(45) collate utf8_bin not null default "";` command can succeed.

i guess that the execution of the `update logs set ip =

[2022-09-16 10:02] danieleperera opened #8586 "Bug: Redis password reset disables "Server Settings & Maintenance" section"
### Expected behavior

## We would like to set Redis password.

The modification was performed on /etc/redis.config
`requirepass PASSWORD_HERE`

Then on MISP servers/serverSettings/MISP, the new password was configured
<html><body>

Critical | MISP.redis_password | ***** | The password on the redis server (if any) to be used for generic MISP tasks.
-- | -- | -- | --

</body>
</html>

Then we resta

[2022-09-16 10:50] aaronkaplan opened #8587 "Bug: Wrong database "wrench" diagnostics DEFAULT "NULL" NULL"
### Expected behavior

When clicking on the Diagnostics page and then on the database Schema status, you will see lots of wrench symbols with the recommendation on how to fix something in the schema.

However, the SQL statement there is wrong.

Example:
[code]

Should be:
[code]

Note the redundant `"NULL"`

### Actual behavior

Example:
[code]

### Steps to reproduce

upgrade to 2.4.162

### Vers

[2022-09-16 11:49] mokaddem commented on #8555
Interesting behavior observed by @cudeso.. Unfortunately, I could not reproduce it even on the provided commit id.
And cleaning the cache should have persistently solved the problem.
Is anyone experiencing this as well? Or does cleaning the cache solve (`/servers/serverSettings/diagnostics` -> `clear cache`) the issue (as it should).

[2022-09-16 15:20] github-germ commented on #8305
Results when retested with 2.4.162:
1. Still get CSRF when trying to import a dashboard JSON
2. Separate from that, still get CSRF when attempting Add Event in a separate browser window while the dashboard is open in another browser window.

[2022-09-16 17:53] cudeso commented on #8555
Hi @mokaddem ; I dived a bit deeper and have additional info. The environment where I did the tests is a setup that has a lot of "merged" events.
When deleting attributes from newly created events, there is no problem. Deleting works as expected. The error only occurs when deleting attributes in events which are merged. I can solve this for a "one time delete" by cleaning the cache, however after

[2022-09-18 08:09] samitainio commented on #8555
@iglocska @mokaddem @cudeso I am seeing this error also with the newly created events. It seems, like already discussed but just to confirm from my instance, that the clean model cache works for one time deletion and if I attempt to delete another attribute then the error comes back and I need to rerun the clean model cache to be able to delete another attribute. However my instance does also have

[2022-09-18 12:18] Malwar3Ninja commented on #8585
+1 Same issue

[2022-09-19 11:41] LumberJohn6 commented on #8573
Thank you so much. You were right, the command didn't finish.
I let it run through the weekend, and today I ran the second command, which fixed the problem.
Once again thank you for all the help and patience!

[2022-09-19 11:46] Shi-Lung opened #8588 "Support: Millions of 'publishing sightings' jobs after disk shortage"
### Support Questions

Hello,

MISP instance suffered from disk shortage yesterday - A couple of Redis errors poped up in logs, although disk never got fully used.

Disk was enlarged and Redis alerts went away. However, millions of prio jobs are now accumulating in the jobs queue, and the number keeps growing. Database is extremely busy, it even crashes from time to time and restart automatically.

[2022-09-19 11:59] TryingMyBestOnMISP opened #8589 "Support: Error 403 when accessing the web interface : Forbidden. You don't have permission to access this resource."
### Support Questions

Hi,

I'm having an issue accessing the MISP web interface after following the installation guide described here : https://misp.github.io/MISP/INSTALL.ubuntu2004/

The error : "**403 Forbidden.  You don't have permission to access this resource.**"

It was working fine until I've done these permission commands in the 5/ section of the guide :

_sudo chown -R misp:misp /var/ww

[2022-09-19 12:35] #8573 closed, assigned to nobody

[2022-09-19 17:04] Shi-Lung commented on #8588
Someone played with the API without notice and did some mistakes. All look OK now, sorry for the inconvenience.

[2022-09-19 17:04] #8588 closed, assigned to nobody

[2022-09-19 21:25] UFOSmuggler commented on #8573
you're welcome mate, have a good one

[2022-09-19 22:32] hkelley commented on #6526
I am seeing the same.   I set this option and now I don't have source IP in logs:
[code]

[2022-09-20 07:44] mokaddem commented on #8555
Most probably unrelated but I just fixed another issue preventing attribute hard deletion while being a user with the role `org_admin`.
Still can't reproduce the original problem though.

[2022-09-20 08:48] TryingMyBestOnMISP commented on #6185
Hi,
It is because you need to call the function itself in the script for example in the script :

[code]
See how I called the function by adding its name "yumInstallCoreDeps8" in the end of the script. Now the script will be exectued.

[2022-09-20 09:07] cudeso commented on #8555
@mokaddem what's the commit ID?

[2022-09-20 09:24] cudeso commented on #8555
@mokaddem For the events where I did not had the problem, the soft-delete works OK; however doing the hard-delete gives the error. The user is an `admin` (site admin).

[2022-09-20 09:45] #8589 closed, assigned to nobody

[2022-09-20 09:47] TryingMyBestOnMISP commented on #8589
I found why : I used the wrong web server user in the commands. I used misp instead of www-data.

[2022-09-20 12:08] mokaddem commented on #8555
I tried the commit provided by @samitainio https://github.com/MISP/MISP/commit/6460092dede7b3c58ffa38aaaca52b853afd6008
I didn't have the issues while using the `admin` role, that's why I tried to use the `org_admin` and noticed the other issue.

[2022-09-20 13:50] devnull- opened #8594 "Bug: Job publish event issue"
### Expected behavior

Events are published when you click on the button "Publish Event" or "Publish (no email)" via  the web interface.

### Actual behavior

Hello MISP dev team,

Events are not published when you click on the button "Publish Event" or "Publish (no email)" via  the web interface. After debugging the issue (no error logs were generated), I discovered that the `job` is correctly cr

[2022-09-20 14:01] trizzosk opened #8595 "Support: Getting Internal server error when Azure AD auth configured and MISP behind HTTP proxy"
### Support Questions

I followed the guide for enabling authentication using Azure AD. Azure AD registration is done, added user groups (as proposed created 3 groups -> user, org admins and site admins) as permitted for the enterprise application use in Azure AD, added plugin config + adjusted config.php.
My instance is sitting behind corporate proxy, configured as system ENV variable + added thi

[2022-09-20 17:54] github-germ commented on #8259
Still seeing this with 2.4.162. Any insight is appreciated to help find root cause. Thanks,

[2022-09-20 19:18] cudeso commented on #8555
The "merged" events had nothing to do with it. The problem lies with the hard-delete.

When printing out the SQL commands from `app/Lib/cakephp/lib/Cake/Model/Datasource/DboSource.php` (function execute):

1/ After clean cache. A hard delete without errors gives a bunch of errors, among with this one using the object_id. It sets Correlation to **default_correlations**.
[code]

The SQL commands aft

[2022-09-20 20:58] jaimeatwork opened #8598 "Support: OpenID Connect Not Working/Docs Incomplete"
### Support Questions

I have attempted to configure OpenID connect but cannot seem to get it to work.

I also had to enable Oidc auth in the bootstrap.php file by doing this

[code]

My configuration, redacted:

[code]

I consistently get the error `Error: invalid_client Description: The issuer of the request object is invalid.`. It does not appear any of the requests include the `iss` value in t

[2022-09-21 15:04] github-germ opened #8604 "Support: Intermittent fetchFeed stream_socket_enable_crypto ... ssl3_get_record:wrong version number"
### Support Questions

Would appreciate guidance on how to find root cause and fix for fetchFeed failing intermittently on several feeds endpoints with `stream_socket_enable_crypto` ...  `ssl3_get_record:wrong version number`

### MISP version

2.4.162

### Operating System

RH

### Operating System version

8.6

### PHP version

7.4.28

### Browser

N/A

### Browser version

_No response_

### Re

[2022-09-22 08:27] awallplace opened #8605 "Support:"
### Support Questions

Greetings sir, I would have a question for you, when we add feed in MISP, it does not update the feed, what is the reason for this? I want my feed to be updated continuously at certain intervals, is there a way to do this?

### MISP version

2.4.1

### Operating System

ubuntu

### Operating System version

21

### PHP version

IDK

### Browser

_No response_

### Browser ve

[2022-09-22 09:00] righel commented on #8605
Hi @awallplace
Best way to do this is to set up a cronjob in your MISP instance to run the `fetchFeed` command, to achieve that:
1. Edit `www-data` [crontab](https://man7.org/linux/man-pages/man5/crontab.5.html):
[code]
2. Add the following line at the bottom:
[code]
    * This way feeds will be fetched every day at midnight, if you want to change the frequency or times, check this website: https:

[2022-09-22 09:34] marcnil815 commented on #8523
Alright. The problem seems to be fixed. However, a new one has cropped up preventing the sending of email.

[code]

The changelogs of 162 mention this "Fixes a validation error - found unknown escape character". So I will update to see if this fixes the new issue.

Will close this now as it is fixed. Will open new one with the above if the upgrade does not take care of that.

[2022-09-22 09:37] 00gxd14g opened #8606 "Support: Unknown column 'NAN' in 'field list'"
### Support Questions

Although I activate the "feeds", no "job" or event occurs

### MISP version

2.4

### Operating System

Ubuntu

### Operating System version

20.04

### PHP version

7.4

### Browser

Chrome

### Browser version

_No response_

### Relevant log output

[code]

### Extra attachments

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-09-22 09:49] Kagee commented on #8606
Log message is because of #8562, and not related to described  issue.

[2022-09-22 09:52] #8527 closed, assigned to righel

[2022-09-22 09:52] #8192 closed, assigned to righel

[2022-09-22 09:52] #8064 closed, assigned to righel

[2022-09-22 10:00] awallplace commented on #8605
greetings again, yes we know this command, what I want is that the eventid should stay the same and be updated. I don't want it to create a new eventid. I want it to continuously pull current iocs into the eventid.

I have selected fix event as the target in the feed, but it creates a new event every time.

We ran your command again and it created a new eventid.

![resim](https://user-images.githu

[2022-09-22 10:02] righel commented on #8605
Have you tried setting the Target Event Id?
If the feed provider generates new UUIDs for each new event you have to set that value to an existing event in your instance.

[2022-09-22 10:16] awallplace commented on #8605
![resim](https://user-images.githubusercontent.com/43138278/191720923-367bff10-0a64-4c52-b68a-5371365f3cfe.png)
I press the save button and it looks like it saves but I see that the change is not saved and therefore it creates a new eventid, do I need to choose something special in the settings?

![resim](https://user-images.githubusercontent.com/43138278/191721433-d84341aa-2472-4be7-b96b-200b3fe4

[2022-09-22 10:22] marcnil815 commented on #8523
@iglocska wait...are you trying to log an action that does not exist, and hence the validation fails?
I supposed it shouldn't matter, but something fails nonetheless....ironically the very logging that should tell us something about what is happening cannot log because of the very same thing that is happening and throws an exception I guess? :)

I narrowed it down to a specific user, but I cannot

[2022-09-22 10:35] awallplace commented on #8605
![resim](https://user-images.githubusercontent.com/43138278/191725107-2a240a6d-8cd0-4ba8-9832-c5db8c6fbbc7.png)
I changed their places and I was able to get the result I wanted, I was very confused. I think there is a bug and their places have changed because now what I want is happening without any problems.

![resim](https://user-images.githubusercontent.com/43138278/191725321-1c99bd6a-7835-494d

[2022-09-22 10:36] awallplace commented on #8605
@righel

[2022-09-22 10:38] righel commented on #8605
@awallplace: Just checked and there was indeed a bug introduced recently, fixed it via af0aef7db7cbccf75945403bc0737b1cdfc6dede in `2.4` branch, pull the latest code and please try again.

Let me know if that fixed the issue.

[2022-09-22 10:38] 00gxd14g commented on #8606
Anders Einar (Kagee) @hildenae:matrix.org Thanks, problem solved.

[2022-09-22 13:39] righel commented on #8595
Hello @trizzosk
Could you please check this patch [#8610](https://github.com/MISP/MISP/pull/8610) to see if it solves your problem?

[2022-09-22 14:24] trizzosk commented on #8595
thx a lot @righel for advice. However, once I applied the patch, I am getting different error..... this time from Azure AD:

`AADSTS54005: OAuth2 Authorization code was already redeemed, please retry with a new valid......`

Adding full message - inside MISP logs (every time I fail I am switching back to local auth so I can get logs from app):

`POST request to url: https://login.microsoftonline.c

[2022-09-22 14:28] righel commented on #8595
Could you please enable the debug logs on your instance? There should be more detailed information there.
Go to `/servers/serverSettings`, `Security` tab set `debug` to `on`, then retry the login action and share the error logs.

[2022-09-22 15:48] trizzosk commented on #8595
Thx for @righel suggestion. seems that auth is somehow running, at least a little bit... but..... at the end I see another errors....

the `/var/www/MISP/app/Config/config.php` contains (except the other stuff) following config for AAD auth:

`'AadAuth' =>
    array (
      'client_id' => '__REDACTED__', // Client ID (see Azure AD)
      'ad_tenant' => '__REDACTED__', // Directory ID (see Azure AD

[2022-09-23 06:49] trizzosk commented on #8595
@righel Meanwhile - pls advice which logs or dumps you are asking for, i will paste it here (with sanitised sensitive data). Thx

[2022-09-23 07:00] righel commented on #8595
Could you set the `check_ad_groups` AadAuth setting to `false` and retry?
I see you are getting:
`2022-09-22 17:25:01 Warning: The user is not a member of any of the MISP AAD groups.`
Group names have to an exact match, check for case differences, special chars, etc.

You should be able to see debug logs in this file: `/var/www/MISP/app/tmp/logs/debug.log` after you switched your MISP debug settin

[2022-09-23 07:25] trizzosk commented on #8595
Ok - once I set the `check_ad_groups' to `false` I was able to login with account, which already existed in MISP. Once I used an account (Azure AD account) which does not exist in MISP instance, I am not able to login.

So there must be a glitch in handling assertion tickets with groups (group name format....parsing...).

[2022-09-23 07:41] trizzosk commented on #8595
As I posted above, naming convention for groups in our tenant require me to use ` - ` in name... I will try to create group without this char to double check it.

[2022-09-23 08:51] righel commented on #8595
`-` should be fine, just be sure the strings are a **exact** match.
as it is, this plugin does not enroll users on MISP if it exists in Azure AD. There's PR open for that https://github.com/MISP/MISP/pull/8501, I haven't had time to test it yet feel free to test it and add some feedback.

With the debug logs you should see the exact responeses you get from Azure and you can compare the group names

[2022-09-24 15:24] cvandeplas commented on #8556
I believe this should fix the issue. On some browsers your credentials might autocomplete and when not being cautious this could result in your password being sent.

[2022-09-24 15:24] #8556 closed, assigned to nobody

[2022-09-26 06:18] amady3381 commented on #6526
Thank you very much. With these configuration I can see the real IP addresses now.

[2022-09-26 08:32] JakubOnderka opened #8615 "Bug: Galaxies from CISA STIX 2 file are imported as tags"
### Expected behavior

Tags from imported CISA STIX file are galaxies.

### Actual behavior

Imported tags are normal tags.

![Snímek obrazovky 2022-09-26 v 10 30 46](https://user-images.githubusercontent.com/163343/192230154-07b14c4c-aeca-49cd-9518-6f0833b1c398.png)

### Steps to reproduce

Import [this](https://www.us-cert.gov/sites/default/files/AA22-257A.stix.xml) STIX 2 file

### Version

2.

[2022-09-26 11:11] #8562 closed, assigned to nobody

[2022-09-26 21:07] pburgisser opened #8616 "Support: Split frontend/background workers"
### Support Questions

Hi folks,

In a fork of the misp-docker from CoolAcid, I'm trying the split the workers from the frontend.
From version 2.4.151, using the SimpleBackgroundJobs configuration, would it possible to run the workers away from the rest of the frontend ?

I already tried but I'm getting PHP errors (see below)
Thanks for your help

### MISP version

2.4.161

### Operating System

U

[2022-09-26 21:33] pburgisser commented on #8616
I have the same issue when running both the frontend and the workers within the same container.

[2022-09-27 07:15] righel commented on #8587
fixed via https://github.com/MISP/MISP/pull/8618

thanks for reporting.

[2022-09-27 07:15] #8587 closed, assigned to righel

[2022-09-27 08:10] righel commented on #8616
Yes, it should be possible to move the workers to a backend.

The error you are getting is strange, could it be that you have installed  supervisor:^5.0 ? version 5 is for PHP 8, won't work on PHP 7.4. It should be `supervisorphp/supervisor:^4.0` (< 5.0)

Also, for using the SimpleBackgroundJobs check on the coolacid/docker-misp check this repo: https://github.com/coolacid/docker-misp/pull/184, @o

[2022-09-27 08:22] righel commented on #8563
also check similar thread: https://github.com/MISP/MISP/issues/6526#issuecomment-719349793

hope that helps.

[2022-09-27 08:22] #8563 closed, assigned to nobody

[2022-09-27 08:25] righel commented on #8546
Logs are not saved to a file, you should capture the terminal output/redirect Stdout to a file if you want to review them later again.
Keep in mind this output contains credentials in clear text.

Hope that helps.

[2022-09-27 08:25] #8546 closed, assigned to nobody

[2022-09-27 08:54] righel commented on #8549
thanks for the provided fix, merged.

[2022-09-27 08:54] #8549 closed, assigned to nobody

[2022-09-27 09:01] righel commented on #8516
thanks for the fix, https://github.com/MISP/MISP/pull/8552 was merged.

[2022-09-27 09:01] #8516 closed, assigned to nobody

[2022-09-27 09:19] righel commented on #8533
fixed via c764bb0e8f59d7f96f6730f01112e16fc0f3091c

[2022-09-27 09:19] #8533 closed, assigned to nobody

[2022-09-27 09:19] righel commented on #8536
should be fixed by now, update to latest version and leave a comment if you still encounter issues.

[2022-09-27 09:19] #8536 closed, assigned to nobody

[2022-09-27 12:11] pburgisser commented on #8616
The supervisor's version was the culprit, thanks !

Now, on the frontend, can list the workers, but it seems unhappy (see screenshot)
![image](https://user-images.githubusercontent.com/58422473/192522687-89840a76-62af-4880-bdfb-2d5c980a0427.png)
When I look at my worker container, I can see that all workers where started as www-data:
[code]
If I look at the object returned by Supervisor, there isn

[2022-09-27 12:38] righel commented on #8539
Could not reproduce.
I would suggest you check if there is any other `apt` process running before you run the install.
Check:
[code]

If so, you can kill these processes and try again.
[code]

Hope this helps.

[2022-09-27 12:38] #8539 closed, assigned to nobody

[2022-09-27 12:41] righel commented on #8503
Thanks for reporting, fixed via af0aef7db7cbccf75945403bc0737b1cdfc6dede

[2022-09-27 12:41] #8503 closed, assigned to nobody

[2022-09-27 12:55] righel commented on #8616
The user of the worker processes comes from here: https://github.com/MISP/MISP/blob/2.4/app/Lib/Tools/BackgroundJobsTool.php#L720

Could you check/debug what is that function returning?

[2022-09-27 13:06] righel commented on #8541
Hello,
Current installer checksums are correct, I cannot determine whether your proxy is modifying the contents of the files or not.
As a sidenote, MISP won't work with PHP 8.

Hope this helps.

[2022-09-27 13:06] #8541 closed, assigned to nobody

[2022-09-27 13:06] pburgisser commented on #8616
If I look at the code you gave, I think it will never work as it's trying to gather information from the worker's process on the same host whereas my worker is working somewhere else. What do you think ?

[2022-09-27 13:11] righel commented on #8507
thanks for reporting, fixed via baad056b241ed794beb5215df67b5d7244312049

[2022-09-27 13:11] #8507 closed, assigned to nobody

[2022-09-27 13:15] righel commented on #8616
You are correct, the PID will not exist or will not match the correct process, the code should be refactored to properly diagnose workers running in a different host.

[2022-09-27 13:16] pburgisser commented on #8616
I was correct:
[code]
For this "hacked" code:
[code]

[2022-09-27 13:26] samitainio commented on #8555
@iglocska @cudeso @mokaddem Just a quick update from this end. I've now updated to the latest release version v2.4.163 (16bcf9fcdcf6d2c800060a81c0b84fbaa5824feb). Issue is still relevant and the symptoms are the same.

[2022-09-27 15:44] dazed51 opened #8620 "Bug: Error: [MissingTableException] Table default_correlations for model Correlation was not found in datasource default. Exception Attributes: array ("
### Expected behavior

I am able to navigate to our dev landing page with no issues or errors, as with case two release cycles ago.

### Actual behavior

Our prod instance of instance is throwing an internal server erorr msg while, dev doesnt. Prod instance also is showing stack trace errors, while dev does not.

#8 /var/www/MISP/app/Model/Event.php(645): Correlation->getRelatedEventIds()
#9 /var/

[2022-09-28 08:39] adulau opened #8621 "Feature Request: Adding templating to event report"
The ability to have a set of pre-defined Markdown templates to select from when creating MISP event report.

[2022-09-28 08:43] #8126 closed, assigned to nobody

[2022-09-28 08:46] iglocska commented on #8615
Galaxies are always imported as tags, misp merely checks whether a tag can be linked to an existing galaxy cluster or not based on the tag name. This can be an indication of two things:

1. tag names are incorrect coming from the export
2. Galaxies matching the name are not loaded.

could you double check if the referenced Galaxy clusters exist in your instance?

[2022-09-28 09:14] djha983 commented on #7868
I am facing same issue in MISP V 2.4.163.
MISP.tmpdir is set to "/var/www/MISP/app/tmp"

Any idea what can be issue?

[2022-09-28 10:57] awallplace opened #8622 "Support:"
### Support Questions

Greetings sir, I would have a question for you, I want to use virustotali to test the accuracy of the feeds I add in MISP, I want to automatically add every ioc with a score of 1 and above, is there a method for this?  If there is no such method, how can I do it?

thx <3

### MISP version

2.4.162

### Operating System

ubuntu

### Operating System version

22

### PHP versi

[2022-09-28 12:25] righel commented on #8485
Could you try running:
`pip install --upgrade pip`

And run the install again?

[2022-09-28 12:30] zeroq commented on #8620
going to "Server Settings & Maintance" -> "Diagnostics" and clicking "Clean Cache" solved that error for me. Looks like the old database model is cached and after upgrade of MISP this is still the old model in the cache.

[2022-09-28 13:29] dazed51 commented on #8620
Great, thanks for the help. That worked. Closing ticket.

[2022-09-28 13:29] #8620 closed, assigned to nobody

[2022-09-28 22:17] dlewen commented on #8585
+1 Same issue, I've solved it locally by moving the return to the end of the getUserForWorkflow function

[2022-09-29 09:12] danyshrider opened #8626 "Support: How do I reset/reinstall/remove MISP"
### Support Questions

I downloaded MISP using the following link and only did the first step.
https://misp.github.io/MISP/INSTALL.ubuntu2004/

It was successful at first. After I used it for a while, I received a CSRF Bug where I can't login into the MISP.

So I decides to uninstall MISP but there are no official way to uninstall it. But an article told me to remove the machine.
So I `sudo rm -r

[2022-09-29 14:31] vincenzocaputo opened #8628 "Bug: Search for values in Related Events gives Not Found"
### Expected behavior

The page should display the list of events containing the searched attribute.

### Actual behavior

Not Found (The requested URL was not found on this server) error is returned.

### Steps to reproduce

- Create a new event
- Add an attribute to the event
- Click on "Search for value", in the "Related Events" column.

It seems that the error occurs only when the attribute va

[2022-09-29 15:52] djha983 opened #8629 "Bug: Populate from CSV not working"
### Expected behavior

Hello Team,

I am trying to import IOC from csv file by clicking on populate from csv option.it allows me to select the csv file and shows the extracted IOC,but on clicking on submit it says submitted for background processing.However when i go to administration->Jobs page ,it shows failed.by clicking on error it shows below error.However when i login to the server and i can

[2022-09-29 15:58] djha983 opened #8630 "Bug: CIRCL OSINT Feed sync creates new Event every time"
### Expected behavior

I have enabled CIRCL OSINT Feed to pull the feed daily.However i expect it to create one event and insert IOC to same event everytime.

### Actual behavior

I have enabled CIRCL OSINT Feed to pull the feed daily.However i expect it to create one event and insert IOC to same event everytime.However it is creating new event every time.How can i configure it to insert IOC to sa

[2022-09-29 18:06] hack2802 commented on #7143
Hello. Please I have the same issue. In my case i set the redis passwaord from the redis-cli command line. I set the same password in the /var/www/MISP/app/Plugin/CakeResque/Config/config.php file using single cote like 'mypassword'. But the error page is still there. Can some one help please.
![image](https://user-images.githubusercontent.com/77747905/193109545-2fc0b986-000a-4335-9e7b-68c3ca1daf4

[2022-09-29 21:34] adulau commented on #8630
The CIRCL OSINT feed is in MISP format. You should have by default unique MISP event. There is no need of fixed event in such case.

[2022-09-30 10:20] JoePJisc commented on #8482
Any advice on this would be appreciated - I've check phpinfo() and it reports redis as the selected handler:

[code]

[2022-09-30 10:29] JoePJisc commented on #8482
Running phpinfo() on a page in the MISP webroot, though I get:

<html>
<body>

session.save_handler | files | redis
-- | -- | --
session.save_path | /var/opt/remi/php74/lib/php/session | tcp://127.0.0.1:6379

</body>
</html>

Yet it lists the same config file as the above did running from CLI

[2022-09-30 10:37] JoePJisc commented on #8482
Problem found!

These lines in this file: `/etc/httpd/conf.d/php74-php.conf`

[code]

Commenting these out and restarting httpd has fixed the issue and MISP now reports php_redis sessions

[2022-09-30 10:37] #8482 closed, assigned to nobody

[2022-09-30 10:58] JoePJisc commented on #8221
Any news on this, I occasionally hit this too, just had to restart httpd service to clear 64G of temp files after MISP started behaving strangely due to out of disk space errors, the oldest file in `/tmp/systemd-private-...-httpd.service-.../tmp/` hadn't been modified for a month.

[2022-09-30 19:47] github-germ opened #8633 "Bug: Revisiting MysqlExtended DboSource to support index query hints"
### Expected behavior

Fast WebUI `Search Attributes` queries.

### Actual behavior

Slow: 5-6 minutes, when it should be 1-2 seconds.

### Steps to reproduce

Perform a search query on 1.6k IPs.

@righel I'm sure you recall https://github.com/MISP/MISP/pull/8390 and https://github.com/MISP/MISP/issues/3321 where in 2.4.159 you added `MysqlExtended` index query hinting to greatly improve the perfo

[2022-10-02 00:10] juju4 commented on #6904
sorry, missed above comment.

For me, on Ubuntu 22.04, install fails at composer components install
https://github.com/juju4/ansible-MISP/actions/runs/3165325387/jobs/5154264566#step:9:4554.

[2022-10-03 06:31] pettai commented on #8621
To my understanding, the Event Report should be something more "human readable" / presentable.

If I use "Generate Report from Event", it will only add the actual data/metadata into the generated report.
To help reporter-writers on the way, it would be of help if a standard template could be included with some predefined headlines and possible standard text, boilerplate etc.

Examples of template-

[2022-10-03 20:19] R1SK72 opened #8635 "Support: Need Help GUI - Error: An Internal Error Has Occurred - Novice User"
### Support Questions

Hi Folks,  i hope you can help.

At the moment the GUI displays :
**_An Internal Error Has Occurred.
Error: An Internal Error Has Occurred._**

/var/www/MISP/app/tmp/logs/error.log is attached

I cant get logged into the system to administer it via the gui .   Sorry for lack of information , please let me know what i can provide to help identify the issue.
![Pic1](https://us

[2022-10-04 06:22] djha983 commented on #8630
Ok,so that is expected behavior.Thanks

[2022-10-04 06:22] #8630 closed, assigned to nobody

[2022-10-04 11:13] pettai commented on #1623
this issue should be closed, the above suggestion (https://github.com/MISP/MISP/issues/1623#issuecomment-255542586) works well

[2022-10-04 11:52] skalvaro commented on #8555
Seem to encounter the same on  v2.4.161 (47674a80511f058ea35fff0a423b62d69e7139f9) when trying to delete attributes or accept/delete proposals.
Is there any work-around known or should we upgrade to v2.4.163 (16bcf9fcdcf6d2c800060a81c0b84fbaa5824feb)?

[2022-10-04 12:25] righel commented on #8635
Hello @R1SK72
Seems your MISP instance cannot connect to your MySQL server:
`SQLSTATE[HY000] [2002] Connection refused`

Check:
1. MySQL is running:
[code]
2. Check your database settings are correct, specially the host and port values in the database config file: `/var/www/MISP/app/Config/database.php`

Hope this helps.

[2022-10-04 12:41] pettai opened #8636 "Bug: Newly created users with "External auth key" set should not be forced to change password on first login (via CustomAuth)"
### Expected behavior

Summary:
Then a new user with "External Auth Key" configured is created, "User must change Password" should be disabled by default.

Background:
New fresh MISP installation + CustomAuth configured (and Apache + OpenIDC as reverse proxy infront of MISP)
Then new users are created with external authentication ("External Auth Key" configured, MISP should be passwordless for the

[2022-10-04 13:23] righel commented on #8633
Hi,
I has to be related to the data composition and heuristics of your prod database.

Regarding 3, are you comparing the same database but different codebase?

I think it's safe to change the hint to be `FORCE` instead of `USE` so we ensure the db engine does not discard it.

[2022-10-04 13:53] github-germ commented on #8633
Hey @righel ... Thanks a lot for your quick reply and insight.

Heuristics makes sense. Re' 3, the db content on both is not the same, but iis being feed by similar automation.

Are you cool with making the change to go with `FORCE`?

[2022-10-04 13:57] righel commented on #8633
This index hint hack was introduced for solving this particular issue and it's not currently used elsewhere, so makes sense to move it to `FORCE` in my opinion.

[2022-10-04 15:15] github-germ commented on #8633
EXCELLENT. Many thanks!

[2022-10-04 15:15] #8633 closed, assigned to righel

[2022-10-04 23:23] komaromibandi opened #8639 "Bug: ansible installer not reach the other host with ssh"
### Expected behavior

The installing was successfull

### Actual behavior

The installer has a fatal error.
![image](https://user-images.githubusercontent.com/78871051/193945729-b26267eb-fb59-4a01-b46c-b1710b64acd3.png)

### Steps to reproduce

I have two ubuntu instances on VMware , I can ssh between them, even as root.
![image](https://user-images.githubusercontent.com/78871051/193945990-939b9b

[2022-10-05 08:57] ryukisec commented on #8586
You'll need to set the redis password also in `MISP/app/Plugin/CakeResque/Config/config.php` and/or for the `SimpleBackgroundJobs` [(depending on how you handle background jobs)](https://github.com/MISP/MISP/blob/4cf2156f2fbaafcbc629755d655edc56e81369ec/docs/background-jobs-migration-guide.md).

[2022-10-05 13:55] emmekappa86 opened #8642 "Bug: Error using the APIs without logging in at least once"
### Expected behavior

Hi all,

I have been working on automating the use of MISP via APIs and I am currently deplyoing my environment using docker containers (leveraging the https://github.com/MISP/misp-docker). My "automation routine" foresees the execution of the following commands:

1) "/var/www/MISP/app/Console/cake userInit $username" to get the authentication key right away
2) "/var/www/MIS

[2022-10-05 20:36] pettai commented on #8636
@righel thanks for looking into this.
I think it's a bad idea to require password-change for users then login via external auth in general.
(I see your linked chg removes password-change, but only then custom_auth is a requirement)

[2022-10-06 03:02] carlokohan commented on #7794
Would like to know if anyone was able to fix this issue? I am also encountering this error

[2022-10-06 03:55] 00gxd14g opened #8643 "Error: Error: Could not get results from framing cmd when exporting STIX file."
### Support Questions

 Error: Error: Could not get results from framing cmd when exporting STIX file.

Error: Could not get results from framing cmd when exporting STIX file.
#0 /var/www/MISP/app/Lib/Export/StixExport.php(106): StixExport->getFraming()
#1 /var/www/MISP/app/Model/Event.php(7016): StixExport->footer()
#2 /var/www/MISP/app/Console/Command/EventShell.php(223): Event->restSearch()
#3

[2022-10-06 08:09] #8605 closed, assigned to righel

[2022-10-06 08:57] righel commented on #8636
Hello @pettai
If you decide to still allow regular password logins (`CustomAuth_required` set to `false`) I believe we should not lower MISP default security measures.

As an admin you can edit users and override the change password requirement right after you create them:
![image](https://user-images.githubusercontent.com/1659902/194268424-db297549-e03d-4f79-8d7b-3fd509198b4c.png)

Hope this help

[2022-10-06 08:57] #8636 closed, assigned to righel

[2022-10-06 11:42] JERAR1337 opened #8644 "An Internal Error Has Occurred. Error: An Internal Error Has Occurred. Please try your action again. If the problem persists, please contact administrator."
Today I followed instructions on https://misp.github.io/MISP/UPDATE/ to update my MISP server from 2.4.143 to the latest version 2.4.163 (current).

1. cd /var/www/MISP
2. sudo -u apache git pull origin 2.4
3. sudo -u apache git submodule update --init --recursive

Everything went smooth until I wanted to test out the server (webGUI)

I get an error (see title) when I go to the webGUI.

I looked i

[2022-10-06 12:24] JERAR1337 commented on #8644
**Update:**

I found the following error in /var/www/MISP/app/tmp/logs/error.log

**Error: [InvalidArgumentException] Invalid background job queue , must be one of: [default, email, cache, prio, update, scheduler]**
Request URL: /users/routeafterlogin
Stack Trace:
#0 /var/www/MISP/app/Lib/Tools/BackgroundJobsTool.php(320): BackgroundJobsTool->validateQueue('')
#1 /var/www/MISP/app/Model/Server.php

[2022-10-06 13:42] righel commented on #8644
Hello @JERAR1337
By any chance have you updated your PHP version ?

Could you please check if this solves your issue?
https://github.com/MISP/MISP/issues/1204#issuecomment-871360030

Hope this helps.

[2022-10-06 13:42] emmekappa86 commented on #8642
Solved by using the following command before using the APIs:

"runuser -u www-data -- /var/www/MISP/app/Console/cake Admin runUpdates"

[2022-10-06 13:43] #8642 closed, assigned to nobody

[2022-10-06 14:16] skalvaro opened #8645 "Support: Sync user unable to save sharing group"
### Support Questions

We get errors on sync from external instances stating that a sharing group could not be saved. The user is a 'Sync user' and belongs to our organisation.

The errors are in the form of
Tried to save a sharing group with UUID '<uuid>' but the user does not belong to it.
and
Failed to pull event #<uuid>. Reason: Event could not be saved: User not authorised to create the assoc

[2022-10-06 19:01] syloktools commented on #8644
Same issue here:
[code]

[2022-10-06 19:09] syloktools commented on #8644
Fix it. Upgrading these older instances that had the background jobs migrated to supervisor made something break. Honestly not sure what. But to fix I did the following:

[code]
[code]
[code]
[code]

Hope this helps someone else. I think this happened because I updated CakeResque and its dependencies as well after converting to background jobs.

[2022-10-06 22:25] JERAR1337 commented on #8644
Hi,

Thank you for the fast reply.

I did not update anything separate, just followed the instructions mentioned on the[ official update page](https://misp.github.io/MISP/UPDATE/) . (Option 1)

- cv /var/www/MISP
- sudo -u apache git pull origin 2.4
- sudo -u apache submodule update --init --recursive

Will let you know tomorrow.

[2022-10-07 19:55] github-germ commented on #8633
@righel I know you don't like to advertise ETAs for the next release date. We only deploy your "official" releases to our Production system. Would be a great help if 2.4.164 was released in the next week or so to match up with our next deployment. If not, then I will work a patch for this for 2.4.163. Any insight appreciated!

[2022-10-09 08:43] JERAR1337 commented on #8644
Hey [righel](https://github.com/righel),

No, I did not update my PHP version. My MISP instance was working fine until I update to the latest version.

[2022-10-10 09:03] waldeckerthefirst commented on #6682
Hello, same issue here
![module](https://user-images.githubusercontent.com/90552473/194831754-ac2531d0-2953-4c42-95d4-260103233c65.PNG)

[2022-10-10 09:17] adulau commented on #6682
I'm a bit confused with the current state of the Cortex API as mentioned there https://github.com/TheHive-Project/Cortex/issues/343 @jeromeleonard do you know if the API change in the past release? Thank you very much.

[2022-10-10 09:48] skalvaro commented on #8112
Config option present since commit eb7a1301bb6e9938a36986a0b4660587feff76b7.

[2022-10-10 09:48] #8112 closed, assigned to nobody

[2022-10-10 10:05] waldeckerthefirst commented on #6682
i fixed it changed port to 6666 and now it works
![moduleworking](https://user-images.githubusercontent.com/90552473/194842371-496755bc-31fd-4a8e-a8d4-e50574c30676.PNG)

[2022-10-10 10:06] waldeckerthefirst commented on #6682
![cortex6666](https://user-images.githubusercontent.com/90552473/194842516-d2eec365-923d-40e7-b4ea-3f12342d0ec5.PNG)

[2022-10-10 11:56] skalvaro opened #8650 "Update submodule reference for misp-workflow-blueprints to latest commit"
### Expected behavior

When updating MISP and its submodule we get the latest of the submodules.

### Actual behavior

Submodule misp-workflow-blueprints is not the latest and as such doesn't include the blueprints added with commit https://github.com/MISP/misp-workflow-blueprints/commit/3f22a11be2545e808b734787246739dcd69f7eb5.

### Steps to reproduce

Update MISP and its submodules.

### Version

[2022-10-10 16:23] remydewa opened #8652 "Bug: Upload Stix2.1 file, vulnerabilites are not displayes in the misp event"
### Expected behavior

Hello,

I have a Stix 2.1 JSON file which contains indicator and vulnerabilities (see attached example). When I upload it from the web UI, it doesn't create vulnerabilities object/atribute. Vulnerabilities should be displayed in the created MISP event.

### Actual behavior

I have a Stix 2.1 JSON file which contains indicator and vulnerabilities (see attached example). When

[2022-10-10 19:42] github-germ commented on #8305
This issue persists with 2.4.164.

[2022-10-10 21:22] #8644 closed, assigned to nobody

[2022-10-10 22:37] alexmols opened #8655 "Support: GUI An Internal Error Has Occurred disable Server Settings & Maintenance"
### Support Questions

Hi Support folks, I hope you can help.
when selecting the GUI Server Settings & Maintenance option I get the following error message
An Internal Error Has Occurred.
Error: An Internal Error Has Occurred. Please try your action again. If the problem persists, please contact administrator.

### MISP version

2.4.162

### Operating System

debian

### Operating System version

[2022-10-11 06:34] syloktools opened #8657 "Feature Request: Add option to add a local tag via workflow Tag operation module"
### Is your feature request related to a problem? Please describe.

During workflows there are times when you want to add a tag set to local instead of global.

### Describe the solution you'd like

Add a check box to the Tag operation (add tag) module to make the tag added Local.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

### Code of Conduc

[2022-10-11 06:40] syloktools opened #8658 "Feature Request: Primary intelligence requirements (PIR) tracking"
### Is your feature request related to a problem? Please describe.

I have yet to find a threat intelligence tool that tracks or takes into account your PIRs. It would be good to be able to set your PIRs in your main MISP instance and track events that meet the collection requirements of a certain PIR.

### Describe the solution you'd like

This would require a separate view where you list your PI

[2022-10-11 07:09] Cooper-Dale commented on #4352
connected problem with NIDS SID numbering issue is when a snort rule contains sid: in non-numeric format, like `sid:YOUR_SID`, then generator **add**, not substract the final sid, so we have double sid `classtype:trojan-activity; sid:YOUR_SID; rev:1; sid:25778631;reference:url,https://misp`

[2022-10-11 08:26] Tahantos opened #8660 "Bug: Attribute restSearch with excluding decayed attributes is abnormally slow"
### Expected behavior

Using restSearch to export attributes while excluding decayed attributes should not take multiple times longer than exporting all attributes.

### Actual behavior

When using restSearch with the following options:

`
{
    "returnFormat": "text",
    "page": "1",
    "limit": "250000",
    "type": "url"
}
`

The request duration is: 63692.06 ms

After adding the option "excl

[2022-10-11 09:50] vincenzocaputo commented on #8586
After setting the redis password, the workers cannot be restarted. Below the logs I see in `resque-worker-error.log`:
[code]

[2022-10-11 13:11] github-germ commented on #5257
Hi @iglocska ... We still see these in 2.4.164 (we check after each MISP release =8^). Should we just forget about this being changed? Thx...

[2022-10-13 11:21] 3c7 opened #8666 "Feature Request: Better management of changes to events"
### Is your feature request related to a problem? Please describe.

Sometimes people make mistakes during an update of events and if changes include a lot of data, it's quite frustrating to clean up an event.

### Describe the solution you'd like

It would be great to restore the event to the last published state. Via a change log which is kept for locally created/altered events only, it would be

[2022-10-13 15:15] Aledangelo opened #8667 "Support: Is it possible to add plugins in the MISP platform?"
### Support Questions

In the project directory there is a folder called “Plugin”, is it possible to add functionality to the MISP by creating custom plugins?

### MISP version

2.4.15

### Operating System

Linux

### Operating System version

20.4

### PHP version

7.4.30

### Browser

Firefox

### Browser version

_No response_

### Relevant log output

_No response_

### Extra attachments

_No

[2022-10-13 17:10] cudeso commented on #8555
Initial tests with the upgrade to v2.4.164 indicate the problem seemed to be solved.

@samitainio are you able to upgrade and verify?

[2022-10-13 18:50] samitainio commented on #8555
@cudeso upgraded & verified: it seems to work now. I don't know what was changed but I don't see errors at this time.

[2022-10-14 11:44] samitainio commented on #8555
@androssfox @HugeekMcGill @skalvaro could you also comment if this issue is resolved for your instances with the latest MISP release v2.4.164? If it is working after the update I will then proceed to close this issue.

[2022-10-14 12:31] samitainio commented on #8667
@Aledangelo I'm not exactly sure what you have in mind but I recommend taking a look at the MISP modules first there are quite a lot of different modules available and you can also create your own. I don't know what is the history for the plugin folder maybe the devs can elaborate on that.

More details here https://github.com/MISP/misp-modules

[2022-10-14 12:37] devnull- commented on #8594
Dear MISP dev team,

I found the issue. Its was related to a issue/error on my side regarding https://github.com/MISP/MISP/blob/2.4/app/Lib/Tools/BackgroundJobs/BackgroundJob.php#L77  Indeed, `proc_open` command field can be a `array` since PHP 7.4.

Sorry for the inconvenience and have a nice day

[2022-10-14 12:37] #8594 closed, assigned to JakubOnderka

[2022-10-14 13:30] Aledangelo commented on #8667
Thanks a lot, that's just what I needed

[2022-10-14 13:30] #8667 closed, assigned to nobody

[2022-10-14 15:18] guaar opened #8669 "RHEL 8.4 MISP Installation Errors"
### Support Questions

I am trying to install MISP on RedHat 8.4 OS, during installation number of errors were detected especially with dependencies i.e. python and libraries not matching the requirements (censys, poetry core). After installation the misp workers and misp modules services fail to start.

Following Andreas Muelhemanns instructions for RHEL 8.x versions has worked well however this

[2022-10-16 00:14] romarito90 commented on #8539
Hello @Leonardo1924  @righel , someone find a solution i have the same problem with my instance of MISP, I have an error in the part of the venv/bin/pip command not found and begin the count of 3 seconds like a loop

[2022-10-16 00:32] romarito90 opened #8671 "Bug: Issue with venv/bin/pip aptlock count begin 3 seconds like a loop"
### Expected behavior

Hello i tried to install MISP in ubuntu 22.04 with a virtual machine and it works, but when i try to install in a ubuntu 22.04 in my job computer with the same characteristics it doesnt work

Im stucked with a kind of loop with the 3 seconds aptlock

### Actual behavior

Here are a pictures with the problem i tried to delete the folder and im try again but is the same thing

[2022-10-16 18:36] eowyn263 commented on #8555
@samitainio @cudeso The upgrade to v2.4.164 solved the issue for hard delete, but I'm still getting this error when accepting the proposal (clean cache works only on one attribute too in this case). Are you also still getting this error when accepting the proposal?

[2022-10-17 14:35] syloktools commented on #8669
Your pip install is bombing out so it is crashing the install script. Can you update the version of python you are using in the venv for MISP and try again? I also recommend building MISP from scratch/command by command so that you understand the process and dependencies.

[2022-10-17 15:48] guaar commented on #8669
Thanks for your reply. I followed the guide from Andreas here: https://github.com/amuehlem/MISP-RPM/blob/master/RHEL8.md - this has worked perfectly without any errors.

The error output is the result of using MISP's installation guide here: https://misp.github.io/MISP/INSTALL.rhel8/.

[2022-10-18 10:14] waleedsaeed17 opened #8675 "Support:"
### Support Questions

unable to login MISP only using chrome browser. it was working fine earlier. i think this happenend since after we defined the url entry against the IP in our DNS server.

### MISP version

2.4

### Operating System

ubuntu

### Operating System version

22.04

### PHP version

7.1

### Browser

Chrome

### Browser version

Version 78.0.3904.97 (Official Build) (64-bit)

###

[2022-10-18 15:13] HugeekMcGill commented on #8555
@samitainio yes the issue is solved on my side.

Since I'm using containers and importing misp_db, I had to manually add the missing MySQL colums in misp_db to trigger the rest of the update script.

If that can save someone else time, ping me if you have the same issue, it took my alot of time to figure out the solution.

[2022-10-18 19:44] admcudo commented on #2372
Just to add to the possible means of escape, if you log into the server using ssh as the user that needs to use gpg, the tty is automatically owned by that user and there is no need to chown the tty device.

If you log in as root and then use either sudo or su the tty is still owned by root and the above solutions will be needed.

[2022-10-19 10:17] toolost9 opened #8681 "Push event Qradar with workflows module Support:"
### Support Questions

Hello guys, i'm new with MISP and i have a question, is it possible to use the workflows module to send events to qradar?

### MISP version

2.4.164

### Operating System

Ubuntu

### Operating System version

20.04

### PHP version

7.4.32

### Browser

_No response_

### Browser version

_No response_

### Relevant log output

_No response_

### Extra attachments

_No resp

[2022-10-19 16:12] github-germ opened #8685 "Bug: 2.4.164 NoAcl Correlations Build Stuck"
### Expected behavior

1. We have MISP 2.4.164 configured as:
[code]
2. Started a NoAcl correlation rebuild via the WebUI toggle of `MISP.completely_disable_correlation` in the WebUI.
3. Here's the latest status. Our current system date is `2022-10-19 15:53:17` -- so this rebuild has been running now for ~50 hours, **with the current event recorrelating for ~44 hours** !!
[code]
4. Details on that

[2022-10-19 17:12] Malwar3Ninja commented on #8585
the issue is still there even on latest release

Error: Return value of Workflow::getUserForWorkflow() must be of the type array, none returned
#0 /var/www/MISP/app/Model/Workflow.php(557): Workflow->getUserForWorkflow()
#1 /var/www/MISP/app/Model/Workflow.php(516): Workflow->walkGraph()
#2 /var/www/MISP/app/Model/Workflow.php(489): Workflow->__runWorkflow()
#3 /var/www/MISP/app/Console/Command/Wo

[2022-10-19 17:13] github-germ commented on #8685
[code]

[2022-10-19 18:03] github-germ opened #8686 "Feature Request: Enhance Correlation Rebuild with Checkpointing"
### Is your feature request related to a problem? Please describe.

Rebuilding correlations can take many hours and in some cases days for MISP instances with lots of content. Currently, any restart of MISP before the completion of the rebuilding process will require a rebuild restart.

### Describe the solution you'd like

This feature is requesting a consideration for enhancing the rebuild proce

[2022-10-19 18:18] github-germ commented on #8685
We have discovered that the `event_id` reported as being processed was an old Event based on `MISPObjects` and had 16k duplicated `MISPObjectAttribute value1`. This was in our system since 2021-September, which was ingested from before my request was implemented to dedup objects (see https://github.com/MISP/MISP/issues?q=dedup)

We do not understand why the `SELECT` above was hung. However, to mak

[2022-10-20 07:42] iglocska commented on #8686
Hmmm. I dig the idea. Will think about it!

[2022-10-20 12:23] waleedsaeed17 commented on #8675
kindly update regarding the issue..

[2022-10-20 12:31] github-germ commented on #8686
Kewl =8^)

[2022-10-20 15:05] matthewpeyton commented on #8598
I am also running into this issue. Is this an issue on the Okta setup side?

[2022-10-20 15:13] nachorpaez commented on #8598
I managed to get Okta working by applying this patch in the OpenID-Connect-PHP library `/var/www/MISP/app/Vendor/jakub-onderka/openid-connect-php/src/OpenIDConnectClient.php`
[code]

And adding the `email` and `groups` scope in `/var/www/MISP/app/Plugin/OidcAuth/Lib/Oidc.php`. Something like:
[code]

Okta relies on `iss` and `aud` to validate a request according to their docs (https://developer.ok

[2022-10-20 16:20] matthewpeyton commented on #8598
Can confirm @nachorpaez 's fix works.

[2022-10-21 10:09] Advisory-Newsletter opened #8690 "Support: How to schedule delete older event data"
### Support Questions

I am not able to find option to schedule delete older events or restrict fetching initially from a time frame. Running out of disk space. How do I maintain the disk in a production environment?

### MISP version

2.4.164

### Operating System

ubuntu

### Operating System version

20.04

### PHP version

8.1

### Browser

chrome

### Browser version

latest

### Relevant log

[2022-10-21 17:33] github-germ commented on #8685
@JakubOnderka -- thanks a lot for all your effort here. When you are ready, could you explain the 50k foot view of your changes and how this will help our issue? Our challenge is we are about to deploy our latest release to Production, and we can only deploy "official" MISP releases. Would be cool if at all possible to get this into a 2.4.165 sometime "soon". THANKS!!

[2022-10-22 14:05] github-germ commented on #8685
Good news... still running 2.4.164, after removing the one event that had all those object dups, the NoAcl correlations rebuild did complete successfully.

[code]

[2022-10-23 08:54] adulau commented on #8681
I would say it could be easily possible with [qpylib](https://github.com/IBM/qpylib) and make a module similar to [mattermost module](https://github.com/MISP/misp-modules/blob/main/misp_modules/modules/action_mod/mattermost.py).

[2022-10-24 06:52] amady3381 commented on #8556
The issue has been fixed in the new updated release 2.4.162 and higher versions

[2022-10-24 07:36] cvandeplas commented on #8556
excellent, thank you for the update

[2022-10-24 08:40] amady3381 opened #8698 "Support: list of organizations are synced automatically between integrated MISP instances"
### Support Questions

Hi,

We have our own MISP instance integrated with an external MISP instance for another organization. When we pull the events from this organization MISP, we are able to fetch all organizations from the other instance and we can see them added under our remote organizations. This applicable to us too as we are enabling other entities to pull events from us which means they

[2022-10-24 09:32] Marco10S opened #8700 "Could not authenticate to Redis: ERR Client sent AUTH, but no password is set"
Hi All,

we can't fetch feed anymore after the update of MISP because there isn't set the redis password, but it was never set before.
Scheduled job are failing too.
![misp error](https://user-images.githubusercontent.com/90626430/197495288-3561d861-4c37-4326-a99f-691535b74830.png)

[2022-10-24 11:17] stacsirt opened #8701 "Bug: RestSearch Query Internal Server Error"
### Expected behavior

We want to query restSearch for our suricata logs going back 90 days as per below:

    https://*****/attributes/restSearch/returnFormat:suricata/publish_timestamp:90d/date:90d

When doing this, we expect just receive an output list of logs from the last 90 days as per the query.

### Actual behavior

However, when we do this, we get an error message:

    "An Internal Error

[2022-10-24 20:57] github-germ commented on #8604
ANy help would be appreciated. I see this same SSL issue when trying to connect two MISP instances via server sync. Thanks!

[2022-10-25 08:01] mekhaleraj opened #8703 "Support: INSTALL.sh fails checksum on Ubuntu 22.04.1 LTS"
### Support Questions

INSTALL.sh fails checksum on Ubuntu  22.04.1 LTS. What would be the alternative option to update the installer?

### MISP version

2.4.158

### Operating System

Ubuntu

### Operating System version

22.04

### PHP version

7.4

### Browser

_No response_

### Browser version

_No response_

### Relevant log output

[code]

### Extra attachments

_No response_

### Code of C

[2022-10-25 08:33] mekhaleraj commented on #8703
$ sha1sum /tmp/INSTALL.sh
4296d40b11b3002df3fdfd69a508ed5ecacb8c13  /tmp/INSTALL.sh
:~$ sudo bash /tmp/INSTALL.sh
Next step: Checking if we are run as the installer template
Next step: Checking Linux distribution and flavour...
Next step: We detected the following Linux flavour: Ubuntu 22.04
Next step: Checking if we are uptodate and checksums match
sha1:  does not match the installer sum of: 4296

[2022-10-25 13:49] waldeckerthefirst commented on #7906
Hello,
i have the same issue with php version
PHP 7.4.32 (cli) (built: Sep 28 2022 09:09:55) ( NTS )
Copyright (c) The PHP Group
Zend Engine v3.4.0, Copyright (c) Zend Technologies
    with Zend OPcache v7.4.32, Copyright (c), by Zend Technologies
During the installation with the INSTALL.sh script i get
PHP Fatal error:  require_once(): Failed opening required '/opt/misp/www/MISP/app/Vendor/autolo

[2022-10-25 23:06] UFOSmuggler opened #8707 "Bug: Importation of galaxy clusters results in bad connector tag, impacting its' functionality"
### Expected behavior

When importing galaxy clusters via the /galaxies/import UI endpoint, connector tags should come out looking like this:

misp-galaxy:predicate=value

### Actual behavior

Instead of the expected, we see connector tags that look like this:

misp-galaxy:predicate=uuid

Because of this, the connector tag never matches those of events that come in using the same clusters.

I beli

[2022-10-26 09:55] amady3381 opened #8708 "Support: Sharing the same event with different sharing groups"
### Support Questions

Hi,

How to share the same event with different sharing groups without duplicating the event?

Thanks,

### MISP version

 2.4.162

### Operating System

Ubuntu

### Operating System version

20.04

### PHP version

7.4.3

### Browser

firefox

### Browser version

101.0 (64-bit)

### Relevant log output

_No response_

### Extra attachments

_No response_

### Code of Condu

[2022-10-26 14:04] szopin opened #8711 "Bug: Impossible to add certificate files in /servers/add and /servers/edit if AuthKey is correct length (works if it is longer than 40)"
### Expected behavior

Server certificate and client certificate files should be included correctly and show up in GUI

### Actual behavior

Cert files end up being copied to /var/www/MISP/app/files/certs correctly, but do not show up in GUI and don't work, if provided authkey is too long (41+ chars) they show up correctly in GUI too and after fixing the authkey sync is possible

### Steps to repr

[2022-10-26 20:41] tameknight opened #8714 "Support: unable to open events post update"
### Support Questions

Post updating to  2.4.164 from 2.4.151, I am unable to open events. Additionally, after looking at the log file I saw a mention of the Correlation Exclusions. When entering the Correlations tab of the Server Settings & Maintenance page I'm greeted with the same error below.

GUI error: `An Internal Error Has Occurred.
Error: An Internal Error Has Occurred. Please try your ac

[2022-10-26 23:56] UFOSmuggler commented on #8714
might be model cache.

try going into server settings and maintenance, diagnostics, and click clean cache, near the bottom

[2022-10-27 00:10] tameknight commented on #8714
Cache cleaned, still getting that error.

[2022-10-27 02:25] Malwar3Ninja commented on #8585
Team any update?

[2022-10-27 06:23] ssdebruyn commented on #4637
Any Luck with this. It works fine from my home PC. But when doing it behind a proxy I have this problem.

[2022-10-27 06:24] ssdebruyn commented on #4739
HI, I also have this problem. I have noticed from my home Fiber direct out it works well but behind a proxy it fails with the same error.

[2022-10-27 08:09] scoltellese opened #8715 "Feature Request: Search function aimed at retrieving users of local MISP organizations"
### Is your feature request related to a problem? Please describe.

Currently the only way for OrgAdmins and Publishers to get in touch with any user of an organization in MISP is when a new MISP event is published (Contact reporter function). A contact via e-mail channel using MISP is possible only
among users of the same MISP organization but not of the same MISP community. Within the context of

[2022-10-27 09:35] LumberJohn6 opened #8716 "Support: Errors on fetching events from feed"
### Support Questions

Hello, I'm having a problem fetching events from feeds.
It fetches well but there are certain events that the validation fails, and those are filling up the logs.
Due to fetching from several feeds, I can't, or at least I don't see how to verify what feed is causing the problem.

### MISP version

MISP 2.4.164

### Operating System

Ubuntu

### Operating System version

20.0

[2022-10-27 21:21] Frankmurph119 opened #8718 "Mass-deleting tags from an instance"
I am currently testing an instance in order to prepare it to meet the needs of a customer, and while testing it I enabled and fetched an event feed and in doing so it also brought with it all of the tags that were contained in that feed which pushed my total number of tags over 1200, most of which won't be used by the customer and should be deleted. However, it will be very time consuming to delet

[2022-10-28 14:17] vincenzocaputo opened #8721 "Bug: Slow OTP email delivery"
### Expected behavior

Receive the email containing the OTP in a few seconds.

### Actual behavior

The users receive the email even after 5 minutes. According to logs, the email is sent immediately when the user logs in.
I have not observed this behaviour for other types of email coming from this MISP istance (publishing, etc.)

### Steps to reproduce

1. Enable email otp
2. Try to log in

### Ve

[2022-10-31 09:46] JERAR1337 opened #8725 "Support: Failed at step EXEC spawning /var/www/MISP/venv/bin/misp-modules -l 127.0.0.1 -s: No such file or directory"
### Support Questions

Hi,

I have a freshly installed CentOS (up-to-date) environment where I installed MISP core, and this works perfectly. But when I install the extra MISP Modules I get the following error.

_Failed at step EXEC spawning /var/www/MISP/venv/bin/misp-modules -l 127.0.0.1 -s: No such file or directory_

The directory does exist as you can see here.

<img width="457" alt="image" s

[2022-10-31 14:21] adulau commented on #8725
Sounds strange. Did you try to run `misp-modules` alone just to see what's the execution output is especially inside the venv and outside? To see if it's not installation outside the venv.

[2022-10-31 14:22] adulau commented on #8721
This sounds like more a MTA issue than an issue related to MISP. Did you check your MTA logs to see where the email are queued and when? Those are delivered immediately to the MTA.

[2022-10-31 18:56] github-germ opened #8730 "Bug: correlation_count in UsersController.php no longer divide by 2 with new correlations engine"
### Expected behavior

The statistics correlations count should be double what is reported.

### Actual behavior

I don't believe the new correlations engine inserts 2 rows (ie. in both directions). Hence, I think the `/2` line can be removed in [UsersController.php](https://github.com/MISP/MISP/blob/v2.4.164/app/Controller/UsersController.php#L1935) in `__statisticsData`
[code]

### Steps to repr

[2022-11-01 08:28] iglocska commented on #8730
Good point indeed!

On Mon, Oct 31, 2022 at 7:56 PM github-germ ***@***.***>
wrote:

[2022-11-01 08:30] iglocska commented on #8730
Will be included in the upcoming release via https://github.com/MISP/MISP/commit/249736937400c6f166924b425eb7e1238ce50c5a

[2022-11-01 17:00] #8555 closed, assigned to nobody

[2022-11-02 00:48] UFOSmuggler opened #8732 "Bug: Galaxy cluster tag_id value is an integer, violating the MISP event schema"
### Expected behavior

MISP events generated by MISP should conform to the defined MISP JSON event schema(s)

https://github.com/MISP/MISP/blob/2.4/format/2.4/schema.json
https://github.com/MISP/MISP/blob/2.4/format/2.4/schema-lax.json

### Actual behavior

MISP events containing galaxy clusters generated by MISP violate these schemas.  As a downstream consequence, third party code which tests eve

[2022-11-02 06:30] iZAK328 commented on #8669
From what I know, the RPM packages do update to the latest versions of MISP however it might not be as fast as the git repo. There is a newer **2.4.164** version available in the repo and can be installed using `sudo yum update misp`.

[2022-11-02 07:27] iglocska opened #8733 "Add additional parameter to the userInit shell script - specify admin user email"
### Is your feature request related to a problem? Please describe.

Currently for automation it's inconvenient to start with a hard coded admin user - changing the e-mail address requires the retrieval of the API key and using REST edits to update the user.

### Describe the solution you'd like

userInit could take an optional parameter to pre-set the desired admin email address.

### Describe alt

[2022-11-02 21:26] SteveClement commented on #4637
@ssdebruyn if it fails behind a proxy, chances are high something is cached.

Try wget with '--no-cache'

[2022-11-03 04:04] UFOSmuggler commented on #8732
I believe the issue lies in how the [postprocess](https://github.com/MISP/MISP/blob/b494d0db5f418a786026446d3c03a226eb92106d/app/Model/GalaxyCluster.php#L1557) function is called in the GalaxyCluster model.

if you hand it a string instead of an int, all is well.  this only occurs in two places in the same file, and isn't called anywhere else.  a couple strval() in the right place seems to fix the

[2022-11-03 08:51] shaworee opened #8736 "Bug: API does not return all WARNING LISTs"
### Expected behavior

REST API returns whole list of the warning lists.

### Actual behavior

REST API does not return whole list of the warning lists.
I tried to find out what is going on and I found out that the number of items on the returned list is dependent on a value "limit" set in PHP file:
/var/www/MISP/app/Controller/WarninglistsController.php

I tried PyMISP and the behaviour is the sa

[2022-11-03 14:17] #8716 closed, assigned to nobody

[2022-11-04 14:26] KreshnikArapi opened #8738 "Bug: Related Events column lists invalid Events"
### Expected behavior

When searching for attributes the results under the "Related Events" column should be a list of related events that contain that attribute.

### Actual behavior

When searching for attributes the results under the "Related Events" column are a list of invalid events. When clicking the event links listed under the "Related Events" column the following error is received.

_Inv

[2022-11-07 10:26] flat586 opened #8739 "Support:"
### Support Questions

Hi I am new to MISP and I'm currently involved in setting up the infrastructure for a MISP instance. The MISP instance will sit behind a firewall and I'd like to confirm which firewall ports need to be opened. I have looked through the MISP documentation and support forums and have seen references to use of https/443 for user access to MISP but also use of https/443 for MISP

[2022-11-07 10:47] Rafiot opened #8740 "Doc: Missing OpenAPI doc"
Just a list of the missing docs I find while adding the links to PyMISP.

* [ ] restsearch on object controller missing: https://www.misp-project.org/openapi/#tag/Objects

[2022-11-07 14:01] matthewpeyton commented on #8598
Will this fix be included in a future release? My company is not going to sign off on me implementing this fix in a fork or manually on the box.

[2022-11-07 14:29] mekhaleraj opened #8741 "Support: Connection timed out, Internal server error, MISP Azure AD Authentication"
### Support Questions

Hi

I'm currently having some issue's getting the Azure AD authentication plugin to work properly.

MISP is running behind the proxy. Proxy connection tested OK.

I implemented the following guide: https://github.com/MISP/MISP/tree/2.4/app/Plugin/AadAuth
I created users with the same username as their upn in Azure AD.
They are created as a regular User.
I have set no passwor

[2022-11-07 14:32] #8703 closed, assigned to nobody

[2022-11-07 16:14] KreshnikArapi commented on #8738
![Screenshot 2022-11-07 171127](https://user-images.githubusercontent.com/3027316/200359527-db5e3227-9649-46dd-8d36-450635689d01.png)

[2022-11-08 06:47] SurajPatel06 opened #8742 "Support:"
### Support Questions

Unable to acess MISP Feeds using the command feeds=misp.feeds(),
The error message which occurs when this command is executed is:
 {'errors': (405, {'name': 'You do not have permission to use this functionality.', 'message': 'You do not have permission to use this functionality.', 'url': '/feeds/index'})} Can anyone please guide me to fix this.
Unable to fix it even after tr

[2022-11-08 11:57] lnfernux commented on #8238
@Nate-09 did you ever finish the guidance on using private dns?

[2022-11-08 19:55] ansleyzheth commented on #6189
Hello good afternoon, follow the step by step but I managed to simulate the error similar to @qbolbk59

![F On chat](https://user-images.githubusercontent.com/45273232/200662030-38c97c28-5743-4cc7-8ff6-956cb41b9428.png)

is there any extra configuration or something missing?

[2022-11-09 09:48] lnfernux commented on #8238
Or @honey4sec if you managed to get it working?

[2022-11-09 10:06] norrig commented on #8477
I am also getting the baseurl error despite the url being correct. There is no actual issues except the warning message wont go away.

![image](https://user-images.githubusercontent.com/5526261/200801593-9c3b92d8-791c-4234-afb9-cc390223aa67.png)

[2022-11-09 10:30] sasho231 opened #8744 "Support: Unable to send send emails"
### Support Questions

Hello,

I am having issue with sending email from MISP to any email. I am receiving this error message "E-mails sent, but failed to deliver the messages to the following recipients: ------" .

The MISP.disable_emailing is set to false.

I tried to add PGP keys to the users using UI but it wont let me send emails again, so I decided to remove PGP as it it easier for me.

When