[2018-06-19 05:18] jezkerwin opened #3353 "Importing stix document fails - log reports - "No module named 'maec'""
| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | RedHat
| OS version (client)       | 10
| PHP version               | 7.1
| MISP version / git hash   | v2.4.92 (1a9282c11f340d5f3653748dc23f2272323d4e08)
| Browser                   | Chrome

### Expected behavior

STIX document imports successful

[2018-06-19 06:06] iglocska commented on #3353
Ping @chrisr3d

[2018-06-19 06:29] bioteseo commented on #3337
I don't write code in python.
I installed misp on a fresh ubuntu server 16.04, then on a fresh ubuntu server 18.04 and I tried ubuntu server 17.10 (misp vm). All these use python 2.7 as default. There are many issues when you decide to use pip or pip3 to install a package.

For instance you can use only pip install pyzmq. If you try pip3 you will find this:
-sudo -u www-data python /var/www/MISP/a

[2018-06-19 06:49] RichieB2B commented on #3353
Yes, maec is now a requirement, see https://github.com/MISP/MISP/commit/009dac1e432930d8b603d9903a299bb4f3b7f15a
If you `git pull` you will see it now on the `/servers/serverSettings/diagnostics` page

[2018-06-19 07:38] chrisr3d commented on #3353
Yes, I added it in the script generating the VMs at the same time I updated the diagnostic tool.
So if you do not have one of the latest VM, `pip3 install maec` should fix this issue.

Then if you have any other issue, we're still here to help

[2018-06-19 08:35] Kahuna01 opened #3354 "Attach tags as sync user"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Question, support
| OS version (server)       | ubuntu 16.04
| OS version (client)       | Win 7
| PHP version               | 7.03
| MISP version / git hash   | 2.4.92, ba7662e6a01726b452997a2e4d1641b49aaeb593
| Browser                   | Firefox

### Expect

[2018-06-19 08:44] xme commented on #3333
Hi Andras,
Were you able to reproduce the error?

[2018-06-19 09:06] iglocska commented on #3333
Yep, The guys over at the hive have a fix ready, I just need to update
something to be compatible on our end and it should then work fine with the
latest version of cortex. Hang on a minute!

On Tue, Jun 19, 2018 at 10:44 AM, Xavier Mertens <notifications@github.com>
wrote:

[2018-06-19 09:07] iglocska commented on #3333
Just pushed a fix, could you try it with the latest version of Cortex?

[2018-06-19 09:08] iglocska commented on #3353
@chrisr3d - would it be possible to make maec optional and put the import in a try/catch? At least that way we won't break compatibility with existing installations ;)

[2018-06-19 09:25] xme commented on #3333
Implemented the fix ('bearer' -> 'Bearer') but same issue.
When I click on "Admin -> Server Settings & Maintenance", MISP makes an HTTP request to Cortex:

Content-Type: application/json
Authorization: Bearer <apikey>
User-Agent: CakePHP
GET /modules HTTP/1.1

If I use a bad API key, I'm getting the same error...

[2018-06-19 09:25] iglocska commented on #3333
interesting. Checking.

[2018-06-19 09:31] xme commented on #3333
Testing with curl from the MISP server console, it works (ex: "GET /api/job")
Do you know the purpose of the "GET /modules"? I don't find any reference in the Cortex API documentation.

[2018-06-19 09:35] iglocska commented on #3333
/modules is the misp-modules introspection interface. Cortex has a
misp-modules compatible interface, but cortex2 was lacking it at first -
the latest build from github should have it working again.

On Tue, Jun 19, 2018 at 11:31 AM, Xavier Mertens <notifications@github.com>
wrote:

[2018-06-19 09:36] xme commented on #3333
Ok, let's see if I need to upgrade my Cortex too!

[2018-06-19 09:55] chrisr3d commented on #3353
The loading function used to be in a try/catch, but then errors do not appear in exec logs.
And maec is needed to load stix files containing at least one maec object, independently from anything we do then with the data.
I mean making it optional will cause issues with any installations as long as someone wants to import a stix file with a maec object, because the loading function is watching the

[2018-06-19 10:42] Rafiot commented on #3318
Before tackling all the problems at once, let's take a few steps back: most of the errors you get are due to the massive multiprocessing script you're using and it is causing a massive range of problems that, as you say, go from a mix of types that don't make sense in the Python responses, to Apache just failing to handle the load.

Did you try my PR here : https://github.com/deralexxx/PySight2MIS

[2018-06-19 11:05] github-germ commented on #3318
Good question: ```Did you try my PR here:``` deralexxx/PySight2MISP#6

I wanted to reply to this issue since it was older. The new method of aggregating all attributes in an in-memory event before committing to the server is on my ToDo list this week also. I will try that script as is, but I suspect it won't work out-of-the-box as the original did not. So, I will refactor my version with this meth

[2018-06-19 13:47] mike1703 commented on #2223
As of 2.4.92:
For documentation: The addition in my previous comment from 18 Oct 2017, that **deletion of attributes** is not synced seems to be **solved**

But the part about tags (neither event tags nor attribute tags) **not being deleted** on the remote instance is **still an issue**.

[2018-06-19 13:49] iglocska commented on #2223
Correct, we still don't have a system in place for the remote deletion of
tags. It would be a great to have feature but currently not the highest
priority (though I can see it rising with certain use-cases faster and
faster - such as the rise of ATT&CK usage).

On Tue, Jun 19, 2018 at 3:47 PM, Michael Kerscher <notifications@github.com>
wrote:

[2018-06-20 03:41] SteveClement opened #3356 "No default role set after initial install"
(roles/admin_index)
After a stock install there is NO default role set, this is apparently no big issue. If no default role is set, whatever role is first in the DB will be picked.

~~MISP-core wants/needs a default role to avoid any unexpected situations. (Mostly demonstrated when trying to remove the default role, you get an error and CANNOT remove the default role)~~

[2018-06-20 03:48] SteveClement opened #3357 "Cannot assign ZMQ Publisher Rights in latest VM"
When editing the ZMQ Publisher rights on the latest auto generated VM it does not set the permission.

[2018-06-20 03:50] SteveClement opened #3358 "ZMQ Publisher disabled on all Roles after default install"
After a stock install NO user role has the ZMQ Publisher rights.

Please see this issue too: #3357 As you cannot change the perms.

[2018-06-20 04:31] #3357 closed, assigned to iglocska

[2018-06-20 04:31] #3358 closed, assigned to nobody

[2018-06-20 04:46] #3356 closed, assigned to nobody

[2018-06-20 12:04] HachimanSec opened #3359 "PyMISP folder empty on fresh install MISP {"major":2, "minor":4, "hotfix":92}"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Unable to install PyMISP
| OS version (server)       | Linux ecs-6c50 4.9.0-6-amd64 #1 SMP Debian 4.9.88-1+deb9u1 (2018-05-07) x86_64 GNU/Linux
| MISP version / git hash   | 2.4.92

### Expected behavior
Installing PyMISP

### Actual behavior
When I check out

[2018-06-20 12:15] HachimanSec commented on #3359
What seemed to help was following the next steps in the manual:
[code]

After that a
[code]
is possible.

However it throws an error:
[code]

[2018-06-20 12:28] jaxre opened #3360 "Add USB ID option in the payload delivery category?"
Hello!

Just as the title says, I was wondering if we could add USB ID as an option in the payload delivery category.

(i.e. USB\VID_v(4)&PID_d(4)&REV_r(4))
Where:

    v(4) is the 4-digit vendor code that the USB committee assigns to the vendor.

    d(4) is the 4-digit product code that the vendor assigns to the device.

    r(4) is the revision code.

For the moment, we use the text field (whic

[2018-06-20 19:50] github-germ opened #3361 "HTTP 503 with many Event Deletions"
2.4.92

HTTP 503s with both WebUI and PyMISP deletions of a large set of events were experienced in
* https://github.com/MISP/MISP/issues/3305#issuecomment-395443896 -- simple single-threaded loop calling `PyMISP.delete_event()` can generate HTTP 503. To reproduce: https://github.com/MISP/MISP/files/2080890/mispDeleteEvents.zip
* https://github.com/deralexxx/PySight2MISP/pull/6#issuecomment-398592

[2018-06-20 19:52] github-germ commented on #3305
Let's close this issue. Although HTTP 503s persist, separate, more specific issues have been spun out from here:
* https://github.com/deralexxx/PySight2MISP/pull/6 -- changing the model:
   * **FROM**: discrete use of `new_event()` followed by various `add_*()` calls for that event, which cause many HTTP and db transactions for one created event.
   * **TO**: constructing the new event in local me

[2018-06-21 04:14] SteveClement opened #3362 "When showing proposals, hide related events"
When showing proposals for an attribute with a lot of related events, the view is messy.
Hide "Related events" in target proposal.

[2018-06-21 04:31] SteveClement opened #3363 "Correlation graph, trim very long attributes"
When showing a correlation graph event names are already trimmed.
The same wants to be done for very long attributes (eg. hashes)

[2018-06-21 06:10] adulau commented on #3363
Does the approach used in the event graph could be a solution for the correlation graph? @mokaddem mentioned this

[2018-06-21 07:15] iglocska commented on #3363
Just copy paste the stuff used for event info to the attribute values -
problem solved ;)

On Thu, Jun 21, 2018 at 8:10 AM, Alexandre Dulaunoy <
notifications@github.com> wrote:

[2018-06-21 10:12] xme opened #3364 "Sync broken?"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Ubuntu 16.04
| OS version (client)       | -
| PHP version               | 7.1...
| MISP version / git hash   | 2.4.92
| Browser                   | -

### Expected behavior
For a few days, a MISP instance cannot pull new

[2018-06-21 12:07] Brueggus commented on #3244
We're currently facing the same issue.

To my mind, disabling STRICT_TRANS_TABLES is a workaround, but no proper solution for the issue.

Disabling strict mode prevents queries "with invalid or missing data" from being aborted and rolled back (https://mariadb.com/kb/en/library/sql-mode/), so apparently there's still an issue in MISP which creates somewhat invalid SQL-Queries to the DB server.

[2018-06-21 12:24] adulau commented on #3364
@xme If you pull the CIRCL OSINT feed, does it work? Is the time of the instance properly set?

[2018-06-21 13:06] xme commented on #3364
System time is ok but I can't try a feed because the MISP instance is not online.

[2018-06-21 13:20] iglocska commented on #3364
Git pull please it was fixed yesterday ;)

[2018-06-21 13:24] adulau commented on #3364
@xme if you can test the latest HEAD, if you were running on HEAD ;-)

[2018-06-21 13:29] iglocska commented on #3244
yeah strict_trans_tables is not a nice solution. Just out of curiosity, are you trying to pull from a very old instance?

[2018-06-21 13:40] xme commented on #3364
What did change? The MISP instance is already based on yesterday's code (rebuilt a docker image)

[2018-06-21 13:41] iglocska commented on #3364
Which instance are you pulling from? The problem is that the bug was on the /events/view/[id].json part so the remote needs to update ;)

[2018-06-21 13:43] xme commented on #3364
Ok, I'll suggest this to CERT.eu then ;-)
Their instance is also 2.4.92

[2018-06-21 13:43] iglocska commented on #3364
yep, 2.4.92 was affected for 2 days, if they update it will be fixed :)

[2018-06-21 13:57] Brueggus commented on #3244
Nope - it's the other way around:
Local version: 2.4.90
Remote version: 2.4.91

Some events get pulled, but sooner or later the pull job stops with the error message:

[code]

We're running MariaDB on a separate virtual server, but I wouldn't say the latency's too high (<2ms).

[2018-06-21 15:29] HachimanSec opened #3365 "Stix import broken for MISP v2.4.92"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Debian
| MISP version / git hash   | v2.4.92 (6eb4e49f2c62d05e671e3482ac1b21004ce58ee3)
| Browser                   | Firefox

### Expected behavior
Manually importing stix file (https://www.us-cert.gov/ncas/analysis-reports/A

[2018-06-21 19:57] HachimanSec opened #3366 "Notice: Undefined variable: uuid in [/var/www/MISP/app/Model/Feed.php, line 450] Notice Error: Undefined variable: uuid in [/var/www/MISP/app/Model/Feed.php, line 448]"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Linux ecs-6c50 4.9.0-6-amd64 #1 SMP Debian 4.9.88-1+deb9u1 (2018-05-07) x86_64 GNU/Linux
| MISP version / git hash   | v2.4.92 (6eb4e49f2c62d05e671e3482ac1b21004ce58ee3)
| Browser                   | Mozilla

### Actual behavi

[2018-06-21 20:08] adulau commented on #3366
`Warning: mkdir(): Permission denied in [/var/www/MISP/app/Lib/cakephp/lib/Cake/Utility/Folder.php, line 582]`

It seems that you might have some permission issues on the server. Could you rerun your permission part of the installation script?

[2018-06-22 00:23] jezkerwin commented on #3353
Brilliant, thanks for the help guys. Installing maec was the culprit.

Although in my case it was > scl enable rh-python36 pip3 install maec

[2018-06-22 00:23] #3353 closed, assigned to chrisr3d

[2018-06-22 00:24] jezkerwin commented on #3365
Have a look at https://github.com/MISP/MISP/issues/3353 to see if it addresses your issues.

I had the same problem and executing > pip3 install maec fix my issue.

[2018-06-22 03:57] HachimanSec commented on #3366
The permission issue is a leftover from the installation. I reran the permission part and restarted the service, the foreach() issue remains. However the permission denied error is gone.

`2018-06-21 19:57:30 Warning: Invalid argument supplied for foreach() in [/var/www/MISP/app/Model/Feed.php, line 1018]
`

[2018-06-22 04:01] HachimanSec commented on #3365
Thank you, I have seen this one as well.
Executing pip3 install maec didnt help unfortunately

`Successfully installed cybox-2.1.0.17 lxml-4.2.1 maec-4.1.0.13 mixbox-1.0.3 ordered-set-3.0.0 python-dateutil-2.7.3 six-1.11.0
`

[2018-06-22 06:27] RichieB2B commented on #3365
STIX import uses https://github.com/MISP/misp-modules Are you running the latest version of misp-modules? Detailed errors will be in the stderr of the misp-modules process.

[2018-06-22 06:36] iglocska commented on #3365
The import shouldn't use misp-modules. It uses a built in script like the STIX export. (Unless I am wrong, which has a 50% chance of happening these days)

[2018-06-22 06:47] adulau commented on #3365
Could you have a look in <your-misp>/app/tmp/logs/exec-errors.log?

[2018-06-22 06:57] RichieB2B commented on #3365
@iglocska I did a simple test:

1. Verify _Populate from.. --> Stiximport_ is there
2. kill misp-moduiles
3. Observe _Populate from.. --> Stiximport_ is  no longer there
4. start misp-modules
5.  Observe _Populate from.. --> Stiximport_ is back

Wait... there are now 2 STIX import options: also a new `Import from ...` submenu on the main Event List page. @TomHubGit which one are you using?

[2018-06-22 07:02] adulau commented on #3365
@RichieB2B Yep, maybe we should kill the old STIX misp-module import to avoid the confusion as there is the default STIX and STIX 2 import.

[2018-06-22 07:11] shehreyarahmedkohati opened #3369 "MISP Login issue"
MAC OS 10.13 - virutalbox Ubuntu 16.04
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug, Question
| OS version (server)       | ubuntu 16.04
| OS version (client)       |
| PHP version               | 5.4, 5.5, 5.6, 7.0, 7.1...
| MISP version / git hash   | 2.4.XX, hash of the commit
| Browser

[2018-06-22 07:34] perez1987 commented on #2895
+1

[2018-06-22 09:07] RichieB2B opened #3370 "Data imported using stix2misp ignores default distribution"
Events and attributes created using stix2misp (via the _Import from..._ menu) ignore the `MISP.default_event_distribution` and `MISP.default_attribute_distribution` settings. Instead the distribution is always set to 0 (Organization Only).

When the event/attribute data goes through the [save function](https://github.com/MISP/MISP/blob/2.4/app/Model/Event.php#L2638) no `distribution` fields are pr

[2018-06-22 09:56] HachimanSec commented on #3365
I am using the UI version of the STIX import.

@adulau interestingly it says that maec is missing (just like in the referenced issue)

[code]

However I am 100% sure I installed maec via pip yesterday when I came across the other issue.

When I re-run the installer, it throws an error now:
[code]

This leaves me seriously puzzled...

<img width="758" alt="screen shot 2018-06-22 at 11 51 12" src="h

[2018-06-22 10:04] HachimanSec commented on #3365
Quick update, pip didnt like that I forgot the sudo in front.

However I still can't upload STIX files.
[code]

[2018-06-22 10:12] HachimanSec commented on #3365
I rebooted the server and it gives me a permission denied error in: /usr/local/lib/python3.5/dist-packages/mixbox-1.0.3-py3.5.egg/mixbox/__init__.py

[code]

[code]

Is there any special access permission I missed during the install? I cant find anything in the manual in regards to this

[2018-06-22 13:38] 8ear commented on #3244
He Guys,
why this issue is closed?

Our workaround was to install the database on the same server as the apache2. But the issue itself isn't closed with one of these two workarounds.

Kind regards

[2018-06-22 14:43] github-germ commented on #3318
i mistakenly closed this ticket. Still need to work on dealing with lower level exception experienced in PyMISP back to the client code: https://github.com/MISP/MISP/issues/3318#issuecomment-398163042

[2018-06-22 14:44] github-germ commented on #3343
Any feedback appreciated.

[2018-06-22 14:44] github-germ commented on #3351
Any feedback appreciated.

[2018-06-22 17:10] ktneely commented on #3337
I'm running through the install steps on a fresh Ubuntu 18.04 server.  This doesn't have pip(2), by default, but from this thread, I'm guessing I'd need to install pip so I can get the necessary python2 modules added.

[2018-06-22 17:51] PurePackets commented on #2371
I have same problem !? what did you did to resolve problem ? (CENTOS7) thanks

[2018-06-22 18:00] PurePackets opened #3374 "chcon: can't apply partial context to unlabeled file"
I have problem to allow SELINUX permission :
I am following from : https://github.com/MISP/MISP/blob/2.4/INSTALL/xINSTALL.centos7.txt

[root@mirror Config]# chcon -t httpd_sys_rw_content_t /var/www/MISP/app/files
chcon: can't apply partial context to unlabeled file '/var/www/MISP/app/files'

OS version (server) : CENTOS7

 OS version (client)  : git 22 june

[2018-06-22 18:06] iglocska commented on #2371
[code]

[2018-06-22 18:15] PurePackets commented on #3374
[root@mirror ~]# ls -lZ /var/www/MISP/app/files                                 -rw-r----- root   apache ?                                empty
drwxr-x--- root   apache ?                                feed-metadata
drwxr-x--- root   apache ?                                misp-galaxy
drwxr-x--- root   apache ?                                misp-objects
drwxr-x--- root   apache ?

[2018-06-22 18:33] PurePackets commented on #3374
Ok problem resolved but how ?!
By default SELINUX disabled , and in installation doc dint say to enable it before set seliux permission :
 # nano /etc/sysconfig/selinux
and set to SELINUX TO enforcing .
SELINUX=enforcing
now running chcon command to set permission ....

[2018-06-23 15:51] adulau commented on #3365
@TomHubGit Indeed, the permission is clearly incorrect (not sure how you managed to reach that permission with pip ;-). Your HTTP server won't be able to read the python library file. I was more expecting to see `-rw-r--r--`. If you fix it, it should be fine. Thank you.

[2018-06-23 15:54] adulau commented on #3369
You can reset the password of the instance with:

` /var/www/MISP/app/Console/cake Password [email] [password]`

Cheers

[2018-06-23 15:56] adulau commented on #3374
For my understanding, which installation documentation are you talking about? Thank you

[2018-06-23 20:53] HachimanSec commented on #3365
@adulau glad I achieved something special :D So I did change the permissions to 644.
However I still receive an error, on the UI as well as in the exec-error.log

[code]

[2018-06-24 02:40] Rafiot opened #3375 "Impossible to modify the config on IE11"
Double clicking on the fields to change a value doesn't do anything on IE11.

[2018-06-24 15:02] RichieB2B commented on #3375
I know you must be asking for a friend.. but IE11 is hardly usable on the web these days. Please let it die..

[2018-06-25 06:12] shehreyarahmedkohati commented on #3369
@adulau it gives a mysql could not connect error
I'll post the complete error in a while

[2018-06-25 11:55] kanocool opened #3376 "STIX download: internal error has occured after update to 2.4.92"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | support
| OS version (server)       | ubuntu 16.04.4
| OS version (client)       | windows
| PHP version               | 7.0
| MISP version / git hash   | 2.4.92
| Browser                   | If applicable

pymisp:… OK
pydeep:… OK
magic:… OK
lief:… OK
STIX and

[2018-06-25 15:06] MichaelDwucet commented on #2067
I would like to revive this issue.
Also for us, this would be important, to enforce a minimum standard of tags that were agreed to be set in our workflow and also for the exchange within certain sharing groups.
Some ideas:
-Minimum standards per sharing group
and / or minimum standard for the whole server.
So you would not be able to publish an event, without having at least set a set of namespace

[2018-06-25 16:18] HJBond opened #3377 "STIX or CyBox library not installed correctly (former #1669),"
AWS instance running UBUNTU 16.04

| Questions                 | Answers
|---------------------------|--------------------
| Diagnostics tab: (1) STIX or CyBox library not installed correctly;
Advanced attachment handler
(2) The advanced attachment tools are used by the add attachment functionality to extract additional data about the uploaded sample.
pymisp:… Please install pymisp: pip install py

[2018-06-25 16:25] HJBond commented on #3377
oops... hit submit too soon... part 2 of 2

![magic](https://user-images.githubusercontent.com/40573007/41862503-adf602ce-7869-11e8-9cf4-ed8419149886.JPG)

lief: pip install lieft
![lief](https://user-images.githubusercontent.com/40573007/41862532-c7cc4866-7869-11e8-8ca5-321d92269eaa.JPG)

ZeroMQ: pip install pymzq
![pymzq](https://user-images.githubusercontent.com/40573007/41862645-261e47ac-786a-

[2018-06-25 19:41] uiucseclab opened #3378 "Push Events from List Servers ignores rules"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | ubuntu
| OS version (client)       | Ubuntu
| PHP version               | 7.2
| MISP version / git hash   | 2.4.92

### Expected behavior

When "push all" is pressed on list servers, it pushes all pending events that match the

[2018-06-25 20:17] uiucseclab commented on #3378
Crap, sorry this is John Bambenek, logged into the wrong github account :(

[2018-06-25 21:35] iglocska commented on #3378
Hello there John!

Tried to reproduce it and could only partially reproduce it, so let's see if it covers what you ran into.

What I tried:

Create 3 events
[code]

Then I added the following tag filters: allow: "push", block "block"

The result was that only event 2 got synchronised, however, during a full push it included both attributes, which is clearly wrong. I've pushed an update that fixes

[2018-06-26 02:04] Rafiot opened #3379 "restSearch with timestamp (modified event) doesn't work with interval"
To reproduce:

[code]

HTTP debug:
[code]

[2018-06-26 04:32] uiucseclab commented on #3378
Figured it out… had overbroad rules… ☹

Now using an internal only tag that I don’t export to flag things we’re going to share out… now that I figured it out, will start shoving things into CW and CIRCL MISPs 😊

From: Andras Iklody <notifications@github.com>
Reply-To: MISP/MISP <reply@reply.github.com>
Date: Monday, June 25, 2018 at 4:35 PM
To: MISP/MISP <MISP@noreply.github.com>
Cc: "Bambenek, Jo

[2018-06-26 06:29] Kahuna01 opened #3380 "Sharing groups not synced correctly"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug, Question
| OS version (server)       | ubuntu 16.04
| OS version (client)       | 10
| PHP version               | 7.0.3
| MISP version / git hash   | 2.4.92, 8ee5b37886df97c37f2e8a7c1fb205dfd51efbe9
| Browser                   | Firefox

### Expected beh

[2018-06-26 06:57] imereau commented on #3376
Exact same issue here.

[2018-06-26 07:01] iglocska commented on #3376
Ping @chrisr3d

[2018-06-26 07:18] iglocska commented on #3380
I don't seem to be able to reproduce this under normal conditions. What I've tried:

1. Two MISP instances, MISP1, MISP2
2. MISP1 and MISP2 are run by two organisations (ORG1, ORG2)
3. New sharing group -  SG1 - created on MISP1: includes MISP1, MISP2, ORG1, ORG2
4. ID of sharing group on MISP1 is "2". MISP2 already has a differnet sharing group with the ID "2"
5. ORG1 on MISP1 creates an event EV

[2018-06-26 07:33] Kahuna01 commented on #3380
Thanks for your answer!
In our case MISP 1 and MISP 2 are both run by our organisation, so are internal instances.
And yes, the sync user has sharing group editor rights.

When we first received the event from an external MISP (MISP 0 if you want), everything was fine too and the new received sharing groups are added with a new ID.
Just the sharing from one internal instance to another was buggy.

[2018-06-26 07:51] kanocool commented on #3376
Found extra logging information after doing a pull this morning.
when i want to stix/download it populates the following log with the stacktrace below.
**Exec-error.log**

 File "/var/www/MISP/app/files/scripts/misp2stix.py", line 1579, in <module>
    main(sys.argv)
  File "/var/www/MISP/app/files/scripts/misp2stix.py", line 1574, in main
    stix_builder.generateEventPackage()
  File "/var/www/M

[2018-06-26 07:55] chrisr3d commented on #3376
Thanks for this additional information, I just found the same, but was afraid it was something else
I'll update it in a few minutes

[2018-06-26 08:15] chrisr3d commented on #3376
Pushed the update, it is working for me on the latest VM, but let me know if you still have an issue with this.

[2018-06-26 08:23] neo609 opened #3381 "Failed to sync action events with many attribute values"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Question
| OS version (server)       | ubuntu 16.04 LTS
| OS version (client)       | Windows 7
| PHP version               | 7.0.30
| MISP version / git hash   | 2.4.92
| Browser                   |  chrome

### Expected behavior

### Actual behavior
I have c

[2018-06-26 08:28] kanocool commented on #3376
Just tested it, and it works again!

Thanks for the quick action your part :)

[2018-06-26 08:36] iglocska commented on #3376
Thanks for the quick resolution @chrisr3d  and the quick feedback @kanocool :)

[2018-06-26 08:36] #3376 closed, assigned to chrisr3d

[2018-06-26 08:38] chrisr3d commented on #3376
Yep, you're welcome ;-)

[2018-06-26 08:49] iglocska commented on #3380
Ah interesting. So it's an issue with the internal sync, will have another
look if I can reproduce it!

On Tue, Jun 26, 2018 at 9:36 AM, Kahuna01 <notifications@github.com> wrote:

[2018-06-26 08:53] iglocska commented on #3380
Was it a push or a pull btw?

On Tue, Jun 26, 2018 at 10:49 AM, Andras Iklody <andras.iklody@gmail.com>
wrote:

[2018-06-26 09:07] Kahuna01 commented on #3380
Between the two internal instances I pulled in manually via "List Servers" --> "Pull all".

[2018-06-26 09:11] iglocska commented on #3380
Thanks, that should make debugging easier! :)

On Tue, Jun 26, 2018 at 11:07 AM, Kahuna01 <notifications@github.com> wrote:

[2018-06-26 12:23] Grem25 commented on #3381
Are you sure that all attributs from your MISP_A events are set with the distribution mode "connected"  or "all" ?

[2018-06-27 04:25] Rafiot opened #3383 "Freetext import fails to detect IPv6 in long form"
Detected: fe80::f2cd:7d80:3f37:52c6
Not detected: fe80:0000:f2cd:7d80:3f37:52c6

[2018-06-27 04:45] SteveClement opened #3385 "Propose delete broken on file object level (or more)"
On the latest MISP VM, after adding an attachment, proposing a delete within a file object does not work.

The 'Yes' dialog is not responding.

 Currently installed version… v2.4.93 (77e5b7a3b195dbf4d9c87ef60f913e9c4882749c)

[2018-06-27 06:59] adulau commented on #3276
@kyr-stefanidis Did you test with the recent version?

[2018-06-27 07:15] ShimiCohen opened #3386 "mi"

[2018-06-27 07:48] adulau commented on #3386
The error message is pretty clear:

`Authentication failed. Please make sure you pass the API key of an API enabled user along in the Authorization header.`

As mentioned in the documentation:

https://www.circl.lu/doc/misp/automation/#automation-key

Cheers

[2018-06-27 07:48] #3386 closed, assigned to nobody

[2018-06-27 08:07] shimi199393 commented on #3386
I know the curl but i need to move the auth key in url . Sourcefire ips get
feed in url . You have soloution for this ?
Thanks

בתאריך יום ד׳, 27 ביוני 2018, 10:49, מאת Alexandre Dulaunoy ‏<
notifications@github.com>:

[2018-06-27 08:24] chrisr3d commented on #3370
Thank you for your feedback, I updated the import part to have both `MISP.default_event_distribution` and `MISP.default_attribute_distribution` as parameters of the python script, and set the distribution values for event, objects and attributes accordingly

[2018-06-27 09:01] Rafiot opened #3387 "Daily audit log sent per email for each user"
MISP should be able to send a mail once a day with the audit log details

[2018-06-27 09:02] Rafiot opened #3388 "Make the audit logs accessible through the API"

[2018-06-27 10:04] neo609 commented on #3381
Thank you for your response!

Distribution mode of events is all "Connected" in MISP_A. And then, distribution mode of attributes is all "inherit".
I tried to check the status about MISP_B, I found the following error mesage in MISP/app/tmp/logs/error.log:

Error: Fatal Error (1): Allowed memory size of 134217728 bytes exhausted (tried to allocate 48250880 bytes) in [/var/www/MISP/app/View/Element

[2018-06-27 10:04] #3381 closed, assigned to nobody

[2018-06-27 12:22] cvandeplas opened #3389 "MITRE ATT&CK matrix - UI issues"
The ATT&CK matrix is really cool, however it has some downsides:
- the user needs a large screen resolution, screens with 1600x900 are not sufficient to show the whole matrix, nor the submit button. Today, more than half of the screens have a height of 900 or less pixels.

- the submit button is really not on a natural place, nor is it consistent with the UI behavior of the other windows. My propo

[2018-06-27 12:27] adulau commented on #3389
Good point. It will be changed.

[2018-06-27 13:19] adulau commented on #3389
@cvandeplas it should be for the next 2.4.94.

[2018-06-27 13:40] adulau commented on #3380
@iglocska can we close it?

[2018-06-27 14:17] Delta-Sierra opened #3390 "User interface - "moving menu""
Thanks to the nice information message that tells us if an operation succeded or not, the menu on the left is moved a bit to the bottom.

![screenshot from 2018-06-27 16-09-06](https://user-images.githubusercontent.com/17081497/41979883-6a9e31fa-7a25-11e8-8c6c-31f2a6567931.png)

It could be interesting if the information message could appears only on the right part of the screen (for instance wher

[2018-06-27 14:40] adulau commented on #3386
Fixed in https://github.com/MISP/MISP/commit/81c0fc2279583fccac879d302039c8b6f110f9ae

We hope this helps.

[2018-06-27 15:17] iglocska commented on #3381
Excellent, thanks for the feedback! :)

[2018-06-27 16:10] GitHubMISPer opened #3391 "Attribute Sightings Not Global Across Events"
I believe that I've outlined a **bug** in this post... but it is possible that MISP's attribute sightings are working as intended, just not how I want to use them. In that case, treat this post as a feature request. Let me know.

# Sightings Not Updating Globally
Sightings for attributes are not updating across events unless you use one specific function of PyMISP, `sighting()`

### Expected Behav

[2018-06-27 19:04] github-germ opened #3392 "possible to get users.email in error.log output"
is there a way to change what is logged to MISP/app/tmp/logs/error.log (perhaps ala Apache httpd LogFormat directive)?

e.g. would be helpful to have the users.email to trace what user transaction may have triggered an error.

[2018-06-27 19:14] iglocska commented on #3392
Definitely not possible. Not all of the executed code that can generate an
exception is aware of what the currently authenticated user is.

On Wed, Jun 27, 2018 at 9:04 PM, github-germ <notifications@github.com>
wrote:

[2018-06-27 19:32] github-germ commented on #3392
had a feeling, but thought i'd ask. we had a similar issue in an in-house system we built, but did find a way to pass the user down thru the layers. thx for your reply.

closing since not possible.

[2018-06-27 19:32] #3392 closed, assigned to nobody

[2018-06-28 03:09] ShimiCohen opened #3393 "Int"

[2018-06-28 05:03] RichieB2B commented on #3393
We can try to port it to Visual Basic?

[2018-06-28 05:15] shimi199393 commented on #3393
What is virtual basic ?

בתאריך יום ה׳, 28 ביוני 2018, 08:03, מאת Richie B2B ‏<
notifications@github.com>:

[2018-06-28 05:37] iglocska commented on #3393
https://github.com/stricaud/TA-misp

https://github.com/remg427/misp42splunk

[2018-06-28 05:37] #3393 closed, assigned to nobody

[2018-06-28 05:47] ShimiCohen commented on #3393
I know this introduction but the splunk need python 3 ? Or i can in python 2.7?

[2018-06-28 08:31] iglocska opened #3394 "restrict certain roles to certain distribution levels"
If a community only wants to allow distribution to this community only for normal users - we should be absolutely able to do that.

[2018-06-28 08:52] cvandeplas commented on #3394
Formulated slightly differently.

Give a role based access control to users for the access to the distribution levels and sharing groups for events and attributes.

For example, on a MISP instance with SG1, SG2, SG3;
- User 1 can be authorized to set the distribution to my org, SG1,
- User 2 can be authorized to choose my org, this community, connected communitites, SG1, SG2, SG3
- User 3 can be a

[2018-06-28 09:43] SivaPrem opened #3395 "MITRE ATT&CK matrix Issue"
Hello Team

Thanks for integrating the Mitre Attack matrix , I did the update to the latest version v2.4.93  , The update was good and from the Diagnostics I can see its now upgraded to the latest version

But surprisingly i couldn't find the attack matrix  in the GUI loaded !!! and I have only the option ATTACK Matrix which is empty only with sown bar / icon

Am I missing something for the update

[2018-06-28 09:44] adulau opened #3396 "Paranoid logging (only via syslog or ZMQ pub-sub)"
Paranoid logging (only via syslog or ZMQ pub-sub)

[2018-06-28 09:48] adulau opened #3397 "Show a trace of country origin from the user/api connecting to MISP"
Show a trace of country origin from the user/api connecting to MISP

[2018-06-28 09:57] adulau opened #3398 "Atomic versus extended user-configurable"
Atomic versus extended user-configurable

[2018-06-28 10:09] mokaddem commented on #3395
Hello! Thanks for your feedback.
Can you check that you have the galaxy ``Enterprise Attack - Attack Pattern galaxy`` on your MISP?
If not, can you pull and update your galaxies then, try again?

[2018-06-28 10:34] SteveClement commented on #3003
@nrgopi786 is this still an issue in the latest MISP?

[2018-06-28 10:36] SteveClement commented on #2981
@nrgopi786 I suppose this is resolved.
Thank to @amuehlem for the help!

[2018-06-28 10:36] #2981 closed, assigned to SteveClement

[2018-06-28 10:39] Rafiot commented on #3391
So to answer to a part of your bug report (thank you very much for the time you spent on it btw):
`sighting_per_id()` and `sighting_per_uuid()` are supposed to add a sighting to the specific attribute (by ID/UUID), and not any of the others with the same value.

In your case, you definitely want to use `sighting()`.

You have a good point regarding the new attributes, and I'm going to wave at @igl

[2018-06-28 10:40] #1246 closed, assigned to nobody

[2018-06-28 10:41] #2108 closed, assigned to SteveClement

[2018-06-28 10:44] #1466 closed, assigned to nobody

[2018-06-28 11:17] SivaPrem commented on #3395
@mokaddem : Hello !!! Thank you very much , I updated the galaxies and its working fine now

Thank you very much !!!!

[2018-06-28 11:28] SivaPrem commented on #3395
@mokaddem : The submit button has some inconsistency with the GUI  !!! may it can pushed next to cancel button !!!! Did someone report or experience the same issue  ??

[2018-06-28 11:48] mokaddem commented on #3395
The layout of the ATT&CK matrix is being reworked a bit. It will be better for the next released.
Thanks for the report anyway.

[2018-06-28 13:05] iglocska opened #3400 "Create a new role to "approve" users"
idea is that if org admins create users, credentials should only be sent out if the approval authority approves the user.

Org admins by default would have both powers, but in cases where desired a community could split the roles.

[2018-06-28 14:26] GitHubMISPer commented on #3391
@Rafiot Glad I could help, and thanks for clarifying `sighting_per_id()` and `sighting_per_uuid()`.

One more question: Is the thumbs-up/thumbs-down next to attributes in the UI supposed to work the same way where it only adds a sighting for that one attribute (and not all attributes with that value)? Is there any way to globally update sightings for all attributes with the same value through the

[2018-06-28 15:26] SteveClement commented on #3337
@ktneely no, please just use pip, this will install the python3 modules. If you have any install issues doing that, please report it back.

[2018-06-28 16:22] SteveClement opened #3401 "mispzmq.py throws uncatched exception"
In mispzmq.py if zmq is already running it "bombs" out.

Implement try/catch
for: zmq.error.ZMQError: Address already in use

==> mispzmq.error.log <==
Traceback (most recent call last):
  File "/var/www/MISP/app/files/scripts/mispzmq/mispzmq.py", line 103, in <module>
    main(sys.argv)
  File "/var/www/MISP/app/files/scripts/mispzmq/mispzmq.py", line 71, in main
    socket.bind("tcp://*:%s" % se

[2018-06-28 16:26] SteveClement opened #3402 "Better error handling in UI when Import services are not reacheable"
For some reason in my dev environment my misp-modules are "slow" and some time fail to respond.

The UI will simply throw an internal exception, but it could be catched with the below from error.log

UI:
An Internal Error Has Occurred.

Error: An Internal Error Has Occurred.

==> error.log <==
2018-06-29 01:23:22 Error: [Exception] Import service not reachable.
Request URL: /events/importModule/oc

[2018-06-28 16:39] SteveClement opened #3403 "Tornado in misp-modules timing out when submit large PDF"
When submitting a large-ish file and script execution takes some time.
Tornado times out.

Investigate: how to make tornado wait :)

Todo: Update VM and INSTALL materials to take change into account.

ERROR:tornado.application:Exception in Future <Future at 0x7fb7580d81d0 state=finished raised WandError> after timeout
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-package

[2018-06-28 17:09] SteveClement opened #3404 "misp-modules timeout too low by default (on VM)"
Update packer build script to take a longer time out into consideration.

Potentially update this default to larger then 10 seconds.

WARNING:misp-modules:Timeout on ocr

[2018-06-28 17:15] Rafiot commented on #3337
The zmq script is broken in python3, I have a fix here: https://github.com/MISP/MISP/pull/3405

This PR will port everything it touches to python 3.6 (there will be no backward compatibility to python2, and no way to choose on the web interface, because this is a pain).

[2018-06-28 20:07] ShimiCohen opened #3406 "Bu"

[2018-06-28 20:13] ShimiCohen opened #3407 "Se"

[2018-06-29 03:00] SteveClement opened #3408 "cake CLI - setSettings for "Session.autoRegenerate""
Setting Session.autoRegenerate via the CLI with the boolean keyword "false" does not get considered.

This will NOT work:

$PATH_TO_MISP/app/Console/cake Admin _getSetting_ "Session.autoRegenerate"
$PATH_TO_MISP/app/Console/cake Admin _setSetting_ "Session.autoRegenerate" **false**
$PATH_TO_MISP/app/Console/cake Admin _getSetting_ "Session.autoRegenerate"

This WILL work:
$PATH_TO_MISP/app/Console

[2018-06-29 03:08] SteveClement commented on #3406
@shimi199393 are you using the VM or your own setup? Double check the following:
In : servers/serverSettings/Security
What value is: Session.autoRegenerate ?

If this is set you will be logged out after X requests.

On all my setups this behaviour is not reproducible.

[2018-06-29 03:08] #3406 closed, assigned to SteveClement

[2018-06-29 03:32] SteveClement commented on #3407
You want to be more specific on which server you enable your proxy.
It looks like your proxy is not considering the requests you make.
This is likely an issue with your Setup and not with MISP.

[2018-06-29 03:54] SteveClement commented on #3377
@HJBond please double check your install, follow the procedures perhaps again.

[2018-06-29 06:10] shimi199393 commented on #3407
You can explain how to set this ? I have 2 misp . Misp A 2 interface ;
172.16.10.57
192.168.179.193
Misp B 1 interface ;
172.16.11.65
And i need to set proxy misp B:
Proxy address : 172.16.8.105
The proxy have access to network and he communicate with 2 misp in port
8080.
Thanks

בתאריך יום ו׳, 29 ביוני 2018, 06:32, מאת Steve Clement ‏<
notifications@github.com>:

[2018-06-29 06:12] shimi199393 commented on #3406
This clean setup and its 2 misp . You try this ?

בתאריך יום ו׳, 29 ביוני 2018, 06:08, מאת Steve Clement ‏<
notifications@github.com>:

[2018-06-29 07:39] adulau commented on #3389
@cvandeplas Could you check if the recent pull-request #3410 solved it? Thank you

[2018-06-29 07:48] mokaddem commented on #3389
If you have other suggestions or see other improvement, please, feel free to also share them.
Thanks!

[2018-06-29 08:26] RichieB2B commented on #3303
It seems that this is not just caused by ATT&CK galaxy tags on the attribute level. Here is GalaxyCluster on an event that also has the `<0>` XML tag:
[code]
which is caused by multiple meta refs in [app/files/misp-galaxy/clusters/tool.json](https://github.com/MISP/misp-galaxy/blob/master/clusters/tool.json#L1533):
[code]
Please note that the second ref to bleepingcomputer is not exported. Not in

[2018-06-29 08:42] amartinr commented on #3366
Hi,

I'm experiencing the same warning with v2.4.93 in CentOS 7. The error shows up while fetching feeds via a scheduled jobs at 1:00.
[code]

It also happens for lines 776 and 992 in `app/Model/Feed.php`.

[code]
In the Feeds page some entries have _Error: Invalid event!_. Some others show _New fixed event_.

[2018-06-29 08:55] Andraaada opened #3411 "MISP API GET events/index what is the limit?"
I have a question related to events/index limit. In the documentation is written that it is limited, but there is not mentioned any number. Can you tell what is the limit for the returned events?

Many thanks!

[2018-06-29 10:52] iglocska opened #3412 "Show averages for taxonomies that have numeric values"
Right now we store the internal numeric value but don't actually use it.

Claculate the averages / event

[2018-06-29 11:01] iglocska opened #3413 "Manual import of a MISP export with a sharing group"
Ties the event to the wrong sharing group

[2018-06-29 11:55] samuelcardillo opened #3414 "Errors on fresh install"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | CentOS
| OS version (client)       | Mac OS X, Windows, ...
| PHP version               | 5.6
| MISP version / git hash   | 2.4
| Browser                   | Google Chrome, Firefox, ..

### Expected behavior
Show page correctl

[2018-06-29 15:48] ghost opened #3415 "MISP on AWS EC2 community image"
So I've installed the AWS ec2 MISP community image

Will I run into any issues if I use this for production?

I'm new to MISP and AWS so I'm totally noobie

Thank you

[2018-06-29 17:50] felixpk opened #3416 ""Sync User For" Option is not clear"
I have a question regarding the "Sync User for" option when creating a SyncUser.

There seems to be no benefit in assigning the SyncServer to the SyncUser.
Other than that: For a one-directional share, let's say **Instance A** has a SyncServer and **Instance B** has the SyncUser. In this szenario the SyncUser cannot be bound to any server, because the instance just has no SyncServer.
Only in the s

[2018-06-30 06:21] #2020 closed, assigned to nobody

[2018-06-30 07:35] SteveClement commented on #3404
updated to 300 seconds.

[2018-06-30 07:35] #3404 closed, assigned to SteveClement

[2018-06-30 07:37] SteveClement commented on #3403
Fixed in upcoming misp-modules PR

[2018-06-30 07:37] #3403 closed, assigned to SteveClement

[2018-06-30 07:50] Rafiot commented on #3401
This should be fixed in this PR: https://github.com/MISP/MISP/pull/3405

[2018-06-30 08:09] randomname13 opened #3418 "checkIfLoggedIn"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | checkIfLoggedIn frequently logs out the user
| OS version (server)       |  ubuntu
| OS version (client)       | 14.04, 16.04
| PHP version               | 5,7
| MISP version / git hash   | 2.4.93, cc12a4a2fb375a2aac0258ad55bf7bef79c3caee
| Browser

[2018-06-30 09:52] DigiAngel opened #3419 "500 error when "perform on existing" for rexexp"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Debian
| OS version (client)       | Stretch
| PHP version               | 7.0
| MISP version / git hash   | 2.4.93
| Browser                   | Chrome

### Expected behavior
Apply regular expressions

### Actual behavior
500

[2018-06-30 09:54] DigiAngel opened #3420 "'/regexp/admin_index/page:2' not found"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Debian
| OS version (client)       | Stretch
| PHP version               | 7.0
| MISP version / git hash   | 2.4.93
| Browser                   | Chrome

### Expected behavior
Get to the second page of imported regexp

### Act

[2018-06-30 10:41] rmkml opened #3421 "After upgrade version 2.4.93, restapi version always 2.4.92"
Hello,
Thx for greats products and greats features!
Could you check restapi version always 2.4.92 after upgrade to 2.4.93 ?
Best Regards
@Rmkml

[2018-06-30 13:31] github-germ commented on #3318
@Rafiot ... Now that the original cause of many HTTP 503 errors has been mitigated via https://github.com/deralexxx/PySight2MISP/pull/6 let me know when we want to revisit this issue to enhance PyMISP exception handling for clients perhaps by once again looking at https://github.com/MISP/MISP/issues/3318#issuecomment-398163042

Thanks.

[2018-06-30 13:36] github-germ commented on #3361
@iglocska ... Howdy, when you get some time, I'm still curious as to why a simple PyMISP API loop to delete events in series (no concurrency) can yield HTTP 503  errors or why deleting multiple events from the WebUI doesn't fully complete (likely related). Thanks.

[2018-06-30 13:40] github-germ commented on #3351
As we continue to roll-out MISP to in-house data consumers, we may need to the ability to throttle automated client access. Any insight on how to do this with an existing MISP feature or approaches that others may have used to control access. Thanks...

[2018-06-30 13:43] github-germ commented on #3343
Hoping someone can educate us better on best-practices for user access to events via `distribution`, `sharing-groups`, etc. We are at the point where we need to design how we will implement this. Thank you.

[2018-06-30 16:22] iglocska commented on #3343
Ping @Rafiot

[2018-06-30 16:23] iglocska commented on #3418
Could you check if your Session.autoregenerate setting is set in administration -> server settings -> security?

[2018-06-30 21:25] adulau commented on #3351
There is a functionality per role where you can limit the memory usage and/or time of execution.

[2018-06-30 23:17] juju4 opened #3422 "Notice Error: Undefined variable: dataSource in [/var/www/MISP/app/Model/User.php, line 1104]"
Issue when calling cake userInit since about 13d
Non-blocking error as key is generated but above error message (ignored error code in ansible role for now)

Maybe linked to

https://github.com/MISP/MISP/commit/87c152d9f3696fecbdbaeeb593b7d7755b58ec8a#diff-02808643f83778450f7ccbe3067eeb9cR1104
https://github.com/MISP/MISP/blob/2.4/app/Config/database.default.php#L63

tried /dateSource/datesource/

[2018-07-01 11:10] Rafiot commented on #3318
The 503 are raised by the web server, with no indications on what went wrong on MISP side, so there is no way to do anything else than hard failing.

When the response contains error messages, yes, we should handle it in a different way and I'll open a new issue for that.

[2018-07-01 11:10] #3318 closed, assigned to Rafiot

[2018-07-01 11:12] Rafiot commented on #3343
Pong @iglocska: what is the minimal keys/values I need to pass in order to set/change a sharing group?

Then, I'll add a helper in MISPEvent/MISPAttribute

[2018-07-01 12:13] Rafiot commented on #3351
This is a complex problem. There is no way to control it on PyMISP side without writing a wrapper around the class. The next question will be what do we want to rate limit? Insert? Search? Export? How gracefully does it need to be handled? Can the server just fail and the client needs to retry later?

AFAIK, this isn't a priority on our side.

[2018-07-01 13:13] adulau commented on #3351
@Rafiot Maybe the rate-limit should be on the side of a reverse proxy or alike?

[2018-07-01 14:16] iglocska commented on #3343
Will have a look tomorrow for creating sharing groups, this one is trickier - don't think the sharing group additions have self-describing APIs so that kind of sucks.

As for just setting a sharing group, sharing_group_id should work as long as the distribution level is set to 4 so this should be super straight forward.

[2018-07-01 15:45] iglocska commented on #3351
I could try to do something on MISP side too, but don't really think it's something we actively want, as @Rafiot said. If we do implement something I have a gut feeling that it should be tied to role settings.

[2018-07-01 16:24] github-germ commented on #3351
Thx... Good points. Let me bring it back to the folks on my side who are interested in this rate limiting feature to see if we can refine with more details on what we'd looking for.

[2018-07-01 16:27] adulau commented on #3421
Fixed in e8d8d80aba771bf5c99e4d8904b1ee61f9b3dec1 and PyMISP has been released as 2.4.93

Thank you.

[2018-07-01 16:27] #3421 closed, assigned to nobody

[2018-07-01 16:28] adulau commented on #3418
Could you update to the latest version 8559af8c6a4d5b7220b046fe933722cf46aa81a3 ? This fixed various issues with the sessions.

[2018-07-01 18:57] randomname13 commented on #3418
Session.autoRegenerate is false.
We have updated it no to the newest version. We will see how it works, thanks

[2018-07-01 19:00] adulau commented on #3418
@randomname13 Thank you. Let us know. I'll close the issue. Feel free to reopen if the issue persists.

[2018-07-01 19:00] #3418 closed, assigned to nobody

[2018-07-01 19:00] #3389 closed, assigned to mokaddem

[2018-07-01 19:01] adulau commented on #3395
This has been fixed in 906bbd873a8dceb15624acd9015ec11fca21ec2c

[2018-07-01 19:01] #3395 closed, assigned to nobody

[2018-07-01 19:03] randomname13 commented on #3418
all right, thanks.

[2018-07-01 19:04] adulau commented on #103
# MISP Core
[code]

[2018-07-01 19:07] adulau commented on #592
We now have a Yara parser validator as misp-module https://github.com/MISP/misp-modules/blob/master/misp_modules/modules/expansion/yara_syntax_validator.py

[2018-07-01 19:07] #592 closed

[2018-07-01 19:09] adulau commented on #3194
Just tested on a recent version of MISP, it should work.

Here is the description of the API:

[code]

[2018-07-01 19:09] #3194 closed, assigned to nobody

[2018-07-01 19:13] adulau commented on #1090
This has been implemented sometime ago.

[2018-07-01 19:13] #1090 closed, assigned to nobody

[2018-07-01 19:17] adulau commented on #743
It was implemented sometime ago ;-)

[2018-07-01 19:17] #743 closed

[2018-07-01 19:18] adulau commented on #1064
Maybe this could be part of a notification project which is plugging on the ZMQ pub-sub channel?

[2018-07-01 19:19] #1622 closed, assigned to nobody

[2018-07-01 19:21] adulau commented on #1797
Improvements were made for the bulk delete via the UI.

[2018-07-01 19:21] #1797 closed, assigned to nobody

[2018-07-01 19:25] adulau commented on #3143
@turtlemonvh Thank you for the feedback. Indeed the attributes are the only part where we need to add the changes requested in the MISP core. Maybe we would need to clarify a bit the documentation. What are the missing types for you?

[2018-07-02 05:09] Rafiot commented on #3343
Noted, I'll had this option and sanity checks asap. I'm not sure what would be the nice way to make user's life easy.

[2018-07-02 06:52] iglocska commented on #3343
hmm the best would probably be to query the sharing groups from MISP.

[2018-07-02 10:08] xme opened #3423 "ATT&CK matrix usage"
I just upgraded my instance to 2.4.93, updated galaxies too.
I can see the matrix but:
- Can't select elements in the matrix
- No "Submit" button displayed
(I compared with the blog's video ;-)
Any idea?

[2018-07-02 10:21] SteveClement commented on #3423
There is currently a bug being discussed in Gitter, this might relate. @iglocska will let us know once fixed.

[2018-07-02 10:21] #3401 closed, assigned to Rafiot, SteveClement

[2018-07-02 10:24] SteveClement commented on #3415
Dear @casper628616 join the @MISP/misp-cloud Gitter chat: https://gitter.im/MISP/misp-cloud

You can discuss there with ppl :)

In theory if your Security Groups are set-up correctly, and you do not use a know user/pass , you will be ok.

[2018-07-02 10:24] #3415 closed, assigned to nobody

[2018-07-02 10:25] iglocska commented on #3423
That is not related. The one on gitter has to do with incorrect namespacing on galaxies and the attack matrix not having any elements.

[2018-07-02 10:25] iglocska commented on #3423
@xme do you see anyhting funky in your browsers dev console?

[2018-07-02 10:27] iglocska commented on #3423
Also, it looks like the submit button moved to the bottom of the screen, just above the cancel button ;)

[2018-07-02 10:27] Rafiot commented on #3343
Well, yes (that works already), but when you automate, you want the proper ID, or you want to use the name? What about UUID?

[2018-07-02 10:37] SteveClement commented on #3419
It works in my dev environment with latest code.

Check:
/var/www/MISP/app/tmp/logs

The error 500 should be logged there somewhere, or perhaps in your server log.

[2018-07-02 10:41] iglocska commented on #3419
Bug is confirmed, tested it and it tries to load all attributes in one shot.

[2018-07-02 10:46] SteveClement commented on #3414
@samuelcardillo can you please share the output of

/var/www/MISP/app/tmp/logs/ (Whatever changes there and looks like an error)
And maybe you web server log if something other/interesting is in there.
Did you follow our CentOS guide?
Centos 6 or 7?

[2018-07-02 11:00] SteveClement commented on #3422
@juju4 you travis output seems to be ok again? Or did you just comment stuff in?

[2018-07-02 11:04] DigiAngel commented on #3419
Here we go:
[code]

[2018-07-02 11:06] SteveClement commented on #3420
Looking into it, bug confirmed.

[2018-07-02 11:08] juju4 commented on #3422
I just ignored the exit error code as I'm still getting key out.
See raw log in https://travis-ci.org/juju4/ansible-MISP/jobs/398685901

[code]

[2018-07-02 11:11] xme commented on #3423
Nothing fancy in the web console...
And no button at all (cfr pic)
<img width="1513" alt="screen shot 2018-07-02 at 13 10 03" src="https://user-images.githubusercontent.com/480944/42160959-61ccda90-7df9-11e8-8b7e-144d8685f90b.png">

[2018-07-02 11:30] DigiAngel commented on #3420
Appreciate it Steve...here's some log info now that I know where to look for it:
[code]

[2018-07-02 12:18] adulau commented on #3423
This is the view only. To add an att&ck technique, you need to add a galaxy via the add galaxy ;-)

[2018-07-02 12:20] xme commented on #3423
OMG! Found it now... Tx! ;)

[2018-07-02 12:20] #3423 closed, assigned to nobody

[2018-07-02 12:27] adulau commented on #3423
@xme It's good feedback. We might refactor a bit the UI to avoid the confusion ;-)

[2018-07-02 12:52] iglocska commented on #3423
Yeah, we just got the exact same feedback a few minutes ago on gitter from another experienced community member - definitely something we should address! :)

[2018-07-02 13:33] liedekef commented on #1997
Seems to be related to cakeresque-status looking for wrong(?) keys in redis ... I'm having the same issue and currently gave up on debugging it and just accepted the fact that the webinterface is wrong.

[2018-07-02 13:33] liedekef commented on #2545
Seems to be related to cakeresque-status looking for wrong(?) keys in redis ... I'm having the same issue and currently gave up on debugging it and just accepted the fact that the webinterface is wrong.

[2018-07-02 13:49] ghost commented on #3415
thank you @SteveClement

[2018-07-02 14:14] iglocska commented on #2545
Hmm weird. So the only symptom is not being able to restart them from the interface? I am sure it has to do with some scl-foo

[2018-07-02 14:33] liedekef commented on #2545
Not only not being able to restart, the web interface reports the workers are not running. Doing hgetall from commandline works just fine though: redis-cli and then "HGETALL ResqueWorker" works just fine, but when I debug this in app/Vendor/kamisama/resque-status/src/ResqueStatus/ResqueStatus.php , function getWorkers, it returns an empty array.
Even more: from commandline asking for "keys *" retu

[2018-07-02 14:38] SteveClement opened #3424 "Contact Site Admin facility"
In some situations a user (or perhaps only orgadmin) might want to reach out to the Site Admin.

Under "Administration" there should be a "Contact Site Admin" option.

[2018-07-02 15:03] iglocska commented on #2545
I doubt it that it's permission related on the content itself. My worry is something funky going on with the front-end being able to access redis. On the other hand I don't get how all the other functionality works then. Argh.

[2018-07-02 15:24] liedekef commented on #2545
I just found this in a log being written all the time:
[code]
I thought (based on the install doc) that this redisent code has issues, so I did (as in the doc):
[code]
(and then activated this module in php.ini)
But it seems redisent is still being used ... any idea on how this can be disabled/stopped/debugged? It is a centos6, but I assume this is all related ... The result from phpinfo shows tha

[2018-07-02 15:39] iglocska commented on #2545
Woah!!!
That's a nice find. So it's still reverting to redisent? Sure that php-redis is installed for the SCL foo?

[2018-07-02 15:47] liedekef commented on #2545
Yup, sure it is installed. It seems the php-resque-ex and php-resque-ex-scheduler code are not really maintained by wa0x6e anymore (or nothing else, for that matter).
Could it be a good thing to try and use php-resque-ex and php-resque-ex-scheduler from here: https://github.com/rikkeisoft?q=php-resque ? It seems to include cakephp improvements and code fixes (but untested by me here). If you say y

[2018-07-02 15:50] iglocska commented on #2545
I am not sure it's really related to issues with php-resque itself really, on ubuntu it works fine. The problem is that under CentOS/RHEL you're stuck with SCL libraries where installing packages is a bit messy to say the least.

[2018-07-02 16:04] liedekef commented on #2545
Well ... if you can give any hints: much appreciated. When enabling scl-php56, phpinfo gives me the info that redis is there and enabled (and even without scl, but just using the complete path to the php binary from scl this is ok), but in the diagnostics screen from misp the cli-test says the redis extension isn't there (there's even another bugreport here mentioning something similar). Since I h

[2018-07-02 16:23] iglocska commented on #2545
Could it be a permission issue? Apache user not being able to use it? This is really weird.

[2018-07-02 19:06] liedekef commented on #2545
Apache is running as the application user too, so that's not it. I already ran the phpinfo test as that user too, but I'll run the selftest tomorrow too.

[2018-07-02 21:42] Glhenn opened #3425 "Manual / Self Created Warning Lists label:"feature request""
What's the chance of being able to create your own warning lists? Can see a use for listing your own infrastructure, or keeping static lists of things.

[2018-07-02 21:55] iglocska commented on #3425
You absolutely can. Just create a JSON file in the same format, drop it in the warninglist directory and then in MISP click on update warninglsits - it will read it from the local file. Loads of organisations already use this.

[2018-07-03 05:17] Kahuna01 commented on #3354
Furthermore it is possible for non-admins to tag single attributes but not the event itself.
Is that supposed to be that way?

[2018-07-03 07:46] liedekef commented on #2545
ding ding ding ... success!!! 2 ini files (notable in the php-fpm.d subdir) were not readable by the user (sigh ... leftover gift from my predecessor). I corrected those and now restart works from the webinterface and workers appear healthy too.

[2018-07-03 07:50] iglocska commented on #2545
Awesome, great that you managed to find them. Yeah inheriting misconfigured systems can be painful ;)

[2018-07-03 07:59] liedekef commented on #2545
Btw, small thing: the install doc says to configure php and talks about fpm, but if you follow those instructions then by default fpm will not be used (if the php-module is loaded in apache, the fpm-proxy part is not executed). Not a big deal, but fpm is not "that" easy, so maybe the doc can be revised in that regard (since fpm is not needed, why mention it at all ... it should be the experienced

[2018-07-03 08:01] iglocska commented on #2545
No idea, we don't use FPM ourselves, @RichieB2B is the grandmaster of our CentOS docs.

@RichieB2B - are you guys using FPM?

[2018-07-03 09:43] RichieB2B commented on #2545
Because in CentOS 6.x if you install a newer php (using Software Collections) you can only use mod_php if you also upgrade to Apache 2.4 (from 2.2 that comes with CentOS 6). To make the MISP installation a little less intrusive I choose to document using FPM instead. The CentOS 7 installation guide was a conversion from CentOS 6 so it inherited the FPM part as well.

Personally I recommend FPM ove

[2018-07-03 09:57] StefanKelm opened #3426 "Internal Server Error when trying to add from ATT&CK Tactic matrix"
Fresh 2.4.93: when trying to add a galaxy from the ATT&CK Tactic matrix the following error message is being briefly displayed:

![mitre](https://user-images.githubusercontent.com/25325656/42212848-9445e840-7eb7-11e8-91f9-a555e94310f7.png)

error.log shows:

[code]

I have no problems, though, simply viewing the ATT&CK matrix from the event view...

[2018-07-03 11:38] liedekef opened #3428 "git branch empty"
While in the backend, when clicking on the diagnostics, I'm seeing:
Status…	Outdated version
Current branch…

So the branch is empty. I followed the EL6 (and 7) docs to get misp from git, and doing a git status I'm getting:

[code]
Git branch tells me:
[code]
So it seems I'm on no branch at all (while I did exactly as said in step 3.01 in https://github.com/MISP/MISP/blob/2.4/INSTALL/INSTALL.rhel7

[2018-07-03 11:48] liedekef commented on #3428
Or maybe an option in misp to tell that I'm on 2.4, so it doesn't rely on git commands to detect the branch ...

[2018-07-03 11:54] RichieB2B commented on #3428
Try:
[code]

[2018-07-03 12:06] liedekef commented on #3428
Result from `git checkout 2.4` :
`error: You have local changes to 'INSTALL/INSTALL.FreeBSD.txt'; cannot switch branches.
`

[2018-07-03 12:39] RichieB2B commented on #3428
We have a FreeBSD install file? 🙃 Try:
[code]

[2018-07-03 12:43] Rafiot commented on #1707
2.3-2.4 related

[2018-07-03 12:43] #1707 closed, assigned to nobody

[2018-07-03 12:44] #3003 closed, assigned to nobody

[2018-07-03 13:08] #3426 closed, assigned to nobody

[2018-07-03 13:20] liedekef commented on #3428
Ok, after "git stash save", I needed to remove some files apparently untracked (???), then I could do git checkout and "git stash pop", after which I needed to reset some files again. Now things seem ok (allbeit after some struggling), but now this pops up in the admin interface when clicking the update:
[code]
I'm guessing that a cd-command is missing in app/Model/Server.php in the update functio

[2018-07-03 13:37] mokaddem opened #3429 "Investigate integration of Snuffeulpagus"
Snuffeulpagus is a security module for php7+ that could be used to filter malformed commands. It could be useful during file import or other system call (if any).
https://github.com/nbs-system/snuffleupagus

[2018-07-03 13:42] adulau commented on #3429
The idea would be to have a set of default rules which organisation who want to run a hardened PHP install of MISP.

[2018-07-03 13:45] iglocska commented on #3429
Awesome idea! Will cause some confusion at the office when we talk about it
(how do you even pronounce it?), but looks great.

On Tue, Jul 3, 2018 at 3:42 PM, Alexandre Dulaunoy <notifications@github.com

[2018-07-03 13:55] Grem25 opened #3430 "MISP.showorg"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug, Question,
| OS version (server)       | Debian, ubuntu,
| OS version (client)       |  Mint
| PHP version               |7.0
| MISP version / git hash   | 2.4.XX, hash of the commit

### Expected behavior
FROM book:
The operator of the MISP instance has t

[2018-07-03 14:00] iglocska commented on #3430
Yeah this feature is super outdated and deprecated. I'll remove it completely.

[2018-07-03 14:22] guard-it opened #3431 "Sharing groups not working in push mode"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| OS version (client)       | 16.04
| PHP version               | 7.0.30
| MISP version / git hash   |2.4.92

### Expected behavior
Sharing group should be created in the receiving MISP when pushing an event that is mar

[2018-07-03 14:32] iglocska commented on #3431
Is the sync user you use able to create sharing groups? (Role -> perm_sharing_group)

[2018-07-03 17:12] guard-it commented on #3431
I have used the default sync_user role which has sharing group permissions.
I can login into MISP2 and create a sharing group.
Please note that MISP2 already had some other sharing groups so there might be an id conflict. It looks like the sharinggroups are referenced by ID and not uuid

[2018-07-03 17:14] iglocska commented on #3431
hmph that is weird. Will look into it.

[2018-07-03 17:14] iglocska commented on #3431
Is it an internal sync by any chance?

[2018-07-03 17:39] guard-it commented on #3431
No it isn't ... I actually was working for me between two instances where the sync was internal - however there was no id conflict on those neither.

[2018-07-04 05:00] RichieB2B commented on #3430
Or make ir admin only? Listing the local orgs is pretty handy.

[2018-07-04 07:03] iglocska commented on #3430
I mean it's completely unmaintaned, I am pretty sure there are ways around it but no one uses it and we've been telling people it's deprecated for the past 5 years or so :)

[2018-07-04 07:04] iglocska commented on #3430
(I meant the showorg toggle, not the org list, that will stay ofc)

[2018-07-04 07:39] matthijsvp commented on #2939
Seems to have been fixed when updating from v2.4.90 to 2.4.93. Thanks for the help!

[2018-07-04 07:39] #2939 closed, assigned to nobody

[2018-07-04 09:34] Grem25 commented on #3430
Ok, then for the description of MISP.showorg it states:
_"Setting this setting to 'false' will hide all organisation names / logos."_
that's correct even you said it's now deprecated.

Actually to hide organisation list is it possible to set:
Security.hide_organisation_index_from_users
but it only works for users that haven't yet contributed data (has it's written in Changelog.txt)

It would be gr

[2018-07-04 09:38] iglocska commented on #3430
Indeed, good point!

[2018-07-04 10:21] ghost commented on #2024
Just ran into the same issue, had deployed the ansible role on a near-stock Debian 9 image. Upon visitng the webpage, a blank page came up. No error messages anywhere. Turned out that changing 'include fastcgi_params' to 'include fastcgi.conf' resolved the issue 100%

[2018-07-04 11:02] #2024 closed, assigned to nobody

[2018-07-04 12:00] iglocska commented on #3420
This should be fixed now. Thanks for the heads-up!

[2018-07-04 12:00] #3420 closed, assigned to iglocska

[2018-07-04 12:02] #3408 closed, assigned to iglocska

[2018-07-04 12:03] iglocska commented on #3408
false, entered as a parameter, is actually "false" internally so it will not work by default. Added some logic to capture the strings though and convert them.

[2018-07-04 12:21] DigiAngel commented on #3420
Confirming fixed...really appreciate the fast work on this..thank you!

[2018-07-04 15:22] SteveClement opened #3434 "mispzmq.py - FreeBSD - cwd"
On my test FreeBSD install the current work directory when mispzmq.py is called is:
[code]

It expects: /usr/local/www/MISP/app/files/scripts/mispzmq

thus it fails to load settings.json

[2018-07-04 15:37] SOCDev80 commented on #890
Hi - was this still being looked into? Or was a fix/workaround added elsewhere?

Thanks.

[2018-07-05 05:57] shehreyarahmedkohati commented on #3369
THIS IS THE ERROR WHEN I RUN THE PASSWORD RESET COMMAND @adulau
-------------------------------
Error: Database connection "Mysql" is missing, or could not be created.
#0 /var/www/MISP/app/Lib/cakephp/lib/Cake/Model/Datasource/DboSource.php(271): Mysql->connect()
#1 /var/www/MISP/app/Lib/cakephp/lib/Cake/Model/ConnectionManager.php(105): DboSource->__construct(Array)
#2 /var/www/MISP/app/Lib/cakep

[2018-07-05 07:22] shehreyarahmedkohati opened #3437 "MISP virtual appliance deployed in Vmware ESXI hypervisor- Assign IP issue"
I downloaded the MISP virtual appliance available at their website. I deployed it on my machine and it works perfectly. The machine loads  But when I deploy it on my VMware ESXI hypervisor server the machine gets an ip from the DHCP server (since the vm network settings are briged) on interface "enp0s3" for communication. However when i upload the same vm appliance to hypervisor, it does not get t

[2018-07-05 07:45] mokaddem commented on #3396
MISP may removed paranoid entries from the DB. MISP-Dashboard will be useful to perform statistics incrementally, reducing MISP memory consumption.

[2018-07-05 09:07] StefanKelm opened #3438 "Enhance footer to include link to privacy policy"
Feature request wrt GDPR: would it make sense to be able to enhance the footer to include a customisable hyperlink to a privacy policy (like the "Privacy" link on the bottom of this very page)?

[2018-07-05 09:10] iglocska commented on #3438
Why not, would make sense.

[2018-07-05 09:12] StefanKelm commented on #3438
Additional: the text itself ("Privacy") should be customisable as well in order to support other languages.

[2018-07-05 09:33] iglocska commented on #3438
All text you see on there coming from functionalities can be translated as long as the given language po files are provided, though we don't have a German version...

...yet. (hint hint nudge nudge) ;)

[2018-07-05 09:39] StefanKelm commented on #3438
Sounds like a project for rainy weekends...  :-)

[2018-07-05 10:47] SurajChennoju commented on #1087
Unable to Enable Server Settings Administration->ServerSettings->MISP tab->live

[2018-07-05 13:43] StefanKelm opened #3441 "Inconsistent application of warning lists"
On a fresh 2.4.93 warning lists **are not applied** when attributes are being added through _Add Attribute_, but they **are applied** through _freetext import_...

In the following screenshot 8.8.8.8 was added via _Add Attribute_, 9.9.9.9 via _freetext import_:

![warninglist](https://user-images.githubusercontent.com/25325656/42326306-11a7643c-8069-11e8-9ff9-1b92f6d2883b.png)

[2018-07-05 13:44] github-germ commented on #3318
Hi @Rafiot

planing out my dev roadmap for my next release internally for my project. wondering if i will include client changes as per possible improvements to `PyMISP` client interaction when "external/unexpected" exceptions, e.g. HTTP errors, occur. do you think you will have time to revisit my first ideas on https://github.com/MISP/MISP/issues/3318#issuecomment-398163042 sometime "soon"?

Than

[2018-07-05 13:45] iglocska commented on #3441
Is the IDS flag set for 8.8.8.8?

On Thu, Jul 5, 2018 at 3:43 PM, StefanKelm <notifications@github.com> wrote:

[2018-07-05 13:47] StefanKelm commented on #2769
Apparently resolved.

[2018-07-05 13:47] #2769 closed, assigned to nobody

[2018-07-05 13:54] StefanKelm commented on #3441
No, it wasn't. It works as expected when the IDS flag is set. Thanks for the swift clarification!

[2018-07-05 13:54] #3441 closed, assigned to nobody

[2018-07-05 13:58] iglocska opened #3442 "Add sanity check on handing out site admin roles"
Right now a site admin can assign site admin roles to any user on the instance. Have a warning system when they try to assign it to a user of a different organisation than the host org (should still be possible, but it should cause some red flashing lights to go off).

[2018-07-05 13:58] iglocska commented on #3441
No worries ;)

[2018-07-05 15:13] #3434 closed, assigned to SteveClement

[2018-07-05 15:14] SteveClement commented on #3434
Fixed in b249bea80bf0978ea3466c149c6cc70b7e9c4b3d

[2018-07-05 15:45] jonbelanger opened #3444 "Internal Server Error using events/index API"
max_execution_time (3600)…	OK (recommended: 300)
memory_limit (16384M)…	OK (recommended: 512M)  (this was doubled to attempt to solve)
upload_max_filesize (50M)…	OK (recommended: 50M)
post_max_size (50M)…	OK (recommended: 50M)

my.cnf has:
max_allowed_packet      = 2048M  (this was doubled to attempt to solve)

### Work environment

| Questions                 | Answers
|--------------------------

[2018-07-05 15:48] jonbelanger commented on #3444
I can't help but think this has something to do with numbers of events, but it can't be that high can it?

Events239936 (+293)  Attributes2360316 (+2639)  Attributes / event10 Correlations found50201852 Proposals active0 Users1522 Organisations151 Discussion threads3 (0)  Discussion posts6 (0)

[2018-07-05 15:59] iglocska commented on #3444
240k events? :O Indeed, that could be the cause that is unusually high. Sounds like you have a lot of tiny events. It is simply much data returned from SQL in one shot and it ends up croaking.

[2018-07-05 16:00] iglocska commented on #3444
Will look into some refactoring to solve it.

[2018-07-05 16:00] jonbelanger commented on #3444
ok, thanks.  How long of a turnaround do you think?

[2018-07-05 16:06] jonbelanger commented on #3444
Also, should I use a pipe instead of the local socket for mysql connection?

[2018-07-05 16:24] SteveClement commented on #3437
This sounds really tricky to debug without in-depth ESXi knowledge.

I will get a quick test-rig up tomorrow and see if I can reproduce it.

What version of ESXi you running @shehreyarahmedkohati ?

[2018-07-05 16:57] #3444 closed, assigned to nobody

[2018-07-05 16:57] iglocska commented on #3444
Give it a shot now!

[2018-07-05 20:48] jonbelanger commented on #3444
events/indexes returns now as does /usr/bin/python3.4 misp_searchall.py -s keyword

What kind of scale can we expect wrt number of events.  Millions?  Billions?

Thanks for the quick turnaround.

[2018-07-06 08:47] RichieB2B commented on #3428
MISP is telling you to run the git command by hand. After that things should be better.

[2018-07-06 09:12] liedekef commented on #3428
I did that, but in the webinterface the output stays the same when clicking on "update". The main update seems to be ok, but for the submodules it is not working.

[2018-07-06 09:19] RichieB2B commented on #3428
Can you paste the output of:
[code]

[2018-07-06 09:37] allenxian opened #3446 "MISP open events that contain large Attribute became very slow"

[2018-07-06 09:42] allenxian commented on #3446
this events contain 10000 objects

[2018-07-06 11:23] zeroq opened #3448 "Remove Duplicate Line of Code"
In AttributesController.php line 72 und 76 are the same, so the last one could be removed.
![screen shot 2018-07-06 at 13 21 24](https://user-images.githubusercontent.com/2749718/42376532-c690cc6a-811f-11e8-88a2-c2444848f092.png)

[2018-07-06 11:54] iglocska commented on #3448
Nice catch , thanks!

[2018-07-06 11:56] #3448 closed, assigned to nobody

[2018-07-06 11:59] liedekef commented on #3428
Well ... I ran it this morning and it updated some stuff, but of course now no more updates, so the command returns empty

[2018-07-06 12:14] RichieB2B commented on #3428
That is the correct output for no updates. Still wondering why the update button in the UI thinks there is something wrong..

[2018-07-06 12:24] liedekef commented on #3428
Can be easily reproduced on the commandline by e.g. going in /var/www/MISP/app and then executing that git command. If in /var/www/MISP, then it works as expected.
So it means the script behind the update button is in the wrong directory when the git command is being executed.

[2018-07-06 12:28] liedekef commented on #3428
I changed the update function to this:
[code]
So: adding the cd-command **and** also added the initial definition of the output variable.
This then seems to work correctly (I know that /var/www/MISP needs to be replaced by some variable probably).

[2018-07-06 12:30] github-germ commented on #3318
@Rafiot

Is there a new issue for this? Just want to stay connected on this so when there's something new I can adjust my client apps. Thx...

[2018-07-06 13:51] Rafiot commented on #3318
It is this issue: https://github.com/MISP/PyMISP/issues/248

I didn't have time to handle it yet.

[2018-07-06 14:22] Andraaada commented on #3377
I had the same problem with the cybox and stix libraries.
You should go and check in the below folder to see to which version it points.
cd /var/www/MISP/app/files/scripts/
python3 stixtest.py

I uninstalled all the libraries with pip3 till it pointed out to no version and then reinstalled.
cd /var/www/MISP/app/files/scripts/
rm -rf python-cybox
rm -rf python-stix

sudo -u www-data -H git clone ht

[2018-07-06 14:42] github-germ commented on #3318
Thx !!

[2018-07-06 16:18] SteveClement commented on #3437
@shehreyarahmedkohati I tested our VM in esxi 6.5 it works no problem with a little tweaking.
Here are my steps to get a working copy:

- Upload the contents of the output-vmware directory onto your esxi server to some new folder.
- Register a VM from disk
- Trying to boot now will fail because it auto-detected SCSI controller for the VM, so you select IDE/master instead. (in the settings of the V

[2018-07-06 16:18] #3437 closed, assigned to SteveClement

[2018-07-06 16:25] SteveClement commented on #3013
Dear @ZaneHintzman

We will enable some of the modules by default very soon.
In the meantime the most noticeable difference for you will be when you view and event and select "Download as"
If all went well you will see your enabled Export Module in that list.

[2018-07-06 16:25] #3013 closed, assigned to SteveClement

[2018-07-06 16:27] SteveClement commented on #2380
@firebitsbr we have the @MISP/misp-cloud effort that might be of interest

[2018-07-06 16:29] SteveClement commented on #2380
@flexd how well do you know the .deb generation process?
Are you actively maintaining any?
If so we can work together on getting this off the ground.
There are already rpm efforts, for what its worth.

[2018-07-06 16:34] SteveClement commented on #2074
This is fixed in latest. @jymcheong if this persists after an update, please let us know.

[2018-07-06 16:34] #2074 closed, assigned to nobody

[2018-07-06 16:48] iglocska commented on #634
Doable via the rest API, simply use "timestamp": [ts1, ts2]

[2018-07-06 16:48] #634 closed

[2018-07-06 16:49] SteveClement commented on #496
@axpatito as far as I know, not yet.
Make sure to join https://gitter.im/MISP/MISP too to make faster progress.

Looking forward to your contribution.

[2018-07-06 18:36] SteveClement commented on #634
@thomai is this still something you are interested in?

We have some means to achieve what you want to do via PyMISP

[2018-07-06 21:16] SteveClement commented on #1932
This has been implemented with input filters.

[2018-07-06 21:16] #1932 closed, assigned to nobody

[2018-07-06 21:19] SteveClement commented on #1873
this is implemented already, not ideally, but you can add arbitrary tags before submitting the list of attributes.

[2018-07-06 21:19] #1873 closed, assigned to nobody

[2018-07-06 21:38] SteveClement commented on #249
This is already implemented:

[2018-07-06 21:38] #249 closed

[2018-07-06 21:44] SteveClement commented on #245
The checkbox could be as easy as: if "first time registration" is checked, also refresh the API key.
Would make sense IMHO, plus easy to add ;)

[2018-07-06 21:52] SteveClement commented on #3369
You mysql user/password pair is wrong.

Please double check: /var/www/MISP/app/Config/database.php

class DATABASE_CONFIG {

	public $default = array(
		'datasource' => 'Database/Mysql',
		//'datasource' => 'Database/Postgres',
		'persistent' => false,
		'host' => 'localhost',
		'login' => 'misp',
		'port' => 3306, // MySQL & MariaDB
		//'port' => 5432, // PostgreSQL
		'password' => 'Password1234'

[2018-07-06 21:52] #3369 closed, assigned to nobody

[2018-07-06 21:54] SteveClement commented on #187
This has been implemented in: app/Lib/Export/NidsSuricataExport.php

[2018-07-06 21:54] #187 closed

[2018-07-06 21:56] SteveClement commented on #174
I think @cvandeplas is right ;)
And if this wants more traction, open a new issue and perhaps already suggest a practical implementation on how to enable/disable such a feature.

[2018-07-06 21:56] #174 closed

[2018-07-06 22:06] SteveClement commented on #103
root@misp-dev:/var/www/MISP# egrep -r "TODO|FIXME|LATER|TEMP|XXX" app/ | wc -l
386
~~Hmmm… #weird?~~
Well, this is only because I used my fully installed MISP instance… thus all the dependencies are considered ;)

[2018-07-06 22:24] SteveClement commented on #32
@mcm  this has been implemented as you probably know by now ;)

Closing for now, unless someone has a PR ready to further fine-tune (and perhaps finally check if valid ;) )

[2018-07-06 22:24] #32 closed

[2018-07-06 22:33] SteveClement commented on #1540
@hybiepoo is this still of interest? I can walk you through it.

[2018-07-06 22:42] SteveClement commented on #2611
testing now…

[2018-07-06 22:46] SteveClement commented on #2611
Script might want to ignore:
	modified:   app/composer.json

[2018-07-06 22:51] SteveClement commented on #2611
Here is a partial output from a debian stable perspective:

http://pastebin.lu/zosobaworu.sql
@Tux-Panik I suppose you tested on centos only.

A more generalized script would be better, I will put the script on a branch for experimental external scripts.

[2018-07-06 23:01] #1270 closed, assigned to nobody

[2018-07-06 23:06] SteveClement commented on #483
Perhaps the wiki got that covered?

https://github.com/MISP/MISP/wiki

[2018-07-06 23:06] #483 closed

[2018-07-06 23:08] SteveClement commented on #3011
A good freetext import test is plainly copy/pasting the MISP Install instructions txt file into it.

It will go crazy on some attributes ;)

[2018-07-06 23:13] hybiepoo commented on #1540
Thanks Steve, we are talking directly to the database now using a python script to pull the IOCs.

[2018-07-06 23:16] SteveClement commented on #2559
This is implemented

[2018-07-06 23:16] #2559 closed, assigned to nobody

[2018-07-07 07:06] iglocska commented on #249
Please use this with care, this is incredibly verbose and not meant to be run 24/7.

[2018-07-07 07:08] iglocska commented on #245
Definitely falls into the bad idea category, why would we reset it on an initial registration?

However, for password resets it might make sense, but considering that users will often want to reset passwords without breaking any scripts that use their API keys I would not make it the default. Perhaps simply having a warning that it will not reset the API key would be better.

[2018-07-07 07:24] flexd commented on #2380
@SteveClement I am vaguely familiar with the deb generation process. However, we do have lots of people here at work that are familiar, so I'll ask around if anyone is willing to make the effort (and also I'll still help).

[2018-07-07 08:04] iglocska commented on #2046
This is already implemented by @chrisr3d .

[2018-07-07 08:04] #2046 closed, assigned to iglocska, chrisr3d

[2018-07-07 08:29] SteveClement commented on #3377
Thanks @Andraaada
That is indeed one way to see if things are going well or not.

@HJBond if this did not solve your issue, feel free to re-open.

[2018-07-07 08:29] #3377 closed, assigned to SteveClement

[2018-07-07 08:30] SteveClement commented on #3411
@Andraaada I have 60 in my memory, checking to make sure…

[2018-07-07 08:36] SteveClement commented on #3414
@samuelcardillo let us know if this is still an issue.

[2018-07-07 08:36] #3414 closed, assigned to SteveClement

[2018-07-07 08:52] SteveClement commented on #3422
@juju4  is this still an issue with the latest 2.4 branch?

[2018-07-07 08:54] SteveClement commented on #3425
@Glhenn feel free to reopen, or even better join our Gitter Channel: https://gitter.im/MISP/MISP
To get more details.

[2018-07-07 08:54] #3425 closed, assigned to nobody

[2018-07-07 09:01] SteveClement commented on #3428
@liedekef you permission are certainly wrong at some stage.

git does not care where you are in the directory structure. (Apart from being in .git of course or in a modules directory)
Double check your permissions please.

[2018-07-07 09:01] #3428 closed, assigned to nobody

[2018-07-07 09:46] liedekef commented on #3428
@SteveClement : sorry, your reply is incorrect (and a permission issue would result in issues from the toplevel too ...). I even figured it out now, by googling the toplevel thing. Seems that git required to be in the toplevel for submodule commands, this restriction was removed in git version 1.8.4 . However centos/redhat are still running older versions of git, so in order to be compatible with

[2018-07-07 11:44] SteveClement commented on #3273
What does: critical_error##COMMA##block
generally mean?

[2018-07-07 11:47] SteveClement commented on #3256
Dear @cathy927 as this is a little older issue, can you please update to latest MISP/PyMISP and try again?

If it still fails, please check the Audit Logs and see if you see some "movement" there.

[2018-07-07 11:54] SteveClement opened #3451 "Adding Attribute that trips the Import Regexp rule wants better error message"
Adding an attribute where the regexp replaces it to NULL just fails with a friendly:

The object(s) could not be saved. Please, try again.

This wants to be changed :)

[2018-07-07 11:55] SteveClement commented on #3251
Confirmed second step, this needs to yield a better error, issue #3451

The removal does not fail anymore on my side.

Please re-open if this still fails.

[2018-07-07 11:55] #3251 closed, assigned to nobody

[2018-07-07 11:58] SteveClement commented on #3248
@zacharycheng can you please check the logs?

If anything goes wrong, make sure that you check MISP's logs for errors:
$PATH_TO_MISP/app/tmp/logs/error.log

(and other log files there)

[2018-07-07 12:03] SteveClement commented on #3236
@adulau can you be more specific? I am not sure what you understand by Inboxing.

I suppose this is a feature/enhancement.

[2018-07-07 12:05] SteveClement commented on #3229
@jezkerwin sorry for not having gotten back in due time.
Is this still an issue for you?

A good place is always our: Gitter https://gitter.im/MISP/MISP

Please re-open if still a concern.

[2018-07-07 12:05] #3229 closed, assigned to nobody

[2018-07-07 12:17] juju4 opened #3452 "redis requirepass not supported by worker start script?"
Automated install with https://github.com/juju4/ansible-MISP/tree/master.
recently added some redis security options including requirepass
https://github.com/juju4/ansible-MISP/blob/master/tasks/redis-secure.yml

I added it to MISP config.php

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version

[2018-07-07 12:27] juju4 commented on #3422
Yes, still happen in cron build from 3 days ago on all platforms (centos7, ubuntu 16.04 and 18.04)
https://travis-ci.org/juju4/ansible-MISP/builds/399995247
https://api.travis-ci.org/v3/job/399995249/log.txt

[2018-07-07 12:32] SteveClement commented on #3220
@3c7 is this still an issue with the latest release?

[2018-07-07 12:33] iglocska commented on #3411
There is no limit via the API, via the UI the default is 60. You can change that by passing the "limit" parameter.

`/events/index/limit:200/page:3`

Would be events 401->600.

[2018-07-07 12:33] #3411 closed, assigned to SteveClement

[2018-07-07 12:35] SteveClement commented on #3209
@cathy927 that is practically what needs to be done.

Have you tried the latest code? We did fix some stix2 issues there.
Please re-open if still an issue for you.

[2018-07-07 12:35] #3209 closed, assigned to nobody

[2018-07-07 12:38] SteveClement commented on #2166
@StefanKelm This is fixed in latest. Please re-open if still an issue.

[2018-07-07 12:38] #2166 closed, assigned to nobody

[2018-07-07 12:39] SteveClement commented on #3207
@Vince147  @StefanKelm #2166 is fixed.
Can you confirm if this. issue is fixed too.

[2018-07-07 13:26] adulau commented on #3236
This idea was described during a training. The concept is the following:

- When we have an inboxing mechanism (a kind of staging area for submission that need validation or review), the sighting is done automatically based on the existing the submission.
- The concept was more when people are reporting the same stuff multiple times.

[2018-07-07 23:33] SteveClement commented on #3351
Well it could be done on Firewall level, this assumes DPI and some SSL-Certificate bending…
But yes a MISP DDoS might be a concern.

[2018-07-07 23:35] SteveClement commented on #3284
@elk2 I assume you are ok now.
Please reach out if any other relate issues arise.

[2018-07-07 23:35] #3284 closed, assigned to nobody

[2018-07-07 23:39] SteveClement commented on #3319
We are working on a general performance chapter in @MISP/misp-book
Will let you know as soon as we make progress.

[2018-07-08 07:42] SteveClement commented on #3380
@iglocska bump

[2018-07-08 07:53] SteveClement commented on #3379
@Rafiot this worked in my latest test.
I suppose @iglocska fixed it :)
Please re-open if still an issue.

Tested on: https://github.com/MISP/PyMISP/commit/8f0bbab6e1a1e1f3d9672020b5fb81159d7b35ec
MISP/https://github.com/MISP/MISP/commit/94bce3688a4f7fa1cbb731926cf00115740e4eca

[2018-07-08 07:53] #3379 closed, assigned to nobody

[2018-07-08 07:54] #3378 closed, assigned to nobody

[2018-07-08 07:59] SteveClement commented on #3375
IE11 has a 9-11% market share atm, very approximate guesstimate.

https://support.microsoft.com/en-us/help/17454/lifecycle-faq-internet-explorer

**Is Internet Explorer 11 the last version of Internet Explorer?**
Yes, Internet Explorer 11 is the last major version of Internet Explorer. Internet Explorer 11 will continue receiving security updates and technical support for the lifecycle of the vers

[2018-07-08 08:00] SteveClement commented on #3366
@TomHubGit @amartinr is this still an issue with the latest version?

[2018-07-08 08:02] SteveClement commented on #3361
@github-germ is still still an issue?
Also: **large set of events** can you put a number on that please so I can reproduce and check my logs?

[2018-07-08 08:03] SteveClement commented on #3359
@TomHubGit this error is non-blocking and fixed in the latest version of pymisp.

[2018-07-08 08:03] #3359 closed, assigned to nobody

[2018-07-08 08:05] SteveClement commented on #3354
Dear @Kahuna01 have you tested on 2.4.93 already? Please let us know if this is still an issue.

[2018-07-08 08:08] SteveClement commented on #3299
@crondaemon I suppose by now you updated you cert-store.
Bypassing the verification of known good Certificates is Bad(tm) some evil MITM magic might happen if you just ignore warnings.

[2018-07-08 08:08] #3299 closed, assigned to nobody

[2018-07-08 08:10] SteveClement commented on #3314
@vedd3r you can always use @MISP/PyMISP for such an operation.
I will keep it open to think about a good way to do this via the API.

[2018-07-08 08:12] SteveClement commented on #3348
Dear @tr4shitter you can use: https://github.com/CIRCL/PyMISP/tree/master/examples/feed-generator

Join us on https://gitter.im/MISP/MISP to get support if it doesn't work out of the box for you.

[2018-07-08 08:12] #3348 closed, assigned to nobody

[2018-07-08 08:15] SteveClement commented on #3343
@github-germ I suppose this answered all your questions.
Please re-open if needed and an actual bug emerges.

[2018-07-08 08:15] #3343 closed, assigned to Rafiot

[2018-07-08 09:47] SteveClement commented on #2907
Shall this be a late stage enhancement?
@iglocska @adulau
If not, please close.

[2018-07-08 22:28] iglocska commented on #3407
This has since been fixed by adding a new flag to server connections to avoid using a proxy.

[2018-07-08 22:28] #3407 closed, assigned to SteveClement

[2018-07-08 22:28] iglocska commented on #3419
This should be fixed now, but expect to raise the execution time as it's a slow process.

[2018-07-08 22:28] #3419 closed, assigned to SteveClement

[2018-07-08 22:30] iglocska commented on #3380
Not yet, there is probably something wrong going on, seen another report for something similar.

[2018-07-08 22:35] iglocska commented on #3383
Sounds like it's correct, that is indeed not a valid ipv6 address.

[2018-07-08 22:35] #3383 closed, assigned to nobody

[2018-07-08 22:36] iglocska commented on #3383
For posterity, try fe80:0000:0000:0000:f2cd:7d80:3f37:52c6

[2018-07-08 22:40] #3366 closed, assigned to nobody

[2018-07-08 22:40] iglocska commented on #3366
Should be fixed now, thanks for the report.

[2018-07-09 00:22] DigiAngel commented on #3419
Confirmed working thank you.

[2018-07-09 04:52] Kahuna01 commented on #3380
I guess I found out what was wrong.
"Our" Organisation in the new sharing group had a wrong uuid. We tested it again with the right uuid and in went as how it was supposed to be.
Should have checked that one earlier...

[2018-07-09 05:23] Kahuna01 commented on #3354
Just tested it with the latest version, still the same problem.

Here is how it looks. The "+"Button in the event view is simply missing:
![misp1](https://user-images.githubusercontent.com/31033198/42431774-abae9c40-8347-11e8-8732-a5f284a1d4dd.png)

[2018-07-09 06:14] iglocska commented on #3354
That looks correct, only the creator org of the event can add tags - I am
more surprised by the + button on the attribute level, that looks like a
bug. Can you actually add tags to attributes using that or is it just a UI
issue?

On Mon, Jul 9, 2018 at 7:23 AM, Kahuna01 <notifications@github.com> wrote:

[2018-07-09 06:32] Kahuna01 commented on #3354
Ah, if that's the case, then it's fine. One more reason to look forward for the implementation of local tags ;-)

Yes, tagging the attribute is possible for that user. Just the publishing afterwards has to be done by an admin.

[2018-07-09 08:07] iglocska commented on #3354
Exactly - local tags are becoming the holy grail for a lot of use-cases :)

The tag edit on an attribute level is bad news, will fix it asap!

[2018-07-09 08:40] iglocska commented on #1625
This should be resolved since then, a lot of refactoring has gone into removing massive queries and responses and instead chunking the data. If any new messages like this exist, please let us know!

[2018-07-09 08:40] #1625 closed, assigned to nobody

[2018-07-09 09:15] iglocska commented on #3193
This should be fixed now, thanks!

[2018-07-09 09:15] #3193 closed, assigned to nobody

[2018-07-09 09:19] iglocska commented on #3145
This should be fixed already.

[2018-07-09 09:19] #3145 closed, assigned to nobody

[2018-07-09 09:46] StefanKelm commented on #3207
@SteveClement thank you! Over here it looks partly fixed: the _Related Events_ correctly disappear but the _Feed hits_ are still being displayed:

![feed](https://user-images.githubusercontent.com/25325656/42443303-603cd972-836d-11e8-8262-02910ca2ef29.png)

[2018-07-09 09:58] iglocska commented on #3207
Yeah indeed, feed hits aren't disabled - on the other hand they're also
"free" as opposed to correlations :)

On Mon, Jul 9, 2018 at 11:46 AM, StefanKelm <notifications@github.com>
wrote:

[2018-07-09 09:58] iglocska commented on #3207
Unless I misunderstood, if it disables it for attributes outside of objects
but not for objects it's a bug.

On Mon, Jul 9, 2018 at 11:58 AM, Andras Iklody <andras.iklody@gmail.com>
wrote:

[2018-07-09 10:17] StefanKelm commented on #3207
No, you got it right @iglocska

[2018-07-09 10:27] chrissommer opened #3453 "API Domain Attribute Download doesn't work anymore"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 16.04
| PHP version               | PHP 7.0.30-0ubuntu0.16.04.1
| MISP version / git hash   | 2.4.93

### Expected behavior
curl -X GET -k -H "Authorization: APIKEY" https://MISP-IP/attributes/text/download/domain/ - re

[2018-07-09 10:59] keram79 opened #3454 "The request has been blackholed" when publishing to ZeroMQ"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | ubuntu 16.04.4 LTS
| OS version (client)       | Win10
| MISP version / git hash   | 2.4.93,    f490e44..0a58848
| Browser                   | Firefox 61.0.1

### Expected behavior
When pressing "Publish event zo ZMQ", I'd exp

[2018-07-09 12:03] lbrossault opened #3456 "export attributes from X events"
Hello,

Is there a way to export ALL attributes from specific cluster or tag ?

Regards,

[2018-07-09 12:20] iglocska commented on #3456
Yes, using the restsearch API

POST to:
`/attributes/restSearch/download`

Using the following headers:
[code]

The following payload:
`{"tags":["mytag", "misp-galaxy:cluster=\"value\""]}`

[2018-07-09 12:20] #3456 closed, assigned to nobody

[2018-07-09 15:29] 3c7 commented on #3220
Will check and report back this week.

[2018-07-09 15:31] kalyparker opened #3458 "Export events csv with CR"
I use the events automation for exporting past event in csv.
When there is a CR in the event name, the field is not sanitize before export and the csv is broken.

[2018-07-09 16:00] ShimiCohen opened #3459 "M"

[2018-07-09 16:08] shimi199393 commented on #3386
Hi , how i can to serve the api with the attributes that i export in the
browser instead download the file (txt file) i try to change the apache and
.htaccess and is not work . I believe that the problem in code of misp.
Example :
https:///attributes/text/download/domain
Thank you
Ubuntu 16.04

בתאריך יום ד׳, 27 ביוני 2018, 17:40, מאת Alexandre Dulaunoy ‏<
notifications@github.com>:

[2018-07-10 07:25] 3c7 commented on #3220
@SteveClement Yes, todays feed fetch still stopped at 50% on v. 2.4.93. No info beside added attributes and published event in the logs.

Edit: nothing in the resque log, too.

[2018-07-10 07:28] #3458 closed, assigned to nobody

[2018-07-10 07:50] SteveClement commented on #3453
I cannot reproduce this:

[code]

@csommerkapsch can you check: /var/www/MISP/app/tmp/logs
and other logs to see what the internal server error is so we can investigate.

How many results are you expecting? Hundreds? Thousands? Millions?
Are there any special domains, like emoji domains or other internationalized domain names.?

[2018-07-10 07:56] iglocska commented on #3220
How much memory do you give php?

[2018-07-10 07:58] SteveClement commented on #3354
@iglocska closing time?

[2018-07-10 07:59] SteveClement commented on #3220
This will be difficult to debug but let's give it a try :)

Let me first double check on my side what the expect behaviour is and how to tickle the logs.

[2018-07-10 07:59] iglocska commented on #3354
"The tag edit on an attribute level is bad news, will fix it asap!"

[2018-07-10 08:01] SteveClement commented on #3459
Dear:
[code]

[2018-07-10 08:01] #3459 closed, assigned to SteveClement

[2018-07-10 08:01] SteveClement commented on #3459
Make sure to use an Auth Key that has the correct permissions.

[2018-07-10 08:19] chrissommer commented on #3453
Hi Steve,

I am expecting 20k domains.

I saw in the /var/www/MISP/app/tmp/logs/error.log, that MISP thinks there is not enogh Disk Space, although there were 1,5 GB left.
Error: [PDOException] SQLSTATE[HY000]: General error: 3 Error writing file '/tmp/MYYxdSr7' (Errcode: 28 "No space left on device")

I increased the Diskspace and now everthing is working fine.

Thank you for your Support

BR
Chr

[2018-07-10 08:19] #3453 closed, assigned to nobody

[2018-07-10 08:39] 3c7 commented on #3220
@iglocska 4G

[2018-07-10 10:54] LeanVel commented on #3354
@iglocska Plase correct me if I am wrong but, if it is should not possible to tag events coming from feeds, why can Admins do it? The ability to tag an event use to work just fine for a "reviewer" rol. It feels like the real issue here has to do with the way rols are being enforced.

[2018-07-10 11:42] adulau commented on #3453
Thanks for the feedback and the remote monitoring of your machine ;-)

[2018-07-10 12:17] Andraaada commented on #3411
Thank you very much Steve and Andras for the information. Really helpful for us.

[2018-07-10 13:54] adulau opened #3463 "[dev tool] Add a skeleton for benchmarking"
[dev tool] Add a skeleton for benchmarking

[2018-07-10 13:56] adulau opened #3464 "[debug tools] Add variable debugging for benchmarking"
[debug tools] Add variable debugging for benchmarking

[2018-07-10 19:41] github-germ opened #3465 "Why does events/view have vertical whitespace?"
We see a lot of vertical whitespace on the event/view WebUI page between the top summary and the start of the attributes.

- What is the root cause?
- Please see the attached PNG.

<img width="819" alt="event-vertical-whitespace-issue" src="https://user-images.githubusercontent.com/8812009/42533392-b3a42bde-8457-11e8-8a93-37535323d16f.png">

[2018-07-11 06:53] mokaddem opened #3466 "Pivot from warning list"
Reverse lookup, from warning list to event.

[2018-07-11 07:11] xme opened #3467 "Scheduled tasks blocked in the past?"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Ubuntu
| OS version (client)       | n/a
| PHP version               | 7.1
| MISP version / git hash   | 2.4.92
| Browser                   | n/a

### Expected behavior
We run a MISP instance in a high-availability Docker

[2018-07-11 08:07] iglocska commented on #3467
They are stored in redis and restarting them is a bit messy - any change in the interface to the scheduled tasks should retrigger them.

However, using cron jobs is preferred all of the actions you run via scheduled tasks are API exposed

[2018-07-11 08:07] iglocska commented on #3465
Can't reproduce that o.O

[2018-07-11 08:27] SteveClement commented on #1508
@cederom did you get anywhere with the port?
I created an initial Install guide: https://github.com/MISP/MISP/blob/2.4/INSTALL/INSTALL.FreeBSD.txt
(Some more needs to be merged though, I got a basic install working)

[2018-07-11 08:29] SteveClement commented on #3465
@github-germ which browser are you using? Which OS?

[2018-07-11 08:50] Grem25 opened #3468 "Sharing group & "old" events"
Question?
If I put a new Organisation in my sharing group the old events are not synchronize with this new Organisation but only the new or updated events. Is this the correct behavior?

I'm asking because with other distribution mode the past events are synchronize. Is there a workaround in order to synchronize all the previous events from a sharing group?

[2018-07-11 11:17] syloktools opened #3469 "Feeds are parsing numbers into Feeds as phone numbers"
I am sure this is not intended and it is occuring on multiple feeds:

![image](https://user-images.githubusercontent.com/20773170/42568248-7d6efe12-84da-11e8-9ab2-c1b24f8c14af.png)

[2018-07-11 12:12] cederom commented on #1508
Hello @SteveClement :-) I am not working on that project for some time anymore.. all results are internal to the company, sorry.. folks tend to prefer Linux anyway..

[2018-07-11 12:18] iglocska commented on #3468
That should work - could you describe the entire situation? (Instances involved, orgs involved, which instance they are on, current state of the SG, desired state, actual state after the change, etc)

Pseudonyms are perfectly fine ofc.

[2018-07-11 12:20] #2900 closed, assigned to adulau

[2018-07-11 12:51] allenxian opened #3472 "Bro export stuck in job queue, can't click generate button"
but worker is fine.How to stop the failed job。
![image](https://user-images.githubusercontent.com/22782166/42572468-26542f22-854c-11e8-9f7b-6d563cb7710b.png)

![image](https://user-images.githubusercontent.com/22782166/42572545-3f9b3bec-854c-11e8-8893-e5a1e8e78b8f.png)

[2018-07-11 12:56] iglocska commented on #3472
The queued message is wrong, the data is already up to date. If you modify and publish an event it will become available again for re-caching.

[2018-07-11 13:01] allenxian commented on #3472
I modify and publish an event ，it still can not be re-caching。
![image](https://user-images.githubusercontent.com/22782166/42572995-81a851b8-854d-11e8-8695-f035bc05f7a8.png)

[2018-07-11 13:02] #3469 closed, assigned to nobody

[2018-07-11 13:03] iglocska commented on #3469
Added some crappy heuristics to avoid this, thanks!

[2018-07-11 13:05] iglocska commented on #3472
Weird, will have a look.

[2018-07-11 13:08] Grem25 commented on #3468
Situation:

1. **MISP_A** with **ORG_A** and a sharing group called **SG_A**
this instance has already some events configured with the distribution mode for **SG_A**

2. A remote **MISP_B** and **ORG_B** want to be part of the sharing group **SG_A**

3. **MISP_A** add **MISP_B** (New Server) and synchronization with **ORG_B**
**MISP_A** add **MISP_B** and **ORG_B** in the sharing group **SG_A**

4

[2018-07-11 13:24] SteveClement commented on #353
@aaronkaplan if you have a small snipplet lying around as an example, feel free to share :)

[2018-07-11 13:25] #359 closed, assigned to nobody

[2018-07-11 13:54] xme commented on #3467
Any link or document to describe the cron jobs method? (lazy to Google ;-)

[2018-07-11 15:52] github-germ commented on #3465
@SteveClement Hi, I don't think this a browser rendering issue. We recall that the whitespace didn't used to be there; and it's not there if we create a new Event from the WebUI. We are seeing for Events created via our `PySight.py` (enhanced) ingestion script. It may be possible that it started after I got the `org`/`orgc` issue working (https://github.com/MISP/PyMISP/issues/239)

Win-7: Chrome,

[2018-07-11 21:27] SteveClement opened #3475 "mispzmq crashing"
The ZMQ part of MISP seems broken (tested on 2 separate installs/distro)

To reproduce:

Start mispzmq.py in shell and click on status in MISP diagnostics

[2018-07-11 21:30] SteveClement commented on #3475
Problem occurs here, smells like redis issue:

[code]

[2018-07-11 21:39] SteveClement commented on #3475
redis-cli MONITOR output

1531341833.714960 [1 [::1]:59668] "LPOP" "mispq:command"
1531341833.717024 [1 [::1]:59668] "LPOP" "mispq:data:misp_json"
1531341833.717454 [1 [::1]:59668] "LPOP" "mispq:data:misp_json_event"
1531341833.717764 [1 [::1]:59668] "LPOP" "mispq:data:misp_json_attribute"
1531341833.868057 [1 [::1]:59668] "LPOP" "mispq:data:misp_json_sighting"
1531341833.916900 [1 [::1]:59668] "L

[2018-07-11 22:27] SteveClement commented on #3475
Now:

[code]

[2018-07-12 03:47] allenxian opened #3476 "Publish multiple events via the UI in List Event"

[2018-07-12 05:59] shehreyarahmedkohati commented on #3437
Thank you! I was away on business trip so excuse me for the late reply.
My Version of EXSI is 5.5.
I'll give a try using your steps. Thanks! @SteveClement

[2018-07-12 07:58] zlob-bik opened #3477 "OVA for esxi"
Deploy from
https://www.circl.lu/misp-images/latest/MISP_v2.4.93@53f974895ee2760c4a4456b5bfd4d223ad4c67f4.ova
on esxi 5.5 report problem with platform (OVA for VirtualBox-2.2)
![1](https://user-images.githubusercontent.com/41143318/42620049-82ef5538-85c2-11e8-8a2d-e74db97226f5.jpg)
![2](https://user-images.githubusercontent.com/41143318/42620051-8705733c-85c2-11e8-91cb-08752cd84c2a.jpg)

[2018-07-12 08:02] #3475 closed, assigned to nobody

[2018-07-12 08:03] SteveClement commented on #3477
Dear,

You need to create a new VM manually and then upload the contents of the ZIP file.

I will make a screen cast soon. But will use the web interface of esxi, which should be similar enough.

See here for a little more detail: https://github.com/MISP/MISP/issues/3437#issuecomment-403080550

[2018-07-12 10:56] zlob-bik commented on #3477
OK.
Upload all from zip
scrn_1
Add to Inventory
scrn_2 (why after copy all disks conver into 1 - I don't know)
Error
Change to IDE on 5.5 can't find, change manually. Error
scrn_4
![scrn_1](https://user-images.githubusercontent.com/41143318/42629208-4d3770ba-85db-11e8-9870-6d6533c34daa.PNG)
![scrn_2](https://user-images.githubusercontent.com/41143318/42629210-4d580b54-85db-11e8-8391-725ffdfd3df8.P

[2018-07-12 12:11] adulau commented on #3476
What do you mean by "muti-events"? If you want to publish multiple events at the same time, you can use the API or do you mean something else (or you mean via the UI/Index)?

[2018-07-12 12:16] iglocska commented on #3476
Maybe extended events?

[2018-07-12 12:27] SteveClement commented on #3477
@zlob-bik quick and dirty screencast: https://www.youtube.com/watch?v=Z4pKlp43_CM

[2018-07-12 12:27] #3477 closed, assigned to SteveClement

[2018-07-12 14:05] zlob-bik commented on #3477
Solution for 6.5
I use 5.5...I can't add existing VM, only add to Inventory, but esxi 5.5.0-1331820 - don't work
If change SCSI  on IDE same problem.
https://youtu.be/LF4mnDm6XQs

[2018-07-12 15:51] iglocska commented on #3477
It looks like esxi 5.5 is going EOL very soon, do you have the possibility
to upgrade by any chance?

On Thu, Jul 12, 2018 at 4:05 PM, zlob-bik <notifications@github.com> wrote:

[2018-07-12 15:53] SteveClement commented on #3477
@zlob-bik I think you really want to think about upgrading ASAP, end of support is announced for  September 19, 2018. https://kb.vmware.com/s/article/51491

We will not further investigate this issue no this version.

For security reasons please update your system to not run into any issues.

[2018-07-12 21:23] Glhenn opened #3480 "Known MISP Pentest Reports"
Does anyone know if MISP has any "formal" pentesting done. If anyone knows of a report i would love to see it.

[2018-07-12 21:37] Zogir opened #3481 "Feed.php: memory exhaustion error when attempting to pull feed data"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | CentOS 7
| OS version (client)       | *not applicable*
| PHP version               | 7.1 (rh-php)
| MISP version / git hash   | 2.4.93 (81c0fc2279583fccac879d302039c8b6f110f9ae)
| Browser                   | *not applicable*

[2018-07-13 07:03] zlob-bik commented on #3477
Servers  form 2012
Esxi 6.5 don’t support.
Try via Linux, but …will check

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Andras Iklody <notifications@github.com>
Sent: Thursday, July 12, 2018 6:51:11 PM
To: MISP/MISP
Cc: zlob-bik; Mention
Subject: Re: [MISP/MISP] OVA for esxi (#3477)

It looks like esxi 5.5 is going EOL very s

[2018-07-13 07:38] adulau commented on #3481
Maybe your PHP needs some love but also some memory `Allowed memory size of 134217728 bytes exhausted` ;-) Don't forget to increase your `memory_limit` and check the recommended settings in the diagnostics page.

[2018-07-13 08:55] RichieB2B opened #3482 "STIX export does not split compound attributes"
When exporting a compound hash attribute like "filename|sha256" to STIX 1.x MISP does not split the filename and hash value. Instead it just exports the whole string as hash type "other".

This used to work in previous versions of MISP.
[code]

[2018-07-13 10:20] chrisr3d commented on #3482
It was a test condition I changed recently which was actually failing.
I just fixed it, it should now work as it used to do previously

[2018-07-13 10:24] RichieB2B commented on #3482
Wow, that was fast! Fix confirmed, thanks!

[2018-07-13 10:24] #3482 closed, assigned to chrisr3d

[2018-07-13 10:25] chrisr3d commented on #3482
You're welcome :)

[2018-07-13 12:43] SteveClement commented on #3480
I know there have been some done in the recent past.

@adulau and @iglocska know more.

[2018-07-13 12:59] adulau commented on #3480
We received regular penetration test or formal software security assessment reports from various organisations and we fixes all the vulnerabilities reported following our [vulnerability disclosure process](https://github.com/MISP/MISP/blob/2.4/CONTRIBUTING.md#reporting-security-vulnerabilities).

The following CVE fixed were mainly from formal pentests or assessment:

- CVE-2015-5720
- CVE-2018-89

[2018-07-13 13:03] adulau commented on #3480
By the way, don't hesitate to forward us any pentest or security review reports, we love those. Thank you!

[2018-07-13 15:08] Zogir commented on #3481
Ah, got it. Made the appropriate changes and restarted httpd and MISP, clicked "Fetch and store all feed data", received no error, and now the event information is showing up in "/events/index". Thank you for your time.

![misp_memory_limit_default_diagnostics_page](https://user-images.githubusercontent.com/11097316/42698756-73fa8300-8684-11e8-94aa-660329b20fad.png)
![edited_php ini](https://user-

[2018-07-13 15:08] #3481 closed, assigned to nobody

[2018-07-14 10:44] SteveClement commented on #3480
@Glhenn does that answer your question? Let us know if you need more details.

[2018-07-14 10:44] #3480 closed, assigned to nobody

[2018-07-14 10:44] SteveClement commented on #3476
Dear @allenxian please provide more details so we can efficiently help.

[2018-07-14 10:50] allenxian commented on #3476
I mean  via the UI.

[2018-07-14 20:34] iglocska commented on #3416
Basically consider this scenario: You (user of org_a) add a sync server on your instance (misp_a) to a partner's (org_b) instance (misp_b) in bi-directional mode (so you and the admin of misp_b both create users for one another).

You do not wish to push anything tlp:red or tlp:amber to misp_b, so you set those filters up. All events with the given tlp tags are no longer being pushed.

Then the si

[2018-07-14 20:34] #3416 closed, assigned to nobody

[2018-07-15 19:52] Kafeine opened #3484 "Search on Objects - network tuple"
| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Suggestion
| MISP version / git hash   | 2.4.90

### Actual behavior
Objects are awesome, but when it comes to search for network tuple (domain|ip) we have no clue on the object and additionnal context.

Example : for those two objects:
![image](https://user-images.githubuserconten

[2018-07-15 20:19] iglocska commented on #3484
Yeah this has been on my todo list for way too long, will try to get something working this coming week!

[2018-07-15 23:34] Glhenn commented on #3480
@SteveClement - Close enough - thanks

[2018-07-16 06:20] NandyRaja opened #3485 "Unable to edit events of other organizations - work around?"
Hi Team,

I got an use case whereas I should be able to edit the events from other organizations(while trying to add object via API - add_object method).

being known that the members of org / site-admins can edit this. I am using a service account and automation for certain tasks. Hence granting site admin privilege to service account is NOT OPTIMAL, in this case.

Please suggest if I can edit ot

[2018-07-16 11:51] Rafiot commented on #3337
I think it is all sorted, and we force >=python3.5 now.

[2018-07-16 11:51] #3337 closed, assigned to Rafiot, cvandeplas

[2018-07-16 12:26] Rafiot opened #3487 "Edit an attribute by UUID works as Site admin but not as Urg Admn or User"
To reproduce:
[code]

Works if you use the authkey of a site admin, but not if you use the key of a User or an org admin (it pukes HTML content)

The same works fine with all the auth keys if we pass the ID instead of the UUID in the URL.

[2018-07-16 15:06] combobulator commented on #3244
We are also experiencing this issue and would like to avoid the above workaround.
Our DB is in a separate docker container on the same host as the web server.

[code]

It looks like the numbers in the line starting ```#7``` refer to local & remote Event IDs(?).
Checking those entries in the database shows they both have valid values in the deleted column (integers - 0 or 1).
This issue occurs on a

[2018-07-17 05:07] #3487 closed, assigned to iglocska

[2018-07-17 11:15] patricksvgr commented on #3244
We can confirm the same behavior (on `2e172ee`) when pulling from a same version MISP (`2.4.93`) - it pulls up to a one-digit number of events before it stops, the same error as already posted occurs.

[2018-07-17 12:57] github-germ commented on #3465
When the browser window is not maximized the vertical whitespace is large; much less when maximized (but still a bit much). Could this be something like an HTML/css rendering issue?

[2018-07-17 14:09] HitHard opened #3494 "Time-based attribute search based on Event date"
Hello,

I'm using the REST API to get a list of attribute from the last 30 days.
In the results, I get an IP which is dated as 2018-03-02. The event creation was on 2018-03-02, but the last modification was on 2018/07/02.

I think the query is based on the event last modification and not on the attribute date.

Is this normal ?
Regards
------------------------------
REST query used :
https://mispp

[2018-07-17 17:35] kara-1234 opened #3495 "Attribute tags removed when an org accepts delegation request"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug,
| OS version (server)       | CentOS
| OS version (client)       | Windows 10
| PHP version               | 7.0
| MISP version / git hash   | 2.4.93
| Browser                   | Firefox

### Expected behavior

When the user accepts a delegation request f

[2018-07-17 17:42] kara-1234 commented on #3495
Just to add/confirm this bug also affects attribute galaxies too.

[2018-07-17 19:53] SteveClement opened #3496 "timeout - Unix command"
Using timeout as a command does not work on MacOS/OpenBSD

Does exist on: FreeBSD and most Linux distros.

Some of the CLI commands are prefixed with **timeout**

Think about workaround.

[2018-07-17 19:59] SteveClement commented on #3485
@NandyRaja looking into it.

[2018-07-17 20:04] SteveClement commented on #3102
@adulau can you please expand on this enhancement.

[2018-07-17 20:07] SteveClement commented on #3131
@iglocska is that true?

[2018-07-17 20:14] SteveClement commented on #3464
Aka: Variables over time.

[2018-07-17 20:17] SteveClement commented on #3258
@droe thanks for the suggestion, we will consider it.

[2018-07-17 20:19] RichieB2B commented on #3102
Life is live (na nah na nah na)

[2018-07-17 20:27] SteveClement opened #3497 "[i18n] Danish translation"
Concerns PR https://github.com/MISP/MISP/pull/3492

Uploading current PO to **crowdin** yields:

[code]

![screen shot 2018-07-17 at 22 23 41](https://user-images.githubusercontent.com/362025/42843372-2ed93994-8a10-11e8-8380-f14b9b629ffc.jpg)

@eCrimeLabs might be able to give a hand :)

Added Danish translation here: https://crowdin.com/project/misp/da#

[2018-07-17 20:29] SteveClement commented on #3497
PO works in MISP.

[2018-07-17 20:44] eCrimeLabs commented on #3497
I've fixed some missing " however the error on line 301 I could not see the error but tried changing \" to '

[2018-07-17 21:34] iglocska commented on #3131
Already fixed a while ago.

[2018-07-17 21:34] #3131 closed, assigned to nobody

[2018-07-18 09:14] SteveClement commented on #3497
Thanks @eCrimeLabs I fixed (https://github.com/MISP/MISP/pull/3499) the rest and uploaded it to crowdin.

[2018-07-18 09:14] #3497 closed, assigned to SteveClement

[2018-07-18 09:16] SteveClement commented on #3496
macOS has an hombrew package "coreutils" that provides gtimeout
OpenBSD has a port "coreutils" that provides gtimeout

[2018-07-18 11:08] zeroq commented on #2959
<img width="1183" alt="screen shot 2018-07-18 at 13 07 20" src="https://user-images.githubusercontent.com/2749718/42877943-9933f3e4-8a8b-11e8-9c56-20d79b2a0983.png">

Started to play around with QueryBuilder and Datatables ... lets see how far I get with my basic cakephp skills ;)

[2018-07-18 12:16] iglocska commented on #2959
Woaah! That looks great!

[2018-07-19 07:53] #3495 closed, assigned to SteveClement

[2018-07-19 19:08] SteveClement commented on #3476
Dear @allenxian there is no way to do that just yet.

I will convert this into an enhancement, stay tuned for updates.

[2018-07-19 19:18] SteveClement commented on #3465
@github-germ I cannot reproduce it.
Also, in your example you have no sightings.
The View is quasi agnostic when it comes to the source of the data, thus I doubt the fact that you make an API submission plays into it.

Is it only on ONE particular event or ALL events?

[2018-07-19 19:22] SteveClement commented on #3346
@Kahuna01 some more questions:

The activated feed, is it fetching a CSV feed?
If so, I suppose the target event will be a Fixed Event ID?

Perhaps you update to 2.4.93 there were some improvements in that area.

[2018-07-19 19:31] github-germ commented on #3465
@SteveClement Thx for investigating. This isn't a showstopper, but would be nice to understand.

We see it on the events ingested via `PyMISP` and not manually entered WebUI events, e.g.

**1. Manually created event:**
<img width="639" alt="screen shot 2018-07-19 at 3 23 52 pm" src="https://user-images.githubusercontent.com/8812009/42965699-acca1b6c-8b68-11e8-85e8-75f403bb6c32.png">

**2. API crea

[2018-07-19 19:33] SteveClement commented on #3198
This is indeed a bug.
@yalbertorosso @robertnixon2003 I suppose by malformed you mean something really wrong, I tried with "%"

I did try with a correct URI without a CORTEX running, and it worked ok.

[2018-07-19 19:35] syloktools commented on #3198
It no longer effects the whole instance. I think they fixed that a while back. It would try to connect for a long time before timing out.

		Get Outlook for iOS

On Thu, Jul 19, 2018 at 3:33 PM -0400, "Steve Clement" <notifications@github.com> wrote:

This is indeed a bug.

@yalbertorosso @robertnixon2003 I suppose by malformed you mean something really wrong, I tried with "%"

I did try with a co

[2018-07-19 19:44] SteveClement commented on #3422
@juju4 the dataSource error would lead me to believe there is something wrong in you **app/Config/database.php**
Double check if that is populate and correct.

A less elegant way of getting the Auth Key:

AUTH_KEY=$(mysql -u $DBUSER_MISP -p$DBPASSWORD_MISP misp -e "SELECT authkey FROM users;" | tail -1)

But this of course only works after userInit is run :(

[2018-07-19 19:57] SteveClement commented on #3361
Couldn't reproduce.
Steps taken:

- Pull in OSINT Feed into vanilla MISP
- Run:

[code]

[2018-07-19 19:57] #3361 closed, assigned to SteveClement

[2018-07-19 20:31] iglocska commented on #3346
It is indeed buggy atm, will rework the way the counting works.

[2018-07-20 08:32] iglocska commented on #3485
There is no workaround - users of other organisations should not be allowed to edit events of other organisations.

Something to consider is using the extended event functionality (so creating your own event that latches onto an existing event) instead.

[2018-07-20 08:33] iglocska commented on #3454
if you refresh the event view page, do you still get this afterwards?

[2018-07-20 12:15] Rafiot commented on #3465
Can you send us the source of the page? At least the part between activity and the galaxies.

[2018-07-20 19:31] syloktools opened #3503 "Store attributes once and link to multiple events"
Feature Request

Attributes store in separate database.

Storing attributes once and linking them to events would be a better method of managing the attributes. If an attribute does not exist it is created and is linked to an event (or an array of events, however you want to do it). If the attribute is already in the database the new event id is added to the links pointing to the attribute.

This

[2018-07-20 19:52] github-germ commented on #3503
@GitHubMISPer -- Related to #3391

[2018-07-22 05:56] adulau commented on #3102
@SteveClement It was a discussion during a training. If you disable the MISP instance (as not live), users who were entering data will loose their data. The idea is that "not live" option introduces a countdown to notify existing users about the system going not live soon.

[2018-07-23 00:55] ogmasec opened #3504 ""disable_correlation" does not work with a new object template"
### Description
After creating a new object template, MISP doesn't consider the parameter `disable_correlation`.
Setting this up `true `or `false` doesn't change anything when inserting an object, _the correlation check box is checked_.

**Please see attachment**

### MISP object
![image](https://user-images.githubusercontent.com/40192406/43052094-795eaaae-8e65-11e8-93e5-6e1d8e7154af.png)

### Obj

[2018-07-23 04:55] Kahuna01 commented on #3346
@SteveClement
You're right, in that case it is a CSV feed with a fixed Event ID. It still occurs with 2.4.93

[2018-07-23 08:19] zacharycheng commented on #3248
Here are what I got in the error.log when I encountered the above message

`2018-07-23 16:05:31 Error: [Exception]
Request URL: /events/stix/download
Stack Trace:
#0 [internal function]: EventsController->stix('download')
#1 /var/www/MISP/app/Lib/cakephp/lib/Cake/Controller/Controller.php(491): ReflectionMethod->invokeArgs(Object(EventsController), Array)
#2 /var/www/MISP/app/Lib/cakephp/lib/Cake/

[2018-07-23 11:28] kyr-stefanidis opened #3505 "CSRF (blackholed) is triggered on almost every request"
Overview

| Type of issue             | Support...
| MISP version / git hash   | 2.4.93

Since 2.4.93, the MISP instance started returning "Your request has been blackholed" on almost all non GET requests. Only the first time after login, the request goes normaly and then it is constantly blackholed until re-loggin.

the MISP instance is deployed on a docker container, with an apache reverse proxy

[2018-07-23 11:46] kjellchr opened #3506 "Sanity check on 'url', 'hostname' and 'domain' indicators"
The content of this ticket is describing issues where the 'IDS' flag is set to true.
Is it possible to get sanity checks to avoid the examples from below from happening? If any of these are expected behaviour please let me know so we can adjust our tools accordingly.

**URL**

Every now and then errors in the 'url' field is observed, e.g. there might be a space in it, not respresented by %20 but a

[2018-07-23 12:12] iglocska commented on #3506
Yeah, this comes up quite often. I don't think I'd be in favour of doing the sanity check on ingestion side for URLs, though the hostname + domain examples make sense.

On the other hand we should build the tighter controls into the IDS exports specifically.

[2018-07-23 12:14] iglocska commented on #3505
Is the baseurl set up correctly? Will have a look if I can reproduce it, but haven't seen this anywhere else.

[2018-07-23 12:16] iglocska commented on #3346
Correct, it has to do with a rather wonky way of keeping track of the attribute count. Was trying to cut some massive corners and it has some side effects. Will try to have a look this week.

[2018-07-23 12:23] kjellchr commented on #3506
Any reason why there should not be a sanity check on the ingestion side (assuming the IDS flag is checked)? More curious on the thought process around this.

In a lot of cases the user would (probably) realise the issue and fix it if he/she gets some sort of warning that this is in fact not a valid URL.

The biggest part of this issue would likely be resolved if the IDS exports had sanity checks,

[2018-07-23 12:41] SteveClement commented on #3505
@kyr-stefanidis also be careful with multiple tabs open (or even multiple browsers), that got me in such a situation in the past.
If all else fails try to clean session/cookies on browser level.

[2018-07-23 12:57] SteveClement commented on #3351
This is considered in the other ticket as well and we have reference back.
Closing for now.

[2018-07-23 12:57] #3351 closed, assigned to nobody

[2018-07-23 14:12] neok0 opened #3507 "Multiple instances of same Tag"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | ubuntu
| OS version (client)       | 10
| PHP version               | 7.0
| MISP version / git hash   | 2.4.93
| Browser                   | If applicable

### Expected behavior
Multiple instances of same tag should only appea

[2018-07-23 14:35] iglocska commented on #3507
Oh wow...

[2018-07-23 14:37] iglocska commented on #3506
In some cases you want to capture malformed information in malicious samples for example as they're also a valid artifact. We do the same for example with malformed financial indicators, but there we show a warning of it being malformed - maybe we need the same for urls. On the other hand, different tools deal differently with malformed URLs. Some will allow partial URLs as valid input, some will

[2018-07-23 15:46] SteveClement commented on #3112
This is partially a design choice.

I will mark it as enhancement in the sense to make a better default if the necessary tools are installed to do the "enrichment"

[2018-07-23 15:53] SteveClement commented on #3070
@mokaddem please review and close if https://github.com/MISP/MISP/pull/3154 covers this issue.

[2018-07-23 16:10] SteveClement commented on #3032
Add more meta data to Orgs.

e.g. URL, *Social, Phone etc… (optional and collapsed by default)

[2018-07-23 16:18] SteveClement commented on #2987
During the proposal it shows in the history, after accepting it, it vanishes.

@iglocska was that an intended feature or an oversight?

![whileproposal](https://user-images.githubusercontent.com/362025/43089367-b3d2bb1e-8ea4-11e8-9649-5917958ecad8.jpg)
![afterproposal](https://user-images.githubusercontent.com/362025/43089368-b3eaa238-8ea4-11e8-8025-f6da8e92f7fb.jpg)

[2018-07-23 16:59] kjellchr commented on #3506
Showing a warning would makes sense. They are indeed a valid artifact, depending on the context.

More often than not, IDS type tools will not be able to deal with malformed info as the whatever would generate them would most likely not even be able to generate network traffic.

By showing a warning (perhaps an option letting people choose 'I know this is malformed, please go ahead and store it')

[2018-07-24 04:36] #3507 closed, assigned to nobody

[2018-07-24 07:14] #3070 closed, assigned to mokaddem

[2018-07-24 07:17] mokaddem commented on #3070
#3449 also fixed an issue, should be working by now.

[2018-07-24 11:09] kyr-stefanidis commented on #3505
baseUrl is set up correctly as it was in 2.4.88 (by the way, some actions, like double clicking on a user, ignore the baseUrl and redirect to the internal docker container name but I that is something for another ticket)

I did the tests in new incognito as well to make sure that there are no misplaced sessions

Just an update:
Deployed 2.5.92 with the same set up (misp configuration, apache vhost

[2018-07-24 14:55] keram79 commented on #3505
This might be a duplicate with issue #3454 , please check

[2018-07-24 14:57] keram79 commented on #3454
I tried to reload the event page, and still got the "Blackholed" message. Trying again, then it went through.
It appears in almost all requests when multiple "things" are done in a short timeframe, such as "adding a new attribute, then Publish the event" - seems it is a duplicate to issue #3505

[2018-07-24 14:58] keram79 commented on #3505
As above it is written "The MISP Instance is configured to accept customAuth SSO.": we haven't deployed our system as Docker images, but in a native ubuntu environment, but we are ALSO using a custom auth (Apache, LDAP).

[2018-07-24 18:22] github-germ commented on #3465
Not sure if the HTML for the two cases will be OK. I had to redact a fair bit, but tried to keep the section in question untouched. Let me know...

1. Manually created event: no whitespace issue
[issue-3465-manual-event-no-whitespace-source-sample.txt](https://github.com/MISP/MISP/files/2224877/issue-3465-manual-event-no-whitespace-source-sample.txt)

2. API created event: extra whitespace
[issue-

[2018-07-24 22:36] jezkerwin opened #3508 "ZeroMQ settings.json file is missing"
In attempting to troubleshoot issues with ZeroMQ in Gitter, I have determined that the settings.json file is missing from ZeroMQ.

How is this file created, is there a template that I can download?
All the settings in the MISP configuration section have been set to the defaults except for the redis password option as it's not set.

[2018-07-25 00:14] jhbigler-pnnl commented on #1160
I am experiencing the same problem and resetting the password with cake does not fix the issue. I am using a VM downloaded from https://www.circl.lu/misp-images/latest/

[2018-07-25 06:15] adulau opened #3509 "Edit object - changing type of the an attribute in an existing object"
It would be nice to be able able to change the type of an attribute within an existing object. The edit interface allows to change everything except the type of the attribute.

[2018-07-25 08:18] iglocska commented on #3509
That is for a good reason. That would break the object -> attribute
relationship.

On Wed, Jul 25, 2018 at 8:15 AM, Alexandre Dulaunoy <
notifications@github.com> wrote:

[2018-07-25 09:32] cvandeplas opened #3511 "add galaxy > all namespaces filter issues with identical names in different galaxies"
### Work environment
| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug,
| MISP version / git hash   | 2.4.93,

### Behavior
There are some galaxy clusters from different galaxies that share the same `value`.
For example `misp-galaxy:android="Sofacy"` and `misp-galaxy:threat-actor="Sofacy"`.

When you want to add the entry usin

[2018-07-25 10:06] RichieB2B commented on #3504
Confirmed.. very nasty bug. :-(

[2018-07-25 14:54] jaxre commented on #2383
I have the same issue on 2.4.92
I'm unable to export attributes when I include a tag in my filter

However I think if you try using a semicolon instead of a colon in your tlp tags, it might work.
From the docs:

[2018-07-25 16:53] SteveClement commented on #3508
As per GITTER Chat:

The /var/www/MISP/app/files/scripts/mispzmq/settings.json is created when you activate ZeroMQ in the Server Settings
https://github.com/MISP/MISP/blob/a81894f14ca74a060f4d50713c6cf64f4243f954/app/Lib/Tools/PubSubTool.php

Thanks to @patricksvgr

[2018-07-25 16:53] #3508 closed, assigned to nobody

[2018-07-25 16:58] SteveClement commented on #2959
@zeroq which branch are you working on?
You should fork and push to your fork :)

But looks really good so far!

[2018-07-25 17:00] SteveClement commented on #2690
@wroersma is this still an issue for you?
@imereau I guess you might have moved on :)

[2018-07-25 17:07] iglocska commented on #2383
Please use post requests with the filters in json objects, url parameter filters are dirty and can fail in all sorts of ways.

[2018-07-25 17:16] SteveClement commented on #1646
@mokaddem is this one we can close?

[2018-07-25 17:53] SteveClement opened #3513 "black-hole tripped during galaxy delete from event"
When deleting a Galaxy from the UI, after having clicked on OK, the Galaxy expands and trips the csrf protection.

https://youtu.be/vJPe30D7GEI

[2018-07-25 18:00] SteveClement commented on #3509
@iglocska thus a non-issue?

[2018-07-25 19:05] adulau commented on #3509
Ok so the best option is to delete and add an attribute but if want to keep the same UUID. As example, I have people who are setting up url instead of link. Updating the type makes sense? instead of creating a new attribute.

[2018-07-25 21:26] iglocska commented on #3509
Why does the template allow both?

[2018-07-25 21:33] jezkerwin commented on #3508
Also as per gitter chat, no its not being created when the plugin is enabled

[2018-07-26 07:05] adulau commented on #3509
As an example (paste object), a paste url can be used for malicious use (delivering malicious payload) or used for reference as an osint source.

[2018-07-26 08:25] iglocska commented on #3509
I don't see how that would change for the paste object though. Currently the paste object has a Url::url field - editing it after the fact would break the relationship if we'd allow it. Would you allow a domain-ip object to be edited to show a filename and a hash instead of domain+ip?

[2018-07-26 08:44] adulau commented on #3509
I see the point. So It means we need to have both on the template object depending of the use of the link of the paste. I'll update it.

[2018-07-26 08:44] #3509 closed, assigned to nobody

[2018-07-26 09:02] mokaddem commented on #1646
For me we can close it.
As long as all the data is in the event, the `eventGraph` can be used for this task.
If we want to span multiple events, we have to implement something else.
What do you think @iglocska

[2018-07-26 09:09] iglocska commented on #1646
Let's close it then.

[2018-07-26 09:09] #1646 closed, assigned to mokaddem

[2018-07-26 09:12] iglocska commented on #3509
Yup, sounds great!

[2018-07-26 14:34] jaxre commented on #2383
Thanks for the suggestion! Unfortunately, it looks like I get a list of all the indicators when I do the below (regardless of what I specify as type):

``curl -H "Authorization: [APIKey] "
-X POST
-d {"type":"domain", "tags":"my_tag"}
https://my.misp.instance/attributes/text/download ``

Maybe I'm doing it wrong? I'm trying to get a text export of all my indicators of a specific type with a specif

[2018-07-26 18:50] git-kitty commented on #2837
The behavior is reproducible on our instance where the CSV contains the headers only. The exports to JSON and XML are functional.

This is not ideal as most of our users utilize the UI versus the API.

**Current Workaround**
-The CURL command below exports the data (in this case domains) to a CSV.

`curl --header "Authorization: <MISP AUTH KEY>" --header "Accept: application/json" --insecure --hea

[2018-07-27 07:19] zeroq commented on #2959
Good point ;) Yes, I will fork and work on the fork, currently it's just a local copy

[2018-07-27 07:41] stansecurecom opened #3514 "MISP automation"
I know that it's possible to get AUTOMATION KEY though web-interface, under Events>Automation section.

But is it possible to get this key trough API with the login:pass of the user?

[2018-07-27 12:32] zeroq commented on #2323
I checked that and the sighting information are in the JSON that is pushed to attached servers, however it is not processed and added to the events. I started to work on this problem and created a separate branch for that: https://github.com/zeroq/MISP/tree/sync_sightings_on_publish

[2018-07-27 13:49] infosec-intern commented on #2323
Can a setting be added to toggle the out-of-bound sighting sync? We prefer the current method of only syncing on publish

[2018-07-27 17:27] 8ear commented on #3514
I don't think.
But why you want to do this?

[2018-07-27 17:35] stansecurecom commented on #3514
I'm writing a script which will be used on different configurations (MISP servers, users, fully automated).

An API KEY is one thing that I stuck with, since there is no other way exept copy-paste it into your code.

[2018-07-27 18:33] jhbigler-pnnl opened #3516 "Can't get web interface to work"
Hello,

I am trying to get MISP running on an Ubuntu Server VM. I ran the instructions on the INSTALL.txt as closely as possible, but when I enter the server's IP address in a web browser on a separate Ubuntu Desktop VM, it says it is unable to connect to the server. I can ping the IP successfully so the VM's are able to talk to each other, and I know that Apache2 is running:

![image](https://use

[2018-07-27 19:32] adulau commented on #3516
Can you test locally the connection on the VM? with curl? It seems to be a routing issue or alike (or the name of your virtualhost of your apache configuration).

[2018-07-27 20:05] jhbigler-pnnl commented on #3516
This is the result of running curl on the server VM:

![image](https://user-images.githubusercontent.com/40866196/43344127-84056fe8-919d-11e8-9a8e-b6f30c945d9d.png)

Running the command on the Ubuntu Desktop VM results in a message saying "Connection refused".

Running curl from my host computer results in a message saying Timed Out.

[2018-07-27 22:08] jhbigler-pnnl commented on #3516
Turns out I'm just an idiot who doesn't make sure his VM's are on the same NAT network before posting to GitHub... :) All is good. Closing

[2018-07-27 22:08] #3516 closed, assigned to nobody

[2018-07-28 06:27] adulau commented on #3516
Cool. Thank you. By the way, we also generate VMs at each commit for MISP including MISP, misp-modules, viper and misp-dashboard. Available at the following location: https://www.circl.lu/misp-images/latest/

[2018-07-28 06:30] adulau commented on #3514
When you initialise a MISP with the user, you get the user API key at the same time, we are using it for the continuous integration with Travis:

https://github.com/MISP/MISP/blob/2.4/.travis.yml#L96

Let us know if this is fine, if not we can have a look at it.

[2018-07-30 06:42] stansecurecom commented on #3514
@adulau This looks like a good solution) Is there a way to do this after MISP have been initialized?

[2018-07-30 09:31] amartinr commented on #3366
Sorry for not having answered before. I was absent from office all this time. The _Undefined variable: uuid_ error is gone, thank you.

We're still experiencing the following warnings, which result on feeds not being fetched.
[code]
It seems that this only happen with non-MISP feeds. We just disabled the feeds showing the message _Error: Invalid event!_ on the web interface.

Anyway, we'd open a d

[2018-07-30 22:40] iglocska commented on #3514
I've added a new tool after you opened the issue but forgot to mention it here. You can now run this:

`/var/www/MISP/app/Console/cake Admin getAuthkey [my@email.com]`

[2018-07-30 22:40] #3514 closed, assigned to nobody

[2018-07-30 22:42] iglocska commented on #3366
Which commit ID are you on exactly? Feed.php must have been updated already as those lines don't correspond to the error messages, could you fetch the latest version and try again? Thanks!

[2018-07-31 08:32] zeroq commented on #2323
currently it is as you like it, data is only synced on publish.

[2018-07-31 10:28] StefanKelm opened #3519 "Filtering on attribute level shows misleading messages"
Minor issue: when filtering on attribute level in a non-empty event there's two possible warning messages being displayed if the search leads to no results. Both messages are a bit misleading, I think:

![filter1](https://user-images.githubusercontent.com/25325656/43454273-c4829718-94bc-11e8-9d1b-0a78c82a415d.png)
![filter2](https://user-images.githubusercontent.com/25325656/43454275-c49d655c-94bc

[2018-07-31 12:28] kyr-stefanidis commented on #3276
Long overdue reply. Yes, it works on 2.4.92+

[2018-07-31 12:40] adulau commented on #3276
@kyr-stefanidis Great! Thank you for the feedback. We will close the issue.

[2018-07-31 12:40] #3276 closed, assigned to nobody

[2018-07-31 13:22] adulau opened #3521 "Ability to add multiple ATT&CK techniques on selected attributes"
Ability to add multiple ATT&CK techniques on selected attributes

[2018-07-31 17:21] syloktools opened #3522 "Cannot add sighting if Orgc is set during automated event creation until after the event is published"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | ubuntu 18
| OS version (client)       | 10
| PHP version               | 7.2
| MISP version / git hash   | v2.4.93 (6a1c895b0a82a4a3a665bf3ffbad1d92551032a1)
| Browser                   | If applicable

### Expected behavior
S

[2018-07-31 20:49] HachimanSec commented on #3366
Hi @SteveClement , thanks for your patience. The update went unnoticed on my side. I have to reinstall my MISP instance anyway. Lets see how this will work.

Anyway, thank you so far for your support!

[2018-08-01 12:19] cgi1 commented on #2323
Solved after approved pull request imo

[2018-08-01 20:25] Zogir opened #3523 "How do I auto-publish events pulled from MISP-core-format feeds?"
I noticed MISP has an option for automatically publishing feeds. It is shown in the documentation [here](https://www.circl.lu/doc/misp/book.pdf#page=147) and [here](https://www.circl.lu/doc/misp/managing-feeds/).

The documentation shows an image of the interface with a checkbox for enabling this along with two other checkboxes:
![misp_feed_with_autopublish](https://user-images.githubusercontent.c

[2018-08-02 09:12] TostyT opened #3524 "Not able to connect to GitHub via proxy"
| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Ubuntu
| MISP version / git hash   | v2.4.92 (d1eb64446a14e5c429f973cac080e9444bdeed19)

We're unable to connect to GitHub via our proxy. Either via the update button in the GUI or via the CLI of Ubuntu.

GUI:
I've edited the file Server.php in

[2018-08-02 09:22] adulau opened #3525 "New attribute type: VIN - Vehicle Identification Number (including check as warning)"
New attribute type: VIN (including check as warning) - Vehicle Identification Number

There is a sample PHP code for checking (not sure how accurate it is):

https://stackoverflow.com/questions/3831764/php-vin-number-validation-code

The attribute type is required for a new specific object template for vehicle and car plate.

[2018-08-02 09:48] fduraibi commented on #1935
@crondaemon even with your solution submodules still ignores the proxy setting under /var/www

[code]

[2018-08-02 19:41] rmsferreira opened #3527 "Synchronization throught reverse proxy"
### Work environment

| Questions                 | Answers
|--------------------------|--------------------
| Type of issue                   | Question
| OS version (server)          | ubuntu
| PHP version                    | 7.1
| MISP version / git hash   | 2.4.93
| Browser                         | If applicable

Hi all,
I setup a MISP instance in internal network and add a possibility for e

[2018-08-02 21:59] rmsferreira commented on #3527
HI all.
Sorry for that issue but you can cancel the issue because a think the problem is a issue with my certificate.
Thanks and sorry.

[2018-08-02 21:59] #3527 closed, assigned to nobody

[2018-08-03 06:51] ndhambi opened #3528 "MISP update error"
i am trying to update MISP using the webinterface but i get the following  error.

=================================================================================

git pull origin 2.4 2>&1

From https://github.com/MISP/MISP
 * branch            2.4        -> FETCH_HEAD
error: Your local changes to the following files would be overwritten by merge:
	app/composer.json
Please, commit your changes o

[2018-08-03 09:34] Rafiot opened #3529 "Allow to pass the key "enforceWarninglist": true to an attribute within an event"
It is currently ignored by MISP, see https://github.com/MISP/mail_to_misp/issues/28

[2018-08-03 10:40] amartinr commented on #3366
Hi @iglocska, thanks so much for your interest. We're at a6b8a4a. Obviously we are way behind the current state of 2.4 branch.

Unfortunately we don't have time now to update our MISP instance. I'll update it as soon as I can. Do you recommend updating to b65dce3 or any other commit in particular in order to test again?

[2018-08-03 14:33] truckydev opened #3531 "misp_json_attribut zmq json missing an galaxy add"
Hi team :

On an attribut when I folow all topic
add a tag :
misp_json_event
misp_json_tag
{'name': 'osint:source-type="source-code-repository"', 'colour': '#005694', 'attribute_id': '216061', 'exportable': True, 'org_id': False, 'id': '62', 'user_id': '0', 'event_id': '1240', 'hide_tag': False}
misp_json_attribute
misp_json_audit

add a galaxy :
misp_json_event
misp_json_audit
misp_json_tag
{'nam

[2018-08-04 13:02] crondaemon commented on #1935
You have to go under the specific submodule and add the proxy config to its file.

[2018-08-04 13:47] adulau commented on #3525
The object template has been added:

https://github.com/MISP/misp-objects/commit/0b164141af255dd8b8e0c71c9a73b0a0dae2b6d7

and the VIN is a text attribute until we have a VIN attribute type.

[2018-08-04 21:37] PPmzp4 commented on #3472
Hello,

If you go to the "jobs" panel the task should still remain pending.
Could you go to "Administration" -> "server settings" -> "Workers". Are they running?
If they are not running, try to restart them. Queued jobs should resume.

[2018-08-06 14:11] jaxre opened #3532 "Can't start workers manually, "ERROR: Plugin CakeResque could not be found.""
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | support
| OS version (server)       | Redhat 7.5
| PHP version               | 7.1
| MISP version / git hash   | 2.4.93

### Expected behavior
Hi folks,
I'm trying to start the worker's manually via the script in '/var/www/MISP/app/Console/worker/start.sh'
Usu

[2018-08-06 20:39] adulau commented on #223
FYI, a functionality has been introduced to log to ElasticSearch in additional to ZMQ in the MISP version 2.4.94.

[2018-08-07 08:08] truckydev commented on #1301
For discussing this earlier. An idea would be to place a parameter in the administration interface to enable or disable this feature.

[2018-08-07 09:29] TostyT commented on #3524
Solved. I didn't realise that the following command is needed to force git to send the credentials and authentication method to the proxy:

`git config --global http.proxyAuthMethod 'basic'`

Source: https://git-scm.com/docs/git-config#git-config-httpproxyAuthMethod

[2018-08-07 10:51] SOCDev80 opened #3533 "Import from MISP export does not update existing events"
Per a previous request (https://github.com/MISP/MISP/issues/890) - would it be possible to add the functionality for MISP to identify when importing events where an event already exists but is different and therefore update the event accordingly?

At the moment when trying to update events via a separate MISP export.json, MISP will identify existing events but not update them if there are changes

[2018-08-07 11:04] TostyT opened #3534 "STIX import module not working"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | ubuntu
| PHP version               | 7.1
| MISP version / git hash   | v2.4.94 (b7233957b61e6014cfde49dd1e872b89ea5bcfad)

### Expected behavior
Import STIX file with success.

### Actual behavior
MISP shows the following erro

[2018-08-07 11:27] wkleinhenz commented on #3528
I am seeing this exact same issue
`git pull origin 2.4 2>&1

From https://github.com/MISP/MISP
 * branch            2.4        -> FETCH_HEAD
error: Your local changes to the following files would be overwritten by merge:
	app/composer.json
Please, commit your changes or stash them before you can merge.
Aborting
Updating accf52b..b723395

=================================

git submodule update --in

[2018-08-07 11:35] wkleinhenz commented on #3528
I was able to fix this issue by replacing composer.json with the composer.json file found here [https://github.com/MISP/MISP/blob/2.4.93/app/composer.json](url)

[2018-08-07 12:56] chrisr3d commented on #3534
Yes, I was cleaning up code in different scripts, and I forgot to push this one
It should be OK now
Sorry for the inconvenience

[2018-08-07 13:23] iglocska commented on #3528
`git checkout /var/www/MISP/app/composer.json`

should work too

On Tue, Aug 7, 2018 at 1:35 PM, Will Kleinhenz <notifications@github.com>
wrote:

[2018-08-07 13:32] TostyT commented on #3534
Downloaded the new script but still get a error message. Any thoughts?

`  File "/var/www/MISP/app/files/scripts/stix2misp.py", line 166, in parse_journal_entries
    entry_type, entry_value = journal_entry.split(': ')
ValueError: too many values to unpack (expected 2)`

[2018-08-07 15:25] obert01 commented on #3528
Not exactly related, but since a few days, when updating from the GUI, I obtain the following non-fatal error:

[code]

How may I solve this issue?

[2018-08-07 15:35] chrisr3d commented on #3534
Do you have any data to share here as an example of what you are trying to import ?
Is it coming from a MISP export of an external STIX file ?
It is a special case I never had before (because I never saw yet journal entries on files coming from external sources) so it would be cool if I could adjust the parsing for this part

Otherwise, I quick fixed it but don't hesitate if you have anything else

[2018-08-07 15:45] obert01 opened #3537 "Sync push issus since MISP 2.4.94"
### Work environment
| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| OS version (client)       | 16.04
| PHP version               | 7.0
| MISP version / git hash   | 2.4.94

### Context
I have two instances, one backend and one frontend. There is a push synchronization from the backend

[2018-08-07 16:02] #3537 closed, assigned to nobody

[2018-08-07 16:02] iglocska commented on #3537
Woah, nice catch, thanks!

[2018-08-08 08:13] adulau opened #3538 "Pivoting from any meta in galaxy cluster"
Pivoting from any meta in galaxy cluster

[2018-08-08 12:09] StefanKelm opened #3540 "Reopening and enhancing #3426"
Just did a fresh upgrade to 2.4.94 but #3426 is still there.

Furthermore, I can now no longer view the ATT&CK matrix from within an event:

![attck](https://user-images.githubusercontent.com/25325656/43836086-7a72f268-9b14-11e8-9407-0ff0dc933856.png)

Error.log shows in both cases:

[code]

[2018-08-08 12:17] iglocska commented on #3540
Just a quick naive fix for the error that you've pasted there, could you give it a shot with the latest commit?

[2018-08-08 12:41] StefanKelm commented on #3540
Thanks! Will do so tomorow and get back to you.

[2018-08-08 12:55] iglocska commented on #3540
thanks :)

[2018-08-08 14:16] ShimiCohen opened #3541 "p"

[2018-08-08 21:28] rmkml opened #3543 "After upgrade version 2.4.94, restapi version always 2.4.93"
Hello,
Thx for greats products and features!
Could you check why restapi version always 2.4.93 after upgrade to 2.4.94 ?
Like ticket #3421 .
Best Regards
@rmkml

[2018-08-08 22:48] Rafiot commented on #3543
It is cool, we just didn't update PyMISP significantly so it requires to bump the version.

It happens relatively often and this is nothing to be worried about.

[2018-08-08 22:48] #3543 closed, assigned to nobody

[2018-08-09 03:56] WaryWolf opened #3544 "Feature Request: option to GnuPG sign outgoing event emails (alerts)"
Hi,

at AusCERT we use GPG to sign the majority of our outgoing emails. MISP has GPG support built in, but only offers encryption of outgoing mails if users have provided their GPG pubkey (as far as I know - I haven't tested this feature).

Is it possible to add an option to plaintext-sign outgoing emails with the MISP server's GPG key? I think it would just require calling [this function](http://

[2018-08-09 06:13] shimi199393 commented on #3541
![capture3](https://user-images.githubusercontent.com/40624202/43881314-748bde82-9bb4-11e8-9446-50f960b0c557.PNG)

[2018-08-09 06:28] adulau commented on #3541
Already opened on the maintainer page of FireMISP https://github.com/deralexxx/FireMISP/issues/6 The issue is related to FireMISP (the url contains a 'None' value) ;-)

[2018-08-09 06:28] #3541 closed, assigned to nobody

[2018-08-09 06:39] adulau commented on #3544
Did you enable and test the option "Optional | GnuPG.sign" ? Just wondering.

[2018-08-09 08:33] StefanKelm commented on #3540
@iglocska the "quick naive fix" you provided solved both problems. :-) Thanks a lot!

[2018-08-09 08:33] #3540 closed, assigned to nobody

[2018-08-09 08:38] iglocska commented on #3540
Perfect, thanks for testing it! :)

[2018-08-09 10:08] WaryWolf commented on #3544
Hi adulau,

Yes - we've had that turned on for a while, but I think it only takes effect if the email is going to be encrypted - plaintext emails aren't signed.

I've had a look at the code, and it looks like all of the logic and GPG operations happen in app/Model/User.php:

GPG signing occurs when GnuPG.sign is true, on line 854: https://github.com/MISP/MISP/blob/7e3ac1f69e834bbfc5f9105fbbb3040bd

[2018-08-09 13:00] github-germ commented on #3541
Not sure if this will help you; however, I had taken the code from https://github.com/deralexxx/PySight2MISP and enhanced it quite a bit to make it work well ingesting into MISP (using PyMISP) via the FireEye iSIGHT API.

I intend to commit this code soon.

[2018-08-09 14:29] nagharaaj commented on #2403
i  have Error: An Internal Error Has Occurred. while  connect web services

[2018-08-09 22:21] eloyfs opened #3545 "Error when installing maec"
Im getting:
Command python setup.py egg_info" failed with error code 1 in /tmp/pip-build-r8p35kst/importlib/
When running sudo pip3 install maec

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Debian
| OS version (client)       | 9.5
| PHP version               | 7.0
|

[2018-08-10 17:00] patricksvgr commented on #3244
Alright, we did some debugging and it turns out that the table `misp.object_references` is using the wrong type `tinyint(4)` instead of `tinyint(1)` for the `deleted` field.

Fix would be: `ALTER TABLE object_references CHANGE deleted deleted tinyint(1) NOT NULL;`

[2018-08-11 13:06] adulau opened #3548 "STIX import - keeping the original STIX file attached (optional)"
STIX import - keeping the original STIX file attached (optional)

[2018-08-13 07:45] WaryWolf opened #3554 "Security bug: users can change passwords even when disableUserSelfManagement is set"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 16.04
| OS version (client)       | Ubuntu 18.04
| PHP version               | 7.0
| MISP version / git hash   | 2.4.94
| Browser                   | N/A

### Expected behavior

If the "MISP.disableUserSelfManagement" c

[2018-08-13 09:53] #3554 closed, assigned to nobody

[2018-08-14 11:26] TostyT commented on #3534
The code fix did the trick. I'm able to import STIX file now, both from a MISP export and an external STIX file.

[2018-08-14 13:21] eloyfs opened #3558 "Error: no such table: auth_user"
Im getting Error: no such table: auth_user after running
 .# sqlite3 ~/.viper/admin.db 'UPDATE auth_user SET password="pbkdf2_sha256$100000$iXgEJh8hz7Cf$vfdDAwLX8tko1t0M1TLTtGlxERkNnltUnMhbv56wK/U="'

### Actual behavior
no such table: auth_user

### Steps to reproduce the behavior
.# sqlite3 ~/.viper/admin.db 'UPDATE auth_user SET password="pbkdf2_sha256$100000$iXgEJh8hz7Cf$vfdDAwLX8tko1t0M1TLTtG

[2018-08-14 15:56] gonrada commented on #2895
@adulau The Department of Homeland Security’s (DHS) free Automated Indicator Sharing (AIS) is also a TAXII feed you could use.

[2018-08-14 19:17] p3tr0v commented on #3207
@SteveClement Still not working
I created an object, set 'disable correlation' true but MISP are correlating yet.

My object
![config](https://user-images.githubusercontent.com/28512249/44112964-fba19b42-9fdc-11e8-8118-88718ed71b96.png)

The object populated
![capturar](https://user-images.githubusercontent.com/28512249/44112990-0cb8c6bc-9fdd-11e8-93b1-6b69c066e864.PNG)

But in the graph MISP corr

[2018-08-15 08:05] adulau commented on #3558
@eloyfs are you sure you open the issue in the right repository? It seems related to [viper](https://github.com/viper-framework/viper) and not to MISP core software. Maybe you can an issue [there](https://github.com/viper-framework/viper/issues). Thank you.

[2018-08-15 08:06] #3558 closed, assigned to nobody

[2018-08-15 09:13] SteveClement commented on #3534
@chrisr3d can you close this if done.

[2018-08-15 09:15] SteveClement commented on #3533
Duplicate of #890
@SOCDev80 please use the initial issue.

[2018-08-15 09:15] #3533 closed, assigned to nobody

[2018-08-15 09:19] SteveClement commented on #3528
@obert01 this is not an issue.
Unfortunately this looks ugly but your MISP instance is being updated correctly.

Eventually we will fix this.

[2018-08-15 09:19] #3528 closed, assigned to nobody

[2018-08-15 09:21] SteveClement commented on #3524
@TostyT thanks for the feedback.

[2018-08-15 09:21] #3524 closed, assigned to nobody

[2018-08-15 09:22] SteveClement commented on #3523
@Zogir this is only implemented for CSV atm.

[2018-08-15 11:10] patricksvgr commented on #3545
Have you tried to run the command `pip3 install maec` again? ;-)

[2018-08-15 11:32] patricksvgr commented on #3508
Might be a permission issue with `/var/www/MISP/app/files/scripts/mispzmq`. When correctly set (writable), it's getting created.

[2018-08-15 11:45] carnak opened #3559 "Can't add domain attributes with .bit extension"
Type of issue: Can't add domain attributes with .bit extension

Expected behavior: Trying to add following domains to an existing MISP event via Populate From -> Freetext Import:

mail-ru-stat[.]bit
mail-ru-stat-cdn[.]bit
mail-ru-stat-counter[.]bit
mail-ru-stat-counter-cdn[.]bit

Actual behavior: "Silently fails" the import, with no attributes available to be added to the event

[2018-08-15 12:41] adulau commented on #3559
Did you have the warning list enabled with all the TLDs? If not, could you give a try?

[2018-08-15 13:13] carnak commented on #3559
Thank you Alex for the quick reply.  My MISP instance did not have all warning lists enabled.  Once the warning lists were updated and enabled, it is now working!  Thanks again.

[2018-08-15 13:13] #3559 closed, assigned to nobody

[2018-08-15 13:34] Turecky commented on #3545
For me that works but has version mismatch:
MAEC library version…Incorrect maec version installed, found 4.1.0.14, expecting 4.1.0.13

[2018-08-15 13:37] patricksvgr commented on #3545
Go for `pip3 install --force-reinstall maec==4.1.0.13` to reinstall the package.

[2018-08-15 13:47] Turecky commented on #3545
after running that code get this:
Collecting maec==4.1.0.13
  Downloading https://files.pythonhosted.org/packages/bb/3d/b9075416ce1dd17ad866253b7c7987e52b78bb8b8c1c6dc23f4b1a94e51f/maec-4.1.0.13.tar.gz (152kB)
    100% |################################| 153kB 1.6MB/s
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in

[2018-08-15 13:48] eloyfs commented on #3558
@adulau Im using https://github.com/MISP/MISP/blob/2.4/INSTALL/INSTALL.debian9.txt guide and line 689 says sqlite3
~/.viper/admin.db 'UPDATE auth_user SET password="pbkdf2_sha256$100000$iXgEJh8hz7Cf$vfdDAwLX8tko1t0M1TLTtGlxERkNnltUnMhbv56wK/U="' and it's not working

[2018-08-15 13:51] patricksvgr commented on #3545
Do you have the latest `pip` version? Of not, `pip3 install --upgrade pip`.

[2018-08-15 13:57] adulau commented on #3558
This is an optional framework and not directly used by MISP. It's indeed very handy if you work from viper and use the integration with MISP.  @SteveClement might help you as he added in the documentation

[2018-08-15 14:06] adulau commented on #3559
Thank you for the feedback, great news! Maybe we should enable it by default ;-)

[2018-08-16 06:16] Turecky commented on #3545
Just run upgrade for pip, but the same error appears

[2018-08-16 15:07] dmolina213 commented on #2503
I am new to misp. When i try to fetch a feed, it give me an internal error on the gui.

help,

thanks,

Doug

[2018-08-16 15:42] p3tr0v opened #3561 "Disable correlation not working"
| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Debian
| OS version (client)       | 9.4
| PHP version               |  7.0
| MISP version / git hash   | 2.4.94
| Browser                   | FF , CR

I observed that 'disable_correlation' is not working.
I created an object, setted 'disable corre

[2018-08-16 16:26] ShimiCohen opened #3562 "d"

[2018-08-16 17:42] github-germ opened #3563 "Seeking MISP Architecture and Scalability Insight"
Are there docs to review or a group of people to talk with that discuss architecting MISP for scalability over time, e.g. hardware, network, experience with db's other than MySQL, db distribution/mirroring, etc.?

As we continue grow our use, we are starting to look at scaling up the system to meet performance needs.

Thanks.

[2018-08-16 23:11] samuelcardillo commented on #3414
Apologies for my super delayed answer and thanks for yours! The problem is sadly persisting. The server where MISP is being installed is using CentOS 7 and, yes, we used the guide but it seems that something went wrong somewhere.

I went in the directory indicated where I have found `error.log` , `debug.log`.

The `error.log` is showing this repeatedly :
[code]

While `debug.log` is showing an err

[2018-08-17 02:34] ccpptt opened #3564 "STIX and Cybox libraries incorrect version numbers 0? - v2.4.94"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Ubuntu 16.04.3
| OS version (client)       | macOS 10.x
| PHP version               | 7.0.22-0ubuntu0.16.04.1
| MISP version / git hash   | v2.4.94 (37cd2461a169a30529fdb1366ff655661cc53b5e)
| Browser                   | C

[2018-08-17 02:47] ccpptt commented on #3564
(and yes, PyMISP is also installed (v2.4.93) contrary to what that screenshot shows...)

[2018-08-17 02:59] dexterfung commented on #3564
Same issue happened on CentOS7 with PHP version 5.6 following the instructions in INSTALL/xINSTALL.centos7.txt

[2018-08-17 06:55] iglocska commented on #3564
Ping @chrisr3d

[2018-08-17 07:00] iglocska commented on #3414
Are you sure you are using php 7 via scl there?

`Can't use funct...`

That part looks fishy, i have a feeling that the full message would be:

`can't use function return value in write context` which is an indication that your misp is being run via php 5.3 (the default on centos7 and not compatible with misp). Make sure you double check the steps in the install guide that deal with scl and name s

[2018-08-17 09:23] samuelcardillo commented on #3414
We went from PHP 5.6 to PHP 7 using SCL and adapted our DocumentRoot (we went from accessing it from a domain name to raw IP) and it appear that it solved the initial problem, showing the login page but once logging in with the default account it goes in a redirection loop from `/users/change_pw` which gets stopped by Chrome. Neither the `debug.log` or `error.log` show anything. Completely lost he

[2018-08-17 09:45] Lastpixl opened #3565 "Type for object_template_elements.disable_correlation seems incorrect in MYSQL.sql"
Hi,

While reviewing our database's schema, I think I came across a discrepancy between AppModel.php and INSTALL/MYSQL.sql

If I understand AppModel.php correctly:
* Field object_template_elements.disable_correlation has been introduced with update 2.4.80. At this time, its type was `tinyint(1) NOT NULL DEFAULT 0,`: see https://github.com/MISP/MISP/blob/8b63843299c557e864f277abab531506054fec26/app

[2018-08-17 10:12] RichieB2B commented on #3564
This suggestion solved #3322 :

We had similar issues getting this to work. I agree that setting the correct path in `/etc/opt/rh/rh-php71/sysconfig/php-fpm` and setting clear_env is set to no in `/etc/opt/rh/rh-php71/php-fpm.d/www.conf` should be enough. That is how it is currently works for us, but before we had to modify `env[PATH]` as well.

[2018-08-17 11:49] syloktools opened #3566 "Uninitialized string offset in ComplexTypeTool.php"
| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | ubuntu 18
| OS version (client)       | 10
| PHP version               | 7.2
| MISP version / git hash   | 2.4.94

I am seeing this error a lot in the resque-worker-error.log:
[code]
Tailing the log now to see if I can match up what MISP is doing a

[2018-08-17 12:26] Rafiot opened #3567 "Editting an attribute doesn't work anymore"
Posting a attribute object on `<DOMAIN>/attributes/<ID/UUID>` always returns:  `Attribute could not be saved: Attribute in the request not newer than the local copy.`, even when the timestamp key isn't set:
[code]

[2018-08-17 12:55] Rafiot commented on #3567
Fix: https://github.com/MISP/MISP/commit/1d7af1bfac4927500d6cb33e957bb904d2ec9ebd

[2018-08-17 12:55] #3567 closed, assigned to nobody

[2018-08-17 13:55] Rafiot opened #3568 "Inconsistency in the response between Event restSearch and Attribute restSearch"
The response for restSearch at event level look like that:

``` {'response': [{'Event': {<content>}}, {Event: {}}, ...]}```
```{'response': {'Attribute': [<Attribute content event 1>, <Attribute content event 2>, ...]}}```

So for the events, we have a list of events one after the other, for the attributes, we have that list in a dictionary with key `Attribute`. I was expecting something like that

[2018-08-17 14:24] StefanKelm opened #3569 "Correlation view: Category seems to be never displayed"
2.4.94: in both correlation views the _Category_ always seems to be empty when hovering or selecting an attribute:

![category](https://user-images.githubusercontent.com/25325656/44271155-aaf7c400-a239-11e8-858c-df158d35a0b5.png)

[2018-08-17 18:18] AtesComp opened #3571 "Knowledge Graph"
MISP seems so close to implementing true Knowledge Graph technology as provided through the Semantic Web community. See the Google Knowledge Graph, Facebook Graph, and DBpedia as examples. MISP can help by pushing the OASIS CTI to develop a true ontology for STIX, CyBOX, MAEC, etc. The ontology principles, graph DBs, and inference engines seem to be a perfect match for MISP. MISP Galaxies could be

[2018-08-18 00:10] #3534 closed, assigned to chrisr3d

[2018-08-18 07:45] iglocska commented on #3568
It is weird to process but we'll break a lot of tools if we change it. We had the same issue with the event index.

[2018-08-18 07:47] iglocska commented on #3569
Type is also wrong. This definitely needs some attention.

[2018-08-18 07:54] iglocska commented on #3571
I think the nr1 thing we need before any such move is even considered is real world benefits to our day to day work. Generally our design process is:

1. Real-world need to solve a problem pops-up
2. We try to come with the least complex solution to the above issue

This avoids over-engineering for something that results in little in terms of day-to-day benefits.

[2018-08-18 08:36] adulau commented on #3571
Thank you very much for your feedback.

We accept pull-request with improved software implementation for such kind of new data models. We would be interested to get practical implementation especially to evaluate the benefit over simple and existing formats.

Feel free to reopen the issue with the associated pull-requests.

Thank you.

[2018-08-18 08:36] #3571 closed, assigned to nobody

[2018-08-18 08:39] adulau commented on #3563
Good point. Maybe we need to work on a complete section in [misp-book](https://github.com/MISP/misp-book/) to explain how to scale with MySQL (or distributed compatible DB), redis and reverse proxies/load-balancer in front.

[2018-08-18 14:27] Rafiot commented on #3568
Ok, I'll sanitize it in pymispng.

[2018-08-18 19:59] github-germ commented on #3563
That would be quite helpful. I would expect their are orgs out there with experience, of course including yours, that could share good and bad choices. Would there be a way to poll folks for their experiences? Not sure if you have a list of prominent MISP deployments.

[2018-08-18 20:44] pasket commented on #2915
MISP + Minemeld + QRadar sounds as a good combination. It will solve the integration with MISP and will allow you to integrate other feeds following the same strategy.

1. Misp + Minemeld Integration (https://github.com/PaloAltoNetworks/minemeld-misp)
2. Minemel + QRadar Integration (https://live.paloaltonetworks.com/t5/MineMeld-Articles/Integrating-MineMeld-with-IBM-QRadar/ta-p/143293)

My concer

[2018-08-19 11:47] Rafiot commented on #3568
So still something that would be nice: if the search query doesn't returns anything, it should be

`{'response': {'Attribute': []}}` and not `{'response': []}`

[2018-08-19 12:01] Rafiot opened #3572 "[feature/api_rework] 500 on events/restSearch"
The following query returns a 500: `{"returnFormat": "json", "type": {"OR": ["ip-src", "ip-dst"]}, "timestamp": 1534678959.0}`

[2018-08-19 19:34] eCrimeLabs opened #3573 "Manual export and Import of MISP event - Object References get lost"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Debian
| OS version (client)       | Debian 9
| PHP version               | 7.0
| MISP version / git hash   | v2.4.94 (ed9e12c22e7eb000c80ce13c6862b440115cb036)
| Browser                   | Chrome

### Expected behavior
When

[2018-08-20 01:51] dexterfung commented on #3564
I have tried this way hoping to solve it but only stix and maec return OK, while the rest still returns found 0 error.

[2018-08-20 10:05] patricksvgr commented on #3564
Have you checked your Python permissions for the installed modules  (`python -c "import sys; print(sys.path)"`)?

[2018-08-20 13:26] Zpa48 opened #3574 "restSearch does not accept unix timestamp search only shorthand time descriptions"
### Work environment

| Questions                          | Answers
|--------------------------|--------------------
| Type of issue                    | Bug
| OS version (server)          | Ubuntu
| OS version (client)            | CentOS
| MISP version / git hash    | 2.4.94

### Expected behavior
https:// misp.url /events/restSearch/json
with POST data:
{ "timestamp": ["1534175985", "153477082

[2018-08-20 13:47] iglocska commented on #3574
It should for sure, that sounds like a bug. I remember we had an issue with this recently, could you also try with [1534175985, 1534770822] ?

[2018-08-20 14:26] Zpa48 commented on #3574
Without double quotes like [1534175985, 1534770822] it works OK. I was using timestamps as strings (via PyMISP) and it was working in previous version. I will change it to int.
I was using search as described in this issue https://github.com/MISP/MISP/issues/1703. Thats why i was using strings. Thanks for your help.

[2018-08-20 19:51] AtesComp commented on #3571
Thank you for responding.  I hope to clarify my comment with a more complete discussion below.  I will attempt to answer Andras' concerns.

I'm suggesting that MISP is replicating in a specific instance exactly what the Semantic Web model and the Resource Description Framework (RDF) proposes.  MISP objects are connected to attributes and other objects--a data graph.  All elements are equivalent to

[2018-08-21 13:16] jezkerwin commented on #3508
The problem was with selinux on the mispzmq folder and on settings.json and mispzmq.pid

Changing/restoring context to ` httpd_sys_rw_content_t ` fixed the issue

[2018-08-21 14:07] emf opened #3580 "free text import parses dates as phone numbers"
the free text import tool constantly parses dates like "2018-08-21" as a phone number.  This is never a phone number.

This happens in 2.4.94, but has been happening for a while now (since, .88 or so, if i recall)

[2018-08-21 15:57] cjconrad opened #3581 "When adding a new feed, neither customer headers our basic authentication seem to be working."
Hello,

I'm trying to add a feed with authentication.  The feed supports 2 types, either via x-api-key you pass in the header, or via basic auth.  Neither of which seem to be working.  I took a pcap and noticed that MISP (cakePHP?) appear to be sending the request without any of the customer header (from the form) or basic authentication you'd expect to see.  If I had to guess, it's being ignored

[2018-08-22 04:17] ccpptt commented on #3564
@patricksvgr no I hadn't, but now that I have (and now that I've fiddled with them a bit) it's almost working now (thanks):

I've tried exporting an event in STIX1 with encoded attachments, and it seems to generate and output it fine. This was failing earlier.

Now I guess my question would be -- what should the permissions for those module dirs be ideally? Why did I have to manually adjust them t

[2018-08-22 07:43] TostyT opened #3583 "Fetch feeds via the API"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Ubuntu
| PHP version               | 7.1
| MISP version / git hash   | v2.4.94 (b7233957b61e6014cfde49dd1e872b89ea5bcfad)

### Expected behavior
Fetch feeds via a GET call from the REST api.

### Actual behavior
302 redire

[2018-08-22 12:44] adulau commented on #3571
Thank you for your input but it's quite dense and going in various directions. To keep the discussion interesting in the scope of MISP development. I would like to refine it on concrete example.

Can you model a specific use-case (with a simple data model example using RDF) to represent a forensic analysis case or evidence acquisition in RDF based on your experience in the field?

[2018-08-22 14:19] tylabs opened #3584 "Bro signature format support"
Similar to the snort export, it would be good to support Bro signatures (the current Bro support in MISP is limited to the Bro Intelligence Framework for detecting domains, IPs, hashes etc). Bro supports complex signatures:

_signature trickshow_content_http {
    http-request /.*\/help-desk\/remote-assistant-service\/PostId.php/
    event "MISP: TRICKSHOW stage1"
}_

I would recommend a new type

[2018-08-23 13:52] Sirbu opened #3586 "Error at first login : 404 not found for /usr/login"
I followed the install instructions for [ubuntu 18.04](https://github.com/MISP/MISP/blob/2.4/INSTALL/INSTALL.ubuntu1804.txt) and when I try to login for the first time, I only have an error 404.

The MySQL database was not populated, even with the admin@admin.test user (I don't know if it is normal).
cake Password 'admin@admin.test' 'somepass' told me at first that the user couldn't be found.
I us

[2018-08-24 06:28] MichaelDwucet opened #3588 "Push rules UI improvement"
The push rules UI is not really usable if you have tags that are longer and have the same beginning.

See the following screenshot for an example
![push_rules](https://user-images.githubusercontent.com/17084146/44568099-96ee1e00-a775-11e8-9538-abba93774097.PNG)
We have tags that have the namespace 'CERT-BUND_BSI', the predicate 'Sharing' and as the value the target groups. We use this tags as push

[2018-08-24 09:15] dexterfung commented on #3564
Since I have successfully installed on Ubuntu, I have switched to there instead of using CentOS. Thanks for the help though!

[2018-08-24 09:52] Sirbu commented on #3586
The problem was solved by using the automated script https://github.com/da667/AutoMISP/blob/master/auto-MISP-ubuntu.sh
It certainly was a mistake on my part in the procedure.

[2018-08-24 09:56] #3586 closed, assigned to nobody

[2018-08-24 12:57] patricksvgr commented on #3588
We faced the same problem and ended up using the "Page Inspector" (_Control+Shift+I_) by the browser to figure out the right tag. ;-)

[2018-08-24 13:46] iglocska commented on #3588
"It sure seemed like a good idea at the time" - this is from before we had
taxonomies, it's indeed crap and we need to fix it.

On Fri, Aug 24, 2018 at 2:57 PM patricksvgr <notifications@github.com>
wrote:

[2018-08-25 13:56] Rafiot opened #3590 "Travis failing on feature/api_rework"
GET on events/queryACL.json returns

[code]

===> https://travis-ci.org/MISP/MISP/jobs/420094657#L3191

[2018-08-27 16:07] github-germ opened #3591 "Cannot add a new taxonomy"
2.4.94

Followed instructions on https://www.circl.lu/doc/misp/taxonomy/#adding-a-private-taxonomy

The `machinetag.json` is valid JSON. Dir/file permissions look OK.

In the WebUI, logged in as admin, goto `Event Actions > List Taxonomies` and this new taxonomy is not listed. Then clicking on `Update Taxonomies`, which I believe is the next step, yields this in the browser:
[code]
And this in the

[2018-08-27 16:15] Rafiot commented on #3591
Not sure it is related to the taxonomy itself of MISP core, but in order to debug that, please do the following:

1. clone the misp-taxonomies directory locally
2. create the directory for your taxonomy
3. put the file in
4. add and commit the taxonomy file in the local repository
5. run `./validate_all.sh ` & fix the taxonomy if needed until it passes the tests

[2018-08-27 17:47] github-germ commented on #3591
Note: I had to hack `jq_all_the_things.sh` since we don't have `sponge` (not a big deal).

ran `validate_all.sh` using the hacked version. But, I didn't see any errors, just `diffs=14` when it ended. I also notice that the new taxonomy name is not in `MANIFEST.json`.

So, if our new `machinetags.json` isn't MISP compliant, how we do we see what to revise?

[2018-08-27 19:45] adulau commented on #3591
if you use` jsonschema -i machinetag.json schema.json` to validate the file, what's the output?

[2018-08-27 19:51] github-germ commented on #3591
in the new taxonomy subdir did this and there was no output. what does that tell us?
[code]

[2018-08-27 19:54] adulau commented on #3591
Looks very good ;-) Did you update the version of your file after the updates?

[2018-08-27 20:33] github-germ commented on #3591
Ha, there were no updates made to the file.  What next?

[2018-08-28 03:28] alecisec opened #3592 "STIX Export fails"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | bug
| OS version (server)       |  ubuntu:16.04
| OS version (client)       | any
| PHP version               |  7.0.30-0ubuntu0.16.04.1
| MISP version / git hash   | 2.4.94
| Browser                   | na

### Expected behavior

https://<misp URL>/events/sti

[2018-08-28 07:02] RichieB2B opened #3593 "Can't add ja3 signature as Network Activity"
When trying to save a ja3 object, the md5 is rejected when ja3-fingerprint-md5 has a category of Network Activity (default):
[code]
The object can only be saved when the category is set to "External Analysis".

[2018-08-28 07:05] adulau commented on #3593
Good catch. I'll update the misp-object template.

[2018-08-28 07:10] adulau commented on #3593
Or we relax the md5 categories. What do you prefer?

[2018-08-28 07:24] RichieB2B commented on #3593
Network Activity makes more sense than External Analysis IMHO. However, without the context of the ja3 object an md5 in Network Activity can be confusing..

[2018-08-28 07:37] chrisr3d commented on #3592
Have you checked if the correct python libraries are installed, running the diagnostic tool ? (Administration -> Server Settings & Maintenance -> Diagnostics, then scroll down to "STIX and Cybox libraries")

It should look like this:
![image](https://user-images.githubusercontent.com/16307976/44707719-9622f800-aaa5-11e8-984b-4be162aadafc.png)

If you have anything different please let me know so I

[2018-08-28 12:32] #3593 closed, assigned to nobody

[2018-08-28 13:11] xme opened #3594 "Snort rules as attribute"
Hi,
I've one quick question regarding Snort rules defined as attribute:
Are the Snort rule searchable?
I created a dump rule with the following msg: ”FOOBAR connection attempt”.
From "Search Attributes", I search for "FOOBAR", nothing is found.

[2018-08-28 14:29] rommelfs opened #3595 "Add org wrong icon bug"
admin/organisations/add
Enter character in Organisation Identifier
Delete character
Enjoy the first org logo being displayed

[2018-08-28 14:33] rommelfs opened #3596 "Add icon broken"
Add org with icon is not respecting the selected icon file.
Need to edit the org and attach logo again.

[2018-08-28 15:13] iglocska commented on #3594
Search for:

[code]

[2018-08-28 15:48] xme commented on #3594
"If you want a substring match encapsulate the lookup string between "%" characters."
RTFM! :-)
Thanks Andras!

[2018-08-28 15:48] #3594 closed, assigned to nobody

[2018-08-28 18:43] #3584 closed, assigned to nobody

[2018-08-29 00:36] debernal opened #3598 "MISP update problem from v2.4.91 to v2.4.94"
Hello,

When trying to update from version v2.4.91 to version v2.4.94 it fails, detecting changes on many files. I don't remember manually changing these files through command line, unless these changes were simply  done by using the web app. What do you recommend? Thank you

MISP version
Every version of MISP includes a json file with the current version. This is checked against the latest tag on

[2018-08-29 00:40] ghost opened #3599 "How to curate disk - full disk mitigation."
Hello,
  Does a mechanism exist to curate the data stored?

I am filling my test lab VM disks pretty quick and would like to know where to edit settings in order to set retention to my liking.

Thank you!

[2018-08-29 05:59] adulau commented on #3598
I think this is pretty simple. The initial clone was probably done with another user and got different permissions/ownerships. Feel free to go to the MISP directory, check permissions and rights, change those if required and then `git pull origin 2.4`, `git submodule update`. Then login and it should be fine ;-)

[2018-08-29 06:32] iglocska commented on #3598
Try this:

[code]

[2018-08-29 07:57] #3581 closed, assigned to nobody

[2018-08-29 10:41] SteveClement commented on #3599
@RANGERBEE which part fills? The database? Some directory in Webroot?

There is no retention setting AFAIK.

[2018-08-29 10:50] SteveClement commented on #3531
Dear @truckydev is this still an Issue?
I am not sure I understand exactly what is going on. How to reproduce?
Could you please develop.

[2018-08-29 11:18] SteveClement commented on #3591
@github-germ in theory, go to list taxonomies, click on update.

[2018-08-29 11:24] SteveClement commented on #3566
@robertnixon2003 any luck?

[2018-08-29 12:31] github-germ commented on #3591
@SteveClement -- that's where this issue started :-) and that's where we still are.

[2018-08-29 13:00] ghost commented on #3599
Steve, I'll see if I can figure out where it's filling. I blew away the
last VM because it was so full that no services ran.

I did have many feeds selected, caching and downloading every 24hrs. I
would firstly suspect the fill is occuring whereever the feed data is
stored; I suspect the database.

Maybe a cron based script that we can enter a time duration backward and
enable from the diagnostics

[2018-08-29 14:13] iglocska commented on #3599
What probably happened was pulling the same feeds over and over into new
events. Please make sure that you select the "fixed event" option when
adding CSV/Freetext feeds!

On Wed, Aug 29, 2018 at 3:00 PM RANGERBEE <notifications@github.com> wrote:

[2018-08-29 14:25] aaronkaplan opened #3600 "Bouncing email addresses"
Hi,

so, recently I deleted ~ 30 bouncing email addresses. Usually it's a user in some organisation and the person left the org or , well the email address does not exist anymore.
It would be really neat to have some sort of fast mechanism to detect bouncing email addresses (similar to mailman's behaviour) and after a couple of bounces, automatically disable this user and/or present a list of boun

[2018-08-29 16:49] debernal commented on #3598
Thanks for the support,  I have verified file ownership under /var/www/MISP, all of them belong to user and group www-data.

After running the commands mentioned by iglocska y see the following:

[code]
Then I logged into MISP and tried to update again. Both current and latest available installed version have the same number, but they have different hash, which seems odd.

[code]

Then I repeated

[2018-08-29 17:04] iglocska commented on #3598
Yeah that I need to fix still. It's cosmetic for now.

As for the objects, go to your object template index and click on update all to load the new data you got from github into MISP.

[2018-08-29 19:55] joydragon opened #3601 "Question: How to use Cortex Analyzers on MISP"
I've been searching for the answer on how to use the MISP - Cortex integration, and I couldn't find it

The closest I've been is on this link https://blog.thehive-project.org/2017/05/17/cortex-1-1-1-two-way-misp-integration-now-a-reality/, and they explain that:

And I don't see that section, and actually what I need is that I can select or somehow activate the analyzers for the IOCs that are on m

[2018-08-29 21:09] github-germ opened #3602 "MISP attribute url normalization/validation"
Is there any way in MISP or a module, etc. to normalize/validate URLs as they are ingested as `url` attributes into an event?

A quick search revealed these (I imagine there are more):
- https://github.com/MISP/MISP/issues/2286
- https://github.com/MISP/MISP/issues/525

Thanks.

[2018-08-29 21:53] debernal commented on #3598
Thanks for your support! The issue can be closed.

[2018-08-30 06:08] iglocska commented on #3598
No worries at all, ping us if you run into any other issues!

[2018-08-30 06:08] #3598 closed, assigned to nobody

[2018-08-30 23:47] ccpptt commented on #3564
Permissions for the Python modules (dist-packages) weren't relaxed enough. Changed them to what I described in my previous comment, and things are working as expected now.

[2018-08-30 23:47] #3564 closed, assigned to nobody

[2018-08-31 08:09] mik5z opened #3603 "Getting a permission denied when trying to start up misp-modules via rc_local"
**Work environment**
| Questions                 | Answers
|---------------------------|--------------------
Type of issue | Support
OS version (server) | Ubuntu
PHP version | 7.1
MISP version / git hash | v2.4.94 (b723395)

### Expected behavior
Start up misp-modules at system startup

### Actual behavior
Getting a permission denied when running the script via rc_local

### Steps to reproduce the

[2018-08-31 13:06] rocio27jul opened #3604 "updating taxonomies- ifx-vetting machinetag.json error"
when I tried to update taxonomies I have this error "Could not update any of the taxonomy libraries" and this happends because the new taxonomy "ifx.vetting" hasn't fill expanded field in the file machinetag.json. If I fill expanded field for example with "hello" taxonomies are update. what happens? Is the file wrong? thanks

### Work environment

| Questions                 | Answers
|-----------

[2018-08-31 17:17] ghost opened #3605 "PyMISP "last" paramater no longer pulls data from v.2.4.94"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug ?,
| OS version (server)       | Ubuntu
| OS version (client)       |  Win - chrome
| PHP version               | 5.4, 5.5, 5.6, 7.0, 7.1...
| MISP version / git hash   | 2.4.94

### Expected behavior
Pymisp commands via Splunk commands worked fine with 2.

[2018-08-31 17:51] ghost commented on #3605
**Update:  Well now it seems to work.**

 - I initially only had a few feeds enabled with caching.
   - TOR ALL nodes, CIRCL OSINT feeds, Zeus IP blocklist.
  - this is where the last parameter pulled nothing.

**What changed....**

Now I selected a whole bunch of feeds and enabled them with caching.
 - the last paramater now pulls events that occurred in time specified,  as it should.

What makes

[2018-08-31 19:52] iglocska commented on #3605
I am not sure I understand the second post: Do you mean it only pulls a subset of the expected data?

[2018-08-31 20:36] ghost commented on #3605
NO. I mean as it states:

**With only a few feeds enabled, it did not work.**

**With very many feeds enabled it worked.**

I tried with only a few feeds just to test operations and avoid pulling a whole bunch of noise for a few tests. Makes no sense to me - I believe it should work with one piece of data like it does with many pieces of data - it should not matter.

**This makes me question, is i

[2018-09-01 09:38] adulau commented on #3604
Indeed it was a bug. This was fixed in https://github.com/MISP/MISP/commit/c9c6f9ab332d30702e2120028a11930aaed9d7bc . Feel free to git pull the latest updates. Thank you for the report.

[2018-09-01 09:38] #3604 closed, assigned to nobody

[2018-09-03 08:51] SteveClement commented on #3592
Dear @alecisec if this didn't solve your issue feel free to re-open.

[2018-09-03 08:51] #3592 closed, assigned to chrisr3d

[2018-09-03 08:52] SteveClement commented on #3566
Dear @robertnixon2003 if this didn't solve your issue feel free to re-open.

[2018-09-03 08:52] #3566 closed, assigned to nobody

[2018-09-03 08:53] SteveClement commented on #3465
As this is a very isolated case and not reproducible on our side we will close it in the meantime until it show main-stream potential.

[2018-09-03 08:53] #3465 closed, assigned to SteveClement

[2018-09-03 09:14] iglocska opened #3606 "Add option to attach CSV/JSON format event to publish alert e-mails"
As discussed with @makflwana

[2018-09-03 09:16] SteveClement commented on #3601
Dear @joydragon

If you want a quicker answer please feel free to join the Gitter here:

https://gitter.im/TheHive-Project/TheHive

[2018-09-03 11:00] nalzaid opened #3607 "How to search the MISP based on one attribute"
I need to automate my API to make it able to do the following:

Search my MISP instance by typing one attribute, the search results should be all the event IDs that have this attribute..

Example: search for IP address '127.38.37.7'  ==> results all the events that have this IP address as one of its attributes

[2018-09-03 11:14] iglocska commented on #3607
REST API or PyMISP?

For the REST API:
url: `/attributes/restSearch/json`
body: `{"value":"127.38.37.7"}`

If it doesn't work let us know!

[2018-09-03 11:14] #3607 closed, assigned to nobody

[2018-09-03 13:36] SteveClement commented on #3603
@mikemaassen can you send me the output of:

ls -la /usr/local/lib/python3.6/dist-packages/

Please.

[2018-09-03 13:38] SteveClement commented on #3602
Duplicate of #2286 and #525 closing.

[2018-09-03 13:38] #3602 closed, assigned to nobody

[2018-09-04 07:03] nalzaid commented on #3607
Thanks,,

what about PyMISP?

[2018-09-04 07:04] nalzaid commented on #3607
@iglocska

[2018-09-04 20:26] #3531 closed, assigned to nobody

[2018-09-04 20:27] SteveClement commented on #3354
@iglocska so this is fixed? Has asap arrived?

[2018-09-05 06:45] MichaelDwucet opened #3611 "Freetext import for objects"
With the Freetext import in MISP you easily can add new attributes.
But sometimes you have in a report multiple IOCs that you would like to add to a single object instead of multiple attributes. For example you have IOCs for a file object: MD5, SHA1, SH256, SSDeep, Filesize, Filename, ....
Currently you would have to add all these IOCs manually to an object.

Enhancement / Feature request:
Have an

[2018-09-05 08:42] gulsoomro commented on #3298
hello guys i am having some problem in mapping stix2 logs,to convert from common format logs to stix2 formate logs. Stix2 provide SDO object for attack type Malware if we occur some other type of attack like (Sip type, Brute force,db,recon) then how to map that type of logs?