[2021-04-13 17:54] #6595 closed, assigned to nobody

[2021-04-13 17:57] chrisinmtown commented on #6978
I propose this change
[code]
Because the URL has not changed, this will not change any existing systems when people click on "Load default feeds", so I believe the risk of breaking anything is very low.

[2021-04-13 18:07] chrisinmtown commented on #6901
Rechecked this after upgrade to version 2.4.141.  Fetched an event with 800K attributes without complaint, curl wrote a 6.4GB file. So I guess this one is fixed.

[2021-04-13 18:07] #6901 closed, assigned to nobody

[2021-04-13 18:10] chrisinmtown commented on #7022
This problem still lingers. I propose this fix:
[code]

[2021-04-13 18:11] chrisinmtown commented on #7044
Still cannot filter feeds by string "https://" in version 2.4.141.

[2021-04-13 18:17] chrisinmtown commented on #7066
I want to make it clear I'm still in favor of storing *all* data in the database, not the filesystem, including images in blob-type columns. Why?  We use a primary-standby pair of servers for the MISP webapp.  Because of the project's odd choice to store MOST data in the database yet keep a LITTLE BIT of data on the local filesystem, we have to replicate a few directories from primary server to st

[2021-04-13 18:22] chrisinmtown commented on #7239
We upgraded to 2.4.141 and I tested by running cURL to perform an API access with an invalid auth key. No entry appears in our audit log. Did this make it into that version?

[2021-04-13 20:38] criptk commented on #7201
memory_limit (2048 MB)… OK (recommended: 2048 MB)
The system has about 920 free.
Getting this error from resque-worker-error
--- snip ---
Error: Unknown named parameter $subject
#0 /var/www/MISP/app/Lib/cakephp/lib/Cake/Event/CakeEventManager.php(244): ObjectCollection->trigger()
#1 /var/www/MISP/app/Lib/cakephp/lib/Cake/Model/Model.php(3110): CakeEventManager->dispatch()
#2 /var/www/MISP/app/Lib/

[2021-04-13 20:46] criptk commented on #5624
I have the same exact problem.
![image](https://user-images.githubusercontent.com/19441833/114618542-50b79700-9c5e-11eb-879a-9ef32d5b3f32.png)

Currently installed version… v2.4.140 (fe34ec7857aacf3525958021bfc444965ff0f2cf)
root@MISP:/var/www/MISP/app/tmp/logs# lsb_release -a
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 20.04.1 LTS
Release:        20.04
Codename:

[2021-04-14 00:07] stmtstk opened #7335 "Export events in STIX 2 via REST API"
**Is your feature request related to a problem? Please describe.**
I could not find any related problems in issues.

**Describe the solution you'd like**
MISP allows end-users to export an event in STIX 2.1 via Web console.
It is very useful to share CTI among humans, but not particularly convenient for systems.
However, unfortunately, MISP can not export it via REST API.
We should add a REST API

[2021-04-14 06:53] legoguy1000 commented on #7066
I would say u would definitely want to restrict the size of images that could be uploaded then to prevent it exploding the size of the DB.

[2021-04-14 07:20] pietrogu commented on #7110
Hi, i am using Ubuntu 18.04 and MISP is updated to latest version
Actually i didn't specify the user www-data, i'll try it :)

[2021-04-14 08:50] pietrogu commented on #7110
It worked!

Thank you!

[2021-04-14 08:50] #7110 closed, assigned to nobody

[2021-04-14 08:53] iglocska commented on #7335
What? The MISP API allows you to get responses in STIX format just the same, an example:

POST to:

`/events/restSearch`

body:
[code]

or

[code]

etc

[2021-04-14 10:12] chrisinmtown commented on #7066
Well sure @legoguy1000 but adding/updating organisations is restricted to admin role.

[2021-04-14 10:16] chrisinmtown commented on #7335
@stmtstk are you using PyMISP?

@iglocska here's what the PyMISP docstring offers:

but I believe STIX2 format is optional and must be enabled by adding the Python package. Is there a way to query the REST API for a list of export formats are available to the restSearch interface??

[2021-04-14 10:25] iglocska commented on #7335
Hmm good question. I mean STIX2 is a default format and should always be available (unless you messed up during the setup as you mentioned. I'll add an endpoint to query for a definitive list based on what's currently available.

[2021-04-14 11:51] chrisinmtown commented on #7335
A new endpoint that answers available restSearch returnFormat strings would help. I hope the MISP system page /events/automation somehow uses that to display the available return formats (instead of a static string).

[2021-04-14 12:50] cudeso commented on #5228
Somewhat related to https://github.com/MISP/MISP/issues/7277

[2021-04-14 13:10] mokaddem commented on #7314
Hey,
Could you make sure your galaxies are up-to-date on your server?
(`/galaxies/index` -> `Update Galaxies`)

[2021-04-14 13:19] mokaddem commented on #7317
I thought this feature was aimed for the UI only but I see use-cases for the API too.
What's your opinion @iglocska ?

[2021-04-14 13:23] mokaddem commented on #7323
Nice one indeed. Maybe it could even be the default behavior when viewing an event with the `extended view` turned on.

[2021-04-14 13:30] mokaddem commented on #7318
This is indeed the intended behavior.
We decided to be more lax on the API than in the UI for the particular reason @Wachizungu mentioned. When we introduced the feature, we did not wanted to break existing workflows and we wanted users to bypass this restriction via the API.

[2021-04-14 14:06] #7176 closed, assigned to nobody

[2021-04-14 14:07] mokaddem commented on #5624
@criptk do you have entries each time you issue a request?
what does the diagnostic and update progress page tell? Is there something in progress?
Could you also restart workers - just to make sure?
Thanks

[2021-04-14 14:30] cudeso commented on #7318
I understand it can break things.
But this then means there are multiple sets of logic to follow, which isn't desirable.

It means that I can change add a tag (fe. 'complete' and 'incomplete') and publish the event via the API. Afterwards, when I add an attribute via the UI (and do no change whatsoever on the 'contextualisation') and want to publish this event, this is no longer possible. This wil

[2021-04-14 14:55] stmtstk commented on #7335
Thanks all!!

I will try to use a `/events/restSearch`endpoint or pymisp.
It is very useful information for me.

Thank you again!

[2021-04-14 16:50] cudeso commented on #7318
Maybe introducing a config option where you can decide whether or not to enforce this in the API could be a solution?

[2021-04-14 21:28] andrew134598 commented on #4063
I have the same issue? Any ideas?

[2021-04-14 23:31] stmtstk commented on #7335
I tried the `/events/restSearch` and got a STIX 2.0 bundle.
I also understand that MISP returns multiple MISP events in a single STIX 2.0 bundle.

Thank you again.
Please close this issue.

[2021-04-15 01:28] chrisinmtown commented on #7335
@stmtstk since you opened this issue, you should also be able to close it :)

[2021-04-15 01:46] stmtstk commented on #7335
OK.

I would be very happy if the STIX version is 2.1, but I will open an issue at another time.
Thank you all.

[2021-04-15 01:46] #7335 closed, assigned to nobody

[2021-04-15 04:52] abhijeetasawant commented on #5886
I found this issue while importing STIX2 file

Traceback (most recent call last):
  File "/var/www/MISP/app/files/scripts/stix2/stix2misp.py", line 2061, in <module>
    main(sys.argv)
  File "/var/www/MISP/app/files/scripts/stix2/stix2misp.py", line 2055, in main
    stix_parser.handler(event, filename, args[2:])
  File "/var/www/MISP/app/files/scripts/stix2/stix2misp.py", line 80, in handler

[2021-04-15 07:29] iglocska commented on #7335
2.1 is on its way, @chrisr3d is working on it :)

[2021-04-15 07:30] iglocska commented on #7335
Also, whether it returns a single event or multiple events in the bundle depends on the parameters you pass.

[2021-04-15 07:33] stmtstk commented on #7335
@iglocska

Great!!
I am looking forward to using the new REST API feature!!

I will check the REST API POST parameters.

[2021-04-15 08:04] digihash commented on #7314
We tried that and also tried the Force Update Galaxies but that doesn't solve the issue.

[2021-04-15 08:05] mav8140 opened #7337 "Feeds from intelmq"
## Please consider the following notes
- Critical security bugs can be reported, preferably PGP encrypted, by mail to: info@circl.lu
- Bug reports and feature requests can be filed as an issue on github: https://github.com/MISP/MISP/issues
- For interactive support please join the Gitter chat on: https://gitter.im/MISP/MISP

The official documentation of MISP can be found here: https://www.circl.l

[2021-04-15 08:15] digihash opened #7338 "Filter only on My Org's Events in Events with proposals page"
**Is your feature request related to a problem? Please describe.**
When I go to the **View Proposals (https://mispserver/shadow_attributes/index/all:0** page, I can filter on only **My Org's Events**, but on this page I just see each proposal. When I just want to look at which events have proposals, I can do this on the **Events with proposals (https://mispserver/events/proposalEventIndex)** page,

[2021-04-15 09:15] digihash opened #7340 "Filter on proposal if coming from Proposal overview pages"
**Is your feature request related to a problem? Please describe.**
When I'm going over proposals, I always have to add the extra filter **/proposal:1** after the event URL to see the proposals in an event. This is very frustrating when you're going over all the proposals you see on the **View Proposals** or **Events with proposals** page.

**Describe the solution you'd like**
It would be great if

[2021-04-15 10:32] digihash opened #7341 "Can't select Required in Taxonomies as Org Admin/User"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| OS version (client)       | Win10
| PHP version               | 7.3.27-1~deb10u1
| MISP version / git hash   | v2.4.141 (92f2631c44e8f86924e51ec2e7413dd8e559c08d)
| Browser                   | Chrome/Brave

### Expect

[2021-04-15 10:50] chrisinmtown commented on #7341
I think you're right in guessing that site admin privileges are required to toggle the state of the 'required' flag on a taxonomy.  So is this a request to improve the error message that's shown ("could not retrieve current state") to show clearly you don't have the required privileges?  Or is this a request to change the level of privileges privileges to toggle the 'required' flag?

I tried toggl

[2021-04-15 16:57] trolldbois opened #7344 "attribute type filename-pattern Vs pattern-filename"
# This template is meant for bug reports, if you have a feature request user the other template.

MISP 2.4 seems to incorrectly propose attribute type "filename-pattern" instead of "pattern-filename"

https://github.com/MISP/MISP/blob/bd5aecdfd1fb17319b02bcdd9ed3f649255c6132/app/Model/Attribute.php#L179
https://github.com/MISP/PyMISP/blob/b5ed56fff5a0418cd3eaef8148efe1d41ed3c239/pymisp/data/descri

[2021-04-15 17:07] github-germ commented on #6933
Any more thoughts on this? Thx...

[2021-04-15 17:10] github-germ commented on #6934
Is there agreement to offer a server-side attribute batch list deletion of attributes already with soft or hard delete true, and making that available in PyMISP?

[2021-04-15 17:27] github-germ commented on #6838
Status?

[2021-04-15 17:27] github-germ commented on #5257
Status?

[2021-04-15 17:30] github-germ commented on #6917
Hello @iglocska -- Any progress on the last bit on ensuring that `event.breakOnDuplicate=True ` also dedups correctly (as [above](https://github.com/MISP/MISP/issues/6917#issuecomment-781355313))?

[2021-04-15 18:39] chrisinmtown commented on #7344
What version of PyMISP are you using?

FWIW I can confirm that our 2.4.133 MISP server for category External Analysis offers attribute type "filename-pattern".  Our 2.4.141 server shows the same.  Neither shows attribute type "pattern-filename" for External Analysis, but they both show "pattern-in-filename".

Some grepping in PyMISP 2.4.141 showed this:
[code]
Can you post a minimal PyMISP-based s

[2021-04-16 09:19] digihash commented on #7341
I would say, either make the error message more clear that my user doesn't have the permission to take this action, or just remove the Required column from the view of such users. What do you think?

[2021-04-16 10:03] iglocska commented on #7341
Yeah it's an issue with the error message, or actually more the view itself, it shouldn't be a checkbox for non site admins.

[2021-04-16 16:44] chrisinmtown opened #7346 "Cake setSetting CLI set organisation restriction to zero like web UI in config.php"
I need to clear a plugin (misp-module) setting in config.php, `Plugin.Enrichment_xforceexchange_restrict` should be zero to indicate "No organisation selected".  The web UI lets me do this. The CLI does not.

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | RedHat 7.4
| OS v

[2021-04-16 17:59] chrisinmtown opened #7347 "Feeds controller error on update/edit says add"
If I botch a feed update the controller reports 'add' as the name of the failed operation, should be 'edit', and note the verbose message is correct:
[code]
I am using v2.4.141 but I think this has been in place a while, looks like a minor copy-paste issue.

https://github.com/MISP/MISP/blob/bd5aecdfd1fb17319b02bcdd9ed3f649255c6132/app/Controller/FeedsController.php#L397

Here's my proposed fix:

[2021-04-16 19:29] righel commented on #7346
adding some details.
actually the error is thrown in the web UI too, but ignored, since the method is called with $forceSave='1':
https://github.com/MISP/MISP/blob/bd5aecdfd1fb17319b02bcdd9ed3f649255c6132/app/Controller/ServersController.php#L1487

while when it's called via CLI, $forceSave has it's default value (false):
https://github.com/MISP/MISP/blob/bd5aecdfd1fb17319b02bcdd9ed3f649255c6132/a

[2021-04-16 19:43] chrisinmtown commented on #7346
Thanks @righel for the assist!

[2021-04-16 21:23] github-germ opened #7348 "Are there any methods to automate populating correlation_exclusions"
2.4.141

Other than using the WebUI are there any methods to automate managing the content of correlation_exclusions?

Thanks.

[2021-04-16 21:27] github-germ commented on #7348
Same question for the `Clean` function. Thx...

[2021-04-18 18:43] rishdang opened #7351 "CSRF Error on login | PHP 8.0.3 | MISP 2.4.140 | Ubuntu 18.04.5"
A recent upgrade has broken MISP and triggers CSRF warning upon login. Exact error is "You have tripped the cross-site request forgery protection of MISP". The instance was stable since last 2 years. I am kind of out of my wits on this one.

Edit : fixed formatting.

*If you would like to report a bug, please fill the template bellow*

### Work environment

| Questions                 | Answers
|-

[2021-04-19 17:50] JakubOnderka commented on #7314
@digihash Can you please check if these galaxies really exists on your instance? For example T1140?

[2021-04-19 19:01] chrisinmtown opened #7353 "RHEL install docs missing dependency moreutils for sponge in misp-objects/jq_all_the_things.sh"
The misp-installed utility jq_all_the_things.sh requires command-line utility sponge from the moreutils package. But this dependency is missing from the RHEL7/8 install docs.

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | RedHat
| OS version (client)       | 7.4
| PHP ver

[2021-04-19 21:24] #7353 closed, assigned to nobody

[2021-04-19 21:24] adulau commented on #7353
Thank you!

[2021-04-19 21:34] trolldbois commented on #7344
Pre-requisite,
create an event in MISP with that attribute type
pymisp 2.4.141

![image](https://user-images.githubusercontent.com/157819/115305120-19942a80-a123-11eb-975c-f3987f60cbb0.png)

# TEST 1 - get event attribute from misp, PyMISP error

[code]

# TEST 2 - create event with "incorrect" attribute , PyMISP error

[code]

# TEST 3 - create event with correct PyMISP type name, but incorrect M

[2021-04-20 03:31] enjeck commented on #7285
Solved via https://github.com/MISP/MISP/pull/7320

[2021-04-20 03:31] #7285 closed, assigned to enjeck

[2021-04-20 14:38] chrisinmtown commented on #7348
I'm sure the server exposes an API, but I don't see it written up here:

https://misp.gitbooks.io/misp-book/content/administration/

nor here:

https://misp.gitbooks.io/misp-book/content/automation/

And I don't see any convenient method in PyMISP either.

[2021-04-20 15:18] righel commented on #7348
Hello,
Indeed these endpoints are not documented yet, OpenAPI spec is on the way. Here I listed the endpoints currently available for handling correlation_exclusions and sample responses, hope it helps.

**get correlation exclusions list:**
[code]
sample response:
[code]
**view correlation exclusion by id:**
[code]
sample response:
[code]

**add correlation exclusion:**
[code]
sample response:
[co

[2021-04-20 15:26] github-germ commented on #7348
@righel Much appreciated!! I will play with these.

[2021-04-20 15:29] iglocska commented on #7348
The endpoints are a bit half baked - iirc adding exclusion items is fine, but removing them doesn't recorrelate them correctly yet, so just a warning (for us it was a quick need to be able to block some offending values for which it works though).

I have a new version of that frozen for like a month need to find some time to finish it, that one handles the recorrelation on removal from the exclus

[2021-04-20 15:37] github-germ commented on #7348
Can I assume that with a fresh install of 2.4.137 or greater that out-of-the-box there are no `correlation_exclusions` pre-populated?

[2021-04-20 15:37] iglocska commented on #7348
Yep, always empty by default

[2021-04-20 15:40] github-germ commented on #7348
OK, then I will proceed with an automated add of several followed by a clean which will meet my roll out use case. Thanks!

[2021-04-20 15:40] iglocska commented on #7348
No worries, let us know if you run into trouble with it, curious if there are any other kinks I might have overlooked.

[2021-04-20 16:54] chrisinmtown commented on #7348
The version 2.4.141 web UI and the response messages posted above both show URLs with "correlation_exclusions" (snake case with underscore) but @righel shows "correlationExclusions" (camel case).  Are they equivalent?

[2021-04-20 20:56] chrisinmtown commented on #7348
is the user_id part of `/add/[user_id]'` for real or just a typo?

[2021-04-20 21:10] github-germ commented on #7348
just tested, and it's not required.

[2021-04-21 06:42] righel commented on #7348
Yes, they are equivalent, Cake does some magic supporting bot snake case and camel case for resources names.

Yes, it was a typo, updated the comment. Thanks for the call out.

[2021-04-21 10:08] garrit-schroeder commented on #7208
It is fixed now. Thanks

[2021-04-21 10:08] #7208 closed, assigned to JakubOnderka

[2021-04-21 10:45] SunnyLu1337 opened #7359 "Unable to add tag to events in MISP v2.4.135"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Ubuntu 18.08
| OS version (client)       | Win10
| PHP version               | 7.3.8-1+ubuntu16.04.1
| MISP version / git hash   | 2.4.135
| Browser                   | Firefox, Chrome, MS Edge

### Support Questions
Since

[2021-04-21 12:32] chirazbenhassine opened #7361 "SSL_connect returned=1 errno=0 state=error: certificate verify failed (self signed certificate) (OpenSSL::SSL::SSLError)"
I try to consume l'API of misp with ruby, but i can't fix this error  when i execute the file2.rb, please any help!
SSL_connect returned=1 errno=0 state=error: certificate verify failed (self signed certificate) (OpenSSL::SSL::SSLError)

![Capture](https://user-images.githubusercontent.com/76632477/115553670-f9dd3d80-a2ad-11eb-8393-c5c6bc6d54f7.JPG)
![2](https://user-images.githubusercontent.com/7

[2021-04-21 12:40] iglocska opened #7362 "Noticelist warning message container has been removed"
Probably during the attribute add/edit refactor this got accidentally dropped :)

[2021-04-21 12:41] Rafiot commented on #7361
You should probably start by searching with the error message before opening issues => https://blog.engineyard.com/ruby-ssl-error-certificate-verify-failed

In your case, you're trying to connect to a HTTPs site with self signed certificate, so you need to force the lib to ignore that (see the **Bad Solutions** section in the link above).

[2021-04-21 12:41] #7361 closed, assigned to nobody

[2021-04-21 12:54] digihash commented on #7314
It seems to be available on the server:
![image](https://user-images.githubusercontent.com/1122246/115556956-850c0280-a2b1-11eb-951b-39c3d0921502.png)

I also checked the other two in the example above and they also exist on the server.

[2021-04-21 13:03] mokaddem commented on #7337
Hi,
According to the [intelMQ documentation](https://intelmq.readthedocs.io/en/latest/user/bots.html#misp-feed), the output bot will dump the feed to the `output_dir` feed parameter. Then you just need to point the correct path (or URL if the content is on another server) on MISP side while creating the feed.
I hope that helps!

[2021-04-21 13:03] #7337 closed, assigned to nobody

[2021-04-21 13:10] mokaddem commented on #7338
Hey,
Indeed, the `My Org's Events` button is missing on this index.
In the meanwhile, you can use the following work-around:

On the event index page, you can add the `hasproposal` parameter to only show events containing proposals.
![image](https://user-images.githubusercontent.com/6977223/115558945-84746b80-a2b3-11eb-8416-be0904e3f579.png)

You can also add your organisation as a filter rule.
Th

[2021-04-21 13:16] righel commented on #7361
unrelated to the error, but also the API key goes in the `Authorization` header, not `api_key`.

[2021-04-21 13:22] #7347 closed, assigned to nobody

[2021-04-21 13:22] mokaddem commented on #7347
Thanks for the report!

[2021-04-21 13:24] digihash commented on #7338
Great workaround, that works perfect! Thanks a lot @mokaddem

[2021-04-21 13:26] chrisinmtown commented on #7347
You're welcome, thanks for incorporating this.

[2021-04-21 13:27] chrisinmtown commented on #7359
What does your server's error.log file report when this happens?  Check /var/www/MISP/app/tmp/logs/error.log

[2021-04-21 13:48] mokaddem commented on #7351
Hello,
Thanks for the detailed info of your system. Everything seems OK at first sight.
However, it seems you've checked the php setting of the CLI and not `apache2`:

Could you check your redis settings for apache?
`/etc/php/7.X/apache2/php.ini`
Thanks

[2021-04-22 00:36] stmtstk opened #7363 "Cannot parse STIX 1.1.1 files which is downloaded via /events/restSearch."
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 20.04.1 LTS (GNU/Linux 5.8.0-36-generic x86_64)
| OS version (client)       | Ubuntu 20.04.1 LTS (GNU/Linux 5.8.0-36-generic x86_64)
| PHP version               | PHP 7.4.3
| MISP version / git hash   | 2.4.135
| Browse

[2021-04-22 01:43] chrisinmtown commented on #7363
FWIW I tested this scenario on a 2.4.133 anad 2.4.141 system, using the web UI to view an event then Download as.., STIX 1 XML. I see the same result on both, an XML file with a root element "STIX_Package" with this xmlns decl on it:
[code]
But I do *not* see a decl "xmlns:stix-ciqIdentity". Further, no element in my example event download XML files uses the ciqIdentity namespace, but maybe I just

[2021-04-22 01:52] stmtstk commented on #7363
[code]
In the STIX 1.1.1 file which is converted by MISP contains `<incident:Victim>` block.
The `xsi:type` of `<incident:Victim>` starts with `stix-ciqidentity` instead of `ciqIdentity`.
It seems to be a reason to fail parsing.

[2021-04-22 02:35] chrisinmtown commented on #7363
I agree that if an element uses a namespace that's not defined in the document it will not parse. I checked the Stix source and I definitely see the stix-ciqIdentity namespace being defined there:
[code]
In the example you show, this element defines *and* uses the stix-ciqidentity namespace; you are saying you had to add that definition on that element, is that right?
[code]

[2021-04-22 02:47] stmtstk commented on #7363
Thanks @chrisinmtown

The namespaces in the `STIXPackage` is below.

[code]

This tag does not contain `stix-ciqidentity`.
So I manually inserted the phrase below.
[code]

Yes.
The STIX files were parsed successfully after I added the `stix-ciqidentity` namespace in the downloaded STIX files.

[2021-04-22 10:25] SunnyLu1337 commented on #7359
Hi!
Thanks for your reply.
I've checked the error.log file and it says:
[PDOException] SQLSTATE[42522] Column not found: 1054 Unknown column 'EventTag.local' in 'where clause'.

Seems like the column was deleted or the database does not work anymore?

[2021-04-22 15:17] chrisinmtown commented on #7363
Maybe this is a dumb question, but how do you parse XML files with the python-misp (pymisp?) library?

[2021-04-22 17:21] stmtstk commented on #7363
@chrisinmtown

[code]

I used `STIXPackage.from_xml()` to parse them.

[2021-04-23 01:36] chrisinmtown commented on #7348
Now supported in PyMISP so you might want to close this issue, see https://github.com/MISP/PyMISP/issues/732

[2021-04-23 01:38] chrisinmtown commented on #7346
Are you all considering a way for the Cake setSetting feature to support the forceSave option?  Or is there another solution?

[2021-04-23 04:52] rishdang commented on #7351
Hi @mokaddem ,

Thanks for your response. PFB inputs. Anything else that I can provide as part of troubleshooting?

[code]

[2021-04-23 05:06] abhijeetasawant commented on #7185
My observation is.
Once you delete the event - it gets added in blocklisted events. Then import fails.
If you delete blocklisted event from blocklist then  it will get imported.

[2021-04-23 05:59] iglocska commented on #7351
Sounds like the redis handler is not installed for the PHP version that you use.

Something like `sudo apt install php7.4-redis` should sort it out. Seeing how you have both PHP 8.0 and 7.4 installed also make sure that it's actually 7.4 that you use for MISP as 8.0 is not yet supported.

[2021-04-23 06:04] iglocska commented on #7185
Indeed, the uuid of the stix document is reused for the event uuid to be created. Deletions block-list the uuid as @abhijeetasawant correctly observed.

With that said the error needs to be cleaned up to indicate this.

[2021-04-23 11:26] chrisr3d commented on #7363
Hey do you have a sample that I could use to reproduce the issue on my side?

[2021-04-23 12:46] github-germ commented on #7348
Thank you very much for the swift enhancement!

[2021-04-23 12:46] #7348 closed, assigned to nobody

[2021-04-23 17:45] rishdang commented on #7351
This fixed it. I am not sure why did it happen since the install was running stable for quite some time.

Thanks @iglocska :)

[2021-04-23 17:45] #7351 closed, assigned to nobody

[2021-04-24 09:48] stmtstk commented on #7363
Try below.

### Steps to reproduce the behavior

1. Create a new event
2. Add a target-user attribute in the event and fill any value.
3. Click "Download files" and choose "STIX XML".
4. We can confirm that the downloaded STIX files luck the "xmlns:stix-ciqidentity" namespace.

[2021-04-24 11:25] rishdang opened #7368 "Bulk/ Automate CorrelationExclusion Addition via API"
Hi Team,

Currently on MISP v2.4.141. Referring #7348 , is there a way to bulk add co-relation exclusions via JSON?

Sample curl request -

[code]

Leads to an error

```{"name":"An Internal Error Has Occurred.","message":"An Internal Error Has Occurred.","url":"\/correlationExclusions\/add"}```

Thanks,
rish

[2021-04-24 23:55] chrisr3d commented on #7363
Right, I see the corresponding namespace was wrong.

It should be fixed with 6347b24d2, let me know if it is not the case and reopen the issue if needed.

[2021-04-24 23:55] #7363 closed, assigned to chrisr3d

[2021-04-25 01:04] stmtstk commented on #7363
I think it seems to be good. Thank you!

[2021-04-26 00:15] chrisinmtown commented on #7368
MISP seems to lack batch/bulk operations in general. For example we asked for a batch/bulk delete action on attributes, the request remains open: https://github.com/MISP/MISP/issues/6934

[2021-04-26 08:18] mokaddem commented on #7293
@chrisinmtown Indeed, if you wanted to change the `event_id` field of a feed, you had to pass the ID via the `target_event` property, otherwise it would zero it out. Now, if you don't pass it, it will recover the ID from the already saved feed, thus, keeping it as is.
Thanks for the report!

[2021-04-26 08:25] mokaddem commented on #7279
@chrisinmtown What does the `change` field in the logs says? You should have a JSON encoded string of the validation error there.

[2021-04-26 08:47] mokaddem commented on #7359
Hey,
Can you check the following?
1. The diagnostic of your database schema?
  - `/servers/dbschemadiagnostic`
2. That your workers are up and running
  - `/servers/serverSettings/workers`
3. And that you don't have any pending update
  - `/servers/updateProgress`

Thanks!

[2021-04-26 10:12] chrisinmtown commented on #7293
Thanks @mokaddem please post here the version where this is fixed (or will be fixed).

[2021-04-26 10:17] chrisinmtown commented on #7279
Thanks @mokaddem for pointing me to the change field.  Temporary blindness I guess, now I see the detail there, for example:
[code]
Sorry to bother you with this.

[2021-04-26 10:17] #7279 closed, assigned to nobody

[2021-04-26 12:56] #7288 closed, assigned to nobody

[2021-04-26 12:56] #7293 closed, assigned to nobody

[2021-04-26 13:21] chrisinmtown commented on #7293
I think the answer to my question is, v2.4.142.

[2021-04-26 13:25] chrisinmtown commented on #7022
This may almost be the easiest bug-fix ever :) I hope you'll accept my proposed change

[2021-04-26 13:27] chrisinmtown commented on #6978
I hope you'll consider my proposal, it seems like a low-risk change since the URLs remain *unchanged*, thanks.

[2021-04-26 17:43] rishdang opened #7370 "Unable to generate co-relations | v2.4.142 | PHP 7.4 | Ubuntu 18.04.5 LTS"
Have been unable to generate co-relations post upgrading to v2.4.142, the request is black-holed and Job is failed.

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       |  Ubuntu 18.04.5 LTS
| OS version (client)       | Windows 10, Linux, All clients actually
| PHP version

[2021-04-26 18:04] #6978 closed, assigned to nobody

[2021-04-26 18:04] iglocska commented on #6978
Good point, thanks!

[2021-04-26 18:15] chrisinmtown commented on #6978
Thanks @iglocska

[2021-04-26 20:20] chrisinmtown opened #7371 "Store event attachments as database blobs not in dirs like /var/www/MISP/app/files/1234"
The MISP server stores attachments like PDF files to its filesystem in directories like /var/www/MISP/app/files/<EVENTID>/

I would like to request that the content is stored to the database in a blob store, with the IDs of the blobs in the event.

I justify this by our use of multiple servers for reliability and the difficulty of keeping server filesystems in sync.  If a web server fails, traffic

[2021-04-26 21:10] danvelc opened #7372 ""Unexpected Error" when syncing 2 instances"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 20.04.2
| OS version (client)       | Kali 2021.1
| PHP version               | PHP 7.4.3
| MISP version / git hash   |  v2.4.142
| Browser                   | Firefox

Hello I've been trying to Sync these two MISP inst

[2021-04-27 03:01] thamamo commented on #5362
Hello @RichieB2B, @iglocska, @eCrimeLabs,

I have some questions.
Would you tell me?
(Excuse me for the stupid question.)

**Question1.** Do local tags only make sense for synchronize **between internal instances?**
In other words,
there is no point in using the local tag in situations where there is only synchronization with the external server.
Does that mean that the global tag should be used i

[2021-04-27 10:19] SunnyLu1337 commented on #7359
Hi!

1. Everything is kinda red here.
The diagnostic says "attribute_tags - Column 'local' does not exist but should
event_tags - Column 'local' does not exist but should
logs - Column 'action' is different
object_references - Column 'source_uuid' does not exist but should

2. & 3. The workers and updateProgress are fine.

Many thanks!

[2021-04-27 17:05] 86x opened #7375 "Installation on Raspberry Pi DOES work, but is stopped by SUPPORT_MAP"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Raspbian (32-bit), Ubuntu 20.04.2 LTS (RPi 3/4/400) (64-bit), Ubuntu 21.04 (RPi 3/4/400) (64-bit)
| OS version (client)       | Ubuntu
| PHP version               | 7.4.3
| MISP version / git hash   | 2.4, 5a7a108
| Browser

[2021-04-28 12:50] FafnerKeyZee opened #7379 ""Expected DB_version" is incorrect"
Hello,

after updating to v2.4.142 (1814195f793a652883de80bd1874221676f786c5
In the diagnostic page I got the following message:
Expected DB_version: 67
Actual DB_version: 68

Best regards

[2021-04-28 13:55] #6855 closed, assigned to chrisr3d

[2021-04-28 13:58] chrisr3d commented on #6855
I think 8e7a55d fixes the issue, but let me know if anything goes wrong and reopen if needed

[2021-04-28 15:32] servicepac opened #7380 "Issue Updating to 2.4.142 - Moving files is requested."
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)      | Ubuntu 18.04
| PHP version               |  7.2.24-0ubuntu0.18.04.7
| MISP version / git hash   | Currently installed version… v2.4.141 (bd5aecdfd1fb17319b02bcdd9ed3f649255c6132)

[2021-04-28 15:41] servicepac commented on #7380
adding a git status output in case that helps.

MISP# git status
On branch 2.4
Your branch is behind 'origin/2.4' by 223 commits, and can be fast-forwarded.
  (use "git pull" to update your local branch)

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git checkout -- <file>..." to discard changes in working directory)
  (commit or discard the un

[2021-04-28 16:45] chrisr3d commented on #7327
I hope this has been fixed with f098dba
Let me know if it works as intended now for you or reopen the issue otherwise

[2021-04-28 16:45] #7327 closed, assigned to chrisr3d

[2021-04-29 07:54] CyRix76 opened #7381 "Events list always empty after elimination"
Hello,
I installed the misp server on 3 different distros, a debian 10, kali linux 2021.1 and Ubuntu server 20.04, after fetching the feeds the events list was populated correctly. Later I cleared the events list by deleting them by selecting all. I then had the need to re-download the same feeds, the job is completed correctly but the list of events is no longer populated for those feeds, only if

[2021-04-29 08:03] mryayap opened #7382 "Keep original event ID"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | CentOS
| OS version (client)       | Gentoo
| PHP version               | 5.4, 5.5, 5.6, 7.0, 7.1... (if relevant)
| MISP version / git hash   | 2.4.140
| Browser                   | Firefox

### Support Questions

Hi All,

[2021-04-29 08:52] Kamforka opened #7383 "MISP fails to import STIX files"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 18.04
| OS version (client)       | Ubuntu 20.04
| PHP version               | 7.2
| MISP version  | 2.4.140

### Expected behavior

Expected error-free STIX imports.

### Actual behavior

Both v1.2 and v2.0 formatted f

[2021-04-29 09:09] adulau commented on #7381
Check the event block list. Everytime an event is deleted in MISP it's added there to avoid getting back unwanted events.

`https://<yourinstanceurl>eventBlocklists` to manage it.

I hope this helps.

[2021-04-29 09:09] #7381 closed, assigned to nobody

[2021-04-29 09:10] adulau commented on #7383
@chrisr3d could you have a look?

[2021-04-29 10:14] CyRix76 commented on #7381
Thank you very much, it works!!!!!!
On debian and kali the eventblocklist is present and I have emptied it now, it works, on ubuntu this list is not populated and each fetch did not present the problem.

Thank you very very much!!!!!

[2021-04-29 12:21] mokaddem commented on #7382
Hello,
What you are after is the `uuid` field. Its value is kept even after synchronization.
By design, `ID`s are not meant to be kept as is after synchronization.

[2021-04-29 12:21] #7382 closed, assigned to nobody

[2021-04-29 12:33] mokaddem commented on #7372
Hello,
If you hover the error message `Unexpected error`, does it display this text?
[code]
If that's the case, you may have entered an incorrect URL. Most common error is that this URL actually redirect to another one.

Could you check on your side?
Thanks

[2021-04-29 13:30] chrisr3d commented on #7383
I just ran the import scripts with both of the STIX files and I did also found some issues.

First, thank you for reporting the issue about the STIX 1 file import, it should be fixed with 0ced4cb.

Concerning the STIX 2 file I noticed you got an issue because your MISP does not use the correct python library. In order to fix this I would recommend to execute the following instructions:
[code]
You

[2021-04-29 13:55] servicepac commented on #7380
Ended up backing up the app/Config directory and doing this - this seem to get it updated:

# WARNING: this can't be undone!

git reset --hard HEAD
git clean -f -d
git pull

make sure you save any files - and it looks like now i'll have to reinstall all the cybox/pymisp/stix stuff as well.

[2021-04-29 16:15] #7380 closed, assigned to nobody

[2021-04-29 18:08] iglocska commented on #7380
Just a note for posterity: You should never have to git stash / make any modifications in general when updating misp, if you feel the need to make any changes based on the feedback it's a smell of a permission issue or something gone awry with your MISP installation.

[2021-04-29 18:12] servicepac commented on #7380
Thanks for the info. Don't know why it happens - I sometimes do have to fix permissions too. I've been up and running for 5 years so some of it might be artifacts.  Perhaps it's time for a fresh rebuild.

[2021-04-29 18:49] rishdang commented on #7370
Hi Team,

Anything that I can provide to solve this.

Thanks,
rish

[2021-04-30 00:11] danvelc commented on #7372
The URL seems to be correct seems I'm copying the Sync server configuration from the sync user 'Create Sync Config'
![image](https://user-images.githubusercontent.com/81994050/116633246-a0fd4d00-a91e-11eb-9e47-0a101a60e6cf.png)

[2021-04-30 00:29] danvelc commented on #7372
I'm getting a 302 error as it seems from the logs
[code]

[2021-04-30 03:03] EvaYiYang commented on #4398
@marcof992 Hi, do you mind elaborate a bit more on how you get the "related events" for an attribute?
How do I use the `includeRelatedTags=True` tag in my request? Thanks!

[2021-04-30 03:09] #7372 closed, assigned to nobody

[2021-04-30 03:12] danvelc commented on #7372
I am extremely sorry. While I don't know the actual fix I got it to work after setting up a domain and a SSL certificate for my Ubuntu instance now the Kali instance can sync without any issues. Thank you so much for your reply.

[2021-04-30 09:16] pettai commented on #4205
Ping? Has there been any progress with regards to "searchall" and type filtering ?

[2021-04-30 11:21] abhijeetasawant commented on #7013
My observations:
Importing STIX2 file works perfectly fine on OVA setup (MARIA DB), but fails on docker setup (mysql).

[2021-05-01 15:55] stevelogik commented on #6066
Did you ever get MISP working with Palo Alto?

[2021-05-01 21:57] Womble-1 commented on #6066
I finally got mine working using the apikey in the get request.  Fine in my network, probably not in most.
e.g.
https://host.domain.tld/attributes/restSearch/returnFormat:text/published:1/to_ids:1/type:domain||hostname/limit:2000/enforceWarninglist:true/apikey:fkljgfdlkgjhsfdlkjghsdflkjgh

[2021-05-01 23:00] MySickSi commented on #6066
@stevelogik Yes, I had to implement MineMeld as well. It has a miner you can download from github to pull IOCs from MISP.

[2021-05-03 04:12] jloehel commented on #7013
Yes, these group by thingies are usually MySQL related, because it works with `only_full_group_by` which means that only strict ANSI SQL rules will be applied. This means that I can not use:
* 'GalaxyCluster.value',
* 'GalaxyCluster.id'

in this query. One solution is to add these columns also to the group by.

[2021-05-03 18:10] jloehel commented on #7371
What is about sharing a volume for `/var/www/MISP/app/files` between the instances? In my point of view the folder `files` should be not part of the repository. It should point to `/var/lib/misp/files/`. You can mount what ever you want there and share it between the instances. I added a sym-link for that but it would be nice to make it configurable. It would help to improve the docker setup, too.

[2021-05-03 18:14] chrisinmtown commented on #7371
Thanks @jloehel for the comment but I don't want to argue about whether directories below /var/www/MISP/app are local or network filesystems.  I think a guiding design principle should be that all user-uploaded data, both admin and non-admin, should go to the big MISP database; and the /var/www/MISP/app tree should have only code and system configuration.

[2021-05-03 18:57] jloehel commented on #7371
I think so, too. That bothered me right from the beginning because it was not really straight forward to containerize it. But I would go a step ahead and would say even configuration files should be not part of it. They should go to `/etc/` and for containers it should be possible to set [configuration files](https://docs.docker.com/engine/swarm/configs/) or configure it via secrets and ENV variab

[2021-05-03 19:30] chrisinmtown commented on #7371
Bloat? Our correlations table has 6M, our logs table has 85M, our attributes table has 25M rows. Fewer than 150 of those attributes (one hundred fifty) are file attachments, total size on disk 64MB.  I think it's a waste of effort to fuss over optimization of data that is less than .001% of our store. Keeping all the user data together makes operations life less error prone during *difficult* time

[2021-05-03 20:34] jloehel commented on #7371
This might be true for your use-case. Maybe someone else saves there a few huge files or a lot of small sample files. Think about huge files like pcaps, dd images or memory dumps there. I would vote for a configurable option.

But I need to agree that the upgrade and migration right now is not optimal because the data/configuration is not strictly separated from the code. Thanks for starting the d

[2021-05-03 21:33] adulau commented on #7371
There are many disadvantages of storing large binary object in a DBMS which clearly outperform the advantages of unicity.

- Loading large blob increase the need of memory by a significant factor (compared to a filesystem cache)
- Backups/dumps will take much more time and including restore
- Updating schema and especially alter table will become much slower
- Performance will drop as memory acces

[2021-05-03 21:39] iglocska commented on #7371
Yeah I totally don't see the advantage of moving to blobs for the file attachments. Knowing of several instances where the sample store is larger than the DB size, it really depends on what you share / what you store.

Fully agreed with @jloehel on the separation of concerns, we're planning on moving all content files to a detached location from the codebase for easier segregation of user data, bu

[2021-05-03 21:40] chrisinmtown commented on #7371
Ok I know when I'm beaten.

[2021-05-03 21:40] #7371 closed, assigned to nobody

[2021-05-04 16:56] jwilczek opened #7391 "Correlation Logic Discrepancy"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 18.04
| OS version (client)       | N/A
| PHP version               | 7.2.24
| MISP version / git hash   | 2.4.142, 24185cdba33913ac12724cb3f3bd413e81a1edd4
| Browser                   | N/A

### Expected behavior
Attri

[2021-05-04 18:35] iglocska commented on #7391
This is indeed weird. I'll have a look, could you paste the full attribute value of a sample that causes that?

[2021-05-04 21:55] jwilczek commented on #7391
The binary value of `0x01`, as stated in the actual behavior, is a full attribute value that causes this issue. I'm not sure how this data is being added to MISP (I'm not the originator of the information). My guess is either pymisp or automated parsing of a x509 certificate uploaded to MISP. I doubt you can add a binary value using the web UI as I'm guessing it will interpret everything as text.

[2021-05-05 05:53] devdandi opened #7393 "Status failed on job"
# This template is meant for bug reports, if you have a feature request user the other template.

![failed](https://user-images.githubusercontent.com/45485349/117101519-928cb680-ada0-11eb-967d-db4ed0f5e79d.PNG)

*If you would like to report a bug, please fill the template bellow*

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type o

[2021-05-05 06:16] adulau commented on #7393
Are the workers running? You should check first if the workers are running.

`https://<yourmispinstanceurl>/servers/serverSettings/workers`

[2021-05-05 06:21] devdandi commented on #7393
@adulau of course, all worker has been running and showing alive=>true, ok => true, but job is showing 0

[2021-05-05 06:21] devdandi commented on #7393
I am using php 7.2 and ubuntu 18.4

[2021-05-05 06:30] devdandi commented on #7393
![Screenshot (20)](https://user-images.githubusercontent.com/45485349/117104283-109f8c00-ada6-11eb-889b-e54a9746826d.png)

[2021-05-05 06:35] devdandi opened #7394 "failed: The "_cake_core_" cache configuration does not exist on /var/www/MISP/app/tmp/logs/resque-2021-05-05.log"
## Please consider the following notes
- Critical security bugs can be reported, preferably PGP encrypted, by mail to: info@circl.lu
- Bug reports and feature requests can be filed as an issue on github: https://github.com/MISP/MISP/issues
- For interactive support please join the Gitter chat on: https://gitter.im/MISP/MISP

The official documentation of MISP can be found here: https://www.circl.l

[2021-05-05 08:01] iglocska commented on #7391
Interesting that sounds like a falsey comparison being misunderstood, will play around with it!

[2021-05-06 09:29] mokaddem commented on #7393
Did you find anything particular in the error logs?
They are in `app/tmp/logs/`

[2021-05-06 09:41] mokaddem commented on #7394
Did you find any other errors in the other log files?
Also would you mind providing the your MISP version and commit hash?
And if it's not the case, updating to the latest version might already solve your issue.
Thanks

[2021-05-06 10:57] Tommi852 opened #7396 "Login slowness and a lot of correlations"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server&client)       | Ubuntu 18.04.4 LTS x86_64
| MISP version / git hash   |  v2.4.142 (81c2d01bcdeb859aa867c16bd7169c5824d93e46)
| Browser                   | Firefox & Chromium

### Support Questions
#### In short:
I have performance

[2021-05-06 11:38] iglocska commented on #7396
That attribute : correlation ratio is indeed pretty crazy. Sounds like one of your data-sources is replicating the same data set over and over...

[2021-05-06 12:13] garanews commented on #7128
Hi @patriziotufarolo I had the same behavior wiith Apache AD auth.
After login everything was working, had 403
[code]
 for some endpoint like
https://misp.prv/feeds/view/1.json
https://misp.prv/feeds/index.json
https://misp.prv/decayingModel/export/1.json

With your patch also those endpoints are working.
But export csv or any other export in export page always worked in my case.

[2021-05-06 14:14] sim0nx commented on #4047
FYI I hit this problem as well now and the issue was that there was something cached in redis. Doing a flushall in redis solved the issue for me.

[2021-05-07 00:10] eschultze opened #7398 "Can't delete any event after S3 configuration"
Hello!

MISP running: v2.4.142 (269253aa78c1230d18c6cf5a4b14afb958ac5c84)

After configuring the S3 plugin I'm unable to delete events.

<img width="519" alt="misp_bug" src="https://user-images.githubusercontent.com/12034548/117379931-fd2c1800-aeae-11eb-81a2-a7b03c4633d1.png">

This is the log when `$SUDO_WWW -- $CAKE Admin setSetting "MISP.attachments_dir" "s3://"` is pointing to s3.

[code]

Und

[2021-05-07 14:03] collinh21 opened #7423 "Error When Trying to Connect to Remote Database"
Hello,

I am trying to establish a remote connection between my MISP application server and a MySQL Azure Resource. I have pasted the error message I am receiving.

![image](https://user-images.githubusercontent.com/79159837/117459026-8cb5e300-af10-11eb-9678-ef988155cee3.png)

Here is my database.conf file:
<img width="726" alt="Screenshot 2021-05-07 090128" src="https://user-images.githubusercont

[2021-05-08 11:46] devdandi commented on #7393
Thank you everyone, i had solved this problem.

[2021-05-08 11:47] #7394 closed, assigned to nobody

[2021-05-08 11:47] #7393 closed, assigned to nobody

[2021-05-09 15:58] Hestat opened #7399 "Correlations stop being calculated in large attribute events"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu,
| OS version (client)       | Ubuntu 20.04.2 LTS
| PHP version               | PHP 7.4.3
| MISP version / git hash   | v2.4.142 (a57784fb05d59cf1660068cea265118e53b3db19)
| Browser                   | N/a

### Expected

[2021-05-10 12:04] JoePJisc opened #7401 "Configuring Attachment Scans"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | CentOS
| OS version (client)       | Win10
| PHP version               | 7.2
| MISP version / git hash   | 2.4.142 (MISP-RPM)
| Browser                   | Brave Browser

### Support Questions

I am trying to configure att

[2021-05-11 09:08] samitainio opened #7404 "Timestamp enforcement logic is wrong"
Recently there was the commit 269253aa78c1230d18c6cf5a4b14afb958ac5c84 which has the following if conditions:

app/Model/Attribute.php
Line 735: `if ($converted['Attribute']['first_seen'] >= $converted['Attribute']['last_seen']) `

app/Model/MispObject.php
Line 203: `if ($converted['Object']['first_seen'] >= $converted['Object']['last_seen'])`

app/Model/ShadowAttribute.php
Line 471: `if ($convert

[2021-05-11 09:23] #7404 closed, assigned to mokaddem

[2021-05-11 09:24] mokaddem commented on #7404
Hey,
`first_seen` == `last_seen` might be pretty common indeed.
Thanks for the feedback!

[2021-05-11 15:31] jloehel commented on #7225
Have you installed mariadb from the official RH repos? Have you already triggered a mysqlcheck? Just to exclude any data corruptions. Weird issues on RH smell like SELinux. Anything in `/var/log/audit/audit.log`? Can you pls try `sudo semanage permissive -a mysqld_t`.

[2021-05-11 15:58] jloehel commented on #7396
@iglocska We have similar scenario with ~185.000.000 correlations and ~8.500.000 attributes. I see a high load on the mysql server this causes sometimes hiccups with the login, displaying events or generating reports. Is there any best practice to cleanup correlations? I have already added Correlation Exclusions. Thanks for this nice feature.

[2021-05-11 16:02] iglocska commented on #7396
Besides the exclusions - not really sure. Did you identify a specific source for the massive correlations? Such as data coming from a specific feed for example.

[2021-05-11 16:49] jloehel commented on #7396
Yes, there are a few feeds which overlap. Some between 60 and 80%. Is it possible to exclude correlations just between specific events/feeds? In example between `Tor Exit Nodes`/`Tor All Nodes` or `Phishtank`/`Phishscore`/`OpenPhish`. Properly the MISP feeds from abuse.ch and osint.digitalside.it cause a lot of correlations. Especially osint.digitalside.it produces a lot of small events. I deactiv

[2021-05-11 19:11] jloehel opened #7406 "Events Search By Tag - Please add a View All-Button"
**Is your feature request related to a problem? Please describe.**
I'd like to delete more than 60 events at once by tag.

**Describe the solution you'd like**
A `View All` Button for events. Something like this would be cool: `https://misp.***/events/index/all/searchtag:1026`

**Describe alternatives you've considered**
A `Delete All` Button

**Additional context**
Deleting a lot of events throug

[2021-05-11 21:26] patriziotufarolo commented on #7128
@garanews thank you for your feedback!
the patch works fine and it's used even on production to let client authenticate via AD/Kerberos, nevertheless it breaks most of the other authentication plugins, so it can't be considered the definitive solution... be careful with the upgrades :)

Unfortunately in my case e5e855b broke even the API calls used by the UI components, including restSearch and ex

[2021-05-11 22:12] elecmac392 commented on #6555
Working off of this similar, but different issue...I am having the same issue with event templates but as I understand it, there is no option to change ui-priority. I can drag the different fields into the order I want them in but they always revert back to an unordered state. An example would be that I want in this case, domains to be just before URLs, again for streamlining analyst input.

![ima

[2021-05-11 23:29] chrisinmtown commented on #7406
For what it's worth, you can fiddle the size of the page shown to you in the UI by adding the path parameters `/page:1/limit:500` (or whatever size you like) to the end of the URL, so for example the URL might be `https://misp.my-company.com/events/index/searchtag:123/page:1/limit:500`. Once you have them all on the screen it's easy to click the select-all box then delete them.

You could also vot

[2021-05-11 23:50] chrisinmtown opened #7407 "How to represent message part data in MISP object-attribute 'email' ?"
I'm trying to capture some IoC data about emails within a MISP object-attribute.  To state the obvious, every email message may have multiple body parts. For example, it's common for the first body part to be text/plain, the second body part to be text/html, and so on.  Each body part (basically an attachment) has a mime-type, sha256 code, file name, etc. Mostly I'd like to capture that metadata a

[2021-05-12 03:00] jloehel commented on #7406
Thanks a lot. That's not obvious. If the limit is too high the deletion is not possible but 500 is possible. I guess the query string `https://misp.foo/events/delete/[12345,12346,12347,...]` gets too long. Passing some filter to the backend would be nice. I am closing the issue.

[2021-05-12 03:00] #7406 closed, assigned to nobody

[2021-05-12 11:00] gacyn commented on #7198
You may try to turn off ```MISP.disablerestalert``` and beware of email flooding.

[2021-05-12 11:30] Tommi852 commented on #7396
I disabled Abuse.ch MISP feeds because they seemed to generate around 100 correlations per event. I had all the Abuse.ch feeds, Bazaar, Threatfox, and URLhaus.
I deleted all abuse.ch events which lowered my attributes from 1,300,000 to 400,000.
I also disabled correlations to purge them, but have yet to rebuild them without the Abuse.ch data.
**Update:** After rebuilding the correlations I have ju

[2021-05-12 14:08] JoePJisc opened #7408 "Sharing Group membership does not update"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       |  Ubuntu
| OS version (client)       | Ubuntu
| PHP version               | 7.4
| MISP version / git hash   |  2.4.142 (94ebb627c347a8e4faf05f25342a371a3e6759df)
| Browser                   | Firefox

### Expected behavior

Whe

[2021-05-12 14:21] JoePJisc opened #7409 "Event Deletion not Replicated by Sync"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| OS version (client)       | Ubuntu
| PHP version               | 7.4
| MISP version / git hash   | 2.4.142 (94ebb627c347a8e4faf05f25342a371a3e6759df)
| Browser                   | Firefox

### Expected behavior

When

[2021-05-12 19:17] chrisinmtown commented on #7407
I'll add a closely related question. I see that some of the email object-attribute facets allow multiple occurrences.  This makes sense for items like `header` but I completely don't understand why items like ip-src allow multiple occurrences:
[code]
Would someone please help me understand the intent?  Can a single message really originate from multiple IP addresses?

[2021-05-13 10:22] gacyn commented on #7409
MISP does not sync deleted events. It only pulls the new or updated events from the remote server. You may refer to the pull function here: https://github.com/MISP/MISP/blob/94ebb627c347a8e4faf05f25342a371a3e6759df/app/Model/Server.php#L469

There is no such marking telling which server the event comes from (although you may put a tag on it). MISP can't delete your event just by matching the creat

[2021-05-13 10:39] JoePJisc commented on #7409
Thanks for confirming; this is what I suspected was the case.

So, to withdraw a shared event, it needs to be edited to mark it as a false positive, e.g. through tagging or removing all attributes and adding a single "Withdrawn" comment attribute, and republishing?

[2021-05-13 10:51] gacyn commented on #7409
Hmm. I am not sure is it a good workaround but make sure the event has at least one attribute, otherwise the event will be ignored.

[2021-05-14 07:43] maro584 commented on #7225
The issue is solved , I have just delete a table sightings and recreate a structure of it using databases engine memory. When I have triggered mysqlcheck then the script stops in the moment where sightings table was checked

[2021-05-14 07:43] #7225 closed, assigned to nobody

[2021-05-14 10:14] #7375 closed, assigned to nobody

[2021-05-14 11:00] #7022 closed, assigned to nobody

[2021-05-14 11:03] chrisinmtown commented on #7022
Thanks.

[2021-05-14 11:47] iglocska commented on #7022
No, thank you! ;)

[2021-05-14 19:10] jwilczek opened #7410 "Duplicate UUID in Attributes Table"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 20.04 LTS
| OS version (client)       | N/A
| PHP version               | 7.4
| MISP version / git hash   |  v2.4.143 (e4a00d067ac3d1654a450a9a9cda096a0844d320)
| Browser                   | NN/A

### Expected behavior

[2021-05-14 20:53] chrisinmtown commented on #7177
@ssinclair-caas you probably should post exactly the attribute & value that is being filtered out by the warning list. Can you reproduce the problem with a trivial PyMISP script that calls search() with parameter enforce_warninglist=False ?

[2021-05-14 20:54] github-germ commented on #7177
2.4.141

I observe attributes that have strings in a warninglist are not retrievable via `pymisp.search` even when setting `enforce_warninglist=False`, e.g.

`attribute.value1` is something like:
* `foo/bar/127.0.0.1/hello/world`

Both of these calls return: `{'Attribute': []}`
* `pymisp.search(controller='attributes', uuid='xxxx', enforce_warninglist=False)`
* `pymisp.search(controller='attribute

[2021-05-16 10:52] chrisinmtown commented on #7177
Here is a SSCCE that demonstrates the problem.  We are using MISP & PyMISP versions 2.4.143. The server is configured for many warninglists such as "List of known Wikimedia address ranges".  I have not yet manually checked every warning list to see if it contains 127.0.0.1, so there's still a chance that something *else* is filtering out this attribute, please comment. I also tried searching by th

[2021-05-16 13:18] chrisinmtown commented on #7177
Found that warninglist `LIST OF RFC 5735 CIDR BLOCKS` contains entry `127.0.0.0/8`, does that explain why the attribute with the value shown above is excluded from search results, even on an exact match?

[2021-05-17 05:40] glanzerp15 opened #7411 "Cant open Server Diagnostics after updating from 2.4.135 to 2.4.143"
| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 20.04
| OS version (client)       | Win10
| PHP version               | 7.4.3
| MISP version / git hash   | 2.4.143
| Browser                   | Google Chrome

After updating to the latest version, I can no longer open the server diagnostic

[2021-05-17 13:58] soc-ti opened #7412 "Decay Model Help"
I have two MISP instances running, one which collects events/attributes and one where I push events into for alerting purposes. Is there a way to use the decay feature to prevent decayed attributes being pushed from one instance to the other?

[2021-05-17 14:35] iglocska commented on #7412
No, this is not possible and breaks the sharing model of MISP.

[2021-05-17 14:35] mokaddem commented on #7412
Hey,
There is no way to synchronize data based on the **on-the-fly** calculated decay.
The main reason is if something is not marked as expired, it may be tomorrow. The opposite is also true if context was to be changed or sighting were to be added.
What org usually do is they have two MISP instances. One staging which contains a lot of data (and sometime "junk" data), and another one (sometime ca

[2021-05-17 14:35] #7412 closed, assigned to nobody

[2021-05-17 14:36] adulau commented on #7412
Just a complementary information, you can import decay models between instances. This could also help in your case.

[2021-05-17 20:03] chrisinmtown commented on #5004
I most recently hit this problem while trying to ingest modest amounts of data. I was adding a single object with 20 or so attributes to an existing event. Nobody else was doing much of anything.  But I was ingesting data that had already been ingested so the correlations were enormous, about 4 million from my 10 or so events. I speculate - truly a SWAG - that the load on the sql server due to upd

[2021-05-18 09:59] steve8625 opened #7413 "STIX2 export with ip-port object"
**Is your feature request related to a problem? Please describe.**
When parsing MISP ip-port object and resolving it as ip_port pattern, it could not be correctly converted with ip objects having object relation "ip-dst". As we checked upon the standard we feel that since ip-dst is not excluded from valid object relation and it also provides more accurate description of a threat, it should be adde

[2021-05-18 11:56] chrisinmtown commented on #7411
FWIW we just upgraded to 2.4.143 (altho not from 2.4.135) and our server shows the diagnostics page just fine. I know this is no help.

[2021-05-18 12:02] chrisinmtown commented on #7177
@github-germ we chased the rabbit down the wrong path here, this particular problem stems from the SIGNATURE ALLOWEDLIST which has this entry: `/127\.0\.0\.1/`

[2021-05-18 13:49] pietrogu opened #7414 "How to use correctly Additional Sync Parameters to filter events pull"
Hi,

i would like to know how to use correctly the additional sync parameters that can be found in the Sync configuration.
I would like, for example, to pull only the event that contains the word "Spam" in the event info.
I thought that doing something like **{"info":"%Spam%"}**  would have done the job, but all the events are imported instead.

Can someone help me?

Thanks,
Pietro

[2021-05-18 14:28] thamamo commented on #5362
Hello @RichieB2B, @iglocska, @eCrimeLabs,

How about the above question?

I’m sorry to bother you with this question.

Best regards,
thamamo.

[2021-05-18 15:12] lfortemps opened #7415 "Make some tags local only"
**Is your feature request related to a problem? Please describe.**
Some tags do not convey any meaning outside of our organization such as workflows and are purely meant to be used as local tags. However mistakes could be made and such a tag could be used as a global tag which will modify the timestamp and be synced externally(once published).

**Describe the solution you'd like**
An additional ch

[2021-05-19 10:19] ibyf0r3ns1cs opened #7417 "Use API with a txt extention"
Hi, there is an option to integrate with MISP API but with a .txt extension ?
Thank you for the help.

[2021-05-19 10:26] TanveerAhmad2017 opened #7418 "My STIX 2 import is not working while any opensource is working."
## Please consider the following notes

--------8<------

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (client)        Ubuntu20.4.2.
| PHP version               |7.4.3
| MISP version / git hash   |  MISP 2.4.140 , 282a9c4
| Browser                   |firefox

### Support Questions
ST

[2021-05-19 11:01] iglocska commented on #7418
The stix libraries are undergoing some heavy changes at the moment, could you update to the latest MISP version and test it again? If the issue persists on 2.4.143, let us know and we'll look into it asap.

[2021-05-19 12:19] devnull- opened #7419 "Synchronisation servers cache error with an old PHP version (<7) -- PHP list error #notaMISPbug"
Hello MISP dev team,

I'm facing an issue when I launch (via Web interface) a synchronisation servers cache job with an old PHP version (before PHP v7):

* via the web interface: the job is `Failed` (https://misp.xxx/jobs/index)

[code]

I started to dig in MISP PHP code and the error appears after this commit ([merged some months ago](https://github.com/MISP/MISP/commit/78a48ddc8789fde1c9af445158

[2021-05-19 16:24] rainman-a opened #7421 "Object embed in table in event report breaks markdown rendering"
On writing an event report I built a table and embedded objects in it. The markdown would not render until I removed the table . It appears that embedded objects, tags, or attributes in an event report table break the rendering in browser.

[2021-05-20 00:15] rishabh07074 opened #7422 "Stop/Cancel process via GUI/CLI for cancelling jobs in Administration"
**Is your feature request related to a problem? Please describe.**
Sometimes running scheduled jobs or manual jobs for fetching feeds or caching feeds. it start to utilize to much system resources. I try to search some documentation around it but couldn't found. hence I would request community to introduce something via GUI/CLI to kill the running jobs in Administration tab.

**Describe the soluti

[2021-05-20 07:13] TanveerAhmad2017 commented on #7418
I have updated to the latest version  v2.4.143 (). and same issue persists.
attached image which shows MISP is updated.

![image](https://user-images.githubusercontent.com/67195832/118935140-a1f52d80-b964-11eb-94b1-800df5de7fc1.png)

[2021-05-20 07:19] jloehel commented on #7411
Same issue here.

https://github.com/MISP/MISP/blob/282a9c404783f0dadbb401ec57af4dd95d65b7bc/app/Model/Server.php#L2642

The SQL query uses again non-aggregated columns which are not part of the group by. Why do you not write standard/portable SQL queries?

Edit: Why is the group by necessary? It should now work also without a group by.

[2021-05-20 07:41] #7411 closed, assigned to nobody

[2021-05-20 07:42] iglocska commented on #7411
Should be fixed now, thanks for digging into it!

[2021-05-20 08:00] iglocska commented on #7419
Hmm nice catch, I'd actually say that despite it not being an issue in PHP 7.0.0+, I'd consider this a bug. `list()` indeed should be renamed as it's a (no longer enforced) reserved keyword.

[2021-05-20 08:04] iglocska commented on #7417
Not sure I understand what you are trying to do, can you give me an example of what you'd request and what result you'd expect?

[2021-05-20 08:10] mokaddem commented on #7423
Hi,
I'm not familiar with Azure but by the look of it, it seems that something is badly configured on Azure's side.

[2021-05-20 08:12] iglocska commented on #5004
Yeah that sounds like it. 4M entries from 10 events is pretty wild.

[2021-05-20 08:29] TanveerAhmad2017 commented on #7418
@iglocska soft reminder! no harsh :)

[2021-05-20 08:32] devnull- commented on #7419
@iglocska Thank you :)

Don't hesitate to contact me if you need some help and if you have some question.

devnull- (Amaury)

[2021-05-20 08:33] Tommi852 commented on #7396
After some testing it seems like only the URLhaus MISP feed by Abuse.ch is creating the excessive correlations.
I believe the overlapping attributes are only overlapping within the URLhaus feed, because feed overlap analysis matrix didn't show any significant overlapping with other feeds.
ThreatFox MISP feed works great and doesn't create excessive correlations.

MISP is once again working as it i

[2021-05-20 08:46] mokaddem commented on #7414
Hi,
You can find the available parameters and a description in the rest client (/servers/rest).
Pick the template `Events->index` and the parameters will appear.
Cheers!

[2021-05-20 08:46] #7414 closed, assigned to nobody

[2021-05-20 12:06] NailBash opened #7424 "Problem with MISP feeds"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       |CentOS 7
| PHP version               | 7.2.24
| MISP version / git hash   | 2.4.143 (fae511938867cea995bfb7ad6203c104d1516776)

I have very strange behavior of feeds. I added my custom feeds and downloaded it to MISP, it become

[2021-05-20 13:17] Tommi852 commented on #7424
When you deleted the event where that feed was going, the event was most probably added to Event Blocklist. So MISP is blocking the creation of that event.
You can either remove the event from blocklist or you can use ThreatFox MISP feed instead of the CSV feed you seem to be using. You can find the MISP feed from Abuse.ch page [here.](https://threatfox.abuse.ch/export/.) See the part where it say

[2021-05-20 14:24] Rafiot commented on #7411
As the diagnostic page is unreachable, in there a way to trigger an update from the UI?

[2021-05-20 14:59] iglocska commented on #7411
Ha, good point. POST something like `{}` to /servers/update via the rest client using a site admin user.

[2021-05-20 15:03] iglocska commented on #7424
Basically when you set up a feed as a "fixed event" target feed, it actually does an additional thing internally on your first pull: It sets the event_id setting of the feed to the event that is created on the first ingestion. Since you've deleted it, it keeps trying to update an event that no longer exists.

Simply edit the feed's config and change the "event_id" field to 0 and it will create a n

[2021-05-20 15:35] iglocska commented on #7396
Awesome, thanks for the feedback!

[2021-05-21 03:15] NailBash commented on #7424
Thank you for answers. Well, I accidentally put more than one symbol in csv delimiter and didn't recognize it until now. Sorry. In time of feed downloading I get this error messges in logs
[code]
When I replaced it with one symbol everything become ok.

[2021-05-21 03:35] NailBash opened #7425 "Little more context from csv feeds"
Hi, community. I like to use feeds in csv format for importing to MISP - it simple and easy to use and managment, I think.
Some time ago I recognized interesting threat intelligence community - ThreatFox (https://threatfox.abuse.ch/). They are making a lot of feeds with a lot of context (https://threatfox.abuse.ch/export/).
![изображение](https://user-images.githubusercontent.com/29750691/11907892

[2021-05-21 06:43] qbolbk59 opened #7426 "Pull Jobs stuck completely"
I recently connected to an external MISP and started pulling the events. However, the pull job is completely stuck since two days now after pulling just 3 events. I already tried the following:
1. Check PHP memory which is set to 2048M. So that looks ok (unless this must be increased even more)
2. Check the redis database but it shows "(empty list or set)"
3. Killed the worker responsible for the

[2021-05-21 07:02] righel commented on #7426
You can manage the workers via Admin console or API, via console:
[code]

API endpoints that can be use to diagnose/handle the workers/background jobs:
[code]
Sample call:
[code]

[2021-05-21 07:49] mokaddem commented on #7425
Hey!
Right now it's unfortunately not possible via standard feed.

However, there is a [csv importer module](https://github.com/MISP/misp-modules/blob/main/misp_modules/modules/import_mod/csvimport.py) available which supports objects and tags.
One possibility if you want to keep using feeds (and are willing to do a little be of scripting), would be to write a small script that would parse the CSV

[2021-05-21 07:54] qbolbk59 commented on #7426
Hi @righel : I did all these tasks. Killed all workers and restarted them. But the jobs are still stuck. I have to launch pull request multiple times and every time i do it, some events are pulled (but not all) and then it gets stuck again.

[2021-05-21 08:05] mokaddem commented on #7421
Hey,
Thanks for the report!
I pushed a fix (a5b10ce9a853818516ad242a9ea01480d0a421eb) in the dev branch.
I consider it to be temporary because I don't really like this solution and I'm waiting for the team at markdown-it to look at a PR.
If they were to consider that it breaks their model, we'll at least have a solution on MISP side.

[2021-05-21 08:32] mokaddem commented on #7370
Hi @rishdang ,
The issue with the diagnostic page has been fixed.
To re-enable (and re-create) the correlations, you can simply turn the setting `MISP.completely_disable_correlation` back to enabled. As stated in the description, it will trigger a full correlation.
Let us know if you have other issues.
Cheers!

[2021-05-21 08:32] #7370 closed, assigned to nobody

[2021-05-21 08:34] mokaddem commented on #7379
Should be fixed with the latest release

[2021-05-21 08:34] #7379 closed, assigned to nobody

[2021-05-21 08:39] mokaddem commented on #7359
Hey @SunnyLu1337,
Sorry for the late reply.
I wonder how you ended-up with all update completing but still having database schema inconsistencies.
If you have any clues, please let us know!

Out of curiosity, I see you are on version 2.4.135. Do you know from which version you were coming from when you updated to this version?

Have you tried to execute the provided resolution SQL command from the

[2021-05-21 09:00] qbolbk59 commented on #6611
@Wachizungu Did you already tested these tasks ?
I am also facing the same issue and i performed all these tasks this morning. But still no luck. I still see all the jobs stuck just like before. And the strange part is that when i check the default worker which is performing the pull job, it says "0 jobs queued".

[2021-05-21 09:03] Wachizungu commented on #6611
yeah I tested the ones I described but it didn't kill the thing completely, there was still something running somehow. I ended up rebooting the server :/

[2021-05-21 09:14] qbolbk59 commented on #6611
@Wachizungu and reboot helped ?

[2021-05-21 09:24] mav8140 opened #7428 "Pushing feeds from MISP to ELK using filebeat"
Hi Team,

![image](https://user-images.githubusercontent.com/44388752/119114270-a2182a80-ba43-11eb-8d91-3313a66d4769.png)
I have set configuration as per image attached for misp.yml

also i have done few configuration in filebeat.yml

![image](https://user-images.githubusercontent.com/44388752/119114746-0d61fc80-ba44-11eb-905f-e89e2a86b63a.png)

Please guide how can I see feeds in kibana? as Initi

[2021-05-21 09:38] qbolbk59 commented on #7393
@devdandi Can you share how you fixed the issue ?

[2021-05-21 09:42] devdandi commented on #7393
@qbolbk59 you should run on the terminal " sudo -u www-data /var/www/MISP/app/Console/cake Admin startWorker [nameworker]"

[2021-05-21 09:45] Wachizungu commented on #6611
Yes, note that I had cleaned up queues etc with the commands specified before rebooting

[2021-05-21 09:45] qbolbk59 commented on #7426
![image](https://user-images.githubusercontent.com/43533246/119117814-e8609000-ba29-11eb-9478-6d7a0f78cfd0.png)

As you can see above, every time i pull, it pulls some event (but not all) and then just gets stuck. Not sure if it's because of some memory issue. Php has been allocated 2048M as recommended.

[2021-05-21 10:19] righel commented on #7426
Are you sure they are completely stuck? Do you see errors in the logs? Check:
/var/www/MISP/app/tmp/logs/error.log
/var/www/MISP/app/tmp/logs/resque-worker-error.log

The first pull from a server might take a lot of time depending on the amount of events and attributes, you can check if attributes are being added here refreshing this page https://MISP_HOST/attributes/index/sort:timestamp/direction

[2021-05-21 10:54] qbolbk59 commented on #7426
@righel : I don't see any error in the error.log related to the pull ops. There's some error related to CSP though but i know why's that.
In the resque-worker-error.log, i can see the below error.

`2021-05-21 09:08:00 Notice: Undefined index: Organisation in [/app/MISP/app/Model/SharingGroup.php, line 148]
Notice Error: Trying to access array offset on value of type null in [/app/MISP/app/Model/S

[2021-05-21 13:05] ankitsynx commented on #1513
what's the fix here? The problem is still here in 2021 with docker install. Using latest MISP version.

[2021-05-21 13:58] estebanramos opened #7429 "Email Notification Template"
Hi, I want to customize my email when receiving new mails. I search up and found that I can customize **alert.ctp** in **./MISP/app/View/Emails/text** but I don't know if it's this file or creating my own file in ./MISP/app/View/Emails/html or if I have a functionality via the Web UI. I also notice that there is 2 formats when sending Email, text or html and it seems that its choosing always text.

[2021-05-21 14:35] adulau commented on #1513
What's your version? Install process? It depends how you setup your initial credentials.

and there is an explanation on how to reset a password just above in this issue:

[code]

[2021-05-21 14:35] #1513 closed, assigned to nobody

[2021-05-21 14:41] #7424 closed, assigned to nobody

[2021-05-21 14:44] adulau commented on #7428
Thank you for the issue but it's related to Elastic filebeat.

When googling, there is an issue in Elastic filebeat:

https://github.com/elastic/beats/issues/25240 mentioning the following:

The existing MISP Filebeat module can begin a deprecation pipeline now that the capabilities have been folded into the new Threat Intel Filebeat module.

  - Existing MISP Filebeat Module - https://www.elastic

[2021-05-21 14:44] #7428 closed, assigned to nobody

[2021-05-21 16:09] rainman-a commented on #7421
Thanks! I’m looking forward to working with this!

On Fri, May 21, 2021 at 4:05 AM Sami Mokaddem ***@***.***>
wrote:

[2021-05-21 17:10] ghost opened #7430 "Report History to avoid mistakes while editing"
**Is your feature request related to a problem? Please describe.**
It's possible for an analyst to accidentally erase a report's content. A suggestion would de keep at least two saved history versions to avoid human mistakes.

**Describe the solution you'd like**
A place where a user can visualize raw saved versions of an event report.

**Describe alternatives you've considered**
Education and awa

[2021-05-21 17:21] DerAlexmeister opened #7431 "Request for a new type - Reference Ids like CISA-Alert and MS-Bulletin as type External-ID"
**Is your feature request related to a problem? Please describe.**
I came across a lot of External-IDs like CISA-Alert-ID, CISA-Malware-Report-ID, Microsoft-Bulletin, CISA-Bulletin and so on.  From my understanding there is no explicit type for these kind of info. But i think it would be great to have the option to mark an External-ID as such.

**Describe the solution you'd like**
I would like to

[2021-05-23 09:17] #6970 closed, assigned to nobody

[2021-05-24 08:40] JakubOnderka commented on #7430
Hello, this is already possible. Just enable new audit log - `log_new_audit`. Then in audit log you can find whole event report history.
<img width="1481" alt="Snímek obrazovky 2021-05-24 v 10 33 45" src="https://user-images.githubusercontent.com/163343/119320948-6a47f780-bc7c-11eb-9622-24e6fb5469c6.png">

[2021-05-24 09:31] TanveerAhmad2017 commented on #7418
@iglocska  I have figure out the problem by removing each objects one by one and checking where the problem initiates. The problem is in the Observed-data object. Some thing is not Allowing MISP to import the object_refs property. I tried to follow the documentation of STIX2.1 but the same error occurs so I tried go for STIX2.0(depreciated property) and it works.

Before causing problem.
[code]

A

[2021-05-24 09:35] TanveerAhmad2017 commented on #7418
The problem is solved but it says the warning. I think some there need some improvements in MISP STIX libraries to incorporate the objects_ref property because the old method of objects will be deprecated.
 [!] Warning: observed-data--97b8cec8-92a6-4346-a6e4-889bba765056: {304} Included property 'objects' is deprecated within the indicated spec version.

 This thread will be opened till your respo

[2021-05-24 14:00] JakubOnderka opened #7434 "Feature request: Warninglist categories"
**Is your feature request related to a problem? Please describe.**
Warninglist currently mix different categories of list.
* First category is 100 % sure invalid IoC, like internal IP range or hash of empty file
* Second category is most probably false positive, like communication to public DNS server or Windows Update IP.
* Third category is know indicator, like IP address that belongs to public

[2021-05-24 14:49] adulau commented on #7434
Good idea. We could update it in the warning-lists. I would propose the following, we specified an array of categories in the warning-lists. So for the one difficult to categorise the ambiguity is expressed in the UI. What do you think?

[2021-05-24 15:25] rainman-a opened #7436 "Event Report attribute embedding not always working"
# This template is meant for bug reports, if you have a feature request user the other template.

Some attributes and objects are embedding in the markdown properly but are not rendering correctly in the markdown section. The embedding works perfectly and pulls up the object or attribute, but in the markdown panel it shows the attribute itself in the raw markdown as opposed to the clickable format

[2021-05-24 16:43] chrisinmtown commented on #5323
I know this is stale but I see the same behavior running a new-new (not upgraded) version of 2.4.143, which is running as a docker container and I access it via URL https://192.168.99.102   I know that using an IP address for SSL is fairly silly but this is a local server.

The other issues mentioned problems with creating files in the server's config directory. I found that the Config/ directory

[2021-05-24 17:05] DigiAngel opened #7437 "Properly copying info to a new server"
Topic :)  I'm going to be moving my MISP instance from an Ubuntu 18 server, to an Ubuntu 20 server.  Is there a good doc on migrating this information?  Thank you!

[2021-05-24 17:22] iglocska commented on #7434
I think we have an open issue for this somewhere already. To boil down the previous discussions on the topic:

The idea was to introduce indeed categories for warninglists (actionable and notification only were the originally discussed ideas).

Additionally we need to change up how we handle the enforcement, currently we use "enforceWarninglist" as the key in APIs, which takes a boolean value. The

[2021-05-24 18:42] #4521 closed, assigned to nobody

[2021-05-24 18:44] github-germ commented on #6838
@iglocska -- Hey Andras, were you able to close all the loose ends in the object dedup; if not, what remains?

[2021-05-24 18:44] github-germ commented on #5257
@iglocska -- Hey Andras, were you able to close all the loose ends in the object dedup; if not, what remains?

[2021-05-24 18:47] github-germ commented on #5299
Hi @iglocska -- are you still considering any improvement with the correlations table including the event.info text?

[2021-05-24 18:48] github-germ commented on #5380
Is the deletion of empty objects still on the to-do list? Thanks.

[2021-05-24 18:51] github-germ commented on #5568
Hi... Is disabling correlations for a default feed still a possibility? Thx.

[2021-05-24 19:36] github-germ commented on #5681
Now on 2.4.143 WebUI submitting `rest/search` hits CSRF error:
[code]
Related? https://github.com/MISP/MISP/issues/6940

[2021-05-24 19:45] github-germ commented on #5701
While it is true there here with 2.4.143, that the WebUI Add or Edit User pages still do not include `external_auth_required` or `external_auth_key` we did develop command like tools to handle this.

If this is the intended WebUI behavior, then being that this isn't blocking us anymore, please feel free to close this issue.

[2021-05-24 19:47] github-germ commented on #5772
Being that this is not a show stopped for us, and is stale, I am closing.

[2021-05-24 19:47] #5772 closed, assigned to nobody

[2021-05-24 19:48] github-germ commented on #5799
Being that my question was not answer from a year ago, and then this is not a showstopper or us, I am closing this issue.

[2021-05-24 19:48] #5799 closed, assigned to nobody

[2021-05-24 19:49] github-germ commented on #5806
Being that this is not a showstopper for us, and my year old request was never replied to, I am closing this issue.

[2021-05-24 19:49] #5806 closed, assigned to nobody

[2021-05-24 19:49] github-germ commented on #5701
OK, I'll close it :-)

[2021-05-24 19:49] #5701 closed, assigned to nobody

[2021-05-24 19:50] github-germ commented on #5830
Being that this is not a showstopper and unanswered from a year ago, I am closing the issue.

[2021-05-24 19:50] #5830 closed, assigned to nobody

[2021-05-24 20:15] github-germ commented on #7305
We are now on 2.4.143, and still are getting correlations orphans.
* WebUI shows `check orphaned attributes' displays:
   * `Orphaned attributes…2154 (Removal recommended)`
* Here's my check via MySQL indicating attribute values marked correlated which are not!!
[code]

[2021-05-24 20:17] github-germ commented on #6934
Any new thoughts on this would be appreciated.

[2021-05-24 20:22] github-germ commented on #6931
@iglocska -- With 2.4.143 seeing what to me appears to be correlations table corruption.
1. Does My query seem correct?
2. If indeed there is corruption again, how can we look for root cause?
[code]

[2021-05-24 20:23] github-germ commented on #6917
@iglocska -- not sure if you got to this with 2.4.143; please let me know. Thanks.

[2021-05-24 20:25] #6708 closed, assigned to nobody

[2021-05-24 20:29] github-germ commented on #6569
Could line 850 simply be removed in `TagsController.php` (2.4.143)?
[code]

[2021-05-24 20:31] github-germ commented on #6530
@JakubOnderka -- did you want to reply to @iglocska's question above?

[2021-05-24 20:33] #3563 closed, assigned to nobody

[2021-05-24 20:34] github-germ commented on #5114
In the meantime, we overwrite the existing start.sh with our own as part of an RPM postinstall script.

[2021-05-24 21:02] github-germ commented on #5674
This request has not been a showstopper for us, and is unanswered in over a year. Will close.

[2021-05-24 21:02] #5674 closed, assigned to nobody

[2021-05-25 08:15] mokaddem opened #7438 "[feature] Group relationships by types"
Objects / Clusters relationships can have relationships between each others:
- Timeliness
- Process
- Similarity

[2021-05-25 08:23] qbolbk59 commented on #7221
@villano71 : Were you able to fix this issue ? I also have the same issue. The CSP is disabled but it still blocks a lot of my requests (including event pulls).

[2021-05-25 09:30] qbolbk59 opened #7439 "CSP directives blocking requests"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | CentOS
| OS version (client)       | Win10
| PHP version               | 7.4.16
| MISP version / git hash   | 2.4.141
| Browser                   | Chrome

### Support Questions

In the Security Settings, the CSP enforce i

[2021-05-25 10:45] krishnamohan152 opened #7441 "MISP Modules Not Working"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Ubuntu Server
| OS version (client)       | 18.04
| PHP version               |  7.1
| MISP version / git hash   | 2.4.142, hash of the commit
| Browser                   | Firefox, Chrome

## MISP Modules are not working

[2021-05-25 11:07] krishnamohan152 opened #7442 "MISP Schedular is not enabled"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Ubuntu
| OS version (client)       | 18.04
| PHP version               | 7.1
| MISP version / git hash   | 2.4.142

## MISP Schedular is not enabled
I recently installed the MISP, in the workers section i am able to see th

[2021-05-25 11:52] JakubOnderka commented on #7439
Hello, can you post also message from browser debug console? And please also check, if your baseurl config variable starts with `https://`.

[2021-05-25 18:23] timhux123 opened #7445 "Object could not be saved. template_uuid: Please provide a valid RFC 4122 UUID"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 18.04
| OS version (client)       | Win10
| PHP version               | 7.4.18
| MISP version / git hash   |  v2.4.143 (ce93848deaeb43ee8e5794ef2dea8febb5ae6148)
| Browser                   | Tried with Chrome and Firef

[2021-05-25 21:19] #7445 closed, assigned to nobody

[2021-05-25 21:22] adulau commented on #7445
Thank you for the bug report. It should be fixed. It was the UUID of the object template. You can git pull the latest version from 2.4 and update the MISP objects template.

[2021-05-25 21:39] DigiAngel opened #7446 "Install script hangs"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       |Ubuntu
| OS version (client)       | Ubuntu
| PHP version               | 5.4, 5.5, 5.6, 7.0, 7.1...
| MISP version / git hash   | 2.4. install script for ubuntu 20
| Browser                   | If applicable

### Expected beha

[2021-05-25 21:47] Rafiot commented on #7446
This step takes a very long time, especially if you're running it on a machine with not lot of resources.

How long have you been waiting?

[2021-05-25 22:10] DigiAngel commented on #7446
It had been about 20 minutes....cpu and IO was practically nothing, but I'll start it up again if need be..thanks for the quick response...is there a way to "resume" the install?

[2021-05-26 07:03] adulau commented on #7442
There is no need any more to use the scheduler. We recommend to use the system crontab. The [cli](https://www.misp-project.org/misp-training/a.b-cli.pdf) provides an easy interface to automate many actions from MISP.

[code]

[2021-05-26 07:03] #7442 closed, assigned to nobody

[2021-05-26 07:11] ibyf0r3ns1cs commented on #7417
Hi, thank you for replaying and sorry for the delay ..
What i am trying to do is integrating between two systems.
The system try to take information from the MISP and i want to use an API with txt extension, for example:
https://<MISP-IP>/attributes/text/download/apikey:<KEY>/domain
https://<MISP-IP>/attributes/text/download/apikey:<KEY>/ip-dst
https://<MISP-IP>/attributes/text/download/apikey:<KE

[2021-05-26 10:53] chrisr3d commented on #7418
Well, I don't know how the STIX 2.0 import script behaves with some STIX 2.1 content.
For sure it may barf with the observable objects like `ipv4-addr` since they are embedded within the observed-data `objects` field in STIX 2.0 as you mentioned in your comment.
But I am currently working on import & export scripts to support STIX 2.1, so you will know soon about it once it is released.

[2021-05-26 11:52] iglocska commented on #7417
First of all, those endpoints are deprecated, you should instead be using restsearch:

POST to /attributes/restSearch

post body:

[code]

For example.

Also, I still don't get the .txt extension, what you receive back is a line separated text file, so still not sure what you'd expect would change by appending .txt...

[2021-05-26 12:33] estebanramos opened #7447 "LDAP Authentication"
My LDAP authentication fails, it doesn't even sends the request to my ldap server. I'm using this conf on config.php. Do i need to configure sites-available on Apache too?

[code]

[2021-05-26 14:03] DigiAngel commented on #7446
Welp...indeed it did take a LONG time...finally continued on with this error along the way:
[code]

[2021-05-26 14:03] #7446 closed, assigned to nobody

[2021-05-26 15:21] JoePJisc opened #7448 "Allow Org Admins to Create Sync Users"
**Is your feature request related to a problem? Please describe.**
On a multi-organisation environment only users with the admin role can create sync users in hosted organisations.

**Describe the solution you'd like**
I think Org Admins (or a new similar role) should be able to create and manage sync users within their organisation, giving greater flexibility.

From my understanding, the only dif

[2021-05-26 19:03] DigiAngel commented on #7437
Closed due to lack of community interest.

[2021-05-26 19:03] #7437 closed, assigned to nobody

[2021-05-26 19:09] DigiAngel opened #7449 "Distribution and Modification map grow while viewing event"
### Work environment
This is after I imported my misp.sql file from a different machine

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu Focal
| OS version (client)       | Ubuntu Focal
| PHP version               | 7.4
| MISP version / git hash   | afa0ffd33c24940585194d7c9bc395829034f36

[2021-05-27 06:12] mokaddem commented on #7436
Hello,
I'm not sure to fully understand what the issue is.
Would you mind providing screenshots of the issue?
Thanks!

[2021-05-27 08:38] iglocska opened #7450 "Event report extraction improvement"
An extract and save all button would be handy! Alternatively a multi-select / bulk action.

[2021-05-27 13:05] csirt-pj opened #7451 "Sync rules menu and org menu not showing"
# This template is meant for bug reports, if you have a feature request user the other template.

As titled, menu is not showing:

*If you would like to report a bug, please fill the template bellow*

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| OS version (clie

[2021-05-27 14:58] DigiAngel commented on #7449
Closed due to lack of community interest (and razing the box for the 3rd time).

[2021-05-27 14:58] #7449 closed, assigned to nobody

[2021-05-28 23:59] danvelc opened #7452 "Auth Key in URL"
Hello, I am looking forward to implement a API Request by authenticating in the URL. The reason I am doing this is in order to send a constantly updated Event to my firewall.

In the documentation I read this was temporarily still supported. Is it still available? And if so how can one do so?

[2021-05-30 11:25] Yaels17 opened #7453 "importing STIX v.1 to MISP"
I've been trying to figure out how to do it (via the GUI mainly) and could not find the option

would love for help understanding how to import (either via the GUI or the API)

thanks!

[2021-05-30 11:51] adulau commented on #7453
There is a menu on the left side on MISP "Import from..." where you can import STIX.

You can also use the API for more info - https://github.com/MISP/MISP/tree/2.4/tools/ingest_stix

[2021-05-30 11:51] #7453 closed, assigned to nobody

[2021-05-30 12:28] Yaels17 commented on #7453
I've tried uploading an .xml file but got the error : _Could not import STIX document: Issues while loading the stix file. Please check whether the dependencies for STIX are met via the diagnostic tool._
![image](https://user-images.githubusercontent.com/71444851/120104093-860b3c00-c15b-11eb-8c98-15b577416453.png)

all our STIX dependencies are met
![image](https://user-images.githubusercontent.co

[2021-05-30 12:29] iglocska commented on #7453
Could you send us a sample of what is failing for you? Either share it directly here, or if that is not something that you can share publicly send a mail to info@misp-project.org . Thank you in advance.

[2021-05-30 12:39] Yaels17 commented on #7453
I've sent the file via email
thank you

[2021-05-31 12:15] bartblaze opened #7454 "Dark theme"
**Is your feature request related to a problem? Please describe.**
Lots of products now also offer a dark theme, which might be more appropriate for one's eyes. Default however would still be the current theme. Could be nice for a future future version.

**Describe the solution you'd like**
Different theme(s).

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2021-05-31 18:19] maxifjaved opened #7457 "Not able to install from script"
# This template is meant for bug reports, if you have a feature request user the other template.

*If you would like to report a bug, please fill the template bellow*

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| OS version (client)       | Ubuntu, ...
| PHP ver

[2021-06-01 03:27] stevelogik opened #7458 "Can't install on Ubuntu 18.04 with script"
Trying to install you all's script that you provided on github. Installing on Ubuntu 18.04. It won't install. This is a fresh installation of Ubuntu and when running the script it goes into an endless loop of:

You are not currently on a branch.
Please specify which branch you want to merge with.
See git-pull(1) for details.

    git pull <remote> <branch>

It will do this forever until I cancel o

[2021-06-01 03:28] stevelogik commented on #7457
I'm also having a problem installing with their script. It doesn't work

[2021-06-01 03:28] stevelogik commented on #7458
@adulau @sfossen @bemre @liedekef If you know of a solution please let me know

[2021-06-01 03:33] stevelogik commented on #7458
After canceling I used the following command: systemctl reload apache2

Then the MISP login came up. Did the installation not complete fully?

[2021-06-01 06:38] adulau commented on #7458
It depends of your system. If you are able to login with the default credentials, you can safely assume the install was successful.  I would strongly suggest to go `/servers/serverSettings/diagnostics` to see the state and install any missing dependencies.

[2021-06-01 06:38] #7458 closed, assigned to nobody

[2021-06-01 08:05] Kagee commented on #7447
Apache needs to authenticate the user and send the REMOTE_USER-variable to PHP, are you sure this is working as expected? The ApacheSecureAuth-code will only trigger if the REMOTE_USER-variable (technically `$_SERVER['REMOTE_USER']`) is set in PHP.

[2021-06-01 08:17] maxifjaved commented on #7457
@adulau will you please guide me about this.

[2021-06-01 11:40] estebanramos commented on #7447
Yes, now it's working as expected. The only flaw is sometimes I need to log as a local user. How can I bypass Apache auth and log as normal MISP user?

[2021-06-01 14:04] stevelogik commented on #7458
@adulau  I'm getting this: "Warning The MISP database state does not match the expected schema. Resolving these issues is recommended." any idea how to resolve this?

I highly recommend testing out you all's script on an ubuntu 18.04 it won't install fully with that git pull <remote> <branch> loop.

[2021-06-01 14:57] Kagee commented on #7447
Any Apache config (source IP, different hostname, etc.) that results in the required header not getting set will make MISP render the normal login form.

[2021-06-01 15:53] chrisinmtown commented on #7407
Was really hoping for a hint here, but after 3 weeks I am not confident further waiting is sensible.

[2021-06-01 15:53] #7407 closed, assigned to nobody

[2021-06-01 15:58] adulau commented on #7407
You should have a look at the [PyMISP tool/function which does the email import](https://github.com/MISP/PyMISP/blob/main/pymisp/tools/emailobject.py).

[2021-06-01 15:58] chrisinmtown commented on #7346
Did PR https://github.com/MISP/MISP/pull/7366 address this completely?  I.e., can this be closed now?

[2021-06-01 16:08] chrisinmtown commented on #6940
I believe this will be repaired when https://github.com/MISP/MISP/issues/7329 is repaired, but for now I'm leaving it open.

[2021-06-01 16:13] chrisinmtown commented on #6387
Nobody answered about Security.rest_client_baseurl but it seems reasonable that the new setting makes this issue moot, so I'm closing it.

[2021-06-01 16:13] #6387 closed, assigned to nobody

[2021-06-01 16:15] chrisinmtown commented on #6163
@iankoetter this has gone stale, can you post a link that's bad in your install? Or should I just close this?

[2021-06-01 16:24] chrisinmtown commented on #7044
Cannot filter feeds by string "https://" in version 2.4.143.

[2021-06-01 17:41] Rafiot opened #7460 "Impossible to change the orgc of an event"
A while ago, it was possible to update the orgc of an event, it's not the case anymore.

Reference: https://github.com/MISP/PyMISP/issues/744

[2021-06-01 20:58] samitainio opened #7461 "Cannot add any attributes to an event due to "Invalid ISO 8601 format""
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 18.04.5 LTS
| OS version (client)       | Win10
| PHP version               | 7.2.24-0ubuntu0.18.04.7
| MISP version / git hash   | v2.4.143 (8766d0285ec60baab0a3b6bc76302640c7028d23)
| Browser                   | If ap

[2021-06-01 21:08] maxifjaved opened #7462 "Install.sh script hangup"
# This template is meant for bug reports, if you have a feature request user the other template.

*If you would like to report a bug, please fill the template bellow*

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| OS version (client)       | Ubuntu, ...
| PHP ver

[2021-06-01 21:30] iglocska commented on #7461
Thanks for the heads-up, should be fixed now, just git pull again and it should work.

[2021-06-02 00:28] adv4000 commented on #7292
I have same issue with latest version of **MISP v2.4.143**, and  **DB Version 69** on **MySQL 8.0.20**
When trying to execute suggested SQL query getting error:
`Integer display width is deprecated and will be removed in a future release. Records: 0  Duplicates: 0  Warnings: 1`
![image](https://user-images.githubusercontent.com/24209377/120405960-9e678c00-c2fe-11eb-9004-ffb0b1504ca3.png)

[2021-06-02 05:09] samitainio commented on #7461
@iglocska confirmed to be fixed in 3b2100e3d1e21c5c1d5e5cc7627bfe65278f910b. Thank you for the quick fix!

[2021-06-02 05:09] #7461 closed, assigned to nobody

[2021-06-02 06:44] righel commented on #7346
Yes @chrisinmtown, you can now do this without errors:
`/var/www/MISP/app/Console/cake Admin setSetting Plugin.Enrichment_xforceexchange_restrict 0`

On top of that, if you have some validation errors, but you are pretty sure you want to set that value anyway, you can add the `--force` flag to override checks.

[2021-06-02 06:44] #7346 closed, assigned to nobody

[2021-06-02 07:52] sabyasachisamanta opened #7463 "Default 'CIRCL OSINT Feed' and 'The Botvrij.eu Data' are not working"
# This template is meant for bug reports, if you have a feature request user the other template.

*If you would like to report a bug, please fill the template bellow*

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Red Hat Enterprise Linux
| OS version (client)       | 8.3

[2021-06-02 15:14] estebanramos commented on #7447
Understood, one solution was open the service in another port and bypass the auth if I have a cookie set but I can't get it to work. One last issue, with Apache auth I can't log out from the page, how can I accomplish that?

[2021-06-02 16:07] #6859 closed, assigned to nobody

[2021-06-02 17:10] Kagee commented on #7447
That depends on the method you use to authenticate with Apache. As long as Apache sends a header with valid info, a logout will just log you right in again.

[2021-06-02 20:13] DigiAngel opened #7465 "Ok I give up...how do I get a cuckoo json file into MISP"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       |Ubuntu
| OS version (client)       | Ubuntu
| MISP version / git hash   | 39666c8b115f39835715f08133bbe7b4af07a1d2
| Browser                   | If applicable

### Support Questions
I've got the misp-modules service running

[2021-06-02 20:24] iglocska commented on #7465
Create a MISP event. Click on "populate from..." It should be listed there as long as MISP can access the modules and the module is enabled.

[2021-06-02 21:28] DigiAngel commented on #7465
Thank you that helps...sadly my 10.9 meg json from cape sand box got me:
[code]
and an empty event.  Any idea which logs to check?  /var/log/apache had nothing in regard to the even.

[2021-06-02 22:46] chrisinmtown commented on #7465
Log files to check are /var/www/MISP/app/tmp/error.log and .../debug.log

[2021-06-02 22:49] chrisinmtown opened #7466 "Unexpected nulls at end of file docs/INSTALL.rhel.md"
At the tip of branch 2.4, please remove the nulls that crept in to file docs/INSTALL.rhel.md, here's a diff
[code]
HTH

[2021-06-03 00:24] eschoeller commented on #3702
Thanks for the tmux tip. That was really handy. And agreed ... this was a terrible user experience.

[2021-06-03 06:49] BurakOzgen opened #7467 "Pull Sync DB Error"
# This template is meant for bug reports, if you have a feature request user the other template.
While syncing between two Misp(full sync) instance Cake throws an DB error. This exception occurs randomly whıle getting events. Remote Misp instance version is: 2.4.142
![image](https://user-images.githubusercontent.com/49974892/120599761-94ee3900-c450-11eb-9116-04c7f652233d.png)
![image](https://user

[2021-06-03 08:26] JakubOnderka commented on #7467
This was already fixed in #6951, you have to update to latest MISP.

[2021-06-03 08:26] #7467 closed, assigned to nobody

[2021-06-03 11:57] DigiAngel commented on #7465
Thanks...those are empty.  Looks like I'll take this up in the modules section, thanks all.

[2021-06-03 11:58] #7465 closed, assigned to nobody

[2021-06-03 12:42] ostefano commented on #6239
Hi @imidoriya , can you confirm that your test was also working against the "events" controller? For some reason it doesn't work on my test installation so I am wondering whether your fix needs to be applied somewhere else (like inside `fetchEvent`).

Note that if I select as controller "attributes" everything seems to be working as intended.

[2021-06-03 14:09] imidoriya commented on #6239
Yeah, I'm pretty sure it was on the events controller.  I don't think I specified and I think it defaults to events.

[2021-06-03 14:20] ostefano commented on #6239
Then I am lost here, because I am seeing the following with `MISP 2.4.140` and `pymisp==2.4.143 `

[code]

And the first one works because `_make_timestamp` does not validate correctly date strings and return the date string itself.

[code]

[2021-06-03 14:56] imidoriya commented on #6239
I've reopened the issue for the MISP team.  I think I ultimately just ended up formatting the date before I submitted it.

[2021-06-03 15:12] estebanramos commented on #7447
But I can't logout from system. I click "Logout" but I still can use the application like I've never logged out.

[2021-06-03 15:14] Kagee commented on #7447
You press log out -> Misp logs you out (deleting cookies etc). Then you are sendt to user/login, and because your Apache server is still sending headers with your username, you are logged back in.

[2021-06-03 16:44] estebanramos commented on #7447
How can I fix that? Maybe a directive when calling the logout route do something to eliminate those headers?

[2021-06-04 09:13] abhijeetasawant opened #7471 "Contact Reporter feature not working"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| OS version (client)       | Win10
| PHP version               | 7.3.27
| MISP version / git hash   | 2.4.143, 8084faabdc80fe657401ca5aa8a65fad60a180a0
| Browser                   | Google Chrome

### Expected behavior

[2021-06-04 09:51] samitainio opened #7472 "Import failed of a CISA STIX file"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 18.04.5 LTS
| OS version (client)       | Win10
| PHP version               | 7.2.24-0ubuntu0.18.04.7
| MISP version / git hash   | v2.4.143 (19aa7e23bf1014856e89c6bbdc98255dd75217ea)

### Expected behavior

https://us-

[2021-06-04 13:01] chrisinmtown commented on #7472
I can offer some very basic items you might check and post back here:
1. Is that file stix1 or stix2?
2. Are the required Python packages to import stix1 and/or stix2 installed? They are delivered as a git submodule within MISP. A separate step is required to install those packages into the python venv used by MISP.

[2021-06-04 13:06] chrisinmtown commented on #7463
I suggest you first check the network path outside MISP. Verify that your machine can fetch data from the URL using a basic command-line tool like curl or wget on your MISP machine.  For example:
[code]
An error of failing to verify a certificate suggests another server is in the network path, possibly a corporate proxy server?

[2021-06-04 13:08] chrisinmtown commented on #7457
I suggest you post the Ubuntu version you used.  I also believe that PHP version 8 *does* *not* *work*, is not yet supported.

[2021-06-04 14:18] chrisinmtown commented on #4084
When you get back to this, would you please check & document these items:
1. Is package 'moreutils' truly required, or is it just for admin convenience like vim?
2. To ensure that the cron daemon is installed on RHEL, add dependency 'cronie'
3. PyPI offers version 0.11.5 of lief, can you drop the extra code that compiles it from source?
4. Why clone python-cybox, python-stix and mixbox from the ti

[2021-06-04 17:22] samitainio commented on #7472
@chrisinmtown @chrisr3d

Thank you for the quick response!

1. According to the information provided by the linked file the specific version is 1.1.1. Generally speaking when stix file is XML it is always stix1 and when it is in JSON format it is stix2.
2. Yes they are. Regardless just for troubleshooting purposes I also now did the steps 3 and 4 as documented [in the MISP guide](https://misp.gith

[2021-06-04 17:38] github-germ commented on #6933
Checking back in on the ability to config feed delta-merge to use hard delete vs. the current soft. We currently have 15M soft-deleted attributes in our system (note: we do have a few custom feeds with a fair bit of activity added to the standard list).

[2021-06-04 19:24] eljeffeg commented on #5299
I'm not one of the developers of MISP, but I would love for them to rework correlations to use a node / edge design.  The way they handle tags is a better schema imo.

[2021-06-05 07:41] toteb opened #7473 "Error: [MethodNotAllowedException] Could not remove tag as it is not attached to the target Event Request URL: /tags/removeTagFromObject"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       |  CentOS
| OS version (client)       |  CentOS Linux 7 (Core) / Linux misp-core 3.10.0-1160.25.1.el7.x86_64
| PHP version               | PHP 7.4.19 (cli)
| MISP version / git hash   |  v2.4.143 (19aa7e23bf1014856e89c6bbdc9

[2021-06-05 09:46] abhijeetasawant opened #7474 "Logs filtering doesnt work for Org Admin user."
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| OS version (client)       | Win10
| PHP version               | 7.3.27
| MISP version / git hash   | 2.4.143, e4a00d067ac3d1654a450a9a9cda096a0844d320
| Browser                   | Chrome

### Expected behavior
Login

[2021-06-05 17:34] abhijeetasawant commented on #7471
Looks like rearrangeToAuthForm function is getting called 2 times in a flow and that is causing a problem.

first in : getUser function (app/Console/Command/EventShell.php - contactemail func)
second in : sendContactEmail (app/Model/Event.php sendContactEmail )

[2021-06-06 08:32] toteb commented on #6682
Hi I have the same issue with v2.4.143 (3b2100e3d1e21c5c1d5e5cc7627bfe65278f910b)
On netstat it says :
tcp        8      0 127.0.0.1:9000          127.0.0.1:33748         ESTABLISHED 3255/php-fpm: pool   off (0.00/0/0)
tcp        0      0 127.0.0.1:9000          127.0.0.1:33672         TIME_WAIT   -                    timewait (3,70/0/0)

but from MISP
![cortex issue ](https://user-images.githubus

[2021-06-06 09:17] toteb commented on #6682
I guess this is related with the issue above but, I am unable to find the file responsible for this call. Can we get some help please?
From: /var/log/httpd/misp.local_access.log

127.0.0.1 - - [06/Jun/2021:08:48:56 +0000] "GET /:9000/modules HTTP/1.1" 301 238 "-" "CakePHP"
127.0.0.1 - - [06/Jun/2021:08:48:56 +0000] "GET cd /:9000/modules HTTP/1.1" 301 238 "-" "CakePHP"
78.90.118.82 - - [06/Jun/202

[2021-06-06 12:09] chrisinmtown opened #7475 "Feeds page enabled button sets scope but disabled feeds still appear"
In version 2.4.143 the Feeds index page, Enabled feed control, does not limit the list to only enabled feeds. Clicking on that control takes me to a URL like this:

https://misp.my-company.com:48752/feeds/index/scope:enabled/

But many disabled feeds appear in the list; i.e., there is an X in the first column.

Is it possible that the "scope:enabled" filter is actually checking CACHING?  Because a

[2021-06-06 16:36] iglocska commented on #7475
It's both

[code]

Basically enabled feeds will list any feed that is either enabled for caching or fetching.

[2021-06-06 16:47] chrisinmtown commented on #7475
Thanks for the fast reply @iglocska I think the behavior is confusing, but if you feel the feature is working as designed I will close this issue.

[2021-06-07 10:25] sabyasachisamanta commented on #7463
Finally got it resolved. The issue was due to the expired certificate of the proxy.

[2021-06-07 10:25] #7463 closed, assigned to nobody

[2021-06-07 11:26] iglocska commented on #7475
Let's keep it open, would be nice to have two buttons indeed. The initial thought was "what feeds am I actually using in any way?" - which made sense when we just had a few feeds in the list. Nowadays some more granularity wouldn't hurt.

[2021-06-07 14:12] galaxyjams opened #7477 ""Cake Admin setSetting disable_emailing true" not working"
I can't set disable_emailing using the Cake Admin command

First do

**cake Admin getSetting “MISP.disable_emailing”**

Welcome to CakePHP v2.10.24 Console

App : app
Path: /var/www/MISP/app/

{
    “level”: 0,
    “description”: “You can disable all e-mailing using this setting. When enabled, no outgoing e-mails will be sent by MISP.“,
    “value”: false,
    “errorMessage”: “”,
    “null”: true,

[2021-06-07 14:19] vibenas opened #7478 "/feeds/searchCaches fails with error if searched for URL"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| MISP version / git hash   | 2.4.143

### Expected behavior
/feeds/searchCaches when providing URL address in search, should not result with error 404 Not Found (Not Found
The requested URL was not found on this server.) - https://xxx/feeds/searchCaches/v

[2021-06-07 15:04] righel commented on #7477
Hello,
Since MISP version `2.4.142` you can use the `--force` option to override some safety checks when updating settings via de console. Try running:
`cake Admin setSetting MISP.disable_emailing true --force`

[2021-06-07 15:26] #7019 closed, assigned to nobody

[2021-06-07 15:26] #7119 closed, assigned to nobody

[2021-06-07 15:28] Wachizungu commented on #7019
Thanks a lot! Pretty excited about this one

[2021-06-07 15:34] chrisinmtown commented on #5608
FWIW, the install scripts init/update the PyMISP submodule of MISP, which sets up the prerequisite for this little stix2misp script.  I would not say that PyMISP is *installed* in /var/www/MISP/PyMISP , we followed instructions and installed from source in that directory to our Python venv, but the PyMISP files remain available at the MISP/PyMISP path. I guess it's a case of "department of redunda

[2021-06-07 16:57] galaxyjams commented on #7477
Hi,

Thanks for the reply but I am currently using 2.4.139.

The issue is that the setSetting says it has blocked emailing but it has not.

Thanks

[2021-06-07 17:50] jloehel commented on #5608
I am using now:
[code]

Making it available through the `__init__` would reduce it to:
[code]

[2021-06-08 08:04] norbertt911 opened #7480 "Updating issues"
Hi,

Please advise the following:

I updated MISP from GUI and it seems ok:

Currently installed version… v2.4.144 (a61caa3a6a541e6f9761ae99c033c7457050bc0b)
Latest available version… v2.4.144 (a61caa3a6a541e6f9761ae99c033c7457050bc0b)
Status… OK

Dependencies seem not updated: so I go to console and doing update one by one...

Advanced attachment handler
The advanced attachment tools are used by

[2021-06-08 08:44] villano71 commented on #7221
Hi,

In my case was that the request was HTTP instead of HTTPS. But yes, it does block even when disabled.

Regards

Carls.

From: qbolbk59 ***@***.***>
Sent: 25 May 2021 10:24
To: MISP/MISP ***@***.***>
Cc: Martin Villanova, Carlos ***@***.***>; Mention ***@***.***>
Subject: [EXT] Re: [MISP/MISP] CSP blocks requests when it is disabled. (#7221)

@villano71<https://github.com/villano71> : Were you

[2021-06-08 09:43] 3c7 opened #7481 "Propagate attribute tag deletion across syncs"
**Is your feature request related to a problem? Please describe.**
If I understood it correctly, the current MISP behaviour is to add new tags to an updated (synced) attribute. If attribute tags are used for information which likely changes, e.g., priority or confidence, it can be misleading to have multiple tags describing different levels of priority or confidence.

**Describe the solution you'd

[2021-06-08 18:23] JakubOnderka commented on #3936
Will be solved in #7482

Already in MISP.

[2021-06-09 07:10] DerAlexmeister commented on #7431
Additional to the stuff above. Also to choose which type it is would be really helpful. Like MS17.... is type Bulletin. Reason for this Addition is IDs of APTs would be nice if there are tagged as such and you can click on the ID and get additional information like from Mitre. Example APT-ID G0044 and Mitre APT-Info: https://attack.mitre.org/groups/G0044/. The structure for the new type would then

[2021-06-09 07:48] MillerDCS opened #7484 "MISP Installed: An Internal Error has Occurred"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Ubuntu 20.04
| OS version (client)       | Win10, Ubuntu
| MISP version / git hash   | 2.4.XX, hash of the commit

### Support Questions
I attempted to install MISP using the commands found [HERE](https://misp.github.io/MI

[2021-06-09 11:53] JoePJisc opened #7485 "API Accessible Before Accepting Terms"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | RedHat 7
| OS version (client)       | Win10
| PHP version               | 7.2.34
| MISP version / git hash   |  v2.4.144 (a61caa3a6a541e6f9761ae99c033c7457050bc0b) (from MISP-RPM)
| Browser                   | Brave

### Expe

[2021-06-09 11:57] JoePJisc commented on #7485
Use case for this is that we want a conscious action by users to confirm they have read internal processes for using MISP before they can do anything, and would like to re-prompt for acceptance when those processes are updated.

[2021-06-09 12:11] JakubOnderka commented on #7485
This behaviour was changed by @iglocska: https://github.com/MISP/MISP/commit/381a4b8895f40ac4acc3365238d540a7eaa36b40

[2021-06-09 12:36] fink08 opened #7486 "Problem with getting feeds and event enrichment behind proxy"
Even after changing the proxy settings, I can't get the feeds to work properly, no events are created. I've seen similar issues being raised (especially #4653) but the solutions proposed don't seem to apply to my case so I am probably missing something.

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Suppo

[2021-06-09 15:31] chrisinmtown opened #7488 "Missing UI external auth controls when CustomAuth is both enabled *and* required"
In version 2.4.143 I do not see the external auth key textbox in the admin add-user and edit-user pages when external auth is set to enabled and required via the Cake admin CLI tool.  Those pages show the set-password checkbox and password fields, which are not helpful because our users are never asked for a MISP password.

This all started when I tried to enable external authentication by editing

[2021-06-09 15:56] chrisinmtown opened #7489 "Server throws error Call to undefined function ldap_set_option()"
While trying to configure external authentication in version 2.4.143 of MISP I botched something and somehow revealed an undefined function.  Here is the stack trace:
[code]
Here's the first usage of that function:

https://github.com/MISP/MISP/blob/81543d05d43d709a38230d208199f525cb28ab10/app/Controller/Component/Auth/ApacheAuthenticate.php#L68

### Work environment

| Questions                 |

[2021-06-09 16:03] chrisinmtown commented on #7488
I tried again to add a user and I caught a brief glimpse of external auth stuff in the add/edit user dialog.  I inspected the web page and found the following, the inspector shows the style="display: none;" which may explain why it's invisible!  So, ahh, why is it turned off? We have Plugin.CustomAuth_enable set to true in the system's config.php file.
[code]
Maybe this javascript code is not doin

[2021-06-09 16:36] chrisinmtown commented on #7488
I guess it's safe to say that if I want to enable custom authentication, the database must first be extended with columns to store additional information for each user. No extra columns in the db means no custom (external) auth in the server. Is there some other magic setting I must adjust to make the edit controls visible in the add/edit user dialog for the external auth data? Because I suspect t

[2021-06-09 16:51] chrisinmtown commented on #7488
One more comment. In a legacy system where I *do* have custom (external) auth working, the edit-user form only shows a checkbox to set the password and accepts password strings; no controls (e.g., a checkbox and textbox) for external auth appear. I think those password fields should be disabled in this case by $password in admin_add.ctp (see below). But I could not find any use of $password in tha

[2021-06-09 22:42] tomking2 commented on #2318
Looks like this got ticked off!

[2021-06-10 04:42] adulau commented on #2318
Indeed good catch! Thank you.

[2021-06-10 04:42] #2318 closed, assigned to nobody

[2021-06-10 07:18] #1250 closed, assigned to nobody

[2021-06-10 07:19] #1060 closed, assigned to nobody

[2021-06-10 08:28] scareh opened #7490 "Viewing Event index gives error"
Hello,

I'm having issues after adding a few default misp feeds to my instance.

When opening the event index list to view all imported events it just loads and ends up with a gateway timeout.

Gateway Timeout

The gateway did not receive a timely response from the upstream server or application.

My guess is that the server can't handle the request to load the list of events, are there any server

[2021-06-10 11:45] qbolbk59 commented on #6189
@trolldbois : Thanks for the detailed steps. However i am still getting Server error.

![image](https://user-images.githubusercontent.com/43533246/121519524-16fed480-c9f2-11eb-99c8-6b516fffaf1d.png)

Not sure what went wrong. I don't see anything relevant in error logs as well.

[2021-06-10 14:03] github-germ opened #7491 "Org logo not displayed on organisations/index"
With 2.4.141 on `organisations/index` the Org logo is displayed in the list. Don't see that in 2.4.143. Is there a way to enable the logo display, or is this a bug?

[2021-06-10 14:59] iwitz opened #7492 "Can't enrich events when a proxy is required"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | RHEL 7
| OS version (client)       | Any
| PHP version               | 7.3
| MISP version / git hash   | 2.4.143, 3b2100e3d1e21c5c1d5e5cc7627bfe65278f910b
| Browser                   | Any

### Expected behavior
When viewing a

[2021-06-10 15:14] JakubOnderka commented on #7489
You have to install ldap PHP extension and restart PHP daemon.

[2021-06-10 15:24] chrisinmtown commented on #7489
Thanks for explaining.  I had no intent of actually using LDAP and cannot test your solution, so I'm closing this issue.

[2021-06-10 15:24] #7489 closed, assigned to nobody

[2021-06-10 15:28] chrisinmtown commented on #7492
To ask the obvious question, did you test with curl/wget the same request from the same host where the modules server is running?

[2021-06-10 15:28] iwitz commented on #7492
I did, the request succeeded.

[2021-06-10 15:30] adulau commented on #7492
I assume you did a `systemctl daemon-reload` after the change of configuration ?

[2021-06-10 15:31] adulau commented on #7492
if the modules are not installed as systemd services, you also export env variable before starting the modules via HTTP_PROXY and HTTPS_PROXY.

[2021-06-10 15:32] chrisinmtown commented on #7490
First thing is to check the server's error.log file. This is just a SWAG, but there's a chance the server's php process ran out of memory while loading the event list, or possibly timed out waiting for the database to respond.  You can change memory and timeout limits in your php.ini file.

[2021-06-10 16:04] iwitz commented on #7492
For the proxy access, I checked the module's source code and it tries to access the following domains :

raw.githubusercontent.com
api.recordedfuture.com

I can access those with curl (access is granted on a per-domain basis but I already requested access to those).

As far as the service the modules are indeed installed as a systemd service. Here's what I did :
1. edit the service with `systemctl

[2021-06-10 16:50] JoePJisc commented on #7485
Thanks @JakubOnderka, I understand @iglocska's logic, but it doesn't take into account changes to the terms where the admin wants to force re-acceptance.

[2021-06-10 17:24] chrisinmtown commented on #7491
In version 2.4.141 the columns on the Organisations page are Id, Logo, Name, Description, Nationality, Sector, Type, Contacts, Local, Users, Restrictions, Actions.

In version 2.4.143 the columns on that page are ID, Name, UUID, Description, Nationality, Sector, Type, Contacts, Added By, Local, Users, Restrictions, Actions

I'm guessing someone decided that adding the UUID column left no room for

[2021-06-10 17:26] chrisinmtown commented on #7488
On gitter @iglocska suggested this might (might!) be a UI regression. The view still has the UI controls, but they are not enabled/shown as I expect. Hoping someone can confirm.

[2021-06-10 17:26] github-germ commented on #7491
Thx @chrisinmtown -- also, user friendly to look for logos when scrolling thru Orgs vs. reading the names.

[2021-06-10 18:28] chrisinmtown commented on #7491
The Logo column was removed from the view by @mokaddem in this commit:

https://github.com/MISP/MISP/commit/77e68c5a076c74ef6d73a3e152f0340f1a4d5700

[2021-06-11 11:04] norbertt911 commented on #7480
Hello,

Solved...
python3 -m pip install --upgrade pymisp
python3 -m pip install --upgrade stix (update mixbox and cybox too)
python3 -m pip install --upgrade stix2

now mixbox is 1.0.5 instead of the expected 1.0.3 but everything looks working fine

[2021-06-11 12:25] iwitz commented on #7492
The issue appears to be solved, it was an issue with configuring the proxy properly. Thanks again !

[2021-06-11 12:25] #7492 closed, assigned to nobody

[2021-06-11 21:15] tomking2 commented on #7454
Not sure if this is still correct but I expect it is, a global forced theme change can be applied as per https://www.circl.lu/doc/misp/faq/#how-can-i-change-the-theme.

Agree it would be nice to have a fully supported theme switcher baked into MISP that parses multiple bootstrap themes and makes them configurable on a per user basis via MISP.

[2021-06-14 06:04] BillClarksonAntill opened #7496 "AadAuth Module bug"
# This template is meant for bug reports, if you have a feature request user the other template.

*If you would like to report a bug, please fill the template bellow*

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu  20.04.2
| PHP version               | 7.4.3
| MISP

[2021-06-14 08:21] fink08 commented on #7486
Hi,

Just a follow up, I think I have narrowed down my problem, but I can't seem to find a solution.

Looking at the source code and the documentation, it seems the python module "requests" is being used to establish a connection with external websites. The documentation for that indicates that when the proxy information is not overridden in code, it uses the "HTTP_PROXY" and "HTTPS_PROXY" environ

[2021-06-14 13:07] jsman commented on #7391
@iglocska Any luck playing around with this?

I have run into this issue too. In in my case it was the cause for a sync pull to stall. I believe I have this narrowed down to a MySQL comparison operator and the chosen `utf8_unicode_ci` collation for the database fields.

Using this Test event [test_event.txt](https://github.com/MISP/MISP/files/6648425/test_event.txt) I observed the following query

[2021-06-14 14:12] chrisinmtown opened #7497 "Edit organisation feature should show logo and allow delete"
Please revise the edit-organisation page so it (1) shows when a logo image file is defined for the org (has been uploaded), and (2) allows removal of a logo. We are running version 2.4.143.

(1)

I feel this is a bug. When I edit an existing organisation, the page does not show whether the org already has a logo or not. It would be helpful to see the image right there on the page so I don't overwr

[2021-06-14 18:43] Derekt2 opened #7498 "Allow users of event's owner org to edit the event. Or sub-orgs"
We currently have a MISP instance of 100k+ events with both remote and local sources. Our users are unable to edit events for organizations they are a part of, when the Creator org is not the user's org. Even when the Owner org is the user's org.

One example where this comes up is activating a feed in MISP: the feed events creator org is the feed name, but the owner org is whichever user org acti

[2021-06-14 18:52] Derekt2 commented on #1519
Bumping this - our users need to edit multiple different org events.

[2021-06-14 19:45] BillClarksonAntill opened #7499 "Page Layout issue under Galaxies"
# This template is meant for bug reports, if you have a feature request user the other template.

*If you would like to report a bug, please fill the template bellow*

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| PHP version               | 7.5.4
| MISP version

[2021-06-15 00:40] chrisinmtown commented on #5701
I don't think you should have closed this, because views like admin_edit.ctp still have edit controls for Custom (aka external) auth, for example:
[code]
However their display is set to false even when config.php has Plugin.CustomAuth_enable = true.  The code is there on the HTML page but the controls don't appear in the UI

[2021-06-15 00:41] chrisinmtown commented on #7488
Turns out @github-germ reported this long before I did here: https://github.com/MISP/MISP/issues/5701

So it appears this problem has been lurking for a *long* time.

[2021-06-15 01:09] chrisinmtown commented on #7488
After some puzzling I figured out that the external auth checkbox appears if setting 'CustomAuth_enable' => true *and* 'CustomAuth_required' => false.  So the edit controls can be made visible.

But I think this is the bug: the external auth checkbox is not shown if CustomAuth_required = **true**. It sorta makes sense that you don't accept an external auth setting on a per-user basis if it's globa

[2021-06-15 01:21] chrisinmtown commented on #7488
Test results - if I use the Server Settings and Maintenance page, Plugin settings, expand the CustomAuth section, then change the setting Plugin.CustomAuth_enable from false to true, after I click save the `users` table is magically extended with the two critical columns.

Next thought: Can I trigger this same action via a cake Admin setSetting invocation from the command line?

[2021-06-15 01:27] chrisinmtown commented on #7488
whew, good news, this command-line invocation does indeed trigger the database change:
[code]

[2021-06-15 07:22] iglocska commented on #7391
ok that's interesting, how did you end up with this value in the first place?

[code]

[2021-06-15 07:23] iglocska commented on #7391
Ah I see, forgot about the rest of the issue. That's an interesting issue.

[2021-06-15 07:42] iglocska commented on #7391
Hmm the weird thing is I still can't seem to be able to reproduce this. What I've tried:

Added the above test_event.txt, indeed ending up with `"value": "\u0001",` in my new event.
Checked and made sure that I use utf8_unicode_ci for the attribute value1/value2 fields' collations.
No correlations are created when I add attributes without a value2.

[2021-06-15 07:47] iglocska commented on #7391
Also tried directly manipulating the row in mysql via unhex(1) but got the same result. Which mariadb version are you all using?

[2021-06-15 07:50] iglocska commented on #5701
It seems to work for me:

![image](https://user-images.githubusercontent.com/3668672/122014122-264d9b80-cdbf-11eb-940f-28fd10190b65.png)

[2021-06-15 07:52] iglocska commented on #7488
Indeed, editing config.php directly will not fire the hooks, generally always edit it via the UI or via the API/CLI rather than modifying config.php directly.

[2021-06-15 09:40] chrisinmtown commented on #7488
tl;dr:   the admin add/edit user UI does not display the external auth checkbox and textbox controls if I use either the UI or Cake Admin to set settings Plugin.CustomAuth_enable = 1 **and** Plugin.CustomAuth_required = 1. I believe this is a bug. I expect those controls to appear if Plugin.CustomAuth_enable = 1, regardless of other settings.

[2021-06-15 10:28] jsman commented on #7391
Copy the rendered value of `&#0001;` from a webpage and paste it into the attribute value field in the MISP UI worked for me.

I am testing on Ubuntu 18.04 with MariaDB version `10.1.48-MariaDB-0ubuntu0.18.04.1`

[2021-06-15 11:12] iglocska commented on #7391
OK, I see indeed. If you purely paste a control character it will fail. I'll add additional validation as this should never happen and should have been caught by the not empty clause of attribute validation. Nice find, thanks!

[2021-06-15 11:16] iglocska commented on #7391
This should remedy future entries:

https://github.com/MISP/MISP/commit/b0272b0a0c4b0820801cbd8ad37addb3b098867b

[2021-06-15 11:50] jsman commented on #7391
I am trying the fix and running into some [errors](https://github.com/MISP/MISP/files/6655317/errors.txt).

Did you forget to define `$compositeTypes` like a few lines above?
https://github.com/MISP/MISP/blob/b0272b0a0c4b0820801cbd8ad37addb3b098867b/app/Model/Attribute.php#L624

Also stating value1 and value2 indexes are undefined.

I noticed when trying to replace a control code value with a regu

[2021-06-15 11:55] iglocska commented on #7391
Should be better now!

[2021-06-15 12:52] jsman commented on #7391
Ha, it is. Thanks!

Devil's advocate: you removed the composite value validation code all together, so it's still possible to add control codes in composite fields and trigger the bug (for example regkey|value)

Was the reason you chose to fix it at entry, through validation, performance?

Would preventing comparing to an empty string when searching for attributes to correlate around here:
https:/

[2021-06-15 13:53] iglocska commented on #7391
Indeed regkey|value probably needs the same thing applied as that's one of the rare cases where in a composite attribute we do not validate the second component.

Modifying the lookup for correlations indeed has a potentially larger impact on performance though.

[2021-06-15 14:04] #7391 closed, assigned to nobody

[2021-06-15 16:37] eljeffeg commented on #5757
Can someone explain if user accounts are needed or how they are created on the local MISP as part of SAML.  I don't want to have to create all the users that might have to access it.  I just sort of want it passed through with a default org applied.  Is that how it works?

[2021-06-15 22:05] iglocska commented on #7488
That is indeed correct though. You have arrived in that state by circumventing the built in mechanisms for enabling the features.

[2021-06-15 23:28] chrisinmtown commented on #7488
@iglocska thanks for the note. In my latest efforts I believe (!) I take the correct steps for enabling CustomAuth features.  My docker build & startup procedures use the Cake Admin command-line to set the two Plugin CustomAuth required/enable settings to 1/true (no longer starting with a config.php file with them enabled). But after setting those, the admin add-user and edit-user screens don't gi

[2021-06-16 08:09] digihash commented on #7042
Pushing only proposal is interesting if you indeed have a 4-eyes principle for review as we do too with multiple server but when we get events from partners and want to change something to them, the only choice we have now is do a proposal on the event and push the entire event to our public server which is not something we want as this kind of breaks the principle of only pushing events that are

[2021-06-16 08:15] digihash opened #7501 "Propose Objects, Galaxies, and Event reports"
**Is your feature request related to a problem? Please describe.**
At the moment we can propose attributes and attachment but nothing else.

**Describe the solution you'd like**
It would be interesting to be able to propose objects, galaxies, and event reports to an event of a partner.

**Describe alternatives you've considered**
Now I have to mail a partner and ask to add a certain object or even

[2021-06-16 09:36] iglocska commented on #7488
That is indeed weird. With custom auth enabled I have this:

![image](https://user-images.githubusercontent.com/3668672/122195933-11dcd200-ce97-11eb-8299-2b9f1fc43dd9.png)

[2021-06-16 09:48] chrisinmtown commented on #7488
hi @iglocska thanks for checking on your system. Would you please try setting Plugin.CustomAuth_required = 1 and look again?  I don't know if that will break your login tho :(

If I use Cake Admin to set Plugin.CustomAuth_required = 0 then the Admin Edit User screen looks exactly like what you show. But our local requirement is to require external auth for *all* users, so would really like to conf

[2021-06-16 11:57] iglocska commented on #7488
Ahhh, I see indeed the logic fail in there. True, customauth required would mean that the external field is always required, however, it fails to enable it since the checkbox is no longer present (as there's no option for the user). I'll have a fix for that today, the required was the bit that I was missing.

[2021-06-16 12:10] chrisinmtown commented on #7488
👍🙏

[2021-06-16 12:12] chrisinmtown commented on #7488
A new question for you @iglocska: will you please consider disabling (or hiding) the password checkbox and fields when CustomAuth_required = 1 ?

[2021-06-16 12:23] iglocska commented on #7488
Yeah that makes sense too

[2021-06-16 12:32] #7488 closed, assigned to nobody

[2021-06-16 13:04] chrisinmtown commented on #7488
Thank you for the quick response. I look forward to testing this!

[2021-06-16 13:10] iglocska commented on #7488
Holler if it doesn't work!

[2021-06-16 17:55] chrisinmtown commented on #7488
Thanks to docker I can build & test quickly :) I used commit adb77afaed22291cb076cf7fbb7755c3eb8ada29. Here's an image of what I see on a system with Plugin.CustomAuth_enabled = 1 and Plugin.CustomAuth_required = 1:

<img width="467" alt="Screen Shot 2021-06-16 at 1 51 59 PM" src="https://user-images.githubusercontent.com/10234212/122268512-270f2c00-ceaa-11eb-8083-746c6a5184ad.png">

I am *very gl

[2021-06-16 19:48] imidoriya commented on #4735
@iglocska might you be able to clarify which logs we should avoid truncating?  My log table is at 65GB, which makes using the UI to view them impossible (timeout).

[2021-06-16 20:24] ghost opened #7503 "MISP integration with TheHive"
Good Afternoon,

I have a running instance of MISP and I have am having issues getting it to integrate with TheHive.

I created an API user that has a role of publisher and copied that Auth Key into the application.conf file for TheHive.

Now side-note, I put the MISP instance on the same instance of TheHive. Not sure if that's a good practice or not, so please let me know.... but attached is what

[2021-06-17 07:22] MillerDCS commented on #7484
Anything like this happen?

[2021-06-17 07:29] MillerDCS commented on #7484
Is there any other information that I should be including?

[2021-06-17 08:24] rommelfs commented on #7503
If you didn't experience any problems, it's a good start. Otherwise, please explain what the issue is and attach meaningful logs.

(I for my part don't know the expected format within the config file of The Hive, but it looks like the entire module block is commented out and not taken into consideration by The Hive.)

[2021-06-17 08:24] #7503 closed, assigned to nobody

[2021-06-17 08:30] rommelfs commented on #7499
I can't reproduce on MISP 2.4.144
Can you demonstrate exact steps on this software version please?

[2021-06-17 08:40] rommelfs commented on #7490
Please provide exact steps of what you were doing, on which MISP version, and provide meaningful log lines to be able to understand the problem. Closing for the moment.

[2021-06-17 08:40] #7490 closed, assigned to nobody

[2021-06-17 08:45] #7480 closed, assigned to nobody

[2021-06-17 08:49] rommelfs commented on #7462
I guess some more information about the environment (OS version for instance) would be useful.
Closing for the moment - feel free to re-open.

[2021-06-17 08:49] #7462 closed, assigned to SteveClement

[2021-06-17 08:50] rommelfs commented on #7457
I guess some more information about the environment (OS version for instance) would be useful.
Closing for the moment - feel free to re-open.

[2021-06-17 08:50] #7457 closed, assigned to SteveClement

[2021-06-17 15:43] mokaddem opened #7505 "Add an existing attribute to an Object"
Currently, we can merge attribute into object but it would be nice to be able to move an existing attribute inside an object.

[2021-06-17 20:54] eljeffeg commented on #5757
And if anyone has advice on what to put for the EntityID and the MellonEndPoint, that would be great.  We really need a wiki on this or something.  I'm trying to work though it without any prior knowledge and it's tough to know what to do.

[2021-06-17 23:15] BillClarksonAntill commented on #7499
Sorry rommelfs, should have put a better description

Follow the steps below

Click **Galaxies** > **List Galaxies**
Select a **Galaxy ID** it doesn't matter which one
On the left side panel, click **Add Cluster** on the Add Cluster page the Export Galaxy Clusters Page link disappears
Click back to **View Galaxy** Export Galaxy Clusters Page is available

Its pretty minor, unsure if this is by des

[2021-06-18 11:24] saurabhsumangate opened #7507 "i am unable to get result for curl command https://<misp>/attributes/restSearch"
## Please consider the following notes
- Critical security bugs can be reported, preferably PGP encrypted, by mail to: info@circl.lu
- Bug reports and feature requests can be filed as an issue on github: https://github.com/MISP/MISP/issues
- For interactive support please join the Gitter chat on: https://gitter.im/MISP/MISP

The official documentation of MISP can be found here: https://www.circl.l

[2021-06-18 12:49] govcert-ch opened #7508 "Mails are always PGP signed even when S/MIME is used to encrypt message"
### Work environment

| Questions                 | Answers
|---------------------------|-------------------- |
| Type of issue             | Bug |
| OS version (server)       |  Ubuntu 20.04 |
| OS version (client)       | Ubuntu 20.04
| PHP version               | PHP 7.4.3
| MISP version / git hash   |  MISP 2.4.143 e4a00d067ac3d1654a450a9a9cda096a0844d320
| Browser                   | -

### E

[2021-06-18 19:21] chrisinmtown commented on #5004
Here's the latest deadlock problem that's bedeviling us.  Happens in the context of adding 10 MISPObjectAttribute collections to an Event, when MISP tries to update correlations:
[code]

[2021-06-20 08:11] iglocska commented on #7485
The problem with enforcing it via the API is that any tooling accounts you have connected to misp would stop working over night and there's a slim chance that it would be noticed in time (perhaps beyond a lack of new indicators flowing into your siem). I can make this an optional behaviour though.

[2021-06-20 20:41] BillClarksonAntill commented on #7496
Just wondering if this could be based on my config of MISP also, unfortunately the aadauth module documentation seems a bit light in this area if there is further configuration that you have to perform in the MISP Portal. Can someone clarify if possible?

[2021-06-21 08:53] ibyf0r3ns1cs commented on #7417
Hi iglocska , thank you again for replaying and trying to assist.
I will explain my self better.
I would like to connect MISP to big data security analytics product to get IOCs into the product that will check network matches in addition to its existing capabilities.
Product's ability to receive threat intel as a TXT or CSV file in API.
MISP knows how to produce it without a problem, but the probl

[2021-06-21 09:51] Kairat-ifeb opened #7509 "Misp installed: doesn't work web interface"
## Please consider the following notes
- Critical security bugs can be reported, preferably PGP encrypted, by mail to: info@circl.lu
- Bug reports and feature requests can be filed as an issue on github: https://github.com/MISP/MISP/issues
- For interactive support please join the Gitter chat on: https://gitter.im/MISP/MISP

The official documentation of MISP can be found here: https://www.circl.l

[2021-06-21 10:13] Tyrell20 commented on #7136
Hello @iglocska,

any feedback about this?
Thank you

[2021-06-21 10:20] iglocska commented on #7136
That's correct, the response part needs to be stripped. There is an import event endpoint with which it should work.

[2021-06-21 10:22] Tyrell20 commented on #7136
Perfect, many thanks

[2021-06-21 10:22] #7136 closed, assigned to nobody

[2021-06-21 10:37] JoePJisc commented on #7485
Totally agree with the issues of enforcing this by default, but optional enforcement would be good.

We have our automation users set to Terms Accepted already, and the script I've made to flip users back to unaccepted filters these out.

Thanks

[2021-06-21 10:47] adulau commented on #7509
If you have PHP scripts returned in your web client, it's most often a misconfiguration of the Apache server. Do you have enable PHP, are the PHP engine enabled and the execution configured in the virtual host.

[2021-06-21 10:47] #7509 closed, assigned to nobody

[2021-06-21 14:01] rommelfs commented on #7499
ha, nice :) Thanks for the clarification.

[2021-06-21 14:35] chrisinmtown opened #7510 "UI Edit Correlation Exclusion screen does not show value or allow change"
This seems so obvious I must be doing something wrong, but in MISP v 2.4.143 I cannot edit the value for an existing correlation exclusion.

Also the language in the Edit Correlation Exclusion box could be slightly improved -
Current: If you wish to exclude certain entries from being correlated on, simply add an entry here.
Proposed: Enter the value here you wish to exclude from correlation.

###

[2021-06-21 15:35] peanuter commented on #6790
I am experiencing the same issue. Any update on when this will be patched?

[2021-06-22 07:19] Kairat-ifeb commented on #7509
I have installed PHP 7.2, after that i got server error 500 and error_log:
![cghe](https://user-images.githubusercontent.com/63206327/122880589-f9b7f780-d35b-11eb-8db9-74aa13a79d93.png)
As you said in issue #4067 i follow and tried to laung following script:
https://misp.github.io/MISP/INSTALL.ubuntu1804/#4-cakephp
but anything didn't happen.
Can you help to solve this issue? What i should to do?

[2021-06-22 09:33] Sshahar commented on #5720
Is there a solution yet?
Host machine running Ubuntu 20.04

[2021-06-22 09:37] iglocska commented on #5720
Could you open a separate issue describing your problem?

[2021-06-22 12:18] chrisinmtown opened #7512 "Top correlations index counts differ enormously from database content"
Please help me understand content of the Top correlations Index.  Get to this page by MISP -> Input Filters -> List Correlation Exclusions -> Top Correlations.  The counts shown there are totally different from what I see in the database.

To view this index, I click on the Regenerate cache button, wait, then when the data is fresh, it shows me 50 rows. I see the value `Postmaster notify: see tran

[2021-06-22 12:20] chrisinmtown commented on #7507
What REST search are you POST-ing to this endpoint?  You need to include a JSON block with your query.  You might try the web UI's REST search interface to develop and test that query.

[2021-06-22 12:43] NetEyes opened #7513 "Internal Error has occurred - when viewing "Diagnostic""
Hi,

I am unable to view "Diagnostic" section. I am getting Internal Error .

Server Settings & Maintenance -> Diagnostics
![image](https://user-images.githubusercontent.com/20463433/122926306-b64a9280-d335-11eb-960e-de8f489346be.png)

[2021-06-22 12:52] github-germ commented on #7512
Check out function `generateTopCorrelations` in `Model/Correlation.php`

[2021-06-22 13:32] chrisinmtown commented on #7512
Looks like the Top correlations index queries Redis, not the database.  So if MISP has not cached data from a feed to Redis then this function cannot count the data.

[2021-06-22 14:39] github-germ opened #7514 "Why would sharing_group_orgs table have many rows with sharing_group_id=0?"
2.4.143

Noticed today that more than one of our MISP instances can have several hundred rows in the `sharing_group_orgs` table with `sharing_group_id=0`.

Not seeing any issue with this. However, curious as to why that would occur, should they be removed or do they have some useful reason to be there.

For example:

* These are expected and make sense:
[code]
* These are the _mysterious_ rows wit

[2021-06-23 09:22] Sshahar opened #7515 "MISP install error"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Ubuntu 20.04
| PHP version               | 5.4, 5.5, 5.6, 7.0, 7.1... (if relevant)
| MISP version | 2.4

### Support Questions
Running the installation script as follows:
[code]
I've received the following error:
[code]

[2021-06-23 09:58] redbiker-svg opened #7516 "MISP Feed Sync"
Hi,

My MISP feeds don't sync automatically and only way I get new events / attributes in a fixed event is my manually clicking on "Fetch events".

Is this a known bug in 2.4 or a config issue on my end?

Also, what does the caching age (in days) mean?

[2021-06-23 11:42] adulau opened #7517 "Ability to have a global filter rule to be applied for all server connections"
Ability to have a global filter rule to be applied for all server connections. It will help the users to avoid repeating the same filter on all the sync connections.

[2021-06-23 11:51] wisekhan commented on #7517
It would be very useful feature since when you have more server connection and adding a specific rule for all, it would be nightmare to add the same rule to all servers pull and push rules.
thanks in advance for the feature extension

[2021-06-23 15:36] ickgr commented on #5785
Hello,
I'm facing exactly the same issue.
I have fresh clean install of MISP
(wget --no-cache -O /tmp/INSTALL.sh https://raw.githubusercontent.com/MISP/MISP/2.4/INSTALL/INSTALL.sh ; bash /tmp/INSTALL.sh -c -M)

After restarting the server I cannot connect to the default page https://localhost:8443

Any suggestions how to bypass this blocking point?

Thank you,

[2021-06-23 19:58] MillerDCS commented on #7484
In case it's a question; I **_am_** still paying attention to this question. If you have any input I'd love to see it!

[2021-06-24 09:27] adulau opened #7518 "Feature: hide specific taxonomies from the MISP instance (UI)"
Feature: hide specific taxonomies from the MISP instance (UI)

[2021-06-24 09:29] adulau opened #7519 "Feature: hide specific type on a MISP instance (e.g. malware-sample/sample)"
Feature: hide specific type on a MISP instance (e.g. malware-sample/sample)

[2021-06-25 15:18] maverickvn360 opened #7521 "Client Certificate Error"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 20.04
| OS version (client)       | Ubuntu 20.04
| PHP version               | 7.4.3
| MISP version / git hash   | 2.4.144, 2fde6476dc3173affc61874ba2adb35400a8fda5
| openSSL version           | 1.1.1f - 31 Mar 2020

##

[2021-06-25 16:01] ghost commented on #6569
Agree, can this be updated to avoid error please? Thanks

[2021-06-25 20:43] artemis061 opened #7522 "Add primary key to brutforces table"
**Is your feature request related to a problem? Please describe.**
I am currently working on creating a highly available MISP deployment with a distributed mysql database cluster. I was unable to login to the web ui after installing MISP due to the bruteforces table in the database not having a primary key.

**Describe the solution you'd like**
I would like an "official" primary key included in th

[2021-06-26 10:22] frakzies commented on #6765
good idea!

[2021-06-28 11:06] ibyf0r3ns1cs commented on #7417
Any help please ?

[2021-06-28 13:46] tgh19 opened #7528 "Elasticsearch Index Template Error"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue                | Bug
| OS version (server)       | Ubuntu
| OS version (client)        | Ubuntu
| PHP version                     | 7.4
| MISP version / git hash   | 2.4.144
| Elasticsearch & Kibana version | 7.12.1

### Expected behavior

Data types in Elasticsearch match

[2021-06-28 13:54] ArnoldSpyros commented on #7208
In version 2.4.145 the configurations regarding open id connect are still removed.

[2021-06-29 09:40] bLackCat-79 commented on #2802
Check https://github.com/MISP/MISP/pull/7242

[2021-06-29 11:38] gebhard73 opened #7529 "Kali Install fails - wrong SHA1"
Hi,

the execution of the installation script (kali version) fails:

[code]

Manual download of script in browser and calculation of sha1 also results in 3F884909B77C2EDF13B539BDAA911B7036BC451A

Can you please have a look? Thanks!

[2021-06-29 12:57] packet-rat opened #7531 "Serious Correlations Bug: Exponential Explosions of Correlations when Objects contain duplicative IOCs in Multiple Events"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Debian, Ubuntu, CentOS, RedHat, ...
| OS version (client)       | MacOS, Win10, Ubuntu, ...
| PHP version               | 7.1
| MISP version / git hash   | 2.4.143, hash of the commit
| Browser                   | If applicabl

[2021-06-29 13:54] github-germ commented on #7531
We've experienced this also big time. Open to suggestions to avoid. Thanks.

[2021-06-30 07:52] MillerDCS commented on #7484
I guess Ubuntu 20.04 isn't supported anymore? No reply for 3 weeks, but I got it working right away by switching to CentOS7.

[2021-06-30 07:52] #7484 closed, assigned to SteveClement

[2021-06-30 12:28] cybgit commented on #1204
This saved me even years later! I updatede php from 7.2 to 7.4 and had this exact issue. The guide i was following didnt mention the php7.4-redis install so i did that and its now fixed (i think)

[2021-06-30 12:44] #7515 closed, assigned to nobody

[2021-06-30 15:23] Kagee opened #7534 "phpunit/php-token-stream abandoned, warning from composer"
Putting this here for documentation, not sure if it is a bug yet

### Work environment
| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Debian
| MISP version / git hash   | 2.4.145 da0b99213d0a090d1b7d49028f118bec553a526a

### Expected behavior
Not using abandoned php packages

### Actual behavio

[2021-06-30 20:13] Wachizungu commented on #7534
Just adding for tracking purposes:
https://gitter.im/MISP/MISP?at=60dc8f60bcb3e8060ef1de61

[2021-07-01 06:27] renaldaseptian commented on #3525
You can check here for research information on VIN check with [a company that offers](https://vinpit.com/vin-check/title) a VIN number checking. I have tried to study them and it really works well for me.

[2021-07-01 07:38] #7430 closed, assigned to nobody

[2021-07-01 08:24] redbiker-svg commented on #7516
Hi @RichieB2B @iglocska
Could either you gents help me out with this?

[2021-07-01 08:36] mokaddem commented on #7441
@krishnamohan152 Have you been able to resolve the your issue?
Based on the error log, it seems your misp-module (and probably the server) cannot reach the virustotal.com API.

[2021-07-01 08:51] mokaddem commented on #7448
Hey,
Just as additional information, sync-users have a special ability to that other roles do not have:
The possibility to create data on behalf of other organisation.
afaik, the restrictions regarding this role have been put in place because of this.

[2021-07-01 08:57] mokaddem commented on #7451
Hey, we indeed slightly changed the UI of this part recently. Could you update to the latest version and try again?
Thanks!

[2021-07-01 08:59] mokaddem commented on #7449
Hey @DigiAngel!
Just going trough the backlog of issues.
Did you manage to solve this issue? I'm very curious to know the reason why this was happening!

[2021-07-01 09:02] mokaddem commented on #7452
Hey, even though it is possible, I don't think it's a good practice to pass API key in clear text that can easily be logged.
How are you sending the updated event to your firewall? Can't you use something like PyMISP to accomplish this?

[2021-07-01 09:21] mokaddem commented on #7447
@estebanramos Unfortunately, there is no clean way to remove the `Authentication` header sent by the browser https://en.wikipedia.org/wiki/Basic_access_authentication

[2021-07-01 11:42] DigiAngel commented on #7449
Nope...had to import from from an exported json file.

[2021-07-01 12:25] mokaddem commented on #7454
This will be possible when we upgrade the UI to use a modern version of bootstrap.
This process is currently on the way so bear with us! ;)

[2021-07-01 13:40] iglocska commented on #7534
Indeed, closing for now, thanks!

[2021-07-01 13:40] #7534 closed, assigned to nobody

[2021-07-01 14:13] mokaddem commented on #7513
Do you have anything interesting in the logs?
(`MISP/app/tmp/logs/)

[2021-07-01 14:19] #7499 closed, assigned to mokaddem

[2021-07-01 20:09] chrisinmtown commented on #7531
Here's example data to give context to a proposal below.

Event E1 has:

    ObjectAttribute oa1
        Attribute a1, ip addr, 1.2.3.4
        Attribute a2, sha code, bbb777
    ObjectAttribute oa2
        Attribute a3, ip addr, 1.2.3.4
        Attribute a4, sha code, ccc888

Event E2 has:

    ObjectAttribute oa3
        Attribute a5, ip addr, 1.2.3.4
        Attribute a6, sha code, ddd999
    O

[2021-07-01 20:42] narly-david commented on #6775
Bump as mysql/mariadb can be outsourced as well!

[2021-07-02 06:58] mokaddem commented on #7417
Hey I don't understand what's blocking you here.
@iglocska already replied how you can request different format in MISP.
Doing such query should work out of the box:
[code]

[2021-07-02 06:58] #7417 closed, assigned to nobody

[2021-07-02 07:10] bartblaze commented on #7454
Great news - thank you Sami!

[2021-07-02 07:16] mokaddem commented on #7528
Hello,
I believe this is what is causing your issue:

Do you have any means to reproduce this? That would help tremendously.
Thanks!

[2021-07-02 07:32] mokaddem commented on #7516
Hello,
Fetching is not done automatically, you have to trigger the action yourself. Either by clicking on the UI or by using the API/CLI.
The best way to do it is via a CRON job.
Please have a look at `/events/automation`, especially the section `Automating certain console tasks`.

This means that the local cache of the feed you are looking to is `x` days old.
Cheers!

[2021-07-02 07:32] #7516 closed, assigned to nobody

[2021-07-02 07:35] mokaddem commented on #7449
Importing from exported json file is pretty standard. And it should not affect in anyway the issue you have with the UI.
Do you have any entries in your browser console?
What's weird for me is that these UI elements are rendered once and are not refreshed by any means.

[2021-07-02 11:51] DigiAngel commented on #7449
So the the solution was to import everything from json.  My initial method of importing the sql file from the old instance to the new instance is what caused this to occur.

[2021-07-02 15:01] ickgr opened #7542 "MISP localhost page: Connection Refused"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Ubuntu 20.04
| MISP version / git hash   | 2.4.144 (latest)
| Browser                   | Firefox, server's native version

### Support Questions
Hello,
Some days back I performed a fresh clean MISP installation on virtual

[2021-07-02 15:09] righel commented on #7542
Hello,
At first glance looks like Apache is not running. Could you paste the output of this command?
`sudo service apache2 status`
If the service is not running, try restarting it by running:
`sudo service apache2 restart`

[2021-07-02 16:20] chrisinmtown opened #7543 "Support multi-row delete on Correlation Exclusions Index page"
**Is your feature request related to a problem? Please describe.**

The Correlation Exclusions Index page allows only one-by-one row actions.  It's tedious to delete multiple rows.

**Describe the solution you'd like**

Add checkboxes on each row and an icon at the top for multi-row actions such as delete, as is common on many other MISP UI screens.

**Describe alternatives you've considered**

Cl

[2021-07-05 08:45] ickgr commented on #7542
Hi @righel

Below is command's output.

![Capture](https://user-images.githubusercontent.com/86368607/124443583-77312e00-dd86-11eb-87f8-32bd329c0d40.JPG)

[2021-07-05 13:05] LeandreNguyen opened #7544 "Server sync - can't add certificate"
Hello,

I'm trying to set up a synchronization with another MISP instance using TLS. Problem is, I can't seem to upload the .pem certificate when adding the server : nothing happens when I select a file and no error messages are raised.
I tried going through the OpenAPI, but I don't quite understand what's expected for the fields "cert_file" or "client_cert_file".

Any advice ?

[2021-07-05 15:26] RichieB2B commented on #7512
I can second this issue. The counts of `generateTopCorrelations` are way off from the counts in mysql.
If you look at the function though it is setting up a new Redis table with name `CACHE_NAME` which is [defined ](https://github.com/MISP/MISP/blob/2.4/app/Model/Correlation.php#L10) as `misp:top_correlations`. This has nothing to do with the feeds which also can be cached in Redis.

[2021-07-05 15:35] RichieB2B commented on #7531
The proposal by @chrisinmtown makes sense to me. We recently ingested a few misp events each with several file objects including `imphash` attributes. These are all equal by design. This caused our correlations table to explode to 7GB on disk (24M correlations).

[2021-07-05 15:47] RichieB2B opened #7545 "Correlations with empty value"
`app/Model/Correlation.php` has a bug that causes the value column in the correlations table to be empty when a value1 is matched against a value2 of another attribute.
The logic error is [here](https://github.com/MISP/MISP/blob/2.4/app/Model/Correlation.php#L336):
[code]
This assumption that when `$k === 0` the match was found on value1 is wrong. This just indicates that value1 of the needle was

[2021-07-05 16:00] samitainio commented on #7472
@chrisr3d

Any additional tips or pointers as for what I could check or do in the meanwhile?

[2021-07-05 16:53] mikkster opened #7546 "APP/Model/Warninglist.php, line 191 prevents events to be published"
*If you would like to report a bug, please fill the template bellow*

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu.
| OS version (client)       | Win10
| PHP version               | 7.1.
| MISP version / git hash   | v2.4.146 , 0c25b720724c0fc8dbc064b0cdfcf6e4d66a

[2021-07-06 07:51] RichieB2B commented on #7545
If anyone needs to test this, simply create 2 events. Add an attribute of type `ip-dst` with value `10.1.2.3` to one event and type `domain|ip` with value `example.com|10.1.2.3` to the other.

[code]

[2021-07-06 08:04] RichieB2B commented on #7531
Is there a way to prioritize this fix? I imagine the entire MISP community is running out of disk space by now.

[2021-07-06 08:57] namnori72 opened #7548 "Problem with workers"
Hello!

Recently I had a problem with disk space on my vm and I plugged in a new larger drive to which I uploaded the database. However after restarting I have problem with workers. I know it could be related to file permissions or some configuration files - I just don't know what I should check.
I would like to ask for help in this area.

![image](https://user-images.githubusercontent.com/8700937

[2021-07-06 09:59] namnori72 commented on #7548
After I use
/var/www/MISP/app/Console/cake CakeResque.CakeResque stop --all
i've got
![image](https://user-images.githubusercontent.com/87009374/124581612-8b8e2d00-de51-11eb-82aa-24dbc6a2e556.png)

[2021-07-06 10:21] namnori72 commented on #7548
I also checked resque-worker-error.log
![image](https://user-images.githubusercontent.com/87009374/124584591-b8900f00-de54-11eb-9ce0-f52a22bc10e5.png)

[2021-07-06 11:20] chrisr3d commented on #7472
The issue here is the stix python library is not happy with the `[Redacted]` values you can find here and there in the file.
I tried to find a way to deal with it but no success yet... It looks like the stix-validator is ok with it but `STIXPackage.from_xml` definitely barfs with such kind of value

[2021-07-06 12:52] csirt-pj commented on #7451
Yes, it did the job, thanks!

[2021-07-06 12:52] #7451 closed, assigned to nobody

[2021-07-06 13:49] gebhard73 commented on #7529
current error message:
[code]

[2021-07-06 14:17] gebhard73 commented on #7529
after searching: this is a problem of the installer script not respecting proxy settings ... will have a closer look and open a respective issue or pull request

[2021-07-06 14:17] #7529 closed, assigned to nobody

[2021-07-06 14:51] chrisinmtown opened #7549 "config.default.php omits MISP system settings shown on UI and in code"
I feel it's a bug that the checked-in version of MISP/app/Config/config.default.php omits settings that are known to the system. For example these settings are not in config.default.php but are in the UI and code:

- MISP.disableUserSelfManagement
- MISP.enable_advanced_correlations
- MISP.live
- MISP.log_client_ip
- MISP.log_client_ip_header

And many, many more.

Please revise config.default.php

[2021-07-06 14:55] chrisinmtown commented on #7545
Good find, this bug affects us too, we just hadn't noticed:
[code]
Also tried your query, here's what triggers the problem on our system:
[code]

[2021-07-06 17:28] rishabh07074 opened #7550 "[PDOException] SQLSTATE[HY000]: General error: 2006 MySQL server has gone away"
Hi Team, #

I am getting error of mysql has gone away on my MISP setup. Please refer below logs and let me know what is possible workaround to resolve this issue-

2021-06-12 22:26:00 Notice: Could not save progress for job 1580
**[PDOException] SQLSTATE[HY000]: General error: 2006 MySQL server has gone away**
Stack Trace:
[MISPerrorlogs.txt](https://github.com/MISP/MISP/files/6771715/MISPerrorlog

[2021-07-06 19:26] iglocska commented on #7531
This is definitely not an easy "fix" as it's working as intended in this case. The correlations always happen on an attribute level, never on an object or event level, those are completely ignored (except for self references to the same event, which would be pointless). If we did restrict the number of correlations between individual re-occuring values in an event to a single correlation the resul

[2021-07-06 19:32] iglocska commented on #7545
Yeah that's nasty, nice catch and nice explanation. We'll fix this asap.

[2021-07-06 21:43] yanerosolitario opened #7552 "Invalid JSON input"
## Please consider the following notes
- Critical security bugs can be reported, preferably PGP encrypted, by mail to: info@circl.lu
- Bug reports and feature requests can be filed as an issue on github: https://github.com/MISP/MISP/issues
- For interactive support please join the Gitter chat on: https://gitter.im/MISP/MISP

The official documentation of MISP can be found here: https://www.circl.l

[2021-07-07 08:00] righel commented on #7552
Hello @yanerosolitario
The JSON is valid.
The curl request is missing an `@` at the beginning of the file name <sup>1</sup>, in your example you are sending the value `/root/file.json` as the request body. It should be like this:
`curl --insecure -s --header "Authorization: xxxxxx" --header "Accept: application/json" --header "Content-Type: application/json" -d @/root/file.json https://x.x.x.x/att

[2021-07-07 08:01] #7552 closed, assigned to nobody

[2021-07-07 11:24] WebBotMaster opened #7554 "How to connect MISP to an external STIX/TAXII Server?"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Any necessary OS.
| OS version (client)       | Win10
| PHP version               | not relevant
| MISP version / git hash   | newest version

### Support Questions
Hey, I wrote the MISPProject Account on Twitter and the p

[2021-07-07 17:34] Pirlo-logi opened #7556 "Bunch of error in Database schema diagnostic"
[MISP DATABASE ISSUE.pdf](https://github.com/MISP/MISP/files/6779040/MISP.DATABASE.ISSUE.pdf)
Hello All,
Hope you are doing well.
I have a bunch of error on misp Database schema diagnostic
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support/Bug
| OS version (server)       | Debian, Ubuntu 20.04.2 LTS
|

[2021-07-07 17:49] JakubOnderka commented on #7546
Hello, try to delete Model cache in *Administation* -> *Server Settings & Maintenance* -> *Diagnostics* -> *Clean model cache*.

[2021-07-08 01:27] maverickvn360 commented on #7521
Please let me know if there's an update.
Thanks

[2021-07-08 03:37] maverickvn360 commented on #7521
I generated certificates (client) using these standard commands:

`openssl genrsa -out server.key`
 `openssl req -new -key server.key -out server.csr`
 `cp server.key server.key.org`
 `openssl rsa -in server.key.org -out server.key`
 `openssl x509 -req -days 365 -in server.csr -signkey server.key -out server.crt`

[2021-07-08 09:20] Passimist opened #7557 "Initially created auth key of sync user not working"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu 20.04
| OS version (client)       | Win10
| MISP version / git hash   | 2.4.146

### Expected behavior
I set up two fresh MISP instances and wanted to sync them. I added the org of one instance as a local org on the oth

[2021-07-08 10:27] forghani77 commented on #4405
Second  solutions would be using mkcert to generate crt and key files in your local machine , then put those on misp virtual machine or misp docker.
Here is a great resource to do that:
https://pandora.sh/posts/deploy-misp-with-https/

But If you're using Misp virtual machine, and even, you solve the certificate problem it won't integrate with TheHive for some reason.
So you have no choice but to

[2021-07-08 13:55] tgh19 commented on #7528
Sorry for the late response. I will send over a docker compose file that can help replicate the environment today.

[2021-07-08 14:18] Passimist commented on #7557
I used fresh Ubuntu 20.04 VMs and installed MISP according to this manual: https://misp.github.io/MISP/INSTALL.ubuntu2004/

# Please check the installer options first to make the best choice for your install
wget -O /tmp/INSTALL.sh https://raw.githubusercontent.com/MISP/MISP/2.4/INSTALL/INSTALL.sh
bash /tmp/INSTALL.sh

# This will install MISP Core
wget -O /tmp/INSTALL.sh https://raw.githubusercon

[2021-07-08 14:56] NetEyes commented on #7513
I ended up re-installing MISP

[2021-07-08 14:56] #7513 closed, assigned to nobody

[2021-07-08 14:57] ickgr commented on #7542
Dear Support,

Can someone assist me on this? Do you know if the instructions write something that can I advice me how to overcome this?

Thank you,

[2021-07-08 15:38] righel commented on #7542
Hello @ickgr ,
Are you trying to access MISP from the same virtualbox VM/guest or via your host machine?

Can you attach/paste the contents of these logs?
`/var/log/apache2/error.log`
`/var/log/apache2/misp.local_access.log`

The output of:
`sudo apache2ctl -S`
`sudo lsof -i -P -n | grep LISTEN`

[2021-07-08 16:02] mikkster commented on #7546
Hello, I have tried to delete Model cache issue still persists.

[2021-07-08 19:38] ghost opened #7559 "Error when another organization Push synchronisation"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Ubuntu 20.04
| OS version (client)       | Win10
| PHP version               | 7.4.3
| MISP version / git hash   | 2.4.146, hash of the commit

### Behavior

A member of my community successfully pushed events, and so I wa

[2021-07-08 21:09] tgh19 commented on #7528
Hi, we were able to solve the problem by modifying the `ElasticSearchClient.php` file's `pushDocument` function to be the following:

[code]

[2021-07-09 07:04] ickgr commented on #7542
Hi @righel

I'm trying to access MISP from the same virtual server.
[commands.txt](https://github.com/MISP/MISP/files/6789406/commands.txt)

[2021-07-09 07:09] righel commented on #7542
Seems Apache is listening on port 443 not 8443, according to the logs this configuration changed at some point after 29/Jun/2021:14:23:39 +0000.
Could you try accessing MISP via https://127.0.0.1 and see if it works?

edit:
You might want to check that in the config file:
`/var/www/MISP/app/Config/config.php`
The setting `MISP.baseurl` is set to `https://localhost` or `https://127.0.0.1`

[2021-07-09 07:40] ickgr commented on #7542
If a hit the https://127.0.0.1/ the page opens to put my credentials but after that all the following page redirections fails since the URL change to localhost:8443/xxxxxxx

:~$ sudo more /var/www/MISP/app/Config/config.php | grep 443
    'baseurl' => 'https://localhost:8443',
    'external_baseurl' => 'https://localhost:8443',

So, what actions do i have to perform to solve this annoying behavior

[2021-07-09 08:12] righel commented on #7542
**option 1:**
update those two settings in the `config.php` file with `https://127.0.0.1` value instead of `https://localhost:8443`.

**option 2:**
change back Apache SSL port to 8443:
1. edit misp virtual host.
`sudo vim /etc/apache2/sites-enabled/misp-ssl.conf`:
change `<VirtualHost *:443>` to `<VirtualHost *:8443>`
and then run:
`sudo a2ensite misp-ssl.conf`
3. update Apache ports:
`sudo vim /e

[2021-07-09 08:41] ickgr commented on #7542
Everything seems to be ok now.

@righel Thank you for your effort in assisting me on this issue.

Have a nice day!

[2021-07-09 08:52] #7542 closed, assigned to nobody

[2021-07-09 09:13] RichieB2B commented on #7531
I understand the challenges described by @iglocska and have been thinking on how to solve this. It would be great if the authors of events would realise this problem exists but IMHO that is just wishful thinking.

Our research shows that the recent explosion of the correlations table is caused by the `imphash` type attributes that are by design the same for many files described in file objects. Ho

[2021-07-09 09:18] RichieB2B commented on #6931
@github-germ You can add foreign keys constraints to the correlations table as @chrisinmtown suggests. Then look for errors in the MISP logs to find the root cause.

[2021-07-09 17:35] stevengoossensB opened #7561 "Using the INSTALL.SH script without installing the database"
**Is your feature request related to a problem? Please describe.**
I would like to install MISP and use a database on a different server. Therefore, there is no need to install the database on the server.

**Describe the solution you'd like**
Add a flag to the install script so it doesn't install the database and configure a remote database

[2021-07-09 20:10] github-germ commented on #7531
@RichieB2B -- Appreciate the continued discussion here. Perhaps I'm missing something. Might setting a solution based on one attribute type, `imphash`, be too narrow? E.g. our explosion occurs within events with objects containing `ip-src` attributes.

Perhaps there is a way to generalize your proposal with some method defining a list of `MISPObjectAttributes` within an event that should somehow a

[2021-07-10 14:50] RichieB2B commented on #7531
@github-germ Absolutely, if you are experiencing this issue with `ip-src` we should be looking for a general solution instead of focusing on a single attribute type like `imphash`.

[2021-07-11 09:51] debdeep24 commented on #1540
I am a newbee in python. Could anyone help to make the cef_export module work for me?

[2021-07-12 13:58] mokaddem commented on #7544
Hello,
Could you make sure that you are running the latest version of MISP?
Also, would you mind describing the exact procedure you use when trying to add a certificate?
Thanks!

[2021-07-12 14:35] LeandreNguyen commented on #7544
I checked, and I'm indeed running 2.4.146, so that's probably not the issue.
As for the procedure, I'm connecting to the /servers/edit/<ID> page and clicking the "Add certificate file" under either Server certificate or Client certificate. That opens up the file explorer, which lets me select a certificate in .pem format. The file explorer closes, but the certificate isn't uploaded (still shows "N

[2021-07-13 08:22] mokaddem commented on #7554
Hello!
Right now MISP can ingest and export data from/to STIX. To do so, we rely on these libraries (also developed by the misp-project team) https://github.com/MISP/misp-stix.
However, despite our best efforts, importing and exporting between these formats is not lossless. Fortunately, lots of tool integrate with the MISP API directly thus, removing this additional layer.
If there are no direct i

[2021-07-13 08:22] #7554 closed, assigned to nobody

[2021-07-13 08:27] mokaddem commented on #7556
Hey,
As described as a notice just below the `Debug mode` checkbox you checked, these are benign deltas that can be safely ignored.
Cheers!

[2021-07-13 08:27] #7556 closed, assigned to nobody

[2021-07-13 08:36] mokaddem commented on #7546
Hello, could you please update your warninglists?
You can do it by clicking on the `Update warninglists` button on the side panel.
It seems the warninglist cached in redis were not reloaded.

[2021-07-13 08:43] mokaddem commented on #7559
Hello,
Could you try running the command below on your server (the server that receives the pushed event)?
[code]
You can easily run API queries against your MISP instance by using the built-in REST client (`servers/rest`).

[2021-07-13 08:52] mokaddem commented on #7528
@tgh19 Thanks a lot for getting back to us!
@JakubOnderka Would a fix like this make sense or do you have something better/cleaner in mind?
[code]

[2021-07-13 09:02] mokaddem commented on #7557
Hey,
I guess by

You mean the one displayed in clear text when adding a new user on the page `/users/add`?
If that's the case, the observed behavior is normal.
You probably have the setting `Security.advanced_authkeys` turned on. This system by-pass the "primary" authkey and relies on authkeys generated by users then hashed and saved in the DB.
I understand that the interface showing an authey dur

[2021-07-13 09:02] #7557 closed, assigned to nobody

[2021-07-13 09:10] mokaddem commented on #7561
The install guide is quite extensive in this regard. It allows you to cherry pick exactly what you want to install or configure quite easily https://misp.github.io/MISP/INSTALL.ubuntu2004/#for-ubuntu-200420-server
Let us know if you spot issues or are having trouble using it.
Thanks!

[2021-07-13 09:10] #7561 closed, assigned to nobody

[2021-07-13 09:16] mokaddem commented on #7544
I just tried the exact same procedure and indeed there is no feedback from the UI that a certificate has been selected.
However, I was still able to save it and then it gets displayed and used correctly on that same page and on the servers index.
Could you confirm that you are only experiencing bad UI feedback?
Thanks!

[2021-07-13 12:26] #7421 closed, assigned to mokaddem

[2021-07-13 12:31] mokaddem commented on #7473
Hi @toteb !
Sorry for the late reply.
Were you able to solve your issue in the end?
If not, could you please update your MISP instance and try again? We improved the `removeTagFromObject` recently.
Thanks!

[2021-07-13 13:47] Tyrell20 commented on #7047
Hello,

any feedback about this problem, still present on 2.4.146 version?
Thank you

[2021-07-13 15:08] ghost commented on #7559
Hello @mokaddem,

I executed, here's the **Response**:

[code]
`{"response": []}`

----

I used the AuthKey of the sync user that my community member uses for pushes. The call was executed successfully.

[2021-07-14 01:09] SteveClement opened #7563 "Setting emoji on MISP.footermidright fails but works"
Setting an 絵文字 (emoji), like: 🌍 on any configurable text field will fail with: "Request failed for an unknown reason."

[code]

[2021-07-14 06:10] mokaddem commented on #7559
I thought the query above was failing for some reason but it seems not to be the case.
By any chance, could it be that the other party cannot reach the server anymore (due to network, firewall, .. issues)?
Is the `connection test` from `/servers/index` successful?
Thanks.

[2021-07-14 06:32] mokaddem commented on #7563
Unfortunately, the log table do not support utf8 characters of more than 3 bytes (table is set to `utf8_bin`). When we'll migrate the framework, we'll also update all tables to be ` utf8mb4` or similar.
Sorry for the inconvenience.

[2021-07-14 07:08] JakubOnderka commented on #7559
Hello, this looks like #7426. I just merged #7433 into `develop` branch that should at least provide you more information, what is wrong.

[2021-07-14 07:46] mokaddem commented on #7521
Hello,
It seems there is an error with the provided certificate you created. It's likely a format issue.
Keep in mind that both the server and client certificates must be under the PEM format.
I tried the following command and it worked as expected
[code]

Let us know if it works for you!

[2021-07-14 07:52] mokaddem commented on #7512
Does the count in the index align with the output of the database if you regenerate the top correlation cache?
You can do it on the page `/correlations/top` by clicking the `Regenerate cache` button.

[2021-07-14 07:59] mokaddem commented on #7514
My guess is prior to this commit https://github.com/MISP/MISP/commit/c9acae11f0466031d828840bf50b42ff1d0a824e# we had a bug while capturing sharing_groups on some cases. So it should not happen anymore.
You can safely deleted any `sharing_group_orgs` having their `sharing_group_id = 0`

[2021-07-14 07:59] #7514 closed, assigned to nobody

[2021-07-14 08:23] mokaddem commented on #7548
At first glance, it indeed looks like a permission issue.
Could you have a look at `/servers/serverSettings/diagnostics` and check if some directories are not readable/writable?
Also making sure that the permissions are correctly set would help.
Thanks!

[2021-07-14 08:40] Passimist commented on #7557
Hi,

thank you for your answer! That makes sense I have indeed not noticed such a setting.

[2021-07-14 10:18] RichieB2B commented on #7512
No, it does not. Regenerating the correlations table was the first thing I did after noticing the difference.

[2021-07-14 16:17] ghost commented on #7559
@mokaddem I appreciate the help,

I had already checked this and we don't have any locks, even because it manages to perform other requests successfully and only in "POST / events" that the status code is 500. Below are examples of logs from the last 3 days.

[code]

@JakubOnderka, Thanks for the help, I'll check all the information.

[2021-07-14 20:16] maverickvn360 commented on #7521
Thanks for replying, Sami..

Yep, they're in PEM format.

Apparently client certificates have gotten stricter in openssl recently. I
get the following output:

`Client certificate:`
`Subject: C=CA, ST=State_Name, O=Org, CN=url.url1
Issuer: C=CA, ST= State_Name  , O=Org_2, CN=url.url2
Serial number: XY
Valid from: 2021-07-14T19:59:36+00:00
Valid to: 2022-07-14T19:59:36+00:00
Public key: RSA (2048 b

[2021-07-14 20:24] maverickvn360 commented on #7521
In addition to that, there are no errors..

[2021-07-14 22:13] github-germ commented on #7514
@mokaddem Thanks!!

[2021-07-15 05:47] maverickvn360 commented on #7544
Same experience. But I think it's not a major cause for concern. Replacing a server/client cert directly, in my case, seems to have no effect for the first time - and is added when selected the second time. Maybe an error in server edit files..

[2021-07-15 07:10] maverickvn360 commented on #7521
And there's something wrong on the other instance(s) communication - which WORKS when it shouldn't normally. I don't know why - when I specify no client certificate, even when I remove the *_client.pem files, the server authentication passes, when it should fail. As in this issue, I specified that - one of the sync situations work, while the other being the same scenario - doesn't. Is this another

[2021-07-15 08:40] realzacharycheng opened #7565 "Pulling Feeds from OpenCTI to MISP"
**Is your feature request related to a problem? Please describe.**
Right now I want to pull feeds from OpenCTI to MISP, but at this moment there is only a OpenCTI connector pulling event and IoC from MISP to OpenCTI.

**Describe the solution you'd like**
A plug in that allow to pull result from OpenCTI to MISP.

[2021-07-15 08:52] mokaddem commented on #7565
Hello,
MISP can ingests `MISP format`, `STIX 1/2` and `unstructured text`.
I'm not aware of any connector on OpenCTI side to be able to push data to MISP directly, so your best bet would be to export in either in the MISP (if possible?) or STIX format, then feed the data to MISP directly.
Alternatively, you could also get in touch with the OpenCTI guys and request such connector.
Cheers!

[2021-07-15 08:52] #7565 closed, assigned to nobody

[2021-07-15 16:29] redbiker-svg opened #7567 "Feed ingestion pull limit - new MISP instance"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Ubuntu
| OS version (client)       | Ubuntu
| PHP version               | N/A
| MISP version / git hash   | 2.4.144
| Browser                   | Chrome, Firefox

### Support Questions

Hi, I've just had to setup MISP from

[2021-07-16 07:10] maverickvn360 commented on #7521
Apparently, the issue was - I wasn't using correct API Key. As mentioned on the server page, we need to use one of the API/Auth keys mentioned in the profile page under Global Settings > My Profile.

Thanks for following up team. Appreciate it.

But I still don't understand why the incomplete certificate upload works in the above scenario.

[2021-07-16 07:10] #7521 closed, assigned to nobody

[2021-07-16 09:17] toolost9 opened #7569 "Pull from a specific date"
Hello,

i connected two misp, when pull events start running events dating back to 2019. Is there a way to pull events from a specific date?

Thx for the support!

[2021-07-16 22:47] chrisr3d commented on #7047
Hey,
I ran a few tests on my side and did not find anything wrong.
As mentioned already above and in another similar issue, usually files could stack up in `/var/www/MISP/app/files/scripts/tmp` if there is an issue with a STIX export.
Do you have anything in `var/www/MISP/app/tmp/logs/exec-errors.log`? And do you still have files stacking up?
If something goes wrong with the STIX export, `exec-err

[2021-07-17 05:14] wjddnjs33 commented on #7047
Who are u?

나의 iPhone에서 보냄

[2021-07-19 07:33] LeandreNguyen commented on #7544
I wish I could, but no. The problem is that selecting a certificate has no effect at all : it isn't saved, and doesn't get used or displayed on any page afterwards.

[2021-07-19 09:48] chrisnewmanuk opened #7572 "PHP memory limit suggestion > 13GB!"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Ubuntu 18 LTS
| PHP version               | 7.4.14
| MISP version / git hash   |  v2.4.136

### Support Questions
"Event fetch potential memory exhaustion. During the fetching of events, a large event (#2916) was detected

[2021-07-19 10:34] AndyCyberSec opened #7573 "Email error while sending the request to join a community - SendEmail->sendExternal()"
Hello, I was trying to request access for a community but when I send the request through MISP I get the following error:

**An Internal Error Has Occurred.**
Error: An Internal Error Has Occurred. Please try your action again. If the problem persists, please contact administrator.

Looking at the logs I can see the following:

[code]

any suggestion?
Thank you

Attachments:
![misp1](https://user-

[2021-07-19 10:45] iglocska commented on #7572
That sounds like an utterly massive event. Where are you trying to fetch that from? Any chance to ask the partner to restructure that event?

[2021-07-19 10:52] chrisnewmanuk commented on #7572
It is > 350,.000 hash's from Malware Bazaar  / Abuse.ch- a preloaded MISP feed :p

![image](https://user-images.githubusercontent.com/7243321/126149525-a5da881e-12c0-4362-b756-917af9cf3034.png)

![image](https://user-images.githubusercontent.com/7243321/126149178-8c639df3-69a4-4568-865a-a53b9338911a.png)

It does export successfully quite a few times but eventually, I start getting PHP memory issu

[2021-07-19 11:47] adulau commented on #7572
Abuse.ch provides a daily feed in MISP format. It might more appropriate than a single CSV import.

[2021-07-19 12:36] chrisnewmanuk commented on #7572
I'll have a look - but we also have other feeds with over 250k entries so..... the bug still persists :p
Ingestion isnt a problem at all and its not had a hiccup over that - its where a big export happens and it works until PHP consumes all of the RAM.  Also, if the PHP session continues to consume RAM without free'ing it, may still be in the same position

[2021-07-19 15:32] chrisinmtown opened #7575 "Relabel feeds index page column 2 to "fetching""
On the web UI Feeds page, I think the second column "enabled" is misnamed, it really should be named "fetching" to distinguish clearly from "caching". That would also avoid giving the impression that a disabled feed is not cached. Because a disabled feed certainly can be cached to redis!

I suspect you will not change the database column name.  For backwards compatibility the REST API should accep

[2021-07-19 23:58] maverickvn360 commented on #7544
Could you please share a screenshot after selecting the certificate and saving the server?

So - as @mokaddem said, when you do save the server config, you can see the server certs filled as 'X.pem' and 'X_client.pem', where 'X' is the server ID (of sorts).

As for the certificates, the public cert of the corresponding server goes to 'Server Certificate file' and the private key/cert of this serve

[2021-07-20 01:39] ag-michael opened #7576 "Decay models are not listed under the Decaying Models Tool"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Any
| OS version (client)       | Any
| PHP version               | 7.2
| MISP version / git hash   | 2.4.141/b714571ad7ff1a95dee264b02d96e231ae796f93
| Browser                   | any

### Expected behavior

The decaying mode

[2021-07-20 07:48] LeandreNguyen commented on #7544
Sure, here's a screenshot of the servers index after trying to save the certificates. As you can see, the relevant fields are empty.

![Capture_2](https://user-images.githubusercontent.com/85225326/126279214-a12b04c8-39b3-40be-9542-41c0b76d25ea.PNG)

Thanks for the information, that's good to know. On that subject, is there any restriction on the filename or the file itself beyond the .pem extensi

[2021-07-20 10:15] rishabh07074 commented on #7550
Hello can anyone please look into this and update if any solution is available for this issue?

[2021-07-20 10:24] namnori72 commented on #7548
@mokaddem where can I find /servers/serverSettings/diagnostics ??

[2021-07-20 19:25] maverickvn360 commented on #7544
Yes, no capital letters allowed and the name should start with a-z/0-9/_/[dot]. For the extension though, I've tried uploading crt and cer files, seems to have no effect whatsoever. Skimming the code, there might be restrictions on the size too, 5MiB.

Apparently, the files are copied into the

`/var/www/MISP/app/files/certs/`

folder. It could be worth trying to copy the cert files under this fol

[2021-07-20 21:12] remydewa opened #7582 "Sync Actions: additional pull rules doesn't work"
# This template is meant for bug reports, if you have a feature request user the other template.

I'm trying to sync my misp server with another misp server of mine using addtional pull rules but it doesn't work.

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Debian
| OS

[2021-07-21 06:19] righel commented on #7582
Hello,
Please correct the JSON payload, the additional sync parameters should look like this:
[code]

[2021-07-21 06:19] #7582 closed, assigned to nobody

[2021-07-21 09:34] redbiker-svg opened #7585 "MISP DB location"
### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Support
| OS version (server)       | Ubuntu
| OS version (client)       | Ubuntu
| PHP version               | 7.2
| MISP version / git hash   | 2.4

### Support Questions
Where can I find the database of my MISP instance and is there a DB Schema available?

[2021-07-21 09:47] redbiker-svg opened #7586 "MISP —> MISP42Splunk user account / permissions bug"
# This template is meant for bug reports, if you have a feature request user the other template.

*If you would like to report a bug, please fill the template bellow*

### Work environment

| Questions                 | Answers
|---------------------------|--------------------
| Type of issue             | Bug
| OS version (server)       | Ubuntu
| OS version (client)       | Ubuntu
| PHP version